openapi: 3.2.0
info:
  description: Add a Cloud Computing instance so you can build, release, and scale applications faster with virtual machines.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: 'Akamai: Linode My SQL API'
  version: 4.229.1
servers:
- url: https://api.linode.com
tags:
- description: Managed Databases is Akamai's fully-managed, high-performance database service. Use these operations to create and manage clusters for MySQL engine databases.
  name: MySQL
paths:
  /{apiVersion}/databases/mysql/config:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    x-akamai:
      file-path: paths/mysql-config.yaml
      path-info: /{apiVersion}/databases/mysql/config
    x-linode-cli-command: databases
    get:
      description: 'All advanced parameters you can apply to a MySQL Managed Database, via our partner Aiven.


        > 📘

        >

        > Aiven may offer other parameters, but Akamai Managed Databases only supports the ones listed in this operation.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs these roles assigned. Learn more.

        - Roles: `database_viewer`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `databases:read_only`


        **CLI**


        ```shell

        linode-cli databases mysql-config

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-databases-mysql-config
      operationId: get-databases-mysql-config
      responses:
        '200':
          content:
            application/json:
              example:
                binlog_retention_period:
                  description: The minimum amount of time in seconds to keep binlog entries before deletion. This may be extended for services that require binlog entries for longer than the default for example if using the MySQL Debezium Kafka connector.
                  example: 600
                  maximum: 9007199254740991
                  minimum: 600
                  requires_restart: false
                  type: integer
                mysql:
                  connect_timeout:
                    description: The number of seconds that the mysqld server waits for a connect packet before responding with Bad handshake
                    example: 10
                    maximum: 3600
                    minimum: 2
                    requires_restart: false
                    type: integer
                  default_time_zone:
                    description: Default server time zone as an offset from UTC (from -12:00 to +12:00), a time zone name, or 'SYSTEM' to use the MySQL server default.
                    example: +03:00
                    maxLength: 100
                    minLength: 2
                    pattern: ^([-+][\d:]*|[\w/]*)$
                    requires_restart: false
                    type: string
                  group_concat_max_len:
                    description: The maximum permitted result length in bytes for the GROUP_CONCAT() function.
                    example: 1024
                    maximum: 18446744073709552000
                    minimum: 4
                    requires_restart: false
                    type: integer
                  information_schema_stats_expiry:
                    description: The time, in seconds, before cached statistics expire
                    example: 86400
                    maximum: 31536000
                    minimum: 900
                    requires_restart: false
                    type: integer
                  innodb_change_buffer_max_size:
                    description: Maximum size for the InnoDB change buffer, as a percentage of the total size of the buffer pool. Default is 25
                    example: 30
                    maximum: 50
                    minimum: 0
                    requires_restart: false
                    type: integer
                  innodb_flush_neighbors:
                    description: 'Specifies whether flushing a page from the InnoDB buffer pool also flushes other dirty pages in the same extent (default is 1): 0 - dirty pages in the same extent are not flushed, 1 - flush contiguous dirty pages in the same extent, 2 - flush dirty pages in the same extent'
                    example: 0
                    maximum: 2
                    minimum: 0
                    requires_restart: false
                    type: integer
                  innodb_ft_min_token_size:
                    description: Minimum length of words that are stored in an InnoDB FULLTEXT index. Changing this parameter will lead to a restart of the MySQL service.
                    example: 3
                    maximum: 16
                    minimum: 0
                    requires_restart: true
                    type: integer
                  innodb_ft_server_stopword_table:
                    description: This option is used to specify your own InnoDB FULLTEXT index stopword list for all InnoDB tables.
                    example: db_name/table_name
                    maxLength: 1024
                    pattern: ^.+/.+$
                    requires_restart: false
                    type:
                    - 'null'
                    - string
                  innodb_lock_wait_timeout:
                    description: The length of time in seconds an InnoDB transaction waits for a row lock before giving up. Default is 120.
                    example: 50
                    maximum: 3600
                    minimum: 1
                    requires_restart: false
                    type: integer
                  innodb_log_buffer_size:
                    description: The size in bytes of the buffer that InnoDB uses to write to the log files on disk.
                    example: 16777216
                    maximum: 4294967295
                    minimum: 1048576
                    requires_restart: false
                    type: integer
                  innodb_online_alter_log_max_size:
                    description: The upper limit in bytes on the size of the temporary log files used during online DDL operations for InnoDB tables.
                    example: 134217728
                    maximum: 1099511627776
                    minimum: 65536
                    requires_restart: false
                    type: integer
                  innodb_read_io_threads:
                    description: The number of I/O threads for read operations in InnoDB. Default is 4. Changing this parameter will lead to a restart of the MySQL service.
                    example: 10
                    maximum: 64
                    minimum: 1
                    requires_restart: true
                    type: integer
                  innodb_rollback_on_timeout:
                    description: When enabled a transaction timeout causes InnoDB to abort and roll back the entire transaction. Changing this parameter will lead to a restart of the MySQL service.
                    example: true
                    requires_restart: true
                    type: boolean
                  innodb_thread_concurrency:
                    description: Defines the maximum number of threads permitted inside of InnoDB. Default is 0 (infinite concurrency - no limit)
                    example: 10
                    maximum: 1000
                    minimum: 0
                    requires_restart: false
                    type: integer
                  innodb_write_io_threads:
                    description: The number of I/O threads for write operations in InnoDB. Default is 4. Changing this parameter will lead to a restart of the MySQL service.
                    example: 10
                    maximum: 64
                    minimum: 1
                    requires_restart: true
                    type: integer
                  interactive_timeout:
                    description: The number of seconds the server waits for activity on an interactive connection before closing it.
                    example: 3600
                    maximum: 604800
                    minimum: 30
                    requires_restart: false
                    type: integer
                  internal_tmp_mem_storage_engine:
                    description: The storage engine for in-memory internal temporary tables.
                    enum:
                    - TempTable
                    - MEMORY
                    example: TempTable
                    requires_restart: false
                    type: string
                  max_allowed_packet:
                    description: Size of the largest message in bytes that can be received by the server. Default is 67108864 (64M)
                    example: 67108864
                    maximum: 1073741824
                    minimum: 102400
                    requires_restart: false
                    type: integer
                  max_heap_table_size:
                    description: Limits the size of internal in-memory tables. Also set tmp_table_size. Default is 16777216 (16M)
                    example: 16777216
                    maximum: 1073741824
                    minimum: 1048576
                    requires_restart: false
                    type: integer
                  net_buffer_length:
                    description: Start sizes of connection buffer and result buffer. Default is 16384 (16K). Changing this parameter will lead to a restart of the MySQL service.
                    example: 16384
                    maximum: 1048576
                    minimum: 1024
                    requires_restart: true
                    type: integer
                  net_read_timeout:
                    description: The number of seconds to wait for more data from a connection before aborting the read.
                    example: 30
                    maximum: 3600
                    minimum: 1
                    requires_restart: false
                    type: integer
                  net_write_timeout:
                    description: The number of seconds to wait for a block to be written to a connection before aborting the write.
                    example: 30
                    maximum: 3600
                    minimum: 1
                    requires_restart: false
                    type: integer
                  sort_buffer_size:
                    description: Sort buffer size in bytes for ORDER BY optimization. Default is 262144 (256K)
                    example: 262144
                    maximum: 1073741824
                    minimum: 32768
                    requires_restart: false
                    type: integer
                  sql_mode:
                    description: Global SQL mode. Set to empty to use MySQL server defaults. When creating a new service and not setting this field Akamai default SQL mode (strict, SQL standard compliant) will be assigned.
                    example: ANSI,TRADITIONAL
                    maxLength: 1024
                    pattern: ^[A-Z_]*(,[A-Z_]+)*$
                    requires_restart: false
                    type: string
                  sql_require_primary_key:
                    description: Require primary key to be defined for new tables or old tables modified with ALTER TABLE and fail if missing. It is recommended to always have primary keys because various functionality may break if any large table is missing them.
                    example: true
                    requires_restart: false
                    type: boolean
                  tmp_table_size:
                    description: Limits the size of internal in-memory tables. Also set max_heap_table_size. Default is 16777216 (16M)
                    example: 16777216
                    maximum: 1073741824
                    minimum: 1048576
                    requires_restart: false
                    type: integer
                  wait_timeout:
                    description: The number of seconds the server waits for activity on a noninteractive connection before closing it.
                    example: 28800
                    maximum: 2147483
                    minimum: 1
                    requires_restart: false
                    type: integer
              schema:
                additionalProperties: false
                description: Available [advanced parameters](https://aiven.io/docs/products/mysql/reference/advanced-params) for a MySQL Managed Database.
                properties:
                  binlog_retention_period:
                    additionalProperties: false
                    description: Parameters available to configure `binlog_retention_period`.
                    properties:
                      description:
                        description: The description for this parameter.
                        type: string
                      example:
                        description: An example value for this parameter.
                        type: integer
                      maximum:
                        description: The maximum value allowed for this parameter.
                        type: integer
                      minimum:
                        description: The minimum value allowed for this parameter.
                        type: integer
                      requires_restart:
                        description: Whether a change to this parameter requires a restart of the MySQL database.
                        type: boolean
                      type:
                        description: The format of this object.
                        type: string
                    type: object
                  mysql:
                    additionalProperties: false
                    description: Parameters available to configure a MySQL Managed Database.
                    properties:
                      connect_timeout:
                        additionalProperties: false
                        description: Settings available to configure the `connect_timeout`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the MySQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      default_time_zone:
                        additionalProperties: false
                        description: Settings available to configure the `connect_timeout`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter following the `pattern`.
                            type: string
                          maxLength:
                            description: The maximum character length for this parameter.
                            type: integer
                          minLength:
                            description: The minimum character length for this parameter.
                            type: integer
                          pattern:
                            description: The pattern to follow when defining this parameter.
                            type: string
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the MySQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      group_concat_max_len:
                        additionalProperties: false
                        description: Settings available to configure the `group_concat_max_len`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the MySQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      information_schema_stats_expiry:
                        additionalProperties: false
                        description: Settings available to configure the `information_schema_stats_expiry`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the MySQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      innodb_change_buffer_max_size:
                        additionalProperties: false
                        description: Settings available to configure the `innodb_change_buffer_max_size`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the MySQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      innodb_flush_neighbors:
                        additionalProperties: false
                        description: Settings available to configure the `innodb_flush_neighbors`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the MySQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      innodb_ft_min_token_size:
                        additionalProperties: false
                        description: Settings available to configure the `innodb_ft_min_token_size`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the MySQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      innodb_ft_server_stopword_table:
                        additionalProperties: false
                        description: Settings available to configure your own `innodb_ft_server_stopword_table`, per Aiven's specifications. Set to `null` for no value.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter following the `pattern`, or `null` for no value.
                            type: string
                          maxLength:
                            description: The maximum character length for this parameter.
                            type: integer
                          pattern:
                            description: The pattern to follow when defining this parameter.
                            type: string
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the MySQL database.
                            type: boolean
                          type:
                            description: Possible types of the `innodb_ft_server_stopword_table` parameter.
                            items:
                              type: string
                            type: array
                        type:
                        - object
                        - 'null'
                      innodb_lock_wait_timeout:
                        additionalProperties: false
                        description: Settings available to configure the `innodb_lock_wait_timeout`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the MySQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      innodb_log_buffer_size:
                        additionalProperties: false
                        description: Settings available to configure the `innodb_log_buffer_size`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the MySQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      innodb_online_alter_log_max_size:
                        additionalProperties: false
                        description: Settings available to configure the `innodb_online_alter_log_max_size`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the MySQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      innodb_read_io_threads:
                        additionalProperties: false
                        description: Settings available to configure the `innodb_read_io_threads`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the MySQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      innodb_rollback_on_timeout:
                        additionalProperties: false
                        description: Settings available to configure the `innodb_rollback_on_timeout`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example boolean value for this parameter.
                            type: boolean
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the MySQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      innodb_thread_concurrency:
                        additionalProperties: false
                        description: Settings available to configure the `innodb_thread_concurrency`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the MySQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      innodb_write_io_threads:
                        additionalProperties: false
                        description: Settings available to configure the `innodb_write_io_threads`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the MySQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      interactive_timeout:
                        additionalProperties: false
                        description: Settings available to configure the `interactive_timeout`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the MySQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      internal_tmp_mem_storage_engine:
                        additionalProperties: false
                        description: Settings available to configure the `internal_tmp_mem_storage_engine`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          enum:
                            description: Possible values of the `internal_tmp_mem_storage_engine` parameter.
                            items:
                              type: string
                            type: array
                          example:
                            description: One of the `enum` values available for use.
                            type: string
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the MySQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      max_allowed_packet:
                        additionalProperties: false
                        description: Settings available to configure the `max_allowed_packet`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the MySQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      max_heap_table_size:
                        additionalProperties: false
                        description: Settings available to configure the `max_heap_table_size`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the MySQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      net_buffer_length:
                        additionalProperties: false
                        description: Settings available to configure the `net_buffer_length`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the MySQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      net_read_timeout:
                        additionalProperties: false
                        description: Settings available to configure the `net_read_timeout`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the MySQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      net_write_timeout:
                        additionalProperties: false
                        description: Settings available to configure the `net_write_timeout`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the MySQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      sort_buffer_size:
                        additionalProperties: false
                        description: Settings available to configure the `sort_buffer_size`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the MySQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      sql_mode:
                        additionalProperties: false
                        description: Settings available to configure the `sql_mode`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter following the `pattern`.
                            type: string
                          maxLength:
                            description: The maximum character length for this parameter.
                            type: integer
                          pattern:
                            description: The pattern to follow when defining this parameter.
                            type: string
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the MySQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      sql_require_primary_key:
                        additionalProperties: false
                        description: Settings available to configure the `sql_require_primary_key`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example boolean value for this parameter.
                            type: boolean
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the MySQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      tmp_table_size:
                        additionalProperties: false
                        description: Settings available to configure the `tmp_table_size`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the MySQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      wait_timeout:
                        additionalProperties: false
                        description: Settings available to configure the `wait_timeout`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the MySQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                    type: object
                type: object
                x-akamai:
                  file-path: schemas/database-mysql-config-200.yaml
          description: MySQL Managed Database advanced parameters.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - databases:read_only
      summary: List MySQL Managed Database advanced parameters
      tags:
      - MySQL
      x-akamai:
        tabs:
        - syntax: linode-cli databases mysql-config
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: mysql-config-view
      x-linode-grant: read_only
      x-linode-iam:
      - roles:
        - database_viewer
  /{apiVersion}/databases/mysql/instances:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    x-akamai:
      file-path: paths/mysql-instances.yaml
      path-info: /{apiVersion}/databases/mysql/instances
    x-linode-cli-command: databases
    post:
      description: '**Provision a MySQL Managed Database**


        Use this operation to create a new MySQL Managed Database.


        - New instances can take 10 to 15 minutes to deploy.


        - When you create a new MySQL Managed Database, our partner Aiven automatically enables disk encryption on each cluster.


        - All Managed Databases include automatic, daily backups. Up to seven backups are automatically stored for each Managed Database, providing restore points for each day of the past week.


        - All Managed Databases include automatic updates, which apply security patches to the underlying operating system of the MySQL Managed Database. Configure the maintenance window for these updates with the Update a managed MySQL database operation.


        - If your database cluster is configured with a single node, downtime occurs during maintenance updates. You should adjust the window to match a time that''s the least disruptive to your application and users. Also consider upgrading to a high availability plan to avoid any maintenance downtime.


        - Major upgrades are optional until the service reaches end of service, and can be done in place.


        - A successful request triggers a `database_create` event.


        - You can create a MySQL Managed Database in a VPC using the `private_network` object in the request.


        > 📘

        >

        > Currently, VPC subnets associated with Managed Database instances don''t automatically block outbound connections outside the subnet. To limit network exposure, you should configure Cloud Firewall rules to explicitly deny outbound connections beyond the intended subnet. For more details on configuring rules, see the Cloud Firewall documentation.


        **Restore a MySQL Managed Database**


        Include the `fork` object in the request to target a backed-up database. The only required value is `source`. If you provide other values, the forked cluster will use those settings. You can''t change `engine`.


        > 📘

        >

        > Restoring from a backup creates a second running cluster, which incurs billing. Delete the first cluster after the restore is complete, to avoid this billing.


        > 👍 There''s a tutorial

        >

        > We offer an example API workflow you can follow to restore a Managed Database backup.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs these roles assigned. Learn more.

        - Roles: `account_database_creator`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `databases:read_write`


        **CLI**


        ```shell

        linode-cli databases mysql-create \

        --label example-db1 \

        --region us-east \

        --type g6-dedicated-2 \

        --cluster_size 3 \

        --engine mysql/8.0.26 \

        --engine_config.binlog_retention_period 600 \

        --engine_config.mysql.connect_timeout 10 \

        --engine_config.mysql.default_time_zone +03:00 \

        --ssl_connection true \

        --allow_list 203.0.113.1 \

        --allow_list 192.0.1.0/24

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/post-databases-mysql-instances
      operationId: post-databases-mysql-instances
      requestBody:
        content:
          application/json:
            examples:
              create-mysql-cluster:
                summary: Create MySQL database
                value:
                  allow_list:
                  - 192.0.2.152/24
                  - 192.0.2.229/24
                  cluster_size: 3
                  engine: mysql/8.4
                  engine_config:
                    binlog_retention_period: 600
                    mysql:
                      connect_timeout: 10
                      default_time_zone: +03:00
                      group_concat_max_len: 1024
                      information_schema_stats_expiry: 86400
                      innodb_change_buffer_max_size: 30
                      innodb_flush_neighbors: 0
                      innodb_ft_min_token_size: 3
                      innodb_ft_server_stopword_table: db_name/table_name
                      innodb_lock_wait_timeout: 50
                      innodb_log_buffer_size: 16777216
                      innodb_online_alter_log_max_size: 134217728
                      innodb_read_io_threads: 10
                      innodb_rollback_on_timeout: true
                      innodb_thread_concurrency: 10
                      innodb_write_io_threads: 10
                      interactive_timeout: 3600
                      internal_tmp_mem_storage_engine: TempTable
                      max_allowed_packet: 67108864
                      max_heap_table_size: 16777216
                      net_buffer_length: 16384
                      net_read_timeout: 30
                      net_write_timeout: 30
                      sort_buffer_size: 262144
                      sql_mode: ANSI,TRADITIONAL
                      sql_require_primary_key: true
                      tmp_table_size: 16777216
                      wait_timeout: 28800
                  label: example-db
                  private_network:
                    public_access: false
                    subnet_id: 456
                    vpc_id: 123
                  region: us-east
                  ssl_connection: true
                  type: g6-dedicated-2
              fork-mysql-cluster:
                summary: Restore MySQL database
                value:
                  allow_list:
                  - 192.0.2.152/24
                  - 192.0.2.229/24
                  cluster_size: 3
                  engine_config:
                    binlog_retention_period: 600
                    mysql:
                      connect_timeout: 10
                      default_time_zone: +03:00
                      group_concat_max_len: 1024
                      information_schema_stats_expiry: 86400
                      innodb_change_buffer_max_size: 30
                      innodb_flush_neighbors: 0
                      innodb_ft_min_token_size: 3
                      innodb_ft_server_stopword_table: db_name/table_name
                      innodb_lock_wait_timeout: 50
                      innodb_log_buffer_size: 16777216
                      innodb_online_alter_log_max_size: 134217728
                      innodb_read_io_threads: 10
                      innodb_rollback_on_timeout: true
                      innodb_thread_concurrency: 10
                      innodb_write_io_threads: 10
                      interactive_timeout: 3600
                      internal_tmp_mem_storage_engine: TempTable
                      max_allowed_packet: 67108864
                      max_heap_table_size: 16777216
                      net_buffer_length: 16384
                      net_read_timeout: 30
                      net_write_timeout: 30
                      sort_buffer_size: 262144
                      sql_mode: ANSI,TRADITIONAL
                      sql_require_primary_key: true
                      tmp_table_size: 16777216
                      wait_timeout: 28800
                  fork:
                    restore_time: '2024-10-14T19:55:12'
                    source: 176881
                  label: example-db
                  private_network:
                    public_access: false
                    subnet_id: 456
                    vpc_id: 123
                  region: us-east
                  ssl_connection: true
                  type: g6-dedicated-2
            schema:
              additionalProperties: false
              description: Managed MySQL Database request object.
              oneOf:
              - additionalProperties: false
                properties:
                  allow_list:
                    description: 'Controls access to the Managed Database.


                      - Individually included IP addresses or CIDR ranges can access the Managed Database while all other sources are blocked.


                      - A standalone value of `0.0.0.0/0` allows all IP addresses access to the Managed Database.


                      - An empty array (`[]`) blocks all public and private connections to the Managed Database.'
                    example:
                    - 203.0.113.1/32
                    - 192.0.1.0/24
                    items:
                      format: ipv4/prefix_length
                      pattern: ^([0-9]{1,3}\.){3}[0-9]{1,3}(\/([0-9]|[1-2][0-9]|3[0-2]))?$
                      type: string
                    minItems: 0
                    type: array
                  cluster_size:
                    default: 1
                    description: 'The number of Linode instance nodes deployed to the Managed Database, from `1` to `3`. Consider these points when setting a `cluster_size`:


                      - Choose `3` nodes to create a high availability cluster that consists of one `primary` node and two `standby` nodes.


                      - A `2` node cluster is only available with a dedicated plan. It consists of one `primary` node and one `standby` node.'
                    enum:
                    - 1
                    - 2
                    - 3
                    example: 3
                    type: integer
                    x-linode-cli-display: 5
                  engine:
                    description: The `id` of the Managed Database engine. To get the available values, run the [List Managed Databases engines](https://techdocs.akamai.com/linode-api/reference/get-databases-engines) operation.
                    example: mysql/8.0.26
                    type: string
                  engine_config:
                    additionalProperties: false
                    description: 'Advanced parameters you can apply to a MySQL Managed Database, via our partner [Aiven''s specification](https://aiven.io/docs/products/mysql/reference/advanced-params). Only include the objects for parameters you want to set in your database. Omit objects for parameters you don''t want to define or change.


                      > 📘

                      >

                      > Aiven may offer additional parameters in their specification, or accept different values and ranges. Currently, only the parameters and settings covered here are supported for use in a MySQL Managed Database. You can also run the [List MySQL Managed Database advanced parameters](https://techdocs.akamai.com/linode-api/reference/get-databases-mysql-config) operation to see an up-to-date list.'
                    properties:
                      binlog_retention_period:
                        description: The minimum amount of time in seconds to keep `binlog` entries before deletion. This may be extended for services that require `binlog` entries for longer than the default, for example if using the MySQL Debezium Kafka connector.
                        example: 600
                        maximum: 9007199254740991
                        minimum: 600
                        type: integer
                      mysql:
                        additionalProperties: false
                        description: MySQL-specific advanced configuration parameters.
                        properties:
                          connect_timeout:
                            description: The number of seconds that the `mysqld` server waits for a connect packet before responding with bad handshake.
                            example: 10
                            maximum: 3600
                            minimum: 2
                            type: integer
                          default_time_zone:
                            description: Default server time zone as an offset from UTC (from -12:00 to +12:00), a time zone name, or `SYSTEM` to use the MySQL server default.
                            example: +03:00
                            maxLength: 100
                            minLength: 2
                            pattern: ^([-+][\d:]*|[\w/]*)$
                            type: string
                          group_concat_max_len:
                            description: The maximum permitted result length in bytes for the `GROUP_CONCAT()` function.
                            example: 1024
                            maximum: 18446744073709552000
                            minimum: 4
                            type: integer
                          information_schema_stats_expiry:
                            description: The time, in seconds, before cached statistics expire.
                            example: 86400
                            maximum: 31536000
                            minimum: 900
                            type: integer
                          innodb_change_buffer_max_size:
                            default: 25
                            description: Maximum size for the InnoDB change buffer, as a percentage of the total size of the buffer pool.
                            example: 30
                            maximum: 50
                            minimum: 0
                            type: integer
                          innodb_flush_neighbors:
                            default: 1
                            description: 'Specifies whether flushing a page from the InnoDB buffer pool also flushes other dirty pages in the same extent: `0` - dirty pages in the same extent are not flushed, `1` - flush contiguous dirty pages in the same extent, `2` - flush dirty pages in the same extent.'
                            example: 0
                            maximum: 2
                            minimum: 0
                            type: integer
                          innodb_ft_min_token_size:
                            description: Minimum length of words that are stored in an InnoDB `-1FULLTEXT` index. Changing this parameter will lead to a restart of the MySQL service.
                            example: 3
                            maximum: 16
                            minimum: 0
                            type: integer
                          innodb_ft_server_stopword_table:
                            description: This option is used to specify your own InnoDB `FULLTEXT` index `stopword` list for all InnoDB tables. Set to `null` for no value.
                            example: db_name/table_name
                            maxLength: 1024
                            pattern: ^.+/.+$
                            type:
                            - string
                            - 'null'
                          innodb_lock_wait_timeout:
                            default: 120
                            description: The length of time in seconds an InnoDB transaction waits for a row lock before giving up.
                            example: 50
                            maximum: 3600
                            minimum: 1
                            type: integer
                          innodb_log_buffer_size:
                            description: The size in bytes of the buffer that InnoDB uses to write to the log files on disk.
                            example: 16777216
                            maximum: 4294967295
                            minimum: 1048576
                            type: integer
                          innodb_online_alter_log_max_size:
                            description: The upper limit in bytes on the size of the temporary log files used during online DDL operations for InnoDB tables.
                            example: 134217728
                            maximum: 1099511627776
                            minimum: 65536
                            type: integer
                          innodb_read_io_threads:
                            default: 4
                            description: The number of I/O threads for read operations in InnoDB. Changing this parameter will lead to a restart of the MySQL service.
                            example: 10
                            maximum: 64
                            minimum: 1
                            type: integer
                          innodb_rollback_on_timeout:
                            description: When enabled a transaction timeout causes InnoDB to abort and roll back the entire transaction. Changing this parameter will lead to a restart of the MySQL service.
                            example: true
                            type: boolean
                          innodb_thread_concurrency:
                            default: 0
                            description: Defines the maximum number of threads permitted inside of InnoDB. The default is `0` which indicates infinite concurrency, or no limit.
                            example: 10
                            maximum: 1000
                            minimum: 0
                            type: integer
                          innodb_write_io_threads:
                            default: 4
                            description: The number of I/O threads for write operations in InnoDB. Changing this parameter will lead to a restart of the MySQL service.
                            example: 10
                            maximum: 64
                            minimum: 1
                            type: integer
                          interactive_timeout:
                            description: The number of seconds the server waits for activity on an interactive connection before closing it.
                            example: 3600
                            maximum: 604800
                            minimum: 30
                            type: integer
                          internal_tmp_mem_storage_engine:
                            description: The storage engine for in-memory internal temporary tables, either `TempTable` or `MEMORY`.
                            enum:
                            - TempTable
                            - MEMORY
                            example: TempTable
                            type: string
                          max_allowed_packet:
                            default: 7108864
                            description: Size of the largest message in bytes that can be received by the server.
                            example: 67108864
                            maximum: 1073741824
                            minimum: 102400
                            type: integer
                          max_heap_table_size:
                            default: 16777216
                            description: Limits the size of internal in-memory tables. Also set `tmp_table_size`.
                            example: 24777216
                            maximum: 1073741824
                            minimum: 1048576
                            type: integer
                          net_buffer_length:
                            default: 16384
                            description: Start sizes of connection buffer and result buffer. Changing this parameter will lead to a restart of the MySQL service.
                            example: 16384
                            maximum: 1048576
                            minimum: 1024
                            type: integer
                          net_read_timeout:
                            description: The number of seconds to wait for more data from a connection before aborting the read.
                            example: 30
                            maximum: 3600
                            minimum: 1
                            type: integer
                          net_write_timeout:
                            description: The number of seconds to wait for a block to be written to a connection before aborting the write.
                            example: 30
                            maximum: 3600
                            minimum: 1
                            type: integer
                          sort_buffer_size:
                            default: 262144
                            description: Sort buffer size in bytes for ORDER BY optimization.
                            example: 262244
                            maximum: 1073741824
                            minimum: 32768
                            type: integer
                          sql_mode:
                            default: ANSI,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION,NO_ZERO_DATE,NO_ZERO_IN_DATE,STRICT_ALL_TABLES
                            description: Global SQL mode. Set to empty to use MySQL server defaults. When creating a new service and not setting this field, Akamai defaults to SQL mode which is strict, SQL standard compliant.
                            example: ANSI,TRADITIONAL
                            maxLength: 1024
                            pattern: ^[A-Z_]*(,[A-Z_]+)*$
                            type: string
                          sql_require_primary_key:
                            default: true
                            description: Require primary key to be defined for new tables or old tables modified with `ALTER TABLE` and fail if missing. You should always have primary keys because various functionality may break if any large table is missing them.
                            example: true
                            type: boolean
                          tmp_table_size:
                            default: 16777216
                            description: Limits the size of internal in-memory tables. This also requires a `max_heap_table_size`.
                            example: 24777216
                            maximum: 1073741824
                            minimum: 1048576
                            type: integer
                          wait_timeout:
                            description: The number of seconds the server waits for activity on a non-interactive connection before closing it.
                            example: 28800
                            maximum: 2147483
                            minimum: 1
                            type: integer
                        type: object
                    type: object
                    x-akamai:
                      file-path: schemas/database-mysql-engine-config.yaml
                  label:
                    description: __Filterable__ A name used to identify the Managed Database. This needs to be unique per Managed Database `engine` type. For example, you could use `database_1`, `database_2`, and `database_3` for three unique MySQL Managed Databases. You can also use these same names for three unique PostgreSQL Managed Databases. However, you can't repeat any of these names for either engine type.
                    example: example-db
                    maxLength: 32
                    minLength: 3
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 2
                    x-linode-filterable: true
                  private_network:
                    additionalProperties: false
                    description: Restricts access on a MySQL Managed Database to a specific Virtual Private Cloud (VPC) configured for the cluster. You can only assign VPCs that are in the same region as the database cluster.
                    properties:
                      public_access:
                        default: false
                        description: 'Set to `true` to allow clients outside of the VPC to connect to the database using a public IP address. Defaults to `false`, where only nodes within the specified `vpc_id` can access the Managed Database cluster.


                          > 📘

                          >

                          > If your Managed Database is also configured using an `allow_list`, only IP addresses set in it can access that database, even if this object is set to `true`.'
                        example: true
                        type: boolean
                      subnet_id:
                        description: 'If the `vpc_id` includes multiple subnets, specify the `subnet_id` you want to use to control access to the database. Use the [List VPCs](https://techdocs.akamai.com/linode-api/reference/get-vpcs) operation to find and store the `id` of the relevant subnet object.


                          > 📘

                          >

                          > A VPC needs at least one subnet to assign a Manage Database instance.'
                        example: 456
                        type: integer
                      vpc_id:
                        description: The unique identifier of the VPC you want to use to enable private access to the Managed Database. Run the [List VPCs](https://techdocs.akamai.com/linode-api/reference/get-vpcs) operation and store the `id` for the applicable VPC.
                        example: 123
                        type: integer
                    type:
                    - object
                    - 'null'
                  region:
                    description: __Filterable__ The unique identifier for the [region](https://techdocs.akamai.com/linode-api/reference/get-regions) where the Managed Database lives.
                    example: us-east
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 3
                    x-linode-filterable: true
                  ssl_connection:
                    default: true
                    description: Currently required to be `true`. Whether to require SSL credentials to establish a connection to the Managed Database. Run the [Get managed MySQL database credentials](https://techdocs.akamai.com/linode-api/reference/get-databases-mysql-instance-credentials) operation for access information.
                    example: true
                    type: boolean
                  type:
                    description: __Filterable__ The `id` of the Linode Instance type used by the Managed Database for its nodes.
                    example: g6-dedicated-2
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 4
                    x-linode-filterable: true
                required:
                - label
                - type
                - engine
                - region
                title: Create MySQL database
                type: object
                x-akamai:
                  file-path: schemas/database-mysql-create.yaml
              - additionalProperties: false
                properties:
                  allow_list:
                    description: 'Controls access to the Managed Database.


                      - Individually included IP addresses or CIDR ranges can access the Managed Database while all other sources are blocked.


                      - A standalone value of `0.0.0.0/0` allows all IP addresses access to the Managed Database.


                      - An empty array (`[]`) blocks all public and private connections to the Managed Database.'
                    example:
                    - 203.0.113.1/32
                    - 192.0.1.0/24
                    items:
                      format: ipv4/prefix_length
                      pattern: ^([0-9]{1,3}\.){3}[0-9]{1,3}(\/([0-9]|[1-2][0-9]|3[0-2]))?$
                      type: string
                    minItems: 0
                    type: array
                  cluster_size:
                    default: 1
                    description: 'The number of Linode instance nodes deployed to the Managed Database, from `1` to `3`. Consider these points when setting a `cluster_size`:


                      - Choose `3` nodes to create a high availability cluster that consists of one `primary` node and two `standby` nodes.


                      - A `2` node cluster is only available with a dedicated plan. It consists of one `primary` node and one `standby` node.'
                    enum:
                    - 1
                    - 2
                    - 3
                    example: 3
                    type: integer
                    x-linode-cli-display: 5
                  engine_config:
                    additionalProperties: false
                    description: 'Advanced parameters you can apply to a MySQL Managed Database, via our partner [Aiven''s specification](https://aiven.io/docs/products/mysql/reference/advanced-params). Only include the objects for parameters you want to set in your database. Omit objects for parameters you don''t want to define or change.


                      > 📘

                      >

                      > Aiven may offer additional parameters in their specification, or accept different values and ranges. Currently, only the parameters and settings covered here are supported for use in a MySQL Managed Database. You can also run the [List MySQL Managed Database advanced parameters](https://techdocs.akamai.com/linode-api/reference/get-databases-mysql-config) operation to see an up-to-date list.'
                    properties:
                      binlog_retention_period:
                        description: The minimum amount of time in seconds to keep `binlog` entries before deletion. This may be extended for services that require `binlog` entries for longer than the default, for example if using the MySQL Debezium Kafka connector.
                        example: 600
                        maximum: 9007199254740991
                        minimum: 600
                        type: integer
                      mysql:
                        additionalProperties: false
                        description: MySQL-specific advanced configuration parameters.
                        properties:
                          connect_timeout:
                            description: The number of seconds that the `mysqld` server waits for a connect packet before responding with bad handshake.
                            example: 10
                            maximum: 3600
                            minimum: 2
                            type: integer
                          default_time_zone:
                            description: Default server time zone as an offset from UTC (from -12:00 to +12:00), a time zone name, or `SYSTEM` to use the MySQL server default.
                            example: +03:00
                            maxLength: 100
                            minLength: 2
                            pattern: ^([-+][\d:]*|[\w/]*)$
                            type: string
                          group_concat_max_len:
                            description: The maximum permitted result length in bytes for the `GROUP_CONCAT()` function.
                            example: 1024
                            maximum: 18446744073709552000
                            minimum: 4
                            type: integer
                          information_schema_stats_expiry:
                            description: The time, in seconds, before cached statistics expire.
                            example: 86400
                            maximum: 31536000
                            minimum: 900
                            type: integer
                          innodb_change_buffer_max_size:
                            default: 25
                            description: Maximum size for the InnoDB change buffer, as a percentage of the total size of the buffer pool.
                            example: 30
                            maximum: 50
                            minimum: 0
                            type: integer
                          innodb_flush_neighbors:
                            default: 1
                            description: 'Specifies whether flushing a page from the InnoDB buffer pool also flushes other dirty pages in the same extent: `0` - dirty pages in the same extent are not flushed, `1` - flush contiguous dirty pages in the same extent, `2` - flush dirty pages in the same extent.'
                            example: 0
                            maximum: 2
                            minimum: 0
                            type: integer
                          innodb_ft_min_token_size:
                            description: Minimum length of words that are stored in an InnoDB `-1FULLTEXT` index. Changing this parameter will lead to a restart of the MySQL service.
                            example: 3
                            maximum: 16
                            minimum: 0
                            type: integer
                          innodb_ft_server_stopword_table:
                            description: This option is used to specify your own InnoDB `FULLTEXT` index `stopword` list for all InnoDB tables. Set to `null` for no value.
                            example: db_name/table_name
                            maxLength: 1024
                            pattern: ^.+/.+$
                            type:
                            - string
                            - 'null'
                          innodb_lock_wait_timeout:
                            default: 120
                            description: The length of time in seconds an InnoDB transaction waits for a row lock before giving up.
                            example: 50
                            maximum: 3600
                            minimum: 1
                            type: integer
                          innodb_log_buffer_size:
                            description: The size in bytes of the buffer that InnoDB uses to write to the log files on disk.
                            example: 16777216
                            maximum: 4294967295
                            minimum: 1048576
                            type: integer
                          innodb_online_alter_log_max_size:
                            description: The upper limit in bytes on the size of the temporary log files used during online DDL operations for InnoDB tables.
                            example: 134217728
                            maximum: 1099511627776
                            minimum: 65536
                            type: integer
                          innodb_read_io_threads:
                            default: 4
                            description: The number of I/O threads for read operations in InnoDB. Changing this parameter will lead to a restart of the MySQL service.
                            example: 10
                            maximum: 64
                            minimum: 1
                            type: integer
                          innodb_rollback_on_timeout:
                            description: When enabled a transaction timeout causes InnoDB to abort and roll back the entire transaction. Changing this parameter will lead to a restart of the MySQL service.
                            example: true
                            type: boolean
                          innodb_thread_concurrency:
                            default: 0
                            description: Defines the maximum number of threads permitted inside of InnoDB. The default is `0` which indicates infinite concurrency, or no limit.
                            example: 10
                            maximum: 1000
                            minimum: 0
                            type: integer
                          innodb_write_io_threads:
                            default: 4
                            description: The number of I/O threads for write operations in InnoDB. Changing this parameter will lead to a restart of the MySQL service.
                            example: 10
                            maximum: 64
                            minimum: 1
                            type: integer
                          interactive_timeout:
                            description: The number of seconds the server waits for activity on an interactive connection before closing it.
                            example: 3600
                            maximum: 604800
                            minimum: 30
                            type: integer
                          internal_tmp_mem_storage_engine:
                            description: The storage engine for in-memory internal temporary tables, either `TempTable` or `MEMORY`.
                            enum:
                            - TempTable
                            - MEMORY
                            example: TempTable
                            type: string
                          max_allowed_packet:
                            default: 7108864
                            description: Size of the largest message in bytes that can be received by the server.
                            example: 67108864
                            maximum: 1073741824
                            minimum: 102400
                            type: integer
                          max_heap_table_size:
                            default: 16777216
                            description: Limits the size of internal in-memory tables. Also set `tmp_table_size`.
                            example: 24777216
                            maximum: 1073741824
                            minimum: 1048576
                            type: integer
                          net_buffer_length:
                            default: 16384
                            description: Start sizes of connection buffer and result buffer. Changing this parameter will lead to a restart of the MySQL service.
                            example: 16384
                            maximum: 1048576
                            minimum: 1024
                            type: integer
                          net_read_timeout:
                            description: The number of seconds to wait for more data from a connection before aborting the read.
                            example: 30
                            maximum: 3600
                            minimum: 1
                            type: integer
                          net_write_timeout:
                            description: The number of seconds to wait for a block to be written to a connection before aborting the write.
                            example: 30
                            maximum: 3600
                            minimum: 1
                            type: integer
                          sort_buffer_size:
                            default: 262144
                            description: Sort buffer size in bytes for ORDER BY optimization.
                            example: 262244
                            maximum: 1073741824
                            minimum: 32768
                            type: integer
                          sql_mode:
                            default: ANSI,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION,NO_ZERO_DATE,NO_ZERO_IN_DATE,STRICT_ALL_TABLES
                            description: Global SQL mode. Set to empty to use MySQL server defaults. When creating a new service and not setting this field, Akamai defaults to SQL mode which is strict, SQL standard compliant.
                            example: ANSI,TRADITIONAL
                            maxLength: 1024
                            pattern: ^[A-Z_]*(,[A-Z_]+)*$
                            type: string
                          sql_require_primary_key:
                            default: true
                            description: Require primary key to be defined for new tables or old tables modified with `ALTER TABLE` and fail if missing. You should always have primary keys because various functionality may break if any large table is missing them.
                            example: true
                            type: boolean
                          tmp_table_size:
                            default: 16777216
                            description: Limits the size of internal in-memory tables. This also requires a `max_heap_table_size`.
                            example: 24777216
                            maximum: 1073741824
                            minimum: 1048576
                            type: integer
                          wait_timeout:
                            description: The number of seconds the server waits for activity on a non-interactive connection before closing it.
                            example: 28800
                            maximum: 2147483
                            minimum: 1
                            type: integer
                        type: object
                    type: object
                    x-akamai:
                      file-path: schemas/database-mysql-engine-config.yaml
                  fork:
                    additionalProperties: false
                    description: Include this object to restore a Managed Database by forking from a backup.
                    properties:
                      restore_time:
                        description: A specific database timestamp to restore from. Run the [List Managed Databases](https://techdocs.akamai.com/linode-api/reference/get-databases-instances) operation and check the `oldest_restore_time` value of the source database. The value used here needs to be more recent than `oldest_restore_time`. If you don't provide this value, the fork is created from the newest full backup plus incremental.
                        example: '2024-10-14T19:55:12'
                        type: string
                      source:
                        description: The unique identifier for the database to fork from. Run the [List Managed Databases](https://techdocs.akamai.com/linode-api/reference/get-databases-instances) operation and store the unique `id` for the target Managed Database.
                        example: 176881
                        type: integer
                    required:
                    - source
                    type: object
                    x-akamai:
                      file-path: schemas/database-restore-fork.yaml
                  label:
                    description: __Filterable__ A name used to identify the Managed Database. This needs to be unique per Managed Database `engine` type. For example, you could use `database_1`, `database_2`, and `database_3` for three unique MySQL Managed Databases. You can also use these same names for three unique PostgreSQL Managed Databases. However, you can't repeat any of these names for either engine type.
                    example: example-db
                    maxLength: 32
                    minLength: 3
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 2
                    x-linode-filterable: true
                  private_network:
                    additionalProperties: false
                    description: Restricts access on a MySQL Managed Database to a specific Virtual Private Cloud (VPC) configured for the cluster. You can only assign VPCs that are in the same region as the database cluster.
                    properties:
                      public_access:
                        default: false
                        description: 'Set to `true` to allow clients outside of the VPC to connect to the database using a public IP address. Defaults to `false`, where only nodes within the specified `vpc_id` can access the Managed Database cluster.


                          > 📘

                          >

                          > If your Managed Database is also configured using an `allow_list`, only IP addresses set in it can access that database, even if this object is set to `true`.'
                        example: true
                        type: boolean
                      subnet_id:
                        description: 'If the `vpc_id` includes multiple subnets, specify the `subnet_id` you want to use to control access to the database. Use the [List VPCs](https://techdocs.akamai.com/linode-api/reference/get-vpcs) operation to find and store the `id` of the relevant subnet object.


                          > 📘

                          >

                          > A VPC needs at least one subnet to assign a Manage Database instance.'
                        example: 456
                        type: integer
                      vpc_id:
                        description: The unique identifier of the VPC you want to use to enable private access to the Managed Database. Run the [List VPCs](https://techdocs.akamai.com/linode-api/reference/get-vpcs) operation and store the `id` for the applicable VPC.
                        example: 123
                        type: integer
                    type:
                    - object
                    - 'null'
                  region:
                    description: __Filterable__ The unique identifier for the [region](https://techdocs.akamai.com/linode-api/reference/get-regions) where the Managed Database lives.
                    example: us-east
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 3
                    x-linode-filterable: true
                  ssl_connection:
                    default: true
                    description: Currently required to be `true`. Whether to require SSL credentials to establish a connection to the Managed Database. Run the [Get managed MySQL database credentials](https://techdocs.akamai.com/linode-api/reference/get-databases-mysql-instance-credentials) operation for access information.
                    example: true
                    type: boolean
                  type:
                    description: __Filterable__ The `id` of the Linode Instance type used by the Managed Database for its nodes.
                    example: g6-dedicated-2
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 4
                    x-linode-filterable: true
                required:
                - fork
                title: Restore MySQL database
                type: object
                x-akamai:
                  file-path: schemas/database-mysql-restore.yaml
              type: object
              x-akamai:
                file-path: schemas/database-mysql-request.yaml
        required: true
        x-linode-cli-allowed-defaults:
        - engine
        - region
        - type
      responses:
        '200':
          content:
            application/json:
              example:
                allow_list:
                - 192.0.2.152/24
                - 192.0.2.229/24
                cluster_size: 3
                created: '2022-01-01T00:01:01'
                encrypted: true
                engine: mysql
                engine_config:
                  binlog_retention_period: 600
                  mysql:
                    connect_timeout: 10
                    default_time_zone: +03:00
                    group_concat_max_len: 1024
                    information_schema_stats_expiry: 86400
                    innodb_change_buffer_max_size: 30
                    innodb_flush_neighbors: 0
                    innodb_ft_min_token_size: 3
[...]
