openapi: 3.2.0
info:
  description: Add a Cloud Computing instance so you can build, release, and scale applications faster with virtual machines.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: 'Akamai: Linode Firewalls API'
  version: 4.229.1
servers:
- url: https://api.linode.com
tags:
- name: Firewalls
paths:
  /{apiVersion}/networking/firewalls:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    x-akamai:
      file-path: paths/networking-firewalls.yaml
      path-info: /{apiVersion}/networking/firewalls
    x-linode-cli-command: firewalls
    post:
      description: 'Creates a Firewall to filter network traffic.


        - Use `rules` to create inbound and outbound access rules or reference Rule Sets. Rule versions increment from `1` whenever the firewall''s `rules` change.


        - Use `devices` to assign a firewall to a service such as a Linode that is using legacy config profiles, a public Linode interface, a regular VPC Linode interface, or a NodeBalancer. The firewall’s rules are then applied to that service.


        - For Linodes using Linode interfaces, firewalls need to be assigned to `interfaces` and not the `linodes`. Firewall templates are available for both regular VPC Linode interfaces and public Linode interfaces, and come with pre-configured protection rules.


        - For Linodes using legacy configuration profiles, firewalls are applied through the Linode. Public and VPC interfaces are subject to the firewall rules, while VLAN interfaces are not.


        - Currently, firewalls can be assigned to Linodes with legacy configuration profiles, public or regular VPC Linode interfaces, and NodeBalancers.


        - The same firewall can be assigned to multiple services at a time.


        - Use `firewall_id` to assign a firewall when creating a Linode or when adding a Linode interface.


        - A service can have one assigned firewall enabled at a time.


        - Assigned Linodes must not have any ongoing live migrations.


        - A `firewall_create` event is generated when this operation succeeds.


        - RDMA VPC interfaces don''t support firewalls and can''t be assigned a firewall.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs a role with these permissions assigned. Learn more.

        - Permissions: `create_firewall`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `firewall:read_write`


        **CLI**


        ```shell

        linode-cli firewalls create \

        --label example-firewall \

        --rules.outbound_policy ACCEPT \

        --rules.inbound_policy DROP \

        --rules.inbound ''[{"protocol": "TCP", "ports": "22, 80, 8080, 443", "addresses": {"ipv4": ["192.0.2.0/24", "198.51.100.2/32"], "ipv6": ["2001:DB8::/128"]}, "action": "ACCEPT"}]'' \

        --rules.outbound ''[{"protocol": "TCP", "ports": "49152-65535", "addresses": {"ipv4": ["192.0.2.0/24", "198.51.100.2/32"],"ipv6": ["2001:DB8::/128"]}, "action": "DROP", "label": "outbound-rule123", "description": "An example outbound rule description."}]''

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/post-firewalls
      operationId: post-firewalls
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - additionalProperties: false
                description: A resource that controls incoming and outgoing network traffic to a compute service. Only one enabled Firewall can be attached to a particular service at any given time. [Create a firewall device](https://techdocs.akamai.com/linode-api/reference/post-firewall-device) to assign a Firewall to a service. Currently, Firewalls can assigned to Linode compute instances and NodeBalancers.
                properties:
                  created:
                    description: __Filterable__, __Read-only__ When this Firewall was created.
                    example: '2025-01-01T00:01:01'
                    readOnly: true
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 4
                    x-linode-filterable: true
                  entities:
                    description: __Read-only__ The Linodes, NodeBalancers, and Linode interfaces this firewall is assigned to.
                    items:
                      additionalProperties: false
                      properties:
                        id:
                          description: The entity's ID.
                          example: 123
                          type: integer
                        label:
                          description: __Read-only__ The entity's label.
                          example: my-linode
                          readOnly: true
                          type:
                          - string
                          - 'null'
                        parent_entity:
                          additionalProperties: false
                          description: __Read-only__ The Linode this `linode_interface` is assigned to. Returns `null` when the entity `type` is `linode` or `nodebalancer`.
                          properties:
                            id:
                              description: The ID of the Linode assigned to this `linode_interface`.
                              example: 5000
                              type: integer
                            label:
                              description: The name of the Linode this `linode_interface` is assigned to.
                              example: linode5000
                              type: string
                            parent_entity:
                              description: __Read-only__ Currently, no parent entity has a parent of its own. Each `parent_entity` will have its own `parent_entity` set to `null`.
                              example: null
                              readOnly: true
                              type:
                              - string
                              - 'null'
                            type:
                              description: A Linode interface’s `parent_entity` is a `linode`.
                              enum:
                              - linode
                              example: linode
                              type: string
                            url:
                              description: The API URL path you can use to access this entity.
                              example: /v4/linode/instances/5000
                              type: string
                          readOnly: true
                          type:
                          - object
                          - 'null'
                        type:
                          description: The entity's type.
                          enum:
                          - linode
                          - linode_interface
                          - nodebalancer
                          example: linode_interface
                          type: string
                        url:
                          description: __Read-only__ The API URL path you can use to access this entity.
                          example: /v4/linode/instances/123
                          readOnly: true
                          type: string
                      type: object
                    readOnly: true
                    type: array
                  id:
                    description: __Filterable__, __Read-only__ The Firewall's unique ID.
                    example: 123
                    readOnly: true
                    type: integer
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 1
                    x-linode-filterable: true
                  label:
                    description: "__Filterable__ The firewall's label, for display purposes only.\n\nFirewall labels have the following constraints:\n\n  - Must begin and end with an alphanumeric character.\n  - May only consist of alphanumeric characters, hyphens (`-`), underscores (`_`) or periods (`.`).\n  - Cannot have two hyphens (`--`), underscores (`__`) or periods (`..`) in a row.\n  - Must be between 3 and 32 characters.\n  - Must be unique."
                    example: firewall123
                    maxLength: 32
                    minLength: 3
                    pattern: ^[a-zA-Z]((?!--|__|\.\.)[a-zA-Z0-9-_.])+$
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 2
                    x-linode-filterable: true
                  rules:
                    additionalProperties: false
                    description: 'The inbound and outbound access rules to apply to the firewall.


                      A firewall can have up to 25 rules for both inbound and outbound traffic.


                      A firewall can reference a Rule Set only once.


                      Multiple rules are applied in order. If two rules conflict, the first rule takes precedence. For example, if the first rule accepts inbound traffic from an address, and the second rule drops inbound traffic the same address, the first rule applies and inbound traffic from that address is accepted.'
                    properties:
                      fingerprint:
                        description: __Read-only__ The fingerprint is a 32-bit hash. It represents the firewall rules as an 8 character hex string. You can use `fingerprint` to compare rule versions.
                        example: 997dd135
                        readOnly: true
                        type: string
                      inbound:
                        description: The inbound firewall rules or Rule Sets. Each firewall rule can reference a Rule Set or specify its own parameters, but not both.
                        items:
                          oneOf:
                          - additionalProperties: false
                            description: One of a firewall's inbound or outbound access rules. The `ports` field can be used to allow traffic on a comma-separated list of different ports.
                            properties:
                              action:
                                description: Controls whether traffic is accepted or dropped by this rule. Overrides the Firewall's `inbound_policy` if this is an inbound rule, or the `outbound_policy` if this is an outbound rule.
                                enum:
                                - ACCEPT
                                - DROP
                                example: ACCEPT
                                type: string
                                x-linode-cli-display: 2
                              addresses:
                                additionalProperties: false
                                description: 'The explicit IPv4 or IPv6 CIDRs, and referenced Prefix Lists, affected by this rule. Each rule can include up to 255 addresses or networks across its `ipv4` and `ipv6` arrays. Both networks and individual IPs count equally toward this limit.


                                  Must contain `ipv4`, `ipv6`, or both.'
                                properties:
                                  ipv4:
                                    description: 'The names of the Prefix Lists with IPv4 CIDRs referenced in this rule, as well as IPv4 addresses or networks in IP/mask format. The `zone_id` notation described in [RFC 4007](https://www.rfc-editor.org/rfc/rfc4007) is not supported. Must not be an empty list.


                                      If `0.0.0.0/0` is included in this list, all IPv4 addresses are affected by this rule.'
                                    example:
                                    - 192.0.2.0/24
                                    - 198.51.100.2/32
                                    - pl::vpcs:1234
                                    - pl::vpcs:<current>
                                    items:
                                      type: string
                                    type: array
                                    x-linode-cli-display: 5
                                  ipv6:
                                    description: 'The names of the Prefix Lists with IPv6 CIDRs referenced in this rule, as well as IPv6 addresses or networks in IP/mask format. The `zone_id` notation described in [RFC 4007](https://www.rfc-editor.org/rfc/rfc4007) is not supported. Must not be an empty list.


                                      If `::/0` is included in this list, all IPv6 addresses are affected by this rule.'
                                    example:
                                    - 2001:DB8::/128
                                    - pl::vpcs:1234
                                    - pl::vpcs:<current>
                                    items:
                                      type: string
                                    type: array
                                    x-linode-cli-display: 6
                                type: object
                              description:
                                description: Used to describe this rule. For display purposes only.
                                example: An example firewall rule description.
                                maxLength: 100
                                minLength: 1
                                type: string
                                x-linode-cli-display: 7
                              label:
                                description: Used to identify this rule. For display purposes only.
                                example: firewallrule123
                                maxLength: 32
                                minLength: 3
                                type: string
                                x-linode-cli-display: 1
                              ports:
                                description: "A string representing any ports affected by this rule:\n\n- May be a single port, a range of ports, or a comma-separated list of both.\n    - A single space is permitted after each comma.\n    - Ranges are inclusive, for example `22-24`. The end value must be greater than the start value.\n    - Ports must be between `1` and `65535` and can't contain leading zeros, for example, `80` is valid, `080` is not.\n- The string can contain up to 15 \"pieces\". A single port counts as one piece; a range counts as two pieces. for example, `22-24, 80, 443` contains four pieces.\n- Only allowed when protocol is `TCP`, `UDP`, or `SCTP`.\n    - Must be omitted for `ICMP` or `IPENCAP`.\n    - An empty string `\"\"` is only permitted for protocols that support ports.\n- If the `ports` field is omitted for a supported protocol, the rule affects all ports.\n- Only allowed when protocol is `TCP`, `UDP`, or `SCTP`, or their IANA numeric equivalents; `6`, `17`, `132`.\n    - Must be omitted for `ICMP`, `IPENCAP`, `ALL`, or any other numeric protocol.\n    - An empty string `\"\"` is only permitted for protocols that support ports."
                                example: 22-24, 80, 443
                                type:
                                - string
                                - 'null'
                                x-linode-cli-display: 4
                              protocol:
                                description: 'The type of network traffic affected by this rule.


                                  Accepts a limited set of standard protocol keywords including `TCP` , `UDP`, `ICMP`, `IPENCAP`, or `ALL` or any IANA-assigned protocol number as a decimal string including `"0"` to `"255"`.


                                  If the protocol keyword you need is not `TCP` , `UDP`, `ICMP`, `IPENCAP`, or `ALL`, use the IANA protocol number option.


                                  `ALL` matches all IP protocols and allows a single rule to unconditionally allow or drop traffic. Rules using `ALL` or IANA numeric protocols other than `"6"`, `"17"`, or `"132"` must not include a `ports` field.'
                                example: TCP
                                oneOf:
                                - description: 'Use a keyword to specify common protocol.


                                    If the protocol keyword you need is not `TCP` , `UDP`, `ICMP`, `IPENCAP`, or `ALL`, use the **IANA protocol number** option. `ALL` matches all IP protocols and allows a single rule to unconditionally allow or drop traffic. Rules using `ALL`, `ICMP` and `IPENCAP` must not include a `ports` field.'
                                  enum:
                                  - TCP
                                  - UDP
                                  - ICMP
                                  - IPENCAP
                                  - ALL
                                  example: TCP
                                  title: Protocol name
                                  type: string
                                - description: A decimal string representation of an IANA-assigned IP protocol number including "0" to "255". For example, use `"50"` for ESP or `"51"` for AH. Numeric protocols other than `"6"` (TCP), `"17"` (UDP), or `"132"` (SCTP) must not include a `ports` field. Leading zeros are not permitted, for example use `"6"`, not `"06"`.
                                  example: '50'
                                  pattern: ^(0|[1-9][0-9]?|1[0-9]{2}|2[0-4][0-9]|25[0-5])$
                                  title: IANA protocol number
                                  type: string
                                type: string
                                x-linode-cli-display: 3
                            required:
                            - action
                            - addresses
                            - protocol
                            title: Defined Rule (inbound)
                            type: object
                            x-akamai:
                              file-path: schemas/firewall-rule-config.yaml
                          - additionalProperties: false
                            description: A firewall rule can be a referenced `ruleset` or a rule defined outside of a Rule Set, but not both. The Rule Set’s type (`inbound` or `outbound`) must match the rule group (`inbound` or `outbound`) in which it appears.
                            properties:
                              ruleset:
                                description: The Rule Set ID referenced by this firewall.
                                example: 123
                                type: integer
                            title: Referenced Rule Set (inbound)
                            type: object
                            x-akamai:
                              file-path: schemas/firewall-ruleset-id.yaml
                        type: array
                        x-linode-cli-format: json
                      inbound_policy:
                        description: The default behavior for inbound traffic. This setting can be overridden by [updating](https://techdocs.akamai.com/linode-api/reference/put-firewall-rules) the `inbound.action` property of the Firewall Rule.
                        enum:
                        - ACCEPT
                        - DROP
                        example: DROP
                        type: string
                      outbound:
                        description: The outbound firewall rules or Rule Sets. Each firewall rule can reference a Rule Set or specify its own parameters, but not both.
                        items:
                          oneOf:
                          - additionalProperties: false
                            description: One of a firewall's inbound or outbound access rules. The `ports` field can be used to allow traffic on a comma-separated list of different ports.
                            properties:
                              action:
                                description: Controls whether traffic is accepted or dropped by this rule. Overrides the Firewall's `inbound_policy` if this is an inbound rule, or the `outbound_policy` if this is an outbound rule.
                                enum:
                                - ACCEPT
                                - DROP
                                example: ACCEPT
                                type: string
                                x-linode-cli-display: 2
                              addresses:
                                additionalProperties: false
                                description: 'The explicit IPv4 or IPv6 CIDRs, and referenced Prefix Lists, affected by this rule. Each rule can include up to 255 addresses or networks across its `ipv4` and `ipv6` arrays. Both networks and individual IPs count equally toward this limit.


                                  Must contain `ipv4`, `ipv6`, or both.'
                                properties:
                                  ipv4:
                                    description: 'The names of the Prefix Lists with IPv4 CIDRs referenced in this rule, as well as IPv4 addresses or networks in IP/mask format. The `zone_id` notation described in [RFC 4007](https://www.rfc-editor.org/rfc/rfc4007) is not supported. Must not be an empty list.


                                      If `0.0.0.0/0` is included in this list, all IPv4 addresses are affected by this rule.'
                                    example:
                                    - 192.0.2.0/24
                                    - 198.51.100.2/32
                                    - pl::vpcs:1234
                                    - pl::vpcs:<current>
                                    items:
                                      type: string
                                    type: array
                                    x-linode-cli-display: 5
                                  ipv6:
                                    description: 'The names of the Prefix Lists with IPv6 CIDRs referenced in this rule, as well as IPv6 addresses or networks in IP/mask format. The `zone_id` notation described in [RFC 4007](https://www.rfc-editor.org/rfc/rfc4007) is not supported. Must not be an empty list.


                                      If `::/0` is included in this list, all IPv6 addresses are affected by this rule.'
                                    example:
                                    - 2001:DB8::/128
                                    - pl::vpcs:1234
                                    - pl::vpcs:<current>
                                    items:
                                      type: string
                                    type: array
                                    x-linode-cli-display: 6
                                type: object
                              description:
                                description: Used to describe this rule. For display purposes only.
                                example: An example firewall rule description.
                                maxLength: 100
                                minLength: 1
                                type: string
                                x-linode-cli-display: 7
                              label:
                                description: Used to identify this rule. For display purposes only.
                                example: firewallrule123
                                maxLength: 32
                                minLength: 3
                                type: string
                                x-linode-cli-display: 1
                              ports:
                                description: "A string representing any ports affected by this rule:\n\n- May be a single port, a range of ports, or a comma-separated list of both.\n    - A single space is permitted after each comma.\n    - Ranges are inclusive, for example `22-24`. The end value must be greater than the start value.\n    - Ports must be between `1` and `65535` and can't contain leading zeros, for example, `80` is valid, `080` is not.\n- The string can contain up to 15 \"pieces\". A single port counts as one piece; a range counts as two pieces. for example, `22-24, 80, 443` contains four pieces.\n- Only allowed when protocol is `TCP`, `UDP`, or `SCTP`.\n    - Must be omitted for `ICMP` or `IPENCAP`.\n    - An empty string `\"\"` is only permitted for protocols that support ports.\n- If the `ports` field is omitted for a supported protocol, the rule affects all ports.\n- Only allowed when protocol is `TCP`, `UDP`, or `SCTP`, or their IANA numeric equivalents; `6`, `17`, `132`.\n    - Must be omitted for `ICMP`, `IPENCAP`, `ALL`, or any other numeric protocol.\n    - An empty string `\"\"` is only permitted for protocols that support ports."
                                example: 22-24, 80, 443
                                type:
                                - string
                                - 'null'
                                x-linode-cli-display: 4
                              protocol:
                                description: 'The type of network traffic affected by this rule.


                                  Accepts a limited set of standard protocol keywords including `TCP` , `UDP`, `ICMP`, `IPENCAP`, or `ALL` or any IANA-assigned protocol number as a decimal string including `"0"` to `"255"`.


                                  If the protocol keyword you need is not `TCP` , `UDP`, `ICMP`, `IPENCAP`, or `ALL`, use the IANA protocol number option.


                                  `ALL` matches all IP protocols and allows a single rule to unconditionally allow or drop traffic. Rules using `ALL` or IANA numeric protocols other than `"6"`, `"17"`, or `"132"` must not include a `ports` field.'
                                example: TCP
                                oneOf:
                                - description: 'Use a keyword to specify common protocol.


                                    If the protocol keyword you need is not `TCP` , `UDP`, `ICMP`, `IPENCAP`, or `ALL`, use the **IANA protocol number** option. `ALL` matches all IP protocols and allows a single rule to unconditionally allow or drop traffic. Rules using `ALL`, `ICMP` and `IPENCAP` must not include a `ports` field.'
                                  enum:
                                  - TCP
                                  - UDP
                                  - ICMP
                                  - IPENCAP
                                  - ALL
                                  example: TCP
                                  title: Protocol name
                                  type: string
                                - description: A decimal string representation of an IANA-assigned IP protocol number including "0" to "255". For example, use `"50"` for ESP or `"51"` for AH. Numeric protocols other than `"6"` (TCP), `"17"` (UDP), or `"132"` (SCTP) must not include a `ports` field. Leading zeros are not permitted, for example use `"6"`, not `"06"`.
                                  example: '50'
                                  pattern: ^(0|[1-9][0-9]?|1[0-9]{2}|2[0-4][0-9]|25[0-5])$
                                  title: IANA protocol number
                                  type: string
                                type: string
                                x-linode-cli-display: 3
                            required:
                            - action
                            - addresses
                            - protocol
                            title: Defined Rule (outbound)
                            type: object
                            x-akamai:
                              file-path: schemas/firewall-rule-config.yaml
                          - additionalProperties: false
                            description: A firewall rule can be a referenced `ruleset` or a rule defined outside of a Rule Set, but not both. The Rule Set’s type (`inbound` or `outbound`) must match the rule group (`inbound` or `outbound`) in which it appears.
                            properties:
                              ruleset:
                                description: The Rule Set ID referenced by this firewall.
                                example: 123
                                type: integer
                            title: Referenced Rule Set (outbound)
                            type: object
                            x-akamai:
                              file-path: schemas/firewall-ruleset-id.yaml
                        type: array
                        x-linode-cli-format: json
                      outbound_policy:
                        description: The default behavior for outbound traffic. This setting can be overridden by [updating](https://techdocs.akamai.com/linode-api/reference/put-firewall-rules) the `outbound.action` property of the Firewall Rule.
                        enum:
                        - ACCEPT
                        - DROP
                        example: ACCEPT
                        type: string
                      version:
                        description: __Read-only__ The firewall's rule version. The first version is `1`. The version number is incremented when the firewall's rules change.
                        example: 1
                        readOnly: true
                        type: integer
                    required:
                    - inbound_policy
                    - outbound_policy
                    type: object
                  status:
                    description: "__Read-only__ The status of this Firewall.\n\n  - When a Firewall is first created its status is `enabled`.\n  - Run the [Update a firewall](https://techdocs.akamai.com/linode-api/reference/put-firewall) operation to set a Firewall's status to `enabled` or `disabled`.\n  - Run the [Delete a firewall](https://techdocs.akamai.com/linode-api/reference/delete-firewall) operation to delete a Firewall."
                    enum:
                    - enabled
                    - disabled
                    - deleted
                    example: enabled
                    readOnly: true
                    type: string
                    x-linode-cli-display: 3
                  tags:
                    description: __Filterable__ An array of tags applied to this object. Tags are for organizational purposes only.
                    example:
                    - example tag
                    - another example
                    items:
                      type: string
                    type: array
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-filterable: true
                  updated:
                    description: __Filterable__, __Read-only__ When this Firewall was last updated.
                    example: '2025-01-02T00:01:01'
                    readOnly: true
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 5
                    x-linode-filterable: true
                type: object
                x-akamai:
                  file-path: schemas/firewall.yaml
              properties:
                devices:
                  additionalProperties: false
                  description: 'Devices you can create for this firewall. When you create a device, the firewall is assigned to a service. You can currently create devices for:

                    - Linodes using legacy configuration profiles.

                    - Non-RDMA Linode interfaces including public and regular VPC.

                    - NodeBalancers.


                    You can''t create firewall devices for individual interfaces within legacy configuration profiles.


                    Additional devices can be assigned after firewall creation by using the [Create a firewall device](https://techdocs.akamai.com/linode-api/reference/post-firewall-device) operation.'
                  properties:
                    linode_interfaces:
                      description: Linode interface IDs to link to this firewall. A firewall device is created for each ID. For Linodes using Linode interfaces, firewalls need to be assigned to Linode interfaces and not the Linode. These IDs must belong to regular, non-RDMA VPC Linode interfaces and public Linode interfaces.
                      example:
                      - 321
                      items:
                        type: integer
                      type: array
                    linodes:
                      description: An array of Linode IDs. A firewall device is created for each ID. These Linodes can't use Linode interfaces.
                      example:
                      - 123
                      - 456
                      items:
                        type: integer
                      type: array
                    nodebalancers:
                      description: 'An array containing a NodeBalancer ID. A Firewall device is created for the ID.


                        - A NodeBalancer can have only one Firewall assigned to it.

                        - Firewalls only apply to inbound TCP traffic to NodeBalancers.'
                      example:
                      - 321
                      items:
                        type: integer
                      type: array
                  type: object
                rules:
                  additionalProperties: false
                  properties:
                    inbound:
                      required:
                      - action
                      - addresses
                      - protocol
                    outbound:
                      required:
                      - action
                      - addresses
                      - protocol
                  required:
                  - inbound_policy
                  - outbound_policy
              required:
              - label
              - rules
              x-akamai:
                file-path: schemas/added-post-firewalls.yaml
            x-example:
              x-ref: ../examples/post-firewalls.json
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                description: A resource that controls incoming and outgoing network traffic to a compute service. Only one enabled Firewall can be attached to a particular service at any given time. [Create a firewall device](https://techdocs.akamai.com/linode-api/reference/post-firewall-device) to assign a Firewall to a service. Currently, Firewalls can assigned to Linode compute instances and NodeBalancers.
                properties:
                  created:
                    description: __Filterable__, __Read-only__ When this Firewall was created.
                    example: '2025-01-01T00:01:01'
                    readOnly: true
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 4
                    x-linode-filterable: true
                  entities:
                    description: __Read-only__ The Linodes, NodeBalancers, and Linode interfaces this firewall is assigned to.
                    items:
                      additionalProperties: false
                      properties:
                        id:
                          description: The entity's ID.
                          example: 123
                          type: integer
                        label:
                          description: __Read-only__ The entity's label.
                          example: my-linode
                          readOnly: true
                          type:
                          - string
                          - 'null'
                        parent_entity:
                          additionalProperties: false
                          description: __Read-only__ The Linode this `linode_interface` is assigned to. Returns `null` when the entity `type` is `linode` or `nodebalancer`.
                          properties:
                            id:
                              description: The ID of the Linode assigned to this `linode_interface`.
                              example: 5000
                              type: integer
                            label:
                              description: The name of the Linode this `linode_interface` is assigned to.
                              example: linode5000
                              type: string
                            parent_entity:
                              description: __Read-only__ Currently, no parent entity has a parent of its own. Each `parent_entity` will have its own `parent_entity` set to `null`.
                              example: null
                              readOnly: true
                              type:
                              - string
                              - 'null'
                            type:
                              description: A Linode interface’s `parent_entity` is a `linode`.
                              enum:
                              - linode
                              example: linode
                              type: string
                            url:
                              description: The API URL path you can use to access this entity.
                              example: /v4/linode/instances/5000
                              type: string
                          readOnly: true
                          type:
                          - object
                          - 'null'
                        type:
                          description: The entity's type.
                          enum:
                          - linode
                          - linode_interface
                          - nodebalancer
                          example: linode_interface
                          type: string
                        url:
                          description: __Read-only__ The API URL path you can use to access this entity.
                          example: /v4/linode/instances/123
                          readOnly: true
                          type: string
                      type: object
                    readOnly: true
                    type: array
                  id:
                    description: __Filterable__, __Read-only__ The Firewall's unique ID.
                    example: 123
                    readOnly: true
                    type: integer
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 1
                    x-linode-filterable: true
                  label:
                    description: "__Filterable__ The firewall's label, for display purposes only.\n\nFirewall labels have the following constraints:\n\n  - Must begin and end with an alphanumeric character.\n  - May only consist of alphanumeric characters, hyphens (`-`), underscores (`_`) or periods (`.`).\n  - Cannot have two hyphens (`--`), underscores (`__`) or periods (`..`) in a row.\n  - Must be between 3 and 32 characters.\n  - Must be unique."
                    example: firewall123
                    maxLength: 32
                    minLength: 3
                    pattern: ^[a-zA-Z]((?!--|__|\.\.)[a-zA-Z0-9-_.])+$
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 2
                    x-linode-filterable: true
                  rules:
                    additionalProperties: false
                    description: 'The inbound and outbound access rules to apply to the firewall.


                      A firewall can have up to 25 rules for both inbound and outbound traffic.


                      A firewall can reference a Rule Set only once.


                      Multiple rules are applied in order. If two rules conflict, the first rule takes precedence. For example, if the first rule accepts inbound traffic from an address, and the second rule drops inbound traffic the same address, the first rule applies and inbound traffic from that address is accepted.'
                    properties:
                      fingerprint:
                        description: __Read-only__ The fingerprint is a 32-bit hash. It represents the firewall rules as an 8 character hex string. You can use `fingerprint` to compare rule versions.
                        example: 997dd135
                        readOnly: true
                        type: string
                      inbound:
                        description: The inbound firewall rules or Rule Sets. Each firewall rule can reference a Rule Set or specify its own parameters, but not both.
                        items:
                          oneOf:
                          - additionalProperties: false
                            description: One of a firewall's inbound or outbound access rules. The `ports` field can be used to allow traffic on a comma-separated list of different ports.
                            properties:
                              action:
                                description: Controls whether traffic is accepted or dropped by this rule. Overrides the Firewall's `inbound_policy` if this is an inbound rule, or the `outbound_policy` if this is an outbound rule.
                                enum:
                                - ACCEPT
                                - DROP
                                example: ACCEPT
                                type: string
                                x-linode-cli-display: 2
                              addresses:
                                additionalProperties: false
                                description: 'The explicit IPv4 or IPv6 CIDRs, and referenced Prefix Lists, affected by this rule. Each rule can include up to 255 addresses or networks across its `ipv4` and `ipv6` arrays. Both networks and individual IPs count equally toward this limit.


                                  Must contain `ipv4`, `ipv6`, or both.'
                                properties:
                                  ipv4:
                                    description: 'The names of the Prefix Lists with IPv4 CIDRs referenced in this rule, as well as IPv4 addresses or networks in IP/mask format. The `zone_id` notation described in [RFC 4007](https://www.rfc-editor.org/rfc/rfc4007) is not supported. Must not be an empty list.


                                      If `0.0.0.0/0` is included in this list, all IPv4 addresses are affected by this rule.'
                                    example:
                                    - 192.0.2.0/24
                                    - 198.51.100.2/32
                                    - pl::vpcs:1234
                                    - pl::vpcs:<current>
                                    items:
                                      type: string
                                    type: array
                                    x-linode-cli-display: 5
                                  ipv6:
                                    description: 'The names of the Prefix Lists with IPv6 CIDRs referenced in this rule, as well as IPv6 addresses or networks in IP/mask format. The `zone_id` notation described in [RFC 4007](https://www.rfc-editor.org/rfc/rfc4007) is not supported. Must not be an empty list.


                                      If `::/0` is included in this list, all IPv6 addresses are affected by this rule.'
                                    example:
                                    - 2001:DB8::/128
                                    - pl::vpcs:1234
                                    - pl::vpcs:<current>
                                    items:
                                      type: string
                                    type: array
                                    x-linode-cli-display: 6
                                type: object
                              description:
                                description: Used to describe this rule. For display purposes only.
                                example: An example firewall rule description.
                                maxLength: 100
                                minLength: 1
                                type: string
                                x-linode-cli-display: 7
                              label:
                                description: Used to identify this rule. For display purposes only.
                                example: firewallrule123
                                maxLength: 32
                                minLength: 3
                                type: string
                                x-linode-cli-display: 1
                              ports:
                                description: "A string representing any ports affected by this rule:\n\n- May be a single port, a range of ports, or a comma-separated list of both.\n    - A single space is permitted after each comma.\n    - Ranges are inclusive, for example `22-24`. The end value must be greater than the start value.\n    - Ports must be between `1` and `65535` and can't contain leading zeros, for example, `80` is valid, `080` is not.\n- The string can contain up to 15 \"pieces\". A single port counts as one piece; a range counts as two pieces. for example, `22-24, 80, 443` contains four pieces.\n- Only allowed when protocol is `TCP`, `UDP`, or `SCTP`.\n    - Must be omitted for `ICMP` or `IPENCAP`.\n    - An empty string `\"\"` is only permitted for protocols that support ports.\n- If the `ports` field is omitted for a supported protocol, the rule affects all ports.\n- Only allowed when protocol is `TCP`, `UDP`, or `SCTP`, or their IANA numeric equivalents; `6`, `17`, `132`.\n    - Must be omitted for `ICMP`, `IPENCAP`, `ALL`, or any other numeric protocol.\n    - An empty string `\"\"` is only permitted for protocols that support ports."
                                example: 22-24, 80, 443
                                type:
                                - string
                                - 'null'
                                x-linode-cli-display: 4
                              protocol:
                                description: 'The type of network traffic affected by this rule.


                                  Accepts a limited set of standard protocol keywords including `TCP` , `UDP`, `ICMP`, `IPENCAP`, or `ALL` or any IANA-assigned protocol number as a decimal string including `"0"` to `"255"`.


                                  If the protocol keyword you need is not `TCP` , `UDP`, `ICMP`, `IPENCAP`, or `ALL`, use the IANA protocol number option.


                                  `ALL` matches all IP protocols and allows a single rule to unconditionally allow or drop traffic. Rules using `ALL` or IANA numeric protocols other than `"6"`, `"17"`, or `"132"` must not include a `ports` field.'
                                example: TCP
                                oneOf:
                                - description: 'Use a keyword to specify common protocol.


                                    If the protocol keyword you need is not `TCP` , `UDP`, `ICMP`, `IPENCAP`, or `ALL`, use the **IANA protocol number** option. `ALL` matches all IP protocols and allows a single rule to unconditionally allow or drop traffic. Rules using `ALL`, `ICMP` and `IPENCAP` must not include a `ports` field.'
                                  enum:
                                  - TCP
                                  - UDP
                                  - ICMP
                                  - IPENCAP
                                  - ALL
                                  example: TCP
                                  title: Protocol name
                                  type: string
                                - description: A decimal string representation of an IANA-assigned IP protocol number including "0" to "255". For example, use `"50"` for ESP or `"51"` for AH. Numeric protocols other than `"6"` (TCP), `"17"` (UDP), or `"132"` (SCTP) must not include a `ports` field. Leading zeros are not permitted, for example use `"6"`, not `"06"`.
                                  example: '50'
                                  pattern: ^(0|[1-9][0-9]?|1[0-9]{2}|2[0-4][0-9]|25[0-5])$
                                  title: IANA protocol number
                                  type: string
                                type: string
                                x-linode-cli-display: 3
                            required:
                            - action
                            - addresses
                            - protocol
                            title: Defined Rule (inbound)
                            type: object
                            x-akamai:
                              file-path: schemas/firewall-rule-config.yaml
                          - additionalProperties: false
                            description: A firewall rule can be a referenced `ruleset` or a rule defined outside of a Rule Set, but not both. The Rule Set’s type (`inbound` or `outbound`) must match the rule group (`inbound` or `outbound`) in which it appears.
                            properties:
                              ruleset:
                                description: The Rule Set ID referenced by this firewall.
                                example: 123
                                type: integer
                            title: Referenced Rule Set (inbound)
                            type: object
                            x-akamai:
                              file-path: schemas/firewall-ruleset-id.yaml
                        type: array
                        x-linode-cli-format: json
                      inbound_policy:
                        description: The default behavior for inbound traffic. This setting can be overridden by [updating](https://techdocs.akamai.com/linode-api/reference/put-firewall-rules) the `inbound.action` property of the Firewall Rule.
                        enum:
                        - ACCEPT
                        - DROP
                        example: DROP
                        type: string
                      outbound:
                        description: The outbound firewall rules or Rule Sets. Each firewall rule can reference a Rule Set or specify its own parameters, but not both.
                        items:
                          oneOf:
                          - additionalProperties: false
                            description: One of a firewall's inbound or outbound access rules. The `ports` field can be used to allow traffic on a comma-separated list of different ports.
                            properties:
                              action:
                                description: Controls whether traffic is accepted or dropped by this rule. Overrides the Firewall's `inbound_policy` if this is an inbound rule, or the `outbound_policy` if this is an outbound rule.
                                enum:
                                - ACCEPT
                                - DROP
                                example: ACCEPT
                                type: string
                                x-linode-cli-display: 2
                              addresses:
                                additionalProperties: false
                                description: 'The explicit IPv4 or IPv6 CIDRs, and referenced Prefix Lists, affected by this rule. Each rule can include up to 255 addresses or networks across its `ipv4` and `ipv6` arrays. Both networks and individual IPs count equally toward this limit.


                                  Must contain `ipv4`, `ipv6`, or both.'
                                properties:
                                  ipv4:
                                    description: 'The names of the Prefix Lists with IPv4 CIDRs referenced in this rule, as well as IPv4 addresses or networks in IP/mask format. The `zone_id` notation described in [RFC 4007](https://www.rfc-editor.org/rfc/rfc4007) is not supported. Must not be an empty list.


                                      If `0.0.0.0/0` is included in this list, all IPv4 addresses are affected by this rule.'
                                    example:
                                    - 192.0.2.0/24
                                    - 198.51.100.2/32
                                    - pl::vpcs:1234
                                    - pl::vpcs:<current>
                                    items:
                                      type: string
                                    type: array
                                    x-linode-cli-display: 5
                                  ipv6:
                                    description: 'The names of the Prefix Lists with IPv6 CIDRs referenced in this rule, as well as IPv6 addresses or networks in IP/mask format. The `zone_id` notation described in [RFC 4007](https://www.rfc-editor.org/rfc/rfc4007) is not supported. Must not be an empty list.


                                      If `::/0` is included in this list, all IPv6 addresses are affected by this rule.'
                                    example:
                                    - 2001:DB8::/128
                                    - pl::vpcs:1234
                                    - pl::vpcs:<current>
                                    items:
                                      type: string
                                    type: array
                                    x-linode-cli-display: 6
                                type: object
                              description:
                                description: Used to describe this rule. For display purposes only.
                                example: An example firewall rule description.
                                maxLength: 100
                                minLength: 1
                                type: string
                                x-linode-cli-display: 7
                              label:
                                description: Used to identify this rule. For display purposes only.
                                example: firewallrule123
                                maxLength: 32
                                minLength: 3
                                type: string
                                x-linode-cli-display: 1
                              ports:
                                description: "A string representing any ports affected by this rule:\n\n- May be a single port, a range of ports, or a comma-separated list of both.\n    - A single space is permitted after each comma.\n    - Ranges are inclusive, for example `22-24`. The end value must be greater than the start value.\n    - Ports must be between `1` and `65535` and can't contain leading zeros, for example, `80` is valid, `080` is not.\n- The string can contain up to 15 \"pieces\". A single port counts as one piece; a range counts as two pieces. for example, `22-24, 80, 443` contains four pieces.\n- Only allowed when protocol is `TCP`, `UDP`, or `SCTP`.\n    - Must be omitted for `ICMP` or `IPENCAP`.\n    - An empty string `\"\"` is only permitted for protocols that support ports.\n- If the `ports` field is omitted for a supported protocol, the rule affects all ports.\n- Only allowed when protocol is `TCP`, `UDP`, or `SCTP`, or their IANA numeric equivalents; `6`, `17`, `132`.\n    - Must be omitted for `ICMP`, `IPENCAP`, `ALL`, or any other numeric protocol.\n    - An empty string `\"\"` is only permitted for protocols that support ports."
                                example: 22-24, 80, 443
                                type:
                                - string
                                - 'null'
                                x-linode-cli-display: 4
                              protocol:
                                description: 'The type of network traffic affected by this rule.


                                  Accepts a limited set of standard protocol keywords including `TCP` , `UDP`, `ICMP`, `IPENCAP`, or `ALL` or any IANA-assigned protocol number as a decimal string including `"0"` to `"255"`.


                                  If the protocol keyword you need is not `TCP` , `UDP`, `ICMP`, `IPENCAP`, or `ALL`, use the IANA protocol number option.


                                  `ALL` matches all IP protocols and allows a single rule to unconditionally allow or drop traffic. Rules using `ALL` or IANA numeric protocols other than `"6"`, `"17"`, or `"132"` must not include a `ports` field.'
                                example: TCP
                                oneOf:
                                - description: 'Use a keyword to specify common protocol.


                                    If the protocol keyword you need is not `TCP` , `UDP`, `ICMP`, `IPENCAP`, or `ALL`, use the **IANA protocol number** option. `ALL` matches all IP protocols and allows a single rule to unconditionally allow or drop traffic. Rules using `ALL`, `ICMP` and `IPENCAP` must not include a `ports` field.'
                                  enum:
                                  - TCP
                                  - UDP
                                  - ICMP
                                  - IPENCAP
                                  - ALL
                                  example: TCP
                                  title: Protocol name
                                  type: string
                                - description: A decimal string representation of an IANA-assigned IP protocol number including "0" to "255". For example, use `"50"` for ESP or `"51"` for AH. Numeric protocols other than `"6"` (TCP), `"17"` (UDP), or `"132"` (SCTP) must not include a `ports` field. Leading zeros are not permitted, for example use `"6"`, not `"06"`.
                                  example: '50'
                                  pattern: ^(0|[1-9][0-9]?|1[0-9]{2}|2[0-4][0-9]|25[0-5])$
                                  title: IANA protocol number
                                  type: string
                                type: string
                                x-linode-cli-display: 3
                            required:
                            - action
                            - addresses
                            - protocol
                            title: Defined Rule (outbound)
                            type: object
                            x-akamai:
                              file-path: schemas/firewall-rule-config.yaml
                          - additionalProperties: false
                            description: A firewall rule can be a referenced `ruleset` or a rule defined outside of a Rule Set, but not both. The Rule Set’s type (`inbound` or `outbound`) must match the rule group (`inbound` or `outbound`) in which it appears.
                            properties:
                              ruleset:
                                description: The Rule Set ID referenced by this firewall.
                                example: 123
                                type: integer
                            title: Referenced Rule Set (outbound)
                            type: object
                            x-akamai:
                              file-path: schemas/firewall-ruleset-id.yaml
                        type: array
                        x-linode-cli-format: json
                      outbound_policy:
                        description: The default behavior for outbound traffic. This setting can be overridden by [updating](https://techdocs.akamai.com/linode-api/reference/put-firewall-rules) the `outbound.action` property of the Firewall Rule.
                        enum:
                        - ACCEPT
                        - DROP
                        example: ACCEPT
                        type: string
                      version:
                        description: __Read-only__ The firewall's rule version. The first version is `1`. The version number is incremented when the firewall's rules change.
                        example: 1
                        readOnly: true
                        type: integer
                    required:
                    - inbound_policy
                    - outbound_policy
                    type: object
                  status:
                    description: "__Read-only__ The status of this Firewall.\n\n  - When a Firewall is first created its status is `enabled`.\n  - Run the [Update a firewall](https://techdocs.akamai.com/linode-api/reference/put-firewall) operation to set a Firewall's status to `enabled` or `disabled`.\n  - Run the [Delete a firewall](https://techdocs.akamai.com/linode-api/reference/delete-firewall) operation to delete a Firewall."
                    enum:
                    - enabled
                    - disabled
                    - deleted
                    example: enabled
                    readOnly: true
                    type: string
                    x-linode-cli-display: 3
                  tags:
                    description: __Filterable__ An array of tags applied to this object. Tags are for organizational purposes only.
                    example:
                    - example tag
                    - another example
                    items:
                      type: string
                    type: array
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-filterable: true
                  updated:
                    description: __Filterable__, __Read-only__ When this Firewall was last updated.
                    example: '2025-01-02T00:01:01'
                    readOnly: true
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 5
                    x-linode-filterable: true
                type: object
                x-akamai:
                  file-path: schemas/firewall.yaml
              x-example:
                x-ref: ../examples/post-firewalls-200.json
          description: Returns information about the created Firewall.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - firewall:read_write
      summary: Create a firewall
      tags:
      - Firewalls
      x-akamai:
        tabs:
        - syntax: "linode-cli firewalls create \\\n  --label example-firewall \\\n  --rules.outbound_policy ACCEPT \\\n  --rules.inbound_policy DROP \\\n  --rules.inbound '[{\"protocol\": \"TCP\", \"ports\": \"22, 80, 8080, 443\", \"addresses\": {\"ipv4\": [\"192.0.2.0/24\", \"198.51.100.2/32\"], \"ipv6\": [\"2001:DB8::/128\"]}, \"action\": \"ACCEPT\"}]' \\\n  --rules.outbound '[{\"protocol\": \"TCP\", \"ports\": \"49152-65535\", \"addresses\": {\"ipv4\": [\"192.0.2.0/24\", \"198.51.100.2/32\"],\"ipv6\": [\"2001:DB8::/128\"]}, \"action\": \"DROP\", \"label\": \"outbound-rule123\", \"description\": \"An example outbound rule description.\"}]'"
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: create
      x-linode-grant: add_firewalls
      x-linode-iam:
      - permissions:
        - create_firewall
    get:
      description: 'Returns a paginated list of accessible Firewalls.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs a role with these permissions assigned. Learn more.

        - Permissions: `view_firewall`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `firewall:read_only`


        **CLI**


        ```shell

        linode-cli firewalls list

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-firewalls
      operationId: get-firewalls
      parameters:
      - description: The page of a collection to return.
        example: '{{page}}'
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 6
          minimum: 1
          type: integer
        x-akamai:
          file-path: parameters/page-offset.yaml
      - description: The number of items to return per page.
        example: '{{page_size}}'
        in: query
        name: page_size
        schema:
          default: 100
          example: 50
          maximum: 500
          minimum: 25
          type: integer
        x-akamai:
          file-path: parameters/page-size.yaml
      responses:
        '200':
          content:
            application/json:
              example:
                created: '2025-05-01T15:12:51'
                entities:
                - id: 5000
                  label: linode5000
                  parent_entity: null
                  type: linode
                  url: /v4/linode/instances/5000
                - id: 2
                  label: null
                  parent_entity:
                    id: 5000
                    label: linode5000
                    parent_entity: null
                    type: linode
                    url: /v4/linode/instances/5000
                  type: linode_interface
                  url: /v4/linode/instances/506963/interfaces/2
                - id: 6
                  label: null
                  parent_entity:
                    id: 5000
                    label: linode506969
                    parent_entity: null
                    type: linode
                    url: /v4/linode/instances/506969
                  type: linode_interface
                  url: /v4/linode/instances/506969/interfaces/6
                id: 1
                label: myfw
                rules:
                  fingerprint: 9eb911da
                  inbound:
                  - action: ACCEPT
                    addresses:
                      ipv4:
                      - 192.0.2.0/24
                      - 198.51.100.2/32
                      ipv6:
                      - 2001:DB8::/128
                    description: An example firewall rule description.
                    label: firewallrule123
                    ports: 22-24, 80, 443
                    protocol: TCP
                  inbound_policy: DROP
                  outbound:
                  - action: ACCEPT
                    addresses:
                      ipv4:
                      - 192.0.2.0/24
                      - 198.51.100.2/32
                      ipv6:
                      - 2001:DB8::/128
                    description: An example firewall rule description.
                    label: firewallrule123
                    ports: 22-24, 80, 443
                    protocol: TCP
                  outbound_policy: ACCEPT
                  version: 1
                status: enabled
                tags: []
                updated: '2025-05-01T15:12:51'
              schema:
                additionalProperties: false
                properties:
                  data:
                    items:
                      additionalProperties: false
                      description: A resource that controls incoming and outgoing network traffic to a compute service. Only one enabled Firewall can be attached to a particular service at any given time. [Create a firewall device](https://techdocs.akamai.com/linode-api/reference/post-firewall-device) to assign a Firewall to a service. Currently, Firewalls can assigned to Linode compute instances and NodeBalancers.
                      properties:
                        created:
                          description: __Filterable__, __Read-only__ When this Firewall was created.
                          example: '2025-01-01T00:01:01'
                          readOnly: true
                          type: string
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-cli-display: 4
                          x-linode-filterable: true
                        entities:
                          description: __Read-only__ The Linodes, NodeBalancers, and Linode interfaces this firewall is assigned to.
                          items:
                            additionalProperties: false
                            properties:
                              id:
                                description: The entity's ID.
                                example: 123
                                type: integer
                              label:
                                description: __Read-only__ The entity's label.
                                example: my-linode
                                readOnly: true
                                type:
                                - string
                                - 'null'
                              parent_entity:
                                additionalProperties: false
                                description: __Read-only__ The Linode this `linode_interface` is assigned to. Returns `null` when the entity `type` is `linode` or `nodebalancer`.
                                properties:
                                  id:
                                    description: The ID of the Linode assigned to this `linode_interface`.
                                    example: 5000
                                    type: integer
                                  label:
                                    description: The name of the Linode this `linode_interface` is assigned to.
                                    example: linode5000
                                    type: string
                                  parent_entity:
                                    description: __Read-only__ Currently, no parent entity has a parent of its own. Each `parent_entity` will have its own `parent_entity` set to `null`.
                                    example: null
                                    readOnly: true
                                    type:
                                    - string
                                    - 'null'
                                  type:
                                    description: A Linode interface’s `parent_entity` is a `linode`.
                                    enum:
                                    - linode
                                    example: linode
                                    type: string
                                  url:
                                    description: The API URL path you can use to access this entity.
                                    example: /v4/linode/instances/5000
                                    type: string
                                readOnly: true
                                type:
                                - object
                                - 'null'
                              type:
                                description: The entity's type.
                                enum:
                                - linode
                                - linode_interface
                                - nodebalancer
                                example: linode_interface
                                type: string
                              url:
                                description: __Read-only__ The API URL path you can use to access this entity.
                                example: /v4/linode/instances/123
                                readOnly: true
                                type: string
                            type: object
                          readOnly: true
                          type: array
                        id:
                          description: __Filterable__, __Read-only__ The Firewall's unique ID.
                          example: 123
                          readOnly: true
                          type: integer
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-cli-display: 1
                          x-linode-filterable: true
                        label:
                          description: "__Filterable__ The firewall's label, for display purposes only.\n\nFirewall labels have the following constraints:\n\n  - Must begin and end with an alphanumeric character.\n  - May only consist of alphanumeric characters, hyphens (`-`), underscores (`_`) or periods (`.`).\n  - Cannot have two hyphens (`--`), underscores (`__`) or periods (`..`) in a row.\n  - Must be between 3 and 32 characters.\n  - Must be unique."
                          example: firewall123
                          maxLength: 32
                          minLength: 3
                          pattern: ^[a-zA-Z]((?!--|__|\.\.)[a-zA-Z0-9-_.])+$
                          type: string
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-cli-display: 2
                          x-linode-filterable: true
                        rules:
                          additionalProperties: false
                          description: 'The inbound and outbound access rules to apply to the firewall.


                            A firewall can have up to 25 rules for both inbound and outbound traffic.


                            A firewall can reference a Rule Set only once.


                            Multiple rules are applied in order. If two rules conflict, the first rule takes precedence. For example, if the first rule accepts inbound traffic from an address, and the second rule drops inbound traffic the same address, the first rule applies and inbound traffic from that address is accepted.'
                          properties:
                            fingerprint:
                              description: __Read-only__ The fingerprint is a 32-bit hash. It represents the firewall rules as an 8 character hex string. You can use `fingerprint` to compare rule versions.
                              example: 997dd135
                              readOnly: true
                              type: string
                            inbound:
                              description: The inbound firewall rules or Rule Sets. Each firewall rule can reference a Rule Set or specify its own parameters, but not both.
                              items:
                                oneOf:
                                - additionalProperties: false
                                  description: One of a firewall's inbound or outbound access rules. The `ports` field can be used to allow traffic on a comma-separated list of different ports.
                                  properties:
                                    action:
                                      description: Controls whether traffic is accepted or dropped by this rule. Overrides the Firewall's `inbound_policy` if this is an inbound rule, or the `outbound_policy` if this is an outbound rule.
                                      enum:
                                      - ACCEPT
                                      - DROP
                                      example: ACCEPT
                                      type: string
                                      x-linode-cli-display: 2
                                    addresses:
                                      additionalProperties: false
                                      description: 'The explicit IPv4 or IPv6 CIDRs, and referenced Prefix Lists, affected by this rule. Each rule can include up to 255 addresses or networks across its `ipv4` and `ipv6` arrays. Both networks and individual IPs count equally toward this limit.


                                        Must contain `ipv4`, `ipv6`, or both.'
                                      properties:
                                        ipv4:
                                          description: 'The names of the Prefix Lists with IPv4 CIDRs referenced in this rule, as well as IPv4 addresses or networks in IP/mask format. The `zone_id` notation described in [RFC 4007](https://www.rfc-editor.org/rfc/rfc4007) is not supported. Must not be an empty list.


                                            If `0.0.0.0/0` is included in this list, all IPv4 addresses are affected by this rule.'
                                          example:
                                          - 192.0.2.0/24
                                          - 198.51.100.2/32
                                          - pl::vpcs:1234
                                          - pl::vpcs:<current>
                                          items:
                                            type: string
                                          type: array
                                          x-linode-cli-display: 5
                                        ipv6:
                                          description: 'The names of the Prefix Lists with IPv6 CIDRs referenced in this rule, as well as IPv6 addresses or networks in IP/mask format. The `zone_id` notation described in [RFC 4007](https://www.rfc-editor.org/rfc/rfc4007) is not supported. Must not be an empty list.


                                            If `::/0` is included in this list, all IPv6 addresses are affected by this rule.'
                                          example:
                                          - 2001:DB8::/128
                                          - pl::vpcs:1234
                                          - pl::vpcs:<current>
                                          items:
                                            type: string
                                          type: array
                                          x-linode-cli-display: 6
                                      type: object
                                    description:
                                      description: Used to describe this rule. For display purposes only.
                                      example: An example firewall rule description.
                                      maxLength: 100
                                      minLength: 1
                                      type: string
                                      x-linode-cli-display: 7
                                    label:
                                      description: Used to identify this rule. For display purposes only.
                                      example: firewallrule123
                                      maxLength: 32
                                      minLength: 3
                                      type: string
                                      x-linode-cli-display: 1
                                    ports:
                                      description: "A string representing any ports affected by this rule:\n\n- May be a single port, a range of ports, or a comma-separated list of both.\n    - A single space is permitted after each comma.\n    - Ranges are inclusive, for example `22-24`. The end value must be greater than the start value.\n    - Ports must be between `1` and `65535` and can't contain leading zeros, for example, `80` is valid, `080` is not.\n- The string can contain up to 15 \"pieces\". A single port counts as one piece; a range counts as two pieces. for example, `22-24, 80, 443` contains four pieces.\n- Only allowed when protocol is `TCP`, `UDP`, or `SCTP`.\n    - Must be omitted for `ICMP` or `IPENCAP`.\n    - An empty string `\"\"` is only permitted for protocols that support ports.\n- If the `ports` field is omitted for a supported protocol, the rule affects all ports.\n- Only allowed when protocol is `TCP`, `UDP`, or `SCTP`, or their IANA numeric equivalents; `6`, `17`, `132`.\n    - Must be omitted for `ICMP`, `IPENCAP`, `ALL`, or any other numeric protocol.\n    - An empty string `\"\"` is only permitted for protocols that support ports."
                                      example: 22-24, 80, 443
                                      type:
                                      - string
                                      - 'null'
                                      x-linode-cli-display: 4
                                    protocol:
                                      description: 'The type of network traffic affected by this rule.


                                        Accepts a limited set of standard protocol keywords including `TCP` , `UDP`, `ICMP`, `IPENCAP`, or `ALL` or any IANA-assigned protocol number as a decimal string including `"0"` to `"255"`.


                                        If the protocol keyword you need is not `TCP` , `UDP`, `ICMP`, `IPENCAP`, or `ALL`, use the IANA protocol number option.


                                        `ALL` matches all IP protocols and allows a single rule to unconditionally allow or drop traffic. Rules using `ALL` or IANA numeric protocols other than `"6"`, `"17"`, or `"132"` must not include a `ports` field.'
                                      example: TCP
                                      oneOf:
                                      - description: 'Use a keyword to specify common protocol.


                                          If the protocol keyword you need is not `TCP` , `UDP`, `ICMP`, `IPENCAP`, or `ALL`, use the **IANA protocol number** option. `ALL` matches all IP protocols and allows a single rule to unconditionally allow or drop traffic. Rules using `ALL`, `ICMP` and `IPENCAP` must not include a `ports` field.'
                                        enum:
                                        - TCP
                                        - UDP
                                        - ICMP
                                        - IPENCAP
                                        - ALL
                                        example: TCP
                                        title: Protocol name
                                        type: string
                                      - description: A decimal string representation of an IANA-assigned IP protocol number including "0" to "255". For example, use `"50"` for ESP or `"51"` for AH. Numeric protocols other than `"6"` (TCP), `"17"` (UDP), or `"132"` (SCTP) must not include a `ports` field. Leading zeros are not permitted, for example use `"6"`, not `"06"`.
                                        example: '50'
                                        pattern: ^(0|[1-9][0-9]?|1[0-9]{2}|2[0-4][0-9]|25[0-5])$
                                        title: IANA protocol number
                                        type: string
                                      type: string
                                      x-linode-cli-display: 3
                                  required:
                                  - action
                                  - addresses
                                  - protocol
                                  title: Defined Rule (inbound)
                                  type: object
                                  x-akamai:
                                    file-path: schemas/firewall-rule-config.yaml
                                - additionalProperties: false
                                  description: A firewall rule can be a referenced `ruleset` or a rule defined outside of a Rule Set, but not both. The Rule Set’s type (`inbound` or `outbound`) must match the rule group (`inbound` or `outbound`) in which it appears.
                                  properties:
                                    ruleset:
                                      description: The Rule Set ID referenced by this firewall.
                                      example: 123
                                      type: integer
                                  title: Referenced Rule Set (inbound)
                                  type: object
                                  x-akamai:
                                    file-path: schemas/firewall-ruleset-id.yaml
                              type: array
                              x-linode-cli-format: json
                            inbound_policy:
                              description: The default behavior for inbound traffic. This setting can be overridden by [updating](https://techdocs.akamai.com/linode-api/reference/put-firewall-rules) the `inbound.action` property of the Firewall Rule.
                              enum:
                              - ACCEPT
                              - DROP
                              example: DROP
                              type: string
                            outbound:
                              description: The outbound firewall rules or Rule Sets. Each firewall rule can reference a Rule Set or specify its own parameters, but not both.
                              items:
                                oneOf:
                                - additionalProperties: false
                                  description: One of a firewall's inbound or outbound access rules. The `ports` field can be used to allow traffic on a comma-separated list of different ports.
                                  properties:
                                    action:
                                      description: Controls whether traffic is accepted or dropped by this rule. Overrides the Firewall's `inbound_policy` if this is an inbound rule, or the `outbound_policy` if this is an outbound rule.
                                      enum:
                                      - ACCEPT
                                      - DROP
                                      example: ACCEPT
                                      type: string
                                      x-linode-cli-display: 2
                                    addresses:
                                      additionalProperties: false
                                      description: 'The explicit IPv4 or IPv6 CIDRs, and referenced Prefix Lists, affected by this rule. Each rule can include up to 255 addresses or networks across its `ipv4` and `ipv6` arrays. Both networks and individual IPs count equally toward this limit.


                                        Must contain `ipv4`, `ipv6`, or both.'
                                      properties:
                                        ipv4:
                                          description: 'The names of the Prefix Lists with IPv4 CIDRs referenced in this rule, as well as IPv4 addresses or networks in IP/mask format. The `zone_id` notation described in [RFC 4007](https://www.rfc-editor.org/rfc/rfc4007) is not supported. Must not be an empty list.


                                            If `0.0.0.0/0` is included in this list, all IPv4 addresses are affected by this rule.'
                                          example:
                                          - 192.0.2.0/24
                                          - 198.51.100.2/32
                                          - pl::vpcs:1234
                                          - pl::vpcs:<current>
                                          items:
                                            type: string
                                          type: array
                                          x-linode-cli-display: 5
                                        ipv6:
                                          description: 'The names of the Prefix Lists with IPv6 CIDRs referenced in this rule, as well as IPv6 addresses or networks in IP/mask format. The `zone_id` notation described in [RFC 4007](https://www.rfc-editor.org/rfc/rfc4007) is not supported. Must not be an empty list.


                                            If `::/0` is included in this list, all IPv6 addresses are affected by this rule.'
                                          example:
                                          - 2001:DB8::/128
                                          - pl::vpcs:1234
                                          - pl::vpcs:<current>
                                          items:
                                            type: string
                                          type: array
                                          x-linode-cli-display: 6
                                      type: object
                                    description:
                                      description: Used to describe this rule. For display purposes only.
                                      example: An example firewall rule description.
                                      maxLength: 100
                                      minLength: 1
                                      type: string
                                      x-linode-cli-display: 7
                                    label:
                                      description: Used to identify this rule. For display purposes only.
                                      example: firewallrule123
                                      maxLength: 32
                                      minLength: 3
                                      type: string
                                      x-linode-cli-display: 1
                                    ports:
                                      description: "A string representing any ports affected by this rule:\n\n- May be a single port, a range of ports, or a comma-separated list of both.\n    - A single space is permitted after each comma.\n    - Ranges are inclusive, for example `22-24`. The end value must be greater than the start value.\n    - Ports must be between `1` and `65535` and can't contain leading zeros, for example, `80` is valid, `080` is not.\n- The string can contain up to 15 \"pieces\". A single port counts as one piece; a range counts as two pieces. for example, `22-24, 80, 443` contains four pieces.\n- Only allowed when protocol is `TCP`, `UDP`, or `SCTP`.\n    - Must be omitted for `ICMP` or `IPENCAP`.\n    - An empty string `\"\"` is only permitted for protocols that support ports.\n- If the `ports` field is omitted for a supported protocol, the rule affects all ports.\n- Only allowed when protocol is `TCP`, `UDP`, or `SCTP`, or their IANA numeric equivalents; `6`, `17`, `132`.\n    - Must be omitted for `ICMP`, `IPENCAP`, `ALL`, or any other numeric protocol.\n    - An empty string `\"\"` is only permitted for protocols that support ports."
                                      example: 22-24, 80, 443
                                      type:
                                      - string
                                      - 'null'
                                      x-linode-cli-display: 4
                                    protocol:
                                      description: 'The type of network traffic affected by this rule.


                                        Accepts a limited set of standard protocol keywords including `TCP` , `UDP`, `ICMP`, `IPENCAP`, or `ALL` or any IANA-assigned protocol number as a decimal string including `"0"` to `"255"`.


                                        If the protocol keyword you need is not `TCP` , `UDP`, `ICMP`, `IPENCAP`, or `ALL`, use the IANA protocol number option.


                                        `ALL` matches all IP protocols and allows a single rule to unconditionally allow or drop traffic. Rules using `ALL` or IANA numeric protocols other than `"6"`, `"17"`, or `"132"` must not include a `ports` field.'
                                      example: TCP
                                      oneOf:
                                      - description: 'Use a keyword to specify common protocol.


                                          If the protocol keyword you need is not `TCP` , `UDP`, `ICMP`, `IPENCAP`, or `ALL`, use the **IANA protocol number** option. `ALL` matches all IP protocols and allows a single rule to unconditionally allow or drop traffic. Rules using `ALL`, `ICMP` and `IPENCAP` must not include a `ports` field.'
                                        enum:
                                        - TCP
                                        - UDP
                                        - ICMP
                                        - IPENCAP
                                        - ALL
                                        example: TCP
                                        title: Protocol name
                                        type: string
                                      - description: A decimal string representation of an IANA-assigned IP protocol number including "0" to "255". For example, use `"50"` for ESP or `"51"` for AH. Numeric protocols other than `"6"` (TCP), `"17"` (UDP), or `"132"` (SCTP) must not include a `ports` field. Leading zeros are not permitted, for example use `"6"`, not `"06"`.
                                        example: '50'
                                        pattern: ^(0|[1-9][0-9]?|1[0-9]{2}|2[0-4][0-9]|25[0-5])$
                                        title: IANA protocol number
                                        type: string
                                      type: string
                                      x-linode-cli-display: 3
                                  required:
                                  - action
                                  - addresses
                                  - protocol
                                  title: Defined Rule (outbound)
                                  type: object
                                  x-akamai:
                                    file-path: schemas/firewall-rule-config.yaml
                                - additionalProperties: false
                                  description: A firewall rule can be a referenced `ruleset` or a rule defined outside of a Rule Set, but not both. The Rule Set’s type (`inbound` or `outbound`) must match the rule group (`inbound` or `outbound`) in which it appears.
                                  properties:
                                    ruleset:
                                      description: The Rule Set ID referenced by this firewall.
                                      example: 123
                                      type: integer
                                  title: Referenced Rule Set (outbound)
                                  type: object
                                  x-akamai:
                                    file-path: schemas/firewall-ruleset-id.yaml
                              type: array
                              x-linode-cli-format: json
                            outbound_policy:
                              description: The default behavior for outbound traffic. This setting can be overridden by [updating](https://techdocs.akamai.com/linode-api/reference/put-firewall-rules) the `outbound.action` property of the Firewall Rule.
                              enum:
                              - ACCEPT
                              - DROP
                              example: ACCEPT
                              type: string
                            version:
                              description: __Read-only__ The firewall's rule version. The first version is `1`. The version number is incremented when the firewall's rules change.
                              example: 1
                              readOnly: true
                              type: integer
                          required:
                          - inbound_policy
                          - outbound_policy
                          type: object
                        status:
                          description: "__Read-only__ The status of this Firewall.\n\n  - When a Firewall is first created its status is `enabled`.\n  - Run the [Update a firewall](https://techdocs.akamai.com/linode-api/reference/put-firewall) operation to set a Firewall's status to `enabled` or `disabled`.\n  - Run the [Delete a firewall](https://techdocs.akamai.com/linode-api/reference/delete-firewall) operation to delete a Firewall."
                          enum:
                          - enabled
                          - disabled
                          - deleted
[...]
