openapi: 3.2.0
info:
  description: Add a Cloud Computing instance so you can build, release, and scale applications faster with virtual machines.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: 'Akamai: Linode Account availability API'
  version: 4.229.1
servers:
- url: https://api.linode.com
tags:
- description: Use these operations to review the services available for use with your account.
  name: Account availability
paths:
  /{apiVersion}/account/availability:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    x-akamai:
      file-path: paths/account-availability.yaml
      path-info: /{apiVersion}/account/availability
    x-linode-cli-command: account
    get:
      description: 'Returns a paginated list of the services available to you, for all Akamai Cloud Computing regions.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs a role with these permissions assigned. Learn more.

        - Permissions: `list_available_services`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `account:read_only`


        **CLI**


        ```shell

        linode-cli account get-availability

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-availability
      operationId: get-availability
      parameters:
      - description: The page of a collection to return.
        example: '{{page}}'
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 6
          minimum: 1
          type: integer
        x-akamai:
          file-path: parameters/page-offset.yaml
      - description: The number of items to return per page.
        example: '{{page_size}}'
        in: query
        name: page_size
        schema:
          default: 100
          example: 50
          maximum: 500
          minimum: 25
          type: integer
        x-akamai:
          file-path: parameters/page-size.yaml
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - available:
                  - Linodes
                  - NodeBalancers
                  region: us-east
                  unavailable:
                  - Kubernetes
                  - Block Storage
                page: 1
                pages: 1
                results: 1
              schema:
                allOf:
                - additionalProperties: false
                  properties:
                    data:
                      items:
                        additionalProperties: false
                        description: Account Service Availability object.
                        properties:
                          available:
                            description: __Read-only__ A list of services _available_ to your account in the `region`.
                            example:
                            - Linodes
                            - NodeBalancers
                            items:
                              type: string
                            readOnly: true
                            type: array
                          region:
                            description: __Read-only__ The Akamai cloud computing data center (region), represented by a slug value. You can view a full list of regions and their associated slugs with the [List regions](https://techdocs.akamai.com/linode-api/reference/get-regions) operation.
                            example: us-east
                            readOnly: true
                            type: string
                            x-linode-cli-display: 1
                          unavailable:
                            description: __Read-only__ A list of services _unavailable_ to your account in the `region`.
                            example:
                            - Kubernetes
                            - Block Storage
                            items:
                              type: string
                            readOnly: true
                            type: array
                            x-linode-cli-display: 3
                        type: object
                        x-akamai:
                          file-path: schemas/account-availability.yaml
                      type: array
                  type: object
                - description: An envelope for paginated response. When accessing a collection through a GET endpoint, the results are wrapped in this envelope which includes metadata about those results. Results are presented within a `data` array. See [Pagination](https://techdocs.akamai.com/linode-api/reference/pagination) for more information.
                  properties:
                    page:
                      description: __Read-only__ The current [page](https://techdocs.akamai.com/linode-api/reference/pagination).
                      example: 1
                      readOnly: true
                      type: integer
                    pages:
                      description: __Read-only__ The total number of [pages](https://techdocs.akamai.com/linode-api/reference/pagination).
                      example: 1
                      readOnly: true
                      type: integer
                    results:
                      description: __Read-only__ The total number of results.
                      example: 1
                      readOnly: true
                      type: integer
                  type: object
                  x-akamai:
                    file-path: schemas/pagination-envelope.yaml
                x-akamai:
                  file-path: schemas/added-get-availability-200.yaml
          description: List of regions and the services available in each.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_only
      summary: List available services
      tags:
      - Account availability
      x-akamai:
        tabs:
        - syntax: linode-cli account get-availability
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: get-availability
      x-linode-grant: read_only
      x-linode-iam:
      - permissions:
        - list_available_services
  /{apiVersion}/account/availability/{regionId}:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    - description: The abbreviated value ("slug") for the applicable data center. Run the [List regions](https://techdocs.akamai.com/linode-api/reference/get-regions) operation to view the slug for each data center.
      example: '{{regionId}}'
      in: path
      name: regionId
      required: true
      schema:
        example: us-iad
        type: string
      x-akamai:
        file-path: parameters/region-id-path.yaml
    x-akamai:
      file-path: paths/data-center.yaml
      path-info: /{apiVersion}/account/availability/{regionId}
    x-linode-cli-command: account
    get:
      description: 'View the available services for your account, in a specific region.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs a role with these permissions assigned. Learn more.

        - Permissions: `view_region_available_service`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `account:read_only`


        **CLI**


        ```shell

        linode-cli account get-account-availability us-east

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-account-availability
      operationId: get-account-availability
      responses:
        '200':
          content:
            application/json:
              example:
                available:
                - Linodes
                - NodeBalancers
                - Block Storage
                - Kubernetes
                region: us-ord
                unavailable: []
              schema:
                additionalProperties: false
                description: Account Service Availability object.
                properties:
                  available:
                    description: __Read-only__ A list of services _available_ to your account in the `region`.
                    example:
                    - Linodes
                    - NodeBalancers
                    items:
                      type: string
                    readOnly: true
                    type: array
                  region:
                    description: __Read-only__ The Akamai cloud computing data center (region), represented by a slug value. You can view a full list of regions and their associated slugs with the [List regions](https://techdocs.akamai.com/linode-api/reference/get-regions) operation.
                    example: us-east
                    readOnly: true
                    type: string
                    x-linode-cli-display: 1
                  unavailable:
                    description: __Read-only__ A list of services _unavailable_ to your account in the `region`.
                    example:
                    - Kubernetes
                    - Block Storage
                    items:
                      type: string
                    readOnly: true
                    type: array
                    x-linode-cli-display: 3
                type: object
                x-akamai:
                  file-path: schemas/account-availability.yaml
          description: The services available in the specified region.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_only
      summary: Get available services for a region
      tags:
      - Account availability
      x-akamai:
        tabs:
        - syntax: linode-cli account get-account-availability us-east
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: get-account-availability
      x-linode-grant: read_only
      x-linode-iam:
      - permissions:
        - view_region_available_service
components:
  securitySchemes:
    oauth:
      flows:
        authorizationCode:
          authorizationUrl: https://login.linode.com/oauth/authorize
          scopes:
            account:read_only: Allows access to GET information about your account.
            account:read_write: Allows access to all endpoints related to your account.
            child_account:read_only: Allows access to GET information about deprecated parent/child operations.
            child_account:read_write: Allows access to deprecated parent/child operations.
            databases:read_only: Allows access to GET information about databases.
            databases:read_write: Allows access to all endpoints related to databases.
            domains:read_only: Allows access to GET Domains on your account.
            domains:read_write: Allows access to all Domain endpoints.
            events:read_only: Allows access to GET your Events.
            events:read_write: Allows access to all endpoints related to your Events.
            firewall:read_only: Allows access to GET information about your Firewalls.
            firewall:read_write: Allows access to all Firewall endpoints.
            images:read_only: Allows access to GET your Images.
            images:read_write: Allows access to all endpoints related to your Images.
            ips:read_only: Allows access to GET your ips.
            ips:read_write: Allows access to all endpoints related to your ips.
            linodes:read_only: Allows access to GET Linodes on your account.
            linodes:read_write: Allow access to all endpoints related to your Linodes.
            lke:read_only: Allows access to GET LKE Clusters on your account.
            lke:read_write: Allows access to all endpoints related to LKE Clusters on your account.
            longview:read_only: Allows access to GET your Longview Clients.
            longview:read_write: Allows access to all endpoints related to your Longview Clients.
            monitor:read_only: Allows access to Monitor (Akamai Cloud Pulse) data.
            monitor:read_write: Allows access to GET Monitor (Akamai Cloud Pulse) data.
            nodebalancers:read_only: Allows access to GET NodeBalancers on your account.
            nodebalancers:read_write: Allows access to all NodeBalancer endpoints.
            object_storage:read_only: Allows access to GET information related to your Object Storage.
            object_storage:read_write: Allows access to all Object Storage endpoints.
            stackscripts:read_only: Allows access to GET your StackScripts.
            stackscripts:read_write: Allows access to all endpoints related to your StackScripts.
            volumes:read_only: Allows access to GET your Volumes.
            volumes:read_write: Allows access to all endpoints related to your Volumes.
            vpc:read_write: Allows access to all endpoints related to VPC and Subnet creation, updating, and deletion.
          tokenUrl: https://login.linode.com/oauth/token
      type: oauth2
    personalAccessToken:
      scheme: bearer
      type: http
externalDocs:
  description: See documentation for Akamai's Linode API
  url: https://techdocs.akamai.com/linode-api/reference
x-readme:
  explorer-enabled: false
  samples-languages:
  - curl
  - python
  - node
