openapi: 3.2.0
info:
  description: Add a Cloud Computing instance so you can build, release, and scale applications faster with virtual machines.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: 'Akamai: Linode Logs API'
  version: 4.229.1
servers:
- url: https://api.linode.com
tags:
- description: Akamai Cloud Pulse lets you capture log data across multiple Akamai Cloud services and deliver it to the destination of your choice. These logs can help you improve operational efficiency, enhance security, ensure compliance, and reduce the overhead of managing your Akamai Cloud services.
  name: Logs
paths:
  /{apiVersion}/monitor/streams:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    x-akamai:
      file-path: paths/aclp-streams.yaml
      path-info: /{apiVersion}/monitor/streams
    x-linode-cli-command: streams
    post:
      description: 'Create a new stream to track logs for an Akamai Cloud Computing service. Consider these points before creating a stream:


        - You first need to create the destination where you want to store log data.


        - By default, you can only set up a single stream for each audit log type. Talk to your account team if you need additional streams.


        - This operation can only be accessed by account users with _unrestricted_ access. Talk to your local account administrator about access management.


        > 🚧

        >

        > By using this service, you acknowledge your obligations under the United States Department of Justice Bulk Sensitive Data Transaction Rule ("BSD Rule"). You also agree that you will not use the service to transfer, onward transfer, or otherwise make accessible any United States government-related data or bulk United States sensitive personal data to countries of concern or a covered person, as each of those terms and concepts are defined in the BSD Rule. Anyone using the service is solely responsible for compliance with the BSD Rule.


        > 👍 There''s a tutorial

        >

        > We offer an example API workflow you can follow to set up a stream and its destination.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `monitor:read_write`


        **CLI**


        ```shell

        linode-cli streams create \

        --label Logs stream for Managed Databases \

        --type audit_logs \

        --destinations 12345 \

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/post-stream
      operationId: post-stream
      requestBody:
        content:
          application/json:
            example:
              destinations:
              - 1234
              label: Linode_services
              status: active
              type: audit_logs
            schema:
              additionalProperties: false
              properties:
                destinations:
                  description: 'The unique identifier for the sync point that will receive logs data. Run the [List destinations](https://techdocs.akamai.com/linode-api/reference/get-destinations) operation and store the `id` value for the applicable destination.


                    > 📘

                    >

                    > Currently, you can only specify a single destination for a stream.'
                  items:
                    example:
                    - 1234
                    type: integer
                  maxItems: 1
                  type: array
                details:
                  additionalProperties: false
                  description: 'Additional details for the stream, based on the selected `type`.


                    > 📘

                    >

                    > Currently, this only applies to streams with a `type` of `lke_audit_logs`. Leave this object out of requests that use a `type` of `audit_logs`.'
                  properties:
                    cluster_ids:
                      description: 'The unique identifiers for each LKE enterprise cluster. Run the [List Kubernetes clusters](https://techdocs.akamai.com/linode-api/reference/get-lke-clusters) operation and store the `id` values for all applicable clusters.


                        > 📘

                        >

                        > If `is_auto_add_all_clusters_enabled` is set to `true`, you can''t call out individual `cluster_ids`.'
                      example:
                      - 1234
                      - 5678
                      items:
                        type: integer
                      type: array
                    is_auto_add_all_clusters_enabled:
                      default: false
                      description: When set to `true`, newly added LKE enterprise clusters on your account will be included in the stream. If `false`, only existing LKE enterprise clusters are included.
                      example: false
                      type: boolean
                  type: object
                label:
                  description: The name of the stream. This is used for display purposes in Akamai Cloud Manager.
                  example: '{{label}}'
                  type: string
                status:
                  default: active
                  description: The availability status of the stream. This can be `active` or `inactive`.
                  enum:
                  - active
                  - inactive
                  example: '{{status}}'
                  type: string
                type:
                  description: The type of stream. This can be `audit_logs` for logs consisting of all of the control plane operations for the services in your Linodes, or `lke_audit_logs` for log data for your Linode Kubernetes Engine (LKE) enterprise clusters.
                  enum:
                  - audit_logs
                  - lke_audit_logs
                  example: '{{type}}'
                  type: string
              required:
              - label
              - type
              - destinations
              type: object
              x-akamai:
                file-path: schemas/aclp-stream-create.yaml
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                created: '2025-03-20T01:41:09'
                created_by: John Q. Linode
                destinations:
                - details:
                    access_key_id: 123
                    bucket_name: primary-bucket
                    host: primary-bucket-1.us-iad-12.linodeobjects.com
                    path: audit-logs
                  id: 12345
                  label: OBJ_logs_destination
                  type: akamai_object_storage
                id: 12345
                label: AuditLog-config
                status: active
                type: audit_logs
                updated: '2025-03-20T01:41:09'
                updated_by: Jane Q. Linode
                version: 1
              schema:
                additionalProperties: false
                properties:
                  created:
                    description: __Read-only__ When the stream was created.
                    example: '2025-03-20T01:41:09'
                    format: date-time
                    readOnly: true
                    type: string
                  created_by:
                    description: __Read-only__ The name of the user on your account that created the stream.
                    example: John Q. Linode
                    readOnly: true
                    type: string
                  destinations:
                    description: The sync points that will receive logs data.
                    items:
                      additionalProperties: false
                      properties:
                        details:
                          additionalProperties: false
                          description: Settings used for an Object Storage-based destination for a stream. You need an existing Object Storage bucket, configured to use Object Lock. See [Configure audit log delivery](https://techdocs.akamai.com/linode-api/reference/config-audit-log-delivery) for complete details.
                          properties:
                            access_key_id:
                              description: The unique identifier assigned to the Object Storage key required for authentication to the bucket. Run the [List Object Storage keys](https://techdocs.akamai.com/linode-api/reference/get-object-storage-keys) operation and store the `id` for the applicable key.
                              example: 123
                              type: string
                            bucket_name:
                              description: The name of the Object Storage bucket. Run the [List Object Storage buckets](https://techdocs.akamai.com/linode-api/reference/get-object-storage-buckets) operation and store the `label` for the target bucket.
                              example: primary-bucket
                              type: string
                            host:
                              description: The hostname where the Object Storage bucket can be accessed. Run the [List Object Storage buckets](https://techdocs.akamai.com/linode-api/reference/get-object-storage-buckets) operation and store the `hostname` for the target bucket.
                              example: primary-bucket-1.us-east-12.linodeobjects.com
                              type: string
                            path:
                              description: The specific path in an Object Storage bucket where audit logs files are uploaded.
                              example: audit-logs
                              type: string
                          required:
                          - host
                          - bucket_name
                          - access_key_id
                          type: object
                          x-akamai:
                            file-path: schemas/aclp-stream-destination-obj.yaml
                        id:
                          description: The unique identifier for the destination.
                          example: 12345
                          type: integer
                        label:
                          description: The name of the destination object. Used for display purposes.
                          example: OBJ_logs_destination
                          type: string
                        type:
                          description: The type of destination for logs data sync. Currently, only `akamai_object_storage` is supported for use. This lets you use Akamai Object Storage as your destination.
                          enum:
                          - akamai_object_storage
                          example: akamai_object_storage
                          type: string
                      type: object
                    type: array
                  details:
                    additionalProperties: false
                    description: Additional details for the stream, based on the selected `type`. Returned as an empty object if `type` is set to `audit_logs`.
                    properties:
                      cluster_ids:
                        description: 'The unique identifiers for each LKE enterprise cluster. Run the [List Kubernetes clusters](https://techdocs.akamai.com/linode-api/reference/get-lke-clusters) operation and store the `id` values for all applicable clusters.


                          > 📘

                          >

                          > If `is_auto_add_all_clusters_enabled` is set to `true`, you can''t call out individual `cluster_ids`.'
                        example:
                        - 1234
                        - 5678
                        items:
                          type: integer
                        type: array
                      is_auto_add_all_clusters_enabled:
                        default: false
                        description: Only applies to streams with a `type` of `lke_audit_logs`. When set to `true`, newly added LKE enterprise clusters on your account will be included in the logs stream. If `false`, only existing LKE enterprise clusters are included in the stream.
                        example: false
                        type: boolean
                    type: object
                  id:
                    description: __Read-only__ The unique identifier assigned to the stream.
                    example: 12345
                    readOnly: true
                    type: integer
                  label:
                    description: The name of the stream. This is used for display purposes in Akamai Cloud Manager.
                    example: Linode_services
                    type: string
                  status:
                    default: active
                    description: The availability status of the stream. This can be `active` or `inactive`.
                    enum:
                    - active
                    - inactive
                    example: inactive
                    type: string
                  type:
                    description: __Read-only__ The type of stream. This can be `audit_logs` for logs consisting of all of the control plane operations for the services in your Linodes, or `lke_audit_logs` for log data for your Linode Kubernetes Engine (LKE) enterprise clusters.
                    enum:
                    - audit_logs
                    - lke_audit_logs
                    example: audit_logs
                    readOnly: true
                    type: string
                  updated:
                    description: __Read-only__ When the stream was last updated. This is the same as `created` if the stream hasn't been updated.
                    example: '2025-03-20T01:41:09'
                    format: date-time
                    readOnly: true
                    type: string
                  updated_by:
                    description: __Read-only__ The name of the user on your account that last updated the stream. If it hasn't been updated, this value is the same as `created_by`.
                    example: Jane Q. Linode
                    readOnly: true
                    type: string
                  version:
                    description: __Read-only__ Identifies the version of the stream.
                    example: 1
                    readOnly: true
                    type: integer
                required:
                - label
                - type
                - destinations
                type: object
                x-akamai:
                  file-path: schemas/aclp-stream.yaml
          description: The logs stream was created.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - monitor:read_write
      summary: Create a stream
      tags:
      - Logs
      x-akamai:
        tabs:
        - syntax: monitor:read_write
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
        - syntax: 'linode-cli streams create \

            --label Logs stream for Managed Databases \

            --type audit_logs \

            --destinations 12345 \'
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: create
      x-linode-grant: read_write
    get:
      description: 'Returns all available streams used for log-tracking with your Akamai Cloud Computing services. This operation can only be accessed by account users with _unrestricted_ access. Talk to your local account administrator about access management.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `monitor:read_only`


        **CLI**


        ```shell

        linode-cli streams list

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-streams
      operationId: get-streams
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - created: '2025-03-20T01:41:09'
                  created_by: John Q. Linode
                  destinations:
                  - details:
                      access_key_id: 123
                      bucket_name: primary-bucket
                      host: primary-bucket-1.us-iad-12.linodeobjects.com
                      path: audit-logs
                    id: 12345
                    label: OBJ_logs_destination
                    type: akamai_object_storage
                  id: 12345
                  label: AuditLog-config
                  status: active
                  type: audit_logs
                  updated: '2025-03-20T01:41:09'
                  updated_by: Jane Q. Linode
                  version: 1
                page: 1
                pages: 1
                results: 1
              schema:
                allOf:
                - description: An envelope for paginated response. When accessing a collection through a GET endpoint, the results are wrapped in this envelope which includes metadata about those results. Results are presented within a `data` array. See [Pagination](https://techdocs.akamai.com/linode-api/reference/pagination) for more information.
                  properties:
                    page:
                      description: __Read-only__ The current [page](https://techdocs.akamai.com/linode-api/reference/pagination).
                      example: 1
                      readOnly: true
                      type: integer
                    pages:
                      description: __Read-only__ The total number of [pages](https://techdocs.akamai.com/linode-api/reference/pagination).
                      example: 1
                      readOnly: true
                      type: integer
                    results:
                      description: __Read-only__ The total number of results.
                      example: 1
                      readOnly: true
                      type: integer
                  type: object
                  x-akamai:
                    file-path: schemas/pagination-envelope.yaml
                - properties:
                    data:
                      description: A list of objects returned for a response.
                      items:
                        additionalProperties: false
                        properties:
                          created:
                            description: __Read-only__ When the stream was created.
                            example: '2025-03-20T01:41:09'
                            format: date-time
                            readOnly: true
                            type: string
                          created_by:
                            description: __Read-only__ The name of the user on your account that created the stream.
                            example: John Q. Linode
                            readOnly: true
                            type: string
                          destinations:
                            description: The sync points that will receive logs data.
                            items:
                              additionalProperties: false
                              properties:
                                details:
                                  additionalProperties: false
                                  description: Settings used for an Object Storage-based destination for a stream. You need an existing Object Storage bucket, configured to use Object Lock. See [Configure audit log delivery](https://techdocs.akamai.com/linode-api/reference/config-audit-log-delivery) for complete details.
                                  properties:
                                    access_key_id:
                                      description: The unique identifier assigned to the Object Storage key required for authentication to the bucket. Run the [List Object Storage keys](https://techdocs.akamai.com/linode-api/reference/get-object-storage-keys) operation and store the `id` for the applicable key.
                                      example: 123
                                      type: string
                                    bucket_name:
                                      description: The name of the Object Storage bucket. Run the [List Object Storage buckets](https://techdocs.akamai.com/linode-api/reference/get-object-storage-buckets) operation and store the `label` for the target bucket.
                                      example: primary-bucket
                                      type: string
                                    host:
                                      description: The hostname where the Object Storage bucket can be accessed. Run the [List Object Storage buckets](https://techdocs.akamai.com/linode-api/reference/get-object-storage-buckets) operation and store the `hostname` for the target bucket.
                                      example: primary-bucket-1.us-east-12.linodeobjects.com
                                      type: string
                                    path:
                                      description: The specific path in an Object Storage bucket where audit logs files are uploaded.
                                      example: audit-logs
                                      type: string
                                  required:
                                  - host
                                  - bucket_name
                                  - access_key_id
                                  type: object
                                  x-akamai:
                                    file-path: schemas/aclp-stream-destination-obj.yaml
                                id:
                                  description: The unique identifier for the destination.
                                  example: 12345
                                  type: integer
                                label:
                                  description: The name of the destination object. Used for display purposes.
                                  example: OBJ_logs_destination
                                  type: string
                                type:
                                  description: The type of destination for logs data sync. Currently, only `akamai_object_storage` is supported for use. This lets you use Akamai Object Storage as your destination.
                                  enum:
                                  - akamai_object_storage
                                  example: akamai_object_storage
                                  type: string
                              type: object
                            type: array
                          details:
                            additionalProperties: false
                            description: Additional details for the stream, based on the selected `type`. Returned as an empty object if `type` is set to `audit_logs`.
                            properties:
                              cluster_ids:
                                description: 'The unique identifiers for each LKE enterprise cluster. Run the [List Kubernetes clusters](https://techdocs.akamai.com/linode-api/reference/get-lke-clusters) operation and store the `id` values for all applicable clusters.


                                  > 📘

                                  >

                                  > If `is_auto_add_all_clusters_enabled` is set to `true`, you can''t call out individual `cluster_ids`.'
                                example:
                                - 1234
                                - 5678
                                items:
                                  type: integer
                                type: array
                              is_auto_add_all_clusters_enabled:
                                default: false
                                description: Only applies to streams with a `type` of `lke_audit_logs`. When set to `true`, newly added LKE enterprise clusters on your account will be included in the logs stream. If `false`, only existing LKE enterprise clusters are included in the stream.
                                example: false
                                type: boolean
                            type: object
                          id:
                            description: __Read-only__ The unique identifier assigned to the stream.
                            example: 12345
                            readOnly: true
                            type: integer
                          label:
                            description: The name of the stream. This is used for display purposes in Akamai Cloud Manager.
                            example: Linode_services
                            type: string
                          status:
                            default: active
                            description: The availability status of the stream. This can be `active` or `inactive`.
                            enum:
                            - active
                            - inactive
                            example: inactive
                            type: string
                          type:
                            description: __Read-only__ The type of stream. This can be `audit_logs` for logs consisting of all of the control plane operations for the services in your Linodes, or `lke_audit_logs` for log data for your Linode Kubernetes Engine (LKE) enterprise clusters.
                            enum:
                            - audit_logs
                            - lke_audit_logs
                            example: audit_logs
                            readOnly: true
                            type: string
                          updated:
                            description: __Read-only__ When the stream was last updated. This is the same as `created` if the stream hasn't been updated.
                            example: '2025-03-20T01:41:09'
                            format: date-time
                            readOnly: true
                            type: string
                          updated_by:
                            description: __Read-only__ The name of the user on your account that last updated the stream. If it hasn't been updated, this value is the same as `created_by`.
                            example: Jane Q. Linode
                            readOnly: true
                            type: string
                          version:
                            description: __Read-only__ Identifies the version of the stream.
                            example: 1
                            readOnly: true
                            type: integer
                        required:
                        - label
                        - type
                        - destinations
                        type: object
                        x-akamai:
                          file-path: schemas/aclp-stream.yaml
                      type: array
                  type: object
                x-akamai:
                  file-path: schemas/aclp-streams.yaml
          description: Returns a paginated list of logs streams.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - monitor:read_only
      summary: List streams
      tags:
      - Logs
      x-akamai:
        tabs:
        - syntax: monitor:read_only
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
        - syntax: linode-cli streams list
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action:
      - ls
      - list
      x-linode-grant: read_only
  /{apiVersion}/monitor/streams/destinations:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    x-akamai:
      file-path: paths/aclp-stream-destinations.yaml
      path-info: /{apiVersion}/monitor/streams/destinations
    x-linode-cli-command: streams
    post:
      description: 'Create a new destination to serve as a sync point for logs data. You need a destination, before you can create a stream. This operation can only be accessed by account users with _unrestricted_ access. Talk to your local account administrator about access management.


        > 🚧

        >

        > By using this service, you acknowledge your obligations under the United States Department of Justice Bulk Sensitive Data Transaction Rule ("BSD Rule"). You also agree that you will not use the service to transfer, onward transfer, or otherwise make accessible any United States government-related data or bulk United States sensitive personal data to countries of concern or a covered person, as each of those terms and concepts are defined in the BSD Rule. Anyone using the service is solely responsible for compliance with the BSD Rule.


        > 👍 There''s a tutorial

        >

        > We offer an example API workflow you can follow to set up a stream and its destination.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `monitor:read_write`


        **CLI**


        *CLI - Akamai Object Storage destination*


        ```shell

        linode-cli streams destination-create \

        --label OBJ_logs_destination \

        --type akamai_object_storage \

        --details.host primary-bucket-1.us-east-12.linodeobjects.com \

        --details.bucket_name primary-bucket \

        --details.path audit-logs \

        --details.access_key_id 1ABCD23EFG4HIJKLMNO5 \

        --details.access_key_secret 1aB2CD3e4fgHi5JK6lmnop7qR8STU9VxYzabcdefHh

        ```


        *CLI - Custom HTTPS destination*


        ```shell

        linode-cli streams destination-create \

        --label custom_https_logs_destination \

        --type custom_https \

        --details.endpoint_url https://my-site.com/log-storage/basicAuth \

        --details.content_type application/json \

        --details.data_compression gzip \

        --details.authentication.type basic \

        --details.authentication.details.basic_authentication_user John_Q \

        --details.authentication.details.basic_authentication_password C0mPl3X_p@$$w0Rd

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/post-destination
      operationId: post-destination
      requestBody:
        content:
          application/json:
            example:
              details:
                access_key_id: 123
                access_key_secret: 1aB2CD3e4fgHi5JK6lmnop7qR8STU9VxYzabcdefHh
                bucket_name: primary-bucket
                host: primary-bucket-1.us-iad-12.linodeobjects.com
                path: audit-logs
              label: OBJ_logs_destination
              status: active
              type: akamai_object_storage
            schema:
              additionalProperties: false
              properties:
                details:
                  example: '{{details}}'
                  oneOf:
                  - additionalProperties: false
                    description: Settings used for an Object Storage-based destination for a stream. You need an existing Object Storage bucket, configured to use Object Lock. See [Configure audit log delivery](https://techdocs.akamai.com/linode-api/reference/config-audit-log-delivery) for complete details.
                    properties:
                      access_key_id:
                        description: The unique identifier assigned to the Object Storage key required for authentication to the bucket. Run the [List Object Storage keys](https://techdocs.akamai.com/linode-api/reference/get-object-storage-keys) operation and store the `id` for the applicable key.
                        example: 1ABCD23EFG4HIJKLMNO5
                        type: string
                      access_key_secret:
                        description: 'The Object Storage key''s secret key. This is used as a password to validate the key.


                          > 📘

                          >

                          > This key is only available in the API, after you [create a new Object Storage key](https://techdocs.akamai.com/linode-api/reference/post-object-storage-keys). It''s hidden from other API operations--listed as `[REDACTED]`--to protect it. If you don''t have this key stored, you can create a new key.'
                        example: 1aB2CD3e4fgHi5JK6lmnop7qR8STU9VxYzabcdefHh
                        type: string
                      bucket_name:
                        description: The name of the Object Storage bucket. Run the [List Object Storage buckets](https://techdocs.akamai.com/linode-api/reference/get-object-storage-buckets) operation and store the `label` for the target bucket.
                        example: primary-bucket
                        type: string
                      host:
                        description: The hostname where the Object Storage bucket can be accessed. Run the [List Object Storage buckets](https://techdocs.akamai.com/linode-api/reference/get-object-storage-buckets) operation and store the `hostname` for the target bucket.
                        example: primary-bucket-1.us-east-12.linodeobjects.com
                        type: string
                      path:
                        description: Include this object to set a custom path for audit log storage in your Object Storage bucket.
                        example: audit-logs
                        type: string
                    required:
                    - host
                    - bucket_name
                    - access_key_id
                    - access_key_secret
                    title: Akamai Object Storage
                    type: object
                    x-akamai:
                      file-path: schemas/aclp-stream-destination-obj-request.yaml
                  - additionalProperties: false
                    description: Settings used for a custom HTTPS destination for a stream.
                    properties:
                      authentication:
                        additionalProperties: false
                        description: Authentication details required to access the `endpoint_url`.
                        properties:
                          details:
                            additionalProperties: false
                            description: Includes additional parameters necessary to define `basic` authentication. If `type` is set to `none`, leave this object empty or out of a request.
                            properties:
                              basic_authentication_password:
                                description: The password tied to the `basic_authentication_user`, for `basic` authentication.
                                example: C0mPl3X_p@$$w0Rd
                                type: string
                              basic_authentication_user:
                                description: The user name for `basic` authentication.
                                example: John_Q
                                type: string
                            required:
                            - basic_authentication_user
                            - basic_authentication_password
                            type: object
                          type:
                            description: The type of authentication in use. This can be `none` for no authentication, or `basic` for authentication using a username and password, set using the `details` parameters.
                            enum:
                            - none
                            - basic
                            example: basic
                            type: string
                        required:
                        - type
                        type: object
                      client_certificate_details:
                        additionalProperties: false
                        description: Contains mutual transport layer security (mTLS) client certificate information to additionally secure the connection for the request.
                        properties:
                          client_ca_certificate:
                            description: The certificate authority (CA) certificate used to verify a requesting server's identity.
                            example: '-----BEGIN CERTIFICATE-----\aBCDEfgHIJ1klMnOPQrSTUvXYZA+bCdefGh ... IjKlmN2OPqRSTu\vwx3y\z-----END CERTIFICATE-----'
                            type: string
                          client_certificate:
                            description: The PEM-formatted digital certificate you want to authenticate requests to your destination with.
                            example: '-----BEGIN CERTIFICATE-----\aBCDEfgHIJ1klMnOPQrSTUvXYZA+bCdefGh ... IjKlmN2OPqRSTu\vwx3y\z-----END CERTIFICATE-----'
                            type: string
                          client_private_key:
                            description: The private key in the non-encrypted PKCS8 format that authenticates with the back-end server.
                            example: '-----BEGIN CERTIFICATE-----\aBCDEfgHIJ1klMnOPQrSTUvXYZA+bCdefGh ... IjKlmN2OPqRSTu\vwx3y\z-----END CERTIFICATE-----'
                            type: string
                          tls_hostname:
                            description: For mTLS support, this is the hostname that verifies the server's certificate and matches the Subject Alternative Names (SANs) in the certificate. This requires inclusion of the `client_ca_certificate`, `client_certificate`, and the `client_private_key`. If this field is left out, the API fetches the hostname from the `endpoint_url`.
                            example: my-site.com
                            type: string
                        required:
                        - client_ca_certificate
                        - client_certificate
                        - client_private_key
                        - tls_hostname
                        type: object
                      content_type:
                        description: The content type for requests to the `endpoint_url`. This can be `application/json` for request bodies formatted as JSON, or `application/json; charset=utf-8` for JSON-format content encoded using UTF-8.
                        enum:
                        - application/json
                        - application/json; charset=utf-8
                        example: application/json
                        type: string
                      custom_headers:
                        description: Pairs of parameters used to optionally include custom headers in the request.
                        items:
                          additionalProperties: false
                          properties:
                            name:
                              description: The name of the custom header to include in the request.
                              example: Cache-Control
                              type: string
                            value:
                              description: The body content for the custom header to include in the request.
                              example: max-age=0
                              type: string
                          required:
                          - name
                          - value
                          type: object
                        type: array
                      data_compression:
                        description: Specifies whether data compression is applied to files included in a request. This can be `gzip` to apply this compression format or `none`.
                        enum:
                        - gzip
                        - none
                        example: gzip
                        type: string
                      endpoint_url:
                        description: The URL where the request will be sent.
                        example: https://my-site.com/log-storage/basicAuth
                        type: string
                    required:
                    - endpoint_url
                    - authentication
                    - data_compression
                    - content_type
                    title: Custom HTTPS
                    type: object
                    x-akamai:
                      file-path: schemas/aclp-stream-destination-custom.yaml
                id:
                  description: __Read-only__ The unique identifier assigned to the stream.
                  example: '{{id}}'
                  readOnly: true
                  type: integer
                label:
                  description: The name of the destination object. Used for display purposes.
                  example: '{{label}}'
                  type: string
                type:
                  description: The type of destination for log data sync, either `akamai_object_storage` if Object Storage is the destination, or `custom_https` for a unique URL.
                  enum:
                  - akamai_object_storage
                  - custom_https
                  example: '{{type}}'
                  type: string
              required:
              - label
              - type
              - details
              type: object
              x-akamai:
                file-path: schemas/aclp-stream-destination-request.yaml
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                ex-custom:
                  summary: Custom HTTPS destination
                  value:
                    created: '2025-07-20T09:45:13'
                    created_by: John Q. Linode
                    details:
                      authentication:
                        details:
                          basic_authentication_password: C0mPl3X_p@$$w0Rd
                          basic_authentication_user: John_Q
                        type: basic
                      client_certificate_details: {}
                      content_type: application/json
                      custom_headers:
                      - name: Cache-Control
                        value: max-age=0
                      data_compression: gzip
                      endpoint_url: https://my-site.com/log-storage/database-info
                    id: 12346
                    label: custom_logs_destination
                    type: custom_https
                    updated: '2025-07-21T12:41:09'
                    updated_by: Jane Q. Linode
                ex-obj:
                  summary: Object Storage destination
                  value:
                    created: '2025-07-20T09:45:13'
                    created_by: John Q. Linode
                    details:
                      access_key_id: 123
                      bucket_name: primary-bucket
                      host: primary-bucket-1.us-iad-12.linodeobjects.com
                      path: audit-logs
                    id: 12345
                    label: OBJ_logs_destination
                    status: active
                    type: akamai_object_storage
                    updated: '2025-07-21T12:41:09'
                    updated_by: Jane Q. Linode
                    version: 1
              schema:
                additionalProperties: false
                properties:
                  created:
                    description: __Read-only__ When the logs destination was created.
                    example: '2025-07-20 09:45:13'
                    format: date-time
                    readOnly: true
                    type: string
                  created_by:
                    description: __Read-only__ The name of the user on your account that created the logs destination.
                    example: John Q. Linode
                    readOnly: true
                    type: string
                  details:
                    oneOf:
                    - additionalProperties: false
                      description: Settings used for an Object Storage-based destination for a stream. You need an existing Object Storage bucket, configured to use Object Lock. See [Configure audit log delivery](https://techdocs.akamai.com/linode-api/reference/config-audit-log-delivery) for complete details.
                      properties:
                        access_key_id:
                          description: The unique identifier assigned to the Object Storage key required for authentication to the bucket. Run the [List Object Storage keys](https://techdocs.akamai.com/linode-api/reference/get-object-storage-keys) operation and store the `id` for the applicable key.
                          example: 123
                          type: string
                        bucket_name:
                          description: The name of the Object Storage bucket. Run the [List Object Storage buckets](https://techdocs.akamai.com/linode-api/reference/get-object-storage-buckets) operation and store the `label` for the target bucket.
                          example: primary-bucket
                          type: string
                        host:
                          description: The hostname where the Object Storage bucket can be accessed. Run the [List Object Storage buckets](https://techdocs.akamai.com/linode-api/reference/get-object-storage-buckets) operation and store the `hostname` for the target bucket.
                          example: primary-bucket-1.us-east-12.linodeobjects.com
                          type: string
                        path:
                          description: The specific path in an Object Storage bucket where audit logs files are uploaded.
                          example: audit-logs
                          type: string
                      required:
                      - host
                      - bucket_name
                      - access_key_id
                      title: akamai_object_storage
                      type: object
                      x-akamai:
                        file-path: schemas/aclp-stream-destination-obj.yaml
                    - additionalProperties: false
                      description: Settings used for a custom HTTPS destination for a stream.
                      properties:
                        authentication:
                          additionalProperties: false
                          description: Authentication details required to access the `endpoint_url`.
                          properties:
                            details:
                              additionalProperties: false
                              description: Includes additional parameters necessary to define `basic` authentication. If `type` is set to `none`, leave this object empty or out of a request.
                              properties:
                                basic_authentication_password:
                                  description: The password tied to the `basic_authentication_user`, for `basic` authentication.
                                  example: C0mPl3X_p@$$w0Rd
                                  type: string
                                basic_authentication_user:
                                  description: The user name for `basic` authentication.
                                  example: John_Q
                                  type: string
                              required:
                              - basic_authentication_user
                              - basic_authentication_password
                              type: object
                            type:
                              description: The type of authentication in use. This can be `none` for no authentication, or `basic` for authentication using a username and password, set using the `details` parameters.
                              enum:
                              - none
                              - basic
                              example: basic
                              type: string
                          required:
                          - type
                          type: object
                        client_certificate_details:
                          additionalProperties: false
                          description: Contains mutual transport layer security (mTLS) client certificate information to additionally secure the connection for the request.
                          properties:
                            client_ca_certificate:
                              description: The certificate authority (CA) certificate used to verify a requesting server's identity.
                              example: '-----BEGIN CERTIFICATE-----\aBCDEfgHIJ1klMnOPQrSTUvXYZA+bCdefGh ... IjKlmN2OPqRSTu\vwx3y\z-----END CERTIFICATE-----'
                              type: string
                            client_certificate:
                              description: The PEM-formatted digital certificate you want to authenticate requests to your destination with.
                              example: '-----BEGIN CERTIFICATE-----\aBCDEfgHIJ1klMnOPQrSTUvXYZA+bCdefGh ... IjKlmN2OPqRSTu\vwx3y\z-----END CERTIFICATE-----'
                              type: string
                            client_private_key:
                              description: The private key in the non-encrypted PKCS8 format that authenticates with the back-end server.
                              example: '-----BEGIN CERTIFICATE-----\aBCDEfgHIJ1klMnOPQrSTUvXYZA+bCdefGh ... IjKlmN2OPqRSTu\vwx3y\z-----END CERTIFICATE-----'
                              type: string
                            tls_hostname:
                              description: For mTLS support, this is the hostname that verifies the server's certificate and matches the Subject Alternative Names (SANs) in the certificate. This requires inclusion of the `client_ca_certificate`, `client_certificate`, and the `client_private_key`. If this field is left out, the API fetches the hostname from the `endpoint_url`.
                              example: my-site.com
                              type: string
                          required:
                          - client_ca_certificate
                          - client_certificate
                          - client_private_key
                          - tls_hostname
                          type: object
                        content_type:
                          description: The content type for requests to the `endpoint_url`. This can be `application/json` for request bodies formatted as JSON, or `application/json; charset=utf-8` for JSON-format content encoded using UTF-8.
                          enum:
                          - application/json
                          - application/json; charset=utf-8
                          example: application/json
                          type: string
                        custom_headers:
                          description: Pairs of parameters used to optionally include custom headers in the request.
                          items:
                            additionalProperties: false
                            properties:
                              name:
                                description: The name of the custom header to include in the request.
                                example: Cache-Control
                                type: string
                              value:
                                description: The body content for the custom header to include in the request.
                                example: max-age=0
                                type: string
                            required:
                            - name
                            - value
                            type: object
                          type: array
                        data_compression:
                          description: Specifies whether data compression is applied to files included in a request. This can be `gzip` to apply this compression format or `none`.
                          enum:
                          - gzip
                          - none
                          example: gzip
                          type: string
                        endpoint_url:
                          description: The URL where the request will be sent.
                          example: https://my-site.com/log-storage/basicAuth
                          type: string
                      required:
                      - endpoint_url
                      - authentication
                      - data_compression
                      - content_type
                      title: custom_https
                      type: object
                      x-akamai:
                        file-path: schemas/aclp-stream-destination-custom.yaml
                  id:
                    description: __Read-only__ The unique identifier assigned to the stream.
                    example: 12345
                    readOnly: true
                    type: integer
                  label:
                    description: The name of the destination object. Used for display purposes.
                    example: OBJ_logs_destination
                    type: string
                  status:
                    description: The availability status of the destination. This can be `active` or `inactive`.
                    enum:
                    - active
                    - inactive
                    example: active
                    type: string
                  type:
                    description: The type of destination for log data sync, either `akamai_object_storage` if Object Storage is the destination, or `custom_https` for a unique URL.
                    enum:
                    - akamai_object_storage
                    - custom_https
                    example: akamai_object_storage
                    type: string
                  updated:
                    description: __Read-only__ When the logs destination was last updated. This is the same as `created` if the destination hasn't been updated.
                    example: '2025-07-21 12:41:09'
                    format: date-time
                    readOnly: true
                    type: string
                  updated_by:
                    description: __Read-only__ The name of the user on your account that last updated the logs destination. If it hasn't been updated, this value is the same as `created_by`.
                    example: Jane Q. Linode
                    readOnly: true
                    type: string
                  version:
                    description: __Read-only__ The version of the destination.
                    example: 1
                    readOnly: true
                    type: integer
                required:
                - label
                - type
                - details
                type: object
                x-akamai:
                  file-path: schemas/aclp-stream-destination.yaml
          description: The Logs destination is created.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - monitor:read_write
      summary: Create a destination
      tags:
      - Logs
      x-akamai:
        tabs:
        - syntax: monitor:read_write
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
        - syntax: 'linode-cli streams destination-create \

            --label OBJ_logs_destination \

            --type akamai_object_storage \

            --details.host primary-bucket-1.us-east-12.linodeobjects.com \

            --details.bucket_name primary-bucket \

            --details.path audit-logs \

            --details.access_key_id 1ABCD23EFG4HIJKLMNO5 \

            --details.access_key_secret 1aB2CD3e4fgHi5JK6lmnop7qR8STU9VxYzabcdefHh'
          title: CLI - Akamai Object Storage destination
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
        - syntax: 'linode-cli streams destination-create \

            --label custom_https_logs_destination \

            --type custom_https \

            --details.endpoint_url https://my-site.com/log-storage/basicAuth \

            --details.content_type application/json \

            --details.data_compression gzip \

            --details.authentication.type basic \

            --details.authentication.details.basic_authentication_user John_Q \

            --details.authentication.details.basic_authentication_password C0mPl3X_p@$$w0Rd'
          title: CLI - Custom HTTPS destination
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: destination-create
      x-linode-grant: read_write
    get:
      description: 'Returns all available logs destinations. Destinations are used as sync points for log data. This operation can only be accessed by account users with _unrestricted_ access. Talk to your local account administrator about access management.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `monitor:read_only`


        **CLI**


        ```shell

        linode-cli streams destinations-list

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-destinations
      operationId: get-destinations
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - created: '2025-07-20T09:45:13'
                  created_by: John Q. Linode
                  details:
                    access_key_id: 123
                    bucket_name: primary-bucket
                    host: primary-bucket-1.us-iad-12.linodeobjects.com
                    path: audit-logs-logs
                  id: 12345
                  label: OBJ_logs_destination
                  status: active
                  type: akamai_object_storage
                  updated: '2025-07-21T12:41:09'
                  updated_by: Jane Q. Linode
                  version: 2
                - created: '2025-07-21T10:30:15'
                  created_by: Jane Q. Linode
                  details:
                    access_key_id: 456
                    bucket_name: secondary-bucket
                    host: secondary-bucket-1.us-iad-12.linodeobjects.com
                    path: audit-logs-backup
                  id: 12345
                  label: OBJ_logs_backup_destination
                  status: inactive
                  type: akamai_object_storage
                  updated: '2025-07-21T10:30:15'
                  updated_by: Jane Q. Linode
                  version: 1
                - created: '2025-07-20T10:15:19'
                  created_by: John Q. Linode
                  details:
                    authentication:
                      details:
                        basic_authentication_password: C0mPl3X_p@$$w0Rd
                        basic_authentication_user: John_Q
                      type: basic
                    client_certificate_details: {}
                    content_type: application/json
                    custom_headers:
                    - name: Cache-Control
                      value: max-age=0
                    data_compression: gzip
                    endpoint_url: https://my-site.com/log-storage/database-info
                  id: 12346
                  label: custom_logs_destination
                  type: custom_https
                  updated: '2025-07-20T10:15:19'
                  updated_by: John Q. Linode
                  version: 1
                page: 1
                pages: 1
                results: 3
              schema:
                allOf:
                - description: An envelope for paginated response. When accessing a collection through a GET endpoint, the results are wrapped in this envelope which includes metadata about those results. Results are presented within a `data` array. See [Pagination](https://techdocs.akamai.com/linode-api/reference/pagination) for more information.
                  properties:
                    page:
                      description: __Read-only__ The current [page](https://techdocs.akamai.com/linode-api/reference/pagination).
                      example: 1
                      readOnly: true
                      type: integer
                    pages:
                      description: __Read-only__ The total number of [pages](https://techdocs.akamai.com/linode-api/reference/pagination).
                      example: 1
                      readOnly: true
                      type: integer
                    results:
                      description: __Read-only__ The total number of results.
                      example: 1
                      readOnly: true
                      type: integer
                  type: object
                  x-akamai:
                    file-path: schemas/pagination-envelope.yaml
                - properties:
                    data:
                      description: A list of objects returned for a response.
                      items:
                        additionalProperties: false
                        properties:
                          created:
                            description: __Read-only__ When the logs destination was created.
                            example: '2025-07-20 09:45:13'
                            format: date-time
                            readOnly: true
                            type: string
                          created_by:
                            description: __Read-only__ The name of the user on your account that created the logs destination.
                            example: John Q. Linode
                            readOnly: true
                            type: string
                          details:
                            oneOf:
                            - additionalProperties: false
                              description: Settings used for an Object Storage-based destination for a stream. You need an existing Object Storage bucket, configured to use Object Lock. See [Configure audit log delivery](https://techdocs.akamai.com/linode-api/reference/config-audit-log-delivery) for complete details.
                              properties:
                                access_key_id:
                                  description: The unique identifier assigned to the Object Storage key required for authentication to the bucket. Run the [List Object Storage keys](https://techdocs.akamai.com/linode-api/reference/get-object-storage-keys) operation and store the `id` for the applicable key.
                                  example: 123
                                  type: string
                                bucket_name:
                                  description: The name of the Object Storage bucket. Run the [List Object Storage buckets](https://techdocs.akamai.com/linode-api/reference/get-object-storage-buckets) operation and store the `label` for the target bucket.
                                  example: primary-bucket
                                  type: string
                                host:
                                  description: The hostname where the Object Storage bucket can be accessed. Run the [List Object Storage buckets](https://techdocs.akamai.com/linode-api/reference/get-object-storage-buckets) operation and store the `hostname` for the target bucket.
                                  example: primary-bucket-1.us-east-12.linodeobjects.com
                                  type: string
                                path:
                                  description: The specific path in an Object Storage bucket where audit logs files are uploaded.
                                  example: audit-logs
                                  type: string
                              required:
                              - host
                              - bucket_name
                              - access_key_id
                              title: akamai_object_storage
                              type: object
                              x-akamai:
                                file-path: schemas/aclp-stream-destination-obj.yaml
                            - additionalProperties: false
                              description: Settings used for a custom HTTPS destination for a stream.
                              properties:
                                authentication:
                                  additionalProperties: false
                                  description: Authentication details required to access the `endpoint_url`.
                                  properties:
                                    details:
                                      additionalProperties: false
                                      description: Includes additional parameters necessary to define `basic` authentication. If `type` is set to `none`, leave this object empty or out of a request.
                                      properties:
                                        basic_authentication_password:
                                          description: The password tied to the `basic_authentication_user`, for `basic` authentication.
                                          example: C0mPl3X_p@$$w0Rd
                                          type: string
                                        basic_authentication_user:
                                          description: The user name for `basic` authentication.
                                          example: John_Q
                                          type: string
                                      required:
                                      - basic_authentication_user
                                      - basic_authentication_password
                                      type: object
                                    type:
                                      description: The type of authentication in use. This can be `none` for no authentication, or `basic` for authentication using a username and password, set using the `details` parameters.
                                      enum:
                                      - none
                                      - basic
                                      example: basic
                                      type: string
                                  required:
                                  - type
                                  type: object
                                client_certificate_details:
                                  additionalProperties: false
                                  description: Contains mutual transport layer security (mTLS) client certificate information to additionally secure the connection for the request.
                                  properties:
                                    client_ca_certificate:
                                      description: The certificate authority (CA) certificate used to verify a requesting server's identity.
                                      example: '-----BEGIN CERTIFICATE-----\aBCDEfgHIJ1klMnOPQrSTUvXYZA+bCdefGh ... IjKlmN2OPqRSTu\vwx3y\z-----END CERTIFICATE-----'
                                      type: string
                                    client_certificate:
                                      description: The PEM-formatted digital certificate you want to authenticate requests to your destination with.
                                      example: '-----BEGIN CERTIFICATE-----\aBCDEfgHIJ1klMnOPQrSTUvXYZA+bCdefGh ... IjKlmN2OPqRSTu\vwx3y\z-----END CERTIFICATE-----'
                                      type: string
                                    client_private_key:
                                      description: The private key in the non-encrypted PKCS8 format that authenticates with the back-end server.
                                      example: '-----BEGIN CERTIFICATE-----\aBCDEfgHIJ1klMnOPQrSTUvXYZA+bCdefGh ... IjKlmN2OPqRSTu\vwx3y\z-----END CERTIFICATE-----'
                                      type: string
                                    tls_hostname:
                                      description: For mTLS support, this is the hostname that verifies the server's certificate and matches the Subject Alternative Names (SANs) in the certificate. This requires inclusion of the `client_ca_certificate`, `client_certificate`, and the `client_private_key`. If this field is left out, the API fetches the hostname from the `endpoint_url`.
                                      example: my-site.com
                                      type: string
                                  required:
                                  - client_ca_certificate
                                  - client_certificate
                                  - client_private_key
                                  - tls_hostname
                                  type: object
                                content_type:
                                  description: The content type for requests to the `endpoint_url`. This can be `application/json` for request bodies formatted as JSON, or `application/json; charset=utf-8` for JSON-format content encoded using UTF-8.
                                  enum:
                                  - application/json
                                  - application/json; charset=utf-8
                                  example: application/json
                                  type: string
                                custom_headers:
                                  description: Pairs of parameters used to optionally include custom headers in the request.
                                  items:
                                    additionalProperties: false
                                    properties:
                                      name:
                                        description: The name of the custom header to include in the request.
                                        example: Cache-Control
                                        type: string
                                      value:
                                        description: The body content for the custom header to include in the request.
                                        example: max-age=0
                                        type: string
                                    required:
                                    - name
                                    - value
                                    type: object
                                  type: array
                                data_compression:
                                  description: Specifies whether data compression is applied to files included in a request. This can be `gzip` to apply this compression format or `none`.
                                  enum:
                                  - gzip
                                  - none
                                  example: gzip
                                  type: string
                                endpoint_url:
                                  description: The URL where the request will be sent.
                                  example: https://my-site.com/log-storage/basicAuth
                                  type: string
                              required:
                              - endpoint_url
                              - authentication
                              - data_compression
                              - content_type
                              title: custom_https
                              type: object
                              x-akamai:
                                file-path: schemas/aclp-stream-destination-custom.yaml
                          id:
                            description: __Read-only__ The unique identifier assigned to the stream.
                            example: 12345
                            readOnly: true
                            type: integer
                          label:
                            description: The name of the destination object. Used for display purposes.
                            example: OBJ_logs_destination
                            type: string
                          status:
                            description: The availability status of the destination. This can be `active` or `inactive`.
                            enum:
                            - active
                            - inactive
                            example: active
                            type: string
                          type:
                            description: The type of destination for log data sync, either `akamai_object_storage` if Object Storage is the destination, or `custom_https` for a unique URL.
                            enum:
                            - akamai_object_storage
                            - custom_https
                            example: akamai_object_storage
                            type: string
                          updated:
                            description: __Read-only__ When the logs destination was last updated. This is the same as `created` if the destination hasn't been updated.
                            example: '2025-07-21 12:41:09'
                            format: date-time
                            readOnly: true
                            type: string
                          updated_by:
                            description: __Read-only__ The name of the user on your account that last updated the logs destination. If it hasn't been updated, this value is the same as `created_by`.
                            example: Jane Q. Linode
                            readOnly: true
                            type: string
                          version:
                            description: __Read-only__ The version of the destination.
                            example: 1
                            readOnly: true
                            type: integer
                        required:
                        - label
                        - type
                        - details
                        type: object
                        x-akamai:
                          file-path: schemas/aclp-stream-destination.yaml
                      type: array
                  type: object
                x-akamai:
                  file-path: schemas/aclp-stream-destinations.yaml
          description: Returns a paginated list of logs destinations.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - monitor:read_only
      summary: List destinations
      tags:
      - Logs
      x-akamai:
        tabs:
        - syntax: monitor:read_only
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
        - syntax: linode-cli streams destinations-list
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: destinations-list
      x-linode-grant: read_only
  /{apiVersion}/monitor/streams/destinations/{destinationId}:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    - description: The unique identifier assigned to the logs destination. Run the [List destinations](https://techdocs.akamai.com/linode-api/reference/get-destinations) operation and store the `id` for the applicable one.
      example: '{{destinationId}}'
      in: path
      name: destinationId
      required: true
      schema:
        example: 234
        type: integer
      x-akamai:
        file-path: parameters/aclp-destination-id.yaml
    x-akamai:
      file-path: paths/aclp-stream-destination.yaml
      path-info: /{apiVersion}/monitor/streams/destinations/{destinationId}
    x-linode-cli-command: streams
    get:
      description: 'Returns a specific logs destination. This operation can only be accessed by account users with _unrestricted_ access. Talk to your local account administrator about access management.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `monitor:read_only`


        **CLI**


        ```shell

        linode-cli streams destination-view 456

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-destination
      operationId: get-destination
      responses:
        '200':
          content:
            application/json:
              examples:
                ex-custom:
                  summary: Custom HTTPS destination
                  value:
                    created: '2025-07-20T09:45:13'
                    created_by: John Q. Linode
                    details:
                      authentication:
                        details:
                          basic_authentication_password: C0mPl3X_p@$$w0Rd
                          basic_authentication_user: John_Q
                        type: basic
                      client_certificate_details: {}
                      content_type: application/json
                      custom_headers:
                      - name: Cache-Control
                        value: max-age=0
                      data_compression: gzip
                      endpoint_url: https://my-site.com/log-storage/database-info
                    id: 12346
                    label: custom_logs_destination
                    type: custom_https
                    updated: '2025-07-21T12:41:09'
                    updated_by: Jane Q. Linode
                ex-obj:
                  summary: Object Storage destination
                  value:
                    created: '2025-07-20T09:45:13'
                    created_by: John Q. Linode
                    details:
                      access_key_id: 123
                      bucket_name: primary-bucket
                      host: primary-bucket-1.us-iad-12.linodeobjects.com
                      path: audit-logs
                    id: 12345
                    label: OBJ_logs_destination
                    status: active
                    type: akamai_object_storage
                    updated: '2025-07-21T12:41:09'
                    updated_by: Jane Q. Linode
                    version: 1
              schema:
                additionalProperties: false
                properties:
                  created:
                    description: __Read-only__ When the logs destination was created.
                    example: '2025-07-20 09:45:13'
                    format: date-time
                    readOnly: true
                    type: string
                  created_by:
                    description: __Read-only__ The name of the user on your account that created the logs destination.
                    example: John Q. Linode
                    readOnly: true
                    type: string
                  details:
                    oneOf:
                    - additionalProperties: false
                      description: Settings used for an Object Storage-based destination for a stream. You need an existing Object Storage bucket, configured to use Object Lock. See [Configure audit log delivery](https://techdocs.akamai.com/linode-api/reference/config-audit-log-delivery) for complete details.
                      properties:
                        access_key_id:
                          description: The unique identifier assigned to the Object Storage key required for authentication to the bucket. Run the [List Object Storage keys](https://techdocs.akamai.com/linode-api/reference/get-object-storage-keys) operation and store the `id` for the applicable key.
                          example: 123
                          type: string
                        bucket_name:
                          description: The name of the Object Storage bucket. Run the [List Object Storage buckets](https://techdocs.akamai.com/linode-api/reference/get-object-storage-buckets) operation and store the `label` for the target bucket.
                          example: primary-bucket
                          type: string
                        host:
                          description: The hostname where the Object Storage bucket can be accessed. Run the [List Object Storage buckets](https://techdocs.akamai.com/linode-api/reference/get-object-storage-buckets) operation and store the `hostname` for the target bucket.
                          example: primary-bucket-1.us-east-12.linodeobjects.com
                          type: string
                        path:
                          description: The specific path in an Object Storage bucket where audit logs files are uploaded.
                          example: audit-logs
                          type: string
                      required:
                      - host
                      - bucket_name
                      - access_key_id
                      title: akamai_object_storage
                      type: object
                      x-akamai:
                        file-path: schemas/aclp-stream-destination-obj.yaml
                    - additionalProperties: false
                      description: Settings used for a custom HTTPS destination for a stream.
                      properties:
                        authentication:
                          additionalProperties: false
                          description: Authentication details required to access the `endpoint_url`.
                          properties:
                            details:
                              additionalProperties: false
                              description: Includes additional parameters necessary to define `basic` authentication. If `type` is set to `none`, leave this object empty or out of a request.
                              properties:
                                basic_authentication_password:
                                  description: The password tied to the `basic_authentication_user`, for `basic` authentication.
                                  example: C0mPl3X_p@$$w0Rd
                                  type: string
                                basic_authentication_user:
                                  description: The user name for `basic` authentication.
                                  example: John_Q
                                  type: string
                              required:
                              - basic_authentication_user
                              - basic_authentication_password
                              type: object
                            type:
                              description: The type of authentication in use. This can be `none` for no authentication, or `basic` for authentication using a username and password, set using the `details` parameters.
                              enum:
                              - none
                              - basic
                              example: basic
                              type: string
                          required:
                          - type
                          type: object
                        client_certificate_details:
                          additionalProperties: false
                          description: Contains mutual transport layer security (mTLS) client certificate information to additionally secure the connection for the request.
                          properties:
                            client_ca_certificate:
                              description: The certificate authority (CA) certificate used to verify a requesting server's identity.
                              example: '-----BEGIN CERTIFICATE-----\aBCDEfgHIJ1klMnOPQrSTUvXYZA+bCdefGh ... IjKlmN2OPqRSTu\vwx3y\z-----END CERTIFICATE-----'
                              type: string
                            client_certificate:
                              description: The PEM-formatted digital certificate you want to authenticate requests to your destination with.
                              example: '-----BEGIN CERTIFICATE-----\aBCDEfgHIJ1klMnOPQrSTUvXYZA+bCdefGh ... IjKlmN2OPqRSTu\vwx3y\z-----END CERTIFICATE-----'
                              type: string
                            client_private_key:
                              description: The private key in the non-encrypted PKCS8 format that authenticates with the back-end server.
                              example: '-----BEGIN CERTIFICATE-----\aBCDEfgHIJ1klMnOPQrSTUvXYZA+bCdefGh ... IjKlmN2OPqRSTu\vwx3y\z-----END CERTIFICATE-----'
                              type: string
                            tls_hostname:
                              description: For mTLS support, this is the hostname that verifies the server's certificate and matches the Subject Alternative Names (SANs) in the certificate. This requires inclusion of the `client_ca_certificate`, `client_certificate`, and the `client_private_key`. If this field is left out, the API fetches the hostname from the `endpoint_url`.
                              example: my-site.com
                              type: string
                          required:
                          - client_ca_certificate
                          - client_certificate
                          - client_private_key
                          - tls_hostname
                          type: object
                        content_type:
                          description: The content type for requests to the `endpoint_url`. This can be `application/json` for request bodies formatted as JSON, or `application/json; charset=utf-8` for JSON-format content encoded using UTF-8.
                          enum:
                          - application/json
                          - application/json; charset=utf-8
                          example: application/json
                          type: string
                        custom_headers:
                          description: Pairs of parameters used to optionally include custom headers in the request.
                          items:
                            additionalProperties: false
                            properties:
                              name:
                                description: The name of the custom header to include in the request.
                                example: Cache-Control
                                type: string
                              value:
                                description: The body content for the custom header to include in the request.
                                example: max-age=0
                                type: string
                            required:
                            - name
                            - value
                            type: object
                          type: array
                        data_compression:
                          description: Specifies whether data compression is applied to files included in a request. This can be `gzip` to apply this compression format or `none`.
                          enum:
                          - gzip
                          - none
                          example: gzip
                          type: string
                        endpoint_url:
                          description: The URL where the request will be sent.
                          example: https://my-site.com/log-storage/basicAuth
                          type: string
                      required:
                      - endpoint_url
                      - authentication
                      - data_compression
                      - content_type
                      title: custom_https
                      type: object
                      x-akamai:
                        file-path: schemas/aclp-stream-destination-custom.yaml
                  id:
                    description: __Read-only__ The unique identifier assigned to the stream.
                    example: 12345
                    readOnly: true
                    type: integer
                  label:
                    description: The name of the destination object. Used for display purposes.
                    example: OBJ_logs_destination
                    type: string
                  status:
                    description: The availability status of the destination. This can be `active` or `inactive`.
                    enum:
                    - active
                    - inactive
                    example: active
                    type: string
                  type:
                    description: The type of destination for log data sync, either `akamai_object_storage` if Object Storage is the destination, or `custom_https` for a unique URL.
                    enum:
                    - akamai_object_storage
                    - custom_https
                    example: akamai_object_storage
                    type: string
                  updated:
                    description: __Read-only__ When the logs destination was last updated. This is the same as `created` if the destination hasn't been updated.
                    example: '2025-07-21 12:41:09'
                    format: date-time
                    readOnly: true
                    type: string
                  updated_by:
                    description: __Read-only__ The name of the user on your account that last updated the logs destination. If it hasn't been updated, this value is the same as `created_by`.
                    example: Jane Q. Linode
                    readOnly: true
                    type: string
                  version:
                    description: __Read-only__ The version of the destination.
                    example: 1
                    readOnly: true
                    type: integer
                required:
                - label
                - type
                - details
[...]
