openapi: 3.2.0
info:
  description: Add a Cloud Computing instance so you can build, release, and scale applications faster with virtual machines.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: 'Akamai: Linode Security questions API'
  version: 4.229.1
servers:
- url: https://api.linode.com
tags:
- description: View and configure security questions for your user account. Security questions can be used to help verify your identity when contacting Akamai Support.
  name: Security questions
paths:
  /{apiVersion}/profile/security-questions:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    x-akamai:
      file-path: paths/profile-security-questions.yaml
      path-info: /{apiVersion}/profile/security-questions
    x-linode-cli-command: security-questions
    post:
      description: 'Adds security question responses for your user. You need to use exactly three unique questions. Previous responses are overwritten if answered, or they''re reset to `null` if unanswered.


        > 📘

        >

        > You need to answer these security questions before you can access the Create a two factor secret operation.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs a role with these permissions assigned. Learn more.

        - Permissions: `answer_profile_security_questions`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `account:read_write`'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/post-security-questions
      operationId: post-security-questions
      requestBody:
        content:
          application/json:
            example:
              security_questions:
              - question_id: 1
                response: Gotham City
            schema:
              additionalProperties: false
              description: Security questions and responses object for POST operation.
              properties:
                security_questions:
                  description: Security questions and response objects.
                  items:
                    additionalProperties: false
                    description: Single security question and response object for POST operation.
                    properties:
                      question_id:
                        description: The ID representing the security question.
                        example: 1
                        type: integer
                      response:
                        description: The security question response.
                        example: Gotham City
                        maxLength: 17
                        minLength: 3
                        type: string
                      security_question:
                        description: __Read-only__ The security question.
                        example: In what city were you born?
                        readOnly: true
                        type: string
                    type: object
                  type: array
              type: object
              x-akamai:
                file-path: schemas/security-questions-post.yaml
      responses:
        '200':
          content:
            application/json:
              example:
                security_questions:
                - question_id: 1
                  response: Gotham City
                  security_question: In what city were you born?
              schema:
                additionalProperties: false
                description: Security questions and responses object for POST operation.
                properties:
                  security_questions:
                    description: Security questions and response objects.
                    items:
                      additionalProperties: false
                      description: Single security question and response object for POST operation.
                      properties:
                        question_id:
                          description: The ID representing the security question.
                          example: 1
                          type: integer
                        response:
                          description: The security question response.
                          example: Gotham City
                          maxLength: 17
                          minLength: 3
                          type: string
                        security_question:
                          description: __Read-only__ The security question.
                          example: In what city were you born?
                          readOnly: true
                          type: string
                      type: object
                    type: array
                type: object
                x-akamai:
                  file-path: schemas/security-questions-post.yaml
          description: Security Questions answered successfully.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_write
      summary: Answer security questions
      tags:
      - Security questions
      x-linode-cli-action: answer
      x-linode-cli-skip: true
      x-linode-iam:
      - permissions:
        - answer_profile_security_questions
    get:
      description: 'Returns a collection of security questions and their responses, if any, for your User Profile.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs a role with these permissions assigned. Learn more.

        - Permissions: `list_profile_security_questions`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `account:read_only`


        **CLI**


        ```shell

        linode-cli security-questions list

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-security-questions
      operationId: get-security-questions
      responses:
        '200':
          content:
            application/json:
              example:
                security_questions:
                - id: 1
                  question: In what city were you born?
                  response: Gotham City
              schema:
                additionalProperties: false
                description: Security questions and responses object for GET operation.
                properties:
                  security_questions:
                    description: Security questions and response objects.
                    items:
                      additionalProperties: false
                      description: Single security question and response object for GET operation.
                      properties:
                        id:
                          description: The ID representing the security question.
                          example: 1
                          type: integer
                        question:
                          description: __Read-only__ The security question.
                          example: In what city were you born?
                          readOnly: true
                          type: string
                        response:
                          description: The security question response.
                          example: Gotham City
                          maxLength: 17
                          minLength: 3
                          type: string
                      type: object
                    type: array
                type: object
                x-akamai:
                  file-path: schemas/security-questions-get.yaml
              x-linode-cli-nested-list: security_questions
              x-linode-cli-use-schema:
                additionalProperties: false
                properties:
                  security_questions.id:
                    x-linode-cli-display: 1
                  security_questions.question:
                    x-linode-cli-display: 2
                  security_questions.response:
                    x-linode-cli-display: 3
                type: object
                x-akamai:
                  file-path: schemas/security-questions-get-cli.yaml
          description: Returns a list of security questions.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_only
      summary: List security questions
      tags:
      - Security questions
      x-akamai:
        tabs:
        - syntax: linode-cli security-questions list
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action:
      - list
      - ls
      x-linode-grant: read_only
      x-linode-iam:
      - permissions:
        - list_profile_security_questions
components:
  securitySchemes:
    oauth:
      flows:
        authorizationCode:
          authorizationUrl: https://login.linode.com/oauth/authorize
          scopes:
            account:read_only: Allows access to GET information about your account.
            account:read_write: Allows access to all endpoints related to your account.
            child_account:read_only: Allows access to GET information about deprecated parent/child operations.
            child_account:read_write: Allows access to deprecated parent/child operations.
            databases:read_only: Allows access to GET information about databases.
            databases:read_write: Allows access to all endpoints related to databases.
            domains:read_only: Allows access to GET Domains on your account.
            domains:read_write: Allows access to all Domain endpoints.
            events:read_only: Allows access to GET your Events.
            events:read_write: Allows access to all endpoints related to your Events.
            firewall:read_only: Allows access to GET information about your Firewalls.
            firewall:read_write: Allows access to all Firewall endpoints.
            images:read_only: Allows access to GET your Images.
            images:read_write: Allows access to all endpoints related to your Images.
            ips:read_only: Allows access to GET your ips.
            ips:read_write: Allows access to all endpoints related to your ips.
            linodes:read_only: Allows access to GET Linodes on your account.
            linodes:read_write: Allow access to all endpoints related to your Linodes.
            lke:read_only: Allows access to GET LKE Clusters on your account.
            lke:read_write: Allows access to all endpoints related to LKE Clusters on your account.
            longview:read_only: Allows access to GET your Longview Clients.
            longview:read_write: Allows access to all endpoints related to your Longview Clients.
            monitor:read_only: Allows access to Monitor (Akamai Cloud Pulse) data.
            monitor:read_write: Allows access to GET Monitor (Akamai Cloud Pulse) data.
            nodebalancers:read_only: Allows access to GET NodeBalancers on your account.
            nodebalancers:read_write: Allows access to all NodeBalancer endpoints.
            object_storage:read_only: Allows access to GET information related to your Object Storage.
            object_storage:read_write: Allows access to all Object Storage endpoints.
            stackscripts:read_only: Allows access to GET your StackScripts.
            stackscripts:read_write: Allows access to all endpoints related to your StackScripts.
            volumes:read_only: Allows access to GET your Volumes.
            volumes:read_write: Allows access to all endpoints related to your Volumes.
            vpc:read_write: Allows access to all endpoints related to VPC and Subnet creation, updating, and deletion.
          tokenUrl: https://login.linode.com/oauth/token
      type: oauth2
    personalAccessToken:
      scheme: bearer
      type: http
externalDocs:
  description: See documentation for Akamai's Linode API
  url: https://techdocs.akamai.com/linode-api/reference
x-readme:
  explorer-enabled: false
  samples-languages:
  - curl
  - python
  - node
