openapi: 3.2.0
info:
  description: Add a Cloud Computing instance so you can build, release, and scale applications faster with virtual machines.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: 'Akamai: Linode Managed credentials API'
  version: 4.229.1
servers:
- url: https://api.linode.com
tags:
- description: Create and manage credentials used by Linode Managed to access your Linodes for support and maintenance.
  name: Managed credentials
paths:
  /{apiVersion}/managed/credentials:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    x-akamai:
      file-path: paths/managed-credentials.yaml
      path-info: /{apiVersion}/managed/credentials
    x-linode-cli-command: managed
    post:
      description: 'Creates a managed credential to store usernames and passwords for applications running on your Linode. Akamai Support can use these credentials to access your applications when investigating or resolving issues.


        This operation can only be accessed by the unrestricted users of an account.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `account:read_write`


        **CLI**


        ```shell

        linode-cli managed credential-create \

        --label prod-password-1 \

        --username johndoe \

        --password s3cur3P@ssw0rd

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/post-managed-credential
      operationId: post-managed-credential
      requestBody:
        content:
          application/json:
            example:
              label: prod-password-1
              password: s3cur3P@ssw0rd
              username: jperez
            schema:
              additionalProperties: false
              properties:
                label:
                  description: The unique label for this Credential. This is for display purposes only.
                  example: '{{label}}'
                  maxLength: 75
                  minLength: 2
                  pattern: '[a-zA-Z0-9-_ \.]{2,75}'
                  type: string
                  x-linode-cli-display: 2
                password:
                  description: The password to use when accessing the Managed Service.
                  example: '{{password}}'
                  type: string
                username:
                  description: The username to use when accessing the Managed Service.
                  example: '{{username}}'
                  maxLength: 5000
                  type: string
              required:
              - label
              - password
              type: object
              x-akamai:
                file-path: schemas/post-managed-credential.yaml
      responses:
        '200':
          content:
            application/json:
              example:
                id: 9991
                label: prod-password-1
                last_decrypted: '2018-01-01T00:01:01'
              schema:
                additionalProperties: false
                description: A securely stored Credential that allows Linode's special forces to access a Managed server to respond to Issues.
                properties:
                  id:
                    description: __Read-only__ This Credential's unique ID.
                    example: 9991
                    readOnly: true
                    type: integer
                    x-linode-cli-display: 1
                  label:
                    description: The unique label for this Credential. This is for display purposes only.
                    example: prod-password-1
                    maxLength: 75
                    minLength: 2
                    pattern: '[a-zA-Z0-9-_ \.]{2,75}'
                    type: string
                    x-linode-cli-display: 2
                  last_decrypted:
                    description: __Read-only__ The date this Credential was last decrypted by a member of Linode special forces.
                    example: '2018-01-01T00:01:01'
                    readOnly: true
                    type: string
                    x-linode-cli-display: 3
                type: object
                x-akamai:
                  file-path: schemas/managed-credential.yaml
          description: Credential created.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_write
      summary: Create a managed credential
      tags:
      - Managed credentials
      x-akamai:
        tabs:
        - syntax: "linode-cli managed credential-create \\\n  --label prod-password-1 \\\n  --username johndoe \\\n  --password s3cur3P@ssw0rd"
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
        - syntax: account:read_write
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action: credential-create
      x-linode-grant: unrestricted only
    get:
      description: 'Returns a paginated list of managed credentials on your account.


        This operation can only be accessed by the unrestricted users of an account.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `account:read_only`


        **CLI**


        ```shell

        linode-cli managed credentials-list

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-managed-credentials
      operationId: get-managed-credentials
      parameters:
      - description: The page of a collection to return.
        example: '{{page}}'
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 6
          minimum: 1
          type: integer
        x-akamai:
          file-path: parameters/page-offset.yaml
      - description: The number of items to return per page.
        example: '{{page_size}}'
        in: query
        name: page_size
        schema:
          default: 100
          example: 50
          maximum: 500
          minimum: 25
          type: integer
        x-akamai:
          file-path: parameters/page-size.yaml
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - id: 9991
                  label: prod-password-1
                  last_decrypted: '2018-01-01T00:01:01'
                page: 1
                pages: 1
                results: 1
              schema:
                additionalProperties: false
                properties:
                  data:
                    items:
                      additionalProperties: false
                      description: A securely stored Credential that allows Linode's special forces to access a Managed server to respond to Issues.
                      properties:
                        id:
                          description: __Read-only__ This Credential's unique ID.
                          example: 9991
                          readOnly: true
                          type: integer
                          x-linode-cli-display: 1
                        label:
                          description: The unique label for this Credential. This is for display purposes only.
                          example: prod-password-1
                          maxLength: 75
                          minLength: 2
                          pattern: '[a-zA-Z0-9-_ \.]{2,75}'
                          type: string
                          x-linode-cli-display: 2
                        last_decrypted:
                          description: __Read-only__ The date this Credential was last decrypted by a member of Linode special forces.
                          example: '2018-01-01T00:01:01'
                          readOnly: true
                          type: string
                          x-linode-cli-display: 3
                      type: object
                      x-akamai:
                        file-path: schemas/managed-credential.yaml
                    type: array
                  page:
                    description: __Read-only__ The current [page](https://techdocs.akamai.com/linode-api/reference/pagination).
                    example: 1
                    readOnly: true
                    type: integer
                  pages:
                    description: __Read-only__ The total number of [pages](https://techdocs.akamai.com/linode-api/reference/pagination).
                    example: 1
                    readOnly: true
                    type: integer
                  results:
                    description: __Read-only__ The total number of results.
                    example: 1
                    readOnly: true
                    type: integer
                type: object
                x-akamai:
                  file-path: schemas/get-managed-credentials-200.yaml
          description: A paginated list of ManagedCredentials.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_only
      summary: List managed credentials
      tags:
      - Managed credentials
      x-akamai:
        tabs:
        - syntax: linode-cli managed credentials-list
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
        - syntax: account:read_only
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action: credentials-list
      x-linode-grant: unrestricted only
  /{apiVersion}/managed/credentials/{credentialId}:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    - description: The ID of the Credential to access.
      example: '{{credentialId}}'
      in: path
      name: credentialId
      required: true
      schema:
        example: 692
        type: integer
      x-akamai:
        file-path: parameters/credential-id-path.yaml
    x-akamai:
      file-path: paths/managed-credential.yaml
      path-info: /{apiVersion}/managed/credentials/{credentialId}
    x-linode-cli-command: managed
    get:
      description: 'Returns a single Managed Credential.


        This operation can only be accessed by the unrestricted users of an account.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `account:read_write`


        **CLI**


        ```shell

        linode-cli managed credential-view 9991

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-managed-credential
      operationId: get-managed-credential
      responses:
        '200':
          content:
            application/json:
              example:
                id: 9991
                label: prod-password-1
                last_decrypted: '2018-01-01T00:01:01'
              schema:
                additionalProperties: false
                description: A securely stored Credential that allows Linode's special forces to access a Managed server to respond to Issues.
                properties:
                  id:
                    description: __Read-only__ This Credential's unique ID.
                    example: 9991
                    readOnly: true
                    type: integer
                    x-linode-cli-display: 1
                  label:
                    description: The unique label for this Credential. This is for display purposes only.
                    example: prod-password-1
                    maxLength: 75
                    minLength: 2
                    pattern: '[a-zA-Z0-9-_ \.]{2,75}'
                    type: string
                    x-linode-cli-display: 2
                  last_decrypted:
                    description: __Read-only__ The date this Credential was last decrypted by a member of Linode special forces.
                    example: '2018-01-01T00:01:01'
                    readOnly: true
                    type: string
                    x-linode-cli-display: 3
                type: object
                x-akamai:
                  file-path: schemas/managed-credential.yaml
          description: The requested Managed Credential.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_write
      summary: Get a managed credential
      tags:
      - Managed credentials
      x-akamai:
        tabs:
        - syntax: linode-cli managed credential-view 9991
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
        - syntax: account:read_write
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action: credential-view
      x-linode-grant: unrestricted only
    put:
      description: 'Updates the label of a Managed Credential. This operation does not update the username and password for a Managed Credential. To do this, run the Update a managed credential''s username and password) operation instead. This operation can only be accessed by the unrestricted users of an account.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `account:read_write`


        **CLI**


        ```shell

        linode-cli managed credential-update 9991 \

        --label prod-password-1

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/put-managed-credential
      operationId: put-managed-credential
      requestBody:
        content:
          application/json:
            example:
              label: prod-password-1
            schema:
              additionalProperties: false
              description: A securely stored Credential that allows Linode's special forces to access a Managed server to respond to Issues.
              properties:
                id:
                  description: __Read-only__ This Credential's unique ID.
                  example: '{{id}}'
                  readOnly: true
                  type: integer
                  x-linode-cli-display: 1
                label:
                  description: The unique label for this Credential. This is for display purposes only.
                  example: '{{label}}'
                  maxLength: 75
                  minLength: 2
                  pattern: '[a-zA-Z0-9-_ \.]{2,75}'
                  type: string
                  x-linode-cli-display: 2
                last_decrypted:
                  description: __Read-only__ The date this Credential was last decrypted by a member of Linode special forces.
                  example: '{{last_decrypted}}'
                  readOnly: true
                  type: string
                  x-linode-cli-display: 3
              type: object
              x-akamai:
                file-path: schemas/managed-credential.yaml
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                id: 9991
                label: prod-password-1
                last_decrypted: '2018-01-01T00:01:01'
              schema:
                additionalProperties: false
                description: A securely stored Credential that allows Linode's special forces to access a Managed server to respond to Issues.
                properties:
                  id:
                    description: __Read-only__ This Credential's unique ID.
                    example: 9991
                    readOnly: true
                    type: integer
                    x-linode-cli-display: 1
                  label:
                    description: The unique label for this Credential. This is for display purposes only.
                    example: prod-password-1
                    maxLength: 75
                    minLength: 2
                    pattern: '[a-zA-Z0-9-_ \.]{2,75}'
                    type: string
                    x-linode-cli-display: 2
                  last_decrypted:
                    description: __Read-only__ The date this Credential was last decrypted by a member of Linode special forces.
                    example: '2018-01-01T00:01:01'
                    readOnly: true
                    type: string
                    x-linode-cli-display: 3
                type: object
                x-akamai:
                  file-path: schemas/managed-credential.yaml
          description: Credential updated successfully.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_write
      summary: Update a managed credential
      tags:
      - Managed credentials
      x-akamai:
        tabs:
        - syntax: "linode-cli managed credential-update 9991 \\\n  --label prod-password-1"
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
        - syntax: account:read_write
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action: credential-update
      x-linode-grant: unrestricted only
  /{apiVersion}/managed/credentials/{credentialId}/revoke:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    - description: The ID of the Credential to access.
      example: '{{credentialId}}'
      in: path
      name: credentialId
      required: true
      schema:
        example: 692
        type: integer
      x-akamai:
        file-path: parameters/credential-id-path-7162d62f.yaml
    x-akamai:
      file-path: paths/managed-credential-revoke.yaml
      path-info: /{apiVersion}/managed/credentials/{credentialId}/revoke
    x-linode-cli-command: managed
    post:
      description: 'Deletes a managed credential. Akamai Support will no longer have access to this credential when investigating or resolving issues.


        This operation can only be accessed by the unrestricted users of an account.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `account:read_write`


        **CLI**


        ```shell

        linode-cli managed credential-revoke 9991

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/post-managed-credential-revoke
      operationId: post-managed-credential-revoke
      responses:
        '200':
          content:
            application/json:
              example: {}
              schema:
                description: The API responds with an empty object.
                maxProperties: 0
                type: object
                x-akamai:
                  file-path: schemas/added-empty-obj.yaml
          description: Credential deleted successfully.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_write
      summary: Delete a managed credential
      tags:
      - Managed credentials
      x-akamai:
        tabs:
        - syntax: linode-cli managed credential-revoke 9991
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
        - syntax: account:read_write
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action: credential-revoke
      x-linode-grant: unrestricted only
  /{apiVersion}/managed/credentials/{credentialId}/update:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    - description: The ID of the Credential to update.
      example: '{{credentialId}}'
      in: path
      name: credentialId
      required: true
      schema:
        example: 692
        type: integer
      x-akamai:
        file-path: parameters/credential-id-path-78b1aa7e.yaml
    x-akamai:
      file-path: paths/managed-credential-update.yaml
      path-info: /{apiVersion}/managed/credentials/{credentialId}/update
    x-linode-cli-command: managed
    post:
      description: 'Updates the username and password for a managed credential.


        This operation can only be accessed by the unrestricted users of an account.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `account:read_write`


        **CLI**


        ```shell

        linode-cli managed credential-update-username-password 9991 \

        --username johndoe \

        --password s3cur3P@ssw0rd

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/post-managed-credential-username-password
      operationId: post-managed-credential-username-password
      requestBody:
        content:
          application/json:
            example:
              password: s3cur3P@ssw0rd
              username: jkowalski
            schema:
              additionalProperties: false
              properties:
                password:
                  description: The password to use when accessing the Managed Service.
                  example: '{{password}}'
                  type: string
                username:
                  description: The username to use when accessing the Managed Service.
                  example: '{{username}}'
                  maxLength: 5000
                  minLength: 0
                  type: string
              required:
              - password
              type: object
              x-akamai:
                file-path: schemas/post-managed-credential-username-password.yaml
      responses:
        '200':
          content:
            application/json:
              example: {}
              schema:
                description: The API responds with an empty object.
                maxProperties: 0
                type: object
                x-akamai:
                  file-path: schemas/added-empty-obj.yaml
          description: Credential username and password updated.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_write
      summary: Update a managed credential's username and password
      tags:
      - Managed credentials
      x-akamai:
        tabs:
        - syntax: "linode-cli managed credential-update-username-password 9991 \\\n  --username johndoe \\\n  --password s3cur3P@ssw0rd"
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
        - syntax: account:read_write
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action: credential-update-username-password
      x-linode-grant: unrestricted only
components:
  securitySchemes:
    oauth:
      flows:
        authorizationCode:
          authorizationUrl: https://login.linode.com/oauth/authorize
          scopes:
            account:read_only: Allows access to GET information about your account.
            account:read_write: Allows access to all endpoints related to your account.
            child_account:read_only: Allows access to GET information about deprecated parent/child operations.
            child_account:read_write: Allows access to deprecated parent/child operations.
            databases:read_only: Allows access to GET information about databases.
            databases:read_write: Allows access to all endpoints related to databases.
            domains:read_only: Allows access to GET Domains on your account.
            domains:read_write: Allows access to all Domain endpoints.
            events:read_only: Allows access to GET your Events.
            events:read_write: Allows access to all endpoints related to your Events.
            firewall:read_only: Allows access to GET information about your Firewalls.
            firewall:read_write: Allows access to all Firewall endpoints.
            images:read_only: Allows access to GET your Images.
            images:read_write: Allows access to all endpoints related to your Images.
            ips:read_only: Allows access to GET your ips.
            ips:read_write: Allows access to all endpoints related to your ips.
            linodes:read_only: Allows access to GET Linodes on your account.
            linodes:read_write: Allow access to all endpoints related to your Linodes.
            lke:read_only: Allows access to GET LKE Clusters on your account.
            lke:read_write: Allows access to all endpoints related to LKE Clusters on your account.
            longview:read_only: Allows access to GET your Longview Clients.
            longview:read_write: Allows access to all endpoints related to your Longview Clients.
            monitor:read_only: Allows access to Monitor (Akamai Cloud Pulse) data.
            monitor:read_write: Allows access to GET Monitor (Akamai Cloud Pulse) data.
            nodebalancers:read_only: Allows access to GET NodeBalancers on your account.
            nodebalancers:read_write: Allows access to all NodeBalancer endpoints.
            object_storage:read_only: Allows access to GET information related to your Object Storage.
            object_storage:read_write: Allows access to all Object Storage endpoints.
            stackscripts:read_only: Allows access to GET your StackScripts.
            stackscripts:read_write: Allows access to all endpoints related to your StackScripts.
            volumes:read_only: Allows access to GET your Volumes.
            volumes:read_write: Allows access to all endpoints related to your Volumes.
            vpc:read_write: Allows access to all endpoints related to VPC and Subnet creation, updating, and deletion.
          tokenUrl: https://login.linode.com/oauth/token
      type: oauth2
    personalAccessToken:
      scheme: bearer
      type: http
externalDocs:
  description: See documentation for Akamai's Linode API
  url: https://techdocs.akamai.com/linode-api/reference
x-readme:
  explorer-enabled: false
  samples-languages:
  - curl
  - python
  - node
