openapi: 3.2.0
info:
  description: Add a Cloud Computing instance so you can build, release, and scale applications faster with virtual machines.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: 'Akamai: Linode Notifications API'
  version: 4.229.1
servers:
- url: https://api.linode.com
tags:
- description: Review notifications that represent important, often time-sensitive details about your account.
  name: Notifications
paths:
  /{apiVersion}/account/notifications:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    x-akamai:
      file-path: paths/notifications.yaml
      path-info: /{apiVersion}/account/notifications
    x-linode-cli-command: account
    get:
      description: 'Returns notifications that represent important, often time-sensitive details about your account. You can''t interact directly with notifications, and a notification disappears when you''ve resolved its cause. For example, if you have an important ticket open, you can respond to that ticket to dismiss its notification.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs a role with these permissions assigned. Learn more.

        - Permissions: `list_notifications`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `account:read_only`


        **CLI**


        ```shell

        linode-cli account notifications-list

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-notifications
      operationId: get-notifications
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - body: null
                  entity:
                    id: 3456
                    label: Linode not booting.
                    type: ticket
                    url: /support/tickets/3456
                  label: You have an important ticket open!
                  message: You have an important ticket open!
                  severity: major
                  type: ticket_important
                  until: null
                  when: null
                page: 1
                pages: 1
                results: 1
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: A list of objects returned for a response.
                    items:
                      additionalProperties: false
                      description: An important, often time-sensitive item related to your account.
                      properties:
                        body:
                          description: A full description of this notification, in markdown format. Not all notifications include a `body`. Returned as `null` for an event `type` of `security_reboot_maintenance_scheduled`.
                          example: null
                          type:
                          - string
                          - 'null'
                        entity:
                          additionalProperties: false
                          description: Detailed information about the notification. Returned as `null` for an event `type` of `security_reboot_maintenance_scheduled`.
                          properties:
                            id:
                              description: The unique ID of the notification's entity, based on the entity type. Returns `null` for an `account` or `promotion` entity.
                              example: 3456
                              type:
                              - integer
                              - 'null'
                            label:
                              description: 'The current name of this notification''s entity. Returns `null` for the following `entity` types:


                                - `entity_transfer`


                                - `promotion`


                                - `region`'
                              example: Linode not booting.
                              type:
                              - string
                              - 'null'
                            type:
                              description: __Filterable__ The type of entity this notification relates to. An entity can be product or service-specific, such as a `linode`, `loadbalancers`, or `nodebalancer`. It can apply to a specific component, such as your `account`, a specific `promotion` your participating in, a data center (`region`) where you're using services, a transfer from one component to another (an `entity_transfer`), a support `ticket` you've opened, or a `volume` on a specific Linode.
                              enum:
                              - account
                              - entity_transfer
                              - linode
                              - loadbalancers
                              - nodebalancer
                              - promotion
                              - region
                              - ticket
                              - volume
                              example: ticket
                              type: string
                              x-akamai:
                                labels:
                                - Filterable
                              x-linode-filterable: true
                            url:
                              description: The URL where you can access the notification's object. The URL is relative to the domain where you retrieved the notification. This value is `null` for the `promotion` entity type.
                              example: /support/tickets/3456
                              type:
                              - string
                              - 'null'
                          type:
                          - object
                          - 'null'
                        label:
                          description: A short description of this notification.
                          example: You have an important ticket open!
                          type: string
                          x-linode-cli-display: 1
                        message:
                          description: A human-readable description of the notification.
                          example: You have an important ticket open!
                          type: string
                          x-linode-cli-display: 2
                        severity:
                          description: The severity of this notification, either `minor`, `major`, or `critical`. This field determines how prominently the notification is displayed and the color of the display text.
                          enum:
                          - minor
                          - major
                          - critical
                          example: major
                          type: string
                          x-linode-cli-color:
                            critical: b
                            default_: white
                            minor: blue
                          x-linode-cli-display: 3
                        type:
                          description: '__Filterable__ The type of notification, either `migration_scheduled`, `migration_imminent`, `migration_pending`, `reboot_scheduled`, `outage`, `payment_due`, `ticket_important`, `ticket_abuse`, `notice`, `maintenance`, `maintenance_scheduled`, `promotion`, `security_reboot_maintenance_scheduled`, or `tax_id_verifying`.


                            > 📘

                            >

                            > A `security_reboot_maintenance_scheduled` event is a global notice that a Linode needs to be rebooted for QEMU upgrade maintenance. Have a look at [this workflow](https://techdocs.akamai.com/linode-api/reference/reboot-your-linodes-for-qemu-maintenance) for guidance on reboooting your Linodes for this maintenance.'
                          enum:
                          - migration_scheduled
                          - migration_imminent
                          - migration_pending
                          - reboot_scheduled
                          - outage
                          - payment_due
                          - ticket_important
                          - ticket_abuse
                          - notice
                          - maintenance
                          - maintenance_scheduled
                          - promotion
                          - security_reboot_maintenance_scheduled
                          - tax_id_verifying
                          example: ticket_important
                          type: string
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-filterable: true
                        until:
                          description: If this notification has a duration, this is when the event or action will complete. For example, if there's scheduled maintenance for one of our systems, `until` represents the end of the maintenance window. Returned as `null` for an event `type` of `security_reboot_maintenance_scheduled`.
                          example: null
                          format: date-time
                          type:
                          - string
                          - 'null'
                          x-linode-cli-color:
                            None: black
                            default_: white
                          x-linode-cli-display: 5
                        when:
                          description: If this notification is for an event in the future, this specifies when the action occurs. For example, if a compute instance needs to migrate in response to a security advisory, this field sets the approximate time the compute instance will be taken offline for migration. Returned as `null` for an event `type` of `security_reboot_maintenance_scheduled`.
                          example: null
                          format: date-time
                          type:
                          - string
                          - 'null'
                          x-linode-cli-color:
                            None: black
                            default_: white
                          x-linode-cli-display: 4
                      type: object
                      x-akamai:
                        file-path: schemas/notification.yaml
                    type: array
                  page:
                    description: __Read-only__ The current [page](https://techdocs.akamai.com/linode-api/reference/pagination).
                    example: 1
                    readOnly: true
                    type: integer
                  pages:
                    description: __Read-only__ The total number of [pages](https://techdocs.akamai.com/linode-api/reference/pagination).
                    example: 1
                    readOnly: true
                    type: integer
                  results:
                    description: __Read-only__ The total number of results.
                    example: 1
                    readOnly: true
                    type: integer
                type: object
                x-akamai:
                  file-path: schemas/added-get-notifications-200.yaml
          description: Returns a paginated list of notification objects.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_only
      summary: List notifications
      tags:
      - Notifications
      x-akamai:
        tabs:
        - syntax: linode-cli account notifications-list
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: notifications-list
      x-linode-grant: read_only
      x-linode-iam:
      - permissions:
        - list_notifications
components:
  securitySchemes:
    oauth:
      flows:
        authorizationCode:
          authorizationUrl: https://login.linode.com/oauth/authorize
          scopes:
            account:read_only: Allows access to GET information about your account.
            account:read_write: Allows access to all endpoints related to your account.
            child_account:read_only: Allows access to GET information about deprecated parent/child operations.
            child_account:read_write: Allows access to deprecated parent/child operations.
            databases:read_only: Allows access to GET information about databases.
            databases:read_write: Allows access to all endpoints related to databases.
            domains:read_only: Allows access to GET Domains on your account.
            domains:read_write: Allows access to all Domain endpoints.
            events:read_only: Allows access to GET your Events.
            events:read_write: Allows access to all endpoints related to your Events.
            firewall:read_only: Allows access to GET information about your Firewalls.
            firewall:read_write: Allows access to all Firewall endpoints.
            images:read_only: Allows access to GET your Images.
            images:read_write: Allows access to all endpoints related to your Images.
            ips:read_only: Allows access to GET your ips.
            ips:read_write: Allows access to all endpoints related to your ips.
            linodes:read_only: Allows access to GET Linodes on your account.
            linodes:read_write: Allow access to all endpoints related to your Linodes.
            lke:read_only: Allows access to GET LKE Clusters on your account.
            lke:read_write: Allows access to all endpoints related to LKE Clusters on your account.
            longview:read_only: Allows access to GET your Longview Clients.
            longview:read_write: Allows access to all endpoints related to your Longview Clients.
            monitor:read_only: Allows access to Monitor (Akamai Cloud Pulse) data.
            monitor:read_write: Allows access to GET Monitor (Akamai Cloud Pulse) data.
            nodebalancers:read_only: Allows access to GET NodeBalancers on your account.
            nodebalancers:read_write: Allows access to all NodeBalancer endpoints.
            object_storage:read_only: Allows access to GET information related to your Object Storage.
            object_storage:read_write: Allows access to all Object Storage endpoints.
            stackscripts:read_only: Allows access to GET your StackScripts.
            stackscripts:read_write: Allows access to all endpoints related to your StackScripts.
            volumes:read_only: Allows access to GET your Volumes.
            volumes:read_write: Allows access to all endpoints related to your Volumes.
            vpc:read_write: Allows access to all endpoints related to VPC and Subnet creation, updating, and deletion.
          tokenUrl: https://login.linode.com/oauth/token
      type: oauth2
    personalAccessToken:
      scheme: bearer
      type: http
externalDocs:
  description: See documentation for Akamai's Linode API
  url: https://techdocs.akamai.com/linode-api/reference
x-readme:
  explorer-enabled: false
  samples-languages:
  - curl
  - python
  - node
