openapi: 3.2.0
info:
  description: Add a Cloud Computing instance so you can build, release, and scale applications faster with virtual machines.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: 'Akamai: Linode Linode interfaces API'
  version: 4.229.1
servers:
- url: https://api.linode.com
tags:
- description: A Linode interface lets you set up networking on your Linode. A Linode interface links to the Linode, rather than to a legacy configuration profile. Use these operations to manage the Linode interfaces on your Linodes.
  name: Linode interfaces
paths:
  /{apiVersion}/linode/instances/{linodeId}/interfaces:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    - description: The `id` of the Linode.
      example: '{{linodeId}}'
      in: path
      name: linodeId
      required: true
      schema:
        example: 234
        type: integer
      x-akamai:
        file-path: parameters/linode-id.yaml
    x-akamai:
      file-path: paths/linode-interfaces.yaml
      path-info: /{apiVersion}/linode/instances/{linodeId}/interfaces
    x-linode-cli-command: linodes
    post:
      description: 'Creates an interface for the Linode. This interface links to the Linode, rather than to a configuration profile. You can create, delete, or update interfaces when the Linode is either powered off or in the process of being created.


        Firewalls are applied to the Linode''s VPC or public interface, rather than directly on the Linode. You can add, delete, or update these firewalls at any time. Firewalls are not applied to VLAN interfaces.


        A successful request triggers an `interface_create` event.


        You need to set one interface type: `vpc`, `public`, or `vlan`. Omit the others or set them to `null`.


        A Linode can have up to three interfaces:


        - Only one `public` interface is allowed on a Linode.


        - Multiple `vlan` interfaces are allowed, provided that they belong to distinct VLANs, which have unique `vlan_labels`.


        - One `vpc` interface is allowed.


        The Linode must be located in a region that supports Linode interfaces. Run Get a region to see if interfaces are supported in that region.


        This operation doesn''t support creating `rdma_vpc` interfaces. You must include all required RDMA VPC interfaces using the Create a Linode operation.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs a role with these permissions assigned. Learn more.

        - Permissions: `update_linode`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `linodes:read_write`


        **CLI**


        *Public Interfaces*


        ```shell

        linode-cli linodes interface-add $linodeId \

        --firewall_id 123 \

        --default_route.ipv4 true \

        --default_route.ipv6 true \

        --public.ipv4.addresses ''[{"address": "192.0.2.141", "primary": true}, {"address": "auto", "primary": false}]'' \

        --public.ipv6.ranges ''[{"range": "2001:0db8::/64"}, {"range": "/64"}]''

        ```


        *VLAN interface*


        ```shell

        linode-cli linodes interface-add $linodeId \

        --vlan.vlan_label my-vlan \

        --vlan.ipam_address 192.168.2.2/24

        ```


        *VPC interface*


        ```shell

        linode-cli linodes interface-add $linodeId \

        --firewall_id 123 \

        --default_route.ipv4 true \

        --vpc.subnet_id 321 \

        --vpc.ipv4.addresses ''[{"address": "10.0.0.1", "primary": true, "nat_1_1_address": "auto"}, {"address": "auto", "primary": false, "nat_1_1_address": null}]'' \

        --vpc.ipv4.ranges ''[{"range": "/28"}, {"range": "10.11.12.0/24"}]'' \

        --vpc.ipv6.slaac.range "2001:db8:abcd::/64" \

        --vpc.ipv6.is_public false \

        --vpc.ipv6.ranges ''[{"range": "2001:0db8::/64"}]''

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/post-linode-interface
      operationId: post-linode-interface
      requestBody:
        content:
          application/json:
            schema:
              description: 'Defines Linode interfaces. You can configure interfaces for one of the following types: `vpc`, `public`, or `vlan`.'
              oneOf:
              - additionalProperties: false
                description: Defines a Linode public interface. Any other type must either be omitted or set to `null`.
                properties:
                  default_route:
                    additionalProperties: false
                    description: Indicates if the interface serves as the default route when multiple interfaces are eligible for this role. A public interface can have both an IPv4 `default_route` and an IPv6 `default_route`, provided it has at least one IP address of the corresponding type.
                    properties:
                      ipv4:
                        description: If set to `true`, the interface is used for the IPv4 `default_route`. Only one interface per Linode can be set as the IPv4 default route.
                        example: true
                        type:
                        - boolean
                        - 'null'
                      ipv6:
                        description: If set to `true`, the interface is used for the IPv6 `default_route`. Only one interface per Linode can have the IPv6 default route.
                        example: true
                        type:
                        - boolean
                        - 'null'
                    type: object
                  firewall_id:
                    description: The enabled firewall to secure this public Linode interface. Setting `firewall_id` to `-1` indicates that no firewall device will be attached. If the `firewall_id` is not provided or is set to `null`, the default `public_interface` firewall is used. If no default firewall is available and `-1` is not specified, the request fails.
                    example: 123
                    minimum: -1
                    type:
                    - integer
                    - 'null'
                  public:
                    additionalProperties: false
                    description: Public interface settings. A Linode can have only one public interface. A public interface can have both IPv4 and IPv6 configurations.
                    properties:
                      ipv4:
                        additionalProperties: false
                        description: IPv4 address settings for this public interface. If omitted, a public IPv4 address is automatically allocated.
                        properties:
                          addresses:
                            description: List of IPv4 addresses to assign to this interface. Setting any to `auto` allocates a public IPv4 address. To create a public interface that uses IPv6 and no IPv4, set the IPv4 address as an empty list `[]`.
                            items:
                              additionalProperties: false
                              properties:
                                address:
                                  anyOf:
                                  - example: 192.0.2.141
                                    format: ip
                                    minLength: 1
                                    title: User assigned IPv4
                                    type: string
                                  - enum:
                                    - auto
                                    title: Automatically assigned IPv4
                                    type: string
                                  - example: []
                                    items:
                                      type: string
                                    maxItems: 0
                                    title: No IPv4 [empty list]
                                    type: array
                                  default: auto
                                  description: The interface's public IPv4 address. You can specify which public IPv4 address to configure for the interface. Setting this to `auto` automatically allocates a public address. To create a public interface that uses IPv6 and no IPv4, set the IPv4 address as an empty list `[]`. If the address is a reserved or automatically assigned, it needs to be reserved or already assigned to a single Linode, and it can’t be assigned to any other interface.
                                  type: string
                                primary:
                                  default: false
                                  description: 'The IPv4 primary address configures the source address for routes within the Linode on the corresponding network interface.

                                    - Don''t set this to `false` if there''s only one address in the `addresses` array.

                                    - If more than one address is provided, primary can be set to `true` for one address.

                                    - If only one address is present in the `addresses` array, this address is automatically set as the primary address.'
                                  example: true
                                  type: boolean
                              type: object
                            type: array
                        type: object
                      ipv6:
                        additionalProperties: false
                        description: IPv6 address settings for the public interface.
                        properties:
                          ranges:
                            default: []
                            description: IPv6 address ranges to assign to this interface. If omitted, no ranges are assigned.
                            items:
                              additionalProperties: false
                              properties:
                                range:
                                  description: 'Your assigned IPv6 range in CIDR notation (`2001:0db8::1/64`) or prefix (`/64`).

                                    - The prefix of `/64` or `/56` block of IPv6 addresses.

                                    - If provided in CIDR notation, the prefix must be within the assigned ranges for the Linode.'
                                  example: 2001:0a0a::1/64
                                  type: string
                              required:
                              - range
                              type: object
                            type: array
                        type: object
                    type:
                    - object
                    - 'null'
                title: Public interface
                type: object
                x-akamai:
                  file-path: schemas/added-post-linode-interface-public.yaml
              - additionalProperties: false
                description: Defines a Linode VLAN interface. Any other type must either be omitted or set to `null`.
                properties:
                  vlan:
                    additionalProperties: false
                    description: VLAN interface settings. A Linode can have up to three VLAN interfaces, with a unique `vlan_label` for each.
                    properties:
                      ipam_address:
                        description: This VLAN interface's private IPv4 address in classless inter-domain routing (CIDR) notation.
                        example: 10.0.0.1/24
                        format: ipv4-cidr
                        type: string
                        x-linode-cli-display: 4
                      vlan_label:
                        description: The VLAN's unique label. VLAN interfaces on the same Linode must have a unique `vlan_label`.
                        example: my-vlan
                        maxLength: 64
                        minLength: 1
                        pattern: '[a-zA-Z0-9-]+'
                        type: string
                        x-linode-cli-display: 2
                    type:
                    - object
                    - 'null'
                title: VLAN interface
                type: object
                x-akamai:
                  file-path: schemas/added-post-linode-interface-vlan.yaml
              - additionalProperties: false
                description: Defines a Linode VPC interface. Any other type must either be omitted or set to `null`.
                properties:
                  default_route:
                    additionalProperties: false
                    description: Indicates if the interface is used as the default route when multiple interfaces are eligible for this role. A VPC interface can have an IPv4 `default_route`.
                    properties:
                      ipv4:
                        description: If set to `true`, the interface is used for the IPv4 `default_route`. Only one interface per Linode can be set as the IPv4 default route.
                        example: true
                        type:
                        - boolean
                        - 'null'
                    type: object
                  firewall_id:
                    description: The enabled firewall to secure this VPC Linode interface. Setting `firewall_id` to `-1` indicates that no firewall device will be attached. If the `firewall_id` is not provided or is set to `null`, the default `vpc_interface` firewall is used. If no default firewall is available and `-1` is not specified, the request fails.
                    example: 123
                    minimum: -1
                    type:
                    - integer
                    - 'null'
                  vpc:
                    additionalProperties: false
                    description: VPC interface settings. A Linode can have one VPC interface. The maximum number of interfaces allowed on a Linode is three.
                    properties:
                      ipv4:
                        additionalProperties: false
                        description: IPv4 assigned through `addresses` or `ranges`.
                        properties:
                          addresses:
                            description: IPv4 address settings for this VPC interface.
                            items:
                              additionalProperties: false
                              properties:
                                address:
                                  anyOf:
                                  - example: 10.0.0.1
                                    format: ip
                                    minLength: 1
                                    title: User assigned IPv4 from the VPC subnet
                                    type: string
                                  - enum:
                                    - auto
                                    title: Automatically assigned IPv4
                                    type: string
                                  default: auto
                                  description: Specifies which IPv4 address to use in the VPC subnet. You can specify which VPC Ipv4 address in the subnet to configure for the interface. You can't use an IPv4 address taken from another Linode or interface, or the first two or last two addresses in the VPC subnet. When `address` is set to `auto`, an IP address from the subnet is automatically assigned.
                                  type: string
                                nat_1_1_address:
                                  anyOf:
                                  - example: 203.0.113.2
                                    format: ip
                                    minLength: 1
                                    title: User assigned public IPv4
                                    type: string
                                  - enum:
                                    - auto
                                    title: Automatically assigned public IPv4
                                    type: string
                                  default: null
                                  description: 'The 1:1 NAT IPv4 address used to associate a public IPv4 address with the interface''s VPC subnet IPv4 address.

                                    - You can set this to a specific public IPv4 address that''s available on the Linode.

                                    - If set to `auto`, a public IPv4 address is automatically selected.

                                    - If a public IPv4 address or `auto` is specified, primary must be set to `true`.

                                    - The address can''t be used on another Linode.

                                    - If the address is a reserved or an automatically assigned IP, the IP must be reserved or already assigned to a single Linode, and not assigned to an interface.

                                    - If this property is omitted or set to `null`, no 1:1 NAT configuration will be applied to the VPC interface.'
                                  type:
                                  - string
                                  - 'null'
                                primary:
                                  default: false
                                  description: 'The IPv4 primary address is used to configure the source address for routes within the Linode on the corresponding network interface.

                                    Should not be set to `false` if there is only one address present in the `addresses` array.

                                    If more than one address is provided, primary must be set to `true` for one address.

                                    If only one address is present in the `addresses` array, this address is automatically set as the primary address.'
                                  example: true
                                  type:
                                  - boolean
                                  - 'null'
                              type: object
                            type: array
                          ranges:
                            default: []
                            description: VPC IPv4 ranges.
                            items:
                              additionalProperties: false
                              properties:
                                range:
                                  description: 'CIDR notation of a range (`1.2.3.4/24`) or prefix only (`/24`).

                                    - When only the prefix is provided, then an available range of that size within the VPC''s subnet is automatically selected.

                                    - If specified as CIDR notation, it must belong to the VPC subnet. All addresses in the range must not be taken by any other Linode or interfaces in the VPC subnet and must not include any of the first two or last two addresses of the VPC subnet.'
                                  example: 192.168.100.100/28
                                  type: string
                              required:
                              - range
                              type: object
                            type: array
                        type: object
                      ipv6:
                        additionalProperties: false
                        description: 'IPv6 assigned through `slaac` and `ranges`. If omitted, or `null`, the IPv6 configuration is unchanged.

                          The assigned IPv6 prefix must be a `/64` subnet within the VPC subnet''s allocated IPv6 range. Within each subnet, Akamai reserves the first `/64` prefix. This means you can''t use the first `/64` prefix in your subnet.'
                        properties:
                          is_public:
                            default: false
                            description: 'Indicates whether the IPv6 configuration on the Linode interface is public.

                              - `false`: Only VPC traffic is allowed.

                              - `true`: Internet access is allowed.'
                            example: true
                            type: boolean
                          ranges:
                            default: []
                            description: Defines additional IPv6 network ranges.
                            items:
                              additionalProperties: false
                              properties:
                                range:
                                  default: auto
                                  description: The IPv6 network range in CIDR notation.
                                  example: 2001:db8:abcd::/64
                                  type:
                                  - string
                                  - 'null'
                              required:
                              - range
                              type: object
                            type: array
                          slaac:
                            description: Defines IPv6 SLAAC address ranges. An address automatically generates from the assigned `/64` prefix using the Linode’s MAC address, just like on public IPv6 interfaces. Router advertisements (RA) are sent to the Linode, so standard SLAAC configuration works without any changes. The full `/64` prefix is routed to the Linode’s interface, allowing flexible use of any address within that range, regardless of the Linode’s internal network setup.
                            items:
                              additionalProperties: false
                              properties:
                                address:
                                  description: __Read-only__ The assigned IPv6 address within the range.
                                  example: 2001:db8:abcd::100
                                  format: ipv6
                                  readOnly: true
                                  type: string
                                range:
                                  default: auto
                                  description: 'The IPv6 network range in CIDR notation.

                                    Must be a `/64` prefix within the VPC subnet''s IPv6 range.'
                                  example: 2001:db8:abcd::/64
                                  type: string
                              required:
                              - range
                              type: object
                            maxItems: 1
                            minItems: 0
                            type: array
                        type:
                        - object
                        - 'null'
                      subnet_id:
                        description: The VPC subnet identifier for this interface. Your subnet’s VPC must be in the same data center (region) as the Linode.
                        example: 321
                        type: integer
                    required:
                    - subnet_id
                    type:
                    - object
                    - 'null'
                title: VPC interface
                type: object
                x-akamai:
                  file-path: schemas/added-post-linode-interface-vpc.yaml
              type: object
              x-akamai:
                file-path: schemas/added-post-linode-interfaces.yaml
            x-example:
              x-ref: ../examples/linode-interface.json
      responses:
        '200':
          content:
            application/json:
              examples:
                ex-public:
                  summary: Public interface
                  value:
                    created: '2025-01-01T00:01:01'
                    default_route:
                      ipv4: true
                      ipv6: true
                    id: 1234
                    mac_address: 22:00:AB:CD:EF:01
                    public:
                      ipv4:
                        addresses:
                        - address: 172.30.0.50
                          primary: true
                        shared:
                        - address: 172.30.0.51
                          linode_id: 12345
                      ipv6:
                        ranges:
                        - range: 2001:DB8::/64
                          route_target: 2001:db8:2c3c:15c3:8cd4:3cd0:fbf0:b9c9
                        - range: 2001:DB8::/64
                          route_target: 2001:db8:d611:996e:1db5:2a72:830:315
                        shared:
                        - range: 2001:DB8::/64
                          route_target: null
                        slaac:
                        - address: 2001:db8:5418:968c:9133:68fb:63a7:c053
                          prefix: 64
                    updated: '2025-01-01T00:01:01'
                    version: 1
                    vlan: null
                    vpc: null
                ex-vlan:
                  summary: VLAN interface
                  value:
                    created: '2025-01-01T00:01:01'
                    default_route:
                      ipv4: false
                      ipv6: false
                    id: 1234
                    mac_address: 22:00:AB:CD:EF:01
                    public: null
                    updated: '2025-01-01T00:01:01'
                    version: 1
                    vlan:
                      ipam_address: 10.0.0.1/24
                      vlan_label: my-vlan
                    vpc: null
                ex-vpc:
                  summary: VPC interface
                  value:
                    created: '2025-01-01T00:01:01'
                    default_route:
                      ipv4: true
                    id: 1234
                    mac_address: 22:00:AB:CD:EF:01
                    updated: '2025-01-01T00:02:01'
                    version: 1
                    vpc:
                      ipv4:
                        addresses:
                        - address: 192.168.22.3
                          primary: true
                        ranges:
                        - range: 192.168.22.16/28
                        - range: 192.168.32.16/28
                      ipv6:
                        is_public: true
                        ranges:
                        - range: 2001:db8:abcd::/64
                        slaac:
                        - address: 2001:db8:1234:0000:2000:6eff:feda:af4c
                          range: 2001:db8:1234::/64
                      public: null
                      subnet_id: 1234
                      vlan: null
                      vpc_id: 1234
              schema:
                additionalProperties: false
                properties:
                  interfaces:
                    description: 'Any of the following interface types: regular VPC, public, or VLAN.'
                    items:
                      additionalProperties: false
                      anyOf:
                      - additionalProperties: false
                        description: A public interface configuration defines the properties and settings for a specific public interface in the Linode network.
                        properties:
                          created:
                            description: When the interface was created.
                            example: '2024-01-01T00:01:01'
                            type: string
                            x-linode-cli-display: 3
                          default_route:
                            additionalProperties: false
                            description: Indicates if the interface is used as a default route.
                            properties:
                              ipv4:
                                default: false
                                description: Indicates if the interface is used for the IPv4 default route. Only one interface per Linode can have the IPv4 default route.
                                example: true
                                type: boolean
                                x-linode-cli-display: 5
                              ipv6:
                                default: false
                                description: Indicates if the interface is used for the IPv6 default route. Only one interface per Linode can have the IPv6 default route.
                                example: true
                                type: boolean
                                x-linode-cli-display: 6
                            type:
                            - object
                            - 'null'
                          id:
                            description: __Read-only__ The unique ID for this interface. For `dry_run` [upgrades](https://techdocs.akamai.com/linode-api/reference/post-upgrade-linode-interfaces), a unique `id` is not generated for the interface and its value is set to 0.
                            example: 1234
                            readOnly: true
                            type: integer
                            x-linode-cli-display: 1
                          mac_address:
                            description: A 48-bit MAC address used to identify the Linode’s interface. A public interface's `mac_address` does not change, even if the public interface is deleted and then recreated.
                            example: 22:00:AB:CD:EF:01
                            maxLength: 64
                            minLength: 1
                            pattern: '[a-zA-Z0-9-]+'
                            type: string
                            x-linode-cli-display: 2
                          public:
                            additionalProperties: false
                            description: Public interface type.
                            properties:
                              ipv4:
                                additionalProperties: false
                                description: The interface's public IPv4 `addresses`.
                                properties:
                                  addresses:
                                    description: The public IPv4 addresses and primary settings for this public interface.
                                    items:
                                      additionalProperties: false
                                      properties:
                                        address:
                                          description: The public IPv4 address assigned to this interface.
                                          example: 172.232.100.100
                                          type: string
                                          x-linode-cli-display: 8
                                        primary:
                                          description: Indicates if the public IPv4 address serves as the source address for traffic routing within the Linode and other corresponding network interfaces and services.
                                          example: true
                                          type: boolean
                                          x-linode-cli-display: 9
                                      type: object
                                    type: array
                                  shared:
                                    description: The IPv4 address assigned to this Linode interface, which is also shared with another Linode.
                                    items:
                                      additionalProperties: false
                                      properties:
                                        address:
                                          description: Shared IPv4 address.
                                          example: 172.222.33.4
                                          type: string
                                          x-linode-cli-display: 10
                                        linode_id:
                                          description: The ID of the Linode this address currently belongs to. For IPv4 addresses, by default this is the Linode this address was assigned when created.
                                          example: 12345
                                          type: integer
                                          x-linode-cli-display: 11
                                      type: object
                                    type: array
                                type: object
                              ipv6:
                                additionalProperties: false
                                description: The interface's public IPv6 configuration.
                                properties:
                                  ranges:
                                    description: List of IPv6 ranges assigned to this interface.
                                    items:
                                      additionalProperties: false
                                      properties:
                                        range:
                                          description: IPv6 range in CIDR notation (`2600:0db8::1/64`) or prefix-only (`/64`).
                                          example: 2600:3c09:e001:59::/64
                                          type: string
                                          x-linode-cli-display: 16
                                        route_target:
                                          description: The public IPv6 address that the `range` is routed to.
                                          example: 2600:3c09::ff:feab:cdef
                                          type: string
                                          x-linode-cli-display: 17
                                      type: object
                                    type: array
                                  shared:
                                    description: The IPv6 address assigned to this Linode interface, which is also shared with another Linode.
                                    items:
                                      additionalProperties: false
                                      properties:
                                        range:
                                          description: The IPv6 address range.
                                          example: 2600:3c09:e001:2a::/64
                                          type: string
                                          x-linode-cli-display: 14
                                        route_target:
                                          description: The public IPv6 address that the `range` is routed to.
                                          example: null
                                          type:
                                          - string
                                          - 'null'
                                          x-linode-cli-display: 15
                                      type: object
                                    type: array
                                  slaac:
                                    description: The public `slaac` and subnet prefix settings for this public interface that is used to communicate over the public internet, and with other services in the same data center.
                                    items:
                                      additionalProperties: false
                                      properties:
                                        address:
                                          description: Public IPv6 addresses assigned to this interface.
                                          example: 2600:3c09::ff:feab:cdef
                                          type: string
                                          x-linode-cli-display: 12
                                        prefix:
                                          description: The prefix length advertised for SLAAC to use. Only the specific (`/128`) EUI-64 address derived from the interface's MAC address is supported. To ensure the MAC-based EUI-64 address is used, privacy addressing needs to be disabled. Network Helper automatically configures the MAC-derived EUI-64 address. If you disable Network Helper or use an unsupported operating system, follow the specific instructions for your OS.
                                          example: 64
                                          type: integer
                                          x-linode-cli-display: 13
                                      type: object
                                    type: array
                                type: object
                            type: object
                          rdma_vpc:
                            description: The value is `null` if this is not a RDMA VPC interface.
                            example: null
                            type:
                            - object
                            - 'null'
                          updated:
                            description: When the interface was last updated.
                            example: '2024-01-01T00:01:01'
                            type: string
                            x-linode-cli-display: 4
                          version:
                            description: Interface version number that increments when the interface updates.
                            example: 1
                            type: integer
                            x-linode-cli-display: 7
                          vlan:
                            description: The value is `null` if this is not a VLAN interface.
                            example: null
                            type:
                            - object
                            - 'null'
                          vpc:
                            description: The value is `null` if this is not a regular VPC interface.
                            example: null
                            type:
                            - object
                            - 'null'
                        title: Public interface
                        type: object
                        x-akamai:
                          file-path: schemas/linode-interface-public.yaml
                      - additionalProperties: false
                        description: A VLAN interface configuration defines the properties and settings for a specific VLAN interface in the Linode network.
                        properties:
                          created:
                            description: When the interface was created.
                            example: '2024-01-01T00:01:01'
                            type: string
                            x-linode-cli-display: 3
                          default_route:
                            additionalProperties: false
                            description: Indicates if the interface is used as a default route.
                            properties:
                              ipv4:
                                default: false
                                description: Indicates if the interface is used for the IPv4 default route. For VLAN interfaces, this defaults to `false` or returns an empty object `{}` because VLANs can't serve as default routes.
                                example: false
                                type: boolean
                                x-linode-cli-display: 5
                              ipv6:
                                default: false
                                description: Indicates if the interface is used for the IPv6 default route. For VLAN interfaces, this defaults to `false` or returns an empty object `{}` because VLANs can't serve as default routes.
                                example: false
                                type: boolean
                                x-linode-cli-display: 6
                            type:
                            - object
                            - 'null'
                          id:
                            description: __Read-only__ The unique ID for this interface. For `dry_run` [upgrades](https://techdocs.akamai.com/linode-api/reference/post-upgrade-linode-interfaces), a unique `id` is not generated for the interface and its value is set to 0.
                            example: 1234
                            readOnly: true
                            type: integer
                            x-linode-cli-display: 1
                          mac_address:
                            description: A 48-bit MAC address used to identify the Linode’s interface. The `mac_address` of an interface remains constant and does not change.
                            example: 22:00:AB:CD:EF:01
                            maxLength: 64
                            minLength: 1
                            pattern: '[a-zA-Z0-9-]+'
                            type: string
                            x-linode-cli-display: 2
                          public:
                            description: The value is `null` if this isn't a public interface.
                            example: null
                            type:
                            - object
                            - 'null'
                          rdma_vpc:
                            description: The value is `null` if this is not a RDMA VPC interface.
                            example: null
                            type:
                            - object
                            - 'null'
                          updated:
                            description: When the interface was last updated.
                            example: '2024-01-01T00:01:01'
                            type: string
                            x-linode-cli-display: 4
                          version:
                            description: Interface version number that is incremented when the interface is updated.
                            example: 1
                            type: integer
                            x-linode-cli-display: 7
                          vlan:
                            additionalProperties: false
                            description: VLAN interface type.
                            properties:
                              ipam_address:
                                description: This VLAN interface's private IPv4 address in classless inter-domain routing (CIDR) notation.
                                example: 10.0.0.1/24
                                format: ipv4-cidr
                                type:
                                - string
                                - 'null'
                                x-linode-cli-display: 9
                              vlan_label:
                                description: The VLAN's label. VLAN interfaces on the same Linode must have a unique `vlan_label`.
                                example: my-vlan
                                type: string
                                x-linode-cli-display: 8
                            type: object
                          vpc:
                            description: The value is `null` if this isn't a VPC interface.
                            example: null
                            type:
                            - object
                            - 'null'
                        title: VLAN interface
                        type: object
                        x-akamai:
                          file-path: schemas/linode-interface-vlan.yaml
                      - additionalProperties: false
                        description: A VPC interface configuration defines settings for a specific VPC interface in the Linode network.
                        properties:
                          created:
                            description: When the interface was created.
                            example: '2025-01-01 00:01:01'
                            type: string
                            x-linode-cli-display: 3
                          default_route:
                            additionalProperties: false
                            description: Indicates if the interface serves as a default route.
                            properties:
                              ipv4:
                                default: false
                                description: Indicates if the interface serves as the IPv4 default route. Only one interface per Linode can have the IPv4 default route.
                                example: true
                                type: boolean
                                x-linode-cli-display: 5
                            type: object
                          id:
                            description: __Read-only__ The unique ID for this interface. For `dry_run` [upgrades](https://techdocs.akamai.com/linode-api/reference/post-upgrade-linode-interfaces), a unique `id` is not generated for the interface and its value is set to 0.
                            example: 1234
                            readOnly: true
                            type: integer
                            x-linode-cli-display: 1
                          mac_address:
                            description: A 48-bit MAC address used to identify the Linode’s interface. The `mac_address` of an interface remains constant and does not change.
                            example: 22:00:AB:CD:EF:01
                            maxLength: 64
                            minLength: 1
                            pattern: '[a-zA-Z0-9-]+'
                            type: string
                            x-linode-cli-display: 2
                          public:
                            description: The value is `null` if this is not a public interface.
                            example: null
                            type:
                            - object
                            - 'null'
                          rdma_vpc:
                            description: The value is `null` if this is not a RDMA VPC interface.
                            example: null
                            type:
                            - object
                            - 'null'
                          updated:
                            description: When the interface last updated.
                            example: '2025-01-01 00:01:01'
                            type: string
                            x-linode-cli-display: 4
                          version:
                            description: The version number of the interface configuration, incremented each time the interface is updated.
                            example: 1
                            type: integer
                            x-linode-cli-display: 6
                          vlan:
                            description: The value is `null` if this is not a VLAN interface.
                            example: null
                            type:
                            - object
                            - 'null'
                          vpc:
                            additionalProperties: false
                            description: VPC interface type.
                            properties:
                              ipv4:
                                additionalProperties: false
                                description: The interface's IPv4 `addresses` and `ranges` configuration.
                                properties:
                                  addresses:
                                    description: IPv4 address settings for this VPC interface.
                                    items:
                                      additionalProperties: false
                                      properties:
                                        address:
                                          description: The VPC subnet IPv4 address.
                                          example: 192.168.22.3
                                          type: string
                                          x-linode-cli-display: 9
                                        nat_1_1_address:
                                          description: The 1:1 NAT IPv4 address used to associate a public IPv4 address with the interface's VPC subnet IPv4 address.
                                          example: null
                                          type:
                                          - string
                                          - 'null'
                                          x-linode-cli-display: 11
                                        primary:
                                          description: Indicates if the IPv4 address is used to set up a source address for routes inside the Linode for the corresponding network interface.
                                          example: true
                                          type: boolean
                                          x-linode-cli-display: 10
                                      type: object
                                    type: array
                                  ranges:
                                    description: VPC IPv4 ranges.
                                    items:
                                      additionalProperties: false
                                      properties:
                                        range:
                                          description: CIDR notation of a range (`1.2.3.4/24`) or prefix only (`/24`).
                                          example: 192.168.22.16/28
                                          type: string
                                          x-linode-cli-display: 12
                                      type: object
                                    type: array
                                type: object
                              ipv6:
                                additionalProperties: false
                                description: 'IPv6 assigned through `slaac` and `ranges`. If you create a VPC interface in a subnet with IPv6 and don’t specify `slaac` or `ranges`, a SLAAC range is added automatically. The assigned IPv6 prefix must be a `/64` subnet within the VPC subnet''s allocated IPv6 range. Within each subnet, Akamai reserves the first `/64` prefix. This means you can''t use the first `/64` prefix in your subnet. Additionally, the `/64` IPv6 network CIDR:


                                  - Can''t be the bottom `/64` of the subnet prefix.

                                  - Can''t be in use by another interface on the subnet.

                                  - The bottom 64 bits need to be set to 0.'
                                properties:
                                  is_public:
                                    default: false
                                    description: 'Indicates whether the IPv6 configuration profile interface is public.


                                      - `false` means that traffic to and from the interface is restricted to the VPC only, with no access to and from the internet.

                                      - `true` means that traffic from the interface to IPv6 addresses outside the VPC, and connections from IPv6 addresses outside the VPC to the interface are permitted.'
                                    example: true
                                    type: boolean
                                  ranges:
                                    default: []
                                    description: Defines additional IPv6 network ranges.
                                    items:
                                      additionalProperties: false
                                      properties:
                                        range:
                                          default: auto
                                          description: The IPv6 network range in CIDR notation.
                                          example: 2001:db8:abcd::/64
                                          type: string
                                      type: object
                                    type: array
                                  slaac:
                                    description: Defines IPv6 SLAAC address ranges. An address automatically generates from the assigned `/64` prefix using the Linode’s MAC address, just like on public IPv6 interfaces. Router advertisements (RA) are sent to the Linode, so standard SLAAC configuration works without any changes. The full `/64` prefix is routed to the Linode’s interface, allowing flexible use of any address within that range, regardless of the Linode’s internal network setup.
                                    items:
                                      additionalProperties: false
                                      properties:
                                        address:
                                          description: __Read-only__ The assigned IPv6 address within the range.
                                          example: 2001:db8:abcd::100
                                          format: ipv6
                                          readOnly: true
                                          type: string
                                        range:
                                          default: auto
                                          description: The IPv6 network range in CIDR notation.
                                          example: 2001:db8:abcd::/64
                                          type: string
                                      type: object
                                    maxItems: 1
                                    minItems: 0
                                    type: array
                                type:
                                - object
                                - 'null'
                              subnet_id:
                                description: The VPC subnet ID to which the interface is attached to.
                                example: 1234
                                type: integer
                                x-linode-cli-display: 8
                              vpc_id:
                                description: The unique identifier of the VPC to which this interface is attached.
                                example: 1234
                                type: integer
                                x-linode-cli-display: 7
                            type: object
                        title: VPC interface
                        type: object
                        x-akamai:
                          file-path: schemas/linode-interface-vpc.yaml
                      type: object
                    type: array
                required:
                - interfaces
                type: object
                x-akamai:
                  file-path: schemas/linode-interfaces.yaml
          description: The Linode interface was successfully added.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - linodes:read_write
      summary: Add a Linode interface
      tags:
      - Linode interfaces
      x-akamai:
        tabs:
        - syntax: "linode-cli linodes interface-add $linodeId \\\n  --firewall_id 123 \\\n  --default_route.ipv4 true \\\n  --default_route.ipv6 true \\\n  --public.ipv4.addresses '[{\"address\": \"192.0.2.141\", \"primary\": true}, {\"address\": \"auto\", \"primary\": false}]' \\\n  --public.ipv6.ranges '[{\"range\": \"2001:0db8::/64\"}, {\"range\": \"/64\"}]'"
          title: 'CLI: Public Interfaces'
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
        - syntax: "linode-cli linodes interface-add $linodeId \\\n  --vlan.vlan_label my-vlan \\\n  --vlan.ipam_address 192.168.2.2/24"
          title: 'CLI: VLAN interface'
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
        - syntax: "linode-cli linodes interface-add $linodeId \\\n  --firewall_id 123 \\\n  --default_route.ipv4 true \\\n  --vpc.subnet_id 321 \\\n  --vpc.ipv4.addresses '[{\"address\": \"10.0.0.1\", \"primary\": true, \"nat_1_1_address\": \"auto\"}, {\"address\": \"auto\", \"primary\": false, \"nat_1_1_address\": null}]' \\\n  --vpc.ipv4.ranges '[{\"range\": \"/28\"}, {\"range\": \"10.11.12.0/24\"}]' \\\n  --vpc.ipv6.slaac.range \"2001:db8:abcd::/64\" \\\n  --vpc.ipv6.is_public false \\\n  --vpc.ipv6.ranges '[{\"range\": \"2001:0db8::/64\"}]'"
          title: 'CLI: VPC interface'
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: interface-add
      x-linode-grant: read_write
      x-linode-iam:
      - permissions:
        - update_linode
    get:
      description: 'This operation returns all interfaces assigned to a specific Linode. They list in the order they were created. On the Linode, interfaces also list in this order, and are typically named `eth0`, `eth1`, `eth2`, and so on. The MAC address is the most reliable method to identify an interface. The Linode needs to use `interfaces` and not configuration profile interfaces. Run Get account settings to see if Linode interfaces are supported.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs a role with these permissions assigned. Learn more.

        - Permissions: `view_linode`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `linodes:read_write`


        **CLI**


        ```shell

        linode-cli linodes interfaces-list $linodeId

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-linode-interfaces
      operationId: get-linode-interfaces
      responses:
        '200':
          content:
            application/json:
              examples:
                ex-public:
                  summary: Public interface
                  value:
                    interfaces:
                    - created: '2025-01-01T00:01:01'
                      default_route:
                        ipv4: true
                        ipv6: true
                      id: 1234
                      mac_address: 22:00:AB:CD:EF:01
                      public:
                        ipv4:
                          addresses:
                          - address: 172.30.0.50
                            primary: true
                          shared:
                          - address: 172.30.0.51
                            linode_id: 12345
                        ipv6:
                          ranges:
                          - range: 2001:DB8::/64
                            route_target: 2001:db8:1383:b8dc:33c5:fe0b:c9fa:4e9e
                          - range: 2001:DB8::/64
                            route_target: 2001:db8:dffd:2d09:7aea:176d:17e5:80f5
                          shared:
                          - range: 2001:DB8::/64
                            route_target: null
                          slaac:
                          - address: 2001:db8:5f09:12d6:e014:e11a:aca2:cfa3
                            prefix: 64
                      updated: '2025-01-01T00:01:01'
                      version: 1
                      vlan: null
                      vpc: null
                ex-rdma-vpc:
                  summary: RDMA VPC interface
                  value:
                    interfaces:
                    - created: '2026-03-12T09:54:34'
                      default_route:
                        ipv4: false
                        ipv6: false
                      id: 10
                      mac_address: 22:00:f2:9e:d3:48
                      public: null
                      rdma_vpc:
                        ipv4:
                          addresses:
                          - address: 10.0.0.2
                            primary: true
                        subnet_id: 8
                        vpc_id: 7
                      updated: '2026-03-12T09:54:35'
                      version: 1
                      vlan: null
                      vpc: null
                ex-vlan:
                  summary: VLAN interface
                  value:
                    interfaces:
                    - created: '2025-01-01T00:01:01'
                      default_route:
                        ipv4: false
                        ipv6: false
                      id: 1234
                      mac_address: 22:00:AB:CD:EF:01
                      public: null
                      updated: '2025-01-01T00:01:01'
                      version: 1
                      vlan:
                        ipam_address: 10.0.0.1/24
                        vlan_label: my-vlan
                      vpc: null
                ex-vpc:
                  summary: VPC interface
                  value:
                    interfaces:
                    - created: '2025-01-01T00:01:01'
                      default_route:
                        ipv4: true
                      id: 1234
                      mac_address: 22:00:AB:CD:EF:01
                      public: null
                      updated: '2025-01-01T00:02:01'
                      version: 1
                      vlan: null
                      vpc:
                        ipv4:
                          addresses:
                          - address: 192.168.22.3
                            primary: true
                          ranges:
                          - range: 192.168.22.16/28
                          - range: 192.168.22.32/28
                        subnet_id: 1234
                        vpc_id: 1234
              schema:
                description: 'One of the following interface types: VPC, public, or VLAN.'
                oneOf:
                - additionalProperties: false
                  description: A public interface configuration defines the properties and settings for a specific public interface in the Linode network.
                  properties:
                    created:
                      description: When the interface was created.
                      example: '2024-01-01T00:01:01'
                      type: string
                      x-linode-cli-display: 3
                    default_route:
                      additionalProperties: false
                      description: Indicates if the interface is used as a default route.
                      properties:
                        ipv4:
                          default: false
                          description: Indicates if the interface is used for the IPv4 default route. Only one interface per Linode can have the IPv4 default route.
                          example: true
                          type: boolean
                          x-linode-cli-display: 5
                        ipv6:
                          default: false
                          description: Indicates if the interface is used for the IPv6 default route. Only one interface per Linode can have the IPv6 default route.
                          example: true
                          type: boolean
                          x-linode-cli-display: 6
                      type:
                      - object
                      - 'null'
                    id:
                      description: __Read-only__ The unique ID for this interface. For `dry_run` [upgrades](https://techdocs.akamai.com/linode-api/reference/post-upgrade-linode-interfaces), a unique `id` is not generated for the interface and its value is set to 0.
                      example: 1234
                      readOnly: true
                      type: integer
                      x-linode-cli-display: 1
                    mac_address:
                      description: A 48-bit MAC address used to identify the Linode’s interface. A public interface's `mac_address` does not change, even if the public interface is deleted and then recreated.
                      example: 22:00:AB:CD:EF:01
                      maxLength: 64
                      minLength: 1
                      pattern: '[a-zA-Z0-9-]+'
                      type: string
                      x-linode-cli-display: 2
                    public:
                      additionalProperties: false
                      description: Public interface type.
                      properties:
                        ipv4:
                          additionalProperties: false
                          description: The interface's public IPv4 `addresses`.
                          properties:
                            addresses:
                              description: The public IPv4 addresses and primary settings for this public interface.
                              items:
                                additionalProperties: false
                                properties:
                                  address:
                                    description: The public IPv4 address assigned to this interface.
                                    example: 172.232.100.100
                                    type: string
                                    x-linode-cli-display: 8
                                  primary:
                                    description: Indicates if the public IPv4 address serves as the source address for traffic routing within the Linode and other corresponding network interfaces and services.
                                    example: true
                                    type: boolean
                                    x-linode-cli-display: 9
                                type: object
                              type: array
                            shared:
                              description: The IPv4 address assigned to this Linode interface, which is also shared with another Linode.
                              items:
                                additionalProperties: false
                                properties:
                                  address:
                                    description: Shared IPv4 address.
                                    example: 172.222.33.4
                                    type: string
                                    x-linode-cli-display: 10
                                  linode_id:
                                    description: The ID of the Linode this address currently belongs to. For IPv4 addresses, by default this is the Linode this address was assigned when created.
                                    example: 12345
                                    type: integer
                                    x-linode-cli-display: 11
                                type: object
                              type: array
                          type: object
                        ipv6:
                          additionalProperties: false
                          description: The interface's public IPv6 configuration.
                          properties:
                            ranges:
                              description: List of IPv6 ranges assigned to this interface.
                              items:
                                additionalProperties: false
                                properties:
                                  range:
                                    description: IPv6 range in CIDR notation (`2600:0db8::1/64`) or prefix-only (`/64`).
                                    example: 2600:3c09:e001:59::/64
                                    type: string
                                    x-linode-cli-display: 16
                                  route_target:
                                    description: The public IPv6 address that the `range` is routed to.
                                    example: 2600:3c09::ff:feab:cdef
                                    type: string
                                    x-linode-cli-display: 17
                                type: object
                              type: array
                            shared:
                              description: The IPv6 address assigned to this Linode interface, which is also shared with another Linode.
                              items:
                                additionalProperties: false
                                properties:
                                  range:
                                    description: The IPv6 address range.
                                    example: 2600:3c09:e001:2a::/64
                                    type: string
                                    x-linode-cli-display: 14
                                  route_target:
                                    description: The public IPv6 address that the `range` is routed to.
                                    example: null
                                    type:
                                    - string
                                    - 'null'
                                    x-linode-cli-display: 15
                                type: object
                              type: array
                            slaac:
                              description: The public `slaac` and subnet prefix settings for this public interface that is used to communicate over the public internet, and with other services in the same data center.
                              items:
                                additionalProperties: false
                                properties:
                                  address:
                                    description: Public IPv6 addresses assigned to this interface.
                                    example: 2600:3c09::ff:feab:cdef
                                    type: string
                                    x-linode-cli-display: 12
                                  prefix:
                                    description: The prefix length advertised for SLAAC to use. Only the specific (`/128`) EUI-64 address derived from the interface's MAC address is supported. To ensure the MAC-based EUI-64 address is used, privacy addressing needs to be disabled. Network Helper automatically configures the MAC-derived EUI-64 address. If you disable Network Helper or use an unsupported operating system, follow the specific instructions for your OS.
                                    example: 64
                                    type: integer
                                    x-linode-cli-display: 13
                                type: object
                              type: array
                          type: object
                      type: object
                    rdma_vpc:
                      description: The value is `null` if this is not a RDMA VPC interface.
                      example: null
                      type:
                      - object
                      - 'null'
                    updated:
                      description: When the interface was last updated.
                      example: '2024-01-01T00:01:01'
                      type: string
                      x-linode-cli-display: 4
                    version:
                      description: Interface version number that increments when the interface updates.
                      example: 1
                      type: integer
                      x-linode-cli-display: 7
                    vlan:
                      description: The value is `null` if this is not a VLAN interface.
                      example: null
                      type:
                      - object
                      - 'null'
                    vpc:
                      description: The value is `null` if this is not a regular VPC interface.
                      example: null
                      type:
                      - object
                      - 'null'
                  title: Public interface
                  type: object
                  x-akamai:
                    file-path: schemas/linode-interface-public.yaml
                - additionalProperties: false
                  description: A VLAN interface configuration defines the properties and settings for a specific VLAN interface in the Linode network.
                  properties:
                    created:
                      description: When the interface was created.
                      example: '2024-01-01T00:01:01'
                      type: string
                      x-linode-cli-display: 3
                    default_route:
                      additionalProperties: false
                      description: Indicates if the interface is used as a default route.
                      properties:
                        ipv4:
                          default: false
                          description: Indicates if the interface is used for the IPv4 default route. For VLAN interfaces, this defaults to `false` or returns an empty object `{}` because VLANs can't serve as default routes.
                          example: false
                          type: boolean
                          x-linode-cli-display: 5
                        ipv6:
                          default: false
                          description: Indicates if the interface is used for the IPv6 default route. For VLAN interfaces, this defaults to `false` or returns an empty object `{}` because VLANs can't serve as default routes.
                          example: false
                          type: boolean
                          x-linode-cli-display: 6
                      type:
                      - object
                      - 'null'
                    id:
                      description: __Read-only__ The unique ID for this interface. For `dry_run` [upgrades](https://techdocs.akamai.com/linode-api/reference/post-upgrade-linode-interfaces), a unique `id` is not generated for the interface and its value is set to 0.
                      example: 1234
                      readOnly: true
                      type: integer
                      x-linode-cli-display: 1
                    mac_address:
                      description: A 48-bit MAC address used to identify the Linode’s interface. The `mac_address` of an interface remains constant and does not change.
                      example: 22:00:AB:CD:EF:01
                      maxLength: 64
                      minLength: 1
                      pattern: '[a-zA-Z0-9-]+'
                      type: string
                      x-linode-cli-display: 2
                    public:
                      description: The value is `null` if this isn't a public interface.
                      example: null
                      type:
                      - object
                      - 'null'
                    rdma_vpc:
                      description: The value is `null` if this is not a RDMA VPC interface.
                      example: null
                      type:
                      - object
                      - 'null'
                    updated:
                      description: When the interface was last updated.
                      example: '2024-01-01T00:01:01'
                      type: string
                      x-linode-cli-display: 4
                    version:
                      description: Interface version number that is incremented when the interface is updated.
                      example: 1
                      type: integer
                      x-linode-cli-display: 7
                    vlan:
                      additionalProperties: false
                      description: VLAN interface type.
                      properties:
                        ipam_address:
                          description: This VLAN interface's private IPv4 address in classless inter-domain routing (CIDR) notation.
                          example: 10.0.0.1/24
                          format: ipv4-cidr
                          type:
                          - string
                          - 'null'
                          x-linode-cli-display: 9
                        vlan_label:
                          description: The VLAN's label. VLAN interfaces on the same Linode must have a unique `vlan_label`.
                          example: my-vlan
                          type: string
                          x-linode-cli-display: 8
                      type: object
                    vpc:
                      description: The value is `null` if this isn't a VPC interface.
                      example: null
                      type:
                      - object
                      - 'null'
                  title: VLAN interface
                  type: object
                  x-akamai:
                    file-path: schemas/linode-interface-vlan.yaml
                - additionalProperties: false
                  description: A VPC interface configuration defines settings for a specific VPC interface in the Linode network.
                  properties:
                    created:
                      description: When the interface was created.
                      example: '2025-01-01 00:01:01'
                      type: string
                      x-linode-cli-display: 3
                    default_route:
                      additionalProperties: false
                      description: Indicates if the interface serves as a default route.
                      properties:
                        ipv4:
                          default: false
                          description: Indicates if the interface serves as the IPv4 default route. Only one interface per Linode can have the IPv4 default route.
                          example: true
                          type: boolean
                          x-linode-cli-display: 5
                      type: object
                    id:
                      description: __Read-only__ The unique ID for this interface. For `dry_run` [upgrades](https://techdocs.akamai.com/linode-api/reference/post-upgrade-linode-interfaces), a unique `id` is not generated for the interface and its value is set to 0.
                      example: 1234
                      readOnly: true
                      type: integer
                      x-linode-cli-display: 1
                    mac_address:
                      description: A 48-bit MAC address used to identify the Linode’s interface. The `mac_address` of an interface remains constant and does not change.
                      example: 22:00:AB:CD:EF:01
                      maxLength: 64
                      minLength: 1
                      pattern: '[a-zA-Z0-9-]+'
                      type: string
                      x-linode-cli-display: 2
                    public:
                      description: The value is `null` if this is not a public interface.
                      example: null
                      type:
                      - object
                      - 'null'
                    rdma_vpc:
                      description: The value is `null` if this is not a RDMA VPC interface.
                      example: null
                      type:
                      - object
                      - 'null'
                    updated:
                      description: When the interface last updated.
                      example: '2025-01-01 00:01:01'
                      type: string
                      x-linode-cli-display: 4
                    version:
                      description: The version number of the interface configuration, incremented each time the interface is updated.
                      example: 1
                      type: integer
                      x-linode-cli-display: 6
                    vlan:
                      description: The value is `null` if this is not a VLAN interface.
                      example: null
                      type:
                      - object
                      - 'null'
                    vpc:
                      additionalProperties: false
                      description: VPC interface type.
                      properties:
                        ipv4:
                          additionalProperties: false
                          description: The interface's IPv4 `addresses` and `ranges` configuration.
                          properties:
                            addresses:
                              description: IPv4 address settings for this VPC interface.
                              items:
                                additionalProperties: false
                                properties:
                                  address:
                                    description: The VPC subnet IPv4 address.
                                    example: 192.168.22.3
                                    type: string
                                    x-linode-cli-display: 9
                                  nat_1_1_address:
                                    description: The 1:1 NAT IPv4 address used to associate a public IPv4 address with the interface's VPC subnet IPv4 address.
                                    example: null
                                    type:
                                    - string
                                    - 'null'
                                    x-linode-cli-display: 11
                                  primary:
                                    description: Indicates if the IPv4 address is used to set up a source address for routes inside the Linode for the corresponding network interface.
                                    example: true
                                    type: boolean
                                    x-linode-cli-display: 10
                                type: object
                              type: array
                            ranges:
                              description: VPC IPv4 ranges.
                              items:
                                additionalProperties: false
                                properties:
                                  range:
                                    description: CIDR notation of a range (`1.2.3.4/24`) or prefix only (`/24`).
                                    example: 192.168.22.16/28
                                    type: string
                                    x-linode-cli-display: 12
                                type: object
                              type: array
                          type: object
                        ipv6:
                          additionalProperties: false
                          description: 'IPv6 assigned through `slaac` and `ranges`. If you create a VPC interface in a subnet with IPv6 and don’t specify `slaac` or `ranges`, a SLAAC range is added automatically. The assigned IPv6 prefix must be a `/64` subnet within the VPC subnet''s allocated IPv6 range. Within each subnet, Akamai reserves the first `/64` prefix. This means you can''t use the first `/64` prefix in your subnet. Additionally, the `/64` IPv6 network CIDR:


                            - Can''t be the bottom `/64` of the subnet prefix.

                            - Can''t be in use by another interface on the subnet.

                            - The bottom 64 bits need to be set to 0.'
                          properties:
                            is_public:
                              default: false
                              description: 'Indicates whether the IPv6 configuration profile interface is public.


                                - `false` means that traffic to and from the interface is restricted to the VPC only, with no access to and from the internet.

                                - `true` means that traffic from the interface to IPv6 addresses outside the VPC, and connections from IPv6 addresses outside the VPC to the interface are permitted.'
                              example: true
                              type: boolean
                            ranges:
                              default: []
                              description: Defines additional IPv6 network ranges.
                              items:
                                additionalProperties: false
                                properties:
                                  range:
                                    default: auto
                                    description: The IPv6 network range in CIDR notation.
                                    example: 2001:db8:abcd::/64
                                    type: string
                                type: object
                              type: array
                            slaac:
                              description: Defines IPv6 SLAAC address ranges. An address automatically generates from the assigned `/64` prefix using the Linode’s MAC address, just like on public IPv6 interfaces. Router advertisements (RA) are sent to the Linode, so standard SLAAC configuration works without any changes. The full `/64` prefix is routed to the Linode’s interface, allowing flexible use of any address within that range, regardless of the Linode’s internal network setup.
                              items:
                                additionalProperties: false
                                properties:
                                  address:
                                    description: __Read-only__ The assigned IPv6 address within the range.
                                    example: 2001:db8:abcd::100
                                    format: ipv6
                                    readOnly: true
                                    type: string
                                  range:
                                    default: auto
                                    description: The IPv6 network range in CIDR notation.
                                    example: 2001:db8:abcd::/64
                                    type: string
                                type: object
                              maxItems: 1
                              minItems: 0
                              type: array
                          type:
                          - object
                          - 'null'
                        subnet_id:
                          description: The VPC subnet ID to which the interface is attached to.
                          example: 1234
                          type: integer
                          x-linode-cli-display: 8
                        vpc_id:
                          description: The unique identifier of the VPC to which this interface is attached.
                          example: 1234
                          type: integer
                          x-linode-cli-display: 7
                      type: object
                  title: VPC interface
                  type: object
                  x-akamai:
                    file-path: schemas/linode-interface-vpc.yaml
                - additionalProperties: false
                  description: An RDMA VPC interface configuration defines settings for a specific VPC interface in the Linode network.
                  properties:
                    created:
                      description: When the interface was created.
                      example: '2026-01-01 00:01:01'
                      type: string
                      x-linode-cli-display: 3
                    default_route:
                      additionalProperties: false
                      description: Default route configuration. For RDMA VPC interfaces, default route configurations are rejected and must either be omitted or set to `false`.
                      properties:
                        ipv4:
                          default: false
                          description: RDMA VPC interfaces can't serve as the IPv4 default route.
                          enum:
                          - false
                          example: false
                          type: boolean
                          x-linode-cli-display: 5
                      type: object
                    id:
                      description: __Read-only__ The unique ID for this interface. For `dry_run` [upgrades](https://techdocs.akamai.com/linode-api/reference/post-upgrade-linode-interfaces), a unique `id` is not generated for the interface and its value is set to 0.
                      example: 1234
                      readOnly: true
                      type: integer
                      x-linode-cli-display: 1
                    mac_address:
                      description: A 48-bit MAC address used to identify the Linode’s interface. The `mac_address` of an interface remains constant and does not change.
                      example: 22:00:AB:CD:EF:01
                      maxLength: 64
                      minLength: 1
                      pattern: '[a-zA-Z0-9-]+'
                      type: string
                      x-linode-cli-display: 2
                    public:
                      description: The value is `null` if this is not a public interface.
                      example: null
                      type:
                      - object
                      - 'null'
                    rdma_vpc:
                      additionalProperties: false
                      description: RDMA VPC interface type.
                      properties:
                        ipv4:
                          additionalProperties: false
                          description: The interface's IPv4 `addresses`.
                          properties:
                            addresses:
                              description: IPv4 address settings for this RDMA VPC interface.
                              items:
                                additionalProperties: true
                                properties:
                                  address:
                                    description: The VPC subnet IPv4 address.
                                    example: 192.168.22.3
                                    type: string
                                    x-linode-cli-display: 9
                                  primary:
                                    description: Indicates if the IPv4 address is used to set up a source address for routes inside the Linode for the corresponding network interface.
                                    example: true
                                    type: boolean
                                    x-linode-cli-display: 10
                                type: object
                              maxItems: 1
                              minItems: 1
                              type: array
                          type: object
                        subnet_id:
                          description: The VPC subnet ID to which the interface is attached to.
                          example: 1234
                          type: integer
                          x-linode-cli-display: 8
                        vpc_id:
                          description: The unique identifier of the VPC to which this interface is attached.
                          example: 1234
                          type: integer
                          x-linode-cli-display: 7
                      type: object
                    updated:
                      description: When the interface last updated.
                      example: '2026-01-01 00:01:01'
                      type: string
                      x-linode-cli-display: 4
                    version:
                      description: The version number of the interface configuration, incremented each time the interface is updated.
                      example: 1
                      type: integer
                      x-linode-cli-display: 6
                    vlan:
                      description: The value is `null` if this is not a VLAN interface.
                      example: null
                      type:
                      - object
                      - 'null'
                    vpc:
                      description: The value is `null` if this is not a regular VPC interface.
                      example: null
                      type:
                      - object
                      - 'null'
                  title: RDMA VPC interface
                  type: object
                  x-akamai:
                    file-path: schemas/linode-interface-rdma-vpc.yaml
                type: object
                x-akamai:
                  file-path: schemas/linode-interface.yaml
              x-linode-cli-nested-list: interfaces
              x-linode-cli-use-schema:
                additionalProperties: false
                properties:
                  interfaces.created:
                    description: When the interface was created.
                    example: '2024-01-01T00:01:01'
                    type: string
                    x-linode-cli-display: 3
                  interfaces.default_route:
                    additionalProperties: false
                    description: Indicates if the interface is used as a default route.
                    properties:
                      ipv4:
                        default: false
                        description: Indicates if the interface is used for the IPv4 default route. Only one interface per Linode can have the IPv4 default route.
                        example: true
                        type: boolean
                        x-linode-cli-display: 5
                      ipv6:
                        default: false
                        description: Indicates if the interface is used for the IPv6 default route. Only one interface per Linode can have the IPv6 default route.
                        example: true
                        type: boolean
                        x-linode-cli-display: 6
                    type:
                    - object
                    - 'null'
                  interfaces.id:
                    description: __Read-only__ The unique ID for this interface. For `dry_run` [upgrades](https://techdocs.akamai.com/linode-api/reference/post-upgrade-linode-interfaces), a unique `id` is not generated for the interface and its value is set to 0.
                    example: 1234
                    readOnly: true
                    type: integer
                    x-linode-cli-display: 1
                  interfaces.mac_address:
                    description: A 48-bit MAC address used to identify the Linode’s interface. A public interface's `mac_address` does not change, even if the public interface is deleted and then recreated.
                    example: 22:00:AB:CD:EF:01
                    maxLength: 64
                    minLength: 1
                    pattern: '[a-zA-Z0-9-]+'
                    type: string
                    x-linode-cli-display: 2
                  interfaces.updated:
                    description: When the interface was last updated.
                    example: '2024-01-01T00:01:01'
                    type: string
                    x-linode-cli-display: 4
                  interfaces.version:
                    description: Interface version number that increments when the interface updates.
                    example: 1
                    type: integer
                    x-linode-cli-display: 7
                type: object
                x-akamai:
                  file-path: schemas/linode-interface-cli.yaml
          description: A list of all the interfaces available for a Linode.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
[...]
