openapi: 3.2.0
info:
  description: Add a Cloud Computing instance so you can build, release, and scale applications faster with virtual machines.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: 'Akamai: Linode Configuration profile interfaces API'
  version: 4.229.1
servers:
- url: https://api.linode.com
tags:
- description: Use these operations to upgrade and manage a legacy configuration profile on your Linode to include networking interfaces.
  name: Configuration profile interfaces
paths:
  /{apiVersion}/linode/instances/{linodeId}/configs/{configId}/interfaces:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    - description: The `id` of the Linode.
      example: '{{linodeId}}'
      in: path
      name: linodeId
      required: true
      schema:
        example: 234
        type: integer
      x-akamai:
        file-path: parameters/linode-id.yaml
    - description: The `id` of the Configuration Profile.
      example: '{{configId}}'
      in: path
      name: configId
      required: true
      schema:
        example: 521
        type: integer
      x-akamai:
        file-path: parameters/config-id-profile.yaml
    x-akamai:
      file-path: paths/interfaces.yaml
      path-info: /{apiVersion}/linode/instances/{linodeId}/configs/{configId}/interfaces
    x-linode-cli-command: linodes
    post:
      description: 'Creates and appends a single interface to the end of the `interfaces` array for an existing configuration profile. After you add the interface, you need to reboot the target Linode.


        - A successful request triggers a `linode_config_update` event.


        - Only one interface can be set as `primary`. Setting `primary` to `true` for an interface sets all other interfaces to `false`.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs a role with these permissions assigned. Learn more.

        - Permissions: `create_linode_config_profile_interface`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `linodes:read_write`


        **CLI**


        ```shell

        linode-cli linodes config-interface-add $linodeId $configId \

        --purpose vpc \

        --primary false \

        --subnet_id 101 \

        --ipv4.vpc "10.0.1.2" \

        --ipv4.nat_1_1 "203.0.113.2" \

        --ipv6.slaac.range "2001:db8:abcd::/64" \

        --ipv6.ranges ''[{"range": "2001:0db8::/64"}, {"range": "2001:db8:1234:5678::/64"}]'' \

        --ipv6.is_public false

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/post-linode-config-interface
      operationId: post-linode-config-interface
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - required:
                - purpose
                type: object
              - description: The configuration profile's network interface.
                oneOf:
                - additionalProperties: false
                  description: The public network interface to apply to this Linode's configuration profile.
                  properties:
                    primary:
                      description: 'Designates this interface as the preferred interface for assignment of IPv4 and IPv6 default routes. Each Linode can have only one VPC or public interface set as `primary`. VLAN interfaces are always `false`. For each default route, the system selects a recipient non-VLAN interface based on the following criteria:

                        - Interfaces with a matching IP address (IPv4 or IPv6) are preferred over those without a match.

                        - If multiple interfaces are eligible to be the default route, the system first selects the one designated as `primary`.

                        - If no eligible interface is designated as `primary`, the tie is broken in favor of the earliest-declared eligible interface listed in the configuration profile.'
                      type: boolean
                    purpose:
                      description: 'The type of interface. In this case, the purpose is `public`.


                        - You can only define one `public` interface per Linode.

                        - The Linode''s default public IPv4 address is assigned to the `public` interface.

                        - A Linode needs a `public` interface in the first or `eth0` position to be reachable via the public internet, after it boots. If no `public` interface is configured, you can only access the Linode through [LISH](https://www.linode.com/docs/products/compute/compute-instances/guides/lish/), or through another Linode that''s connected to the same VLAN or VPC.'
                      enum:
                      - public
                      example: public
                      type: string
                      x-linode-cli-display: 3
                  required:
                  - purpose
                  title: Public configuration profile interface
                  type: object
                  x-akamai:
                    file-path: schemas/linode-config-interface-public.yaml
                - additionalProperties: false
                  description: The VPC network interface to apply to this Linode's configuration profile.
                  properties:
                    ip_ranges:
                      description: 'IPv4 CIDR VPC subnet ranges that are routed to this interface. This is only supported for interfaces with a `purpose` of `vpc`.


                        When included in a request:


                        - A range can''t include any addresses that are assigned to an active Linode or another VPC subnet.

                        - When updating, you need to include any existing ranges to maintain them. If a range is left out, it will be removed.

                        - Submit this as an empty array removes all existing values.

                        - Omit this object to leave existing values as is.'
                      example:
                      - 10.0.0.64/26
                      items:
                        format: ip
                        type: string
                      type:
                      - array
                      - 'null'
                    ipv4:
                      additionalProperties: false
                      description: IPv4 addresses configured for this interface. This only applies to interfaces with a `purpose` of `vpc`. Returned as `null` if no `vpc` interface is assigned.
                      properties:
                        nat_1_1:
                          anyOf:
                          - format: ip
                            minLength: 1
                            title: An available public IPv4 address
                            type: string
                          - enum:
                            - any
                            title: The assigned public IPv4 address
                            type: string
                          description: 'The 1:1 NAT IPv4 address, used to associate a public IPv4 address with the interface''s VPC subnet IPv4 address.


                            - Only supported for interfaces with a `purpose` of `vpc`.

                            - Returned as `null` if no 1:1 NAT is set for a `vpc` type interface.

                            - Returned as an empty string (`""`) for non-`vpc` type interfaces.


                            When included in a request:


                            - You can set this to a specific, public IPv4 address that''s available on the Linode. You can also use the `any` keyword to enable the Linode''s assigned public IPv4 address.

                            - A specified address can''t be shared with another Linode.

                            - Omit this object or include it and set it to `null` or an empty string (`""`) to block creation of a 1:1 NAT.


                            <<LB>>


                            > 📘

                            >

                            > You can''t set this to a specific IPv4 address when creating a new Linode. During the creation process, the network automatically establishes a public IPv4 address for the Linode. Since this address doesn''t exist yet, you can''t include a custom IPv4 address to change it. After your Linode is created, you can [update your configuration profile interface](https://www.linode.com/docs/api/linode-instances/#configuration-profile-interface-update) to change the `nat_1_1` address.'
                          example: 203.0.113.2
                          type:
                          - string
                          - 'null'
                        vpc:
                          description: 'The VPC subnet IPv4 address for this interface.


                            - This only applies to interfaces with a `purpose` of `vpc`.

                            - Returned as an empty string (`""`) for non-`vpc` type interfaces.


                            When included in a request:


                            - The `vpc` can''t be assigned to an existing Linode as an address or in a range.

                            - The target address can''t be the first two or last two addresses in the subnet IPv4 range.

                            - If omitted, a valid address within the Subnet IPv4 range is automatically assigned.'
                          example: 10.0.0.2
                          format: ip
                          type:
                          - string
                          - 'null'
                      type: object
                    ipv6:
                      additionalProperties: false
                      description: "__Beta__ IPv6 assigned through `slaac` and `ranges`. The assigned IPv6 prefix must be a `/64` subnet within the VPC subnet's allocated IPv6 range. Within each subnet, Akamai reserves the first `/64` prefix. This means you can't use the first `/64` prefix in your subnet. Additionally, the `/64` IPv6 network CIDR:\n\n  - Can't be the bottom `/64` of the subnet prefix.\n  - Can't be in use by another interface on the subnet.\n  - The bottom 64 bits need to be set to 0."
                      properties:
                        is_public:
                          default: false
                          description: 'Indicates whether the IPv6 configuration on the Linode interface is public.

                            - `false`: Only VPC traffic is allowed.

                            - `true`: Internet access is allowed.'
                          example: true
                          type: boolean
                        ranges:
                          default: []
                          description: Defines additional IPv6 network ranges.
                          items:
                            additionalProperties: false
                            properties:
                              range:
                                default: auto
                                description: The IPv6 network range in CIDR notation.
                                example: 2001:db8:abcd::/64
                                type:
                                - string
                                - 'null'
                            required:
                            - range
                            type: object
                          type: array
                        slaac:
                          description: Defines IPv6 SLAAC address ranges. An address is automatically generated from the assigned `/64` prefix using the Linode’s MAC address, just like on public IPv6 interfaces. Router advertisements (RA) are sent to the Linode, so standard SLAAC configuration works without any changes. The full `/64` prefix is routed to the Linode’s interface, allowing flexible use of any address within that range, regardless of the Linode’s internal network setup.
                          items:
                            additionalProperties: false
                            properties:
                              address:
                                description: __Read-only__ The assigned IPv6 address within the range.
                                example: 2001:db8:abcd::100
                                format: ipv6
                                readOnly: true
                                type: string
                              range:
                                default: auto
                                description: 'The IPv6 network range in CIDR notation.

                                  Must be a `/64` prefix within the VPC subnet''s IPv6 range.'
                                example: 2001:db8:abcd::/64
                                type: string
                            required:
                            - range
                            type: object
                          maxItems: 1
                          minItems: 0
                          type: array
                      type: object
                      x-akamai:
                        status: BETA
                    primary:
                      description: 'Designates this interface as the preferred interface for assignment of IPv4 and IPv6 default routes. Each Linode can have only one VPC or public interface set as `primary`. VLAN interfaces are always `false`. For each default route, the system selects a recipient non-VLAN interface based on the following criteria:

                        - Interfaces with a matching IP address (IPv4 or IPv6) are preferred over those without a match.

                        - If multiple interfaces are eligible to be the default route, the system first selects the one designated as `primary`.

                        - If no eligible interface is designated as `primary`, the tie is broken in favor of the earliest-declared eligible interface listed in the configuration profile.'
                      example: true
                      type: boolean
                    purpose:
                      description: 'The type of interface. In this case, the purpose is `vpc`.


                        - Configuring this `purpose` of interface attaches a Linode to an existing VPC subnet with the specified `subnet_id`.

                        - When the interface is activated, the Linode is configured to use an IP address from the range in the assigned VPC subnet. See `ipv4.vpc` for more information.'
                      enum:
                      - vpc
                      example: vpc
                      type: string
                      x-linode-cli-display: 3
                    subnet_id:
                      description: 'The `id` of the VPC subnet for this interface. Use this value in a request to assign a Linode to a VPC subnet.


                        - Required for `vpc` type interfaces.

                        - Returned as `null` for non-`vpc` type interfaces.

                        - Once you''ve assigned a VPC subnet to an interface, you can''t update it.

                        - You need to reboot a Linode using the interface''s configuration profile to assign the Linode to a VPC subnet.'
                      example: 101
                      type:
                      - integer
                      - 'null'
                  required:
                  - purpose
                  title: VPC configuration profile interface
                  type: object
                  x-akamai:
                    file-path: schemas/linode-config-interface-vpc.yaml
                - additionalProperties: false
                  description: The VLAN network interface to apply to this Linode's configuration profile.
                  properties:
                    ipam_address:
                      description: 'This interface''s private IP address in classless inter-domain routing (CIDR) notation.


                        - To avoid conflicting addresses, make sure this value is unique for each `vlan` interface.

                        - This should be unique among devices attached to the VLAN to avoid conflict.

                        - If Network Helper is enabled, the Linode''s interface will be automatically configured to use this address after the Linode is rebooted. If Network Helper is disabled, enable the address using [manual static IP configuration](https://www.linode.com/docs/guides/manual-network-configuration/).'
                      example: 10.0.0.1/24
                      format: ip/netmask
                      type:
                      - string
                      - 'null'
                      x-linode-cli-display: 4
                    label:
                      description: '__Filterable__ The name of this interface. For interfaces with a `purpose` of `vlan`:


                        - This needs to be unique among a Linode''s interfaces. A Linode can''t be attached to the same VLAN more than once.

                        - This can only contain alphanumeric characters and non-consecutive dashes (`-`).

                        - If the VLAN label is new, a VLAN is created. Up to 10 VLANs can be created in each data center `region`. To view your active VLANs, run the [List VLANs](https://techdocs.akamai.com/linode-api/reference/get-vlans) operation.'
                      example: example-interface
                      maxLength: 64
                      minLength: 1
                      pattern: '[a-zA-Z0-9-]+'
                      type:
                      - string
                      - 'null'
                      x-akamai:
                        labels:
                        - Filterable
                      x-linode-cli-display: 2
                      x-linode-filterable: true
                    primary:
                      description: 'Designates this interface as the preferred interface for assignment of IPv4 and IPv6 default routes. Each Linode can have only one VPC or public interface set as `primary`. VLAN interfaces are always `false`. For each default route, the system selects a recipient non-VLAN interface based on the following criteria:

                        - Interfaces with a matching IP address (IPv4 or IPv6) are preferred over those without a match.

                        - If multiple interfaces are eligible to be the default route, the system first selects the one designated as `primary`.

                        - If no eligible interface is designated as `primary`, the tie is broken in favor of the earliest-declared eligible interface listed in the configuration profile.'
                      example: false
                      type: boolean
                    purpose:
                      description: 'The type of interface. In this case, the purpose is `vlan`.


                        - Configuring this `purpose` of interface attaches a Linode to the VLAN with the specified `label`.

                        - If an `ipam_address` is configured, the Linode uses this address.'
                      enum:
                      - vlan
                      example: vlan
                      type: string
                      x-linode-cli-display: 3
                  required:
                  - label
                  - purpose
                  title: VLAN configuration profile interface
                  type: object
                  x-akamai:
                    file-path: schemas/linode-config-interface-vlan.yaml
                type: object
                x-akamai:
                  file-path: schemas/linode-config-interface.yaml
              x-akamai:
                file-path: schemas/added-post-linode-config-interface.yaml
            x-example:
              x-ref: ../examples/post-linode-config-interface.json
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                ex-public:
                  summary: Public config profile interface
                  value:
                    active: true
                    id: 101
                    ip_ranges: null
                    ipam_address: null
                    ipv4: null
                    ipv6: null
                    label: null
                    primary: true
                    purpose: public
                    subnet_id: null
                    vpc_id: null
                ex-vlan:
                  summary: VLAN config profile interface
                  value:
                    active: false
                    id: 102
                    ip_ranges: null
                    ipam_address: 10.0.0.1/24
                    ipv4: null
                    ipv6: null
                    label: vlan-1
                    primary: false
                    purpose: vlan
                    subnet_id: null
                    vpc_id: null
                ex-vpc:
                  summary: VPC config profile interface
                  value:
                    active: true
                    id: 103
                    ip_ranges:
                    - 10.0.0.64/26
                    ipam_address: null
                    ipv4:
                      nat_1_1: 172.16.0.1
                      vpc: 10.0.0.2
                    ipv6:
                      is_public: true
                      ranges:
                      - range: 2001:db8:abcd::/64
                      slaac:
                      - address: 2001:db8:1234:0000:2000:6eff:feda:af4c
                        range: 2001:db8:1234::/64
                    label: null
                    primary: true
                    purpose: vpc
                    subnet_id: '1031'
                    vpc_id: '103'
              schema:
                additionalProperties: false
                description: The network interface to apply to this Linode's configuration profile.
                properties:
                  active:
                    description: __Read-only__ Returns `true` if the interface is in use, meaning that the Linode has been booted using the configuration profile to which the interface belongs.
                    example: true
                    readOnly: true
                    type: boolean
                  id:
                    description: __Read-only__ The unique ID representing this interface.
                    example: 101
                    readOnly: true
                    type: integer
                    x-linode-cli-display: 1
                  ip_ranges:
                    description: 'IPv4 CIDR VPC subnet ranges that are routed to this interface.


                      When included in a request:


                      - A range can''t include any addresses that are assigned to an active Linode or another VPC subnet.


                      - When updating, you need to include any existing ranges to maintain them. If a range is left out, it will be removed.


                      - Submit this as an empty array removes all existing values.


                      - Omit this object to leave existing values as is.


                      <<LB>>


                      > 📘

                      >

                      > This is only supported for interfaces with a `purpose` of `vpc`.'
                    example:
                    - 10.0.0.64/26
                    - fd04:495a:691c:971c::1:0/112
                    items:
                      format: ip
                      type: string
                    type:
                    - array
                    - 'null'
                  ipam_address:
                    description: 'This interface''s private IP address in classless inter-domain routing (CIDR) notation.


                      For interfaces with a `purpose` of `public`:


                      - If you include this in a request, set it to an empty string (`""`) or `null`.


                      - Returned as `null` in a response.


                      For interfaces with a `purpose` of `vlan`:


                      - To avoid conflicting addresses, make sure this value is unique for each `vlan` interface.


                      - This should be unique among devices attached to the VLAN to avoid conflict.


                      - If Network Helper is enabled, the Linode''s interface will be automatically configured to use this address after the Linode is rebooted. If Network Helper is disabled, enable the address using [manual static IP configuration](https://www.linode.com/docs/guides/manual-network-configuration/).


                      For interfaces with a `purpose` of `vpc`:


                      - If you include this in a request, set it to an empty string (`""`) or `null`.


                      - Returned as `null` in a response.'
                    example: 10.0.0.1/24
                    format: ip/netmask
                    type:
                    - string
                    - 'null'
                    x-linode-cli-display: 4
                  ipv4:
                    additionalProperties: false
                    description: IPv4 addresses configured for this interface. This only applies to interfaces with a `purpose` of `vpc`. Returned as `null` if no `vpc` interface is assigned.
                    properties:
                      nat_1_1:
                        anyOf:
                        - format: ip
                          minLength: 1
                          title: An available public IPv4 address
                          type: string
                        - enum:
                          - any
                          title: The assigned public IPv4 address
                          type: string
                        description: 'The 1:1 NAT IPv4 address, used to associate a public IPv4 address with the interface''s VPC subnet IPv4 address.


                          - Only supported for interfaces with a `purpose` of `vpc`.


                          - Returned as `null` if no 1:1 NAT is set for a `vpc` type interface.


                          - Returned as an empty string (`""`) for non-`vpc` type interfaces.


                          When included in a request:


                          - You can set this to a specific, public IPv4 address that''s available on the Linode. You can also use the `any` keyword to enable the Linode''s assigned public IPv4 address.


                          - A specified address can''t be shared with another Linode.


                          - Omit this object or include it and set it to `null` or an empty string (`""`) to block creation of a 1:1 NAT.


                          <<LB>>


                          > 📘

                          >

                          > You can''t set this to a specific IPv4 address when creating a new Linode. During the creation process, the network automatically establishes a public IPv4 address for the Linode. Since this address doesn''t exist yet, you can''t include a custom IPv4 address to change it. After your Linode is created, you can [update your configuration profile interface](https://www.linode.com/docs/api/linode-instances/#configuration-profile-interface-update) to change the `nat_1_1` address.'
                        example: 203.0.113.2
                        type:
                        - string
                        - 'null'
                      vpc:
                        description: 'The VPC subnet IPv4 address for this interface.


                          - This only applies to interfaces with a `purpose` of `vpc`.


                          - Returned as an empty string (`""`) for non-`vpc` type interfaces.


                          When included in a request:


                          - The `vpc` can''t be assigned to an existing Linode as an address or in a range.


                          - The target address can''t be the first two or last two addresses in the subnet IPv4 range.


                          - If omitted, a valid address within the Subnet IPv4 range is automatically assigned.'
                        example: 10.0.0.2
                        format: ip
                        type:
                        - string
                        - 'null'
                    type: object
                  ipv6:
                    additionalProperties: false
                    description: '__Beta__ IPv6 assigned through `slaac` and `ranges`. If you create a VPC interface in a subnet with IPv6 and don’t specify `slaac` or `ranges`, a SLAAC range is added automatically. The assigned IPv6 prefix must be a `/64` subnet within the VPC subnet''s allocated IPv6 range. Within each subnet, Akamai reserves the first `/64` prefix. This means you can''t use the first `/64` prefix in your subnet. Additionally, the `/64` IPv6 network CIDR:


                      - Can''t be the bottom `/64` of the subnet prefix.

                      - Can''t be in use by another interface on the subnet.

                      - The bottom 64 bits need to be set to 0.'
                    properties:
                      is_public:
                        default: false
                        description: 'Indicates whether the IPv6 configuration profile interface is public.


                          - `false` means that traffic to and from the interface is restricted to the VPC only, with no access to and from the internet.

                          - `true` means that traffic from the interface to IPv6 addresses outside the VPC, and connections from IPv6 addresses outside the VPC to the interface are permitted.'
                        example: true
                        type: boolean
                      ranges:
                        default: []
                        description: __Beta__ Defines additional IPv6 network ranges.
                        items:
                          properties:
                            range:
                              default: auto
                              description: The IPv6 network range in CIDR notation.
                              example: 2001:db8:abcd::/64
                              type: string
                          type: object
                        type: array
                        x-akamai:
                          status: BETA
                      slaac:
                        description: __Beta__ Defines IPv6 SLAAC address ranges. An address is automatically generated from the assigned `/64` prefix using the Linode’s MAC address, just like on public IPv6 interfaces. Router advertisements (RA) are sent to the Linode, so standard SLAAC configuration works without any changes. The full `/64` prefix is routed to the Linode’s interface, allowing flexible use of any address within that range, regardless of the Linode’s internal network setup.
                        items:
                          properties:
                            address:
                              description: __Read-only__ The assigned IPv6 address within the range.
                              example: 2001:db8:abcd::100
                              format: ipv6
                              readOnly: true
                              type: string
                            range:
                              default: auto
                              description: The IPv6 network range in CIDR notation.
                              example: 2001:db8:abcd::/64
                              type: string
                          required:
                          - range
                          type: object
                        maxItems: 1
                        minItems: 0
                        type: array
                        x-akamai:
                          status: BETA
                    type: object
                    x-akamai:
                      status: BETA
                  label:
                    description: '__Filterable__ The name of this interface.


                      For interfaces with a `purpose` of `vlan`:


                      - Required.


                      - This needs to be unique among a Linode''s interfaces. A Linode can''t be attached to the same VLAN multiple times.


                      - This can only contain alphanumeric characters and non-consecutive dashes (`-`).


                      - If the VLAN label is new, a VLAN is created. Up to 10 VLANs can be created in each data center `region`. To view your active VLANs, run the [List VLANs](https://techdocs.akamai.com/linode-api/reference/get-vlans) operation.


                      For interfaces with a `purpose` of `public`:


                      - If you include this in a request, set it to an empty string (`""`) or `null`.


                      - Returned as `null` in a response.


                      For interfaces with a `purpose` of `vpc`:


                      - If you include this in a request, set it to an empty string (`""`) or `null`.


                      - Returned as `null` in a response.'
                    example: example-interface
                    maxLength: 64
                    minLength: 1
                    pattern: '[a-zA-Z0-9-]+'
                    type:
                    - string
                    - 'null'
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 2
                    x-linode-filterable: true
                  primary:
                    description: 'Designates this interface as the preferred interface for assignment of IPv4 and IPv6 default routes. Each Linode can have only one VPC or public interface set as `primary`. VLAN interfaces are always `false`. For each default route, the system selects a recipient non-VLAN interface based on the following criteria:

                      - Interfaces with a matching IP address (IPv4 or IPv6) are preferred over those without a match.

                      - If multiple interfaces are eligible to be the default route, the system first selects the one designated as `primary`.

                      - If no eligible interface is designated as `primary`, the tie is broken in favor of the earliest-declared eligible interface listed in the configuration profile.'
                    example: true
                    type: boolean
                  purpose:
                    description: 'The type of interface. This can be `public`, `vlan`, or `vpc`.


                      For interfaces with a `purpose` of `public`:


                      - You can only define one `public` interface per Linode.


                      - The Linode''s default public IPv4 address is assigned to the `public` interface.


                      - A Linode needs a `public` interface in the first or `eth0` position to be reachable via the public internet, after it boots. If no `public` interface is configured, you can only access the Linode through [LISH](https://www.linode.com/docs/products/compute/compute-instances/guides/lish/), or through another Linode that''s connected to the same VLAN or VPC.


                      For interfaces with a `purpose` of `vlan`:


                      - Configuring this `purpose` of interface attaches a Linode to the VLAN with the specified `label`.


                      - If an `ipam_address` is configured, the Linode uses this address.


                      For interfaces with a `purpose` of `vpc`:


                      - Configuring this `purpose` of interface attaches a Linode to an existing VPC subnet with the specified `subnet_id`.


                      - When the interface is activated, the Linode is configured to use an IP address from the range in the assigned VPC subnet. See `ipv4.vpc` for more information.'
                    enum:
                    - public
                    - vlan
                    - vpc
                    example: vlan
                    type: string
                    x-linode-cli-display: 3
                  subnet_id:
                    description: 'The `id` of the VPC subnet for this interface. Use this value in a request to assign a Linode to a VPC subnet.


                      - Required for `vpc` type interfaces.


                      - Returned as `null` for non-`vpc` type interfaces.


                      - Once you''ve assigned a VPC subnet to an interface, you can''t update it.


                      - You need to reboot a Linode using the interface''s configuration profile to assign the Linode to a VPC subnet.'
                    example: 101
                    type:
                    - integer
                    - 'null'
                  vpc_id:
                    description: __Read-only__ The `id` of the VPC configured for this interface. Returned as `null` for non-`vpc` type interfaces.
                    example: 111
                    readOnly: true
                    type:
                    - integer
                    - 'null'
                required:
                - purpose
                type: object
                x-akamai:
                  file-path: schemas/linode-config-interface-vpc-vlan-public.yaml
          description: Configuration profile interface successfully added.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - linodes:read_write
      summary: Add a configuration profile interface
      tags:
      - Configuration profile interfaces
      x-akamai:
        tabs:
        - syntax: "linode-cli linodes config-interface-add $linodeId $configId \\\n  --purpose vpc \\\n  --primary false \\\n  --subnet_id 101 \\\n  --ipv4.vpc \"10.0.1.2\" \\\n  --ipv4.nat_1_1 \"203.0.113.2\" \\\n  --ipv6.slaac.range \"2001:db8:abcd::/64\" \\\n  --ipv6.ranges '[{\"range\": \"2001:0db8::/64\"}, {\"range\": \"2001:db8:1234:5678::/64\"}]' \\\n  --ipv6.is_public false"
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: config-interface-add
      x-linode-grant: read_write
      x-linode-iam:
      - permissions:
        - create_linode_config_profile_interface
    get:
      description: 'Returns all configuration profile interfaces assigned to a specific configuration profile, on a specific Linode.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs a role with these permissions assigned. Learn more.

        - Permissions: `view_linode_config_profile_interface`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `linodes:read_only`


        **CLI**


        ```shell

        linode-cli linodes config-interfaces-list $linodeId $configId

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-linode-config-interfaces
      operationId: get-linode-config-interfaces
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                description: The network interface to apply to this Linode's configuration profile.
                properties:
                  active:
                    description: __Read-only__ Returns `true` if the interface is in use, meaning that the Linode has been booted using the configuration profile to which the interface belongs.
                    example: true
                    readOnly: true
                    type: boolean
                  id:
                    description: __Read-only__ The unique ID representing this interface.
                    example: 101
                    readOnly: true
                    type: integer
                    x-linode-cli-display: 1
                  ip_ranges:
                    description: 'IPv4 CIDR VPC subnet ranges that are routed to this interface.


                      When included in a request:


                      - A range can''t include any addresses that are assigned to an active Linode or another VPC subnet.


                      - When updating, you need to include any existing ranges to maintain them. If a range is left out, it will be removed.


                      - Submit this as an empty array removes all existing values.


                      - Omit this object to leave existing values as is.


                      <<LB>>


                      > 📘

                      >

                      > This is only supported for interfaces with a `purpose` of `vpc`.'
                    example:
                    - 10.0.0.64/26
                    - fd04:495a:691c:971c::1:0/112
                    items:
                      format: ip
                      type: string
                    type:
                    - array
                    - 'null'
                  ipam_address:
                    description: 'This interface''s private IP address in classless inter-domain routing (CIDR) notation.


                      For interfaces with a `purpose` of `public`:


                      - If you include this in a request, set it to an empty string (`""`) or `null`.


                      - Returned as `null` in a response.


                      For interfaces with a `purpose` of `vlan`:


                      - To avoid conflicting addresses, make sure this value is unique for each `vlan` interface.


                      - This should be unique among devices attached to the VLAN to avoid conflict.


                      - If Network Helper is enabled, the Linode''s interface will be automatically configured to use this address after the Linode is rebooted. If Network Helper is disabled, enable the address using [manual static IP configuration](https://www.linode.com/docs/guides/manual-network-configuration/).


                      For interfaces with a `purpose` of `vpc`:


                      - If you include this in a request, set it to an empty string (`""`) or `null`.


                      - Returned as `null` in a response.'
                    example: 10.0.0.1/24
                    format: ip/netmask
                    type:
                    - string
                    - 'null'
                    x-linode-cli-display: 4
                  ipv4:
                    additionalProperties: false
                    description: IPv4 addresses configured for this interface. This only applies to interfaces with a `purpose` of `vpc`. Returned as `null` if no `vpc` interface is assigned.
                    properties:
                      nat_1_1:
                        anyOf:
                        - format: ip
                          minLength: 1
                          title: An available public IPv4 address
                          type: string
                        - enum:
                          - any
                          title: The assigned public IPv4 address
                          type: string
                        description: 'The 1:1 NAT IPv4 address, used to associate a public IPv4 address with the interface''s VPC subnet IPv4 address.


                          - Only supported for interfaces with a `purpose` of `vpc`.


                          - Returned as `null` if no 1:1 NAT is set for a `vpc` type interface.


                          - Returned as an empty string (`""`) for non-`vpc` type interfaces.


                          When included in a request:


                          - You can set this to a specific, public IPv4 address that''s available on the Linode. You can also use the `any` keyword to enable the Linode''s assigned public IPv4 address.


                          - A specified address can''t be shared with another Linode.


                          - Omit this object or include it and set it to `null` or an empty string (`""`) to block creation of a 1:1 NAT.


                          <<LB>>


                          > 📘

                          >

                          > You can''t set this to a specific IPv4 address when creating a new Linode. During the creation process, the network automatically establishes a public IPv4 address for the Linode. Since this address doesn''t exist yet, you can''t include a custom IPv4 address to change it. After your Linode is created, you can [update your configuration profile interface](https://www.linode.com/docs/api/linode-instances/#configuration-profile-interface-update) to change the `nat_1_1` address.'
                        example: 203.0.113.2
                        type:
                        - string
                        - 'null'
                      vpc:
                        description: 'The VPC subnet IPv4 address for this interface.


                          - This only applies to interfaces with a `purpose` of `vpc`.


                          - Returned as an empty string (`""`) for non-`vpc` type interfaces.


                          When included in a request:


                          - The `vpc` can''t be assigned to an existing Linode as an address or in a range.


                          - The target address can''t be the first two or last two addresses in the subnet IPv4 range.


                          - If omitted, a valid address within the Subnet IPv4 range is automatically assigned.'
                        example: 10.0.0.2
                        format: ip
                        type:
                        - string
                        - 'null'
                    type: object
                  ipv6:
                    additionalProperties: false
                    description: '__Beta__ IPv6 assigned through `slaac` and `ranges`. If you create a VPC interface in a subnet with IPv6 and don’t specify `slaac` or `ranges`, a SLAAC range is added automatically. The assigned IPv6 prefix must be a `/64` subnet within the VPC subnet''s allocated IPv6 range. Within each subnet, Akamai reserves the first `/64` prefix. This means you can''t use the first `/64` prefix in your subnet. Additionally, the `/64` IPv6 network CIDR:


                      - Can''t be the bottom `/64` of the subnet prefix.

                      - Can''t be in use by another interface on the subnet.

                      - The bottom 64 bits need to be set to 0.'
                    properties:
                      is_public:
                        default: false
                        description: 'Indicates whether the IPv6 configuration profile interface is public.


                          - `false` means that traffic to and from the interface is restricted to the VPC only, with no access to and from the internet.

                          - `true` means that traffic from the interface to IPv6 addresses outside the VPC, and connections from IPv6 addresses outside the VPC to the interface are permitted.'
                        example: true
                        type: boolean
                      ranges:
                        default: []
                        description: __Beta__ Defines additional IPv6 network ranges.
                        items:
                          properties:
                            range:
                              default: auto
                              description: The IPv6 network range in CIDR notation.
                              example: 2001:db8:abcd::/64
                              type: string
                          type: object
                        type: array
                        x-akamai:
                          status: BETA
                      slaac:
                        description: __Beta__ Defines IPv6 SLAAC address ranges. An address is automatically generated from the assigned `/64` prefix using the Linode’s MAC address, just like on public IPv6 interfaces. Router advertisements (RA) are sent to the Linode, so standard SLAAC configuration works without any changes. The full `/64` prefix is routed to the Linode’s interface, allowing flexible use of any address within that range, regardless of the Linode’s internal network setup.
                        items:
                          properties:
                            address:
                              description: __Read-only__ The assigned IPv6 address within the range.
                              example: 2001:db8:abcd::100
                              format: ipv6
                              readOnly: true
                              type: string
                            range:
                              default: auto
                              description: The IPv6 network range in CIDR notation.
                              example: 2001:db8:abcd::/64
                              type: string
                          required:
                          - range
                          type: object
                        maxItems: 1
                        minItems: 0
                        type: array
                        x-akamai:
                          status: BETA
                    type: object
                    x-akamai:
                      status: BETA
                  label:
                    description: '__Filterable__ The name of this interface.


                      For interfaces with a `purpose` of `vlan`:


                      - Required.


                      - This needs to be unique among a Linode''s interfaces. A Linode can''t be attached to the same VLAN multiple times.


                      - This can only contain alphanumeric characters and non-consecutive dashes (`-`).


                      - If the VLAN label is new, a VLAN is created. Up to 10 VLANs can be created in each data center `region`. To view your active VLANs, run the [List VLANs](https://techdocs.akamai.com/linode-api/reference/get-vlans) operation.


                      For interfaces with a `purpose` of `public`:


                      - If you include this in a request, set it to an empty string (`""`) or `null`.


                      - Returned as `null` in a response.


                      For interfaces with a `purpose` of `vpc`:


                      - If you include this in a request, set it to an empty string (`""`) or `null`.


                      - Returned as `null` in a response.'
                    example: example-interface
                    maxLength: 64
                    minLength: 1
                    pattern: '[a-zA-Z0-9-]+'
                    type:
                    - string
                    - 'null'
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 2
                    x-linode-filterable: true
                  primary:
                    description: 'Designates this interface as the preferred interface for assignment of IPv4 and IPv6 default routes. Each Linode can have only one VPC or public interface set as `primary`. VLAN interfaces are always `false`. For each default route, the system selects a recipient non-VLAN interface based on the following criteria:

                      - Interfaces with a matching IP address (IPv4 or IPv6) are preferred over those without a match.

                      - If multiple interfaces are eligible to be the default route, the system first selects the one designated as `primary`.

                      - If no eligible interface is designated as `primary`, the tie is broken in favor of the earliest-declared eligible interface listed in the configuration profile.'
                    example: true
                    type: boolean
                  purpose:
                    description: 'The type of interface. This can be `public`, `vlan`, or `vpc`.


                      For interfaces with a `purpose` of `public`:


                      - You can only define one `public` interface per Linode.


                      - The Linode''s default public IPv4 address is assigned to the `public` interface.


                      - A Linode needs a `public` interface in the first or `eth0` position to be reachable via the public internet, after it boots. If no `public` interface is configured, you can only access the Linode through [LISH](https://www.linode.com/docs/products/compute/compute-instances/guides/lish/), or through another Linode that''s connected to the same VLAN or VPC.


                      For interfaces with a `purpose` of `vlan`:


                      - Configuring this `purpose` of interface attaches a Linode to the VLAN with the specified `label`.


                      - If an `ipam_address` is configured, the Linode uses this address.


                      For interfaces with a `purpose` of `vpc`:


                      - Configuring this `purpose` of interface attaches a Linode to an existing VPC subnet with the specified `subnet_id`.


                      - When the interface is activated, the Linode is configured to use an IP address from the range in the assigned VPC subnet. See `ipv4.vpc` for more information.'
                    enum:
                    - public
                    - vlan
                    - vpc
                    example: vlan
                    type: string
                    x-linode-cli-display: 3
                  subnet_id:
                    description: 'The `id` of the VPC subnet for this interface. Use this value in a request to assign a Linode to a VPC subnet.


                      - Required for `vpc` type interfaces.


                      - Returned as `null` for non-`vpc` type interfaces.


                      - Once you''ve assigned a VPC subnet to an interface, you can''t update it.


                      - You need to reboot a Linode using the interface''s configuration profile to assign the Linode to a VPC subnet.'
                    example: 101
                    type:
                    - integer
                    - 'null'
                  vpc_id:
                    description: __Read-only__ The `id` of the VPC configured for this interface. Returned as `null` for non-`vpc` type interfaces.
                    example: 111
                    readOnly: true
                    type:
                    - integer
                    - 'null'
                required:
                - purpose
                type: object
                x-akamai:
                  file-path: schemas/linode-config-interface-vpc-vlan-public.yaml
              x-example:
                x-ref: ../examples/get-linode-config-interfaces-200.json
          description: An ordered array of configuration profile interface objects.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - linodes:read_only
      summary: List configuration profile interfaces
      tags:
      - Configuration profile interfaces
      x-akamai:
        tabs:
        - syntax: linode-cli linodes config-interfaces-list $linodeId $configId
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action:
      - config-interfaces-list
      - config-interfaces-ls
      x-linode-grant: read_only
      x-linode-iam:
      - permissions:
        - view_linode_config_profile_interface
  /{apiVersion}/linode/instances/{linodeId}/configs/{configId}/interfaces/order:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    - description: The `id` of the Linode.
      example: '{{linodeId}}'
      in: path
      name: linodeId
      required: true
      schema:
        example: 234
        type: integer
      x-akamai:
        file-path: parameters/linode-id.yaml
    - description: The `id` of the Configuration Profile.
      example: '{{configId}}'
      in: path
      name: configId
      required: true
      schema:
        example: 521
        type: integer
      x-akamai:
        file-path: parameters/config-id-profile.yaml
    x-akamai:
      file-path: paths/linode-config-reorder.yaml
      path-info: /{apiVersion}/linode/instances/{linodeId}/configs/{configId}/interfaces/order
    x-linode-cli-command: linodes
    post:
      description: 'Reorders the existing Interfaces of a Configuration Profile.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs a role with these permissions assigned. Learn more.

        - Permissions: `reorder_linode_config_profile_interfaces`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `linodes:read_write`


        **CLI**


        ```shell

        linode-cli linodes config-interfaces-order $linodeId $configId \

        --ids 101 --ids 102 --ids 103

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/post-linode-config-interfaces
      operationId: post-linode-config-interfaces
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: false
              description: Linode Configuration Interfaces Order request object.
              properties:
                ids:
                  description: 'An ordered array of existing configuration profile interface `id` values.


                    - All current Interface `id`s must be present in the array.

                    - If the Configuration Profile contains Interfaces and is active on the Linode, the Linode must first be shut down prior to running this operation.

                    - Reordering takes effect after rebooting the Linode with this Configuration Profile.


                    The position in the array determines which of the Linode''s network Interfaces is configured:


                    - First [0]:  eth0

                    - Second [1]: eth1

                    - Third [2]:  eth2'
                  example:
                  - 101
                  - 102
                  - 103
                  items:
                    type: integer
                    x-linode-cli-display: 3
                  type: array
              required:
              - ids
              type: object
              x-akamai:
                file-path: schemas/added-post-linode-config-interfaces.yaml
            x-example:
              x-ref: ../examples/post-linode-config-interfaces.json
        required: true
      responses:
        '200':
          content:
            application/json:
              example: {}
              schema:
                description: The API responds with an empty object.
                maxProperties: 0
                type: object
                x-akamai:
                  file-path: schemas/added-empty-obj.yaml
          description: Interfaces successfully reordered.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - linodes:read_write
      summary: Reorder configuration profile interfaces
      tags:
      - Configuration profile interfaces
      x-akamai:
        tabs:
        - syntax: "linode-cli linodes config-interfaces-order $linodeId $configId \\\n  --ids 101 --ids 102 --ids 103"
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: config-interfaces-order
      x-linode-grant: read_write
      x-linode-iam:
      - permissions:
        - reorder_linode_config_profile_interfaces
  /{apiVersion}/linode/instances/{linodeId}/configs/{configId}/interfaces/{interfaceId}:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    - description: The `id` of the Linode.
      example: '{{linodeId}}'
      in: path
      name: linodeId
      required: true
      schema:
        example: 234
        type: integer
      x-akamai:
        file-path: parameters/linode-id.yaml
    - description: The `id` of the Configuration Profile.
      example: '{{configId}}'
      in: path
      name: configId
      required: true
      schema:
        example: 521
        type: integer
      x-akamai:
        file-path: parameters/config-id-profile.yaml
    - description: The `id` of the Linode Configuration Profile Interface.
      example: '{{interfaceId}}'
      in: path
      name: interfaceId
      required: true
      schema:
        example: 916
        type: integer
      x-akamai:
        file-path: parameters/interface-id-path.yaml
    x-akamai:
      file-path: paths/interface.yaml
      path-info: /{apiVersion}/linode/instances/{linodeId}/configs/{configId}/interfaces/{interfaceId}
    x-linode-cli-command: linodes
    get:
      description: 'Returns a single configuration profile interface.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs a role with these permissions assigned. Learn more.

        - Permissions: `view_linode_config_profile_interface`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `linodes:read_only`


        **CLI**


        ```shell

        linode-cli linodes config-interface-view $linodeId $configId $interfaceId

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-linode-config-interface
      operationId: get-linode-config-interface
      responses:
        '200':
          content:
            application/json:
              examples:
                ex-public:
                  summary: Public config profile interface
                  value:
                    active: true
                    id: 101
                    ip_ranges: null
                    ipam_address: null
                    ipv4: null
                    ipv6: null
                    label: null
                    primary: true
                    purpose: public
                    subnet_id: null
                    vpc_id: null
                ex-vlan:
                  summary: VLAN config profile interface
                  value:
                    active: false
                    id: 102
                    ip_ranges: null
                    ipam_address: 10.0.0.1/24
                    ipv4: null
                    ipv6: null
                    label: vlan-1
                    primary: false
                    purpose: vlan
                    subnet_id: null
                    vpc_id: null
                ex-vpc:
                  summary: VPC config profile interface
                  value:
                    active: true
                    id: 103
                    ip_ranges:
                    - 10.0.0.64/26
                    ipam_address: null
                    ipv4:
                      nat_1_1: 172.16.0.1
                      vpc: 10.0.0.2
                    ipv6:
                      is_public: true
                      ranges:
                      - range: 2001:db8:abcd::/64
                      slaac:
                      - address: 2001:db8:1234:0000:2000:6eff:feda:af4c
                        range: 2001:db8:1234::/64
                    label: null
                    primary: true
                    purpose: vpc
                    subnet_id: '1031'
                    vpc_id: '103'
              schema:
                additionalProperties: false
                description: The network interface to apply to this Linode's configuration profile.
                properties:
                  active:
                    description: __Read-only__ Returns `true` if the interface is in use, meaning that the Linode has been booted using the configuration profile to which the interface belongs.
                    example: true
                    readOnly: true
                    type: boolean
                  id:
                    description: __Read-only__ The unique ID representing this interface.
                    example: 101
                    readOnly: true
                    type: integer
                    x-linode-cli-display: 1
                  ip_ranges:
                    description: 'IPv4 CIDR VPC subnet ranges that are routed to this interface.


                      When included in a request:


                      - A range can''t include any addresses that are assigned to an active Linode or another VPC subnet.


                      - When updating, you need to include any existing ranges to maintain them. If a range is left out, it will be removed.


                      - Submit this as an empty array removes all existing values.


                      - Omit this object to leave existing values as is.


                      <<LB>>


                      > 📘

                      >

                      > This is only supported for interfaces with a `purpose` of `vpc`.'
                    example:
                    - 10.0.0.64/26
                    - fd04:495a:691c:971c::1:0/112
                    items:
                      format: ip
                      type: string
                    type:
                    - array
                    - 'null'
                  ipam_address:
                    description: 'This interface''s private IP address in classless inter-domain routing (CIDR) notation.


                      For interfaces with a `purpose` of `public`:


                      - If you include this in a request, set it to an empty string (`""`) or `null`.


                      - Returned as `null` in a response.


                      For interfaces with a `purpose` of `vlan`:


                      - To avoid conflicting addresses, make sure this value is unique for each `vlan` interface.


                      - This should be unique among devices attached to the VLAN to avoid conflict.


                      - If Network Helper is enabled, the Linode''s interface will be automatically configured to use this address after the Linode is rebooted. If Network Helper is disabled, enable the address using [manual static IP configuration](https://www.linode.com/docs/guides/manual-network-configuration/).


                      For interfaces with a `purpose` of `vpc`:


                      - If you include this in a request, set it to an empty string (`""`) or `null`.


                      - Returned as `null` in a response.'
                    example: 10.0.0.1/24
                    format: ip/netmask
                    type:
                    - string
                    - 'null'
                    x-linode-cli-display: 4
                  ipv4:
                    additionalProperties: false
                    description: IPv4 addresses configured for this interface. This only applies to interfaces with a `purpose` of `vpc`. Returned as `null` if no `vpc` interface is assigned.
                    properties:
                      nat_1_1:
                        anyOf:
                        - format: ip
                          minLength: 1
                          title: An available public IPv4 address
                          type: string
                        - enum:
                          - any
                          title: The assigned public IPv4 address
                          type: string
                        description: 'The 1:1 NAT IPv4 address, used to associate a public IPv4 address with the interface''s VPC subnet IPv4 address.


                          - Only supported for interfaces with a `purpose` of `vpc`.


                          - Returned as `null` if no 1:1 NAT is set for a `vpc` type interface.


                          - Returned as an empty string (`""`) for non-`vpc` type interfaces.


                          When included in a request:


                          - You can set this to a specific, public IPv4 address that''s available on the Linode. You can also use the `any` keyword to enable the Linode''s assigned public IPv4 address.


                          - A specified address can''t be shared with another Linode.


                          - Omit this object or include it and set it to `null` or an empty string (`""`) to block creation of a 1:1 NAT.


                          <<LB>>


                          > 📘

                          >

                          > You can''t set this to a specific IPv4 address when creating a new Linode. During the creation process, the network automatically establishes a public IPv4 address for the Linode. Since this address doesn''t exist yet, you can''t include a custom IPv4 address to change it. After your Linode is created, you can [update your configuration profile interface](https://www.linode.com/docs/api/linode-instances/#configuration-profile-interface-update) to change the `nat_1_1` address.'
                        example: 203.0.113.2
                        type:
                        - string
                        - 'null'
                      vpc:
                        description: 'The VPC subnet IPv4 address for this interface.


                          - This only applies to interfaces with a `purpose` of `vpc`.


                          - Returned as an empty string (`""`) for non-`vpc` type interfaces.


                          When included in a request:


                          - The `vpc` can''t be assigned to an existing Linode as an address or in a range.


                          - The target address can''t be the first two or last two addresses in the subnet IPv4 range.


                          - If omitted, a valid address within the Subnet IPv4 range is automatically assigned.'
                        example: 10.0.0.2
                        format: ip
                        type:
                        - string
                        - 'null'
                    type: object
                  ipv6:
                    additionalProperties: false
                    description: '__Beta__ IPv6 assigned through `slaac` and `ranges`. If you create a VPC interface in a subnet with IPv6 and don’t specify `slaac` or `ranges`, a SLAAC range is added automatically. The assigned IPv6 prefix must be a `/64` subnet within the VPC subnet''s allocated IPv6 range. Within each subnet, Akamai reserves the first `/64` prefix. This means you can''t use the first `/64` prefix in your subnet. Additionally, the `/64` IPv6 network CIDR:


                      - Can''t be the bottom `/64` of the subnet prefix.

                      - Can''t be in use by another interface on the subnet.

                      - The bottom 64 bits need to be set to 0.'
                    properties:
                      is_public:
                        default: false
                        description: 'Indicates whether the IPv6 configuration profile interface is public.


                          - `false` means that traffic to and from the interface is restricted to the VPC only, with no access to and from the internet.

                          - `true` means that traffic from the interface to IPv6 addresses outside the VPC, and connections from IPv6 addresses outside the VPC to the interface are permitted.'
                        example: true
                        type: boolean
                      ranges:
                        default: []
                        description: __Beta__ Defines additional IPv6 network ranges.
                        items:
                          properties:
                            range:
                              default: auto
                              description: The IPv6 network range in CIDR notation.
                              example: 2001:db8:abcd::/64
                              type: string
                          type: object
                        type: array
                        x-akamai:
                          status: BETA
                      slaac:
                        description: __Beta__ Defines IPv6 SLAAC address ranges. An address is automatically generated from the assigned `/64` prefix using the Linode’s MAC address, just like on public IPv6 interfaces. Router advertisements (RA) are sent to the Linode, so standard SLAAC configuration works without any changes. The full `/64` prefix is routed to the Linode’s interface, allowing flexible use of any address within that range, regardless of the Linode’s internal network setup.
                        items:
                          properties:
                            address:
                              description: __Read-only__ The assigned IPv6 address within the range.
                              example: 2001:db8:abcd::100
                              format: ipv6
                              readOnly: true
                              type: string
                            range:
                              default: auto
                              description: The IPv6 network range in CIDR notation.
                              example: 2001:db8:abcd::/64
                              type: string
                          required:
                          - range
                          type: object
                        maxItems: 1
                        minItems: 0
                        type: array
                        x-akamai:
                          status: BETA
                    type: object
                    x-akamai:
                      status: BETA
                  label:
                    description: '__Filterable__ The name of this interface.


                      For interfaces with a `purpose` of `vlan`:


                      - Required.


                      - This needs to be unique among a Linode''s interfaces. A Linode can''t be attached to the same VLAN multiple times.


                      - This can only contain alphanumeric characters and non-consecutive dashes (`-`).


                      - If the VLAN label is new, a VLAN is created. Up to 10 VLANs can be created in each data center `region`. To view your active VLANs, run the [List VLANs](https://techdocs.akamai.com/linode-api/reference/get-vlans) operation.


                      For interfaces with a `purpose` of `public`:


                      - If you include this in a request, set it to an empty string (`""`) or `null`.


                      - Returned as `null` in a response.


                      For interfaces with a `purpose` of `vpc`:


                      - If you include this in a request, set it to an empty string (`""`) or `null`.


                      - Returned as `null` in a response.'
                    example: example-interface
                    maxLength: 64
                    minLength: 1
                    pattern: '[a-zA-Z0-9-]+'
                    type:
                    - string
                    - 'null'
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 2
                    x-linode-filterable: true
                  primary:
                    description: 'Designates this interface as the preferred interface for assignment of IPv4 and IPv6 default routes. Each Linode can have only one VPC or public interface set as `primary`. VLAN interfaces are always `false`. For each default route, the system selects a recipient non-VLAN interface based on the following criteria:

                      - Interfaces with a matching IP address (IPv4 or IPv6) are preferred over those without a match.

                      - If multiple interfaces are eligible to be the default route, the system first selects the one designated as `primary`.

                      - If no eligible interface is designated as `primary`, the tie is broken in favor of the earliest-declared eligible interface listed in the configuration profile.'
                    example: true
                    type: boolean
                  purpose:
                    description: 'The type of interface. This can be `public`, `vlan`, or `vpc`.


                      For interfaces with a `purpose` of `public`:


                      - You can only define one `public` interface per Linode.


                      - The Linode''s default public IPv4 address is assigned to the `public` interface.


                      - A Linode needs a `public` interface in the first or `eth0` position to be reachable via the public internet, after it boots. If no `public` interface is configured, you can only access the Linode through [LISH](https://www.linode.com/docs/products/compute/compute-instances/guides/lish/), or through another Linode that''s connected to the same VLAN or VPC.


                      For interfaces with a `purpose` of `vlan`:


                      - Configuring this `purpose` of interface attaches a Linode to the VLAN with the specified `label`.


                      - If an `ipam_address` is configured, the Linode uses this address.


                      For interfaces with a `purpose` of `vpc`:


                      - Configuring this `purpose` of interface attaches a Linode to an existing VPC subnet with the specified `subnet_id`.


                      - When the interface is activated, the Linode is configured to use an IP address from the range in the assigned VPC subnet. See `ipv4.vpc` for more information.'
                    enum:
                    - public
                    - vlan
                    - vpc
                    example: vlan
                    type: string
                    x-linode-cli-display: 3
                  subnet_id:
                    description: 'The `id` of the VPC subnet for this interface. Use this value in a request to assign a Linode to a VPC subnet.


                      - Required for `vpc` type interfaces.


                      - Returned as `null` for non-`vpc` type interfaces.


                      - Once you''ve assigned a VPC subnet to an interface, you can''t update it.


                      - You need to reboot a Linode using the interface''s configuration profile to assign the Linode to a VPC subnet.'
                    example: 101
                    type:
                    - integer
                    - 'null'
                  vpc_id:
                    description: __Read-only__ The `id` of the VPC configured for this interface. Returned as `null` for non-`vpc` type interfaces.
                    example: 111
                    readOnly: true
                    type:
                    - integer
                    - 'null'
                required:
                - purpose
                type: object
                x-akamai:
                  file-path: schemas/linode-config-interface-vpc-vlan-public.yaml
          description: Returns a configuration interface object.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - linodes:read_only
      summary: Get a configuration profile interface
      tags:
      - Configuration profile interfaces
      x-akamai:
        tabs:
        - syntax: linode-cli linodes config-interface-view $linodeId $configId $interfaceId
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action:
      - config-interface-view
      x-linode-grant: read_only
      x-linode-iam:
      - permissions:
        - view_linode_config_profile_interface
    put:
      description: 'Update a `vpc` or `public` configuration profile interface for a specific configuration profile, on a specific Linode.


        - A successful request triggers a `linode_config_update` event.


        - Only certain attributes can be updated for a configuration profile interface. You need to add a new configuration profile interface on your Linode if you need new values for any other attribute. Here are the supported objects, based on the interface''s `purpose`:


        - `public`. The `primary` attribute.


        - `vpc`. The `ip_ranges`, `ipv6`, `ipv4`, or `primary` attributes.


        - You can''t update a configuration profile with a `purpose` of `vlan`.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs a role with these permissions assigned. Learn more.

        - Permissions: `update_linode_config_profile_interface`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `linodes:read_write`


        **CLI**


        ```shell

        linode-cli linodes config-interface-update $linodeId $configId $interfaceId \

        --primary true \

        --ipv4.vpc "10.0.1.2" \

        --ipv4.nat_1_1 "203.0.113.2"

        --vpc.ipv6.ranges ''[{"range": "2001:0db8::/64"}, {"range": "2001:db8:1234:5678::/64"}]'''' \

        --ipv6.slaac.range "2001:db8:abcd::/64" \

        --ipv6.is_public false

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/put-linode-config-interface
      operationId: put-linode-config-interface
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: false
              description: Linode configuration profile interface update request object.
              properties:
                ip_ranges:
                  description: 'IPv4 CIDR VPC subnet ranges that are routed to this interface.


                    - A range can''t include any addresses that are assigned to an active Linode or another VPC subnet.


                    - When updating, you need to include any existing ranges to maintain them. If a range is left out, it will be removed.


                    - Include this as an empty array (`[]`) to remove all existing values.


                    - Omit this array to leave all existing `ip_ranges` as is.

                    <<LB>>

                    > 📘

                    >

                    > This only applies to interfaces with a `purpose` of `vpc`.'
                  example:
                  - 10.0.0.64/26
                  - fd04:495a:691c:971c::1:0/112
                  items:
                    format: ip
                    type: string
                  type: array
                ipv4:
                  additionalProperties: false
                  description: 'IPv4 addresses configured for this interface.


                    > 📘

                    >

                    > This only applies to interfaces with a `purpose` of `vpc`.'
                  properties:
                    nat_1_1:
                      anyOf:
                      - format: ip
                        minLength: 1
                        title: An available public IPv4 address
                        type: string
                      - enum:
                        - any
                        title: The assigned public IPv4 address
                        type: string
                      description: 'The 1:1 NAT IPv4 address, used to associate a public IPv4 address with the interface''s VPC subnet IPv4 address.


                        - You can set this to a specific, public IPv4 address that''s available on the Linode. You can also use the `any` keyword to enable the Linode''s assigned public IPv4 address.


                        - A specified address can''t be used on another Linode.


                        - Include this as an empty object (`""`) to remove an existing `nat_1_1` value.


                        - Omit this object or include it and set it to `null` to leave an existing `nat_1_1` value as is.'
                      example: 203.0.113.2
                      type:
                      - string
                      - 'null'
                    vpc:
                      description: 'The VPC subnet IPv4 address for this interface.


                        - The `vpc` can''t be assigned to an existing Linode as an address or in a range.


                        - The target address can''t be the first two or last two addresses in the subnet IPv4 range.


                        - If omitted, a valid address within the subnet IPv4 range is automatically assigned.'
                      example: 10.0.0.2
                      format: ip
                      type:
                      - string
                      - 'null'
                  type: object
                ipv6:
                  additionalProperties: false
                  description: 'IPv6 assigned through `slaac` and `ranges`. If omitted, or `null`, the IPv6 configuration is unchanged.


                    > 📘

                    >

                    > This only applies to interfaces with a `purpose` of `vpc`.'
                  properties:
                    is_public:
                      default: false
                      description: 'Indicates whether the IPv6 configuration profile interface is public.


                        - `false` means that traffic to and from the interface is restricted to the VPC only, with no access to and from the internet.

                        - `true` means that traffic from the interface to IPv6 addresses outside the VPC, and connections from IPv6 addresses outside the VPC to the interface are permitted.'
                      example: true
                      type: boolean
                    ranges:
                      default: []
                      description: Defines additional IPv6 network ranges.
                      items:
                        properties:
                          range:
                            default: auto
                            description: The IPv6 network range in CIDR notation.
                            example: 2001:db8:abcd::/64
                            type: string
                        type: object
                      type: array
                    slaac:
                      description: Defines IPv6 SLAAC address ranges. An address automatically generates from the assigned `/64` prefix using the Linode’s MAC address, just like on public IPv6 interfaces. Router advertisements (RA) are sent to the Linode, so standard SLAAC configuration works without any changes. The full `/64` prefix is routed to the Linode’s interface, allowing flexible use of any address within that range, regardless of the Linode’s internal network setup.
                      items:
                        properties:
                          address:
                            description: __Read-only__ The assigned IPv6 address within the range.
                            example: 2001:db8:abcd::100
                            format: ipv6
                            readOnly: true
                            type: string
                          range:
                            default: auto
                            description: The IPv6 network range in CIDR notation. The prefix needs to be within the IPv6 prefix of the VPC subnet containing this interface, needs to end with `/64`, and can't be already in use.
                            example: 2001:db8:abcd::/64
                            type: string
                        required:
                        - range
                        type: object
                      maxItems: 1
                      minItems: 0
                      type: array
                  type: object
                primary:
                  description: 'Designates this interface as the preferred interface for assignment of IPv4 and IPv6 default routes. Each Linode can have only one VPC or public interface set as `primary`. VLAN interfaces are always `false`. For each default route, the system selects a recipient non-VLAN interface based on the following criteria:

                    - Interfaces with a matching IP address (IPv4 or IPv6) are preferred over those without a match.

                    - If multiple interfaces are eligible to be the default route, the system first selects the one designated as `primary`.

                    - If no eligible interface is designated as `primary`, the tie is broken in favor of the earliest-declared eligible interface listed in the configuration profile.'
                  example: '{{primary}}'
                  type: boolean
              type: object
              x-akamai:
                file-path: schemas/added-put-linode-config-interface.yaml
            x-example:
              x-ref: ../examples/put-linode-config-interface.json
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                description: The network interface to apply to this Linode's configuration profile.
                properties:
                  active:
                    description: __Read-only__ Returned as `true` if the interface has been booted using the configuration profile to which the interface belongs.
                    example: true
                    readOnly: true
                    type: boolean
                  id:
                    description: __Read-only__ The unique ID representing this interface.
                    example: 101
                    readOnly: true
                    type: integer
                    x-linode-cli-display: 1
                  ip_ranges:
                    description: IPv4 CIDR VPC subnet ranges that are routed to this interface. This only applies to interfaces with a `purpose` of `vpc`. Returned as an empty string (`""`) if the interface has a `purpose` of `public` or `vlan`.
                    example:
                    - 10.0.0.64/26
                    - fd04:495a:691c:971c::1:0/112
                    items:
                      format: ip
                      type: string
                    type:
                    - array
                    - 'null'
                  ipam_address:
                    description: 'The interface''s private IP address, in classless inter-domain routing (CIDR) notation. Only applies to interfaces with a `purpose` of `vlan`. Returned as `null` if the interface has a `purpose` of `public` or `vpc`.


                      > 📘

                      >

                      > If Network Helper is enabled, the Linode''s interface is automatically configured to use this address after the Linode is rebooted. If Network Helper is disabled, enable the address using [manual static IP configuration](https://www.linode.com/docs/guides/manual-network-configuration/).'
                    example: 10.0.0.1/24
                    format: ipv4-cidr
                    type:
                    - string
                    - 'null'
                    x-linode-cli-display: 4
                  ipv4:
                    additionalProperties: false
[...]
