openapi: 3.2.0
info:
  description: Add a Cloud Computing instance so you can build, release, and scale applications faster with virtual machines.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: 'Akamai: Linode Managed statistics API'
  version: 4.229.1
servers:
- url: https://api.linode.com
tags:
- description: View key metrics for your managed Linodes, including CPU usage, disk I/O, and network transfer.
  name: Managed statistics
paths:
  /{apiVersion}/managed/stats:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    x-akamai:
      file-path: paths/managed-stats.yaml
      path-info: /{apiVersion}/managed/stats
    x-linode-cli-command: managed
    get:
      description: 'Returns a list of metrics for the Linodes on your account in arrays of coordinates (_x_-axis and _y_-axis data points). You can use these data points to plot your own graph visualizations. These metrics reflect the last 24 hours of combined usage across all managed Linodes on your account, giving you a high-level snapshot of data for the following:


        - CPU

        - Disk I/O

        - Swap usage

        - Network in

        - Network out


        This operation can only be accessed by the unrestricted users of an account.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `account:read_only`


        **CLI**


        ```shell

        linode-cli managed stats-list

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-managed-stats
      operationId: get-managed-stats
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                  cpu:
                  - x: 11513761600000
                    y: 29.94
                  disk:
                  - x: 11513761600000
                    y: 29.94
                  net_in:
                  - x: 11513761600000
                    y: 29.94
                  net_out:
                  - x: 11513761600000
                    y: 29.94
                  swap:
                  - x: 11513761600000
                    y: 29.94
              schema:
                additionalProperties: false
                properties:
                  data:
                    discriminator:
                      propertyName: x-linode-ref-name
                    oneOf:
                    - additionalProperties: false
                      description: A collection of graph data returned for managed stats.
                      properties:
                        cpu:
                          description: CPU usage stats from the last 24 hours.
                          items:
                            additionalProperties: false
                            description: A stat data point.
                            properties:
                              x:
                                description: __Read-only__ A stats graph data point.
                                example: 11513761600000
                                readOnly: true
                                type: integer
                              y:
                                description: __Read-only__ A stats graph data point.
                                example: 29.94
                                readOnly: true
                                type: number
                            type: object
                            x-akamai:
                              file-path: schemas/stats-data.yaml
                          type: array
                        disk:
                          description: Disk usage stats from the last 24 hours.
                          items:
                            additionalProperties: false
                            description: A stat data point.
                            properties:
                              x:
                                description: __Read-only__ A stats graph data point.
                                example: 11513761600000
                                readOnly: true
                                type: integer
                              y:
                                description: __Read-only__ A stats graph data point.
                                example: 29.94
                                readOnly: true
                                type: number
                            type: object
                            x-akamai:
                              file-path: schemas/stats-data.yaml
                          type: array
                        net_in:
                          description: Inbound network traffic stats from the last 24 hours.
                          items:
                            additionalProperties: false
                            description: A stat data point.
                            properties:
                              x:
                                description: __Read-only__ A stats graph data point.
                                example: 11513761600000
                                readOnly: true
                                type: integer
                              y:
                                description: __Read-only__ A stats graph data point.
                                example: 29.94
                                readOnly: true
                                type: number
                            type: object
                            x-akamai:
                              file-path: schemas/stats-data.yaml
                          type: array
                        net_out:
                          description: Outbound network traffic stats from the last 24 hours.
                          items:
                            additionalProperties: false
                            description: A stat data point.
                            properties:
                              x:
                                description: __Read-only__ A stats graph data point.
                                example: 11513761600000
                                readOnly: true
                                type: integer
                              y:
                                description: __Read-only__ A stats graph data point.
                                example: 29.94
                                readOnly: true
                                type: number
                            type: object
                            x-akamai:
                              file-path: schemas/stats-data.yaml
                          type: array
                        swap:
                          description: Swap usage stats from the last 24 hours.
                          items:
                            additionalProperties: false
                            description: A stat data point.
                            properties:
                              x:
                                description: __Read-only__ A stats graph data point.
                                example: 11513761600000
                                readOnly: true
                                type: integer
                              y:
                                description: __Read-only__ A stats graph data point.
                                example: 29.94
                                readOnly: true
                                type: number
                            type: object
                            x-akamai:
                              file-path: schemas/stats-data.yaml
                          type: array
                      title: Stats available
                      type: object
                      x-akamai:
                        file-path: schemas/stats-data-available.yaml
                      x-linode-ref-name: Stats Available
                    - description: An array of error messages if managed stats are unavailable.
                      items:
                        example: Graphs are not yet available.
                        type: string
                      readOnly: true
                      title: Stats unavailable
                      type: array
                      x-akamai:
                        file-path: schemas/stats-data-unavailable.yaml
                      x-linode-ref-name: Stats Unavailable
                    type: object
                type: object
                x-akamai:
                  file-path: schemas/get-managed-stats-200.yaml
          description: A list of Managed Stats from the last 24 hours.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_only
      summary: List managed stats
      tags:
      - Managed statistics
      x-akamai:
        tabs:
        - syntax: linode-cli managed stats-list
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
        - syntax: account:read_only
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action: stats-list
      x-linode-grant: unrestricted only
components:
  securitySchemes:
    oauth:
      flows:
        authorizationCode:
          authorizationUrl: https://login.linode.com/oauth/authorize
          scopes:
            account:read_only: Allows access to GET information about your account.
            account:read_write: Allows access to all endpoints related to your account.
            child_account:read_only: Allows access to GET information about deprecated parent/child operations.
            child_account:read_write: Allows access to deprecated parent/child operations.
            databases:read_only: Allows access to GET information about databases.
            databases:read_write: Allows access to all endpoints related to databases.
            domains:read_only: Allows access to GET Domains on your account.
            domains:read_write: Allows access to all Domain endpoints.
            events:read_only: Allows access to GET your Events.
            events:read_write: Allows access to all endpoints related to your Events.
            firewall:read_only: Allows access to GET information about your Firewalls.
            firewall:read_write: Allows access to all Firewall endpoints.
            images:read_only: Allows access to GET your Images.
            images:read_write: Allows access to all endpoints related to your Images.
            ips:read_only: Allows access to GET your ips.
            ips:read_write: Allows access to all endpoints related to your ips.
            linodes:read_only: Allows access to GET Linodes on your account.
            linodes:read_write: Allow access to all endpoints related to your Linodes.
            lke:read_only: Allows access to GET LKE Clusters on your account.
            lke:read_write: Allows access to all endpoints related to LKE Clusters on your account.
            longview:read_only: Allows access to GET your Longview Clients.
            longview:read_write: Allows access to all endpoints related to your Longview Clients.
            monitor:read_only: Allows access to Monitor (Akamai Cloud Pulse) data.
            monitor:read_write: Allows access to GET Monitor (Akamai Cloud Pulse) data.
            nodebalancers:read_only: Allows access to GET NodeBalancers on your account.
            nodebalancers:read_write: Allows access to all NodeBalancer endpoints.
            object_storage:read_only: Allows access to GET information related to your Object Storage.
            object_storage:read_write: Allows access to all Object Storage endpoints.
            stackscripts:read_only: Allows access to GET your StackScripts.
            stackscripts:read_write: Allows access to all endpoints related to your StackScripts.
            volumes:read_only: Allows access to GET your Volumes.
            volumes:read_write: Allows access to all endpoints related to your Volumes.
            vpc:read_write: Allows access to all endpoints related to VPC and Subnet creation, updating, and deletion.
          tokenUrl: https://login.linode.com/oauth/token
      type: oauth2
    personalAccessToken:
      scheme: bearer
      type: http
externalDocs:
  description: See documentation for Akamai's Linode API
  url: https://techdocs.akamai.com/linode-api/reference
x-readme:
  explorer-enabled: false
  samples-languages:
  - curl
  - python
  - node
