openapi: 3.2.0
info:
  description: Add a Cloud Computing instance so you can build, release, and scale applications faster with virtual machines.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: 'Akamai: Linode LKE cluster dashboard API'
  version: 4.229.1
servers:
- url: https://api.linode.com
tags:
- description: View the Kubernetes Dashboard URLs for your LKE clusters, which provides a web-based user interface for managing and monitoring each Kubernetes cluster.
  name: LKE cluster dashboard
paths:
  /{apiVersion}/lke/clusters/{clusterId}/dashboard:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    - description: ID of the Kubernetes cluster to look up.
      example: '{{clusterId}}'
      in: path
      name: clusterId
      required: true
      schema:
        example: 12345
        type: integer
      x-akamai:
        file-path: parameters/cluster-id-path-28150853.yaml
    x-akamai:
      file-path: paths/lke-dashboard.yaml
      path-info: /{apiVersion}/lke/clusters/{clusterId}/dashboard
    x-linode-cli-command: lke
    get:
      deprecated: true
      description: '__Deprecated__ This operation has been deprecated. It previously returned the URL for the Kubernetes Dashboard installed on your cluster, which enabled performance of administrative tasks through a web interface. See Using the Kubernetes Dashboard on LKE.


        > ❗️ LKE’s Kubernetes Dashboard has been decommissioned

        >

        > Following the upstream archival of the Kubernetes Dashboard project, Akamai Cloud decommissioned the LKE-hosted Kubernetes Dashboard. This change occurred in May 2026. The Kubernetes Dashboard is no longer available for existing LKE clusters and can''t deploy to new clusters.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs these roles assigned. Learn more.

        - Roles: `lkecluster_viewer`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `lke:read_only`


        **CLI**


        ```shell

        linode-cli lke cluster-dashboard-url 12345

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-lke-cluster-dashboard
      operationId: get-lke-cluster-dashboard
      responses:
        '200':
          content:
            application/json:
              example:
                url: https://ba35550f-b027-48d5-9c82-16c442ac4cc8.us-east-2-gw.linodelke.net
              schema:
                additionalProperties: false
                properties:
                  url:
                    description: 'The URL to this cluster''s Kubernetes Dashboard.


                      > ❗️

                      >

                      > Now that the Kubernetes Dashboard has been removed from LKE, this returns an empty string.'
                    example: https://example.dashboard.linodelke.net
                    type: string
                type: object
                x-akamai:
                  file-path: schemas/get-lke-cluster-dashboard-200.yaml
          description: Returns a Kubernetes Cluster Dashboard URL.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - lke:read_only
      summary: Get a Kubernetes cluster dashboard URL
      tags:
      - LKE cluster dashboard
      x-akamai:
        status: DEPRECATED
        tabs:
        - syntax: linode-cli lke cluster-dashboard-url 12345
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: cluster-dashboard-url
      x-linode-iam:
      - roles:
        - lkecluster_viewer
components:
  securitySchemes:
    oauth:
      flows:
        authorizationCode:
          authorizationUrl: https://login.linode.com/oauth/authorize
          scopes:
            account:read_only: Allows access to GET information about your account.
            account:read_write: Allows access to all endpoints related to your account.
            child_account:read_only: Allows access to GET information about deprecated parent/child operations.
            child_account:read_write: Allows access to deprecated parent/child operations.
            databases:read_only: Allows access to GET information about databases.
            databases:read_write: Allows access to all endpoints related to databases.
            domains:read_only: Allows access to GET Domains on your account.
            domains:read_write: Allows access to all Domain endpoints.
            events:read_only: Allows access to GET your Events.
            events:read_write: Allows access to all endpoints related to your Events.
            firewall:read_only: Allows access to GET information about your Firewalls.
            firewall:read_write: Allows access to all Firewall endpoints.
            images:read_only: Allows access to GET your Images.
            images:read_write: Allows access to all endpoints related to your Images.
            ips:read_only: Allows access to GET your ips.
            ips:read_write: Allows access to all endpoints related to your ips.
            linodes:read_only: Allows access to GET Linodes on your account.
            linodes:read_write: Allow access to all endpoints related to your Linodes.
            lke:read_only: Allows access to GET LKE Clusters on your account.
            lke:read_write: Allows access to all endpoints related to LKE Clusters on your account.
            longview:read_only: Allows access to GET your Longview Clients.
            longview:read_write: Allows access to all endpoints related to your Longview Clients.
            monitor:read_only: Allows access to Monitor (Akamai Cloud Pulse) data.
            monitor:read_write: Allows access to GET Monitor (Akamai Cloud Pulse) data.
            nodebalancers:read_only: Allows access to GET NodeBalancers on your account.
            nodebalancers:read_write: Allows access to all NodeBalancer endpoints.
            object_storage:read_only: Allows access to GET information related to your Object Storage.
            object_storage:read_write: Allows access to all Object Storage endpoints.
            stackscripts:read_only: Allows access to GET your StackScripts.
            stackscripts:read_write: Allows access to all endpoints related to your StackScripts.
            volumes:read_only: Allows access to GET your Volumes.
            volumes:read_write: Allows access to all endpoints related to your Volumes.
            vpc:read_write: Allows access to all endpoints related to VPC and Subnet creation, updating, and deletion.
          tokenUrl: https://login.linode.com/oauth/token
      type: oauth2
    personalAccessToken:
      scheme: bearer
      type: http
externalDocs:
  description: See documentation for Akamai's Linode API
  url: https://techdocs.akamai.com/linode-api/reference
x-readme:
  explorer-enabled: false
  samples-languages:
  - curl
  - python
  - node
