openapi: 3.2.0
info:
  description: Add a Cloud Computing instance so you can build, release, and scale applications faster with virtual machines.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: 'Akamai: Linode Postgre SQL API'
  version: 4.229.1
servers:
- url: https://api.linode.com
tags:
- description: Managed Databases is Akamai's fully-managed, high-performance database service. Use these operations to create and manage clusters for PostgreSQL engine databases.
  name: PostgreSQL
paths:
  /{apiVersion}/databases/postgresql/config:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    x-akamai:
      file-path: paths/postgresql-config.yaml
      path-info: /{apiVersion}/databases/postgresql/config
    x-linode-cli-command: databases
    get:
      description: 'All advanced parameters you can apply to a PostgreSQL Managed Database, via our partner Aiven.


        > 📘

        >

        > Aiven may offer other parameters, but Akamai Managed Databases only supports the ones listed in this operation.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs these roles assigned. Learn more.

        - Roles: `database_viewer`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `databases:read_only`


        **CLI**


        ```shell

        linode-cli databases postgres-config

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-databases-postgresql-config
      operationId: get-databases-postgresql-config
      responses:
        '200':
          content:
            application/json:
              example:
                pg:
                  autovacuum_analyze_scale_factor:
                    description: Specifies a fraction of the table size to add to autovacuum_analyze_threshold when deciding whether to trigger an ANALYZE. The default is 0.2 (20% of table size)
                    maximum: 1
                    minimum: 0
                    requires_restart: false
                    type: number
                  autovacuum_analyze_threshold:
                    description: Specifies the minimum number of inserted, updated or deleted tuples needed to trigger an ANALYZE in any one table. The default is 50 tuples.
                    maximum: 2147483647
                    minimum: 0
                    requires_restart: false
                    type: integer
                  autovacuum_max_workers:
                    description: Specifies the maximum number of autovacuum processes (other than the autovacuum launcher) that may be running at any one time. The default is three. This parameter can only be set at server start.
                    maximum: 20
                    minimum: 1
                    requires_restart: false
                    type: integer
                  autovacuum_naptime:
                    description: Specifies the minimum delay between autovacuum runs on any given database. The delay is measured in seconds, and the default is one minute
                    maximum: 86400
                    minimum: 1
                    requires_restart: false
                    type: integer
                  autovacuum_vacuum_cost_delay:
                    description: Specifies the cost delay value that will be used in automatic VACUUM operations. If -1 is specified, the regular vacuum_cost_delay value will be used. The default value is 20 milliseconds
                    maximum: 100
                    minimum: -1
                    requires_restart: false
                    type: integer
                  autovacuum_vacuum_cost_limit:
                    description: Specifies the cost limit value that will be used in automatic VACUUM operations. If -1 is specified (which is the default), the regular vacuum_cost_limit value will be used.
                    maximum: 10000
                    minimum: -1
                    requires_restart: false
                    type: integer
                  autovacuum_vacuum_scale_factor:
                    description: Specifies a fraction of the table size to add to autovacuum_vacuum_threshold when deciding whether to trigger a VACUUM. The default is 0.2 (20% of table size)
                    maximum: 1
                    minimum: 0
                    requires_restart: false
                    type: number
                  autovacuum_vacuum_threshold:
                    description: Specifies the minimum number of updated or deleted tuples needed to trigger a VACUUM in any one table. The default is 50 tuples
                    maximum: 2147483647
                    minimum: 0
                    requires_restart: false
                    type: integer
                  bgwriter_delay:
                    description: Specifies the delay between activity rounds for the background writer in milliseconds. Default is 200.
                    example: 200
                    maximum: 10000
                    minimum: 10
                    requires_restart: false
                    type: integer
                  bgwriter_flush_after:
                    description: Whenever more than bgwriter_flush_after bytes have been written by the background writer, attempt to force the OS to issue these writes to the underlying storage. Specified in kilobytes, default is 512. Setting of 0 disables forced writeback.
                    example: 512
                    maximum: 2048
                    minimum: 0
                    requires_restart: false
                    type: integer
                  bgwriter_lru_maxpages:
                    description: In each round, no more than this many buffers will be written by the background writer. Setting this to zero disables background writing. Default is 100.
                    example: 100
                    maximum: 1073741823
                    minimum: 0
                    requires_restart: false
                    type: integer
                  bgwriter_lru_multiplier:
                    description: The average recent need for new buffers is multiplied by bgwriter_lru_multiplier to arrive at an estimate of the number that will be needed during the next round, (up to bgwriter_lru_maxpages). 1.0 represents a “just in time” policy of writing exactly the number of buffers predicted to be needed. Larger values provide some cushion against spikes in demand, while smaller values intentionally leave writes to be done by server processes. The default is 2.0.
                    example: 2
                    maximum: 10
                    minimum: 0
                    requires_restart: false
                    type: number
                  deadlock_timeout:
                    description: This is the amount of time, in milliseconds, to wait on a lock before checking to see if there is a deadlock condition.
                    example: 1000
                    maximum: 1800000
                    minimum: 500
                    requires_restart: false
                    type: integer
                  default_toast_compression:
                    description: Specifies the default TOAST compression method for values of compressible columns (the default is lz4).
                    enum:
                    - lz4
                    - pglz
                    example: lz4
                    requires_restart: false
                    type: string
                  idle_in_transaction_session_timeout:
                    description: Time out sessions with open transactions after this number of milliseconds
                    maximum: 604800000
                    minimum: 0
                    requires_restart: false
                    type: integer
                  jit:
                    description: Controls system-wide use of Just-in-Time Compilation (JIT).
                    example: true
                    requires_restart: false
                    type: boolean
                  max_files_per_process:
                    description: PostgreSQL maximum number of files that can be open per process
                    maximum: 4096
                    minimum: 1000
                    requires_restart: false
                    type: integer
                  max_locks_per_transaction:
                    description: PostgreSQL maximum locks per transaction
                    maximum: 6400
                    minimum: 64
                    requires_restart: false
                    type: integer
                  max_logical_replication_workers:
                    description: PostgreSQL maximum logical replication workers (taken from the pool of max_parallel_workers)
                    maximum: 64
                    minimum: 4
                    requires_restart: false
                    type: integer
                  max_parallel_workers:
                    description: Sets the maximum number of workers that the system can support for parallel queries
                    maximum: 96
                    minimum: 0
                    requires_restart: false
                    type: integer
                  max_parallel_workers_per_gather:
                    description: Sets the maximum number of workers that can be started by a single Gather or Gather Merge node
                    maximum: 96
                    minimum: 0
                    requires_restart: false
                    type: integer
                  max_pred_locks_per_transaction:
                    description: PostgreSQL maximum predicate locks per transaction
                    maximum: 5120
                    minimum: 64
                    requires_restart: false
                    type: integer
                  max_replication_slots:
                    description: PostgreSQL maximum replication slots
                    maximum: 64
                    minimum: 8
                    requires_restart: false
                    type: integer
                  max_slot_wal_keep_size:
                    description: PostgreSQL maximum WAL size (MB) reserved for replication slots. Default is -1 (unlimited). wal_keep_size minimum WAL size setting takes precedence over this.
                    maximum: 2147483647
                    minimum: -1
                    requires_restart: false
                    type: integer
                  max_stack_depth:
                    description: Maximum depth of the stack in bytes
                    maximum: 6291456
                    minimum: 2097152
                    requires_restart: false
                    type: integer
                  max_standby_archive_delay:
                    description: Max standby archive delay in milliseconds
                    maximum: 43200000
                    minimum: 1
                    requires_restart: false
                    type: integer
                  max_standby_streaming_delay:
                    description: Max standby streaming delay in milliseconds
                    maximum: 43200000
                    minimum: 1
                    requires_restart: false
                    type: integer
                  max_wal_senders:
                    description: PostgreSQL maximum WAL senders
                    maximum: 64
                    minimum: 20
                    requires_restart: false
                    type: integer
                  max_worker_processes:
                    description: Sets the maximum number of background processes that the system can support
                    maximum: 96
                    minimum: 8
                    requires_restart: false
                    type: integer
                  password_encryption:
                    description: Chooses the algorithm for encrypting passwords.
                    enum:
                    - md5
                    - scram-sha-256
                    example: scram-sha-256
                    requires_restart: false
                    type: string
                  pg_partman_bgw.interval:
                    description: Sets the time interval to run pg_partman's scheduled tasks
                    example: 3600
                    maximum: 604800
                    minimum: 3600
                    requires_restart: false
                    type: integer
                  pg_partman_bgw.role:
                    description: Controls which role to use for pg_partman's scheduled background tasks.
                    example: myrolename
                    maxLength: 64
                    pattern: ^[_A-Za-z0-9][-._A-Za-z0-9]{0,63}$
                    requires_restart: false
                    type: string
                  pg_stat_monitor.pgsm_enable_query_plan:
                    description: Enables or disables query plan monitoring
                    example: false
                    requires_restart: false
                    type: boolean
                  pg_stat_monitor.pgsm_max_buckets:
                    description: 'Sets the maximum number of buckets '
                    example: 10
                    maximum: 10
                    minimum: 1
                    requires_restart: false
                    type: integer
                  pg_stat_statements.track:
                    description: Controls which statements are counted. Specify top to track top-level statements (those issued directly by clients), all to also track nested statements (such as statements invoked within functions), or none to disable statement statistics collection. The default value is top.
                    enum:
                    - all
                    - top
                    - none
                    requires_restart: false
                    type: string
                  temp_file_limit:
                    description: PostgreSQL temporary file limit in KiB, -1 for unlimited
                    example: 5000000
                    maximum: 2147483647
                    minimum: -1
                    requires_restart: false
                    type: integer
                  timezone:
                    description: PostgreSQL service timezone
                    example: Europe/Helsinki
                    maxLength: 64
                    pattern: ^[\w/]*$
                    requires_restart: false
                    type: string
                  track_activity_query_size:
                    description: Specifies the number of bytes reserved to track the currently executing command for each active session.
                    example: 1024
                    maximum: 10240
                    minimum: 1024
                    requires_restart: false
                    type: integer
                  track_commit_timestamp:
                    description: Record commit time of transactions.
                    enum:
                    - 'off'
                    - 'on'
                    example: 'off'
                    requires_restart: false
                    type: string
                  track_functions:
                    description: Enables tracking of function call counts and time used.
                    enum:
                    - all
                    - pl
                    - none
                    requires_restart: false
                    type: string
                  track_io_timing:
                    description: Enables timing of database I/O calls. This parameter is off by default, because it will repeatedly query the operating system for the current time, which may cause significant overhead on some platforms.
                    enum:
                    - 'off'
                    - 'on'
                    example: 'off'
                    requires_restart: false
                    type: string
                  wal_sender_timeout:
                    description: Terminate replication connections that are inactive for longer than this amount of time, in milliseconds. Setting this value to zero disables the timeout.
                    example: 60000
                    requires_restart: false
                    type: integer
                  wal_writer_delay:
                    description: WAL flush interval in milliseconds. Note that setting this value to lower than the default 200ms may negatively impact performance
                    example: 50
                    maximum: 200
                    minimum: 10
                    requires_restart: false
                    type: integer
                pg_stat_monitor_enable:
                  description: Enable the pg_stat_monitor extension. Enabling this extension will cause the cluster to be restarted.When this extension is enabled, pg_stat_statements results for utility commands are unreliable
                  requires_restart: true
                  type: boolean
                pglookout:
                  max_failover_replication_time_lag:
                    description: Number of seconds of unavailability before triggering database failover to standby
                    maximum: 999999
                    minimum: 10
                    requires_restart: false
                    type: integer
                shared_buffers_percentage:
                  description: Percentage of total RAM that the database server uses for shared memory buffers. Valid range is 20-60 (float), which corresponds to 20% - 60%. This setting adjusts the shared_buffers configuration value.
                  example: 41.5
                  maximum: 60
                  minimum: 20
                  requires_restart: false
                  type: number
                synchronous_replication:
                  description: Synchronous replication type. Note that the service plan also needs to support synchronous replication.
                  enum:
                  - 'off'
                  - quorum
                  example: quorum
                  requires_restart: false
                  type: string
                work_mem:
                  description: Sets the maximum amount of memory to be used by a query operation (such as a sort or hash table) before writing to temporary disk files, in MB. Default is 1MB + 0.075% of total RAM (up to 32MB).
                  example: 4
                  maximum: 1024
                  minimum: 1
                  requires_restart: false
                  type: integer
              schema:
                additionalProperties: false
                description: Available [advanced parameters](https://aiven.io/docs/products/postgresql/reference/advanced-params) for a PostgreSQL Managed Database.
                properties:
                  pg:
                    additionalProperties: false
                    description: Configuration values available for a postgresql.conf.
                    properties:
                      autovacuum_analyze_scale_factor:
                        additionalProperties: false
                        description: Settings available to configure the `autovacuum_analyze_scale_factor`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      autovacuum_analyze_threshold:
                        additionalProperties: false
                        description: Settings available to configure the `autovacuum_analyze_threshold`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      autovacuum_max_workers:
                        additionalProperties: false
                        description: Settings available to configure the `autovacuum_max_workers`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      autovacuum_naptime:
                        additionalProperties: false
                        description: Settings available to configure the `autovacuum_naptime`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      autovacuum_vacuum_cost_delay:
                        additionalProperties: false
                        description: Settings available to configure the `autovacuum_vacuum_cost_delay`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      autovacuum_vacuum_cost_limit:
                        additionalProperties: false
                        description: Settings available to configure the `autovacuum_vacuum_cost_limit`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      autovacuum_vacuum_scale_factor:
                        additionalProperties: false
                        description: Settings available to configure the `autovacuum_vacuum_scale_factor`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      autovacuum_vacuum_threshold:
                        additionalProperties: false
                        description: Settings available to configure the `autovacuum_vacuum_threshold`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      bgwriter_delay:
                        additionalProperties: false
                        description: Settings available to configure the `bgwriter_delay`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      bgwriter_flush_after:
                        additionalProperties: false
                        description: Settings available to configure the `bgwriter_flush_after`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      bgwriter_lru_maxpages:
                        additionalProperties: false
                        description: Settings available to configure `bgwriter_lru_maxpages`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      bgwriter_lru_multiplier:
                        additionalProperties: false
                        description: Settings available to configure the `bgwriter_lru_multiplier`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      deadlock_timeout:
                        additionalProperties: false
                        description: Settings available to configure the `deadlock_timeout`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      default_toast_compression:
                        additionalProperties: false
                        description: Settings available to configure the `default_toast_compression`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          enum:
                            description: Possible values of the `default_toast_compression` parameter.
                            items:
                              type: string
                            type: array
                          example:
                            description: One of the `enum` values available for use.
                            type: string
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      idle_in_transaction_session_timeout:
                        additionalProperties: false
                        description: Settings available to configure the `idle_in_transaction_session_timeout`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      jit:
                        additionalProperties: false
                        description: Parameter used to enable the Just-In-Time (`jit`) compilation, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example boolean value for this parameter.
                            type: boolean
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      max_files_per_process:
                        additionalProperties: false
                        description: Settings available to configure the `max_files_per_process`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      max_locks_per_transaction:
                        additionalProperties: false
                        description: Settings available to configure the `max_locks_per_transaction`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      max_logical_replication_workers:
                        additionalProperties: false
                        description: Settings available to configure the `max_logical_replication_workers`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      max_parallel_workers:
                        additionalProperties: false
                        description: Settings available to configure the `max_parallel_workers`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      max_parallel_workers_per_gather:
                        additionalProperties: false
                        description: Settings available to configure the `max_parallel_workers_per_gather`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      max_pred_locks_per_transaction:
                        additionalProperties: false
                        description: Settings available to configure the `max_pred_locks_per_transaction`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      max_replication_slots:
                        additionalProperties: false
                        description: Settings available to configure the `max_replication_slots`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      max_slot_wal_keep_size:
                        additionalProperties: false
                        description: Settings available to configure the `max_slot_wal_keep_size`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      max_stack_depth:
                        additionalProperties: false
                        description: Settings available to configure the `max_stack_depth`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      max_standby_archive_delay:
                        additionalProperties: false
                        description: Settings available to configure the `max_standby_archive_delay`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      max_standby_streaming_delay:
                        additionalProperties: false
                        description: Settings available to configure the `max_standby_streaming_delay`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      max_wal_senders:
                        additionalProperties: false
                        description: Settings available to configure the `max_wal_senders`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      max_worker_processes:
                        additionalProperties: false
                        description: Settings available to configure the `max_worker_processes`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      password_encryption:
                        additionalProperties: false
                        description: Settings available to configure `password_encryption`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          enum:
                            description: Possible values of the `password_encryption` parameter.
                            items:
                              type: string
                            type: array
                          example:
                            description: One of the `enum` values available for use.
                            type: string
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      pg_partman_bgw.interval:
                        additionalProperties: false
                        description: Settings available to configure the `pg_partman_bgw.interval`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      pg_partman_bgw.role:
                        additionalProperties: false
                        description: Settings available to configure the `pg_partman_bgw.role`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter following the `pattern`.
                            type: string
                          maxLength:
                            description: The maximum character length for this parameter.
                            type: integer
                          pattern:
                            description: The pattern to follow when defining this parameter.
                            type: string
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      pg_stat_monitor.pgsm_enable_query_plan:
                        additionalProperties: false
                        description: Parameter used to enable query plan monitoring, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example boolean value for this parameter.
                            type: boolean
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      pg_stat_monitor.pgsm_max_buckets:
                        additionalProperties: false
                        description: Settings available to configure `pg_stat_monitor.pgsm_max_buckets`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      pg_stat_statements.track:
                        additionalProperties: false
                        description: Settings available to configure `password_encryption`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          enum:
                            description: Possible values of the `pg_stat_statements.track` parameter.
                            items:
                              type: string
                            type: array
                          example:
                            description: One of the `enum` values available for use.
                            type: string
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      temp_file_limit:
                        additionalProperties: false
                        description: Settings available to configure the `temp_file_limit`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      timezone:
                        additionalProperties: false
                        description: Settings available to configure the PostgreSQL service time zone, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter following the `pattern`.
                            type: string
                          maxLength:
                            description: The maximum character length for this parameter.
                            type: integer
                          pattern:
                            description: The pattern to follow when defining this parameter.
                            type: string
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      track_activity_query_size:
                        additionalProperties: false
                        description: Settings available to configure the `track_activity_query_size`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      track_commit_timestamp:
                        additionalProperties: false
                        description: Settings available to configure the `track_commit_timestamp`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          enum:
                            description: Possible values of the `track_commit_timestamp` parameter.
                            items:
                              type: string
                            type: array
                          example:
                            description: One of the `enum` values available for use.
                            type: string
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      track_functions:
                        additionalProperties: false
                        description: Settings available to configure `track_functions`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          enum:
                            description: Possible values of the `track_functions` parameter.
                            items:
                              type: string
                            type: array
                          example:
                            description: One of the `enum` values available for use.
                            type: string
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      track_io_timing:
                        additionalProperties: false
                        description: Settings available to enable `track_io_timing`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          enum:
                            description: Possible values of the `track_io_timing` parameter.
                            items:
                              type: string
                            type: array
                          example:
                            description: One of the `enum` values available for use.
                            type: string
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      wal_sender_timeout:
                        additionalProperties: false
                        description: Settings available to configure the `wal_sender_timeout`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                      wal_writer_delay:
                        additionalProperties: false
                        description: Settings available to configure the `wal_writer_delay`, per Aiven's specifications.
                        properties:
                          description:
                            description: The description for this parameter.
                            type: string
                          example:
                            description: An example value for this parameter.
                            type: integer
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                    type: object
                  pg_stat_monitor_enable:
                    additionalProperties: false
                    description: Parameter used to enable the `pg_stat_monitor` extension for a PostgreSQL cluster, per Aiven's specifications.
                    properties:
                      default:
                        description: A default value of this parameter.
                        type: boolean
                      description:
                        description: The description for this parameter.
                        type: string
                      example:
                        description: An example boolean value for this parameter.
                        type: string
                      requires_restart:
                        description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                        type: boolean
                      type:
                        description: The format of this object.
                        type: string
                    type: object
                  pglookout:
                    additionalProperties: false
                    description: Parameter used to apply PGLookout settings, per Aiven's specifications.
                    properties:
                      max_failover_replication_time_lag:
                        additionalProperties: false
                        description: Settings available to configure the `max_failover_replication_time_lag`, per Aiven's specifications.
                        properties:
                          default:
                            description: A default value of this parameter.
                            type: integer
                          description:
                            description: The description for this parameter.
                            type: string
                          maximum:
                            description: The maximum value allowed for this parameter.
                            type: integer
                          minimum:
                            description: The minimum value allowed for this parameter.
                            type: integer
                          requires_restart:
                            description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                            type: boolean
                          type:
                            description: The format of this object.
                            type: string
                        type: object
                    type: object
                  shared_buffers_percentage:
                    additionalProperties: false
                    description: Parameters used to set up the `shared_buffers_percentage`, per Aiven's specifications.
                    properties:
                      description:
                        description: The description for this parameter.
                        type: string
                      example:
                        description: An example value for this parameter.
                        type: number
                      maximum:
                        description: The maximum value allowed for this parameter.
                        type: integer
                      minimum:
                        description: The minimum value allowed for this parameter.
                        type: integer
                      requires_restart:
                        description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                        type: boolean
                      type:
                        description: The format of this object.
                        type: string
                    type: object
                  synchronous_replication:
                    additionalProperties: false
                    description: Settings available to configure `synchronous_replication`, per Aiven's specifications.
                    properties:
                      description:
                        description: The description for this parameter.
                        type: string
                      enum:
                        description: Possible values of the `synchronous_replication` parameter.
                        items:
                          type: string
                        type: array
                      example:
                        description: One of the `enum` values available for use.
                        type: string
                      requires_restart:
                        description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                        type: boolean
                      type:
                        description: The format of this object.
                        type: string
                    type: object
                  work_mem:
                    additionalProperties: false
                    description: Parameters used to set up `work_mem`, per Aiven's specifications.
                    properties:
                      description:
                        description: The description for this parameter.
                        type: string
                      example:
                        description: An example value for this parameter.
                        type: integer
                      maximum:
                        description: The maximum value allowed for this parameter.
                        type: integer
                      minimum:
                        description: The minimum value allowed for this parameter.
                        type: integer
                      requires_restart:
                        description: Whether a change to this parameter requires a restart of the PostgreSQL database.
                        type: boolean
                      type:
                        description: The format of this object.
                        type: string
                    type: object
                type: object
                x-akamai:
                  file-path: schemas/database-postgresql-config-200.yaml
          description: PostgreSQL Managed Database advanced parameters.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - databases:read_only
      summary: List PostgreSQL Managed Database advanced parameters
      tags:
      - PostgreSQL
      x-akamai:
        tabs:
        - syntax: linode-cli databases postgres-config
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: postgres-config-view
      x-linode-grant: read_only
      x-linode-iam:
      - roles:
        - database_viewer
  /{apiVersion}/databases/postgresql/instances:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    x-akamai:
      file-path: paths/postgresql-instances.yaml
      path-info: /{apiVersion}/databases/postgresql/instances
    x-linode-cli-command: databases
    post:
      description: '**Provision a PostgreSQL Managed Database**


        Use this operation to create a new PostgreSQL Managed Database.


        - New instances can take 10 to 15 minutes to deploy.


        - When you create a new PostgreSQL Managed Database, our partner Aiven automatically enables disk encryption on each cluster.


        - All Managed Databases include automatic, daily backups. Up to seven backups are automatically stored for each Managed Database, providing restore points for each day of the past week.


        - All Managed Databases include automatic updates, which apply security patches to the underlying operating system of the PostgreSQL Managed Database. Configure the maintenance window for these updates with the Update a managed PostgreSQL database operation.


        - If your database cluster is configured with a single node, downtime occurs during maintenance updates. Adjust the window to match a time that''s the least disruptive to your application and users. Also consider upgrading to a high availability plan to avoid any maintenance downtime.


        - Major upgrades are optional until the service reaches end of service, and can be done in place.


        - A successful request triggers a `database_create` event.


        - You can create a PostgreSQL Managed Database in a VPC using the `private_network` object in the request.


        > 📘

        >

        > Currently, VPC subnets associated with Managed Database instances don''t automatically block outbound connections outside the subnet. To limit network exposure, you should configure Cloud Firewall rules to explicitly deny outbound connections beyond the intended subnet. For more details on configuring rules, see the Cloud Firewall documentation.


        **Restore a PostgreSQL Managed Database**


        Include the `fork` object in the request to target a backed-up database. The only required value is `source`. If you provide other values, the forked cluster will use those settings. You can''t change `engine`.


        > 📘

        >

        > Restoring from a backup creates a second running cluster, which incurs billing. Delete the first cluster after the restore is complete, to avoid this billing.


        > 👍 There''s a tutorial

        >

        > We offer an example API workflow you can follow to restore a Managed Database backup.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs these roles assigned. Learn more.

        - Roles: `account_database_creator`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `databases:read_write`


        **CLI**


        ```shell

        linode-cli databases postgresql-create \

        --label example-db \

        --region us-east \

        --type g6-dedicated-2 \

        --cluster_size 3 \

        --engine postgresql/13.2 \

        --engine_config.shared_buffers_percentage 41.5 \

        --engine_config.pg.autovacuum_analyze_scale_factor 0.0 \

        --engine_config.pg.autovacuum_vacuum_cost_delay 60 \

        --engine_config.pg.pg_partman_bgw.interval 3600 \

        --engine_config.pg.pg_partman_bgw.role myrolename \

        --engine_config.pglookout.max_failover_replication_time_lag 60 \

        --ssl_connection true \

        --allow_list 203.0.113.1 \

        --allow_list 192.0.1.0/24

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/post-databases-postgre-sql-instances
      operationId: post-databases-postgre-sql-instances
      requestBody:
        content:
          application/json:
            examples:
              create-postgresql-cluster:
                summary: Create PostgreSQL database
                value:
                  allow_list:
                  - 192.0.2.61/24
                  - 192.0.2.124/24
                  cluster_size: 3
                  engine: postgresql/13.2
                  engine_config:
                    pg:
                      autovacuum_analyze_scale_factor: 1
                      autovacuum_analyze_threshold: 2147483647
                      autovacuum_max_workers: 20
                      autovacuum_naptime: 86400
                      autovacuum_vacuum_cost_delay: 100
                      autovacuum_vacuum_cost_limit: 10000
                      autovacuum_vacuum_scale_factor: 1
                      autovacuum_vacuum_threshold: 2147483647
                      bgwriter_delay: 200
                      bgwriter_flush_after: 512
                      bgwriter_lru_maxpages: 100
                      bgwriter_lru_multiplier: 2.5
                      deadlock_timeout: 1000
                      default_toast_compression: lz4
                      idle_in_transaction_session_timeout: 604800000
                      jit: true
                      max_files_per_process: 1024
                      max_locks_per_transaction: 1024
                      max_logical_replication_workers: 64
                      max_parallel_workers: 96
                      max_parallel_workers_per_gather: 96
                      max_pred_locks_per_transaction: 5120
                      max_replication_slots: 64
                      max_slot_wal_keep_size: 1000000
                      max_stack_depth: 2097152
                      max_standby_archive_delay: 1
                      max_standby_streaming_delay: 10
                      max_wal_senders: 20
                      max_worker_processes: 96
                      password_encryption: scram-sha-256
                      pg_partman_bgw.interval: 3600
                      pg_partman_bgw.role: myrolename
                      pg_stat_monitor.pgsm_enable_query_plan: true
                      pg_stat_monitor.pgsm_max_buckets: 10
                      pg_stat_statements.track: all
                      temp_file_limit: 5000000
                      timezone: Europe/Helsinki
                      track_activity_query_size: 1024
                      track_commit_timestamp: 'off'
                      track_functions: all
                      track_io_timing: 'off'
                      wal_sender_timeout: 60000
                      wal_writer_delay: 200
                    pg_stat_monitor_enable: false
                    pglookout:
                      max_failover_replication_time_lag: 10
                    shared_buffers_percentage: 41.5
                    synchronous_replication: quorum
                    work_mem: 4
                  label: example-db
                  private_network:
                    public_access: false
                    subnet_id: 456
                    vpc_id: 123
                  region: us-east
                  ssl_connection: true
                  type: g6-dedicated-2
              fork-postgresql-cluster:
                summary: Restore PostgreSQL database
                value:
                  allow_list:
                  - 192.0.2.61/24
                  - 192.0.2.124/24
                  cluster_size: 3
                  engine_config:
                    pg:
                      autovacuum_analyze_scale_factor: 1
                      autovacuum_analyze_threshold: 2147483647
                      autovacuum_max_workers: 20
                      autovacuum_naptime: 86400
                      autovacuum_vacuum_cost_delay: 100
                      autovacuum_vacuum_cost_limit: 10000
                      autovacuum_vacuum_scale_factor: 1
                      autovacuum_vacuum_threshold: 2147483647
                      bgwriter_delay: 200
                      bgwriter_flush_after: 512
                      bgwriter_lru_maxpages: 100
                      bgwriter_lru_multiplier: 2.5
                      deadlock_timeout: 1000
                      default_toast_compression: lz4
                      idle_in_transaction_session_timeout: 604800000
                      jit: true
                      max_files_per_process: 1024
                      max_locks_per_transaction: 1024
                      max_logical_replication_workers: 64
                      max_parallel_workers: 96
                      max_parallel_workers_per_gather: 96
                      max_pred_locks_per_transaction: 5120
                      max_replication_slots: 64
                      max_slot_wal_keep_size: 1000000
                      max_stack_depth: 2097152
                      max_standby_archive_delay: 1
                      max_standby_streaming_delay: 10
                      max_wal_senders: 20
                      max_worker_processes: 96
                      password_encryption: scram-sha-256
                      pg_partman_bgw.interval: 3600
                      pg_partman_bgw.role: myrolename
                      pg_stat_monitor.pgsm_enable_query_plan: true
                      pg_stat_monitor.pgsm_max_buckets: 10
                      pg_stat_statements.track: all
                      temp_file_limit: 5000000
                      timezone: Europe/Helsinki
                      track_activity_query_size: 1024
                      track_commit_timestamp: 'off'
                      track_functions: all
                      track_io_timing: 'off'
                      wal_sender_timeout: 60000
                      wal_writer_delay: 200
                    pg_stat_monitor_enable: false
                    pglookout:
                      max_failover_replication_time_lag: 10
                    shared_buffers_percentage: 41.5
                    synchronous_replication: quorum
                    work_mem: 4
                  fork:
                    restore_time: '2024-10-14T19:55:12'
                    source: 176881
                  label: example-db
                  private_network:
                    public_access: false
                    subnet_id: 456
                    vpc_id: 123
                  region: us-east
                  ssl_connection: true
                  type: g6-dedicated-2
            schema:
              additionalProperties: false
              description: Managed PostgreSQL Database request object.
              oneOf:
              - additionalProperties: false
                properties:
                  allow_list:
                    description: 'Controls access to the Managed Database.


                      - Individually included IP addresses or CIDR ranges can access the Managed Database while all other sources are blocked.


                      - A standalone value of `0.0.0.0/0` allows all IP addresses access to the Managed Database.


                      - An empty array (`[]`) blocks all public and private connections to the Managed Database.'
                    example:
                    - 203.0.113.1/32
                    - 192.0.1.0/24
                    items:
                      format: ipv4/prefix_length
                      pattern: ^([0-9]{1,3}\.){3}[0-9]{1,3}(\/([0-9]|[1-2][0-9]|3[0-2]))?$
                      type: string
                    minItems: 0
                    type: array
                  cluster_size:
                    default: 1
                    description: 'The number of Linode instance nodes deployed to the Managed Database, from `1` to `3`. Consider these points when setting a `cluster_size`:


                      - Choose `3` nodes to create a high availability cluster that consists of one `primary` node and two `standby` nodes.


                      - A `2` node cluster is only available with a dedicated plan. It consists of one `primary` node and one `standby` node.'
                    enum:
                    - 1
                    - 2
                    - 3
                    example: 3
                    type: integer
                    x-linode-cli-display: 5
                  engine:
                    description: The `id` of the Managed Database engine. To get the available values, run the [List Managed Databases engines](https://techdocs.akamai.com/linode-api/reference/get-databases-engines) operation.
                    example: postgresql/13.2
                    type: string
                  engine_config:
                    additionalProperties: false
                    description: 'Advanced parameters you can apply to a PostgreSQL Managed Database, via our partner [Aiven''s specification](https://aiven.io/docs/products/postgresql/reference/advanced-params). Only include the objects for parameters you want to set in your database. Omit objects for parameters you don''t want to define or change.


                      > 📘

                      >

                      > Aiven may offer additional parameters in their specification. Currently, only those listed here are supported for use in a PostgreSQL Managed Database. You can also run the [List PostgreSQL Managed Database advanced parameters](https://techdocs.akamai.com/linode-api/reference/get-databases-postgresql-config) operation to see an up-to-date list.'
                    properties:
                      pg:
                        additionalProperties: false
                        description: PostgreSQL-specific advanced configuration parameters.
                        properties:
                          autovacuum_analyze_scale_factor:
                            default: 0.2
                            description: Specifies a fraction of the table size to add to `autovacuum_analyze_threshold` when deciding whether to trigger an `ANALYZE`.
                            example: 1
                            maximum: 1
                            minimum: 0
                            type: number
                          autovacuum_analyze_threshold:
                            default: 50
                            description: Specifies the minimum number of inserted, updated, or deleted tuples needed to trigger an `ANALYZE` in any one table.
                            example: 2147483647
                            maximum: 2147483647
                            minimum: 0
                            type: integer
                          autovacuum_max_workers:
                            default: 3
                            description: Specifies the maximum number of `autovacuum` processes, other than the `autovacuum` launcher, that may be running at any one time. This parameter can only be set at server start.
                            example: 20
                            maximum: 20
                            minimum: 1
                            type: integer
                          autovacuum_naptime:
                            default: 60
                            description: Specifies the minimum delay between `autovacuum` runs on any given database. The delay is measured in seconds.
                            example: 86400
                            maximum: 86400
                            minimum: 1
                            type: integer
                          autovacuum_vacuum_cost_delay:
                            default: 20
                            description: Specifies the cost delay value that will be used in automatic `VACUUM` operations. If `-1` is specified, the regular `vacuum_cost_delay` value will be used.
                            example: 100
                            maximum: 100
                            minimum: -1
                            type: integer
                          autovacuum_vacuum_cost_limit:
                            default: -1
                            description: Specifies the cost limit value that will be used in automatic `VACUUM` operations. The default of `-1` applies the regular `vacuum_cost_limit` value.
                            example: 10000
                            maximum: 10000
                            minimum: -1
                            type: integer
                          autovacuum_vacuum_scale_factor:
                            default: 0.2
                            description: Specifies a fraction of the table size to add to `autovacuum_vacuum_threshold` when deciding whether to trigger a `VACUUM`.
                            example: 1
                            maximum: 1
                            minimum: 0
                            type: number
                          autovacuum_vacuum_threshold:
                            default: 50
                            description: Specifies the minimum number of updated or deleted tuples needed to trigger a `VACUUM` in any one table.
                            example: 2147483647
                            maximum: 2147483647
                            minimum: 0
                            type: integer
                          bgwriter_delay:
                            default: 200
                            description: Specifies the delay between activity rounds for the background writer in milliseconds.
                            example: 200
                            maximum: 10000
[...]
