openapi: 3.2.0
info:
  description: Add a Cloud Computing instance so you can build, release, and scale applications faster with virtual machines.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: 'Akamai: Linode Managed contacts API'
  version: 4.229.1
servers:
- url: https://api.linode.com
tags:
- description: Create and manage contacts associated with Linode Managed, who can be notified about issues with your managed Linodes.
  name: Managed contacts
paths:
  /{apiVersion}/managed/contacts:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    x-akamai:
      file-path: paths/managed-contacts.yaml
      path-info: /{apiVersion}/managed/contacts
    x-linode-cli-command: managed
    post:
      description: 'Creates a managed contact. When investigating or resolving an issue with a service monitor, Akamai Support may reach out to this contact.


        This operation can only be accessed by the unrestricted users of an account.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `account:read_write`


        **CLI**


        ```shell

        linode-cli managed contact-create \

        --name "John Doe" \

        --email "john.doe@example.org" \

        --phone.primary "123-456-7890"

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/post-managed-contact
      operationId: post-managed-contact
      requestBody:
        content:
          application/json:
            example:
              email: jkowalski@example.org
              group: on-call
              name: John Doe
              phone:
                primary: 123-456-7890
            schema:
              additionalProperties: false
              description: Information about someone Linode's special forces may contact in case an issue is detected with a manager service.
              properties:
                email:
                  description: The address to email this Contact to alert them of issues.
                  example: '{{email}}'
                  format: email
                  type: string
                  x-linode-cli-display: 3
                group:
                  description: __Filterable__ A grouping for this Contact. This is for display purposes only.
                  example: '{{group}}'
                  maxLength: 50
                  minLength: 2
                  type:
                  - string
                  - 'null'
                  x-akamai:
                    labels:
                    - Filterable
                  x-linode-cli-display: 5
                  x-linode-filterable: true
                id:
                  description: __Read-only__ This Contact's unique ID.
                  example: '{{id}}'
                  readOnly: true
                  type: integer
                  x-linode-cli-display: 1
                name:
                  description: The name of this Contact.
                  example: '{{name}}'
                  maxLength: 64
                  minLength: 2
                  pattern: '[a-zA-Z0-9-_ ]{2,64}'
                  type: string
                  x-linode-cli-display: 2
                phone:
                  additionalProperties: false
                  description: Information about how to reach this Contact by phone.
                  properties:
                    primary:
                      description: This Contact's primary phone number.
                      example: 123-456-7890
                      format: phone
                      type:
                      - string
                      - 'null'
                    secondary:
                      description: This Contact's secondary phone number.
                      example: null
                      format: phone
                      type:
                      - string
                      - 'null'
                  type: object
                  x-linode-cli-display: 4
                updated:
                  description: __Read-only__ When this Contact was last updated.
                  example: '{{updated}}'
                  readOnly: true
                  type: string
              type: object
              x-akamai:
                file-path: schemas/managed-contact.yaml
      responses:
        '200':
          content:
            application/json:
              example:
                email: jdupont@example.org
                group: on-call
                id: 567
                name: John Doe
                phone:
                  primary: 123-456-7890
                  secondary: null
                updated: '2018-01-01T00:01:01'
              schema:
                additionalProperties: false
                description: Information about someone Linode's special forces may contact in case an issue is detected with a manager service.
                properties:
                  email:
                    description: The address to email this Contact to alert them of issues.
                    example: john.doe@example.org
                    format: email
                    type: string
                    x-linode-cli-display: 3
                  group:
                    description: __Filterable__ A grouping for this Contact. This is for display purposes only.
                    example: on-call
                    maxLength: 50
                    minLength: 2
                    type:
                    - string
                    - 'null'
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 5
                    x-linode-filterable: true
                  id:
                    description: __Read-only__ This Contact's unique ID.
                    example: 567
                    readOnly: true
                    type: integer
                    x-linode-cli-display: 1
                  name:
                    description: The name of this Contact.
                    example: John Doe
                    maxLength: 64
                    minLength: 2
                    pattern: '[a-zA-Z0-9-_ ]{2,64}'
                    type: string
                    x-linode-cli-display: 2
                  phone:
                    additionalProperties: false
                    description: Information about how to reach this Contact by phone.
                    properties:
                      primary:
                        description: This Contact's primary phone number.
                        example: 123-456-7890
                        format: phone
                        type:
                        - string
                        - 'null'
                      secondary:
                        description: This Contact's secondary phone number.
                        example: null
                        format: phone
                        type:
                        - string
                        - 'null'
                    type: object
                    x-linode-cli-display: 4
                  updated:
                    description: __Read-only__ When this Contact was last updated.
                    example: '2018-01-01T00:01:01'
                    readOnly: true
                    type: string
                type: object
                x-akamai:
                  file-path: schemas/managed-contact.yaml
          description: Contact created.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_write
      summary: Create a managed contact
      tags:
      - Managed contacts
      x-akamai:
        tabs:
        - syntax: "linode-cli managed contact-create \\\n  --name \"John Doe\" \\\n  --email \"john.doe@example.org\" \\\n  --phone.primary \"123-456-7890\""
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
        - syntax: account:read_write
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action: contact-create
      x-linode-grant: unrestricted only
    get:
      description: 'Returns a paginated list of managed contacts on your account.


        This operation can only be accessed by the unrestricted users of an account.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `account:read_only`


        **CLI**


        ```shell

        linode-cli managed contacts-list

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-managed-contacts
      operationId: get-managed-contacts
      parameters:
      - description: The page of a collection to return.
        example: '{{page}}'
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 6
          minimum: 1
          type: integer
        x-akamai:
          file-path: parameters/page-offset.yaml
      - description: The number of items to return per page.
        example: '{{page_size}}'
        in: query
        name: page_size
        schema:
          default: 100
          example: 50
          maximum: 500
          minimum: 25
          type: integer
        x-akamai:
          file-path: parameters/page-size.yaml
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - email: mrossi@example.org
                  group: on-call
                  id: 567
                  name: John Doe
                  phone:
                    primary: 123-456-7890
                    secondary: null
                  updated: '2018-01-01T00:01:01'
                page: 1
                pages: 1
                results: 1
              schema:
                additionalProperties: false
                properties:
                  data:
                    items:
                      additionalProperties: false
                      description: Information about someone Linode's special forces may contact in case an issue is detected with a manager service.
                      properties:
                        email:
                          description: The address to email this Contact to alert them of issues.
                          example: john.doe@example.org
                          format: email
                          type: string
                          x-linode-cli-display: 3
                        group:
                          description: __Filterable__ A grouping for this Contact. This is for display purposes only.
                          example: on-call
                          maxLength: 50
                          minLength: 2
                          type:
                          - string
                          - 'null'
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-cli-display: 5
                          x-linode-filterable: true
                        id:
                          description: __Read-only__ This Contact's unique ID.
                          example: 567
                          readOnly: true
                          type: integer
                          x-linode-cli-display: 1
                        name:
                          description: The name of this Contact.
                          example: John Doe
                          maxLength: 64
                          minLength: 2
                          pattern: '[a-zA-Z0-9-_ ]{2,64}'
                          type: string
                          x-linode-cli-display: 2
                        phone:
                          additionalProperties: false
                          description: Information about how to reach this Contact by phone.
                          properties:
                            primary:
                              description: This Contact's primary phone number.
                              example: 123-456-7890
                              format: phone
                              type:
                              - string
                              - 'null'
                            secondary:
                              description: This Contact's secondary phone number.
                              example: null
                              format: phone
                              type:
                              - string
                              - 'null'
                          type: object
                          x-linode-cli-display: 4
                        updated:
                          description: __Read-only__ When this Contact was last updated.
                          example: '2018-01-01T00:01:01'
                          readOnly: true
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/managed-contact.yaml
                    type: array
                  page:
                    description: __Read-only__ The current [page](https://techdocs.akamai.com/linode-api/reference/pagination).
                    example: 1
                    readOnly: true
                    type: integer
                  pages:
                    description: __Read-only__ The total number of [pages](https://techdocs.akamai.com/linode-api/reference/pagination).
                    example: 1
                    readOnly: true
                    type: integer
                  results:
                    description: __Read-only__ The total number of results.
                    example: 1
                    readOnly: true
                    type: integer
                type: object
                x-akamai:
                  file-path: schemas/get-managed-contacts-200.yaml
          description: A paginated list of ManagedContacts.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_only
      summary: List managed contacts
      tags:
      - Managed contacts
      x-akamai:
        tabs:
        - syntax: linode-cli managed contacts-list
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
        - syntax: account:read_only
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action: contacts-list
      x-linode-grant: unrestricted only
  /{apiVersion}/managed/contacts/{contactId}:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    - description: The ID of the contact to access.
      example: '{{contactId}}'
      in: path
      name: contactId
      required: true
      schema:
        example: 174
        type: integer
      x-akamai:
        file-path: parameters/contact-id-path.yaml
    x-akamai:
      file-path: paths/managed-contact.yaml
      path-info: /{apiVersion}/managed/contacts/{contactId}
    x-linode-cli-command: managed
    get:
      description: 'Returns a single managed contact.


        This operation can only be accessed by the unrestricted users of an account.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `account:read_write`


        **CLI**


        ```shell

        linode-cli managed contact-view 567

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-managed-contact
      operationId: get-managed-contact
      responses:
        '200':
          content:
            application/json:
              example:
                email: jdupont@example.org
                group: on-call
                id: 567
                name: John Doe
                phone:
                  primary: 123-456-7890
                  secondary: null
                updated: '2018-01-01T00:01:01'
              schema:
                additionalProperties: false
                description: Information about someone Linode's special forces may contact in case an issue is detected with a manager service.
                properties:
                  email:
                    description: The address to email this Contact to alert them of issues.
                    example: john.doe@example.org
                    format: email
                    type: string
                    x-linode-cli-display: 3
                  group:
                    description: __Filterable__ A grouping for this Contact. This is for display purposes only.
                    example: on-call
                    maxLength: 50
                    minLength: 2
                    type:
                    - string
                    - 'null'
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 5
                    x-linode-filterable: true
                  id:
                    description: __Read-only__ This Contact's unique ID.
                    example: 567
                    readOnly: true
                    type: integer
                    x-linode-cli-display: 1
                  name:
                    description: The name of this Contact.
                    example: John Doe
                    maxLength: 64
                    minLength: 2
                    pattern: '[a-zA-Z0-9-_ ]{2,64}'
                    type: string
                    x-linode-cli-display: 2
                  phone:
                    additionalProperties: false
                    description: Information about how to reach this Contact by phone.
                    properties:
                      primary:
                        description: This Contact's primary phone number.
                        example: 123-456-7890
                        format: phone
                        type:
                        - string
                        - 'null'
                      secondary:
                        description: This Contact's secondary phone number.
                        example: null
                        format: phone
                        type:
                        - string
                        - 'null'
                    type: object
                    x-linode-cli-display: 4
                  updated:
                    description: __Read-only__ When this Contact was last updated.
                    example: '2018-01-01T00:01:01'
                    readOnly: true
                    type: string
                type: object
                x-akamai:
                  file-path: schemas/managed-contact.yaml
          description: The requested Managed Contact.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_write
      summary: Get a managed contact
      tags:
      - Managed contacts
      x-akamai:
        tabs:
        - syntax: linode-cli managed contact-view 567
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
        - syntax: account:read_write
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action: contact-view
      x-linode-grant: unrestricted only
    put:
      description: 'Updates information for a managed contact.


        This operation can only be accessed by the unrestricted users of an account.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `account:read_write`


        **CLI**


        ```shell

        linode-cli managed contact-update 567 \

        --name "John Doe" \

        --email "john.doe@example.org" \

        --phone.primary "123-456-7890"

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/put-managed-contact
      operationId: put-managed-contact
      requestBody:
        content:
          application/json:
            example:
              email: jdupont@example.org
              group: on-call
              name: John Doe
              phone:
                primary: 123-456-7890
            schema:
              additionalProperties: false
              description: Information about someone Linode's special forces may contact in case an issue is detected with a manager service.
              properties:
                email:
                  description: The address to email this Contact to alert them of issues.
                  example: '{{email}}'
                  format: email
                  type: string
                  x-linode-cli-display: 3
                group:
                  description: __Filterable__ A grouping for this Contact. This is for display purposes only.
                  example: '{{group}}'
                  maxLength: 50
                  minLength: 2
                  type:
                  - string
                  - 'null'
                  x-akamai:
                    labels:
                    - Filterable
                  x-linode-cli-display: 5
                  x-linode-filterable: true
                id:
                  description: __Read-only__ This Contact's unique ID.
                  example: '{{id}}'
                  readOnly: true
                  type: integer
                  x-linode-cli-display: 1
                name:
                  description: The name of this Contact.
                  example: '{{name}}'
                  maxLength: 64
                  minLength: 2
                  pattern: '[a-zA-Z0-9-_ ]{2,64}'
                  type: string
                  x-linode-cli-display: 2
                phone:
                  additionalProperties: false
                  description: Information about how to reach this Contact by phone.
                  properties:
                    primary:
                      description: This Contact's primary phone number.
                      example: 123-456-7890
                      format: phone
                      type:
                      - string
                      - 'null'
                    secondary:
                      description: This Contact's secondary phone number.
                      example: null
                      format: phone
                      type:
                      - string
                      - 'null'
                  type: object
                  x-linode-cli-display: 4
                updated:
                  description: __Read-only__ When this Contact was last updated.
                  example: '{{updated}}'
                  readOnly: true
                  type: string
              type: object
              x-akamai:
                file-path: schemas/managed-contact.yaml
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                email: jdupont@example.org
                group: on-call
                id: 567
                name: John Doe
                phone:
                  primary: 123-456-7890
                  secondary: null
                updated: '2018-01-01T00:01:01'
              schema:
                additionalProperties: false
                description: Information about someone Linode's special forces may contact in case an issue is detected with a manager service.
                properties:
                  email:
                    description: The address to email this Contact to alert them of issues.
                    example: john.doe@example.org
                    format: email
                    type: string
                    x-linode-cli-display: 3
                  group:
                    description: __Filterable__ A grouping for this Contact. This is for display purposes only.
                    example: on-call
                    maxLength: 50
                    minLength: 2
                    type:
                    - string
                    - 'null'
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 5
                    x-linode-filterable: true
                  id:
                    description: __Read-only__ This Contact's unique ID.
                    example: 567
                    readOnly: true
                    type: integer
                    x-linode-cli-display: 1
                  name:
                    description: The name of this Contact.
                    example: John Doe
                    maxLength: 64
                    minLength: 2
                    pattern: '[a-zA-Z0-9-_ ]{2,64}'
                    type: string
                    x-linode-cli-display: 2
                  phone:
                    additionalProperties: false
                    description: Information about how to reach this Contact by phone.
                    properties:
                      primary:
                        description: This Contact's primary phone number.
                        example: 123-456-7890
                        format: phone
                        type:
                        - string
                        - 'null'
                      secondary:
                        description: This Contact's secondary phone number.
                        example: null
                        format: phone
                        type:
                        - string
                        - 'null'
                    type: object
                    x-linode-cli-display: 4
                  updated:
                    description: __Read-only__ When this Contact was last updated.
                    example: '2018-01-01T00:01:01'
                    readOnly: true
                    type: string
                type: object
                x-akamai:
                  file-path: schemas/managed-contact.yaml
          description: Contact updated successfully.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_write
      summary: Update a managed contact
      tags:
      - Managed contacts
      x-akamai:
        tabs:
        - syntax: "linode-cli managed contact-update 567 \\\n  --name \"John Doe\" \\\n  --email \"john.doe@example.org\" \\\n  --phone.primary \"123-456-7890\""
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
        - syntax: account:read_write
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action: contact-update
      x-linode-grant: unrestricted only
    delete:
      description: 'Deletes a managed contact.


        This operation can only be accessed by the unrestricted users of an account.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `account:read_write`


        **CLI**


        ```shell

        linode-cli managed contact-delete 567

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/delete-managed-contact
      operationId: delete-managed-contact
      responses:
        '200':
          content:
            application/json:
              example: {}
              schema:
                description: The API responds with an empty object.
                maxProperties: 0
                type: object
                x-akamai:
                  file-path: schemas/added-empty-obj.yaml
          description: Contact deleted successfully.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_write
      summary: Delete a managed contact
      tags:
      - Managed contacts
      x-akamai:
        tabs:
        - syntax: linode-cli managed contact-delete 567
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
        - syntax: account:read_write
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action: contact-delete
      x-linode-grant: unrestricted only
components:
  securitySchemes:
    oauth:
      flows:
        authorizationCode:
          authorizationUrl: https://login.linode.com/oauth/authorize
          scopes:
            account:read_only: Allows access to GET information about your account.
            account:read_write: Allows access to all endpoints related to your account.
            child_account:read_only: Allows access to GET information about deprecated parent/child operations.
            child_account:read_write: Allows access to deprecated parent/child operations.
            databases:read_only: Allows access to GET information about databases.
            databases:read_write: Allows access to all endpoints related to databases.
            domains:read_only: Allows access to GET Domains on your account.
            domains:read_write: Allows access to all Domain endpoints.
            events:read_only: Allows access to GET your Events.
            events:read_write: Allows access to all endpoints related to your Events.
            firewall:read_only: Allows access to GET information about your Firewalls.
            firewall:read_write: Allows access to all Firewall endpoints.
            images:read_only: Allows access to GET your Images.
            images:read_write: Allows access to all endpoints related to your Images.
            ips:read_only: Allows access to GET your ips.
            ips:read_write: Allows access to all endpoints related to your ips.
            linodes:read_only: Allows access to GET Linodes on your account.
            linodes:read_write: Allow access to all endpoints related to your Linodes.
            lke:read_only: Allows access to GET LKE Clusters on your account.
            lke:read_write: Allows access to all endpoints related to LKE Clusters on your account.
            longview:read_only: Allows access to GET your Longview Clients.
            longview:read_write: Allows access to all endpoints related to your Longview Clients.
            monitor:read_only: Allows access to Monitor (Akamai Cloud Pulse) data.
            monitor:read_write: Allows access to GET Monitor (Akamai Cloud Pulse) data.
            nodebalancers:read_only: Allows access to GET NodeBalancers on your account.
            nodebalancers:read_write: Allows access to all NodeBalancer endpoints.
            object_storage:read_only: Allows access to GET information related to your Object Storage.
            object_storage:read_write: Allows access to all Object Storage endpoints.
            stackscripts:read_only: Allows access to GET your StackScripts.
            stackscripts:read_write: Allows access to all endpoints related to your StackScripts.
            volumes:read_only: Allows access to GET your Volumes.
            volumes:read_write: Allows access to all endpoints related to your Volumes.
            vpc:read_write: Allows access to all endpoints related to VPC and Subnet creation, updating, and deletion.
          tokenUrl: https://login.linode.com/oauth/token
      type: oauth2
    personalAccessToken:
      scheme: bearer
      type: http
externalDocs:
  description: See documentation for Akamai's Linode API
  url: https://techdocs.akamai.com/linode-api/reference
x-readme:
  explorer-enabled: false
  samples-languages:
  - curl
  - python
  - node
