openapi: 3.2.0
info:
  title: Linode Domains API
  version: '1.0'
  description: 'Operations tagged Domains across 2 of this provider''s published API definitions: linode-api-v4-official-openapi.json, linode-api-v4-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.linode.com
- url: https://api.linode.com/v4
  description: Production Server
tags:
- description: Use these operations to create and manage domains on your account.
  name: Domains
paths:
  /{apiVersion}/domains:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    x-akamai:
      file-path: paths/domains.yaml
      path-info: /{apiVersion}/domains
    x-linode-cli-command: domains
    post:
      description: 'Adds a new domain to DNS Manager. You must own the domain before adding it here. Be sure to point your registrar to our nameservers. Akamai Cloud does not act as a registrar.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs these roles assigned. Learn more.

        - Roles: `account_domain_creator`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `domains:read_write`


        **CLI**


        ```shell

        linode-cli domains create \

        --type master \

        --domain example.org \

        --soa_email admin@example.org

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/post-domain
      operationId: post-domain
      requestBody:
        content:
          application/json:
            example:
              domain: example.org
              expire_sec: 300
              refresh_sec: 300
              retry_sec: 300
              soa_email: admin@example.org
              status: active
              ttl_sec: 300
              type: master
            schema:
              allOf:
              - additionalProperties: false
                description: A domain zonefile in our DNS system.  You must own the domain name and tell your registrar to use Linode's nameservers in order for a domain in our system to be treated as authoritative.
                properties:
                  axfr_ips:
                    description: 'The list of IPs that may perform a zone transfer for this domain. The total combined length of all data within this array cannot exceed 1000 characters.


                      > 📘

                      >

                      > This is potentially dangerous, and should be set to an empty list unless you intend to use it.'
                    example: []
                    items:
                      format: ip
                      type: string
                    type: array
                  description:
                    description: A description for this domain. This is for display purposes only.
                    example: null
                    maxLength: 253
                    minLength: 1
                    type:
                    - string
                    - 'null'
                  domain:
                    description: __Filterable__ The domain this domain represents. domain labels cannot be longer than 63 characters and must conform to [RFC1035](https://tools.ietf.org/html/rfc1035). domains must be unique on Linode's platform, including across different Linode accounts; there cannot be two domains representing the same domain.
                    example: example.org
                    maxLength: 253
                    minLength: 1
                    pattern: ^(\*\.)?([a-zA-Z0-9-_]{1,63}\.)+([a-zA-Z]{2,3}\.)?([a-zA-Z]{2,16}|xn--[a-zA-Z0-9]+)$
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 2
                    x-linode-filterable: true
                  expire_sec:
                    default: 0
                    description: 'The amount of time in seconds that may pass before this domain is no longer authoritative.


                      - Valid values are 0, 30, 120, 300, 3600, 7200, 14400, 28800, 57600, 86400, 172800, 345600, 604800, 1209600, and 2419200.


                      - Any other value is rounded up to the nearest valid value.


                      - A value of 0 is equivalent to the default value of 1209600.'
                    example: 300
                    type: integer
                  group:
                    deprecated: true
                    description: __Deprecated__, __Filterable__ The group this domain belongs to.  This is for display purposes only.
                    example: null
                    maxLength: 50
                    minLength: 1
                    type:
                    - string
                    - 'null'
                    x-akamai:
                      labels:
                      - Filterable
                      status: DEPRECATED
                    x-linode-filterable: true
                  id:
                    description: __Read-only__ This domain's unique ID.
                    example: 1234
                    readOnly: true
                    type: integer
                    x-linode-cli-display: 1
                  master_ips:
                    description: The IP addresses representing the master DNS for this domain. At least one value is required for `type` slave domains. The total combined length of all data within this array cannot exceed 1000 characters.
                    example: []
                    items:
                      format: ip
                      type: string
                    type: array
                  refresh_sec:
                    default: 0
                    description: 'The amount of time in seconds before this domain should be refreshed.


                      - Valid values are 0, 30, 120, 300, 3600, 7200, 14400, 28800, 57600, 86400, 172800, 345600, 604800, 1209600, and 2419200.


                      - Any other value is rounded up to the nearest valid value.


                      - A value of 0 is equivalent to the default value of 14400.'
                    example: 300
                    type: integer
                  retry_sec:
                    default: 0
                    description: 'The interval, in seconds, at which a failed refresh should be retried.


                      - Valid values are 0, 30, 120, 300, 3600, 7200, 14400, 28800, 57600, 86400, 172800, 345600, 604800, 1209600, and 2419200.


                      - Any other value is rounded up to the nearest valid value.


                      - A value of 0 is equivalent to the default value of 14400.'
                    example: 300
                    type: integer
                  soa_email:
                    description: Start of Authority email address. This is required for `type` master domains.
                    example: admin@example.org
                    format: email
                    type: string
                    x-linode-cli-display: 5
                  status:
                    default: active
                    description: Indicates whether this domain is currently being rendered, either `active` or `disabled`.
                    enum:
                    - disabled
                    - active
                    example: active
                    type: string
                    x-linode-cli-color:
                      active: green
                      default_: red
                      disabled: yellow
                      edit_mode: yellow
                    x-linode-cli-display: 4
                  tags:
                    description: __Filterable__ An array of tags applied to this object.  Tags are for organizational purposes only.
                    example:
                    - example tag
                    - another example
                    items:
                      type: string
                    type: array
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-filterable: true
                  ttl_sec:
                    default: 0
                    description: '"Time to Live" - the amount of time in seconds that this domain''s records may be cached by resolvers or other domain servers.


                      - Valid values are 0, 30, 120, 300, 3600, 7200, 14400, 28800, 57600, 86400, 172800, 345600, 604800, 1209600, and 2419200.


                      - Any other value is rounded up to the nearest valid value.


                      - A value of 0 is equivalent to the default value of 86400.'
                    example: 300
                    type: integer
                  type:
                    description: Whether this domain represents the authoritative source of information for the domain it describes (`master`), or whether it is a read-only copy of a master (`slave`).
                    enum:
                    - master
                    - slave
                    example: master
                    type: string
                    x-linode-cli-display: 3
                title: Domain
                type: object
                x-akamai:
                  file-path: schemas/domain.yaml
              required:
              - domain
              - type
              x-akamai:
                file-path: schemas/added-post-domain.yaml
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                axfr_ips: []
                description: null
                domain: example.org
                expire_sec: 300
                id: 1234
                master_ips: []
                refresh_sec: 300
                retry_sec: 300
                soa_email: admin@example.org
                status: active
                tags:
                - example tag
                - another example
                ttl_sec: 300
                type: master
              schema:
                additionalProperties: false
                description: A domain zonefile in our DNS system.  You must own the domain name and tell your registrar to use Linode's nameservers in order for a domain in our system to be treated as authoritative.
                properties:
                  axfr_ips:
                    description: 'The list of IPs that may perform a zone transfer for this domain. The total combined length of all data within this array cannot exceed 1000 characters.


                      > 📘

                      >

                      > This is potentially dangerous, and should be set to an empty list unless you intend to use it.'
                    example: []
                    items:
                      format: ip
                      type: string
                    type: array
                  description:
                    description: A description for this domain. This is for display purposes only.
                    example: null
                    maxLength: 253
                    minLength: 1
                    type:
                    - string
                    - 'null'
                  domain:
                    description: __Filterable__ The domain this domain represents. domain labels cannot be longer than 63 characters and must conform to [RFC1035](https://tools.ietf.org/html/rfc1035). domains must be unique on Linode's platform, including across different Linode accounts; there cannot be two domains representing the same domain.
                    example: example.org
                    maxLength: 253
                    minLength: 1
                    pattern: ^(\*\.)?([a-zA-Z0-9-_]{1,63}\.)+([a-zA-Z]{2,3}\.)?([a-zA-Z]{2,16}|xn--[a-zA-Z0-9]+)$
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 2
                    x-linode-filterable: true
                  expire_sec:
                    default: 0
                    description: 'The amount of time in seconds that may pass before this domain is no longer authoritative.


                      - Valid values are 0, 30, 120, 300, 3600, 7200, 14400, 28800, 57600, 86400, 172800, 345600, 604800, 1209600, and 2419200.


                      - Any other value is rounded up to the nearest valid value.


                      - A value of 0 is equivalent to the default value of 1209600.'
                    example: 300
                    type: integer
                  group:
                    deprecated: true
                    description: __Deprecated__, __Filterable__ The group this domain belongs to.  This is for display purposes only.
                    example: null
                    maxLength: 50
                    minLength: 1
                    type:
                    - string
                    - 'null'
                    x-akamai:
                      labels:
                      - Filterable
                      status: DEPRECATED
                    x-linode-filterable: true
                  id:
                    description: __Read-only__ This domain's unique ID.
                    example: 1234
                    readOnly: true
                    type: integer
                    x-linode-cli-display: 1
                  master_ips:
                    description: The IP addresses representing the master DNS for this domain. At least one value is required for `type` slave domains. The total combined length of all data within this array cannot exceed 1000 characters.
                    example: []
                    items:
                      format: ip
                      type: string
                    type: array
                  refresh_sec:
                    default: 0
                    description: 'The amount of time in seconds before this domain should be refreshed.


                      - Valid values are 0, 30, 120, 300, 3600, 7200, 14400, 28800, 57600, 86400, 172800, 345600, 604800, 1209600, and 2419200.


                      - Any other value is rounded up to the nearest valid value.


                      - A value of 0 is equivalent to the default value of 14400.'
                    example: 300
                    type: integer
                  retry_sec:
                    default: 0
                    description: 'The interval, in seconds, at which a failed refresh should be retried.


                      - Valid values are 0, 30, 120, 300, 3600, 7200, 14400, 28800, 57600, 86400, 172800, 345600, 604800, 1209600, and 2419200.


                      - Any other value is rounded up to the nearest valid value.


                      - A value of 0 is equivalent to the default value of 14400.'
                    example: 300
                    type: integer
                  soa_email:
                    description: Start of Authority email address. This is required for `type` master domains.
                    example: admin@example.org
                    format: email
                    type: string
                    x-linode-cli-display: 5
                  status:
                    default: active
                    description: Indicates whether this domain is currently being rendered, either `active` or `disabled`.
                    enum:
                    - disabled
                    - active
                    example: active
                    type: string
                    x-linode-cli-color:
                      active: green
                      default_: red
                      disabled: yellow
                      edit_mode: yellow
                    x-linode-cli-display: 4
                  tags:
                    description: __Filterable__ An array of tags applied to this object.  Tags are for organizational purposes only.
                    example:
                    - example tag
                    - another example
                    items:
                      type: string
                    type: array
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-filterable: true
                  ttl_sec:
                    default: 0
                    description: '"Time to Live" - the amount of time in seconds that this domain''s records may be cached by resolvers or other domain servers.


                      - Valid values are 0, 30, 120, 300, 3600, 7200, 14400, 28800, 57600, 86400, 172800, 345600, 604800, 1209600, and 2419200.


                      - Any other value is rounded up to the nearest valid value.


                      - A value of 0 is equivalent to the default value of 86400.'
                    example: 300
                    type: integer
                  type:
                    description: Whether this domain represents the authoritative source of information for the domain it describes (`master`), or whether it is a read-only copy of a master (`slave`).
                    enum:
                    - master
                    - slave
                    example: master
                    type: string
                    x-linode-cli-display: 3
                title: Domain
                type: object
                x-akamai:
                  file-path: schemas/domain.yaml
          description: Domain added successfully.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - domains:read_write
      summary: Create a domain
      tags:
      - Domains
      x-akamai:
        tabs:
        - syntax: "linode-cli domains create \\\n  --type master \\\n  --domain example.org \\\n  --soa_email admin@example.org"
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: create
      x-linode-grant: add_domains
      x-linode-iam:
      - roles:
        - account_domain_creator
    get:
      description: 'This is a collection of Domains that you have registered in Linode''s DNS Manager. Linode is not a registrar, and in order for these to work you must own the domains and point your registrar at Linode''s nameservers.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs these roles assigned. Learn more.

        - Roles: `domain_viewer`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `domains:read_only`


        **CLI**


        ```shell

        linode-cli domains list

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-domains
      operationId: get-domains
      parameters:
      - description: The page of a collection to return.
        example: '{{page}}'
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 6
          minimum: 1
          type: integer
        x-akamai:
          file-path: parameters/page-offset.yaml
      - description: The number of items to return per page.
        example: '{{page_size}}'
        in: query
        name: page_size
        schema:
          default: 100
          example: 50
          maximum: 500
          minimum: 25
          type: integer
        x-akamai:
          file-path: parameters/page-size.yaml
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - axfr_ips: []
                  description: null
                  domain: example.org
                  expire_sec: 300
                  id: 1234
                  master_ips: []
                  refresh_sec: 300
                  retry_sec: 300
                  soa_email: admin@example.org
                  status: active
                  tags:
                  - example tag
                  - another example
                  ttl_sec: 300
                  type: master
                page: 1
                pages: 1
                results: 1
              schema:
                additionalProperties: false
                properties:
                  data:
                    items:
                      additionalProperties: false
                      description: A domain zonefile in our DNS system.  You must own the domain name and tell your registrar to use Linode's nameservers in order for a domain in our system to be treated as authoritative.
                      properties:
                        axfr_ips:
                          description: 'The list of IPs that may perform a zone transfer for this domain. The total combined length of all data within this array cannot exceed 1000 characters.


                            > 📘

                            >

                            > This is potentially dangerous, and should be set to an empty list unless you intend to use it.'
                          example: []
                          items:
                            format: ip
                            type: string
                          type: array
                        description:
                          description: A description for this domain. This is for display purposes only.
                          example: null
                          maxLength: 253
                          minLength: 1
                          type:
                          - string
                          - 'null'
                        domain:
                          description: __Filterable__ The domain this domain represents. domain labels cannot be longer than 63 characters and must conform to [RFC1035](https://tools.ietf.org/html/rfc1035). domains must be unique on Linode's platform, including across different Linode accounts; there cannot be two domains representing the same domain.
                          example: example.org
                          maxLength: 253
                          minLength: 1
                          pattern: ^(\*\.)?([a-zA-Z0-9-_]{1,63}\.)+([a-zA-Z]{2,3}\.)?([a-zA-Z]{2,16}|xn--[a-zA-Z0-9]+)$
                          type: string
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-cli-display: 2
                          x-linode-filterable: true
                        expire_sec:
                          default: 0
                          description: 'The amount of time in seconds that may pass before this domain is no longer authoritative.


                            - Valid values are 0, 30, 120, 300, 3600, 7200, 14400, 28800, 57600, 86400, 172800, 345600, 604800, 1209600, and 2419200.


                            - Any other value is rounded up to the nearest valid value.


                            - A value of 0 is equivalent to the default value of 1209600.'
                          example: 300
                          type: integer
                        group:
                          deprecated: true
                          description: __Deprecated__, __Filterable__ The group this domain belongs to.  This is for display purposes only.
                          example: null
                          maxLength: 50
                          minLength: 1
                          type:
                          - string
                          - 'null'
                          x-akamai:
                            labels:
                            - Filterable
                            status: DEPRECATED
                          x-linode-filterable: true
                        id:
                          description: __Read-only__ This domain's unique ID.
                          example: 1234
                          readOnly: true
                          type: integer
                          x-linode-cli-display: 1
                        master_ips:
                          description: The IP addresses representing the master DNS for this domain. At least one value is required for `type` slave domains. The total combined length of all data within this array cannot exceed 1000 characters.
                          example: []
                          items:
                            format: ip
                            type: string
                          type: array
                        refresh_sec:
                          default: 0
                          description: 'The amount of time in seconds before this domain should be refreshed.


                            - Valid values are 0, 30, 120, 300, 3600, 7200, 14400, 28800, 57600, 86400, 172800, 345600, 604800, 1209600, and 2419200.


                            - Any other value is rounded up to the nearest valid value.


                            - A value of 0 is equivalent to the default value of 14400.'
                          example: 300
                          type: integer
                        retry_sec:
                          default: 0
                          description: 'The interval, in seconds, at which a failed refresh should be retried.


                            - Valid values are 0, 30, 120, 300, 3600, 7200, 14400, 28800, 57600, 86400, 172800, 345600, 604800, 1209600, and 2419200.


                            - Any other value is rounded up to the nearest valid value.


                            - A value of 0 is equivalent to the default value of 14400.'
                          example: 300
                          type: integer
                        soa_email:
                          description: Start of Authority email address. This is required for `type` master domains.
                          example: admin@example.org
                          format: email
                          type: string
                          x-linode-cli-display: 5
                        status:
                          default: active
                          description: Indicates whether this domain is currently being rendered, either `active` or `disabled`.
                          enum:
                          - disabled
                          - active
                          example: active
                          type: string
                          x-linode-cli-color:
                            active: green
                            default_: red
                            disabled: yellow
                            edit_mode: yellow
                          x-linode-cli-display: 4
                        tags:
                          description: __Filterable__ An array of tags applied to this object.  Tags are for organizational purposes only.
                          example:
                          - example tag
                          - another example
                          items:
                            type: string
                          type: array
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-filterable: true
                        ttl_sec:
                          default: 0
                          description: '"Time to Live" - the amount of time in seconds that this domain''s records may be cached by resolvers or other domain servers.


                            - Valid values are 0, 30, 120, 300, 3600, 7200, 14400, 28800, 57600, 86400, 172800, 345600, 604800, 1209600, and 2419200.


                            - Any other value is rounded up to the nearest valid value.


                            - A value of 0 is equivalent to the default value of 86400.'
                          example: 300
                          type: integer
                        type:
                          description: Whether this domain represents the authoritative source of information for the domain it describes (`master`), or whether it is a read-only copy of a master (`slave`).
                          enum:
                          - master
                          - slave
                          example: master
                          type: string
                          x-linode-cli-display: 3
                      title: Domain
                      type: object
                      x-akamai:
                        file-path: schemas/domain.yaml
                    type: array
                  page:
                    description: __Read-only__ The current [page](https://techdocs.akamai.com/linode-api/reference/pagination).
                    example: 1
                    readOnly: true
                    type: integer
                  pages:
                    description: __Read-only__ The total number of [pages](https://techdocs.akamai.com/linode-api/reference/pagination).
                    example: 1
                    readOnly: true
                    type: integer
                  results:
                    description: __Read-only__ The total number of results.
                    example: 1
                    readOnly: true
                    type: integer
                type: object
                x-akamai:
                  file-path: schemas/added-get-domains-200.yaml
          description: A paginated list of Domains you have registered.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - domains:read_only
      summary: List domains
      tags:
      - Domains
      x-akamai:
        tabs:
        - syntax: linode-cli domains list
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action:
      - list
      - ls
      x-linode-grant: read_only
      x-linode-iam:
      - roles:
        - domain_viewer
    servers:
    - url: https://api.linode.com
  /{apiVersion}/domains/import:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    x-akamai:
      file-path: paths/domains-import.yaml
      path-info: /{apiVersion}/domains/import
    x-linode-cli-command: domains
    post:
      description: 'Imports a domain zone from a remote nameserver. Your nameserver must allow zone transfers (AXFR) from the following IPs:


        - 96.126.114.97

        - 96.126.114.98

        - 2600:3c00::5e

        - 2600:3c00::5f


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs these roles assigned. Learn more.

        - Roles: `domain_admin`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `domains:read_write`


        **CLI**


        ```shell

        linode-cli domains import --domain example.com --remote_nameserver examplenameserver.com

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/post-import-domain
      operationId: post-import-domain
      requestBody:
        content:
          application/json:
            example:
              domain: example.com
              remote_nameserver: examplenameserver.com
            schema:
              additionalProperties: false
              properties:
                domain:
                  description: The domain to import.
                  example: '{{domain}}'
                  type: string
                remote_nameserver:
                  description: The remote nameserver that allows zone transfers (AXFR).
                  example: '{{remote_nameserver}}'
                  type: string
              required:
              - domain
              - remote_nameserver
              type: object
              x-akamai:
                file-path: schemas/added-post-import-domain.yaml
      responses:
        '200':
          content:
            application/json:
              example:
                axfr_ips: []
                description: null
                domain: example.org
                expire_sec: 300
                id: 1234
                master_ips: []
                refresh_sec: 300
                retry_sec: 300
                soa_email: admin@example.org
                status: active
                tags:
                - example tag
                - another example
                ttl_sec: 300
                type: master
              schema:
                additionalProperties: false
                description: A domain zonefile in our DNS system.  You must own the domain name and tell your registrar to use Linode's nameservers in order for a domain in our system to be treated as authoritative.
                properties:
                  axfr_ips:
                    description: 'The list of IPs that may perform a zone transfer for this domain. The total combined length of all data within this array cannot exceed 1000 characters.


                      > 📘

                      >

                      > This is potentially dangerous, and should be set to an empty list unless you intend to use it.'
                    example: []
                    items:
                      format: ip
                      type: string
                    type: array
                  description:
                    description: A description for this domain. This is for display purposes only.
                    example: null
                    maxLength: 253
                    minLength: 1
                    type:
                    - string
                    - 'null'
                  domain:
                    description: __Filterable__ The domain this domain represents. domain labels cannot be longer than 63 characters and must conform to [RFC1035](https://tools.ietf.org/html/rfc1035). domains must be unique on Linode's platform, including across different Linode accounts; there cannot be two domains representing the same domain.
                    example: example.org
                    maxLength: 253
                    minLength: 1
                    pattern: ^(\*\.)?([a-zA-Z0-9-_]{1,63}\.)+([a-zA-Z]{2,3}\.)?([a-zA-Z]{2,16}|xn--[a-zA-Z0-9]+)$
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 2
                    x-linode-filterable: true
                  expire_sec:
                    default: 0
                    description: 'The amount of time in seconds that may pass before this domain is no longer authoritative.


                      - Valid values are 0, 30, 120, 300, 3600, 7200, 14400, 28800, 57600, 86400, 172800, 345600, 604800, 1209600, and 2419200.


                      - Any other value is rounded up to the nearest valid value.


                      - A value of 0 is equivalent to the default value of 1209600.'
                    example: 300
                    type: integer
                  group:
                    deprecated: true
                    description: __Deprecated__, __Filterable__ The group this domain belongs to.  This is for display purposes only.
                    example: null
                    maxLength: 50
                    minLength: 1
                    type:
                    - string
                    - 'null'
                    x-akamai:
                      labels:
                      - Filterable
                      status: DEPRECATED
                    x-linode-filterable: true
                  id:
                    description: __Read-only__ This domain's unique ID.
                    example: 1234
                    readOnly: true
                    type: integer
                    x-linode-cli-display: 1
                  master_ips:
                    description: The IP addresses representing the master DNS for this domain. At least one value is required for `type` slave domains. The total combined length of all data within this array cannot exceed 1000 characters.
                    example: []
                    items:
                      format: ip
                      type: string
                    type: array
                  refresh_sec:
                    default: 0
                    description: 'The amount of time in seconds before this domain should be refreshed.


                      - Valid values are 0, 30, 120, 300, 3600, 7200, 14400, 28800, 57600, 86400, 172800, 345600, 604800, 1209600, and 2419200.


                      - Any other value is rounded up to the nearest valid value.


                      - A value of 0 is equivalent to the default value of 14400.'
                    example: 300
                    type: integer
                  retry_sec:
                    default: 0
                    description: 'The interval, in seconds, at which a failed refresh should be retried.


                      - Valid values are 0, 30, 120, 300, 3600, 7200, 14400, 28800, 57600, 86400, 172800, 345600, 604800, 1209600, and 2419200.


                      - Any other value is rounded up to the nearest valid value.


                      - A value of 0 is equivalent to the default value of 14400.'
                    example: 300
                    type: integer
                  soa_email:
                    description: Start of Authority email address. This is required for `type` master domains.
                    example: admin@example.org
                    format: email
                    type: string
                    x-linode-cli-display: 5
                  status:
                    default: active
                    description: Indicates whether this domain is currently being rendered, either `active` or `disabled`.
                    enum:
                    - disabled
                    - active
                    example: active
                    type: string
                    x-linode-cli-color:
                      active: green
                      default_: red
                      disabled: yellow
                      edit_mode: yellow
                    x-linode-cli-display: 4
                  tags:
                    description: __Filterable__ An array of tags applied to this object.  Tags are for organizational purposes only.
                    example:
                    - example tag
                    - another example
                    items:
                      type: string
                    type: array
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-filterable: true
                  ttl_sec:
                    default: 0
                    description: '"Time to Live" - the amount of time in seconds that this domain''s records may be cached by resolvers or other domain servers.


                      - Valid values are 0, 30, 120, 300, 3600, 7200, 14400, 28800, 57600, 86400, 172800, 345600, 604800, 1209600, and 2419200.


                      - Any other value is rounded up to the nearest valid value.


                      - A value of 0 is equivalent to the default value of 86400.'
                    example: 300
                    type: integer
                  type:
                    description: Whether this domain represents the authoritative source of information for the domain it describes (`master`), or whether it is a read-only copy of a master (`slave`).
                    enum:
                    - master
                    - slave
                    example: master
                    type: string
                    x-linode-cli-display: 3
                title: Domain
                type: object
                x-akamai:
                  file-path: schemas/domain.yaml
          description: A single Domain in Linode's DNS Manager.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - domains:read_write
      summary: Import a domain
      tags:
      - Domains
      x-akamai:
        tabs:
        - syntax: linode-cli domains import --domain example.com --remote_nameserver examplenameserver.com
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: import
      x-linode-cli-command: domains
      x-linode-grant: read_write
      x-linode-iam:
      - roles:
        - domain_admin
    servers:
    - url: https://api.linode.com
  /{apiVersion}/domains/{domainId}:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    - description: The ID of the Domain to access.
      example: '{{domainId}}'
      in: path
      name: domainId
      required: true
      schema:
        example: 12345
        type: integer
      x-akamai:
        file-path: parameters/domain-id-path-6aab9d6d.yaml
    x-akamai:
      file-path: paths/domain.yaml
      path-info: /{apiVersion}/domains/{domainId}
    x-linode-cli-command: domains
    get:
      description: 'This is a single domain that you have registered in DNS Manager. For this domain record to resolve, you must own the domain and point your registrar at Akamai Cloud''s nameservers. Akamai Cloud does not act as a registrar.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs these roles assigned. Learn more.

        - Roles: `domain_viewer`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `domains:read_only`


        **CLI**


        ```shell

        linode-cli domains view 123

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-domain
      operationId: get-domain
      responses:
        '200':
          content:
            application/json:
              example:
                axfr_ips: []
                description: null
                domain: example.org
                expire_sec: 300
                id: 1234
                master_ips: []
                refresh_sec: 300
                retry_sec: 300
                soa_email: admin@example.org
                status: active
                tags:
                - example tag
                - another example
                ttl_sec: 300
                type: master
              schema:
                additionalProperties: false
                description: A domain zonefile in our DNS system.  You must own the domain name and tell your registrar to use Linode's nameservers in order for a domain in our system to be treated as authoritative.
                properties:
                  axfr_ips:
                    description: 'The list of IPs that may perform a zone transfer for this domain. The total combined length of all data within this array cannot exceed 1000 characters.


                      > 📘

                      >

                      > This is potentially dangerous, and should be set to an empty list unless you intend to use it.'
                    example: []
                    items:
                      format: ip
                      type: string
                    type: array
                  description:
                    description: A description for this domain. This is for display purposes only.
                    example: null
                    maxLength: 253
                    minLength: 1
                    type:
                    - string
                    - 'null'
                  domain:
                    description: __Filterable__ The domain this domain represents. domain labels cannot be longer than 63 characters and must conform to [RFC1035](https://tools.ietf.org/html/rfc1035). domains must be unique on Linode's platform, including across different Linode accounts; there cannot be two domains representing the same domain.
                    example: example.org
                    maxLength: 253
                    minLength: 1
                    pattern: ^(\*\.)?([a-zA-Z0-9-_]{1,63}\.)+([a-zA-Z]{2,3}\.)?([a-zA-Z]{2,16}|xn--[a-zA-Z0-9]+)$
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 2
                    x-linode-filterable: true
                  expire_sec:
                    default: 0
                    description: 'The amount of time in seconds that may pass before this domain is no longer authoritative.


                      - Valid values are 0, 30, 120, 300, 3600, 7200, 14400, 28800, 57600, 86400, 172800, 345600, 604800, 1209600, and 2419200.


                      - Any other value is rounded up to the nearest valid value.


                      - A value of 0 is equivalent to the default value of 1209600.'
                    example: 300
                    type: integer
                  group:
                    deprecated: true
                    description: __Deprecated__, __Filterable__ The group this domain belongs to.  This is for display purposes only.
                    example: null
                    maxLength: 50
                    minLength: 1
                    type:
                    - string
                    - 'null'
                    x-akamai:
                      labels:
                      - Filterable
                      status: DEPRECATED
                    x-linode-filterable: true
                  id:
                    description: __Read-only__ This domain's unique ID.
                    example: 1234
                    readOnly: true
                    type: integer
                    x-linode-cli-display: 1
                  master_ips:
                    description: The IP addresses representing the master DNS for this domain. At least one value is required for `type` slave domains. The total combined length of all data within this array cannot exceed 1000 characters.
                    example: []
                    items:
                      format: ip
                      type: string
                    type: array
                  refresh_sec:
                    default: 0
                    description: 'The amount of time in seconds before this domain should be refreshed.


                      - Valid values are 0, 30, 120, 300, 3600, 7200, 14400, 28800, 57600, 86400, 172800, 345600, 604800, 1209600, and 2419200.


                      - Any other value is rounded up to the nearest valid value.


                      - A value of 0 is equivalent to the default value of 14400.'
                    example: 300
                    type: integer
                  retry_sec:
                    default: 0
                    description: 'The interval, in seconds, at which a failed refresh should be retried.


                      - Valid values are 0, 30, 120, 300, 3600, 7200, 14400, 28800, 57600, 86400, 172800, 345600, 604800, 1209600, and 2419200.


                      - Any other value is rounded up to the nearest valid value.


                      - A value of 0 is equivalent to the default value of 14400.'
                    example: 300
                    type: integer
                  soa_email:
                    description: Start of Authority email address. This is required for `type` master domains.
                    example: admin@example.org
                    format: email
                    type: string
                    x-linode-cli-display: 5
                  status:
                    default: active
                    description: Indicates whether this domain is currently being rendered, either `active` or `disabled`.
                    enum:
                    - disabled
                    - active
                    example: active
                    type: string
                    x-linode-cli-color:
                      active: green
                      default_: red
                      disabled: yellow
                      edit_mode: yellow
                    x-linode-cli-display: 4
                  tags:
                    description: __Filterable__ An array of tags applied to this object.  Tags are for organizational purposes only.
                    example:
                    - example tag
                    - another example
                    items:
                      type: string
                    type: array
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-filterable: true
                  ttl_sec:
                    default: 0
                    description: '"Time to Live" - the amount of time in seconds that this domain''s records may be cached by resolvers or other domain servers.


                      - Valid values are 0, 30, 120, 300, 3600, 7200, 14400, 28800, 57600, 86400, 172800, 345600, 604800, 1209600, and 2419200.


                      - Any other value is rounded up to the nearest valid value.


                      - A value of 0 is equivalent to the default value of 86400.'
                    example: 300
                    type: integer
                  type:
                    description: Whether this domain represents the authoritative source of information for the domain it describes (`master`), or whether it is a read-only copy of a master (`slave`).
                    enum:
                    - master
                    - slave
                    example: master
                    type: string
                    x-linode-cli-display: 3
                title: Domain
                type: object
                x-akamai:
                  file-path: schemas/domain.yaml
          description: A single Domain in Linode's DNS Manager.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - domains:read_only
      summary: Get a domain
      tags:
      - Domains
      x-akamai:
        tabs:
        - syntax: linode-cli domains view 123
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: view
      x-linode-grant: read_only
      x-linode-iam:
      - roles:
        - domain_viewer
    put:
      description: 'Update information about a domain in DNS Manager.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs these roles assigned. Learn more.

        - Roles: `domain_admin`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `domains:read_write`


        **CLI**


        ```shell

        linode-cli domains update 1234 \

        --retry_sec 7200 \

        --ttl_sec 300

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/put-domain
      operationId: put-domain
      requestBody:
        content:
          application/json:
            example:
              domain: example.org
              expire_sec: 300
              refresh_sec: 300
              retry_sec: 300
              soa_email: admin@example.org
              status: active
              ttl_sec: 300
              type: master
            schema:
              additionalProperties: false
              description: A domain zonefile in our DNS system.  You must own the domain name and tell your registrar to use Linode's nameservers in order for a domain in our system to be treated as authoritative.
              properties:
                axfr_ips:
                  description: 'The list of IPs that may perform a zone transfer for this domain. The total combined length of all data within this array cannot exceed 1000 characters.


                    > 📘

                    >

                    > This is potentially dangerous, and should be set to an empty list unless you intend to use it.'
                  example: []
                  items:
                    format: ip
                    type: string
                  type: array
                description:
                  description: A description for this domain. This is for display purposes only.
                  example: '{{description}}'
                  maxLength: 253
                  minLength: 1
                  type:
                  - string
                  - 'null'
                domain:
                  description: __Filterable__ The domain this domain represents. domain labels cannot be longer than 63 characters and must conform to [RFC1035](https://tools.ietf.org/html/rfc1035). domains must be unique on Linode's platform, including across different Linode accounts; there cannot be two domains representing the same domain.
                  example: '{{domain}}'
                  maxLength: 253
                  minLength: 1
                  pattern: ^(\*\.)?([a-zA-Z0-9-_]{1,63}\.)+([a-zA-Z]{2,3}\.)?([a-zA-Z]{2,16}|xn--[a-zA-Z0-9]+)$
                  type: string
                  x-akamai:
                    labels:
                    - Filterable
                  x-linode-cli-display: 2
                  x-linode-filterable: true
                expire_sec:
                  default: 0
                  description: 'The amount of time in seconds that may pass before this domain is no longer authoritative.


                    - Valid values are 0, 30, 120, 300, 3600, 7200, 14400, 28800, 57600, 86400, 172800, 345600, 604800, 1209600, and 2419200.


                    - Any other value is rounded up to the nearest valid value.


                    - A value of 0 is equivalent to the default value of 1209600.'
                  example: '{{expire_sec}}'
                  type: integer
                group:
                  deprecated: true
                  description: __Deprecated__, __Filterable__ The group this domain belongs to.  This is for display purposes only.
                  example: '{{group}}'
                  maxLength: 50
                  minLength: 1
                  type:
                  - string
                  - 'null'
                  x-akamai:
                    labels:
                    - Filterable
                    status: DEPRECATED
                  x-linode-filterable: true
                id:
                  description: __Read-only__ This domain's unique ID.
                  example: '{{id}}'
                  readOnly: true
                  type: integer
                  x-linode-cli-display: 1
                master_ips:
                  description: The IP addresses representing the master DNS for this domain. At least one value is required for `type` slave domains. The total combined length of all data within this array cannot exceed 1000 characters.
                  example: []
                  items:
                    format: ip
                    type: string
                  type: array
                refresh_sec:
                  default: 0
                  description: 'The amount of time in seconds before this domain should be refreshed.


                    - Valid values are 0, 30, 120, 300, 3600, 7200, 14400, 28800, 57600, 86400, 172800, 345600, 604800, 1209600, and 2419200.


                    - Any other value is rounded up to the nearest valid value.


                    - A value of 0 is equivalent to the default value of 14400.'
                  example: '{{refresh_sec}}'
                  type: integer
                retry_sec:
                  default: 0
                  description: 'The interval, in seconds, at which a failed refresh should be retried.


                    - Valid values are 0, 30, 120, 300, 3600, 7200, 14400, 28800, 57600, 86400, 172800, 345600, 604800, 1209600, and 2419200.


                    - Any other value is rounded up to the nearest valid value.


                    - A value of 0 is equivalent to the default value of 14400.'
                  example: '{{retry_sec}}'
                  type: integer
                soa_email:
                  description: Start of Authority email address. This is required for `type` master domains.
                  example: '{{soa_email}}'
                  format: email
                  type: string
                  x-linode-cli-display: 5
                status:
                  default: active
                  description: Indicates whether this domain is currently being rendered, either `active` or `disabled`.
                  enum:
                  - disabled
                  - active
                  example: '{{status}}'
                  type: string
                  x-linode-cli-color:
                    active: green
                    default_: red
                    disabled: yellow
                    edit_mode: yellow
                  x-linode-cli-display: 4
                tags:
                  description: __Filterable__ An array of tags applied to this object.  Tags are for organizational purposes only.
                  example:
                  - example tag
                  - another example
                  items:
                    type: string
                  type: array
                  x-akamai:
                    labels:
                    - Filterable
                  x-linode-filterable: true
                ttl_sec:
                  default: 0
                  description: '"Time to Live" - the amount of time in seconds that this domain''s records may be cached by resolvers or other domain servers.


                    - Valid values are 0, 30, 120, 300, 3600, 7200, 14400, 28800, 57600, 86400, 172800, 345600, 604800, 1209600, and 2419200.


                    - Any other value is rounded up to the nearest valid value.


                    - A value of 0 is equivalent to the default value of 86400.'
                  example: '{{ttl_sec}}'
                  type: integer
                type:
                  description: Whether this domain represents the authoritative source of information for the domain it describes (`master`), or whether it is a read-only copy of a master (`slave`).
                  enum:
                  - master
                  - slave
                  example: '{{type}}'
                  type: string
                  x-linode-cli-display: 3
              title: Domain
              type: object
              x-akamai:
                file-path: schemas/domain.yaml
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                axfr_ips: []
                description: null
                domain: example.org
                expire_sec: 300
                id: 1234
                master_ips: []
                refresh_sec: 300
                retry_sec: 300
                soa_email: admin@example.org
                status: active
                tags:
                - example tag
                - another example
                ttl_sec: 300
                type: master
              schema:
                additionalProperties: false
                description: A domain zonefile in our DNS system.  You must own the domain name and tell your registrar to use Linode's nameservers in order for a domain in our system to be treated as authoritative.
                properties:
                  axfr_ips:
                    description: 'The list of IPs that may perform a zone transfer for this domain. The total combined length of all data within this array cannot exceed 1000 characters.


                      > 📘

                      >

                      > This is potentially dangerous, and should be set to an empty list unless you intend to use it.'
                    example: []
                    items:
                      format: ip
                      type: string
                    type: array
                  description:
                    description: A description for this domain. This is for display purposes only.
                    example: null
                    maxLength: 253
                    minLength: 1
                    type:
                    - string
                    - 'null'
                  domain:
                    description: __Filterable__ The domain this domain represents. domain labels cannot be longer than 63 characters and must conform to [RFC1035](https://tools.ietf.org/html/rfc1035). domains must be unique on Linode's platform, including across different Linode accounts; there cannot be two domains representing the same domain.
                    example: example.org
                    maxLength: 253
                    minLength: 1
                    pattern: ^(\*\.)?([a-zA-Z0-9-_]{1,63}\.)+([a-zA-Z]{2,3}\.)?([a-zA-Z]{2,16}|xn--[a-zA-Z0-9]+)$
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 2
                    x-linode-filterable: true
                  expire_sec:
                    default: 0
                    description: 'The amount of time in seconds that may pass before this domain is no longer authoritative.


                      - Valid values are 0, 30, 120, 300, 3600, 7200, 14400, 28800, 57600, 86400, 172800, 345600, 604800, 1209600, and 2419200.


                      - Any other value is rounded up to the nearest valid value.


                      - A value of 0 is equivalent to the default value of 1209600.'
                    example: 300
                    type: integer
                  group:
                    deprecated: true
                    description: __Deprecated__, __Filterable__ The group this domain belongs to.  This is for display purposes only.
                    example: null
                    maxLength: 50
                    minLength: 1
                    type:
                    - string
                    - 'null'
                    x-akamai:
                      labels:
                      - Filterable
                      status: DEPRECATED
                    x-linode-filterable: true
                  id:
                    description: __Read-only__ This domain's unique ID.
                    example: 1234
                    readOnly: true
                    type: integer
                    x-linode-cli-display: 1
                  master_ips:
                    description: The IP addresses representing the master DNS for this domain. At least one value is required for `type` slave domains. The total combined length of all data within this array cannot exceed 1000 characters.
                    example: []
                    items:
                      format: ip
                      type: string
                    type: array
                  refresh_sec:
                    default: 0
                    description: 'The amount of time in seconds before this domain should be refreshed.


                      - Valid values are 0, 30, 120, 300, 3600, 7200, 14400, 28800, 57600, 86400, 172800, 345600, 604800, 1209600, and 2419200.


                      - Any other value is rounded up to the nearest valid value.


                      - A value of 0 is equivalent to the default value of 14400.'
                    example: 300
                    type: integer
                  retry_sec:
                    default: 0
                    description: 'The interval, in seconds, at which a failed refresh should be retried.


                      - Valid values are 0, 30, 120, 300, 3600, 7200, 14400, 28800, 57600, 86400, 172800, 345600, 604800, 1209600, and 2419200.


                      - Any other value is rounded up to the nearest valid value.


                      - A value of 0 is equivalent to the default value of 14400.'
                    example: 300
                    type: integer
                  soa_email:
                    description: Start of Authority email address. This is required for `type` master domains.
                    example: admin@example.org
                    format: email
                    type: string
                    x-linode-cli-display: 5
                  status:
                    default: active
                    description: Indicates whether this domain is currently being rendered, either `active` or `disabled`.
                    enum:
                    - disabled
                    - active
                    example: active
                    type: string
                    x-linode-cli-color:
                      active: green
                      default_: red
                      disabled: yellow
                      edit_mode: yellow
                    x-linode-cli-display: 4
                  tags:
                    description: __Filterable__ An array of tags applied to this object.  Tags are for organizational purposes only.
                    example:
                    - example tag
                    - another example
                    items:
                      type: string
                    type: array
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-filterable: true
                  ttl_sec:
                    default: 0
                    description: '"Time to Live" - the amount of time in seconds that this domain''s records may be cached by resolvers or other domain servers.


                      - Valid values are 0, 30, 120, 300, 3600, 7200, 14400, 28800, 57600, 86400, 172800, 345600, 604800, 1209600, and 2419200.


                      - Any other value is rounded up to the nearest valid value.


                      - A value of 0 is equivalent to the default value of 86400.'
                    example: 300
                    type: integer
                  type:
                    description: Whether this domain represents the authoritative source of information for the domain it describes (`master`), or whether it is a read-only copy of a master (`slave`).
                    enum:
                    - master
                    - slave
                    example: master
                    type: string
                    x-linode-cli-display: 3
                title: Domain
                type: object
                x-akamai:
                  file-path: schemas/domain.yaml
          description: Domain update successful.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - domains:read_write
      summary: Update a domain
      tags:
      - Domains
      x-akamai:
        tabs:
        - syntax: "linode-cli domains update 1234 \\\n  --retry_sec 7200 \\\n  --ttl_sec 300"
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: update
      x-linode-grant: read_write
      x-linode-iam:
      - roles:
        - domain_admin
    delete:
      description: 'Deletes a domain from DNS Manager. The domain will be removed from our nameservers shortly after this operation completes. This also deletes all associated domain records.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs these roles assigned. Learn more.

        - Roles: `domain_admin`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `domains:read_write`


        **CLI**


        ```shell

        linode-cli domains delete 1234

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/delete-domain
      operationId: delete-domain
      responses:
        '200':
          content:
            application/json:
              example: {}
              schema:
                description: The API responds with an empty object.
                maxProperties: 0
                type: object
                x-akamai:
                  file-path: schemas/added-empty-obj.yaml
          description: Domain deleted successfully.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - domains:read_write
      summary: Delete a domain
      tags:
      - Domains
      x-akamai:
        tabs:
        - syntax: linode-cli domains delete 1234
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action:
      - delete
      - rm
      x-linode-grant: read_write
      x-linode-iam:
      - roles:
        - domain_admin
    servers:
    - url: https://api.linode.com
  /{apiVersion}/domains/{domainId}/clone:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    - description: ID of the Domain to clone.
      example: '{{domainId}}'
      in: path
      name: domainId
      required: true
      schema:
        example: 12345
        type: integer
      x-akamai:
        file-path: parameters/domain-id-path-f5ed829a.yaml
    x-akamai:
      file-path: paths/domains-clone.yaml
      path-info: /{apiVersion}/domains/{domainId}/clone
    x-linode-cli-command: domains
    post:
      description: 'Clones a domain and all associated DNS records from a domain that is registered in DNS manager.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs these roles assigned. Learn more.

        - Roles: `domain_admin`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `domains:read_write`


        **CLI**


        ```shell

        linode-cli domains clone 123 --domain example.com

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/post-clone-domain
      operationId: post-clone-domain
      requestBody:
        content:
          application/json:
            example:
              domain: example.org
            schema:
              additionalProperties: false
              properties:
                domain:
                  description: __Filterable__ The new domain for the clone. Domain labels cannot be longer than 63 characters and must conform to [RFC1035](https://tools.ietf.org/html/rfc1035). Domains must be unique on Linode's platform, including across different Linode accounts; there cannot be two Domains representing the same domain.
                  example: '{{domain}}'
                  maxLength: 253
                  minLength: 1
                  pattern: ^(\*\.)?([a-zA-Z0-9-_]{1,63}\.)+([a-zA-Z]{2,3}\.)?([a-zA-Z]{2,16}|xn--[a-zA-Z0-9]+)$
                  type: string
                  x-akamai:
                    labels:
                    - Filterable
                  x-linode-filterable: true
              required:
              - domain
              type: object
              x-akamai:
                file-path: schemas/added-post-clone-domain.yaml
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                axfr_ips: []
                description: null
                domain: example.org
                expire_sec: 300
                id: 1234
                master_ips: []
                refresh_sec: 300
                retry_sec: 300
                soa_email: admin@example.org
                status: active
                tags:
                - example tag
                - another example
                ttl_sec: 300
                type: master
              schema:
                additionalProperties: false
                description: A domain zonefile in our DNS system.  You must own the domain name and tell your registrar to use Linode's nameservers in order for a domain in our system to be treated as authoritative.
                properties:
                  axfr_ips:
                    description: 'The list of IPs that may perform a zone transfer for this domain. The total combined length of all data within this array cannot exceed 1000 characters.


                      > 📘

                      >

                      > This is potentially dangerous, and should be set to an empty list unless you intend to use it.'
                    example: []
                    items:
                      format: ip
                      type: string
                    type: array
                  description:
                    description: A description for this domain. This is for display purposes only.
                    example: null
                    maxLength: 253
                    minLength: 1
                    type:
                    - string
                    - 'null'
                  domain:
                    description: __Filterable__ The domain this domain represents. domain labels cannot be longer than 63 characters and must conform to [RFC1035](https://tools.ietf.org/html/rfc1035). domains must be unique on Linode's platform, including across different Linode accounts; there cannot be two domains representing the same domain.
                    example: example.org
                    maxLength: 253
                    minLength: 1
                    pattern: ^(\*\.)?([a-zA-Z0-9-_]{1,63}\.)+([a-zA-Z]{2,3}\.)?([a-zA-Z]{2,16}|xn--[a-zA-Z0-9]+)$
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 2
                    x-linode-filterable: true
                  expire_sec:
                    default: 0
                    description: 'The amount of time in seconds that may pass before this domain is no longer authoritative.


                      - Valid values are 0, 30, 120, 300, 3600, 7200, 14400, 28800, 57600, 86400, 172800, 345600, 604800, 1209600, and 2419200.


                      - Any other value is rounded up to the nearest valid value.


                      - A value of 0 is equivalent to the default value of 1209600.'
                    example: 300
                    type: integer
                  group:
                    deprecated: true
                    description: __Deprecated__, __Filterable__ The group this domain belongs to.  This is for display purposes only.
                    example: null
                    maxLength: 50
                    minLength: 1
                    type:
                    - string
                    - 'null'
                    x-akamai:
                      labels:
                      - Filterable
                      status: DEPRECATED
                    x-linode-filterable: true
                  id:
                    description: __Read-only__ This domain's unique ID.
                    example: 1234
                    readOnly: true
                    type: integer
                    x-linode-cli-display: 1
                  master_ips:
                    description: The IP addresses representing the master DNS for this domain. At least one value is required for `type` slave domains. The total combined length of all data within this array cannot exceed 1000 characters.
                    example: []
                    items:
                      format: ip
                      type: string
                    type: array
                  refresh_sec:
                    default: 0
                    description: 'The amount of time in seconds before this domain should be refreshed.


                      - Valid values are 0, 30, 120, 300, 3600, 7200, 14400, 28800, 57600, 86400, 172800, 345600, 604800, 1209600, and 2419200.


                      - Any other value is rounded up to the nearest valid value.


                      - A value of 0 is equivalent to the default value of 14400.'
                    example: 300
                    type: integer
                  retry_sec:
                    default: 0
                    description: 'The interval, in seconds, at which a failed refresh should be retried.


                      - Valid values are 0, 30, 120, 300, 3600, 7200, 14400, 28800, 57600, 86400, 172800, 345600, 604800, 1209600, and 2419200.


                      - Any other value is rounded up to the nearest valid value.


                      - A value of 0 is equivalent to the default value of 14400.'
                    example: 300
                    type: integer
                  soa_email:
                    description: Start of Authority email address. This is required for `type` master domains.
                    example: admin@example.org
                    format: email
                    type: string
                    x-linode-cli-display: 5
                  status:
                    default: active
                    description: Indicates whether this domain is currently being rendered, either `active` or `disabled`.
                    enum:
                    - disabled
                    - active
                    example: active
                    type: string
                    x-linode-cli-color:
                      active: green
                      default_: red
                      disabled: yellow
                      edit_mode: yellow
                    x-linode-cli-display: 4
                  tags:
                    description: __Filterable__ An array of tags applied to this object.  Tags are for organizational purposes only.
                    example:
                    - example tag
                    - another example
                    items:
                      type: string
                    type: array
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-filterable: true
                  ttl_sec:
                    default: 0
                    description: '"Time to Live" - the amount of time in seconds that this domain''s records may be cached by resolvers or other domain servers.


                      - Valid values are 0, 30, 120, 300, 3600, 7200, 14400, 28800, 57600, 86400, 172800, 345600, 604800, 1209600, and 2419200.


                      - Any other value is rounded up to the nearest valid value.


                      - A value of 0 is equivalent to the default value of 86400.'
                    example: 300
                    type: integer
                  type:
                    description: Whether this domain represents the authoritative source of information for the domain it describes (`master`), or whether it is a read-only copy of a master (`slave`).
                    enum:
                    - master
                    - slave
                    example: master
                    type: string
                    x-linode-cli-display: 3
                title: Domain
                type: object
                x-akamai:
                  file-path: schemas/domain.yaml
          description: A new Domain in Linode's DNS Manager, based on a cloned Domain.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - domains:read_write
      summary: Clone a domain
      tags:
      - Domains
      x-akamai:
        tabs:
        - syntax: linode-cli domains clone 123 --domain example.com
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: clone
      x-linode-grant: read_write
      x-linode-iam:
      - roles:
        - domain_admin
    servers:
    - url: https://api.linode.com
  /domains:
    get:
      operationId: getDomains
      summary: List domains
      description: Returns a paginated list of all domains on your account, including their status, type, and SOA email address.
      tags:
      - Domains
      parameters:
      - $ref: '#/components/parameters/pageParam'
      - $ref: '#/components/parameters/pageSizeParam'
      responses:
        '200':
          description: Domains retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDomainList'
        '401':
          description: Unauthorized - invalid or missing authentication
      security:
      - personalAccessToken: []
      - oauth: []
    post:
      operationId: createDomain
      summary: Create a domain
      description: Creates a new domain on your account. The domain can be a master or slave zone type.
      tags:
      - Domains
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainRequest'
      responses:
        '200':
          description: Domain created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
        '400':
          description: Bad request - invalid parameters
        '401':
          description: Unauthorized - invalid or missing authentication
      security:
      - personalAccessToken: []
      - oauth: []
    servers:
    - url: https://api.linode.com/v4
      description: Production Server
  /domains/{domainId}:
    get:
      operationId: getDomain
      summary: Get a domain
      description: Returns the details for a single domain on your account.
      tags:
      - Domains
      parameters:
      - $ref: '#/components/parameters/domainIdParam'
      responses:
        '200':
          description: Domain retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
        '401':
          description: Unauthorized - invalid or missing authentication
        '404':
          description: Domain not found
      security:
      - personalAccessToken: []
      - oauth: []
    put:
      operationId: updateDomain
      summary: Update a domain
      description: Updates the configuration for a domain on your account.
      tags:
      - Domains
      parameters:
      - $ref: '#/components/parameters/domainIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainRequest'
      responses:
        '200':
          description: Domain updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
        '400':
          description: Bad request - invalid parameters
        '401':
          description: Unauthorized - invalid or missing authentication
        '404':
          description: Domain not found
      security:
      - personalAccessToken: []
      - oauth: []
    delete:
      operationId: deleteDomain
      summary: Delete a domain
      description: Deletes a domain from your account. All associated DNS records will also be deleted.
      tags:
      - Domains
      parameters:
      - $ref: '#/components/parameters/domainIdParam'
      responses:
        '200':
          description: Domain deleted successfully
        '401':
          description: Unauthorized - invalid or missing authentication
        '404':
          description: Domain not found
      security:
      - personalAccessToken: []
      - oauth: []
    servers:
    - url: https://api.linode.com/v4
      description: Production Server
  /domains/{domainId}/records:
    get:
      operationId: getDomainRecords
      summary: List domain records
      description: Returns a paginated list of all DNS records for a given domain.
      tags:
      - Domains
      parameters:
      - $ref: '#/components/parameters/domainIdParam'
      - $ref: '#/components/parameters/pageParam'
      - $ref: '#/components/parameters/pageSizeParam'
      responses:
        '200':
          description: Domain records retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDomainRecordList'
        '401':
          description: Unauthorized - invalid or missing authentication
        '404':
          description: Domain not found
      security:
      - personalAccessToken: []
      - oauth: []
    post:
      operationId: createDomainRecord
      summary: Create a domain record
      description: Creates a new DNS record for the given domain.
      tags:
      - Domains
      parameters:
      - $ref: '#/components/parameters/domainIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainRecordRequest'
      responses:
        '200':
          description: Domain record created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainRecord'
[...]
