openapi: 3.1.0
info:
  title: Linode API v4 Account Support API
  description: The Linode API v4 provides programmatic access to the full range of Akamai Connected Cloud (formerly Linode) products and services. It enables developers to create and manage compute instances, deploy Kubernetes clusters, configure NodeBalancers, manage DNS domains, provision Block Storage volumes, control Object Storage buckets, set up firewalls, and administer account settings. The RESTful API uses OAuth and personal access tokens for authentication and returns JSON responses, with support for filtering and sorting across all resource endpoints.
  version: 4.189.0
  contact:
    name: Linode Support
    url: https://www.linode.com/support/
  termsOfService: https://www.linode.com/legal-tos/
servers:
- url: https://api.linode.com/v4
  description: Production Server
security:
- personalAccessToken: []
- oauth: []
tags:
- name: Support
  description: Create and manage support tickets and view replies for getting help from the Linode support team.
paths:
  /support/tickets:
    get:
      operationId: getSupportTickets
      summary: List support tickets
      description: Returns a paginated list of support tickets on your account.
      tags:
      - Support
      parameters:
      - $ref: '#/components/parameters/pageParam'
      - $ref: '#/components/parameters/pageSizeParam'
      responses:
        '200':
          description: Support tickets retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSupportTicketList'
        '401':
          description: Unauthorized - invalid or missing authentication
    post:
      operationId: createSupportTicket
      summary: Open a support ticket
      description: Opens a new support ticket with the Linode support team.
      tags:
      - Support
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupportTicketRequest'
      responses:
        '200':
          description: Support ticket created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportTicket'
        '400':
          description: Bad request - invalid parameters
        '401':
          description: Unauthorized - invalid or missing authentication
components:
  schemas:
    PaginatedSupportTicketList:
      allOf:
      - $ref: '#/components/schemas/Pagination'
      - type: object
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/SupportTicket'
    SupportTicket:
      type: object
      properties:
        id:
          type: integer
          description: The unique ID of this ticket.
        summary:
          type: string
          description: The summary of this ticket.
        description:
          type: string
          description: The full description of this ticket.
        status:
          type: string
          enum:
          - closed
          - new
          - open
          description: The status of this ticket.
        opened:
          type: string
          format: date-time
          description: When this ticket was opened.
        closed:
          type: string
          format: date-time
          description: When this ticket was closed.
        updated:
          type: string
          format: date-time
          description: When this ticket was last updated.
        entity:
          type: object
          properties:
            id:
              type: integer
            label:
              type: string
            type:
              type: string
            url:
              type: string
          description: The entity related to this ticket.
    Pagination:
      type: object
      properties:
        page:
          type: integer
          description: The current page number.
        pages:
          type: integer
          description: The total number of pages.
        results:
          type: integer
          description: The total number of results.
    SupportTicketRequest:
      type: object
      required:
      - summary
      - description
      properties:
        summary:
          type: string
          minLength: 1
          maxLength: 64
          description: The summary for the ticket.
        description:
          type: string
          minLength: 1
          maxLength: 65000
          description: The full description.
        linode_id:
          type: integer
          description: The ID of the related Linode.
        domain_id:
          type: integer
          description: The ID of the related domain.
        nodebalancer_id:
          type: integer
          description: The ID of the related NodeBalancer.
        volume_id:
          type: integer
          description: The ID of the related volume.
        lke_cluster_id:
          type: integer
          description: The ID of the related LKE cluster.
        database_id:
          type: integer
          description: The ID of the related database.
  parameters:
    pageParam:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
      description: The page number to return.
    pageSizeParam:
      name: page_size
      in: query
      schema:
        type: integer
        minimum: 25
        maximum: 500
        default: 100
      description: The number of items per page.
  securitySchemes:
    personalAccessToken:
      type: http
      scheme: bearer
      description: A personal access token generated from the Linode Cloud Manager that grants access to the API based on the token's scopes.
    oauth:
      type: oauth2
      description: OAuth 2.0 authentication for third-party applications.
      flows:
        authorizationCode:
          authorizationUrl: https://login.linode.com/oauth/authorize
          tokenUrl: https://login.linode.com/oauth/token
          scopes:
            account:read_only: Read access to account information
            account:read_write: Read and write access to account information
            domains:read_only: Read access to domains
            domains:read_write: Read and write access to domains
            events:read_only: Read access to events
            events:read_write: Read and write access to events
            firewall:read_only: Read access to firewalls
            firewall:read_write: Read and write access to firewalls
            images:read_only: Read access to images
            images:read_write: Read and write access to images
            ips:read_only: Read access to IP addresses
            ips:read_write: Read and write access to IP addresses
            linodes:read_only: Read access to Linodes
            linodes:read_write: Read and write access to Linodes
            lke:read_only: Read access to LKE
            lke:read_write: Read and write access to LKE
            longview:read_only: Read access to Longview
            longview:read_write: Read and write access to Longview
            nodebalancers:read_only: Read access to NodeBalancers
            nodebalancers:read_write: Read and write access to NodeBalancers
            object_storage:read_only: Read access to Object Storage
            object_storage:read_write: Read and write access to Object Storage
            stackscripts:read_only: Read access to StackScripts
            stackscripts:read_write: Read and write access to StackScripts
            volumes:read_only: Read access to Volumes
            volumes:read_write: Read and write access to Volumes
            vpc:read_only: Read access to VPCs
            vpc:read_write: Read and write access to VPCs
externalDocs:
  description: Linode API v4 Documentation
  url: https://techdocs.akamai.com/linode-api/reference/api
