openapi: 3.2.0
info:
  description: Add a Cloud Computing instance so you can build, release, and scale applications faster with virtual machines.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: 'Akamai: Linode Support tickets API'
  version: 4.229.1
servers:
- url: https://api.linode.com
tags:
- description: Use these operations to open, view, and close support tickets, when you need assistance from Akamai.
  name: Support tickets
paths:
  /{apiVersion}/support/tickets:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    x-akamai:
      file-path: paths/tickets.yaml
      path-info: /{apiVersion}/support/tickets
    x-linode-cli-command: tickets
    post:
      description: 'Open a support ticket. A ticket can only target a single, specific entity. For example, for an issue with a specific Linode, open a ticket and target it using its `linode_id`. Leave all other entities out of the request or set them to `null`.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `account:read_write`


        **CLI**


        ```shell

        linode-cli tickets create \

        --description "I''m having trouble setting the root password on my Linode. I tried following the instructions but something is not working and I''m not sure what I''m doing wrong. Can you please help me figure out how I can reset it?" \

        --linode_id 123 \

        --summary "Having trouble resetting root password on my Linode"

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/post-ticket
      operationId: post-ticket
      requestBody:
        content:
          application/json:
            example:
              description: I'm having trouble setting the root password on my Linode. I tried following the instructions but something isn't working and I'm not sure what I'm doing wrong. Can you please help me figure out how I can reset it?
              linode_id: 123
              managed_issue: false
              summary: Having trouble resetting root password on my Linode.
            schema:
              additionalProperties: false
              description: An object representing a created support ticket that contains a question or issue and request for help from the Linode support team.
              properties:
                bucket:
                  description: The name of an Object Storage bucket entity for this ticket. Run the [List Object Storage buckets](https://techdocs.akamai.com/linode-api/reference/get-object-storage-buckets) operation and store the `label` for the target bucket. You also need to provide the specific `region` where the bucket is located.
                  example: '{{bucket}}'
                  type:
                  - string
                  - 'null'
                database_id:
                  description: The ID of the Managed Database entity for the ticket. Run the [List Managed Databases](https://techdocs.akamai.com/linode-api/reference/get-databases-instances) operation and store the `id` for the target database.
                  example: '{{database_id}}'
                  type:
                  - integer
                  - 'null'
                description:
                  description: The full details of the issue or question.
                  example: '{{description}}'
                  maxLength: 65000
                  minLength: 1
                  type: string
                domain_id:
                  description: The ID of the domain entity for the ticket. Run the [List domains](https://techdocs.akamai.com/linode-api/reference/get-domains) operation and store the `id` for the target domain.
                  example: '{{domain_id}}'
                  type:
                  - integer
                  - 'null'
                firewall_id:
                  description: The ID of the Firewall entity for the ticket. Run the [List a Linode's firewalls](https://techdocs.akamai.com/linode-api/reference/get-linode-firewalls) operation and store the `id` for the target Linode firewall.
                  example: '{{firewall_id}}'
                  type:
                  - integer
                  - 'null'
                linode_id:
                  description: The ID of the Linode entity for the ticket. Run the [List Linodes](https://techdocs.akamai.com/linode-api/reference/get-linode-instances) operation and store the `id` for the target Linode.
                  example: '{{linode_id}}'
                  type:
                  - integer
                  - 'null'
                lkecluster_id:
                  description: The ID of the Linode Kubernetes Engine (LKE) cluster entity for the ticket. Run the [List Kubernetes clusters](https://techdocs.akamai.com/linode-api/reference/get-lke-clusters) operation and store the `id` for the target LKE cluster.
                  example: '{{lkecluster_id}}'
                  type:
                  - integer
                  - 'null'
                longviewclient_id:
                  description: The ID of the Longview client entity for the ticket. Run the [List Longview clients](https://techdocs.akamai.com/linode-api/reference/get-longview-clients) operation and store the `id` for the target client.
                  example: '{{longviewclient_id}}'
                  type:
                  - integer
                  - 'null'
                managed_issue:
                  default: false
                  description: 'Whether this ticket is related to a [managed service](https://www.linode.com/products/managed/). If `true`, the following constraints apply:


                    - You can''t provide an entity, such as a `linode_id` or `bucket` with this request.


                    - Your account needs a managed service [enabled](https://techdocs.akamai.com/linode-api/reference/post-enable-managed-service).'
                  example: '{{managed_issue}}'
                  type: boolean
                nodebalancer_id:
                  description: The ID of the NodeBalancer entity for the ticket. Run the [List NodeBalancers](https://techdocs.akamai.com/linode-api/reference/get-node-balancers) operation and store the `id` for the target NodeBalancer.
                  example: '{{nodebalancer_id}}'
                  type:
                  - integer
                  - 'null'
                region:
                  description: 'The ID of the [region](https://techdocs.akamai.com/linode-api/reference/get-regions) where this ticket''s target entity resides. This only applies to tickets for a `vlan` or an Object Storage  `bucket`.


                    > 📘

                    >

                    > Set this to the `clusterId` for a legacy Object Storage `bucket`.'
                  example: '{{region}}'
                  type:
                  - string
                  - 'null'
                severity:
                  default: null
                  description: The severity of the issue. A value of `1` indicates a major issue, `2` indicates a moderate priority issue, and `3` is a low priority issue. Your account may not have access to set this value. Talk to your Akamai account team for more details.
                  enum:
                  - 1
                  - 2
                  - 3
                  example: '{{severity}}'
                  type:
                  - integer
                  - 'null'
                summary:
                  description: The summary or title for this support ticket.
                  example: '{{summary}}'
                  maxLength: 64
                  minLength: 1
                  type: string
                vlan:
                  description: The label of the VLAN entity for the ticket. Run the [List VLANs](https://techdocs.akamai.com/linode-api/reference/get-vlans) operation and store the `id` for the target VLAN. You also need to provide the specific `region` where the VLAN is located.
                  example: '{{vlan}}'
                  type:
                  - string
                  - 'null'
                volume_id:
                  description: The ID of the volume entity for the ticket. Run the [List volumes](https://techdocs.akamai.com/linode-api/reference/get-volumes) operation and store the `id` for the target volume.
                  example: '{{volume_id}}'
                  type:
                  - integer
                  - 'null'
                vpc_id:
                  description: The ID of the VPC entity for the ticket. Run the [List VPCs](https://techdocs.akamai.com/linode-api/reference/get-vpcs) operation and store the `id` for the target VPC.
                  example: '{{vpc_id}}'
                  type:
                  - integer
                  - 'null'
              required:
              - summary
              - description
              type: object
              x-akamai:
                file-path: schemas/support-ticket-request.yaml
      responses:
        '200':
          content:
            application/json:
              example:
                attachments:
                - screenshot.jpg
                - screenshot.txt
                closable: false
                closed: '2025-06-04T16:07:03'
                description: I'm having trouble setting the root password on my Linode. I tried following the instructions, but something isn't working. Can you please help me figure out how I can reset it?
                entity:
                  id: 10400
                  label: linode123456
                  type: linode
                  url: /v4/linode/instances/123456
                gravatar_id: 474a1c7373ae0be4132649e69c36ce31
                id: 11223344
                opened: '2025-06-04T14:16:44'
                opened_by: some_user
                severity: low
                status: open
                summary: Having trouble resetting Linode root password.
                updated: '2024-06-04T16:07:03'
                updated_by: some_other_user
              schema:
                additionalProperties: false
                description: A support ticket opened from your account.
                properties:
                  attachments:
                    description: __Read-only__ A list of filenames representing attached files associated with this ticket.
                    example:
                    - screenshot.jpg
                    - screenshot.txt
                    items:
                      type: string
                    readOnly: true
                    type: array
                  closable:
                    description: Whether the ticket can be closed.
                    example: false
                    type: boolean
                  closed:
                    description: __Filterable__, __Read-only__ When this ticket was closed.
                    example: '2024-06-04T16:07:03'
                    readOnly: true
                    type:
                    - string
                    - 'null'
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-filterable: true
                  description:
                    description: __Read-only__ The full details of the issue or question.
                    example: I'm having trouble setting the root password on my Linode. I tried following the instructions, but something isn't working. Can you please help me figure out how I can reset it?
                    maxLength: 65000
                    minLength: 1
                    readOnly: true
                    type: string
                    x-linode-cli-display: 5
                  entity:
                    additionalProperties: false
                    description: __Read-only__ The ticket was opened for this entity. An entity represents a specific object you've created, such as a Linode or a Managed Database.
                    properties:
                      id:
                        description: __Read-only__ The unique ID for this ticket's entity. Empty if the targeted entity doesn't use an `id`.
                        example: 10400
                        readOnly: true
                        type: integer
                      label:
                        description: __Read-only__ The current label of this entity.
                        example: linode123456
                        readOnly: true
                        type: string
                      type:
                        description: __Read-only__ The type of entity, either `database`, `domain`, `firewall`, `linode`, `lkecluster`, `managed_service`, `nodebalancer`, `vlan`, `volume`, or `vpc`.
                        enum:
                        - database
                        - domain
                        - firewall
                        - linode
                        - lkecluster
                        - managed_service
                        - nodebalancer
                        - vlan
                        - volume
                        - vpc
                        example: linode
                        readOnly: true
                        type: string
                      url:
                        description: __Read-only__ The URL where you can access the `entity`. If this is a relative URL, it's relative to the domain for the entity.
                        example: /v4/linode/instances/123456
                        readOnly: true
                        type: string
                    readOnly: true
                    type:
                    - object
                    - 'null'
                    x-linode-cli-display: 6
                  gravatar_id:
                    description: __Read-only__ The Gravatar ID of the user who opened this ticket.
                    example: 474a1b7373ae0be4132649e69c36ce30
                    readOnly: true
                    type: string
                  id:
                    description: __Read-only__ The ID of the support ticket.
                    example: 11223344
                    readOnly: true
                    type: integer
                    x-linode-cli-display: 1
                  opened:
                    description: __Filterable__, __Read-only__ When this ticket was created.
                    example: '2024-06-04T14:16:44'
                    readOnly: true
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 4
                    x-linode-filterable: true
                  opened_by:
                    description: __Filterable__, __Read-only__ The user who opened this ticket.
                    example: some_user
                    readOnly: true
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 3
                    x-linode-filterable: true
                  severity:
                    description: __Read-only__ The severity of this ticket, either `low`, `moderate`, or `major`.
                    enum:
                    - low
                    - moderate
                    - major
                    example: low
                    readOnly: true
                    type:
                    - string
                    - 'null'
                  status:
                    description: __Filterable__, __Read-only__ The current status of this ticket, either `new`, `open`, or `closed`.
                    enum:
                    - closed
                    - new
                    - open
                    example: open
                    readOnly: true
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-filterable: true
                  summary:
                    description: __Read-only__ The summary or title for this ticket.
                    example: Having trouble resetting Linode root password.
                    maxLength: 64
                    minLength: 1
                    readOnly: true
                    type: string
                    x-linode-cli-display: 2
                  updated:
                    description: __Filterable__, __Read-only__ When this ticket was last updated.
                    example: '2024-06-04T16:07:03'
                    readOnly: true
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-filterable: true
                  updated_by:
                    description: __Read-only__ The user who last updated this ticket.
                    example: some_other_user
                    readOnly: true
                    type:
                    - string
                    - 'null'
                type: object
                x-akamai:
                  file-path: schemas/support-ticket.yaml
          description: Support ticket opened.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_write
      summary: Open a support ticket
      tags:
      - Support tickets
      x-akamai:
        tabs:
        - syntax: "linode-cli tickets create \\\n  --description \"I'm having trouble setting the root password on my Linode. I tried following the instructions but something is not working and I'm not sure what I'm doing wrong. Can you please help me figure out how I can reset it?\" \\\n  --linode_id 123 \\\n  --summary \"Having trouble resetting root password on my Linode\""
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
        - syntax: account:read_write
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action: create
      x-linode-grant: read_write
    get:
      description: 'Returns a collection of all support tickets opened from your account. This includes tickets you''ve opened and tickets generated by Linode customer support regarding your account. Open tickets are returned first in the response.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `account:read_only`


        **CLI**


        ```shell

        linode-cli tickets list

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-tickets
      operationId: get-tickets
      parameters:
      - description: The page of a collection to return.
        example: '{{page}}'
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 6
          minimum: 1
          type: integer
        x-akamai:
          file-path: parameters/page-offset.yaml
      - description: The number of items to return per page.
        example: '{{page_size}}'
        in: query
        name: page_size
        schema:
          default: 100
          example: 50
          maximum: 500
          minimum: 25
          type: integer
        x-akamai:
          file-path: parameters/page-size.yaml
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - attachments:
                  - screenshot.jpg
                  - screenshot.txt
                  closable: false
                  closed: '2024-06-04T16:07:03'
                  description: I'm having trouble setting the root password on my Linode. I tried following the instructions, but something isn't working. Can you please help me figure out how I can reset it?
                  entity:
                    id: 10400
                    label: linode123456
                    type: linode
                    url: /v4/linode/instances/123456
                  gravatar_id: 474a1b7373ae0be4132649e69c36ce30
                  id: 11223344
                  opened: '2024-06-04T14:16:44'
                  opened_by: some_user
                  severity: low
                  status: open
                  summary: Having trouble resetting Linode root password.
                  updated: '2024-06-04T16:07:03'
                  updated_by: some_other_user
                page: 1
                pages: 1
                results: 1
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: A list of objects returned for a response.
                    items:
                      additionalProperties: false
                      description: A support ticket opened from your account.
                      properties:
                        attachments:
                          description: __Read-only__ A list of filenames representing attached files associated with this ticket.
                          example:
                          - screenshot.jpg
                          - screenshot.txt
                          items:
                            type: string
                          readOnly: true
                          type: array
                        closable:
                          description: Whether the ticket can be closed.
                          example: false
                          type: boolean
                        closed:
                          description: __Filterable__, __Read-only__ When this ticket was closed.
                          example: '2024-06-04T16:07:03'
                          readOnly: true
                          type:
                          - string
                          - 'null'
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-filterable: true
                        description:
                          description: __Read-only__ The full details of the issue or question.
                          example: I'm having trouble setting the root password on my Linode. I tried following the instructions, but something isn't working. Can you please help me figure out how I can reset it?
                          maxLength: 65000
                          minLength: 1
                          readOnly: true
                          type: string
                          x-linode-cli-display: 5
                        entity:
                          additionalProperties: false
                          description: __Read-only__ The ticket was opened for this entity. An entity represents a specific object you've created, such as a Linode or a Managed Database.
                          properties:
                            id:
                              description: __Read-only__ The unique ID for this ticket's entity. Empty if the targeted entity doesn't use an `id`.
                              example: 10400
                              readOnly: true
                              type: integer
                            label:
                              description: __Read-only__ The current label of this entity.
                              example: linode123456
                              readOnly: true
                              type: string
                            type:
                              description: __Read-only__ The type of entity, either `database`, `domain`, `firewall`, `linode`, `lkecluster`, `managed_service`, `nodebalancer`, `vlan`, `volume`, or `vpc`.
                              enum:
                              - database
                              - domain
                              - firewall
                              - linode
                              - lkecluster
                              - managed_service
                              - nodebalancer
                              - vlan
                              - volume
                              - vpc
                              example: linode
                              readOnly: true
                              type: string
                            url:
                              description: __Read-only__ The URL where you can access the `entity`. If this is a relative URL, it's relative to the domain for the entity.
                              example: /v4/linode/instances/123456
                              readOnly: true
                              type: string
                          readOnly: true
                          type:
                          - object
                          - 'null'
                          x-linode-cli-display: 6
                        gravatar_id:
                          description: __Read-only__ The Gravatar ID of the user who opened this ticket.
                          example: 474a1b7373ae0be4132649e69c36ce30
                          readOnly: true
                          type: string
                        id:
                          description: __Read-only__ The ID of the support ticket.
                          example: 11223344
                          readOnly: true
                          type: integer
                          x-linode-cli-display: 1
                        opened:
                          description: __Filterable__, __Read-only__ When this ticket was created.
                          example: '2024-06-04T14:16:44'
                          readOnly: true
                          type: string
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-cli-display: 4
                          x-linode-filterable: true
                        opened_by:
                          description: __Filterable__, __Read-only__ The user who opened this ticket.
                          example: some_user
                          readOnly: true
                          type: string
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-cli-display: 3
                          x-linode-filterable: true
                        severity:
                          description: __Read-only__ The severity of this ticket, either `low`, `moderate`, or `major`.
                          enum:
                          - low
                          - moderate
                          - major
                          example: low
                          readOnly: true
                          type:
                          - string
                          - 'null'
                        status:
                          description: __Filterable__, __Read-only__ The current status of this ticket, either `new`, `open`, or `closed`.
                          enum:
                          - closed
                          - new
                          - open
                          example: open
                          readOnly: true
                          type: string
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-filterable: true
                        summary:
                          description: __Read-only__ The summary or title for this ticket.
                          example: Having trouble resetting Linode root password.
                          maxLength: 64
                          minLength: 1
                          readOnly: true
                          type: string
                          x-linode-cli-display: 2
                        updated:
                          description: __Filterable__, __Read-only__ When this ticket was last updated.
                          example: '2024-06-04T16:07:03'
                          readOnly: true
                          type: string
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-filterable: true
                        updated_by:
                          description: __Read-only__ The user who last updated this ticket.
                          example: some_other_user
                          readOnly: true
                          type:
                          - string
                          - 'null'
                      type: object
                      x-akamai:
                        file-path: schemas/support-ticket.yaml
                    type: array
                  page:
                    description: __Read-only__ The current [page](https://techdocs.akamai.com/linode-api/reference/pagination).
                    example: 1
                    readOnly: true
                    type: integer
                  pages:
                    description: __Read-only__ The total number of [pages](https://techdocs.akamai.com/linode-api/reference/pagination).
                    example: 1
                    readOnly: true
                    type: integer
                  results:
                    description: __Read-only__ The total number of results.
                    example: 1
                    readOnly: true
                    type: integer
                type: object
                x-akamai:
                  file-path: schemas/added-get-tickets-200.yaml
          description: Returns a paginated list of support tickets.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_only
      summary: List support tickets
      tags:
      - Support tickets
      x-akamai:
        tabs:
        - syntax: linode-cli tickets list
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
        - syntax: account:read_only
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action:
      - list
      - ls
      x-linode-grant: read_only
  /{apiVersion}/support/tickets/{ticketId}:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    - description: The ID of the support ticket.
      example: '{{ticketId}}'
      in: path
      name: ticketId
      required: true
      schema:
        example: 281
        type: integer
      x-akamai:
        file-path: parameters/ticket-id.yaml
    x-akamai:
      file-path: paths/ticket.yaml
      path-info: /{apiVersion}/support/tickets/{ticketId}
    x-linode-cli-command: tickets
    get:
      description: 'Returns a specific support ticket under your account.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `account:read_only`


        **CLI**


        ```shell

        linode-cli tickets view 11223344

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-ticket
      operationId: get-ticket
      responses:
        '200':
          content:
            application/json:
              example:
                attachments:
                - screenshot.jpg
                - screenshot.txt
                closable: false
                closed: '2024-06-04T16:07:03'
                description: I'm having trouble setting the root password on my Linode. I tried following the instructions, but something isn't working. Can you please help me figure out how I can reset it?
                entity:
                  id: 10400
                  label: linode123456
                  type: linode
                  url: /v4/linode/instances/123456
                gravatar_id: 474a1b7373ae0be4132649e69c36ce30
                id: 11223344
                opened: '2024-06-04T14:16:44'
                opened_by: some_user
                severity: low
                status: open
                summary: Having trouble resetting Linode root password.
                updated: '2024-06-04T16:07:03'
                updated_by: some_other_user
              schema:
                additionalProperties: false
                description: A support ticket opened from your account.
                properties:
                  attachments:
                    description: __Read-only__ A list of filenames representing attached files associated with this ticket.
                    example:
                    - screenshot.jpg
                    - screenshot.txt
                    items:
                      type: string
                    readOnly: true
                    type: array
                  closable:
                    description: Whether the ticket can be closed.
                    example: false
                    type: boolean
                  closed:
                    description: __Filterable__, __Read-only__ When this ticket was closed.
                    example: '2024-06-04T16:07:03'
                    readOnly: true
                    type:
                    - string
                    - 'null'
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-filterable: true
                  description:
                    description: __Read-only__ The full details of the issue or question.
                    example: I'm having trouble setting the root password on my Linode. I tried following the instructions, but something isn't working. Can you please help me figure out how I can reset it?
                    maxLength: 65000
                    minLength: 1
                    readOnly: true
                    type: string
                    x-linode-cli-display: 5
                  entity:
                    additionalProperties: false
                    description: __Read-only__ The ticket was opened for this entity. An entity represents a specific object you've created, such as a Linode or a Managed Database.
                    properties:
                      id:
                        description: __Read-only__ The unique ID for this ticket's entity. Empty if the targeted entity doesn't use an `id`.
                        example: 10400
                        readOnly: true
                        type: integer
                      label:
                        description: __Read-only__ The current label of this entity.
                        example: linode123456
                        readOnly: true
                        type: string
                      type:
                        description: __Read-only__ The type of entity, either `database`, `domain`, `firewall`, `linode`, `lkecluster`, `managed_service`, `nodebalancer`, `vlan`, `volume`, or `vpc`.
                        enum:
                        - database
                        - domain
                        - firewall
                        - linode
                        - lkecluster
                        - managed_service
                        - nodebalancer
                        - vlan
                        - volume
                        - vpc
                        example: linode
                        readOnly: true
                        type: string
                      url:
                        description: __Read-only__ The URL where you can access the `entity`. If this is a relative URL, it's relative to the domain for the entity.
                        example: /v4/linode/instances/123456
                        readOnly: true
                        type: string
                    readOnly: true
                    type:
                    - object
                    - 'null'
                    x-linode-cli-display: 6
                  gravatar_id:
                    description: __Read-only__ The Gravatar ID of the user who opened this ticket.
                    example: 474a1b7373ae0be4132649e69c36ce30
                    readOnly: true
                    type: string
                  id:
                    description: __Read-only__ The ID of the support ticket.
                    example: 11223344
                    readOnly: true
                    type: integer
                    x-linode-cli-display: 1
                  opened:
                    description: __Filterable__, __Read-only__ When this ticket was created.
                    example: '2024-06-04T14:16:44'
                    readOnly: true
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 4
                    x-linode-filterable: true
                  opened_by:
                    description: __Filterable__, __Read-only__ The user who opened this ticket.
                    example: some_user
                    readOnly: true
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 3
                    x-linode-filterable: true
                  severity:
                    description: __Read-only__ The severity of this ticket, either `low`, `moderate`, or `major`.
                    enum:
                    - low
                    - moderate
                    - major
                    example: low
                    readOnly: true
                    type:
                    - string
                    - 'null'
                  status:
                    description: __Filterable__, __Read-only__ The current status of this ticket, either `new`, `open`, or `closed`.
                    enum:
                    - closed
                    - new
                    - open
                    example: open
                    readOnly: true
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-filterable: true
                  summary:
                    description: __Read-only__ The summary or title for this ticket.
                    example: Having trouble resetting Linode root password.
                    maxLength: 64
                    minLength: 1
                    readOnly: true
                    type: string
                    x-linode-cli-display: 2
                  updated:
                    description: __Filterable__, __Read-only__ When this ticket was last updated.
                    example: '2024-06-04T16:07:03'
                    readOnly: true
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-filterable: true
                  updated_by:
                    description: __Read-only__ The user who last updated this ticket.
                    example: some_other_user
                    readOnly: true
                    type:
                    - string
                    - 'null'
                type: object
                x-akamai:
                  file-path: schemas/support-ticket.yaml
          description: Returns a single support ticket.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_only
      summary: Get a support ticket
      tags:
      - Support tickets
      x-akamai:
        tabs:
        - syntax: linode-cli tickets view 11223344
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
        - syntax: account:read_only
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action: view
      x-linode-grant: read_only
  /{apiVersion}/support/tickets/{ticketId}/close:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    - description: The ID of the support ticket.
      example: '{{ticketId}}'
      in: path
      name: ticketId
      required: true
      schema:
        example: 281
        type: integer
      x-akamai:
        file-path: parameters/ticket-id.yaml
    x-akamai:
      file-path: paths/ticket-close.yaml
      path-info: /{apiVersion}/support/tickets/{ticketId}/close
    x-linode-cli-command: tickets
    post:
      description: 'Closes a support ticket you have access to modify.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `account:read_write`


        **CLI**


        ```shell

        linode-cli tickets close 11223344

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/post-close-ticket
      operationId: post-close-ticket
      responses:
        '200':
          content:
            application/json:
              example: {}
              schema:
                description: The API responds with an empty object.
                maxProperties: 0
                type: object
                x-akamai:
                  file-path: schemas/added-empty-obj.yaml
          description: Support ticket closed successfully.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_write
      summary: Close a support ticket
      tags:
      - Support tickets
      x-akamai:
        tabs:
        - syntax: linode-cli tickets close 11223344
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
        - syntax: account:read_write
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action: close
      x-linode-grant: read_write
components:
  securitySchemes:
    oauth:
      flows:
        authorizationCode:
          authorizationUrl: https://login.linode.com/oauth/authorize
          scopes:
            account:read_only: Allows access to GET information about your account.
            account:read_write: Allows access to all endpoints related to your account.
            child_account:read_only: Allows access to GET information about deprecated parent/child operations.
            child_account:read_write: Allows access to deprecated parent/child operations.
            databases:read_only: Allows access to GET information about databases.
            databases:read_write: Allows access to all endpoints related to databases.
            domains:read_only: Allows access to GET Domains on your account.
            domains:read_write: Allows access to all Domain endpoints.
            events:read_only: Allows access to GET your Events.
            events:read_write: Allows access to all endpoints related to your Events.
            firewall:read_only: Allows access to GET information about your Firewalls.
            firewall:read_write: Allows access to all Firewall endpoints.
            images:read_only: Allows access to GET your Images.
            images:read_write: Allows access to all endpoints related to your Images.
            ips:read_only: Allows access to GET your ips.
            ips:read_write: Allows access to all endpoints related to your ips.
            linodes:read_only: Allows access to GET Linodes on your account.
            linodes:read_write: Allow access to all endpoints related to your Linodes.
            lke:read_only: Allows access to GET LKE Clusters on your account.
            lke:read_write: Allows access to all endpoints related to LKE Clusters on your account.
            longview:read_only: Allows access to GET your Longview Clients.
            longview:read_write: Allows access to all endpoints related to your Longview Clients.
            monitor:read_only: Allows access to Monitor (Akamai Cloud Pulse) data.
            monitor:read_write: Allows access to GET Monitor (Akamai Cloud Pulse) data.
            nodebalancers:read_only: Allows access to GET NodeBalancers on your account.
            nodebalancers:read_write: Allows access to all NodeBalancer endpoints.
            object_storage:read_only: Allows access to GET information related to your Object Storage.
            object_storage:read_write: Allows access to all Object Storage endpoints.
            stackscripts:read_only: Allows access to GET your StackScripts.
            stackscripts:read_write: Allows access to all endpoints related to your StackScripts.
            volumes:read_only: Allows access to GET your Volumes.
            volumes:read_write: Allows access to all endpoints related to your Volumes.
            vpc:read_write: Allows access to all endpoints related to VPC and Subnet creation, updating, and deletion.
          tokenUrl: https://login.linode.com/oauth/token
      type: oauth2
    personalAccessToken:
      scheme: bearer
      type: http
externalDocs:
  description: See documentation for Akamai's Linode API
  url: https://techdocs.akamai.com/linode-api/reference
x-readme:
  explorer-enabled: false
  samples-languages:
  - curl
  - python
  - node
