openapi: 3.2.0
info:
  title: Linode VPCs API
  version: '1.0'
  description: 'Operations tagged VPCs across 2 of this provider''s published API definitions: linode-api-v4-official-openapi.json, linode-api-v4-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.linode.com
- url: https://api.linode.com/v4
  description: Production Server
tags:
- description: Use the VPCs endpoints to view, create, and manage Virtual Private Cloud (VPC) and VPC Subnet resources.
  name: VPCs
paths:
  /{apiVersion}/nodebalancers/{nodeBalancerId}/vpcs:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    - description: The ID of the NodeBalancer.
      example: '{{nodeBalancerId}}'
      in: path
      name: nodeBalancerId
      required: true
      schema:
        example: 12345
        type: integer
      x-akamai:
        file-path: parameters/node-balancer-id.yaml
    x-akamai:
      file-path: paths/node-balancer-vpcs.yaml
      path-info: /{apiVersion}/nodebalancers/{nodeBalancerId}/vpcs
    x-linode-cli-command: nodebalancers
    get:
      description: 'Returns a paginated list of VPC configurations for the NodeBalancer.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs a role with these permissions assigned. Learn more.

        - Permissions: `list_nodebalancer_vpc_configs`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `nodebalancers:read_only`


        **CLI**


        ```shell

        linode-cli nodebalancers vpcs-list 12345

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-node-balancer-vpcs
      operationId: get-node-balancer-vpcs
      parameters:
      - description: The page of a collection to return.
        example: '{{page}}'
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 6
          minimum: 1
          type: integer
        x-akamai:
          file-path: parameters/page-offset.yaml
      - description: The number of items to return per page.
        example: '{{page_size}}'
        in: query
        name: page_size
        schema:
          default: 100
          example: 50
          maximum: 500
          minimum: 25
          type: integer
        x-akamai:
          file-path: parameters/page-size.yaml
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - id: 6
                  ipv4_range: 10.0.0.12/30
                  ipv6_range: null
                  nodebalancer_id: 8
                  subnet_id: 1
                  vpc_id: 1
                - id: 7
                  ipv4_range: 10.0.1.8/30
                  ipv6_range: null
                  nodebalancer_id: 8
                  subnet_id: 7
                  vpc_id: 1
                page: 1
                pages: 1
                results: 2
              schema:
                additionalProperties: false
                properties:
                  data:
                    example:
                    - id: 6
                      ipv4_range: 10.0.0.12/30
                      ipv6_range: null
                      nodebalancer_id: 8
                      subnet_id: 1
                      vpc_id: 1
                    items:
                      additionalProperties: false
                      description: You can have only one VPC in a NodeBalancer configuration. If any of your backend nodes are VPC Linodes, specify the VPC subnet and CIDR range. NodeBalancer routes traffic to backend VPC nodes through this subnet. Once the NodeBalancer is created, its VPC cannot be changed.
                      properties:
                        id:
                          description: __Read-only__ Identifies the VPC configuration for this NodeBalancer.
                          example: 6
                          readOnly: true
                          type: integer
                        ipv4_range:
                          description: A CIDR range for the VPC's IPv4 addresses. The NodeBalancer sources IP addresses from this range when routing traffic to the backend VPC nodes. A `/30` subnet defines a range of four addresses. This range is required for high availability of NodeBalancer instances.
                          example: 10.100.5.100/30
                          type: string
                          x-linode-cli-display: 12
                        ipv4_range_auto_assign:
                          default: false
                          description: '__Write-only__ Enables the use of a larger `ipv4_range` subnet for multiple NodeBalancers within the same VPC by allocating smaller `/30` subnets for each NodeBalancer''s backends.


                            - When set to `true`, the system automatically allocates the smallest possible subnet (`/30`) from the provided `ipv4_range` for the NodeBalancer''s backend interface. If the specified range doesn''t have enough available IPs to allocate a `/30` subnet, the creation fails.


                            - When set to `false`, the NodeBalancer is created using the entire `ipv4_range` as specified, without attempting to allocate a `/30` subnet.'
                          example: false
                          type:
                          - boolean
                          - 'null'
                          writeOnly: true
                          x-linode-cli-display: 14
                        nodebalancer_id:
                          description: __Read-only__ Identifies the NodeBalancer.
                          example: 8
                          readOnly: true
                          type: integer
                        subnet_id:
                          description: The VPC's subnet. Run the [List VPCs](https://techdocs.akamai.com/linode-api/reference/get-vpcs) operation provides data for your VPCs and their subnets.
                          example: 1
                          type: integer
                          x-linode-cli-display: 11
                        vpc_id:
                          description: __Read-only__ The `id` of the VPC configured for this NodeBalancer.
                          example: 1
                          readOnly: true
                          type:
                          - integer
                          - 'null'
                      required:
                      - subnet_id
                      type: object
                      x-akamai:
                        file-path: schemas/node-balancer-vpc.yaml
                    type: array
                  page:
                    description: __Read-only__ The current [page](https://techdocs.akamai.com/linode-api/reference/pagination).
                    example: 1
                    readOnly: true
                    type: integer
                  pages:
                    description: __Read-only__ The total number of [pages](https://techdocs.akamai.com/linode-api/reference/pagination).
                    example: 1
                    readOnly: true
                    type: integer
                  results:
                    description: __Read-only__ The total number of results.
                    example: 1
                    readOnly: true
                    type: integer
                type: object
                x-akamai:
                  file-path: schemas/added-get-node-balancer-vpcs-200.yaml
          description: A paginated list of NodeBalancer VPC configurations.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - nodebalancers:read_only
      summary: List VPC configurations
      tags:
      - VPCs
      x-akamai:
        tabs:
        - syntax: linode-cli nodebalancers vpcs-list 12345
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: vpcs-list
      x-linode-grant: read_only
      x-linode-iam:
      - permissions:
        - list_nodebalancer_vpc_configs
    servers:
    - url: https://api.linode.com
  /{apiVersion}/nodebalancers/{nodeBalancerId}/vpcs/{nodeBalancerVpcConfigId}:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    - description: The ID of the NodeBalancer.
      example: '{{nodeBalancerId}}'
      in: path
      name: nodeBalancerId
      required: true
      schema:
        example: 12345
        type: integer
      x-akamai:
        file-path: parameters/node-balancer-id.yaml
    - description: The VPC configuration `id` for the NodeBalancer.
      example: '{{nodeBalancerVpcConfigId}}'
      in: path
      name: nodeBalancerVpcConfigId
      required: true
      schema:
        example: 7
        type: integer
      x-akamai:
        file-path: parameters/node-balancer-vpc-config-id.yaml
    x-akamai:
      file-path: paths/node-balancer-vpc.yaml
      path-info: /{apiVersion}/nodebalancers/{nodeBalancerId}/vpcs/{nodeBalancerVPCConfigId}
    x-linode-cli-command: nodebalancers
    get:
      description: 'Returns a single VPC configuration for the NodeBalancer ID.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs a role with these permissions assigned. Learn more.

        - Permissions: `view_nodebalancer_vpc_config`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `nodebalancers:read_only`


        **CLI**


        ```shell

        linode-cli nodebalancers vpcs-view \

        12345 7

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-node-balancer-vpc-config
      operationId: get-node-balancer-vpc-config
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                description: You can have only one VPC in a NodeBalancer configuration. If any of your backend nodes are VPC Linodes, specify the VPC subnet and CIDR range. NodeBalancer routes traffic to backend VPC nodes through this subnet. Once the NodeBalancer is created, its VPC cannot be changed.
                properties:
                  id:
                    description: __Read-only__ Identifies the VPC configuration for this NodeBalancer.
                    example: 6
                    readOnly: true
                    type: integer
                  ipv4_range:
                    description: A CIDR range for the VPC's IPv4 addresses. The NodeBalancer sources IP addresses from this range when routing traffic to the backend VPC nodes. A `/30` subnet defines a range of four addresses. This range is required for high availability of NodeBalancer instances.
                    example: 10.100.5.100/30
                    type: string
                    x-linode-cli-display: 12
                  ipv4_range_auto_assign:
                    default: false
                    description: '__Write-only__ Enables the use of a larger `ipv4_range` subnet for multiple NodeBalancers within the same VPC by allocating smaller `/30` subnets for each NodeBalancer''s backends.


                      - When set to `true`, the system automatically allocates the smallest possible subnet (`/30`) from the provided `ipv4_range` for the NodeBalancer''s backend interface. If the specified range doesn''t have enough available IPs to allocate a `/30` subnet, the creation fails.


                      - When set to `false`, the NodeBalancer is created using the entire `ipv4_range` as specified, without attempting to allocate a `/30` subnet.'
                    example: false
                    type:
                    - boolean
                    - 'null'
                    writeOnly: true
                    x-linode-cli-display: 14
                  nodebalancer_id:
                    description: __Read-only__ Identifies the NodeBalancer.
                    example: 8
                    readOnly: true
                    type: integer
                  subnet_id:
                    description: The VPC's subnet. Run the [List VPCs](https://techdocs.akamai.com/linode-api/reference/get-vpcs) operation provides data for your VPCs and their subnets.
                    example: 1
                    type: integer
                    x-linode-cli-display: 11
                  vpc_id:
                    description: __Read-only__ The `id` of the VPC configured for this NodeBalancer.
                    example: 1
                    readOnly: true
                    type:
                    - integer
                    - 'null'
                required:
                - subnet_id
                type: object
                x-akamai:
                  file-path: schemas/node-balancer-vpc.yaml
              x-example:
                x-ref: ../examples/get-node-balancer-config-200.json
          description: The requested NodeBalancer VPC configuration.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - nodebalancers:read_only
      summary: Get a VPC configuration
      tags:
      - VPCs
      x-akamai:
        tabs:
        - syntax: "linode-cli nodebalancers vpcs-view \\\n  12345 7"
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: vpc-view
      x-linode-grant: read_only
      x-linode-iam:
      - permissions:
        - view_nodebalancer_vpc_config
    servers:
    - url: https://api.linode.com
  /{apiVersion}/vpcs:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    x-akamai:
      file-path: paths/vpcs.yaml
      path-info: /{apiVersion}/vpcs
    x-linode-cli-command: vpcs
    post:
      description: 'Create a new VPC and optionally define new subnets within it. A successful request triggers a `vpc_create` event, and `subnet_create` events for any created VPC subnets.


        You can create VPCs as either a `regular` network or a high-speed `rdma` network designed for GPUDirect RDMA clusters.


        By default, a VPC initializes with a standard set of private IPv4 ranges if the `ipv4` field is omitted or `null`. Use the List VPC default and forbidden IPv4 ranges operation to view `default_ipv4_ranges`.


        You can optionally specify up to 30 custom IPv4 ranges (CIDRs) at the VPC level. These ranges serve as the global address pool for the entire VPC, unlike subnet ranges, which apply only to individual subnets. All subnets within the VPC must be contained within these defined ranges. Custom ranges must be provided in canonical, aggregated form and cannot overlap with forbidden infrastructure ranges. Run the List VPC default and forbidden IPv4 ranges operation to view `forbidden_ipv4_ranges`. If you''re specifying the VPC''s IPv4 range, consider the following:

        - The array must contain at least one range. This array represents the desired final state of the VPC''s IPv4 space.

        - All ranges must be provided in canonical format with no host bits set. For example, `10.0.0.0/8` is valid, but `10.1.0.0/8` is rejected.

        - Ranges must be fully aggregated. Overlapping ranges or sub-ranges already contained within a larger prefix are not allowed. For example, you can''t provide both `10.0.0.0/8` and `10.1.0.0/24`.

        - The system automatically sorts the IPv4 ranges using standard Python network sorting logic, the primary sort is by network address, and then by prefix length.


        > 📘 Forbidden ranges

        >

        > Some specific IP ranges are reserved for internal VPC infrastructure and services such as DNS and route management. These ranges are blocked from being assigned as top-level VPC CIDRs to prevent routing conflicts. You can view these forbidden ranges by checking the `forbidden_ipv4_ranges` field.


        After you create a VPC, you can attach it to a Linode by assigning a VPC subnet to one of the Linode''s network interfaces.


        You can also attach managed databases and NodeBalancers to a subnet belonging to a `regular` VPC type.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs a role with these permissions assigned. Learn more.

        - Permissions: `create_vpc`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `vpc:read_write`


        **CLI**


        ```shell

        linode-cli vpcs create \

        --description "A description of my VPC." \

        --label vpc-example \

        --region us-east \

        --subnets.label vpc-subnet-example \

        --subnets.ipv4 10.0.1.0/24

        --ipv4 ''[{"range": "10.0.0.0/8"}, {"range": "172.16.0.0/12"}, {"range": "192.168.0.0/17"}]''

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/post-vpc
      operationId: post-vpc
      requestBody:
        content:
          application/json:
            examples:
              ex-ipv4:
                summary: IPv4 VPC
                value:
                  created: '2026-07-11T00:00:00'
                  description: A description of my VPC.
                  id: 123
                  ipv4:
                  - range: 10.0.0.0/8
                  - range: 172.16.0.0/12
                  - range: 192.168.0.0/17
                  ipv6:
                  - range: 2001:db8:1234:abcd::/64
                  label: vpc-name
                  region: us-ord
                  subnets:
                  - created: '2026-07-11T00:00:00'
                    databases:
                    - id: 3333
                      ipv4_range: 192.168.0.20/30
                    id: 456
                    ipv4: 10.0.1.0/24
                    label: example-subnet-name
                    linodes:
                    - id: 111
                      interfaces:
                      - active: true
                        config_id: 4567
                        id: 421
                    nodebalancers:
                    - id: 4444
                      ipv4_range: 192.168.0.20/30
                    updated: '2026-09-11T00:00:00'
                    vpc_type: regular
                  updated: '2026-09-11T00:00:00'
                  vpc_type: regular
              ex-ipv6:
                summary: Dual Stack VPC
                value:
                  created: '2025-05-11T00:00:00'
                  description: VPC example.
                  id: 123
                  ipv4: []
                  ipv6:
                  - range: 2001:db8:0:5000::/52
                  label: vpc-example
                  region: us-east
                  subnets:
                  - created: '2025-05-11T00:00:00'
                    databases:
                    - id: 1337
                      ipv4_range: 192.168.0.20/30
                      ipv6_ranges:
                      - range: 2001:DB8::/62
                    id: 456
                    ipv4: 10.0.1.0/24
                    ipv6:
                    - range: 2001:db8:0:5100::/56
                    label: vpc-subnet-test
                    linodes:
                    - id: 111
                      interfaces:
                      - active: true
                        id: 421
                    nodebalancers: []
                    updated: '2025-06-11T00:00:00'
                  updated: '2025-06-11T00:00:00'
                  vpc_type: regular
            schema:
              allOf:
              - required:
                - label
                - region
              - properties:
                  subnets:
                    required:
                    - ipv4
                    - label
              - additionalProperties: false
                description: An object describing a VPC belonging to the Account.
                properties:
                  created:
                    description: __Filterable__, __Read-only__ The date-time of VPC creation.
                    example: '2023-07-11T00:00:00'
                    format: date-time
                    readOnly: true
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-filterable: true
                  description:
                    default: ''
                    description: A written description to help distinguish the VPC.
                    example: A description of my VPC.
                    maxLength: 255
                    type: string
                    x-linode-cli-display: 3
                  id:
                    description: __Filterable__, __Read-only__ The unique ID of the VPC.
                    example: 123
                    readOnly: true
                    type: integer
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 1
                    x-linode-filterable: true
                  ipv4:
                    description: "The IPv4 ranges belonging to this VPC.\n  - When creating a VPC, if `ipv4` is `null` or omitted, the system applies the VPC's default ranges.\n  - When updating a VPC, if `ipv4` is `null` or omitted, existing ranges remain unchanged.\n  - If provided, the array must contain at least one range.\n  - A single VPC can be configured with a maximum of 30 distinct IPv4 ranges.\n  - Ranges can be defined with a prefix length anywhere from `/5` to `/30`.\n  - Ranges must be unique and must not overlap with restricted ranges defined in `forbidden_ipv4_ranges`.\n  - Ranges must be provided in canonical format with no host bits set. For example, `10.0.0.0/8` is valid, but `10.1.0.0/8` is rejected.\n  - Ranges must be fully aggregated. Overlapping ranges or sub-ranges already contained within a larger prefix are not allowed. For example, you can't provide both `10.0.0.0/8` and `10.1.0.0/24`.`\n  - All subnet ranges must be contained within these VPC IPv4 ranges.\n  - Changing the ranges for a VPC with Linodes is subject to a 15 minute cooldown measured from the last VPC update."
                    items:
                      properties:
                        range:
                          description: The IPv4 network CIDR.
                          example: 10.0.0.0/24
                          type: string
                      type: object
                    maxItems: 30
                    minItems: 1
                    type:
                    - array
                    - 'null'
                  ipv6:
                    description: 'The IPv6 prefix if this `regular` VPC uses IPv6 addressing. IPv6 prefixes can either be automatically allocated from Akamai’s IPv6 address space, or you can use your own IPv6 space. To ensure proper routing, all prefixes need to come from IP ranges that are announced from the same data center where the VPC is located.

                      - Each subnet within a VPC gets a single IPv6 prefix, which must be part of the VPC’s assigned range.

                      - Network interfaces within the subnet can then use one or more `/64` prefixes derived from the subnet’s prefix.

                      - Akamai reserves the first `/64` prefix. This means you can''t use the first `/64` prefix in your subnet.

                      - Not available for `rdma` VPCs'
                    items:
                      additionalProperties: false
                      description: Specifies the IPv6 prefix in CIDR notation allocated to the VPC, along with the source inventory from which this prefix is assigned.
                      properties:
                        allocation_range:
                          default: null
                          description: An IPv6 CIDR block for the VPC.
                          example: 2001:db8:1234::/52
                          type: string
                          x-linode-cli-display: 2
                        range:
                          default: /52
                          description: 'The IPv6 prefix, options include:


                            - An IPv6 prefix that you own, which is not currently assigned to another VPC or network entity, and is located within the same region as the VPC.

                            - A prefix length of `/52`, `/48`, or `/44`, indicating that an IPv6 prefix of that length should be automatically allocated for the VPC. Not all prefixes may be available on your account.

                            - If `allocation_range` is set then `range` can only be a prefix length of `/52`, `/48`, or `/44`.

                            - A value of `auto`, an empty string, or omitted value, indicating that a prefix of the default length `/52` is allocated for the VPC.'
                          example: /52
                          type: string
                          x-linode-cli-display: 1
                      type: object
                      x-akamai:
                        file-path: schemas/vpc-ipv6.yaml
                    maxItems: 1
                    minItems: 0
                    type: array
                  label:
                    description: '__Filterable__ The VPC''s label, for display purposes only.


                      - Needs to be unique among the Account''s VPCs.

                      - Can only contain ASCII letters, numbers, and hyphens (`-`). You can''t use two consecutive hyphens (`--`).'
                    example: vpc-example
                    maxLength: 64
                    minLength: 1
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 2
                    x-linode-filterable: true
                  region:
                    description: __Filterable__ The Region for the VPC.
                    example: us-east
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 4
                    x-linode-filterable: true
                  subnets:
                    description: 'A list of subnets associated with the VPC.

                      If the `vpc_type` is set to `rdma`, the subnet can''t use NAT gateway or IPv6.'
                    items:
                      description: The VPC subnet's IPv4 or IPv6 or dual stack.
                      oneOf:
                      - additionalProperties: false
                        description: An object describing a VPC Subnet.
                        properties:
                          created:
                            description: __Filterable__, __Read-only__ The date-time of VPC Subnet creation.
                            example: '2023-07-11T00:00:00'
                            format: date-time
                            readOnly: true
                            type: string
                            x-akamai:
                              labels:
                              - Filterable
                            x-linode-filterable: true
                          databases:
                            description: __Read-only__ An array of managed databases assigned to the VPC Subnet.
                            items:
                              additionalProperties: false
                              properties:
                                id:
                                  description: ID of a managed database assigned to the VPC Subnet.
                                  example: 3333
                                  type: integer
                                ipv4_range:
                                  description: IPv4 range assigned to the database.
                                  example: 192.168.0.20/30
                                  type: string
                                ipv6_ranges:
                                  description: __Read-only__ IPv6 ranges assigned to the database.
                                  items:
                                    additionalProperties: false
                                    properties:
                                      range:
                                        description: The IPv6 address range in CIDR notation.
                                        example: 2830:0:0:4::/62
                                        type: string
                                    type: object
                                  readOnly: true
                                  type: array
                              type: object
                            readOnly: true
                            type: array
                            x-linode-cli-display: 6
                          id:
                            description: __Filterable__, __Read-only__ The unique ID of the VPC Subnet.
                            example: 456
                            readOnly: true
                            type: integer
                            x-akamai:
                              labels:
                              - Filterable
                            x-linode-cli-display: 1
                            x-linode-filterable: true
                          ipv4:
                            description: 'IPv4 range in CIDR canonical form.


                              - The range must belong to a private address space as defined in [RFC1918](https://datatracker.ietf.org/doc/html/rfc1918).

                              - Allowed prefix lengths: 1-29.

                              - The range must not overlap with 192.168.128.0/17.

                              - The range must not overlap with other Subnets on the same VPC.'
                            example: 10.0.1.0/24
                            format: ip
                            type: string
                            x-linode-cli-display: 3
                          label:
                            description: '__Filterable__ The VPC subnet''s unique label that is used as an identifier for the VPC subnet.


                              - Must be unique among the VPC''s subnets.

                              - Can only contain ASCII letters, numbers, and dashes (`-`). You can''t use two consecutive dashes (`--`).'
                            example: vpc-subnet-example
                            maxLength: 64
                            minLength: 1
                            type: string
                            x-akamai:
                              labels:
                              - Filterable
                            x-linode-cli-display: 2
                            x-linode-filterable: true
                          linodes:
                            description: '__Read-only__ An array of Linode IDs assigned to the VPC Subnet.


                              A Linode is assigned to a VPC Subnet if it has a Configuration Profile with a `vpc` purpose interface with the subnet''s `subnet_id`. Even if the Configuration Profile is not active, meaning the Linode does not have access to the Subnet, the Linode still appears in this array.'
                            items:
                              additionalProperties: false
                              properties:
                                id:
                                  description: ID of a Linode assigned to the VPC Subnet.
                                  example: 111
                                  type: integer
                                interfaces:
                                  description: VPC purpose interfaces with the subnet's `subnet_id` assigned to the Linode.
                                  items:
                                    additionalProperties: false
                                    properties:
                                      active:
                                        description: Returns `true` if the Interface is in use, meaning that the Linode was powered on using the Configuration Profile to which the Interface belongs. Otherwise returns `false`.
                                        example: true
                                        type: boolean
                                      config_id:
                                        description: The globally general entity identifier for the Linode configuration profile that includes the VPC. If this is a VPC Linode interface, the value is `null`.
                                        example: 4567
                                        type:
                                        - integer
                                        - 'null'
                                      id:
                                        description: ID of the interface.
                                        example: 421
                                        type: integer
                                    type: object
                                  type: array
                              type: object
                            readOnly: true
                            type: array
                            x-linode-cli-display: 5
                          nodebalancers:
                            description: __Read-only__ An array of NodeBalancers assigned to the VPC Subnet.
                            items:
                              additionalProperties: false
                              properties:
                                id:
                                  description: ID of a NodeBalancer assigned to the VPC Subnet.
                                  example: 4444
                                  type: integer
                                ipv4_range:
                                  description: IPv4 range assigned to the NodeBalancer.
                                  example: 192.168.0.20/30
                                  type: string
                                ipv6_ranges:
                                  description: __Read-only__ IPv6 ranges assigned to the NodeBalancers.
                                  items:
                                    additionalProperties: false
                                    properties:
                                      range:
                                        description: An IPv6 address range in CIDR notation.
                                        type: string
                                    type: object
                                  readOnly: true
                                  type:
                                  - array
                                  - 'null'
                              type: object
                              x-linode-cli-display: 7
                            readOnly: true
                            type: array
                          updated:
                            description: __Filterable__, __Read-only__ The date-time of the most recent VPC Subnet update.
                            example: '2023-09-11T00:00:00'
                            format: date-time
                            readOnly: true
                            type:
                            - string
                            - 'null'
                            x-akamai:
                              labels:
                              - Filterable
                            x-linode-filterable: true
                          vpc_type:
                            default: regular
                            description: '__Filterable__, __Read-only__ The network type for this VPC.


                              - `regular`. Standard VPC network for typical compute instances and managed services.

                              - `rdma`. High-speed network dedicated strictly to GPUDirect RDMA clusters.'
                            enum:
                            - regular
                            - rdma
                            readOnly: true
                            type: string
                            x-akamai:
                              labels:
                              - Filterable
                            x-linode-cli-display: 4
                            x-linode-filterable: true
                        title: IPv4 subnets only
                        type: object
                        x-akamai:
                          file-path: schemas/vpc-subnet-ipv4.yaml
                      - additionalProperties: false
                        description: An object describing a VPC Subnet.
                        properties:
                          created:
                            description: __Filterable__, __Read-only__ The date-time of VPC Subnet creation.
                            example: '2023-07-11T00:00:00'
                            format: date-time
                            readOnly: true
                            type: string
                            x-akamai:
                              labels:
                              - Filterable
                            x-linode-filterable: true
                          databases:
                            description: __Read-only__ An array of managed databases assigned to the VPC Subnet.
                            items:
                              additionalProperties: false
                              properties:
                                id:
                                  description: ID of a managed database assigned to the VPC Subnet.
                                  example: 3333
                                  type: integer
                                ipv4_range:
                                  description: IPv4 range assigned to the database.
                                  example: 192.168.0.20/30
                                  type: string
                                ipv6_ranges:
                                  description: __Read-only__ IPv6 ranges assigned to the database.
                                  items:
                                    additionalProperties: false
                                    properties:
                                      range:
                                        description: An IPv6 address range in CIDR notation.
                                        example: 2830:0:0:4::/62
                                        type: string
                                    type: object
                                  readOnly: true
                                  type:
                                  - array
                                  - 'null'
                              type: object
                            readOnly: true
                            type: array
                            x-linode-cli-display: 6
                          id:
                            description: __Filterable__, __Read-only__ The unique ID of the VPC Subnet.
                            example: 456
                            readOnly: true
                            type: integer
                            x-akamai:
                              labels:
                              - Filterable
                            x-linode-cli-display: 1
                            x-linode-filterable: true
                          ipv6:
                            description: 'The IPv6 prefix for the subnet of a `regular` VPC. Options include:


                              - The IPv6 prefix in CIDR notation (such as `2001:db8:115:200::/54`) within the VPC''s allocated IPv6 space. Ensure that this new subnet prefix does not overlap with any existing prefixes owned by other subnets on the same VPC.

                              - The default `auto` allows the system to automatically allocate an IPv6 prefix. This results in the allocation of a `/56` prefix if the VPC has enough aligned, and unallocated space within its prefixes for the request.

                              - A prefix length preceded by a slash (such as `/56`). This results in the allocation of a prefix of the specified length.


                              Optionally, you can specify an `allocation_range` to constrain the area from which the system can allocate the subnet. If you provide an `allocation_range`, the `range` must be any size starting from the VPC prefix length down to `/62`. The final assigned prefix will be within both the VPC''s CIDR block and the `allocation_range`, and must fit entirely within the smallest of the two ranges.


                              Once an IPv6 prefix is assigned to a subnet, it can''t be changed. To modify the prefix, delete and recreate the subnet.'
                            items:
                              additionalProperties: false
                              properties:
                                allocation_range:
                                  description: An IPv6 CIDR block that limits where the subnet can be allocated. It must overlap with the VPC's CIDR block. The `range` must be contained within the smallest of `allocation_range` and the VPC's range.
                                  example: 2001:db8:1234::/56
                                  type: string
                                range:
                                  default: auto
                                  description: "The range to allocate:\n  - A specific IPv6 CIDR, such as `2001:db8::/64`,\n  - The string `\"auto\"` (default),\n  - A prefix length from `/52` to `/62` to request an auto-assigned range of that size.\n\nIf `allocation_range` is set, then `range` must be a prefix length."
                                  enum:
                                  - auto
                                  - /56
                                  - /52
                                  - /53
                                  - /54
                                  - /55
                                  - /57
                                  - /58
                                  - /59
                                  - /60
                                  - /61
                                  - /62
                                  type: string
                              type: object
                            maxItems: 1
                            type: array
                          label:
                            description: '__Filterable__ The VPC subnet''s unique label that is used as an identifier for the VPC subnet.


                              - Must be unique among the VPC''s subnets.

                              - Can only contain ASCII letters, numbers, and dashes (`-`). You can''t use two consecutive dashes (`--`).'
                            example: vpc-subnet-example
                            maxLength: 64
                            minLength: 1
                            type: string
                            x-akamai:
                              labels:
                              - Filterable
                            x-linode-cli-display: 2
                            x-linode-filterable: true
                          linodes:
                            description: '__Read-only__ An array of Linode IDs assigned to the VPC Subnet.


                              A Linode is assigned to a VPC Subnet if it has a Configuration Profile with a `vpc` purpose interface with the subnet''s `subnet_id`. Even if the Configuration Profile is not active, meaning the Linode does not have access to the Subnet, the Linode still appears in this array.'
                            items:
                              additionalProperties: false
                              properties:
                                id:
                                  description: ID of a Linode assigned to the VPC Subnet.
                                  example: 111
                                  type: integer
                                interfaces:
                                  description: VPC purpose interfaces with the subnet's `subnet_id` assigned to the Linode.
                                  items:
                                    additionalProperties: false
                                    properties:
                                      active:
                                        description: Returns `true` if the Interface is in use, meaning that the Linode was powered on using the Configuration Profile to which the Interface belongs. Otherwise returns `false`.
                                        example: true
                                        type: boolean
                                      config_id:
                                        description: The globally general entity identifier for the Linode configuration profile that includes the VPC. If this is a VPC Linode interface, the value is `null`.
                                        example: 4567
                                        type:
                                        - integer
                                        - 'null'
                                      id:
                                        description: ID of the interface.
                                        example: 421
                                        type: integer
                                    type: object
                                  type: array
                              type: object
                            readOnly: true
                            type: array
                            x-linode-cli-display: 5
                          nodebalancers:
                            description: __Read-only__ An array of NodeBalancers assigned to the VPC Subnet.
                            items:
                              additionalProperties: false
                              properties:
                                id:
                                  description: ID of a NodeBalancer assigned to the VPC Subnet.
                                  example: 4444
                                  type: integer
                                ipv4_range:
                                  description: IPv4 range assigned to the NodeBalancer.
                                  example: 192.168.0.20/30
                                  type: string
                                ipv6_ranges:
                                  description: __Read-only__ IPv6 ranges assigned to the NodeBalancers.
                                  items:
                                    additionalProperties: false
                                    properties:
                                      range:
                                        description: An IPv6 address range in CIDR notation.
                                        type: string
                                    type: object
                                  readOnly: true
                                  type:
                                  - array
                                  - 'null'
                              type: object
                              x-linode-cli-display: 7
                            readOnly: true
                            type: array
                          updated:
                            description: __Filterable__, __Read-only__ The date-time of the most recent VPC Subnet update.
                            example: '2023-09-11T00:00:00'
                            format: date-time
                            readOnly: true
                            type:
                            - string
                            - 'null'
                            x-akamai:
                              labels:
                              - Filterable
                            x-linode-filterable: true
                          vpc_type:
                            default: regular
                            description: '__Filterable__, __Read-only__ The network type for this VPC.


                              - `regular`. Standard VPC network for typical compute instances and managed services.

                              - `rdma`. High-speed network dedicated strictly to GPUDirect RDMA clusters.'
                            enum:
                            - regular
                            - rdma
                            readOnly: true
                            type: string
                            x-akamai:
                              labels:
                              - Filterable
                            x-linode-cli-display: 3
                            x-linode-filterable: true
                        title: IPv6 subnets only
                        type: object
                        x-akamai:
                          file-path: schemas/vpc-subnet-ipv6.yaml
                      - additionalProperties: false
                        description: An object describing a VPC Subnet.
                        properties:
                          created:
                            description: __Filterable__, __Read-only__ The date-time of VPC Subnet creation.
                            example: '2023-07-11T00:00:00'
                            format: date-time
                            readOnly: true
                            type: string
                            x-akamai:
                              labels:
                              - Filterable
                            x-linode-filterable: true
                          databases:
                            description: __Read-only__ An array of managed databases assigned to the VPC Subnet.
                            items:
                              additionalProperties: false
                              properties:
                                id:
                                  description: ID of a managed database assigned to the VPC Subnet.
                                  example: 3333
                                  type: integer
                                ipv4_range:
                                  description: IPv4 range assigned to the database.
                                  example: 192.168.0.20/30
                                  type: string
                                ipv6_ranges:
                                  description: __Read-only__ IPv6 ranges assigned to the database.
                                  items:
                                    additionalProperties: false
                                    properties:
                                      range:
                                        description: An IPv6 address range in CIDR notation.
                                        example: 2830:0:0:4::/62
                                        type: string
                                    type:
                                    - object
                                    - 'null'
                                  readOnly: true
                                  type: array
                              type: object
                            readOnly: true
                            type: array
                            x-linode-cli-display: 6
                          id:
                            description: __Filterable__, __Read-only__ The unique ID of the VPC Subnet.
                            example: 456
                            readOnly: true
                            type: integer
                            x-akamai:
                              labels:
                              - Filterable
                            x-linode-cli-display: 1
                            x-linode-filterable: true
                          ipv4:
                            description: 'IPv4 range in CIDR canonical form.


                              - The range must belong to a private address space as defined in [RFC1918](https://datatracker.ietf.org/doc/html/rfc1918).

                              - Allowed prefix lengths: 1-29.

                              - The range must not overlap with 192.168.128.0/17.

                              - The range must not overlap with other Subnets on the same VPC.'
                            example: 10.0.1.0/24
                            format: ip
                            type: string
                            x-linode-cli-display: 3
                          ipv6:
                            description: 'The IPv6 prefix for the subnet of a `regular` VPC. Options include:


                              - The IPv6 prefix in CIDR notation (such as `2001:db8:115:200::/54`) within the VPC''s allocated IPv6 space. Ensure that this new subnet prefix doesn''t overlap with any existing prefixes owned by other subnets on the same VPC.

                              - The default `auto` allows the system to automatically allocate an IPv6 prefix. This results in the allocation of a `/56` prefix if the VPC has enough aligned, and unallocated space within its prefixes for the request.

                              - A prefix length preceded by a slash (such as `/56`). This results in the allocation of a prefix of the specified length.


                              Optionally, you can specify an `allocation_range` to constrain the area from which the system can allocate the subnet. If you provide an `allocation_range`, the `range` must be any size starting from the VPC prefix length down to `/62`. The final assigned prefix will be within both the VPC''s CIDR block and the `allocation_range`, and must fit entirely within the smallest of the two ranges.


                              Once an IPv6 prefix is assigned to a subnet, it can''t be changed. To modify the prefix, delete and recreate the subnet.'
                            items:
                              additionalProperties: false
                              properties:
                                allocation_range:
                                  description: An IPv6 CIDR block that limits where the subnet can be allocated. It must overlap with the VPC's CIDR block. The `range` must be contained within the smallest of `allocation_range` and the VPC's range.
                                  example: 2001:db8:1234::/56
                                  type: string
                                range:
                                  default: auto
                                  description: "The range to allocate:\n  - A specific IPv6 CIDR, such as `2001:db8::/64`,\n  - The string `\"auto\"` (default),\n  - A prefix length from `/52` to `/62` to request an auto-assigned range of that size.\n\nIf `allocation_range` is set, then `range` must be a prefix length."
                                  enum:
                                  - auto
                                  - /56
                                  - /52
                                  - /53
                                  - /54
                                  - /55
                                  - /57
                                  - /58
                                  - /59
                                  - /60
                                  - /61
                                  - /62
                                  type: string
                              type: object
                            maxItems: 1
                            type: array
                          label:
                            description: '__Filterable__ The VPC subnet''s unique label that is used as an identifier for the VPC subnet.


                              - Must be unique among the VPC''s subnets.

                              - Can only contain alphanumeric characters and non-consecutive dashes (`-`).'
                            example: vpc-subnet-example
                            maxLength: 64
                            minLength: 1
                            type: string
                            x-akamai:
                              labels:
                              - Filterable
                            x-linode-cli-display: 2
                            x-linode-filterable: true
                          linodes:
                            description: '__Read-only__ An array of Linode IDs assigned to the VPC Subnet.


                              A Linode is assigned to a VPC Subnet if it has a Configuration Profile with a `vpc` purpose interface with the subnet''s `subnet_id`. Even if the Configuration Profile is not active, meaning the Linode does not have access to the Subnet, the Linode still appears in this array.'
                            items:
                              additionalProperties: false
                              properties:
                                id:
                                  description: ID of a Linode assigned to the VPC Subnet.
                                  example: 111
                                  type: integer
                                interfaces:
                                  description: VPC purpose interfaces with the subnet's `subnet_id` assigned to the Linode.
                                  items:
                                    additionalProperties: false
                                    properties:
                                      active:
                                        description: Returns `true` if the Interface is in use, meaning that the Linode was powered on using the Configuration Profile to which the Interface belongs. Otherwise returns `false`.
                                        example: true
                                        type: boolean
                                      config_id:
                                        description: The globally general entity identifier for the Linode configuration profile that includes the VPC. If this is a VPC Linode interface, the value is `null`.
                                        example: 4567
                                        type:
                                        - integer
                                        - 'null'
                                      id:
                                        description: ID of the interface.
                                        example: 421
                                        type: integer
                                    type: object
                                  type: array
                              type: object
                            readOnly: true
                            type: array
                            x-linode-cli-display: 5
                          nodebalancers:
                            description: __Read-only__ An array of NodeBalancers assigned to the VPC Subnet.
                            items:
                              additionalProperties: false
                              properties:
                                id:
                                  description: ID of a NodeBalancer assigned to the VPC Subnet.
                                  example: 4444
                                  type: integer
                                ipv4_range:
                                  description: IPv4 range assigned to the NodeBalancer.
                                  example: 192.168.0.20/30
                                  type: string
                                ipv6_ranges:
                                  description: __Read-only__ IPv6 ranges assigned to the NodeBalancers.
                                  items:
                                    additionalProperties: false
                                    properties:
                                      range:
                                        description: An IPv6 address range in CIDR notation.
                                        type: string
                                    type: object
                                  readOnly: true
                                  type:
                                  - array
                                  - 'null'
                              type: object
                              x-linode-cli-display: 7
                            readOnly: true
                            type: array
                          updated:
                            description: __Filterable__, __Read-only__ The date-time of the most recent VPC Subnet update.
                            example: '2023-09-11T00:00:00'
                            format: date-time
                            readOnly: true
                            type:
                            - string
                            - 'null'
                            x-akamai:
                              labels:
                              - Filterable
                            x-linode-filterable: true
                          vpc_type:
                            default: regular
                            description: '__Filterable__, __Read-only__ The network type for this VPC.


                              - `regular`. Standard VPC network for typical compute instances and managed services.

                              - `rdma`. High-speed network dedicated strictly to GPUDirect RDMA clusters.'
                            enum:
                            - regular
                            - rdma
                            readOnly: true
                            type: string
                            x-akamai:
                              labels:
                              - Filterable
                            x-linode-cli-display: 5
                            x-linode-filterable: true
                        title: IPv4 and IPv6 subnets
                        type: object
                        x-akamai:
                          file-path: schemas/vpc-subnet-ipv4-ipv6.yaml
                      type: object
                      x-akamai:
                        file-path: schemas/vpc-subnet.yaml
                    type: array
                  updated:
                    description: __Filterable__, __Read-only__ The date-time of the most recent VPC update.
                    example: '2023-09-11T00:00:00'
                    format: date-time
                    readOnly: true
                    type:
                    - string
                    - 'null'
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-filterable: true
                  vpc_type:
                    default: regular
                    description: '__Filterable__ The network type for this VPC.


                      - `regular`. Standard VPC network for typical compute instances and managed services.

                      - `rdma`. High-speed network dedicated strictly to GPUDirect RDMA clusters.'
                    enum:
                    - regular
                    - rdma
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 5
                    x-linode-filterable: true
                type: object
                x-akamai:
                  file-path: schemas/vpc.yaml
              x-akamai:
                file-path: schemas/added-post-vpc.yaml
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                ex-rdma-vpc:
                  summary: RDMA VPC
                  value:
                    created: '2026-03-12T09:51:58'
                    description: RDMA VPC for GPU workloads.
                    id: 7
                    ipv6: null
                    label: rdma-vpc
                    region: us-ord
                    subnets:
                    - created: '2026-03-12T09:51:58'
                      databases: []
                      id: 8
                      ipv4: 10.0.0.0/24
                      ipv6: null
                      label: rdma-subnet
                      linodes: []
                      nodebalancers: []
                      updated: '2026-03-12T09:51:58'
                      vpc_type: rdma
                    updated: '2026-03-12T09:51:58'
                    vpc_type: rdma
                ex-vpc:
                  summary: Regular VPC
                  value:
                    created: '2026-07-11T00:00:00'
                    description: A description of my VPC.
                    id: 123
                    ipv4:
                    - range: 10.0.0.0/8
                    - range: 172.16.0.0/12
                    - range: 192.168.0.0/17
                    ipv6:
                    - range: 2001:db8:1234:abcd::/64
                    label: vpc-name
                    region: us-ord
                    subnets:
                    - created: '2026-07-11T00:00:00'
                      databases:
                      - id: 3333
                        ipv4_range: 192.168.0.20/30
                      id: 456
                      ipv4: 10.0.1.0/24
                      label: example-subnet-name
                      linodes:
                      - id: 111
                        interfaces:
                        - active: true
                          config_id: 4567
                          id: 421
                      nodebalancers:
                      - id: 4444
                        ipv4_range: 192.168.0.20/30
                      updated: '2026-09-11T00:00:00'
                      vpc_type: regular
                    updated: '2026-09-11T00:00:00'
                    vpc_type: regular
              schema:
                additionalProperties: false
                description: An object describing a VPC belonging to the Account.
                properties:
                  created:
                    description: __Filterable__, __Read-only__ The date-time of VPC creation.
                    example: '2023-07-11T00:00:00'
                    format: date-time
                    readOnly: true
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-filterable: true
                  description:
                    default: ''
                    description: A written description to help distinguish the VPC.
                    example: A description of my VPC.
                    maxLength: 255
                    type: string
                    x-linode-cli-display: 3
                  id:
                    description: __Filterable__, __Read-only__ The unique ID of the VPC.
                    example: 123
                    readOnly: true
                    type: integer
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 1
                    x-linode-filterable: true
                  ipv4:
                    description: "The IPv4 ranges belonging to this VPC.\n  - When creating a VPC, if `ipv4` is `null` or omitted, the system applies the VPC's default ranges.\n  - When updating a VPC, if `ipv4` is `null` or omitted, existing ranges remain unchanged.\n  - If provided, the array must contain at least one range.\n  - A single VPC can be configured with a maximum of 30 distinct IPv4 ranges.\n  - Ranges can be defined with a prefix length anywhere from `/5` to `/30`.\n  - Ranges must be unique and must not overlap with restricted ranges defined in `forbidden_ipv4_ranges`.\n  - Ranges must be provided in canonical format with no host bits set. For example, `10.0.0.0/8` is valid, but `10.1.0.0/8` is rejected.\n  - Ranges must be fully aggregated. Overlapping ranges or sub-ranges already contained within a larger prefix are not allowed. For example, you can't provide both `10.0.0.0/8` and `10.1.0.0/24`.`\n  - All subnet ranges must be contained within these VPC IPv4 ranges.\n  - Changing the ranges for a VPC with Linodes is subject to a 15 minute cooldown measured from the last VPC update."
                    items:
                      properties:
                        range:
                          description: The IPv4 network CIDR.
                          example: 10.0.0.0/24
                          type: string
                      type: object
                    maxItems: 30
                    minItems: 1
                    type:
                    - array
                    - 'null'
                  ipv6:
                    description: 'The IPv6 prefix if this `regular` VPC uses IPv6 addressing. IPv6 prefixes can either be automatically allocated from Akamai’s IPv6 address space, or you can use your own IPv6 space. To ensure proper routing, all prefixes need to come from IP ranges that are announced from the same data center where the VPC is located.

                      - Each subnet within a VPC gets a single IPv6 prefix, which must be part of the VPC’s assigned range.

                      - Network interfaces within the subnet can then use one or more `/64` prefixes derived from the subnet’s prefix.

                      - Akamai reserves the first `/64` prefix. This means you can''t use the first `/64` prefix in your subnet.

                      - Not available for `rdma` VPCs'
                    items:
                      additionalProperties: false
                      description: Specifies the IPv6 prefix in CIDR notation allocated to the VPC, along with the source inventory from which this prefix is assigned.
                      properties:
                        allocation_range:
                          default: null
                          description: An IPv6 CIDR block for the VPC.
                          example: 2001:db8:1234::/52
                          type: string
                          x-linode-cli-display: 2
                        range:
                          default: /52
                          description: 'The IPv6 prefix, options include:


                            - An IPv6 prefix that you own, which is not currently assigned to another VPC or network entity, and is located within the same region as the VPC.

                            - A prefix length of `/52`, `/48`, or `/44`, indicating that an IPv6 prefix of that length should be automatically allocated for the VPC. Not all prefixes may be available on your account.

                            - If `allocation_range` is set then `range` can only be a prefix length of `/52`, `/48`, or `/44`.

                            - A value of `auto`, an empty string, or omitted value, indicating that a prefix of the default length `/52` is allocated for the VPC.'
                          example: /52
                          type: string
                          x-linode-cli-display: 1
                      type: object
                      x-akamai:
                        file-path: schemas/vpc-ipv6.yaml
                    maxItems: 1
                    minItems: 0
                    type: array
                  label:
                    description: '__Filterable__ The VPC''s label, for display purposes only.


                      - Needs to be unique among the Account''s VPCs.

                      - Can only contain ASCII letters, numbers, and hyphens (`-`). You can''t use two consecutive hyphens (`--`).'
                    example: vpc-example
                    maxLength: 64
                    minLength: 1
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 2
                    x-linode-filterable: true
                  region:
                    description: __Filterable__ The Region for the VPC.
                    example: us-east
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 4
                    x-linode-filterable: true
                  subnets:
                    description: 'A list of subnets associated with the VPC.

                      If the `vpc_type` is set to `rdma`, the subnet can''t use NAT gateway or IPv6.'
                    items:
                      description: The VPC subnet's IPv4 or IPv6 or dual stack.
                      oneOf:
                      - additionalProperties: false
                        description: An object describing a VPC Subnet.
                        properties:
                          created:
                            description: __Filterable__, __Read-only__ The date-time of VPC Subnet creation.
                            example: '2023-07-11T00:00:00'
                            format: date-time
                            readOnly: true
                            type: string
                            x-akamai:
                              labels:
                              - Filterable
                            x-linode-filterable: true
                          databases:
                            description: __Read-only__ An array of managed databases assigned to the VPC Subnet.
                            items:
                              additionalProperties: false
                              properties:
                                id:
                                  description: ID of a managed database assigned to the VPC Subnet.
                                  example: 3333
                                  type: integer
                                ipv4_range:
                                  description: IPv4 range assigned to the database.
                                  example: 192.168.0.20/30
                                  type: string
                                ipv6_ranges:
                                  description: __Read-only__ IPv6 ranges assigned to the database.
                                  items:
                                    additionalProperties: false
                                    properties:
                                      range:
                                        description: The IPv6 address range in CIDR notation.
                                        example: 2830:0:0:4::/62
                                        type: string
                                    type: object
                                  readOnly: true
                                  type: array
                              type: object
                            readOnly: true
                            type: array
                            x-linode-cli-display: 6
                          id:
                            description: __Filterable__, __Read-only__ The unique ID of the VPC Subnet.
                            example: 456
                            readOnly: true
                            type: integer
                            x-akamai:
                              labels:
                              - Filterable
                            x-linode-cli-display: 1
                            x-linode-filterable: true
                          ipv4:
                            description: 'IPv4 range in CIDR canonical form.


                              - The range must belong to a private address space as defined in [RFC1918](https://datatracker.ietf.org/doc/html/rfc1918).

                              - Allowed prefix lengths: 1-29.

                              - The range must not overlap with 192.168.128.0/17.

                              - The range must not overlap with other Subnets on the same VPC.'
                            example: 10.0.1.0/24
                            format: ip
                            type: string
                            x-linode-cli-display: 3
                          label:
                            description: '__Filterable__ The VPC subnet''s unique label that is used as an identifier for the VPC subnet.


                              - Must be unique among the VPC''s subnets.

                              - Can only contain ASCII letters, numbers, and dashes (`-`). You can''t use two consecutive dashes (`--`).'
                            example: vpc-subnet-example
                            maxLength: 64
                            minLength: 1
                            type: string
                            x-akamai:
                              labels:
                              - Filterable
                            x-linode-cli-display: 2
                            x-linode-filterable: true
                          linodes:
                            description: '__Read-only__ An array of Linode IDs assigned to the VPC Subnet.


                              A Linode is assigned to a VPC Subnet if it has a Configuration Profile with a `vpc` purpose interface with the subnet''s `subnet_id`. Even if the Configuration Profile is not active, meaning the Linode does not have access to the Subnet, the Linode still appears in this array.'
                            items:
                              additionalProperties: false
                              properties:
                                id:
                                  description: ID of a Linode assigned to the VPC Subnet.
                                  example: 111
                                  type: integer
                                interfaces:
                                  description: VPC purpose interfaces with the subnet's `subnet_id` assigned to the Linode.
                                  items:
                                    additionalProperties: false
                                    properties:
                                      active:
                                        description: Returns `true` if the Interface is in use, meaning that the Linode was powered on using the Configuration Profile to which the Interface belongs. Otherwise returns `false`.
                                        example: true
                                        type: boolean
                                      config_id:
                                        description: The globally general entity identifier for the Linode configuration profile that includes the VPC. If this is a VPC Linode interface, the value is `null`.
                                        example: 4567
                                        type:
                                        - integer
                                        - 'null'
                                      id:
                                        description: ID of the interface.
                                        example: 421
                                        type: integer
                                    type: object
                                  type: array
                              type: object
                            readOnly: true
                            type: array
                            x-linode-cli-display: 5
                          nodebalancers:
                            description: __Read-only__ An array of NodeBalancers assigned to the VPC Subnet.
                            items:
                              additionalProperties: false
                              properties:
                                id:
                                  description: ID of a NodeBalancer assigned to the VPC Subnet.
                                  example: 4444
                                  type: integer
                                ipv4_range:
                                  description: IPv4 range assigned to the NodeBalancer.
                                  example: 192.168.0.20/30
                                  type: string
                                ipv6_ranges:
                                  description: __Read-only__ IPv6 ranges assigned to the NodeBalancers.
                                  items:
                                    additionalProperties: false
                                    properties:
                                      range:
                                        description: An IPv6 address range in CIDR notation.
                                        type: string
                                    type: object
                                  readOnly: true
                                  type:
                                  - array
                                  - 'null'
                              type: object
                              x-linode-cli-display: 7
                            readOnly: true
                            type: array
                          updated:
                            description: __Filterable__, __Read-only__ The date-time of the most recent VPC Subnet update.
                            example: '2023-09-11T00:00:00'
                            format: date-time
                            readOnly: true
                            type:
                            - string
                            - 'null'
                            x-akamai:
                              labels:
                              - Filterable
                            x-linode-filterable: true
                          vpc_type:
                            default: regular
                            description: '__Filterable__, __Read-only__ The network type for this VPC.


                              - `regular`. Standard VPC network for typical compute instances and managed services.

                              - `rdma`. High-speed network dedicated strictly to GPUDirect RDMA clusters.'
                            enum:
                            - regular
                            - rdma
                            readOnly: true
                            type: string
                            x-akamai:
                              labels:
                              - Filterable
                            x-linode-cli-display: 4
                            x-linode-filterable: true
                        title: IPv4 subnets only
                        type: object
                        x-akamai:
                          file-path: schemas/vpc-subnet-ipv4.yaml
                      - additionalProperties: false
                        description: An object describing a VPC Subnet.
                        properties:
                          created:
                            description: __Filterable__, __Read-only__ The date-time of VPC Subnet creation.
                            example: '2023-07-11T00:00:00'
                            format: date-time
                            readOnly: true
                            type: string
                            x-akamai:
                              labels:
                              - Filterable
                            x-linode-filterable: true
                          databases:
                            description: __Read-only__ An array of managed databases assigned to the VPC Subnet.
                            items:
                              additionalProperties: false
                              properties:
                                id:
                                  description: ID of a managed database assigned to the VPC Subnet.
                                  example: 3333
                                  type: integer
                                ipv4_range:
                                  description: IPv4 range assigned to the database.
                                  example: 192.168.0.20/30
                                  type: string
                                ipv6_ranges:
                                  description: __Read-only__ IPv6 ranges assigned to the database.
                                  items:
                                    additionalProperties: false
                                    properties:
                                      range:
                                        description: An IPv6 address range in CIDR notation.
                                        example: 2830:0:0:4::/62
                                        type: string
                                    type: object
                                  readOnly: true
                                  type:
                                  - array
                                  - 'null'
                              type: object
                            readOnly: true
                            type: array
                            x-linode-cli-display: 6
                          id:
                            description: __Filterable__, __Read-only__ The unique ID of the VPC Subnet.
                            example: 456
                            readOnly: true
                            type: integer
                            x-akamai:
                              labels:
                              - Filterable
                            x-linode-cli-display: 1
                            x-linode-filterable: true
                          ipv6:
                            description: 'The IPv6 prefix for the subnet of a `regular` VPC. Options include:


                              - The IPv6 prefix in CIDR notation (such as `2001:db8:115:200::/54`) within the VPC''s allocated IPv6 space. Ensure that this new subnet prefix does not overlap with any existing prefixes owned by other subnets on the same VPC.

                              - The default `auto` allows the system to automatically allocate an IPv6 prefix. This results in the allocation of a `/56` prefix if the VPC has enough aligned, and unallocated space within its prefixes for the request.

                              - A prefix length preceded by a slash (such as `/56`). This results in the allocation of a prefix of the specified length.


                              Optionally, you can specify an `allocation_range` to constrain the area from which the system can allocate the subnet. If you provide an `allocation_range`, the `range` must be any size starting from the VPC prefix length down to `/62`. The final assigned prefix will be within both the VPC''s CIDR block and the `allocation_range`, and must fit entirely within the smallest of the two ranges.


                              Once an IPv6 prefix is assigned to a subnet, it can''t be changed. To modify the prefix, delete and recreate the subnet.'
                            items:
                              additionalProperties: false
                              properties:
                                allocation_range:
                                  description: An IPv6 CIDR block that limits where the subnet can be allocated. It must overlap with the VPC's CIDR block. The `range` must be contained within the smallest of `allocation_range` and the VPC's range.
                                  example: 2001:db8:1234::/56
                                  type: string
                                range:
                                  default: auto
                                  description: "The range to allocate:\n  - A specific IPv6 CIDR, such as `2001:db8::/64`,\n  - The string `\"auto\"` (default),\n  - A prefix length from `/52` to `/62` to request an auto-assigned range of that size.\n\nIf `allocation_range` is set, then `range` must be a prefix length."
                                  enum:
                                  - auto
                                  - /56
                                  - /52
                                  - /53
                                  - /54
                                  - /55
                                  - /57
                                  - /58
                                  - /59
                                  - /60
                                  - /61
                                  - /62
                                  type: string
                              type: object
                            maxItems: 1
                            type: array
                          label:
                            description: '__Filterable__ The VPC subnet''s unique label that is used as an identifier for the VPC subnet.


                              - Must be unique among the VPC''s subnets.

                              - Can only contain ASCII letters, numbers, and dashes (`-`). You can''t use two consecutive dashes (`--`).'
                            example: vpc-subnet-example
                            maxLength: 64
                            minLength: 1
                            type: string
                            x-akamai:
                              labels:
                              - Filterable
                            x-linode-cli-display: 2
                            x-linode-filterable: true
                          linodes:
                            description: '__Read-only__ An array of Linode IDs assigned to the VPC Subnet.


                              A Linode is assigned to a VPC Subnet if it has a Configuration Profile with a `vpc` purpose interface with the subnet''s `subnet_id`. Even if the Configuration Profile is not active, meaning the Linode does not have access to the Subnet, the Linode still appears in this array.'
                            items:
                              additionalProperties: false
                              properties:
                                id:
                                  description: ID of a Linode assigned to the VPC Subnet.
                                  example: 111
                                  type: integer
                                interfaces:
                                  description: VPC purpose interfaces with the subnet's `subnet_id` assigned to the Linode.
                                  items:
                                    additionalProperties: false
                                    properties:
                                      active:
                                        description: Returns `true` if the Interface is in use, meaning that the Linode was powered on using the Configuration Profile to which the Interface belongs. Otherwise returns `false`.
                                        example: true
                                        type: boolean
                                      config_id:
                                        description: The globally general entity identifier for the Linode configuration profile that includes the VPC. If this is a VPC Linode interface, the value is `null`.
                                        example: 4567
                                        type:
                                        - integer
                                        - 'null'
                                      id:
                                        description: ID of the interface.
                                        example: 421
                                        type: integer
                                    type: object
                                  type: array
                              type: object
                            readOnly: true
                            type: array
                            x-linode-cli-display: 5
                          nodebalancers:
                            description: __Read-only__ An array of NodeBalancers assigned to the VPC Subnet.
                            items:
                              additionalProperties: false
                              properties:
                                id:
                                  description: ID of a NodeBalancer assigned to the VPC Subnet.
                                  example: 4444
                                  type: integer
                                ipv4_range:
                                  description: IPv4 range assigned to the NodeBalancer.
                                  example: 192.168.0.20/30
                                  type: string
                                ipv6_ranges:
                                  description: __Read-only__ IPv6 ranges assigned to the NodeBalancers.
                                  items:
                                    additionalProperties: false
                                    properties:
                                      range:
                                        description: An IPv6 address range in CIDR notation.
                                        type: string
                                    type: object
                                  readOnly: true
                                  type:
                                  - array
                                  - 'null'
                              type: object
                              x-linode-cli-display: 7
                            readOnly: true
                            type: array
                          updated:
                            description: __Filterable__, __Read-only__ The date-time of the most recent VPC Subnet update.
                            example: '2023-09-11T00:00:00'
                            format: date-time
                            readOnly: true
                            type:
                            - string
                            - 'null'
                            x-akamai:
                              labels:
                              - Filterable
                            x-linode-filterable: true
                          vpc_type:
                            default: regular
                            description: '__Filterable__, __Read-only__ The network type for this VPC.


                              - `regular`. Standard VPC network for typical compute instances and managed services.

                              - `rdma`. High-speed network dedicated strictly to GPUDirect RDMA clusters.'
                            enum:
                            - regular
                            - rdma
                            readOnly: true
                            type: string
                            x-akamai:
                              labels:
                              - Filterable
                            x-linode-cli-display: 3
                            x-linode-filterable: true
                        title: IPv6 subnets only
                        type: object
                        x-akamai:
[...]
