openapi: 3.2.0
info:
  title: Linode Tags API
  version: '1.0'
  description: 'Operations tagged Tags across 2 of this provider''s published API definitions: linode-api-v4-official-openapi.json, linode-api-v4-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.linode.com
- url: https://api.linode.com/v4
  description: Production Server
tags:
- description: Use tags to organize and group your various Akamai cloud computing services. You can create a common tag and assign it to similar objects on your account to help organize them.
  name: Tags
paths:
  /{apiVersion}/tags:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    x-akamai:
      file-path: paths/tags.yaml
      path-info: /{apiVersion}/tags
    x-linode-cli-command: tags
    post:
      description: 'Creates a new tag and lets you optionally add it to specific objects. Tags are labels you can attach to objects in your account. Use them to specify and group attributes of objects that are relevant to you. Currently, you can add a tag to your `linodes`, your `nodebalancers`, your `reserved_ipv4_addresses`, the `domains` for your Linodes, and the `volumes` on your Linodes.


        > 📘

        >

        > - This operation can only be accessed by account users with _unrestricted_ access. Talk to your local account administrator about access management.

        >

        > - If you don''t add a tag to a supported object with this operation, you can use that object''s update operation to later add the tag you created.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `account:read_write`


        **CLI**


        ```shell

        linode-cli tags create \

        --label ''example tag'' \

        --linodes 123 \

        --linodes 456 \

        --volumes 9082 \

        --volumes 10003 \

        --reserved_ipv4_addresses "192.0.2.141"

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/post-tag
      operationId: post-tag
      requestBody:
        content:
          application/json:
            example:
              domains:
              - 564
              - 565
              label: example tag
              linodes:
              - 123
              - 456
              nodebalancers:
              - 10301
              - 10501
              reserved_ipv4_addresses:
              - 192.0.2.141
              - 192.0.2.142
              volumes:
              - 9082
              - 10003
            schema:
              additionalProperties: false
              properties:
                domains:
                  description: The `id` values for the domains where you want to apply the tag. You need `read_write` access to each domain. If you don't, the API won't create the tag and you'll receive an error. You can run the [List domains](https://techdocs.akamai.com/linode-api/reference/get-domains) operation to store the `id` for desired domains and to review any `tags` currently applied.
                  example:
                  - 564
                  - 565
                  items:
                    type: integer
                  type: array
                label:
                  description: The name of your tag. This is used for display purposes.
                  example: '{{label}}'
                  maxLength: 50
                  minLength: 3
                  type: string
                linodes:
                  description: The `id` values for the Linodes where you want to apply the tag. You need `read_write` access to each Linode. If you don't, the API won't create the tag and you'll receive an error. You can run the [List Linodes](https://techdocs.akamai.com/linode-api/reference/get-linode-instances) operation to store the `id` for desired Linodes and to review any `tags` currently applied.
                  example:
                  - 123
                  - 456
                  items:
                    type: integer
                  type: array
                nodebalancers:
                  description: The `id` values for the NodeBalancers where you want to apply the tag. You need `read_write` access to each NodeBalancer. If you don't, the API won't create the tag and you'll receive an error. You can run the [List NodeBalancers](https://techdocs.akamai.com/linode-api/reference/get-node-balancers) operation to store the `id` for desired NodeBalancers and to review any `tags` currently applied.
                  example:
                  - 10301
                  - 10501
                  items:
                    type: integer
                  type: array
                reserved_ipv4_addresses:
                  description: The reserved IPv4 addresses where you want to apply the tag. Each IP must be reserved on your account before you can tag it. Run the [Reserve a public IPv4 address](https://techdocs.akamai.com/linode-api/reference/post-reserved-ip) operation to reserve one.
                  example:
                  - 192.0.2.141
                  - 192.0.2.142
                  items:
                    format: ipv4
                    type: string
                  type: array
                volumes:
                  description: The `id` values for the Linode volumes where you want to apply the tag. You need `read_write` access to each volume. If you don't, the API won't create the tag and you'll receive an error. You can run the [List volumes](https://techdocs.akamai.com/linode-api/reference/get-volumes) operation to store the `id` for desired Linode volumes and to review any `tags` currently applied.
                  example:
                  - 9082
                  - 10003
                  items:
                    type: integer
                  type: array
              required:
              - label
              type: object
              x-akamai:
                file-path: schemas/added-post-tag.yaml
      responses:
        '200':
          content:
            application/json:
              example:
                label: example tag
              schema:
                additionalProperties: false
                description: A tag you've created to apply to objects on your account. Tags are for organizational purposes only.
                properties:
                  label:
                    description: The name of the tag used for organization of objects on your account.
                    example: example tag
                    type: string
                type: object
                x-akamai:
                  file-path: schemas/tag.yaml
          description: The new tag.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_write
      summary: Create a tag
      tags:
      - Tags
      x-akamai:
        tabs:
        - syntax: "linode-cli tags create \\\n  --label 'example tag' \\\n  --linodes 123 \\\n  --linodes 456 \\\n  --volumes 9082 \\\n  --volumes 10003 \\\n  --reserved_ipv4_addresses \"192.0.2.141\""
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
        - syntax: account:read_write
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action: create
      x-linode-grant: unrestricted only
    get:
      description: 'Returns a paginated list of tags you''ve created on your account. This operation can only be accessed by account users with _unrestricted_ access. Talk to your local account administrator about access management.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `account:read_only`


        **CLI**


        ```shell

        linode-cli tags list

        linode-cli tags ls

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-tags
      operationId: get-tags
      parameters:
      - description: The page of a collection to return.
        example: '{{page}}'
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 6
          minimum: 1
          type: integer
        x-akamai:
          file-path: parameters/page-offset.yaml
      - description: The number of items to return per page.
        example: '{{page_size}}'
        in: query
        name: page_size
        schema:
          default: 100
          example: 50
          maximum: 500
          minimum: 25
          type: integer
        x-akamai:
          file-path: parameters/page-size.yaml
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - label: example tag
                page: 1
                pages: 1
                results: 1
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: A list of objects returned for a response.
                    items:
                      additionalProperties: false
                      description: A tag you've created to apply to objects on your account. Tags are for organizational purposes only.
                      properties:
                        label:
                          description: The name of the tag used for organization of objects on your account.
                          example: example tag
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/tag.yaml
                    type: array
                  page:
                    description: __Read-only__ The current [page](https://techdocs.akamai.com/linode-api/reference/pagination).
                    example: 1
                    readOnly: true
                    type: integer
                  pages:
                    description: __Read-only__ The total number of [pages](https://techdocs.akamai.com/linode-api/reference/pagination).
                    example: 1
                    readOnly: true
                    type: integer
                  results:
                    description: __Read-only__ The total number of results.
                    example: 1
                    readOnly: true
                    type: integer
                type: object
                x-akamai:
                  file-path: schemas/added-get-tags-200.yaml
          description: A paginated list of tags.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_only
      summary: List tags
      tags:
      - Tags
      x-akamai:
        tabs:
        - syntax: 'linode-cli tags list

            linode-cli tags ls'
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
        - syntax: account:read_only
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action:
      - list
      - ls
      x-linode-grant: unrestricted only
    servers:
    - url: https://api.linode.com
  /{apiVersion}/tags/{tagLabel}:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    - description: The `label` of the tag to access.
      example: '{{tagLabel}}'
      in: path
      name: tagLabel
      required: true
      schema:
        example: production
        type: string
      x-akamai:
        file-path: parameters/tag-label-path.yaml
    x-akamai:
      file-path: paths/tag-label.yaml
      path-info: /{apiVersion}/tags/{tagLabel}
    x-linode-cli-command: tags
    get:
      description: 'Returns a paginated list of all objects you''ve tagged with the specified tag. The response includes a mixed collection of all object types. This operation can only be accessed by account users with _unrestricted_ access. Talk to your local account administrator about access management.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `account:read_only`'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-tagged-objects
      operationId: get-tagged-objects
      parameters:
      - description: The page of a collection to return.
        example: '{{page}}'
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 6
          minimum: 1
          type: integer
        x-akamai:
          file-path: parameters/page-offset.yaml
      - description: The number of items to return per page.
        example: '{{page_size}}'
        in: query
        name: page_size
        schema:
          default: 100
          example: 50
          maximum: 500
          minimum: 25
          type: integer
        x-akamai:
          file-path: parameters/page-size.yaml
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - data:
                    alerts:
                      cpu: 180
                      io: 10000
                      network_in: 10
                      network_out: 10
                      transfer_quota: 80
                    backups:
                      available: true
                      enabled: true
                      last_successful: '2018-01-01T00:01:01'
                      schedule:
                        day: Saturday
                        window: W22
                    capabilities:
                    - Block Storage Encryption
                    created: '2018-01-01T00:01:01'
                    disk_encryption: disabled
                    group: Linode-Group
                    has_user_data: true
                    host_uuid: 1a2bcd34e5f67gh8ij901234567kl89mn01opqr2
                    hypervisor: kvm
                    id: 123
                    image: linode/debian13
                    interface_generation: linode
                    ipv4:
                    - 203.0.113.1
                    - 192.0.2.1
                    ipv6: 2001:DB8::/128
                    label: linode123
                    lke_cluster_id: 1
                    placement_group:
                      id: 528
                      label: PG_Miami_failover
                      placement_group_policy: strict
                      placement_group_type: anti_affinity:local
                    region: us-east
                    specs:
                      disk: 81920
                      gpus: 0
                      memory: 4096
                      transfer: 4000
                      vcpus: 2
                    status: running
                    tags:
                    - example tag
                    - another example
                    type: g6-standard-1
                    updated: '2018-01-01T00:01:01'
                    watchdog_enabled: true
                  type: linode
                page: 1
                pages: 1
                results: 1
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: A list of objects returned for a response.
                    items:
                      additionalProperties: false
                      properties:
                        data:
                          description: Details on the specific object `type` the tag is assigned to.
                          oneOf:
                          - additionalProperties: false
                            properties:
                              alerts:
                                additionalProperties: false
                                properties:
                                  cpu:
                                    description: The percentage of CPU usage required to trigger an alert. If the average CPU usage over two hours exceeds this value, we'll send you an alert. Your Linode's total CPU capacity is represented as 100%, multiplied by its number of cores. For example, a two-core Linode's CPU capacity is represented as 200%. If you want to be alerted at 90% of a two-core Linode's CPU capacity, set the alert value to `180`. The default value is 90% multiplied by the number of cores. If the value is set to `0` (zero), the alert is disabled.
                                    example: 180
                                    type: integer
                                  io:
                                    description: The amount of disk IO operation per second required to trigger an alert. If the average disk IO over two hours exceeds this value, we'll send you an alert. If set to `0` (zero), this alert is disabled.
                                    example: 10000
                                    type: integer
                                  network_in:
                                    description: The amount of incoming traffic, in Mbit/s, required to trigger an alert. If the average incoming traffic over two hours exceeds this value, we'll send you an alert. If this is set to `0` (zero), the alert is disabled.
                                    example: 10
                                    type: integer
                                  network_out:
                                    description: The amount of outbound traffic, in Mbit/s, required to trigger an alert. If the average outbound traffic over two hours exceeds this value, we'll send you an alert. If this is set to `0` (zero), the alert is disabled.
                                    example: 10
                                    type: integer
                                  transfer_quota:
                                    description: The percentage of network transfer that may be used before an alert is triggered. When this value is exceeded, we'll alert you. If this is set to `0` (zero), the alert is disabled.
                                    example: 80
                                    type: integer
                                type: object
                              backups:
                                additionalProperties: false
                                description: Information about this Linode's backups status. For information about available backups, run [List backups](https://techdocs.akamai.com/linode-api/reference/get-backups).
                                properties:
                                  available:
                                    description: __Read-only__ Whether backups taken for this Linode are available for restoration. Backups undergoing maintenance are not available for restoration.
                                    example: true
                                    readOnly: true
                                    type: boolean
                                  enabled:
                                    description: __Read-only__ If this Linode has the Backup service enabled. To enable backups, run [Enable backups](https://techdocs.akamai.com/linode-api/reference/post-enable-backups).
                                    example: true
                                    readOnly: true
                                    type: boolean
                                  last_successful:
                                    description: __Read-only__ The last successful backup time. Displayed as `null` if there was no previous backup.
                                    example: '2018-01-01T00:01:01'
                                    readOnly: true
                                    type: string
                                  schedule:
                                    additionalProperties: false
                                    properties:
                                      day:
                                        description: The day of the week that your Linode's weekly backup is taken, either `Scheduling` or a day of the week (`Sunday`, `Monday`, `Tuesday`, `Wednesday`, `Thursday`, `Friday`, `Saturday`). If not set manually, a day will be chosen for you. Backups are taken every day, but backups taken on this day are preferred when selecting backups to retain for a longer period. If you don't set this manually, when backups are initially enabled, this may come back as `Scheduling` until the `day` is automatically selected.
                                        enum:
                                        - Scheduling
                                        - Sunday
                                        - Monday
                                        - Tuesday
                                        - Wednesday
                                        - Thursday
                                        - Friday
                                        - Saturday
                                        example: Saturday
                                        type:
                                        - string
                                        - 'null'
                                      window:
                                        description: When your backups will be taken, in UTC. A backups window is a two-hour span of time in which the backup may occur. Possible values are `W0`, `W2`, `W4`, `W6`, `W8`, `W10`, `W12`, `W14`, `W16`, `W18`, `W20`, and `W22`. For example, `W10` indicates that your backups should be taken between 10:00 and 12:00. If you don't choose a backup window, the API automatically assigns one. If you don't set this manually, when backups are initially enabled, this may come back as `Scheduling` until the `window` is automatically selected.
                                        enum:
                                        - Scheduling
                                        - W0
                                        - W2
                                        - W4
                                        - W6
                                        - W8
                                        - W10
                                        - W12
                                        - W14
                                        - W16
                                        - W18
                                        - W20
                                        - W22
                                        example: W22
                                        type:
                                        - string
                                        - 'null'
                                    type: object
                                type: object
                              capabilities:
                                description: __Limited availability__, __Read-only__ A list of capabilities this Linode supports.
                                example:
                                - Block Storage Encryption
                                items:
                                  type: string
                                readOnly: true
                                type: array
                                x-akamai:
                                  status: LA
                              created:
                                description: __Read-only__ When this Linode was created.
                                example: '2018-01-01T00:01:01'
                                readOnly: true
                                type: string
                              disk_encryption:
                                default: enabled
                                description: __Read-only__ Indicates the local disk encryption setting for this Linode, either `enabled` or `disabled`. If the Linode is part of an LKE cluster, the value is `null`.
                                enum:
                                - enabled
                                - disabled
                                example: disabled
                                readOnly: true
                                type:
                                - string
                                - 'null'
                                x-linode-cli-display: 8
                              group:
                                deprecated: true
                                description: __Deprecated__, __Filterable__ The group label for this Linode.
                                example: Linode-Group
                                type: string
                                x-akamai:
                                  labels:
                                  - Filterable
                                  status: DEPRECATED
                                x-linode-filterable: true
                              has_user_data:
                                description: __Read-only__ Whether this Linode was provisioned with `user_data` provided via the Metadata service. See the [Create a Linode](https://techdocs.akamai.com/linode-api/reference/post-linode-instance) description for more information on Metadata.
                                example: true
                                readOnly: true
                                type: boolean
                              host_uuid:
                                description: __Read-only__ The Linode's host machine identifier.
                                example: 1a2bcd34e5f67gh8ij901234567kl89mn01opqr2
                                readOnly: true
                                type: string
                              hypervisor:
                                description: __Read-only__ The virtualization software powering this Linode. The only value currently supported at this time is `kvm` (Kernel-based Virtual Machine).
                                enum:
                                - kvm
                                example: kvm
                                readOnly: true
                                type: string
                              id:
                                description: __Filterable__, __Read-only__ This Linode's unique identifier, which you need to provide for all operations impacting this Linode.
                                example: 123
                                readOnly: true
                                type: integer
                                x-akamai:
                                  labels:
                                  - Filterable
                                x-linode-cli-display: 1
                                x-linode-filterable: true
                              image:
                                allOf:
                                - description: The identifier assigned to the disk image to be deployed to the new Linode. You can run the [List images](https://techdocs.akamai.com/linode-api/reference/get-images) operation with authentication to view all available images, and store the `id` from the applicable one. Official Linode images start with `linode/`, while any custom images available on your account start with `private/`. To create a disk from a `private/` image, you need `read_only` or `read_write` permissions for it. Run the [Update a user's grants](https://techdocs.akamai.com/linode-api/reference/put-user-grants) operation to adjust permissions for a `private/` image, or talk to your local account administrator.
                                  example: linode/debian9
                                  type:
                                  - string
                                  - 'null'
                                example: linode/debian13
                                readOnly: true
                                x-akamai:
                                  labels:
                                  - Filterable
                                x-linode-cli-display: 5
                                x-linode-filterable: true
                              interface_generation:
                                description: __Filterable__, __Read-only__ Indicates if the Linode is configured to use Linode interfaces (`linode`) or legacy configuration profile interfaces (`legacy_config`).
                                enum:
                                - legacy_config
                                - linode
                                example: linode
                                readOnly: true
                                type: string
                                x-akamai:
                                  labels:
                                  - Filterable
                                x-linode-cli-display: 9
                                x-linode-filterable: true
                              ipv4:
                                description: __Filterable__ This Linode's IPv4 Addresses. Each Linode is assigned a single public IPv4 address upon creation, and may get a single private IPv4 address if needed. You may need to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) to get additional IPv4 addresses. IPv4 addresses may be reassigned between your Linodes, or shared with other Linodes. See the [networking](https://techdocs.akamai.com/linode-api/reference/post-firewalls) operations for details.
                                example:
                                - 203.0.113.1
                                - 192.0.2.1
                                items:
                                  format: ipv4
                                  type: string
                                type: array
                                x-akamai:
                                  labels:
                                  - Filterable
                                x-linode-cli-display: 7
                                x-linode-filterable: true
                              ipv6:
                                description: __Read-only__ This Linode's IPv6 SLAAC address. This address is specific to a Linode, and may not be shared. If the Linode has not been assigned an IPv6 address, the return value will be `null`.
                                example: c001:d00d::1337/128
                                format: ipv6-cidr
                                readOnly: true
                                type:
                                - string
                                - 'null'
                              label:
                                description: '__Filterable__ Provides a name for the Linode. If not provided, the API generates one for it. A Linode label has some constraints:


                                  - It needs to begin and end with an alphanumeric character.


                                  - It can only consist of alphanumeric characters, hyphens (`-`), underscores (`_`), or periods (`.`).


                                  - It can''t contain two consecutive hyphens (`--`), underscores (`__`) or periods (`..`).'
                                example: linode123
                                maxLength: 64
                                minLength: 3
                                pattern: ^[a-zA-Z]((?!--|__|\.\.)[a-zA-Z0-9-_.])+$
                                type: string
                                x-akamai:
                                  labels:
                                  - Filterable
                                x-linode-cli-display: 2
                                x-linode-filterable: true
                              lke_cluster_id:
                                description: __Read-only__ The ID of the Kubernetes cluster if the Linode is part of cluster.
                                example: 1
                                readOnly: true
                                type:
                                - integer
                                - 'null'
                              maintenance_policy:
                                description: The maintenance policy configured by the user for this Linode. Review [maintenance policy](https://techdocs.akamai.com/cloud-computing/docs/host-maintenance-policy) documentation for more details.
                                enum:
                                - linode/migrate
                                - linode/power_off_on
                                example: linode/migrate
                                type: string
                              placement_group:
                                additionalProperties: false
                                description: __Read-only__ Details on the [placement group](https://www.linode.com/docs/products/compute/compute-instances/guides/placement-groups/) that this Linode belongs to. Empty if the Linode isn't in a placement group.
                                properties:
                                  id:
                                    description: The placement group's ID. You need to provide it for all operations that affect it.
                                    example: 528
                                    type: integer
                                    x-linode-cli-display: null
                                  label:
                                    description: '__Filterable__ The unique name set for the placement group. A label has these constraints:


                                      - It needs to begin and end with an alphanumeric character.

                                      - It can only consist of alphanumeric characters, hyphens (`-`), underscores (`_`), or periods (`.`).'
                                    example: PG_Miami_failover
                                    minLength: 1
                                    type: string
                                    x-akamai:
                                      labels:
                                      - Filterable
                                    x-linode-cli-display: 10
                                    x-linode-filterable: true
                                  placement_group_policy:
                                    description: 'How requests to add future Linodes to your placement group are handled, and whether it remains compliant:


                                      - `strict`. Don''t assign a new Linode if it breaks the grouped-together or spread-apart model set by the `placement_group_type`. Use this to ensure the placement group stays compliant (`is_compliant: true`).

                                      - `flexible`. Assign a new Linode, even if it breaks the grouped-together or spread-apart model set by the `placement_group_type`. This makes the group non-compliant (`is_compliant: false`). You need to wait for Akamai to move the offending Linode to make it compliant again, once the necessary capacity is available in the region. Offers flexibility to add future Linodes if compliance isn''t an immediate concern.


                                      <<LB>>


                                      > 📘

                                      >

                                      > In rare cases, non-compliance can occur with a `strict` placement group if Akamai needs to failover or migrate your Linodes for maintenance. Fixing non-compliance for a `strict` placement group is prioritized over a `flexible` group.'
                                    enum:
                                    - strict
                                    - flexible
                                    example: strict
                                    type: string
                                    x-linode-cli-display: null
                                  placement_group_type:
                                    description: '__Filterable__, __Read-only__ How Linodes are distributed in your placement group. A `placement_group_type` using anti-affinity (`anti_affinity:local`) places Linodes in separate hosts, but still in the same region. This best supports the spread-apart model for high availability. A `placement_group_type` using affinity places Linodes physically close together, possibly on the same host. This supports the grouped-together model for low-latency.


                                      > 📘

                                      >

                                      > Currently, only `anti_affinity:local` is available for `placement_group_type`.'
                                    enum:
                                    - anti_affinity:local
                                    example: anti_affinity:local
                                    readOnly: true
                                    type: string
                                    x-akamai:
                                      labels:
                                      - Filterable
                                    x-linode-cli-display: null
                                    x-linode-filterable: true
                                readOnly: true
                                type:
                                - object
                                - 'null'
                              region:
                                description: __Filterable__, __Read-only__ The [region](https://techdocs.akamai.com/linode-api/reference/get-regions) where you've deployed the Linode. A `region` can only be changed by [migrating to a new data center](https://techdocs.akamai.com/linode-api/reference/post-migrate-linode-instance).
                                example: us-east
                                readOnly: true
                                type: string
                                x-akamai:
                                  labels:
                                  - Filterable
                                x-linode-cli-display: 3
                                x-linode-filterable: true
                              site_type:
                                description: __Read-only__ The Linode region's site type. A `core` region indicates a traditional cloud computing [region](https://www.linode.com/docs/products/platform/get-started/guides/choose-a-data-center/#product-availability) that offers all compute services. A `distributed` region indicates sites that are globally dispersed to be closer to end users and workloads. These regions offer limited services.
                                enum:
                                - core
                                - distributed
                                example: core
                                readOnly: true
                                type: string
                              specs:
                                additionalProperties: false
                                description: __Read-only__ Information about the resources available to this Linode.
                                properties:
                                  accelerated_devices:
                                    description: __Read-only__ The number of video processing units (VPU) this Linode has access to. This applies to a NETINT Quadra T1U VPU-backed [accelerated Linode](https://techdocs.akamai.com/cloud-computing/docs/accelerated-compute-instances). Displayed as `0` for all non-accelerated Linodes.
                                    example: 0
                                    readOnly: true
                                    type: integer
                                  disk:
                                    description: __Read-only__ The amount of storage space, in MB, this Linode has access to. A typical Linode divides this space between a primary disk with an `image` deployed to it, and a swap disk, usually 512 MB. This is the default configuration created when deploying a Linode with an `image` through [Create a Linode](https://techdocs.akamai.com/linode-api/reference/post-linode-instance). While this configuration is suitable for most use cases, if you need finer control over your Linode's disks, see the [List disks](https://techdocs.akamai.com/linode-api/reference/get-linode-disks) operations.
                                    example: 81920
                                    readOnly: true
                                    type: integer
                                  gpus:
                                    description: __Read-only__ The number of graphical processing units (GPU) this Linode has access to. This applies to a [GPU Linode](https://techdocs.akamai.com/cloud-computing/update/docs/gpu-compute-instances). Displayed as `0` for all non-GPU Linodes.
                                    example: 0
                                    readOnly: true
                                    type: integer
                                  memory:
                                    description: __Read-only__ The amount of RAM, in MB, this Linode has access to. Typically, a Linode boots with all of its available RAM, but this can be configured in a config profile. See the [List config profiles](https://techdocs.akamai.com/linode-api/reference/get-linode-configs) operation for more information.
                                    example: 4096
                                    readOnly: true
                                    type: integer
                                  transfer:
                                    description: __Read-only__ The amount of network transfer this Linode is allotted each month.
                                    example: 4000
                                    readOnly: true
                                    type: integer
                                  vcpus:
                                    description: __Read-only__ The number of virtual central processing units (vCPU) this Linode has access to. This applies to a [high memory Linode](https://techdocs.akamai.com/cloud-computing/update/docs/high-memory-compute-instances). Displayed as `0` for all non-high memory Linodes.
                                    example: 2
                                    readOnly: true
                                    type: integer
                                readOnly: true
                                type: object
                              status:
                                description: '__Read-only__ A brief description of the Linode''s current state. This value can change without direct action from you. For example, when a Linode goes into maintenance mode, its status is `stopped`. Status is generally self-explanatory, based on its name.


                                  - `busy` indicates you''ve assigned the Linode to a [placement group](https://techdocs.akamai.com/cloud-computing/docs/work-with-placement-groups), but the Linode is currently booting. Once the boot completes, the API completes the assignment and updates the Linode''s `status` accordingly.


                                  - `provisioning` indicates that the API is applying operating system or Marketplace applications on the Linode.


                                  - `billing_suspension` indicates that payment is past due on the Linode, so we''ve suspended its use.'
                                enum:
                                - running
                                - offline
                                - booting
                                - busy
                                - rebooting
                                - shutting_down
                                - provisioning
                                - deleting
                                - migrating
                                - rebuilding
                                - cloning
                                - restoring
                                - stopped
                                - billing_suspension
                                example: running
                                readOnly: true
                                type: string
                                x-linode-cli-color:
                                  billing_suspension: red
                                  default_: yellow
                                  offline: red
                                  running: green
                                x-linode-cli-display: 6
                              tags:
                                description: __Filterable__ Tags to help you organize your content.
                                example:
                                - example tag
                                - another example
                                items:
                                  type: string
                                type: array
                                x-akamai:
                                  labels:
                                  - Filterable
                                x-linode-filterable: true
                              type:
                                description: __Read-only__ The [type](https://techdocs.akamai.com/linode-api/reference/get-linode-types) that this Linode was deployed with. To change a Linode's type, use [Resize a Linode](https://techdocs.akamai.com/linode-api/reference/post-resize-linode-instance).
                                example: g6-standard-1
                                readOnly: true
                                type: string
                                x-linode-cli-display: 4
                              updated:
                                description: __Read-only__ When this Linode was last updated.
                                example: '2018-01-01T00:01:01'
                                readOnly: true
                                type: string
                              watchdog_enabled:
                                description: The watchdog, named Lassie, is a Shutdown Watchdog that monitors your Linode and reboots it if it powers off unexpectedly. It works by issuing a boot job when your Linode powers off without a shutdown job being responsible. To prevent a loop, Lassie gives up if there have been more than 5 boot jobs issued within 15 minutes.
                                example: true
                                type: boolean
                            title: Linode
                            type: object
                            x-akamai:
                              file-path: schemas/linode.yaml
                          - additionalProperties: false
                            description: A domain zonefile in our DNS system.  You must own the domain name and tell your registrar to use Linode's nameservers in order for a domain in our system to be treated as authoritative.
                            properties:
                              axfr_ips:
                                description: 'The list of IPs that may perform a zone transfer for this domain. The total combined length of all data within this array cannot exceed 1000 characters.


                                  > 📘

                                  >

                                  > This is potentially dangerous, and should be set to an empty list unless you intend to use it.'
                                example: []
                                items:
                                  format: ip
                                  type: string
                                type: array
                              description:
                                description: A description for this domain. This is for display purposes only.
                                example: null
                                maxLength: 253
                                minLength: 1
                                type:
                                - string
                                - 'null'
                              domain:
                                description: __Filterable__ The domain this domain represents. domain labels cannot be longer than 63 characters and must conform to [RFC1035](https://tools.ietf.org/html/rfc1035). domains must be unique on Linode's platform, including across different Linode accounts; there cannot be two domains representing the same domain.
                                example: example.org
                                maxLength: 253
                                minLength: 1
                                pattern: ^(\*\.)?([a-zA-Z0-9-_]{1,63}\.)+([a-zA-Z]{2,3}\.)?([a-zA-Z]{2,16}|xn--[a-zA-Z0-9]+)$
                                type: string
                                x-akamai:
                                  labels:
                                  - Filterable
                                x-linode-cli-display: 2
                                x-linode-filterable: true
                              expire_sec:
                                default: 0
                                description: 'The amount of time in seconds that may pass before this domain is no longer authoritative.


                                  - Valid values are 0, 30, 120, 300, 3600, 7200, 14400, 28800, 57600, 86400, 172800, 345600, 604800, 1209600, and 2419200.


                                  - Any other value is rounded up to the nearest valid value.


                                  - A value of 0 is equivalent to the default value of 1209600.'
                                example: 300
                                type: integer
                              group:
                                deprecated: true
                                description: __Deprecated__, __Filterable__ The group this domain belongs to.  This is for display purposes only.
                                example: null
                                maxLength: 50
                                minLength: 1
                                type:
                                - string
                                - 'null'
                                x-akamai:
                                  labels:
                                  - Filterable
                                  status: DEPRECATED
                                x-linode-filterable: true
                              id:
                                description: __Read-only__ This domain's unique ID.
                                example: 1234
                                readOnly: true
                                type: integer
                                x-linode-cli-display: 1
                              master_ips:
                                description: The IP addresses representing the master DNS for this domain. At least one value is required for `type` slave domains. The total combined length of all data within this array cannot exceed 1000 characters.
                                example: []
                                items:
                                  format: ip
                                  type: string
                                type: array
                              refresh_sec:
                                default: 0
                                description: 'The amount of time in seconds before this domain should be refreshed.


                                  - Valid values are 0, 30, 120, 300, 3600, 7200, 14400, 28800, 57600, 86400, 172800, 345600, 604800, 1209600, and 2419200.


                                  - Any other value is rounded up to the nearest valid value.


                                  - A value of 0 is equivalent to the default value of 14400.'
                                example: 300
                                type: integer
                              retry_sec:
                                default: 0
                                description: 'The interval, in seconds, at which a failed refresh should be retried.


                                  - Valid values are 0, 30, 120, 300, 3600, 7200, 14400, 28800, 57600, 86400, 172800, 345600, 604800, 1209600, and 2419200.


                                  - Any other value is rounded up to the nearest valid value.


                                  - A value of 0 is equivalent to the default value of 14400.'
                                example: 300
                                type: integer
                              soa_email:
                                description: Start of Authority email address. This is required for `type` master domains.
                                example: admin@example.org
                                format: email
                                type: string
                                x-linode-cli-display: 5
                              status:
                                default: active
                                description: Indicates whether this domain is currently being rendered, either `active` or `disabled`.
                                enum:
                                - disabled
                                - active
                                example: active
                                type: string
                                x-linode-cli-color:
                                  active: green
                                  default_: red
                                  disabled: yellow
                                  edit_mode: yellow
                                x-linode-cli-display: 4
                              tags:
                                description: __Filterable__ An array of tags applied to this object.  Tags are for organizational purposes only.
                                example:
                                - example tag
                                - another example
                                items:
                                  type: string
                                type: array
                                x-akamai:
                                  labels:
                                  - Filterable
                                x-linode-filterable: true
                              ttl_sec:
                                default: 0
                                description: '"Time to Live" - the amount of time in seconds that this domain''s records may be cached by resolvers or other domain servers.


                                  - Valid values are 0, 30, 120, 300, 3600, 7200, 14400, 28800, 57600, 86400, 172800, 345600, 604800, 1209600, and 2419200.


                                  - Any other value is rounded up to the nearest valid value.


                                  - A value of 0 is equivalent to the default value of 86400.'
                                example: 300
                                type: integer
                              type:
                                description: Whether this domain represents the authoritative source of information for the domain it describes (`master`), or whether it is a read-only copy of a master (`slave`).
                                enum:
                                - master
                                - slave
                                example: master
                                type: string
                                x-linode-cli-display: 3
                            title: Domain
                            type: object
                            x-akamai:
                              file-path: schemas/domain.yaml
                          - additionalProperties: false
                            description: A Block Storage volume on your account.
                            properties:
                              created:
                                description: __Read-only__ When this volume was created.
                                example: '2025-01-01T00:01:01'
                                readOnly: true
                                type: string
                              encryption:
                                description: __Read-only__ Indicates whether encryption is `enabled` or `disabled` on this volume.
                                enum:
                                - enabled
                                - disabled
                                example: enabled
                                readOnly: true
                                type: string
                                x-linode-cli-display: 8
                              filesystem_path:
                                description: __Read-only__ The full file system path for the volume, based on its `label`. The path is `/dev/disk/by-id/scsi-0Linode_Volume_label`.
                                example: /dev/disk/by-id/scsi-0Linode_Volume_my-volume
                                readOnly: true
                                type: string
                              hardware_type:
                                description: __Read-only__ The storage type of this volume. This can be either `hdd` to emulate a hard disk drive for the volume, or `nvme` to emulate a non-volatile memory express solid state drive.
                                enum:
                                - hdd
                                - nvme
                                example: nvme
                                readOnly: true
                                type: string
                              id:
                                description: __Read-only__ The unique identifier for the volume.
                                example: 12345
                                readOnly: true
                                type: integer
                                x-linode-cli-display: 1
                              io_ready:
                                description: __Read-only__ Indicates whether the volume is successfully attached to a Linode and ready for read and write operations.
                                example: true
                                readOnly: true
                                type: boolean
                              label:
                                description: __Filterable__ The name of the volume. A `label` can be up to 32 characters long and contain alphanumeric characters, dashes, and underscores. This value is also used in the volume's `filesystem_path`.
                                example: my-volume
                                maxLength: 32
                                minLength: 1
                                pattern: ^[a-zA-Z]((?!--|__)[a-zA-Z0-9-_])+$
                                type: string
                                x-akamai:
                                  labels:
                                  - Filterable
                                x-linode-cli-display: 2
                                x-linode-filterable: true
                              linode_id:
                                description: The unique identifier of the Linode this volume is attached to, if applicable.
                                example: 12346
                                type:
                                - integer
                                - 'null'
                                x-linode-cli-display: 6
                              linode_label:
                                description: __Read-only__ The name of the Linode this volume is attached to, if applicable.
                                example: linode123
                                readOnly: true
                                type:
                                - string
                                - 'null'
                                x-linode-cli-display: 7
                              locks:
                                description: '__Beta__ A resource lock applied to the Block Storage volume. You can optionally [set up this lock](https://techdocs.akamai.com/linode-api/reference/post-resource-lock) to prevent you from inadvertently deleting the volume. Supported values here include:


                                  - `cannot_delete`. The volume itself can''t be deleted. Any sub-resources assigned to it can be freely deleted. You need to unlock the volume by [deleting its lock](https://techdocs.akamai.com/linode-api/reference/delete-resource-lock) to delete the volume.


                                  - `cannot_delete_with_subresources`.  The volume and various sub-resources assigned to it can''t be deleted. For example, if a volume has a configuration profile interface assigned to it, this lock prevents you from deleting either of them. You need to unlock the resource (the volume) by deleting its lock. Then you can delete the volume and any of its sub-resources.


                                  - **Empty**. The volume doesn''t have a resource lock configured. This is also empty when you clone a volume, because resource lock settings aren''t carried to the cloned volume.


                                  > 📘

                                  >

                                  > This array appears for a volume only if you call this operation using the `v4beta` path parameter in the URL.'
                                example:
                                - cannot_delete
                                items:
                                  enum:
                                  - cannot_delete
                                  - cannot_delete_with_subresources
                                  type: string
                                type: array
                                x-akamai:
                                  status: BETA
                              region:
                                description: The unique identifier for the region where the volume lives.
                                example: us-iad
                                type: string
                                x-linode-cli-display: 5
                              size:
                                description: The volume's size, in gigabytes.
                                example: 30
                                maximum: 10240
                                type: integer
                                x-linode-cli-display: 4
                              status:
                                description: '__Read-only__ The current status of the volume. This can be one of:


                                  - `creating`. The API is creating the volume and it''s not ready for use.


                                  - `active`. The volume is online and ready for use.


                                  - `resizing`. The volume''s capacity is being upgraded.


                                  - `key_rotating`. The volume''s encryption keys are being rotated to new values. Requests to resize, delete, or clone a volume fail during encryption key rotation.'
                                enum:
                                - creating
                                - active
                                - resizing
                                - key_rotating
                                example: active
                                readOnly: true
                                type: string
                                x-linode-cli-color:
                                  active: green
                                  contact_support: red
                                  default_: yellow
                                x-linode-cli-display: 3
                              tags:
                                description: __Filterable__ Any tags applied to this object. Use [tags](https://techdocs.akamai.com/linode-api/reference/post-tag) to label and organize your cloud computing resources.
                                example:
                                - blk-stg-volume-1
                                - videos-storage
                                items:
                                  type: string
                                type: array
                                x-akamai:
                                  labels:
                                  - Filterable
                                x-linode-filterable: true
                              updated:
                                description: __Read-only__ When this volume was last updated.
                                example: '2025-01-01T00:01:01'
                                readOnly: true
                                type: string
                            title: Volume
                            type: object
                            x-akamai:
                              file-path: schemas/volume.yaml
                          - additionalProperties: false
                            description: Linode's load balancing solution. Can handle multiple ports, SSL termination, and any number of backends. NodeBalancer ports are configured with NodeBalancer configs, and each config is given one or more NodeBalancer nodes that accepts traffic.  The traffic should be routed to the NodeBalancer's IP address, for the NodeBalancer to handle routing individual requests to backends.
                            properties:
                              client_conn_throttle:
                                description: Throttle TCP connections per second for TCP, HTTP, and HTTPS configurations.  Set to `0` (zero) to disable throttling.
                                example: 10
                                maximum: 20
                                minimum: 0
                                type: integer
                                x-linode-cli-display: 9
                              created:
                                description: __Read-only__ When this NodeBalancer was created.
                                example: '2018-01-01T00:01:01'
                                readOnly: true
                                type: string
                              hostname:
                                description: __Read-only__ This NodeBalancer's hostname, beginning with its IP address and ending with _.ip.linodeusercontent.com_.
                                example: 192.0.2.141.ip.linodeusercontent.com
                                readOnly: true
                                type: string
                                x-linode-cli-display: 5
                              id:
                                description: __Read-only__ This NodeBalancer's unique ID.
                                example: 12345
                                readOnly: true
                                type: integer
                                x-linode-cli-display: 1
                              ipv4:
                                description: __Filterable__, __Read-only__ This NodeBalancer's public IPv4 address.
                                example: 192.0.2.141
                                format: ip
                                readOnly: true
                                type: string
                                x-akamai:
                                  labels:
                                  - Filterable
                                x-linode-cli-display: 6
                                x-linode-filterable: true
                              ipv6:
                                description: __Read-only__ This NodeBalancer's public IPv6 address.
                                example: null
                                format: ip
                                readOnly: true
                                type:
                                - string
                                - 'null'
                                x-linode-cli-display: 7
                              label:
                                description: __Filterable__ This NodeBalancer's label. These must be unique on your Account.
                                example: balancer12345
                                maxLength: 32
                                minLength: 3
                                pattern: '[a-zA-Z0-9-_]{3,32}'
                                type: string
                                x-akamai:
                                  labels:
                                  - Filterable
                                x-linode-cli-display: 2
                                x-linode-filterable: true
                              lke_cluster:
                                additionalProperties: false
                                description: __Read-only__ This NodeBalancer's related LKE cluster, if any. The value is `null` if this NodeBalancer isn't related to an LKE cluster.
                                properties:
                                  id:
                                    description: The ID of the related LKE cluster.
                                    example: 12345
                                    type: integer
                                  label:
                                    description: The label of the related LKE cluster.
                                    example: lkecluster12345
                                    type: string
                                  type:
                                    description: __Read-only__ The type for LKE clusters.
                                    example: lkecluster
                                    readOnly: true
                                    type: string
                                  url:
                                    description: The URL where you can access the related LKE cluster.
                                    example: /v4/lke/clusters/12345
                                    type: string
                                readOnly: true
                                type:
                                - object
                                - 'null'
                                x-linode-cli-display: 8
                              locks:
                                description: __Beta__, __Filterable__, __Read-only__ Indicates if this NodeBalancer is protected by a lock to prevent accidental deletion. If the NodeBalancer has a `cannot_delete` lock, it can't be deleted, but its configurations and backend nodes can. If the NodeBalancer has a `cannot_delete_with_subresources` lock, both the NodeBalancer and attached resources such as configurations and backend nodes can't be deleted. Only account administrators can remove locks using the [Delete a resource lock](https://techdocs.akamai.com/linode-api/reference/delete-resource-lock) operation.
                                example:
                                - cannot_delete
                                items:
                                  enum:
                                  - cannot_delete_with_subresources
                                  - cannot_delete
                                  type: string
                                readOnly: true
                                type:
                                - array
                                - 'null'
                                x-akamai:
                                  labels:
                                  - Filterable
                                  status: BETA
                                x-linode-cli-display: 11
                                x-linode-filterable: true
                              region:
                                description: __Filterable__, __Read-only__ The Region where this NodeBalancer is located. NodeBalancers only support backends in the same Region.
                                example: us-east
                                readOnly: true
                                type: string
                                x-akamai:
                                  labels:
                                  - Filterable
                                x-linode-cli-display: 3
                                x-linode-filterable: true
                              tags:
                                description: __Filterable__ An array of Tags applied to this object.  Tags are for organizational purposes only.
                                example:
                                - example tag
                                - another example
                                items:
                                  type: string
                                type: array
                                x-akamai:
                                  labels:
                                  - Filterable
                                x-linode-filterable: true
                              transfer:
                                additionalProperties: false
                                description: __Read-only__ Information about the amount of transfer this NodeBalancer has had so far this month.
                                properties:
                                  in:
                                    description: __Read-only__ The total outbound transfer, in MB, used for this NodeBalancer this month.
                                    example: 28.91200828552246
                                    readOnly: true
                                    type:
                                    - number
                                    - 'null'
                                  out:
                                    description: __Read-only__ The total inbound transfer, in MB, used for this NodeBalancer this month.
                                    example: 3.5487728118896484
                                    readOnly: true
                                    type:
                                    - number
                                    - 'null'
                                  total:
                                    description: __Read-only__ The total transfer, in MB, used by this NodeBalancer this month.
                                    example: 32.46078109741211
                                    readOnly: true
                                    type:
                                    - number
                                    - 'null'
                                readOnly: true
                                type: object
                              type:
                                description: __Read-only__ The type of NodeBalancer.
                                enum:
                                - common
                                - premium
                                example: premium
                                readOnly: true
                                type: string
                                x-linode-cli-display: 4
                              updated:
                                description: __Read-only__ When this NodeBalancer was last updated.
                                example: '2018-03-01T00:01:01'
                                readOnly: true
                                type: string
                            title: NodeBalancer
                            type: object
                            x-akamai:
                              file-path: schemas/node-balancer.yaml
                          - additionalProperties: false
                            description: A reserved public IPv4 address that can be assigned to any Linode or NodeBalancer in the same region.
                            properties:
                              address:
                                description: __Filterable__, __Read-only__ The reserved public IPv4 address.
                                example: 192.0.2.141
                                format: ip
                                readOnly: true
                                type: string
                                x-akamai:
                                  labels:
                                  - Filterable
                                x-linode-cli-display: 1
                              assigned_entity:
                                additionalProperties: false
                                description: __Read-only__ Identifies which resource a specific IP address is currently attached to.
                                properties:
                                  id:
                                    description: The unique identifier for the resource.
                                    example: 1234
                                    type: integer
                                  label:
                                    description: The name of the entity.
                                    example: demo-linode
                                    type: string
                                  type:
                                    description: The type of entity.
                                    enum:
                                    - linode
                                    - nodebalancer
                                    example: nodebalancer
                                    type: string
                                  url:
                                    description: The API URL path you can use to access this entity.
                                    example: /v4/nodebalancer/1234
                                    type: string
                                readOnly: true
                                type:
                                - object
                                - 'null'
                                x-linode-cli-display: 10
                              gateway:
                                description: __Read-only__ The default gateway for this address.
                                example: 192.0.2.1
                                format: ip
                                readOnly: true
                                type:
                                - string
                                - 'null'
                              interface_id:
                                description: __Read-only__ The Linode interface ID that this IP address is assigned to.
                                example: 456
                                readOnly: true
                                type:
                                - integer
                                - 'null'
                                x-linode-cli-display: 7
                              linode_id:
                                description: __Read-only__ The ID of the Linode this address is assigned to.
                                example: 123
                                readOnly: true
                                type:
                                - integer
                                - 'null'
                                x-linode-cli-display: 6
                              prefix:
                                description: __Read-only__ The number of bits set in the subnet mask. This prefix refers to the subnet mask of the network to which the IP belongs, and not the size of the IP reservation.
                                example: 24
                                readOnly: true
                                type: integer
                              public:
                                description: __Read-only__ Whether this is a public or private IP address. Reserved IPs are public.
                                example: true
                                readOnly: true
                                type: boolean
                                x-linode-cli-display: 3
                              rdns:
                                description: __Filterable__ The reverse DNS assigned to this address. For public IPv4 addresses, this will be set to a default value provided by Linode if not explicitly set.
                                example: test.example.org
                                type:
                                - string
                                - 'null'
                                x-akamai:
                                  labels:
                                  - Filterable
                                x-linode-cli-display: 4
                              region:
                                description: __Filterable__, __Read-only__ The region this IP address resides in.
                                example: us-east
                                readOnly: true
                                type: string
                                x-akamai:
                                  labels:
                                  - Filterable
                                x-linode-cli-display: 5
                              reserved:
                                description: __Filterable__, __Read-only__ Indicates whether this public IPv4 address is a reserved IP. Unlike ephemeral addresses, a reserved IP is a persistent, static address that remains assigned to your account even if the associated resource is deleted.
                                example: true
                                readOnly: true
                                type: boolean
                                x-akamai:
                                  labels:
                                  - Filterable
                                x-linode-cli-display: 8
                              subnet_mask:
                                description: __Read-only__ The mask that separates host bits from network bits for this address.
                                example: 255.255.255.0
                                format: ip
                                readOnly: true
                                type: string
                              tags:
                                description: __Filterable__, __Read-only__ A list of tags that apply to this IP.
                                example:
                                - NB1
                                - Linode1
                                items:
                                  type: string
                                readOnly: true
                                type: array
                                x-akamai:
                                  labels:
                                  - Filterable
                                x-linode-cli-display: 9
                              type:
                                description: __Read-only__ The type of address this is.
                                enum:
                                - ipv4
                                example: ipv4
                                readOnly: true
                                type: string
                                x-linode-cli-display: 2
                              vpc_nat_1_1:
                                additionalProperties: false
                                description: __Read-only__ IPv4 address configured as a 1:1 NAT for this Interface.
                                properties:
                                  address:
                                    description: The IPv4 address that is configured as a 1:1 NAT for this VPC interface.
                                    example: 192.168.0.42
                                    format: ipv4
                                    type: string
                                  subnet_id:
                                    description: The `id` of the VPC subnet for this interface.
                                    example: 101
                                    type: integer
                                  vpc_id:
                                    description: __Read-only__ The `id` of the VPC configured for this interface.
                                    example: 111
                                    readOnly: true
                                    type: integer
                                readOnly: true
                                type:
                                - object
                                - 'null'
                                x-linode-cli-display: 11
                            title: Reserved IPs
                            type: object
                            x-akamai:
                              file-path: schemas/reserved-ip-address.yaml
                        type:
                          description: The type of object the tag is applied to, either `linode`, `domain`, `volume`, `nodebalancer`, or `reserved_ipv4_address`.
                          enum:
                          - domain
                          - linode
                          - nodebalancer
                          - volume
                          - reserved_ipv4_address
                          example: linode
                          type: string
                      type: object
                    type: array
                  page:
                    description: __Read-only__ The current [page](https://techdocs.akamai.com/linode-api/reference/pagination).
                    example: 1
                    readOnly: true
                    type: integer
                  pages:
                    description: __Read-only__ The total number of [pages](https://techdocs.akamai.com/linode-api/reference/pagination).
                    example: 1
                    readOnly: true
                    type: integer
                  results:
                    description: __Read-only__ The total number of results.
                    example: 1
                    readOnly: true
                    type: integer
                type: object
                x-akamai:
                  file-path: schemas/added-get-tagged-objects-200.yaml
          description: A paginated list of objects, organized by type, that have been tagged with the requested tag.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_only
      summary: List tagged objects
      tags:
      - Tags
      x-akamai:
        tabs:
        - syntax: account:read_only
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-command: view
    delete:
      description: 'Deletes the tag and removes it from all tagged objects and reserved IPs. This doesn''t delete the objects or reserved IPs. This operation can only be accessed by account users with _unrestricted_ access. Talk to your local account administrator about access management.


        > 📘

        >

        > Tags without any related objects are periodically cleaned up by the system.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `account:read_write`


        **CLI**


        ```shell

        linode-cli tags delete

        linode-cli tags rm

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/delete-tag
      operationId: delete-tag
      responses:
        '200':
          content:
            application/json:
              example: {}
              schema:
                description: The API responds with an empty object.
                maxProperties: 0
                type: object
                x-akamai:
                  file-path: schemas/added-empty-obj.yaml
          description: Tag deleted.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_write
      summary: Delete a tag
      tags:
      - Tags
      x-akamai:
        tabs:
        - syntax: 'linode-cli tags delete

            linode-cli tags rm'
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
        - syntax: account:read_write
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action:
      - delete
      - rm
    servers:
    - url: https://api.linode.com
  /tags:
    get:
      operationId: getTags
      summary: List tags
      description: Returns a paginated list of tags on your account.
      tags:
      - Tags
      parameters:
      - $ref: '#/components/parameters/pageParam'
      - $ref: '#/components/parameters/pageSizeParam'
      responses:
        '200':
          description: Tags retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTagList'
        '401':
          description: Unauthorized - invalid or missing authentication
      security:
      - personalAccessToken: []
      - oauth: []
    post:
      operationId: createTag
      summary: Create a tag
      description: Creates a new tag and optionally assigns it to specified resources.
      tags:
      - Tags
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagRequest'
      responses:
        '200':
          description: Tag created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
        '400':
          description: Bad request - invalid parameters
        '401':
          description: Unauthorized - invalid or missing authentication
      security:
      - personalAccessToken: []
      - oauth: []
    servers:
    - url: https://api.linode.com/v4
      description: Production Server
  /tags/{label}:
    delete:
      operationId: deleteTag
      summary: Delete a tag
      description: Deletes a tag from your account. The tag will be removed from all resources it was assigned to.
      tags:
      - Tags
      parameters:
      - name: label
        in: path
        required: true
        schema:
          type: string
        description: The label of the tag to delete.
      responses:
        '200':
          description: Tag deleted successfully
        '401':
          description: Unauthorized - invalid or missing authentication
        '404':
          description: Tag not found
      security:
      - personalAccessToken: []
      - oauth: []
    servers:
    - url: https://api.linode.com/v4
      description: Production Server
components:
  schemas:
    Pagination:
      type: object
      properties:
        page:
          type: integer
          description: The current page number.
        pages:
          type: integer
          description: The total number of pages.
        results:
          type: integer
          description: The total number of results.
    PaginatedTagList:
      allOf:
      - $ref: '#/components/schemas/Pagination'
      - type: object
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/Tag'
    TagRequest:
      type: object
      required:
      - label
      properties:
        label:
          type: string
          minLength: 3
          maxLength: 100
          description: The tag label.
        linodes:
          type: array
          items:
            type: integer
          description: Linode IDs to tag.
        domains:
          type: array
          items:
            type: integer
          description: Domain IDs to tag.
        volumes:
          type: array
          items:
            type: integer
          description: Volume IDs to tag.
        nodebalancers:
          type: array
          items:
            type: integer
          description: NodeBalancer IDs to tag.
    Tag:
      type: object
      properties:
        label:
[...]
