openapi: 3.2.0
info:
  description: Add a Cloud Computing instance so you can build, release, and scale applications faster with virtual machines.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: 'Akamai: Linode Legacy clusters API'
  version: 4.229.1
servers:
- url: https://api.linode.com
tags:
- description: Clusters refer to the legacy methodology Object Storage used, before moving Object Storage to our actual data centers (regions). These operations have been deprecated and only apply if you're still using this legacy format.
  name: Legacy clusters
paths:
  /{apiVersion}/object-storage/clusters:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    x-akamai:
      file-path: paths/object-storage-clusters.yaml
      path-info: /{apiVersion}/object-storage/clusters
    x-linode-cli-command: object-storage
    get:
      deprecated: true
      description: '__Deprecated__ Returns a paginated list of available Object Storage clusters.


        > 🚧

        >

        > This displays deprecated `clusterId` values that represent regions used with older versions of the API. It''s maintained for backward compatibility. Run List Object Storage endpoints instead.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `object_storage:read_only`


        **CLI**


        ```shell

        linode-cli object-storage clusters-list

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-object-storage-clusters
      operationId: get-object-storage-clusters
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - domain: us-east-1.linodeobjects.com
                  id: us-east-1
                  region: us-east
                  static_site_domain: website-us-east-1.linodeobjects.com
                  status: available
                page: 1
                pages: 1
                results: 1
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: Object Storage clusters (Legacy API endpoint).
                    items:
                      additionalProperties: false
                      description: An Object Storage Cluster.
                      properties:
                        domain:
                          description: The base URL for this cluster, used for connecting with third-party clients.
                          example: us-east-1.linodeobjects.com
                          type: string
                        id:
                          description: The unique ID for this cluster.
                          example: us-east-1
                          type: string
                        region:
                          description: The region where this cluster is located.
                          example: us-east
                          type: string
                        static_site_domain:
                          description: The base URL for this cluster used when hosting static sites.
                          example: website-us-east-1.linodeobjects.com
                          type: string
                        status:
                          description: This cluster's status, either `available` or `unavailable`.
                          enum:
                          - available
                          - unavailable
                          example: available
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/object-storage-cluster.yaml
                    type: array
                  page:
                    description: __Read-only__ The current [page](https://techdocs.akamai.com/linode-api/reference/pagination).
                    example: 1
                    readOnly: true
                    type: integer
                  pages:
                    description: __Read-only__ The total number of [pages](https://techdocs.akamai.com/linode-api/reference/pagination).
                    example: 1
                    readOnly: true
                    type: integer
                  results:
                    description: __Read-only__ The total number of results.
                    example: 1
                    readOnly: true
                    type: integer
                type: object
                x-akamai:
                  file-path: schemas/get-object-storage-clusters-200.yaml
          description: A paginated list of available clusters.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - object_storage:read_only
      summary: List clusters
      tags:
      - Legacy clusters
      x-akamai:
        status: DEPRECATED
        tabs:
        - syntax: linode-cli object-storage clusters-list
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: clusters-list
  /{apiVersion}/object-storage/clusters/{clusterId}:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    - description: 'Identifies a cluster where this bucket lives. For backward compatibility with Object Storage in this API.


        > 📘

        >

        > You can use the applicable `regionId`, for example `us-west`, in place of the `clusterId`, for example, `us-west-1`. Run [List regions](https://techdocs.akamai.com/linode-api/reference/get-regions) to see all regions.'
      example: '{{clusterId}}'
      in: path
      name: clusterId
      required: true
      schema:
        example: us-east-1
        type: string
      x-akamai:
        file-path: parameters/cluster-id-legacy.yaml
    x-akamai:
      file-path: paths/object-storage-cluster.yaml
      path-info: /{apiVersion}/object-storage/clusters/{regionId}
    x-linode-cli-command: object-storage
    get:
      deprecated: true
      description: '__Deprecated__ Returns a single Object Storage cluster.


        > 🚧

        >

        > This displays deprecated `clusterId` values that represent regions used with older versions of the API. It''s maintained for backward compatibility. Run Get a region instead.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `object_storage:read_only`


        **CLI**


        ```shell

        linode-cli object-storage clusters-view us-east-1

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-object-storage-cluster
      operationId: get-object-storage-cluster
      responses:
        '200':
          content:
            application/json:
              example:
                domain: us-east-1.linodeobjects.com
                id: us-east-1
                region: us-east
                static_site_domain: website-us-east-1.linodeobjects.com
                status: available
              schema:
                additionalProperties: false
                description: An Object Storage Cluster.
                properties:
                  domain:
                    description: The base URL for this cluster, used for connecting with third-party clients.
                    example: us-east-1.linodeobjects.com
                    type: string
                  id:
                    description: The unique ID for this cluster.
                    example: us-east-1
                    type: string
                  region:
                    description: The region where this cluster is located.
                    example: us-east
                    type: string
                  static_site_domain:
                    description: The base URL for this cluster used when hosting static sites.
                    example: website-us-east-1.linodeobjects.com
                    type: string
                  status:
                    description: This cluster's status, either `available` or `unavailable`.
                    enum:
                    - available
                    - unavailable
                    example: available
                    type: string
                type: object
                x-akamai:
                  file-path: schemas/object-storage-cluster.yaml
          description: The requested Cluster.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - object_storage:read_only
      summary: Get a cluster
      tags:
      - Legacy clusters
      x-akamai:
        status: DEPRECATED
        tabs:
        - syntax: linode-cli object-storage clusters-view us-east-1
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: clusters-view
components:
  securitySchemes:
    oauth:
      flows:
        authorizationCode:
          authorizationUrl: https://login.linode.com/oauth/authorize
          scopes:
            account:read_only: Allows access to GET information about your account.
            account:read_write: Allows access to all endpoints related to your account.
            child_account:read_only: Allows access to GET information about deprecated parent/child operations.
            child_account:read_write: Allows access to deprecated parent/child operations.
            databases:read_only: Allows access to GET information about databases.
            databases:read_write: Allows access to all endpoints related to databases.
            domains:read_only: Allows access to GET Domains on your account.
            domains:read_write: Allows access to all Domain endpoints.
            events:read_only: Allows access to GET your Events.
            events:read_write: Allows access to all endpoints related to your Events.
            firewall:read_only: Allows access to GET information about your Firewalls.
            firewall:read_write: Allows access to all Firewall endpoints.
            images:read_only: Allows access to GET your Images.
            images:read_write: Allows access to all endpoints related to your Images.
            ips:read_only: Allows access to GET your ips.
            ips:read_write: Allows access to all endpoints related to your ips.
            linodes:read_only: Allows access to GET Linodes on your account.
            linodes:read_write: Allow access to all endpoints related to your Linodes.
            lke:read_only: Allows access to GET LKE Clusters on your account.
            lke:read_write: Allows access to all endpoints related to LKE Clusters on your account.
            longview:read_only: Allows access to GET your Longview Clients.
            longview:read_write: Allows access to all endpoints related to your Longview Clients.
            monitor:read_only: Allows access to Monitor (Akamai Cloud Pulse) data.
            monitor:read_write: Allows access to GET Monitor (Akamai Cloud Pulse) data.
            nodebalancers:read_only: Allows access to GET NodeBalancers on your account.
            nodebalancers:read_write: Allows access to all NodeBalancer endpoints.
            object_storage:read_only: Allows access to GET information related to your Object Storage.
            object_storage:read_write: Allows access to all Object Storage endpoints.
            stackscripts:read_only: Allows access to GET your StackScripts.
            stackscripts:read_write: Allows access to all endpoints related to your StackScripts.
            volumes:read_only: Allows access to GET your Volumes.
            volumes:read_write: Allows access to all endpoints related to your Volumes.
            vpc:read_write: Allows access to all endpoints related to VPC and Subnet creation, updating, and deletion.
          tokenUrl: https://login.linode.com/oauth/token
      type: oauth2
    personalAccessToken:
      scheme: bearer
      type: http
externalDocs:
  description: See documentation for Akamai's Linode API
  url: https://techdocs.akamai.com/linode-api/reference
x-readme:
  explorer-enabled: false
  samples-languages:
  - curl
  - python
  - node
