openapi: 3.2.0
info:
  description: Add a Cloud Computing instance so you can build, release, and scale applications faster with virtual machines.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: 'Akamai: Linode Image sharing API'
  version: 4.229.1
servers:
- url: https://api.linode.com
tags:
- description: Use these operations to create and mange groups of users that can access your stored images.
  name: Image sharing
paths:
  /{apiVersion}/images/sharegroups:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    x-akamai:
      file-path: paths/images-sharegroups.yaml
      path-info: /{apiVersion}/images/sharegroups
    x-linode-cli-command: image-sharegroups
    post:
      description: '__Beta__ Creates a group to share images with other users.


        - Include existing `images` in the request or Add images to a share group later. Run the Get an image operation to see the existing images'' `id` values. If needed, Create an image or Upload an image.


        - You can set a `label` and `description` for the group and each image, visible to all group members.


        - If omitted, the shared image keeps the original `label` and `description`. Note that when you Update the original image, it has no effect on shared image''s details within any groups.


        - Run the Add members to a share group to include other users in the group. Use the group''s `uuid` from the response to Create a token for user authentication.


        > 📘

        >

        > This operation is in Beta and available from the `v4beta` URL.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `images:read_write`


        **CLI**


        ```shell

        linode-cli image-sharegroups create --label "my_label" --description "my_description" \

        --images ''[{"id": "private/15", "label": "Linux Debian", "description": "Official Debian Linux image for server deployment"}]''

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/post-sharegroups
      operationId: post-sharegroups
      requestBody:
        content:
          application/json:
            example:
              description: Group of base operating system images and engineers used for CI/CD pipelines and infrastructure automation
              images:
              - description: Official Debian Linux image for server deployment
                id: private/7
                label: Linux Debian
              label: DevOps Base Images
            schema:
              additionalProperties: false
              properties:
                description:
                  description: A detailed description of this share group.
                  example: '{{description}}'
                  type: string
                images:
                  description: A list of image's details, including the ID, label, and description.
                  items:
                    additionalProperties: false
                    properties:
                      description:
                        description: The image's description within the share group.
                        example: Official Debian Linux image for server deployment
                        type: string
                      id:
                        description: The private image’s unique slug identifier.
                        example: private/7
                        type: string
                      label:
                        description: The image's name within the share group.
                        example: Linux Debian
                        type: string
                    required:
                    - id
                    type: object
                  type: array
                label:
                  description: The share group's descriptive name.
                  example: '{{label}}'
                  type: string
              required:
              - label
              type: object
              x-akamai:
                file-path: schemas/post-sharegroup.yaml
      responses:
        '200':
          content:
            application/json:
              example:
                created: '2025-04-14T22:44:02'
                description: Group of base operating system images and engineers used for CI/CD pipelines and infrastructure automation
                expiry: null
                id: 1
                images_count: 0
                is_suspended: false
                label: DevOps Base Images
                members_count: 0
                updated: null
                uuid: 1533863e-16a4-47b5-b829-ac0f35c13278
              schema:
                additionalProperties: false
                description: The share group's details.
                properties:
                  created:
                    description: __Read-only__ When this share group was created.
                    example: '2025-04-14T22:44:02'
                    readOnly: true
                    type: string
                  description:
                    description: A detailed description of this share group.
                    example: Group of base operating system images and engineers used for CI/CD pipelines and infrastructure automation
                    type:
                    - string
                    - 'null'
                    x-linode-cli-display: 4
                  expiry:
                    description: __Read-only__ When the share group expires.
                    example: null
                    readOnly: true
                    type:
                    - string
                    - 'null'
                  id:
                    description: __Read-only__ The share group's numeric identifier, used primarily as path parameters in URLs.
                    example: 1
                    readOnly: true
                    type: integer
                    x-linode-cli-display: 1
                  images_count:
                    description: __Read-only__ The total number of images currently belonging to the share group.
                    readOnly: true
                    type: integer
                    x-linode-cli-display: 6
                  is_suspended:
                    description: __Read-only__ If `true`, the share group is currently suspended.
                    example: false
                    readOnly: true
                    type: boolean
                    x-linode-cli-display: 5
                  label:
                    description: The share group's descriptive name.
                    example: DevOps Base Images
                    type: string
                    x-linode-cli-display: 2
                  members_count:
                    description: __Read-only__ The number of users with access to the share group.
                    readOnly: true
                    type: integer
                    x-linode-cli-display: 7
                  updated:
                    description: __Read-only__ When this share group was last updated.
                    example: null
                    readOnly: true
                    type:
                    - string
                    - 'null'
                  uuid:
                    description: __Read-only__ The share group's unique identifier used for membership token management.
                    example: 1533863e-16a4-47b5-b829-ac0f35c13278
                    format: uuid
                    readOnly: true
                    type: string
                    x-linode-cli-display: 3
                required:
                - id
                - uuid
                - label
                - description
                - is_suspended
                - created
                - updated
                - expiry
                - images_count
                - members_count
                type: object
                x-akamai:
                  file-path: schemas/sharegroup.yaml
          description: New share group created successfully.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - images:read_write
      summary: Create a share group
      tags:
      - Image sharing
      x-akamai:
        status: BETA
        tabs:
        - syntax: "linode-cli image-sharegroups create --label \"my_label\" --description \"my_description\" \\\n  --images '[{\"id\": \"private/15\", \"label\": \"Linux Debian\", \"description\": \"Official Debian Linux image for server deployment\"}]'"
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: create
    get:
      description: '__Beta__ Lists all owned groups with shared images.


        > 📘

        >

        > This operation doesn''t list groups you''re a member of. Run Get a token''s share group to find these share groups using your membership token.


        > 📘

        >

        > This operation is in Beta and available from the `v4beta` URL.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `images:read_only`


        **CLI**


        ```shell

        linode-cli image-sharegroups list

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-sharegroups
      operationId: get-sharegroups
      parameters:
      - description: The page of a collection to return.
        example: '{{page}}'
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 6
          minimum: 1
          type: integer
        x-akamai:
          file-path: parameters/page-offset.yaml
      - description: The number of items to return per page.
        example: '{{page_size}}'
        in: query
        name: page_size
        schema:
          default: 100
          example: 50
          maximum: 500
          minimum: 25
          type: integer
        x-akamai:
          file-path: parameters/page-size.yaml
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - created: '2025-04-14T22:44:02'
                  description: Group of base operating system images and engineers used for CI/CD pipelines and infrastructure automation
                  expiry: null
                  id: 1
                  images_count: 0
                  is_suspended: false
                  label: DevOps Base Images
                  members_count: 0
                  updated: null
                  uuid: 1533863e-16a4-47b5-b829-ac0f35c13278
                page: 1
                pages: 1
                results: 1
              schema:
                additionalProperties: false
                properties:
                  data:
                    items:
                      additionalProperties: false
                      description: The share group's details.
                      properties:
                        created:
                          description: __Read-only__ When this share group was created.
                          example: '2025-04-14T22:44:02'
                          readOnly: true
                          type: string
                        description:
                          description: The share group's detailed description.
                          example: Group of base operating system images and engineers used for CI/CD pipelines and infrastructure automation
                          type:
                          - string
                          - 'null'
                          x-linode-cli-display: 4
                        expiry:
                          description: __Read-only__ When the share group expires.
                          example: null
                          readOnly: true
                          type:
                          - string
                          - 'null'
                        id:
                          description: The share group's numeric identifier, used primarily as path parameters in URLs.
                          example: 1
                          type: integer
                          x-linode-cli-display: 1
                        images_count:
                          description: __Read-only__ The total number of images currently belonging to the share group.
                          readOnly: true
                          type: integer
                          x-linode-cli-display: 6
                        is_suspended:
                          description: __Read-only__ Indicates whether the share group is currently suspended.
                          example: false
                          readOnly: true
                          type: boolean
                          x-linode-cli-display: 5
                        label:
                          description: __Filterable__ The share group's descriptive name.
                          example: DevOps Base Images
                          type: string
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-cli-display: 2
                          x-linode-filterable: true
                        members_count:
                          description: __Read-only__ The number of users with access to the share group.
                          readOnly: true
                          type: integer
                          x-linode-cli-display: 7
                        updated:
                          description: __Read-only__ When this share group was last updated.
                          example: null
                          readOnly: true
                          type:
                          - string
                          - 'null'
                        uuid:
                          description: The share group's unique identifier used for membership token management.
                          example: 1533863e-16a4-47b5-b829-ac0f35c13278
                          format: uuid
                          type: string
                          x-linode-cli-display: 3
                      required:
                      - id
                      - uuid
                      - label
                      - description
                      - is_suspended
                      - created
                      - updated
                      - expiry
                      - images_count
                      - members_count
                      type: object
                      x-akamai:
                        file-path: schemas/sharegroups.yaml
                    type: array
                  page:
                    description: __Read-only__ The current [page](https://techdocs.akamai.com/linode-api/reference/pagination).
                    example: 1
                    readOnly: true
                    type: integer
                  pages:
                    description: __Read-only__ The total number of [pages](https://techdocs.akamai.com/linode-api/reference/pagination).
                    example: 1
                    readOnly: true
                    type: integer
                  results:
                    description: __Read-only__ The total number of results.
                    example: 1
                    readOnly: true
                    type: integer
                required:
                - data
                - page
                - pages
                - results
                type: object
                x-akamai:
                  file-path: schemas/get-sharegroups-200.yaml
          description: A paginated list of sharegroups.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - images:read_only
      summary: List share groups
      tags:
      - Image sharing
      x-akamai:
        status: BETA
        tabs:
        - syntax: linode-cli image-sharegroups list
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action:
      - list
      - ls
      x-linode-redoc-load-ids: true
  /{apiVersion}/images/sharegroups/tokens:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    x-akamai:
      file-path: paths/images-sharegroup-tokens.yaml
      path-info: /{apiVersion}/images/sharegroups/tokens
    x-linode-cli-command: image-sharegroups
    post:
      description: '__Beta__ Creates a single-use membership token for users who want to join a share group with custom images.


        - Before creating a token, get the share group''s UUID from its owner. The owner can run List share groups or Get a share group to get the group''s UUID. If needed, Create a share group and share the UUID with the user.


        - Share the `token` from the response with the share group owner. The owner can later use the token to Add members to a share group and manage the users'' membership within the group.


        > 📘

        >

        > This operation is in Beta and available from the `v4beta` URL.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `images:read_write`


        **CLI**


        ```shell

        linode-cli image-sharegroups token-create --label "my_token" --valid_for_sharegroup_uuid "abc123"

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/post-sharegroup-tokens
      operationId: post-sharegroup-tokens
      requestBody:
        content:
          application/json:
            example:
              label: Backend Services - Engineering
              valid_for_sharegroup_uuid: e1d0e58b-f89f-4237-84ab-b82077342359
            schema:
              additionalProperties: false
              properties:
                label:
                  description: The token's descriptive name.
                  example: '{{label}}'
                  type: string
                valid_for_sharegroup_uuid:
                  description: The unique identifier of the share group you want to create a token for.
                  example: '{{valid_for_sharegroup_uuid}}'
                  type: string
              required:
              - valid_for_sharegroup_uuid
              type: object
              x-akamai:
                file-path: schemas/post-sharegroup-token.yaml
      responses:
        '200':
          content:
            application/json:
              example:
                created: '2025-08-04T10:09:09'
                expiry: null
                label: Backend Services - Engineering
                sharegroup_label: DevOps Base Images
                sharegroup_uuid: e1d0e58b-f89f-4237-84ab-b82077342359
                status: active
                token: eyJhbGciOiJIUzI1 ... VNKDTt2yEiJVGSos
                token_uuid: 13428362-5458-4dad-b14b-8d0d4d648f8c
                updated: null
                valid_for_sharegroup_uuid: e1d0e58b-f89f-4237-84ab-b82077342359
              schema:
                additionalProperties: false
                description: The share group membership token's details.
                properties:
                  created:
                    description: __Read-only__ When the token was created.
                    example: '2025-08-04T10:09:09'
                    readOnly: true
                    type: string
                  expiry:
                    description: __Read-only__ When this token expires.
                    example: null
                    readOnly: true
                    type:
                    - string
                    - 'null'
                  label:
                    description: The token's descriptive name.
                    example: Backend Services - Engineering
                    type:
                    - string
                    - 'null'
                    x-linode-cli-display: 2
                  sharegroup_label:
                    description: __Read-only__ The share group's descriptive name.
                    example: DevOps Base Images
                    readOnly: true
                    type: string
                    x-linode-cli-display: 6
                  sharegroup_uuid:
                    description: __Read-only__ The share group's unique identifier.
                    example: e1d0e58b-f89f-4237-84ab-b82077342359
                    readOnly: true
                    type: string
                    x-linode-cli-display: 5
                  status:
                    description: '__Read-only__ The membership token''s status:


                      - `pending`: The token has been created but is not yet active.

                      - `active`: The token is currently active and usable.

                      - `revoked`: The token has been deleted and is no longer valid.

                      - `expired`: The token has passed its validity period and is no longer usable.'
                    enum:
                    - pending
                    - active
                    - revoked
                    - expired
                    example: active
                    readOnly: true
                    type: string
                    x-linode-cli-display: 3
                  token:
                    description: '__Read-only__ The single-use JWT membership token encoded as a string. It consists of three parts: header, payload, and signature. Shared image groups owners can use it to [Add members to a share group](https://techdocs.akamai.com/linode-api/reference/post-sharegroup-members).'
                    example: eyJhbGciOiJIUzI1 ... VNKDTt2yEiJVGSos
                    readOnly: true
                    type: string
                    x-linode-cli-display: 7
                  token_uuid:
                    description: __Read-only__ The membership token's unique identifier.
                    example: 13428362-5458-4dad-b14b-8d0d4d648f8c
                    readOnly: true
                    type: string
                    x-linode-cli-display: 1
                  updated:
                    description: __Read-only__ When the token was last updated.
                    example: null
                    readOnly: true
                    type:
                    - string
                    - 'null'
                  valid_for_sharegroup_uuid:
                    description: __Read-only__ The unique identifier of the share group you created a token for.
                    example: e1d0e58b-f89f-4237-84ab-b82077342359
                    readOnly: true
                    type: string
                    x-linode-cli-display: 4
                required:
                - token
                - token_uuid
                - status
                - label
                - created
                - updated
                - expiry
                - valid_for_sharegroup_uuid
                - sharegroup_uuid
                - sharegroup_label
                type: object
                x-akamai:
                  file-path: schemas/post-sharegroup-token-200.yaml
          description: Token generated successfully.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - images:read_write
      summary: Create a token
      tags:
      - Image sharing
      x-akamai:
        status: BETA
        tabs:
        - syntax: linode-cli image-sharegroups token-create --label "my_token" --valid_for_sharegroup_uuid "abc123"
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: token-create
      x-linode-redoc-load-ids: true
    get:
      description: '__Beta__ Get details about all the user''s tokens.


        > 📘

        >

        > This operation is in Beta and available from the `v4beta` URL.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `images:read_only`


        **CLI**


        ```shell

        linode-cli image-sharegroups tokens-list

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-user-tokens
      operationId: get-user-tokens
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - created: '2025-08-04T10:09:09'
                  expiry: null
                  label: Backend Services - Engineering
                  sharegroup_label: DevOps Base Images
                  sharegroup_uuid: e1d0e58b-f89f-4237-84ab-b82077342359
                  status: active
                  token_uuid: 13428362-5458-4dad-b14b-8d0d4d648f8c
                  updated: null
                  valid_for_sharegroup_uuid: e1d0e58b-f89f-4237-84ab-b82077342359
                page: 1
                pages: 1
                results: 1
              schema:
                additionalProperties: false
                properties:
                  data:
                    items:
                      additionalProperties: false
                      description: ImageShareGroupMemberTokens object.
                      properties:
                        created:
                          description: __Read-only__ The creation time of this token.
                          example: '2025-08-04T10:09:09'
                          readOnly: true
                          type: string
                        expiry:
                          description: __Read-only__ The time when this token expires.
                          example: null
                          readOnly: true
                          type:
                          - string
                          - 'null'
                        label:
                          description: __Filterable__ A short description of the token.
                          example: Backend Services - Engineering
                          type: string
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-cli-display: 2
                          x-linode-filterable: true
                        sharegroup_label:
                          description: __Filterable__, __Read-only__ Associated share group label.
                          example: DevOps Base Images
                          readOnly: true
                          type: string
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-cli-display: 6
                          x-linode-filterable: true
                        sharegroup_uuid:
                          description: __Filterable__, __Read-only__ The unique identifier of the share group you created a token for.
                          example: e1d0e58b-f89f-4237-84ab-b82077342359
                          readOnly: true
                          type: string
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-cli-display: 5
                          x-linode-filterable: true
                        status:
                          description: '__Filterable__, __Read-only__ Represents the current token status.


                            - `pending`: The token has been created but is not yet active.

                            - `active`: The token is currently active and usable.

                            - `revoked`: The token has been deleted and is no longer valid.

                            - `expired`: The token has passed its validity period and is no longer usable.'
                          enum:
                          - pending
                          - active
                          - revoked
                          - expired
                          example: active
                          readOnly: true
                          type: string
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-cli-display: 3
                          x-linode-filterable: true
                        token_uuid:
                          description: __Read-only__ A unique identifier for the token, used to reference it after creation.
                          example: 13428362-5458-4dad-b14b-8d0d4d648f8c
                          readOnly: true
                          type: string
                          x-linode-cli-display: 1
                        updated:
                          description: __Read-only__ The time when this token was last updated.
                          example: null
                          readOnly: true
                          type:
                          - string
                          - 'null'
                        valid_for_sharegroup_uuid:
                          description: __Filterable__, __Read-only__ UUID identifying the associated share group.
                          example: e1d0e58b-f89f-4237-84ab-b82077342359
                          readOnly: true
                          type: string
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-cli-display: 4
                          x-linode-filterable: true
                      required:
                      - token_uuid
                      - status
                      - label
                      - created
                      - updated
                      - expiry
                      - valid_for_sharegroup_uuid
                      - sharegroup_uuid
                      - sharegroup_label
                      type: object
                      x-akamai:
                        file-path: schemas/tokens.yaml
                    type: array
                  page:
                    description: __Read-only__ The current [page](https://techdocs.akamai.com/linode-api/reference/pagination).
                    example: 1
                    readOnly: true
                    type: integer
                  pages:
                    description: __Read-only__ The total number of [pages](https://techdocs.akamai.com/linode-api/reference/pagination).
                    example: 1
                    readOnly: true
                    type: integer
                  results:
                    description: __Read-only__ The total number of results.
                    example: 1
                    readOnly: true
                    type: integer
                required:
                - data
                - page
                - pages
                - results
                type: object
                x-akamai:
                  file-path: schemas/get-sharegroup-tokens-200.yaml
          description: Returns a paginated list of the tokens.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - images:read_only
      summary: List a user's tokens
      tags:
      - Image sharing
      x-akamai:
        status: BETA
        tabs:
        - syntax: linode-cli image-sharegroups tokens-list
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: tokens-list
      x-linode-redoc-load-ids: true
  /{apiVersion}/images/sharegroups/tokens/{tokenUuid}:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    - description: A unique identifier for the token, used to reference it after creation.
      example: '{{tokenUuid}}'
      in: path
      name: tokenUuid
      required: true
      schema:
        example: 13428362-5458-4dad-b14b-8d0d4d648f8c
        format: uuid
        type: string
      x-akamai:
        file-path: parameters/token-uuid-path.yaml
    x-akamai:
      file-path: paths/images-sharegroups-tokens-id.yaml
      path-info: /{apiVersion}/images/sharegroups/tokens/{tokenUuid}
    x-linode-cli-command: image-sharegroups
    get:
      description: '__Beta__ Get details about a membership token as a share group member. Run this operation to check the `status` of a pending membership request or your current group membership. To get the `token_uuid` value, run the List tokens operation or create a token to generate one for the share group you want to join.


        > 📘

        >

        > This operation is in Beta and available from the `v4beta` URL.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `images:read_only`


        **CLI**


        ```shell

        linode-cli image-sharegroups token-view abc123

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-sharegroup-token
      operationId: get-sharegroup-token
      responses:
        '200':
          content:
            application/json:
              example:
                created: '2025-08-04T10:09:09'
                expiry: null
                label: Backend Services - Engineering
                sharegroup_label: DevOps Base Images
                sharegroup_uuid: e1d0e58b-f89f-4237-84ab-b82077342359
                status: active
                token_uuid: 13428362-5458-4dad-b14b-8d0d4d648f8c
                updated: null
                valid_for_sharegroup_uuid: e1d0e58b-f89f-4237-84ab-b82077342359
              schema:
                additionalProperties: false
                description: ImageShareGroupMemberTokens object.
                properties:
                  created:
                    description: __Read-only__ When this token was created.
                    example: '2025-08-04T10:09:09'
                    readOnly: true
                    type: string
                  expiry:
                    description: __Read-only__ When this token expires.
                    example: null
                    readOnly: true
                    type:
                    - string
                    - 'null'
                  label:
                    description: A short description of the token.
                    example: Backend Services - Engineering
                    type: string
                    x-linode-cli-display: 2
                  sharegroup_label:
                    description: __Read-only__ The share group's descriptive name.
                    example: DevOps Base Images
                    readOnly: true
                    type: string
                    x-linode-cli-display: 6
                  sharegroup_uuid:
                    description: __Read-only__ The share group's unique identifier.
                    example: e1d0e58b-f89f-4237-84ab-b82077342359
                    readOnly: true
                    type: string
                    x-linode-cli-display: 5
                  status:
                    description: '__Read-only__ Represents the current token status.


                      - `pending`: The token has been created but is not yet active.

                      - `active`: The token is currently active and usable.

                      - `revoked`: The token has been deleted and is no longer valid.

                      - `expired`: The token has passed its validity period and is no longer usable.'
                    enum:
                    - pending
                    - active
                    - revoked
                    - expired
                    example: active
                    readOnly: true
                    type: string
                    x-linode-cli-display: 3
                  token_uuid:
                    description: __Read-only__ A unique identifier for the token, used to reference it after creation.
                    example: 13428362-5458-4dad-b14b-8d0d4d648f8c
                    readOnly: true
                    type: string
                    x-linode-cli-display: 1
                  updated:
                    description: __Read-only__ When this token was last updated.
                    example: null
                    readOnly: true
                    type:
                    - string
                    - 'null'
                  valid_for_sharegroup_uuid:
                    description: __Read-only__ The unique identifier of the share group you created a token for.
                    example: e1d0e58b-f89f-4237-84ab-b82077342359
                    readOnly: true
                    type: string
                    x-linode-cli-display: 4
                required:
                - token_uuid
                - status
                - label
                - created
                - updated
                - expiry
                - valid_for_sharegroup_uuid
                - sharegroup_uuid
                - sharegroup_label
                type: object
                x-akamai:
                  file-path: schemas/token.yaml
          description: A single token object.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - images:read_only
      summary: Get a token
      tags:
      - Image sharing
      x-akamai:
        status: BETA
        tabs:
        - syntax: linode-cli image-sharegroups token-view abc123
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: token-view
      x-linode-redoc-load-ids: true
    put:
      description: '__Beta__ Updates the `label` of an existing membership token for a share group member or a pending membership.


        To get the `token_uuid`, run the List tokens or Create a token operation to generate one for the share group you want to join.


        > 📘

        >

        > This operation is in Beta and available from the `v4beta` URL.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `images:read_write`


        **CLI**


        ```shell

        linode-cli image-sharegroups token-update abc123 --label "new_label"

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/put-sharegroup-token
      operationId: put-sharegroup-token
      requestBody:
        content:
          application/json:
            example:
              label: Backend Services - Engineering
            schema:
              additionalProperties: false
              description: The membership token's details to update.
              properties:
                label:
                  description: The descriptive name of the token.
                  example: '{{label}}'
                  type: string
              required:
              - label
              type: object
              x-akamai:
                file-path: schemas/put-sharegroup-token.yaml
      responses:
        '200':
          content:
            application/json:
              example:
                created: '2025-08-04T10:09:09'
                expiry: null
                label: Backend Services - Engineering
                sharegroup_label: DevOps Base Images
                sharegroup_uuid: e1d0e58b-f89f-4237-84ab-b82077342359
                status: active
                token_uuid: 13428362-5458-4dad-b14b-8d0d4d648f8c
                updated: null
                valid_for_sharegroup_uuid: e1d0e58b-f89f-4237-84ab-b82077342359
              schema:
                additionalProperties: false
                description: ImageShareGroupMemberTokens object.
                properties:
                  created:
                    description: __Read-only__ When this token was created.
                    example: '2025-08-04T10:09:09'
                    readOnly: true
                    type: string
                  expiry:
                    description: __Read-only__ When this token expires.
                    example: null
                    readOnly: true
                    type:
                    - string
                    - 'null'
                  label:
                    description: A short description of the token.
                    example: Backend Services - Engineering
                    type: string
                    x-linode-cli-display: 2
                  sharegroup_label:
                    description: __Read-only__ The share group's descriptive name.
                    example: DevOps Base Images
                    readOnly: true
                    type: string
                    x-linode-cli-display: 6
                  sharegroup_uuid:
                    description: __Read-only__ The share group's unique identifier.
                    example: e1d0e58b-f89f-4237-84ab-b82077342359
                    readOnly: true
                    type: string
                    x-linode-cli-display: 5
                  status:
                    description: '__Read-only__ Represents the current token status.


                      - `pending`: The token has been created but is not yet active.

                      - `active`: The token is currently active and usable.

                      - `revoked`: The token has been deleted and is no longer valid.

                      - `expired`: The token has passed its validity period and is no longer usable.'
                    enum:
                    - pending
                    - active
                    - revoked
                    - expired
                    example: active
                    readOnly: true
                    type: string
                    x-linode-cli-display: 3
                  token_uuid:
                    description: __Read-only__ A unique identifier for the token, used to reference it after creation.
                    example: 13428362-5458-4dad-b14b-8d0d4d648f8c
                    readOnly: true
                    type: string
                    x-linode-cli-display: 1
                  updated:
                    description: __Read-only__ When this token was last updated.
                    example: null
                    readOnly: true
                    type:
                    - string
                    - 'null'
                  valid_for_sharegroup_uuid:
                    description: __Read-only__ The unique identifier of the share group you created a token for.
                    example: e1d0e58b-f89f-4237-84ab-b82077342359
                    readOnly: true
                    type: string
                    x-linode-cli-display: 4
                required:
                - token_uuid
                - status
                - label
                - created
                - updated
                - expiry
                - valid_for_sharegroup_uuid
                - sharegroup_uuid
                - sharegroup_label
                type: object
                x-akamai:
                  file-path: schemas/token.yaml
          description: Token updated successfully.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - images:read_write
      summary: Update a token
      tags:
      - Image sharing
      x-akamai:
        status: BETA
        tabs:
        - syntax: linode-cli image-sharegroups token-update abc123 --label "new_label"
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: token-update
      x-linode-redoc-load-ids: true
    delete:
      description: '__Beta__ Removes an existing membership token for a share group member or a pending membership.


        - To get the `token_uuid`, run the List tokens operation.


        > 📘

        >

        > This operation is in Beta and available from the `v4beta` URL.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `images:read_write`


        **CLI**


        ```shell

        linode-cli image-sharegroups token-delete abc123

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/delete-sharegroup-token
      operationId: delete-sharegroup-token
      responses:
        '200':
          content:
            application/json:
              example: {}
              schema:
                description: The API responds with an empty object.
                maxProperties: 0
                type: object
                x-akamai:
                  file-path: schemas/added-empty-obj.yaml
          description: Token deleted successfully.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - images:read_write
      summary: Delete a token
      tags:
      - Image sharing
      x-akamai:
        status: BETA
        tabs:
        - syntax: linode-cli image-sharegroups token-delete abc123
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: token-delete
      x-linode-grant: read_write
  /{apiVersion}/images/sharegroups/tokens/{tokenUuid}/sharegroup:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    - description: A unique identifier for the token, used to reference it after creation.
      example: '{{tokenUuid}}'
      in: path
      name: tokenUuid
      required: true
      schema:
        example: 13428362-5458-4dad-b14b-8d0d4d648f8c
        format: uuid
        type: string
      x-akamai:
        file-path: parameters/token-uuid-path.yaml
    x-akamai:
      file-path: paths/images-sharegroups-tokens-id-sharegroup.yaml
      path-info: /{apiVersion}/images/sharegroups/tokens/{tokenUuid}/sharegroup
    x-linode-cli-command: image-sharegroups
    get:
      description: '__Beta__ Gets details about a share group you''re a member of.


        To get the `token_uuid`, run the Get a token or Create a token for the share group you want to join and share it with the group owner. You have to be accepted as a share group member before running this operation.


        > 📘

        >

        > This operation is in Beta and available from the `v4beta` URL.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `images:read_only`


        **CLI**


        ```shell

        linode-cli image-sharegroups view-by-token abc123

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-sharegroup-by-token
      operationId: get-sharegroup-by-token
      responses:
        '200':
          content:
            application/json:
              example:
                created: '2025-04-14T22:44:02'
                description: Group of base operating system images and engineers used for CI/CD pipelines and infrastructure automation
                id: 1
                is_suspended: false
                label: DevOps Base Images
                updated: null
                uuid: 1533863e-16a4-47b5-b829-ac0f35c13278
              schema:
                additionalProperties: false
                description: The share group's details.
                properties:
                  created:
                    description: __Read-only__ When this share group was created.
                    example: '2025-04-14T22:44:02'
                    readOnly: true
                    type: string
                  description:
                    description: A detailed description of this share group.
                    example: Group of base operating system images and engineers used for CI/CD pipelines and infrastructure automation
                    type:
                    - string
                    - 'null'
                    x-linode-cli-display: 4
                  id:
                    description: __Read-only__ The share group's numeric identifier, used primarily as path parameters in URLs.
                    example: 1
                    readOnly: true
                    type: integer
                    x-linode-cli-display: 1
                  is_suspended:
                    description: __Read-only__ If `true`, the share group is currently suspended.
                    example: false
                    readOnly: true
                    type: boolean
                    x-linode-cli-display: 5
                  label:
                    description: The share group's descriptive name.
                    example: DevOps Base Images
                    type: string
                    x-linode-cli-display: 2
                  updated:
                    description: __Read-only__ When this share group was last updated.
                    example: null
                    readOnly: true
                    type:
                    - string
                    - 'null'
                  uuid:
                    description: __Read-only__ The share group's unique identifier used for membership token management.
                    example: 1533863e-16a4-47b5-b829-ac0f35c13278
                    format: uuid
                    readOnly: true
                    type: string
                    x-linode-cli-display: 3
                required:
                - id
                - uuid
                - label
                - description
                - is_suspended
                - created
                - updated
                type: object
                x-akamai:
                  file-path: schemas/get-sharegroup.yaml
          description: A single share group object.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - images:read_only
      summary: Get a token's share group
      tags:
      - Image sharing
      x-akamai:
        status: BETA
        tabs:
        - syntax: linode-cli image-sharegroups view-by-token abc123
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: view-by-token
      x-linode-redoc-load-ids: true
  /{apiVersion}/images/sharegroups/tokens/{tokenUuid}/sharegroup/images:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    - description: A unique identifier for the token, used to reference it after creation.
      example: '{{tokenUuid}}'
      in: path
      name: tokenUuid
      required: true
      schema:
        example: 13428362-5458-4dad-b14b-8d0d4d648f8c
        format: uuid
        type: string
      x-akamai:
        file-path: parameters/token-uuid-path.yaml
    x-akamai:
      file-path: paths/images-sharegroups-tokens-id-sharegroup-images.yaml
      path-info: /{apiVersion}/images/sharegroups/tokens/{tokenUuid}/sharegroup/images
    x-linode-cli-command: image-sharegroups
    get:
      description: '__Beta__ Lists all the shared images a member can access within a share group, using a membership token. To get the `token_uuid`, run the Get a token operation.


        > 📘

        >

        > This operation is in Beta and available from the `v4beta` URL.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `images:read_only`


        **CLI**


        ```shell

        linode-cli image-sharegroups images-list-by-token abc123

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-sharegroup-images-by-token
      operationId: get-sharegroup-images-by-token
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - capabilities:
                  - cloud-init
                  - distributed-sites
                  created: '2025-08-04T10:07:59'
                  created_by: null
                  deprecated: true
                  description: Official Debian Linux image for server deployment
                  eol: '2026-03-31T13:33:52.986Z'
                  expiry: '2026-03-31T13:33:52.986Z'
                  id: shared/1
                  image_sharing:
                    shared_by:
                      sharegroup_id: 3
                      sharegroup_label: DevOps Base Images
                      sharegroup_uuid: 8d64b99e-92f7-4c7b-a616-8f622fffb94c
                      source_image_id: private/15
                      source_image_label: Source Image label
                    shared_with: null
                  is_public: true
                  is_shared: none
                  label: Linux Debian
                  regions:
                  - region: us-iad
                    status: available
                  size: 256
                  status: available
                  tags:
                  - repair-image
                  - fix-1
                  total_size: 256
                  type: shared
                  updated: null
                  vendor: string
                page: 1
                pages: 1
                results: 1
              schema:
                additionalProperties: false
                properties:
                  data:
                    items:
                      additionalProperties: false
                      description: The shared image's details.
                      properties:
                        capabilities:
                          description: __Read-only__ A list of the possible capabilities of this image.
                          example:
                          - cloud-init
                          - distributed-sites
                          items:
                            type: string
                          readOnly: true
                          type: array
                          x-linode-cli-display: 7
                        created:
                          description: __Read-only__ When this image share was created.
                          example: '2025-08-04T10:07:59'
                          readOnly: true
                          type: string
                        created_by:
                          description: __Read-only__ The shared image creator's username.
                          example: null
                          readOnly: true
                          type:
                          - string
                          - 'null'
                        deprecated:
                          description: __Read-only__ A `true` value indicates a deprecated image. Only public images can be deprecated.
                          readOnly: true
                          type: boolean
                        description:
                          description: The shared image's detailed description.
                          example: Official Debian Linux image for server deployment
                          type: string
                          x-linode-cli-display: 3
                        eol:
                          description: __Read-only__ The time of the public image's planned removal from service. `null` for private images.
                          readOnly: true
                          type:
                          - string
                          - 'null'
                        expiry:
                          description: __Read-only__ Only images created automatically from a deleted compute instance (`type=automatic`) expire, `null` for private images.
                          readOnly: true
                          type:
                          - string
                          - 'null'
                        id:
                          description: __Read-only__ The shared image's unique identifier.
                          example: shared/1
                          readOnly: true
                          type: string
                          x-linode-cli-display: 1
                        image_sharing:
                          additionalProperties: false
                          description: __Read-only__ Sharing information for the image, including who it was shared by and with.
                          properties:
                            shared_by:
                              additionalProperties: false
                              properties:
                                sharegroup_id:
                                  description: __Read-only__ The share group's numeric identifier, used primarily as path parameters in URLs.
                                  example: 3
                                  readOnly: true
                                  type: integer
                                sharegroup_label:
                                  description: The share group's descriptive name.
                                  example: DevOps Base Images
                                  type: string
                                sharegroup_uuid:
                                  description: __Read-only__ The share group's unique identifier used for membership token management.
                                  example: 8d64b99e-92f7-4c7b-a616-8f622fffb94c
                                  format: uuid
                                  readOnly: true
                                  type: string
                                source_image_id:
                                  description: __Read-only__ The source image's slug identifier.
                                  example: private/15
                                  readOnly: true
                                  type: string
                                source_image_label:
                                  description: __Read-only__ The source image's label.
                                  example: Source Image Label
                                  readOnly: true
                                  type: string
                              required:
                              - sharegroup_id
                              - sharegroup_uuid
                              - sharegroup_label
                              - source_image_id
                              - source_image_label
                              type: object
                            shared_with:
                              description: Details about who this image was shared with.
                              example: null
                              type:
                              - object
                              - 'null'
                          readOnly: true
                          type: object
                        is_public:
                          description: __Read-only__ A `true` value if the image is a public distribution image. A `false` value indicates private, account-specific images.
                          example: true
                          readOnly: true
                          type: boolean
                          x-linode-cli-display: 8
                        is_shared:
                          description: '__Read-only__ Indicates whether this image is shared with other accounts. The available values are:

                            - `true`: The private image is shared.

                            - `false`: The private image is not shared.

                            - `none`: The image is not owned by you, but has been shared with your account via an image share group.'
                          example: false
                          oneOf:
                          - title: Boolean
                            type: boolean
                          - enum:
                            - none
                            title: String
                            type: string
                          readOnly: true
                          x-linode-cli-display: 9
                        label:
                          description: __Filterable__ The shared image's name.
                          example: Linux Debian
                          type: string
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-cli-display: 2
                          x-linode-filterable: true
                        regions:
                          description: __Filterable__, __Read-only__ Details on the regions where this image is stored. See [Regions and images](https://techdocs.akamai.com/cloud-computing/docs/images#regions-and-images) for full details on support for `regions`.
                          items:
                            additionalProperties: false
                            properties:
                              region:
                                description: The unique identifier for the core compute region where this image is stored.
                                example: us-iad
                                type: string
                              status:
                                description: The status of the image in this `region`. Possible values are `available`, `creating`, `pending`, `pending deletion`, `pending replication`, or `replicating`.
                                enum:
                                - available
                                - creating
                                - pending
                                - pending deletion
                                - pending replication
                                - replicating
                                example: available
                                type: string
                            type: object
                          readOnly: true
                          type: array
                          x-akamai:
                            labels:
                            - Filterable
                        size:
                          description: __Read-only__ The minimum size in MB this image needs to deploy.
                          example: 256
                          readOnly: true
                          type: integer
                          x-linode-cli-display: 4
                        status:
                          description: __Read-only__ The current status of the image. Possible values are `available`, `creating`, and `pending_upload`.
                          enum:
                          - creating
                          - pending_upload
                          - available
                          example: available
                          readOnly: true
                          type: string
                          x-linode-cli-display: 6
                        tags:
                          description: __Filterable__, __Read-only__ The shared image's organizational tags. A tag can be from 3 to 100 characters long, and each image can include up to 500 tags.
                          example:
                          - repair-image
                          - fix-1
                          items:
                            maxLength: 100
                            minLength: 3
                            type: string
                          maxItems: 500
                          minItems: 0
                          readOnly: true
                          type: array
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-cli-display: 10
                          x-linode-filterable: true
                        total_size:
                          description: __Read-only__ The total size in bytes of all instances of this image, in all `regions`.
                          example: 256
                          readOnly: true
                          type: integer
                          x-linode-cli-display: 5
                        type:
                          description: '__Filterable__, __Read-only__ Indicates how the image was created. The available values are:

                            - `manual`: Manually captured from a Linode''s disk.

                            - `automatic`: Automatically captured when the corresponding Linode was deleted.

                            - `shared`: A private image assigned to an image share group, allowing other authorized accounts to view and deploy it.'
                          enum:
                          - manual
                          - automatic
                          - shared
                          example: shared
                          readOnly: true
                          type: string
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-filterable: true
                        updated:
                          description: __Read-only__ When this image share was last updated.
                          example: null
                          readOnly: true
                          type:
                          - string
                          - 'null'
                        vendor:
                          description: __Read-only__ The upstream distribution vendor, `null` for private and shared images.
                          readOnly: true
                          type:
                          - string
                          - 'null'
                      required:
                      - id
                      - tags
                      - type
                      - description
                      - label
                      - created
                      - updated
                      - size
                      - status
                      - capabilities
                      - is_public
                      - is_shared
                      - deprecated
                      - regions
                      - total_size
                      - image_sharing
                      - created_by
                      - expiry
                      - eol
                      - vendor
                      type: object
                      x-akamai:
                        file-path: schemas/imageshares.yaml
                    type: array
                  page:
                    description: __Read-only__ The current [page](https://techdocs.akamai.com/linode-api/reference/pagination).
                    example: 1
                    readOnly: true
                    type: integer
                  pages:
                    description: __Read-only__ The total number of [pages](https://techdocs.akamai.com/linode-api/reference/pagination).
                    example: 1
                    readOnly: true
                    type: integer
                  results:
                    description: __Read-only__ The total number of results.
                    example: 1
                    readOnly: true
                    type: integer
                required:
                - data
                - page
                - pages
                - results
                type: object
                x-akamai:
                  file-path: schemas/get-sharegroup-token-images-200.yaml
          description: A paginated list of shared images in a share group.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - images:read_only
      summary: List images by token
      tags:
      - Image sharing
      x-akamai:
        status: BETA
        tabs:
        - syntax: linode-cli image-sharegroups images-list-by-token abc123
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: images-list-by-token
      x-linode-redoc-load-ids: true
  /{apiVersion}/images/sharegroups/{sharegroupId}:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    - description: The share group's unique identifier assigned after creating it. Not to be confused with the group's `uuid`.
      example: '{{sharegroupId}}'
      in: path
      name: sharegroupId
      required: true
      schema:
        example: 54321
        type: integer
      x-akamai:
        file-path: parameters/sharegroup-id-path.yaml
    x-akamai:
      file-path: paths/images-sharegroup-id.yaml
      path-info: /{apiVersion}/images/sharegroups/{sharegroupId}
    x-linode-cli-command: image-sharegroups
    get:
      description: '__Beta__ Get information about an owned share group. Run the List share groups operation to get the `id` you should use as the `sharegroupId` path parameter that identifies an existing share group. If the `sharegroupId` in the request body belongs to a group you don''t own, calling this API will result in a 404 error.


        > 📘

        >

        > This operation is in Beta and available from the `v4beta` URL.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `images:read_only`


        **CLI**


        ```shell

        linode-cli image-sharegroups view 1234

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-sharegroup
      operationId: get-sharegroup
      responses:
        '200':
          content:
            application/json:
              example:
                created: '2025-04-14T22:44:02'
                description: Group of base operating system images and engineers used for CI/CD pipelines and infrastructure automation
                expiry: null
                id: 1
                images_count: 0
                is_suspended: false
                label: DevOps Base Images
                members_count: 0
                updated: null
                uuid: 1533863e-16a4-47b5-b829-ac0f35c13278
              schema:
                additionalProperties: false
                description: The share group's details.
                properties:
                  created:
                    description: __Read-only__ When this share group was created.
                    example: '2025-04-14T22:44:02'
                    readOnly: true
                    type: string
                  description:
                    description: A detailed description of this share group.
                    example: Group of base operating system images and engineers used for CI/CD pipelines and infrastructure automation
                    type:
                    - string
                    - 'null'
                    x-linode-cli-display: 4
                  expiry:
                    description: __Read-only__ When the share group expires.
                    example: null
                    readOnly: true
                    type:
                    - string
                    - 'null'
                  id:
                    description: __Read-only__ The share group's numeric identifier, used primarily as path parameters in URLs.
                    example: 1
                    readOnly: true
                    type: integer
                    x-linode-cli-display: 1
                  images_count:
                    description: __Read-only__ The total number of images currently belonging to the share group.
                    readOnly: true
                    type: integer
                    x-linode-cli-display: 6
                  is_suspended:
                    description: __Read-only__ If `true`, the share group is currently suspended.
                    example: false
                    readOnly: true
                    type: boolean
                    x-linode-cli-display: 5
                  label:
                    description: The share group's descriptive name.
                    example: DevOps Base Images
                    type: string
                    x-linode-cli-display: 2
                  members_count:
                    description: __Read-only__ The number of users with access to the share group.
                    readOnly: true
                    type: integer
                    x-linode-cli-display: 7
                  updated:
                    description: __Read-only__ When this share group was last updated.
                    example: null
                    readOnly: true
                    type:
                    - string
                    - 'null'
                  uuid:
                    description: __Read-only__ The share group's unique identifier used for membership token management.
                    example: 1533863e-16a4-47b5-b829-ac0f35c13278
                    format: uuid
                    readOnly: true
                    type: string
                    x-linode-cli-display: 3
                required:
                - id
                - uuid
                - label
                - description
                - is_suspended
                - created
                - updated
                - expiry
                - images_count
                - members_count
                type: object
                x-akamai:
                  file-path: schemas/sharegroup.yaml
          description: A single share group object.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - images:read_only
      summary: Get a share group
      tags:
      - Image sharing
      x-akamai:
        status: BETA
        tabs:
        - syntax: linode-cli image-sharegroups view 1234
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: view
      x-linode-redoc-load-ids: true
    put:
      description: '__Beta__ Updates the details of a share group you own. Run this operation to edit the `label` or `description` of a particular sharegroup.


        - Run the List share groups operation to get the `id` you should use as the `(sharegroupId)` path parameter that identifies an existing share group.


        - You can update either of the fields, but when you provide a new `label`, make sure that it''s not an empty string.


        > 📘

        >

        > This operation is in Beta and available from the `v4beta` URL.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `images:read_write`


        **CLI**


        ```shell

        linode-cli image-sharegroups update 1234 --label "new_label" --description "A new description."

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/put-sharegroup
      operationId: put-sharegroup
      requestBody:
        content:
          application/json:
            example:
              description: Group of base operating system images and engineers used for CI/CD pipelines and infrastructure automation
              label: DevOps Base Images
            schema:
              additionalProperties: false
              description: The share group's details to update.
              properties:
                description:
                  description: A detailed description of this share group.
                  example: '{{description}}'
                  type: string
                label:
                  description: The share group's descriptive name.
                  example: '{{label}}'
                  type: string
              type: object
              x-akamai:
                file-path: schemas/put-sharegroup.yaml
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                created: '2025-04-14T22:44:02'
                description: Group of base operating system images and engineers used for CI/CD pipelines and infrastructure automation
                expiry: null
                id: 1
                images_count: 0
                is_suspended: false
                label: DevOps Base Images
                members_count: 0
                updated: null
                uuid: 1533863e-16a4-47b5-b829-ac0f35c13278
              schema:
                additionalProperties: false
                description: The share group's details.
                properties:
                  created:
                    description: __Read-only__ When this share group was created.
                    example: '2025-04-14T22:44:02'
                    readOnly: true
                    type: string
                  description:
                    description: A detailed description of this share group.
                    example: Group of base operating system images and engineers used for CI/CD pipelines and infrastructure automation
                    type:
                    - string
                    - 'null'
                    x-linode-cli-display: 4
                  expiry:
                    description: __Read-only__ When the share group expires.
                    example: null
                    readOnly: true
                    type:
                    - string
                    - 'null'
                  id:
                    description: __Read-only__ The share group's numeric identifier, used primarily as path parameters in URLs.
                    example: 1
                    readOnly: true
                    type: integer
                    x-linode-cli-display: 1
                  images_count:
                    description: __Read-only__ The total number of images currently belonging to the share group.
                    readOnly: true
                    type: integer
                    x-linode-cli-display: 6
                  is_suspended:
                    description: __Read-only__ If `true`, the share group is currently suspended.
                    example: false
                    readOnly: true
                    type: boolean
                    x-linode-cli-display: 5
                  label:
                    description: The share group's descriptive name.
                    example: DevOps Base Images
[...]
