openapi: 3.2.0
info:
  description: Add a Cloud Computing instance so you can build, release, and scale applications faster with virtual machines.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: 'Akamai: Linode Replies API'
  version: 4.229.1
servers:
- url: https://api.linode.com
tags:
- description: Use these operations to create and view replies to correspondence for your support tickets.
  name: Replies
paths:
  /{apiVersion}/support/tickets/{ticketId}/replies:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    - description: The ID of the support ticket.
      example: '{{ticketId}}'
      in: path
      name: ticketId
      required: true
      schema:
        example: 281
        type: integer
      x-akamai:
        file-path: parameters/ticket-id.yaml
    x-akamai:
      file-path: paths/ticket-replies.yaml
      path-info: /{apiVersion}/support/tickets/{ticketId}/replies
    x-linode-cli-command: tickets
    post:
      description: 'Adds a reply to an existing support ticket.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `account:read_write`


        **CLI**


        ```shell

        linode-cli tickets reply 11223344 \

        --description "Thank you for your help. I was able to figure out what the problem was and I successfully reset my password. You guys are the best!"

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/post-ticket-reply
      operationId: post-ticket-reply
      requestBody:
        content:
          application/json:
            example:
              description: Thanks. I just tried that and it worked. Appreciate the help!
            schema:
              additionalProperties: false
              properties:
                description:
                  description: The content of your reply.
                  example: '{{description}}'
                  maxLength: 65535
                  minLength: 1
                  type: string
              required:
              - description
              type: object
              x-akamai:
                file-path: schemas/added-post-ticket-reply.yaml
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                created: '2025-06-02T14:31:41'
                created_by: Jane Smith
                description: Thanks. I just tried that and it worked. Appreciate the help!
                from_linode: false
                gravatar_id: 474a1c7373ae0be4132649e69c36ce31
                id: 123456
              schema:
                additionalProperties: false
                description: An object representing a reply to a support ticket.
                properties:
                  created:
                    description: __Read-only__ When this ticket reply was created.
                    example: '2015-06-02T14:31:41'
                    readOnly: true
                    type: string
                    x-linode-cli-display: 3
                  created_by:
                    description: __Read-only__ The user who submitted this reply.
                    example: John Q. Linode
                    readOnly: true
                    type: string
                    x-linode-cli-display: 2
                  description:
                    description: __Read-only__ The body of this support ticket reply.
                    example: 'Hello,\nI''m sorry to hear that you''re having trouble resetting the root password of your Linode. Just to be sure, have you tried to follow the instructions here: https://techdocs.akamai.com/cloud-computing/docs/reset-the-root-password-on-a-compute-instance? If you have, please reply with any additional steps you''ve also taken.\nRegards,\nLinode Support Team'
                    readOnly: true
                    type: string
                  from_linode:
                    description: __Read-only__ If `true`, this reply came from a Linode employee.
                    example: true
                    readOnly: true
                    type: boolean
                  gravatar_id:
                    description: __Read-only__ The Gravatar ID of the user who created this reply.
                    example: 474a1b7373ae0be4132649e69c36ce30
                    readOnly: true
                    type: string
                  id:
                    description: __Read-only__ The unique ID of this support ticket reply.
                    example: 11223345
                    readOnly: true
                    type: integer
                    x-linode-cli-display: 1
                type: object
                x-akamai:
                  file-path: schemas/support-ticket-reply.yaml
          description: Reply created.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_write
      summary: Create a reply
      tags:
      - Replies
      x-akamai:
        tabs:
        - syntax: "linode-cli tickets reply 11223344 \\\n  --description \"Thank you for your help. I was able to figure out what the problem was and I successfully reset my password. You guys are the best!\""
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
        - syntax: account:read_write
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action: reply
      x-linode-grant: read_write
    get:
      description: 'Returns a collection of replies to a support ticket on your account.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `account:read_only`


        **CLI**


        ```shell

        linode-cli tickets replies 11223344

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-ticket-replies
      operationId: get-ticket-replies
      parameters:
      - description: The page of a collection to return.
        example: '{{page}}'
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 6
          minimum: 1
          type: integer
        x-akamai:
          file-path: parameters/page-offset.yaml
      - description: The number of items to return per page.
        example: '{{page_size}}'
        in: query
        name: page_size
        schema:
          default: 100
          example: 50
          maximum: 500
          minimum: 25
          type: integer
        x-akamai:
          file-path: parameters/page-size.yaml
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - created: '2025-06-02T14:31:41'
                  created_by: Jane Smith
                  description: Thanks. I just tried that and it worked. Appreciate the help!
                  from_linode: false
                  gravatar_id: 474a1c7373ae0be4132649e69c36ce31
                  id: 123456
                page: 1
                pages: 1
                results: 1
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: A list of objects returned for a response.
                    items:
                      additionalProperties: false
                      description: An object representing a reply to a support ticket.
                      properties:
                        created:
                          description: __Read-only__ When this ticket reply was created.
                          example: '2015-06-02T14:31:41'
                          readOnly: true
                          type: string
                          x-linode-cli-display: 3
                        created_by:
                          description: __Read-only__ The user who submitted this reply.
                          example: John Q. Linode
                          readOnly: true
                          type: string
                          x-linode-cli-display: 2
                        description:
                          description: __Read-only__ The body of this support ticket reply.
                          example: 'Hello,\nI''m sorry to hear that you''re having trouble resetting the root password of your Linode. Just to be sure, have you tried to follow the instructions here: https://techdocs.akamai.com/cloud-computing/docs/reset-the-root-password-on-a-compute-instance? If you have, please reply with any additional steps you''ve also taken.\nRegards,\nLinode Support Team'
                          readOnly: true
                          type: string
                        from_linode:
                          description: __Read-only__ If `true`, this reply came from a Linode employee.
                          example: true
                          readOnly: true
                          type: boolean
                        gravatar_id:
                          description: __Read-only__ The Gravatar ID of the user who created this reply.
                          example: 474a1b7373ae0be4132649e69c36ce30
                          readOnly: true
                          type: string
                        id:
                          description: __Read-only__ The unique ID of this support ticket reply.
                          example: 11223345
                          readOnly: true
                          type: integer
                          x-linode-cli-display: 1
                      type: object
                      x-akamai:
                        file-path: schemas/support-ticket-reply.yaml
                    type: array
                  page:
                    description: __Read-only__ The current [page](https://techdocs.akamai.com/linode-api/reference/pagination).
                    example: 1
                    readOnly: true
                    type: integer
                  pages:
                    description: __Read-only__ The total number of [pages](https://techdocs.akamai.com/linode-api/reference/pagination).
                    example: 1
                    readOnly: true
                    type: integer
                  results:
                    description: __Read-only__ The total number of results.
                    example: 1
                    readOnly: true
                    type: integer
                type: object
                x-akamai:
                  file-path: schemas/added-get-ticket-replies-200.yaml
          description: Returns a paginated list of support ticket replies.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_only
      summary: List replies
      tags:
      - Replies
      x-akamai:
        tabs:
        - syntax: linode-cli tickets replies 11223344
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
        - syntax: account:read_only
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action: replies
      x-linode-grant: read_only
components:
  securitySchemes:
    oauth:
      flows:
        authorizationCode:
          authorizationUrl: https://login.linode.com/oauth/authorize
          scopes:
            account:read_only: Allows access to GET information about your account.
            account:read_write: Allows access to all endpoints related to your account.
            child_account:read_only: Allows access to GET information about deprecated parent/child operations.
            child_account:read_write: Allows access to deprecated parent/child operations.
            databases:read_only: Allows access to GET information about databases.
            databases:read_write: Allows access to all endpoints related to databases.
            domains:read_only: Allows access to GET Domains on your account.
            domains:read_write: Allows access to all Domain endpoints.
            events:read_only: Allows access to GET your Events.
            events:read_write: Allows access to all endpoints related to your Events.
            firewall:read_only: Allows access to GET information about your Firewalls.
            firewall:read_write: Allows access to all Firewall endpoints.
            images:read_only: Allows access to GET your Images.
            images:read_write: Allows access to all endpoints related to your Images.
            ips:read_only: Allows access to GET your ips.
            ips:read_write: Allows access to all endpoints related to your ips.
            linodes:read_only: Allows access to GET Linodes on your account.
            linodes:read_write: Allow access to all endpoints related to your Linodes.
            lke:read_only: Allows access to GET LKE Clusters on your account.
            lke:read_write: Allows access to all endpoints related to LKE Clusters on your account.
            longview:read_only: Allows access to GET your Longview Clients.
            longview:read_write: Allows access to all endpoints related to your Longview Clients.
            monitor:read_only: Allows access to Monitor (Akamai Cloud Pulse) data.
            monitor:read_write: Allows access to GET Monitor (Akamai Cloud Pulse) data.
            nodebalancers:read_only: Allows access to GET NodeBalancers on your account.
            nodebalancers:read_write: Allows access to all NodeBalancer endpoints.
            object_storage:read_only: Allows access to GET information related to your Object Storage.
            object_storage:read_write: Allows access to all Object Storage endpoints.
            stackscripts:read_only: Allows access to GET your StackScripts.
            stackscripts:read_write: Allows access to all endpoints related to your StackScripts.
            volumes:read_only: Allows access to GET your Volumes.
            volumes:read_write: Allows access to all endpoints related to your Volumes.
            vpc:read_write: Allows access to all endpoints related to VPC and Subnet creation, updating, and deletion.
          tokenUrl: https://login.linode.com/oauth/token
      type: oauth2
    personalAccessToken:
      scheme: bearer
      type: http
externalDocs:
  description: See documentation for Akamai's Linode API
  url: https://techdocs.akamai.com/linode-api/reference
x-readme:
  explorer-enabled: false
  samples-languages:
  - curl
  - python
  - node
