openapi: 3.2.0
info:
  description: Add a Cloud Computing instance so you can build, release, and scale applications faster with virtual machines.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: 'Akamai: Linode LKE nodes API'
  version: 4.229.1
servers:
- url: https://api.linode.com
tags:
- description: View, recycle, and delete nodes within your LKE clusters. Nodes are the worker machines in your Kubernetes cluster that run your containerized applications.
  name: LKE nodes
paths:
  /{apiVersion}/lke/clusters/{clusterId}/nodes/{nodeId}:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    - description: ID of the Kubernetes cluster containing the Node.
      example: '{{clusterId}}'
      in: path
      name: clusterId
      required: true
      schema:
        example: 12345
        type: integer
      x-akamai:
        file-path: parameters/cluster-id-path-b0a6717a.yaml
    - description: The ID of the Node to access.
      example: '{{nodeId}}'
      in: path
      name: nodeId
      required: true
      schema:
        example: 12345-6aa78910bc
        type: string
      x-akamai:
        file-path: parameters/node-id.yaml
    x-akamai:
      file-path: paths/lke-node.yaml
      path-info: /{apiVersion}/lke/clusters/{clusterId}/nodes/{nodeId}
    x-linode-cli-command: lke
    get:
      description: 'Returns the values for a specified node object.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs these roles assigned. Learn more.

        - Roles: `lkecluster_viewer`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `lke:read_write`


        **CLI**


        ```shell

        linode-cli lke node-view 123456 12345-6aa78910bc

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-lke-cluster-node
      operationId: get-lke-cluster-node
      responses:
        '200':
          content:
            application/json:
              example:
                id: 123456-0183d7fc0000
                instance_id: 954321
                status: ready
              schema:
                additionalProperties: false
                description: Status for a node which is a member of a Kubernetes cluster.
                properties:
                  id:
                    description: The node's ID.
                    example: 12345-6aa78910bc
                    type: string
                  instance_id:
                    description: The Linode's ID. When no Linode is currently provisioned for this node, this is `null`.
                    example: 123458
                    type:
                    - integer
                    - 'null'
                  pool_id:
                    description: '__Beta__, __LKE Enterprise__ The ID of the parent node pool.


                      > 🚧

                      >

                      > This field is available as part of the beta API and can only be used by accounts with access to LKE Enterprise. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                    example: 12345
                    type: integer
                    x-akamai:
                      labels:
                      - LKE Enterprise
                      status: BETA
                  status:
                    description: 'The creation status of this node. This status is distinct from this node''s readiness as a Kubernetes node object as determined by the command `kubectl get nodes`.


                      `not_ready` indicates that the Linode is still being created.


                      `ready` indicates that the Linode has successfully been created and is running Kubernetes software.'
                    enum:
                    - ready
                    - not_ready
                    example: ready
                    type: string
                type: object
                x-akamai:
                  file-path: schemas/lke-node-status.yaml
          description: Returns the values of a node object in the form that it appears currently in the node pool array.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - lke:read_write
      summary: Get a node
      tags:
      - LKE nodes
      x-akamai:
        tabs:
        - syntax: linode-cli lke node-view 123456 12345-6aa78910bc
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: node-view
      x-linode-iam:
      - roles:
        - lkecluster_viewer
    delete:
      description: 'Deletes a specific node from a node pool.


        __Deleting a Node is a destructive action and cannot be undone.__


        Deleting a node reduces the size of the node pool it belongs to.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs these roles assigned. Learn more.

        - Roles: `lkecluster_admin`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `lke:read_write`


        **CLI**


        ```shell

        linode-cli lke node-delete 12345 12345-6aa78910bc

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/delete-lke-cluster-node
      operationId: delete-lke-cluster-node
      responses:
        '200':
          content:
            application/json:
              example: {}
              schema:
                description: The API responds with an empty object.
                maxProperties: 0
                type: object
                x-akamai:
                  file-path: schemas/added-empty-obj.yaml
          description: Delete successful.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - lke:read_write
      summary: Delete a node
      tags:
      - LKE nodes
      x-akamai:
        tabs:
        - syntax: linode-cli lke node-delete 12345 12345-6aa78910bc
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: node-delete
      x-linode-iam:
      - roles:
        - lkecluster_admin
  /{apiVersion}/lke/clusters/{clusterId}/nodes/{nodeId}/recycle:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    - description: ID of the Kubernetes cluster containing the Node.
      example: '{{clusterId}}'
      in: path
      name: clusterId
      required: true
      schema:
        example: 12345
        type: integer
      x-akamai:
        file-path: parameters/cluster-id-path-b0a6717a.yaml
    - description: ID of the Node to be recycled.
      example: '{{nodeId}}'
      in: path
      name: nodeId
      required: true
      schema:
        example: 12345-6aa78910bc
        type: string
      x-akamai:
        file-path: parameters/node-id-recycle.yaml
    x-akamai:
      file-path: paths/lke-node-recycle.yaml
      path-info: /{apiVersion}/lke/clusters/{clusterId}/nodes/{nodeId}/recycle
    x-linode-cli-command: lke
    post:
      description: 'Recycles an individual Node in the designated Kubernetes Cluster. The Node will be deleted and replaced with a new Linode, which may take a few minutes. Replacement Nodes are installed with the latest available patch for the Cluster''s Kubernetes Version.


        __Any local storage on deleted Linodes (such as `hostPath` and `emptyDir` volumes, or `local` PersistentVolumes) will be erased.__


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs these roles assigned. Learn more.

        - Roles: `lkecluster_admin`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `lke:read_write`


        **CLI**


        ```shell

        linode-cli lke node-recycle 12345 12345-6aa78910bc

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/post-lke-cluster-node-recycle
      operationId: post-lke-cluster-node-recycle
      responses:
        '200':
          content:
            application/json:
              example: {}
              schema:
                description: The API responds with an empty object.
                maxProperties: 0
                type: object
                x-akamai:
                  file-path: schemas/added-empty-obj.yaml
          description: Recycle request succeeded and is in progress.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - lke:read_write
      summary: Recycle a node
      tags:
      - LKE nodes
      x-akamai:
        tabs:
        - syntax: linode-cli lke node-recycle 12345 12345-6aa78910bc
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: node-recycle
      x-linode-iam:
      - roles:
        - lkecluster_admin
components:
  securitySchemes:
    oauth:
      flows:
        authorizationCode:
          authorizationUrl: https://login.linode.com/oauth/authorize
          scopes:
            account:read_only: Allows access to GET information about your account.
            account:read_write: Allows access to all endpoints related to your account.
            child_account:read_only: Allows access to GET information about deprecated parent/child operations.
            child_account:read_write: Allows access to deprecated parent/child operations.
            databases:read_only: Allows access to GET information about databases.
            databases:read_write: Allows access to all endpoints related to databases.
            domains:read_only: Allows access to GET Domains on your account.
            domains:read_write: Allows access to all Domain endpoints.
            events:read_only: Allows access to GET your Events.
            events:read_write: Allows access to all endpoints related to your Events.
            firewall:read_only: Allows access to GET information about your Firewalls.
            firewall:read_write: Allows access to all Firewall endpoints.
            images:read_only: Allows access to GET your Images.
            images:read_write: Allows access to all endpoints related to your Images.
            ips:read_only: Allows access to GET your ips.
            ips:read_write: Allows access to all endpoints related to your ips.
            linodes:read_only: Allows access to GET Linodes on your account.
            linodes:read_write: Allow access to all endpoints related to your Linodes.
            lke:read_only: Allows access to GET LKE Clusters on your account.
            lke:read_write: Allows access to all endpoints related to LKE Clusters on your account.
            longview:read_only: Allows access to GET your Longview Clients.
            longview:read_write: Allows access to all endpoints related to your Longview Clients.
            monitor:read_only: Allows access to Monitor (Akamai Cloud Pulse) data.
            monitor:read_write: Allows access to GET Monitor (Akamai Cloud Pulse) data.
            nodebalancers:read_only: Allows access to GET NodeBalancers on your account.
            nodebalancers:read_write: Allows access to all NodeBalancer endpoints.
            object_storage:read_only: Allows access to GET information related to your Object Storage.
            object_storage:read_write: Allows access to all Object Storage endpoints.
            stackscripts:read_only: Allows access to GET your StackScripts.
            stackscripts:read_write: Allows access to all endpoints related to your StackScripts.
            volumes:read_only: Allows access to GET your Volumes.
            volumes:read_write: Allows access to all endpoints related to your Volumes.
            vpc:read_write: Allows access to all endpoints related to VPC and Subnet creation, updating, and deletion.
          tokenUrl: https://login.linode.com/oauth/token
      type: oauth2
    personalAccessToken:
      scheme: bearer
      type: http
externalDocs:
  description: See documentation for Akamai's Linode API
  url: https://techdocs.akamai.com/linode-api/reference
x-readme:
  explorer-enabled: false
  samples-languages:
  - curl
  - python
  - node
