openapi: 3.2.0
info:
  title: Linode Stack Scripts API
  version: '1.0'
  description: 'Operations tagged StackScripts across 2 of this provider''s published API definitions: linode-api-v4-official-openapi.json, linode-api-v4-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.linode.com
- url: https://api.linode.com/v4
  description: Production Server
tags:
- description: Create and manage StackScripts, reusable scripts that run during the deployment of new Linode instances to automate custom configurations.
  name: StackScripts
paths:
  /{apiVersion}/linode/stackscripts:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    x-akamai:
      file-path: paths/stack-scripts.yaml
      path-info: /{apiVersion}/linode/stackscripts
    x-linode-cli-command: stackscripts
    post:
      description: 'Creates a StackScript in your Account.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs these roles assigned. Learn more.

        - Roles: `account_stackscript_creator`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `stackscripts:read_write`


        **CLI**


        ```shell

        linode-cli stackscripts create \

        --label a-stackscript \

        --description "This StackScript install and configures MySQL" \

        --images "linode/debian13" \

        --images "linode/debian13" \

        --is_public true \

        --rev_note "Set up MySQL" \

        --script ''#!/bin/bash''

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/post-add-stack-script
      operationId: post-add-stack-script
      requestBody:
        content:
          application/json:
            example:
              description: This StackScript installs and configures MySQL
              images:
              - linode/debian13
              is_public: false
              label: example-stackscript
              script: '#!/bin/bash'
            schema:
              allOf:
              - additionalProperties: false
                description: A StackScript on your account, which you can use to automatically deploy a fully configured application.
                properties:
                  created:
                    description: __Read-only__ The date this StackScript was created.
                    example: '2018-01-01T00:01:01'
                    format: date-time
                    readOnly: true
                    type: string
                    x-linode-cli-display: 6
                  deployments_active:
                    description: __Read-only__ Count of currently active, deployed Linodes created from this StackScript.
                    example: 1
                    readOnly: true
                    type: integer
                  deployments_total:
                    description: __Filterable__, __Read-only__ The total number of times this StackScript has been deployed.
                    example: 12
                    readOnly: true
                    type: integer
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-filterable: true
                  description:
                    description: __Filterable__ A description for the StackScript.
                    example: This StackScript installs and configures MySQL
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-filterable: true
                  id:
                    description: __Read-only__ The unique ID of this StackScript.
                    example: 10079
                    readOnly: true
                    type: integer
                    x-linode-cli-display: 1
                  images:
                    description: 'An array of Image IDs. These are the Images that can be deployed with this StackScript.


                      `any/all` indicates that all available Images, including private Images, are accepted.'
                    example:
                    - linode/debian13
                    - linode/debian13
                    items:
                      type: string
                    type: array
                    x-linode-cli-display: 4
                  is_public:
                    description: __Filterable__ This determines whether other users can use your StackScript. __Once a StackScript is made public, it cannot be made private.__
                    example: true
                    type: boolean
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 5
                    x-linode-filterable: true
                  label:
                    description: __Filterable__ The StackScript's label is for display purposes only.
                    example: a-stackscript
                    maxLength: 128
                    minLength: 3
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 3
                    x-linode-filterable: true
                  mine:
                    description: __Filterable__, __Read-only__ Returns `true` if this StackScript is owned by the account of the user making the request, and the user making the request is unrestricted or has access to this StackScript.
                    example: true
                    readOnly: true
                    type: boolean
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-filterable: true
                  rev_note:
                    description: __Filterable__ This field allows you to add notes for the set of revisions made to this StackScript.
                    example: Set up MySQL
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-filterable: true
                  script:
                    description: The script to execute when provisioning a new Linode with this StackScript.
                    example: \"#!/bin/bash\"
                    type: string
                    x-linode-cli-format: file
                  updated:
                    description: __Read-only__ The date this StackScript was last updated.
                    example: '2018-01-01T00:01:01'
                    format: date-time
                    readOnly: true
                    type: string
                    x-linode-cli-display: 7
                  user_defined_fields:
                    description: __Read-only__ This is a list of fields defined with a special syntax inside this StackScript that allow for supplying customized parameters during deployment. See [Declare User-Defined Fields (UDFs)](https://techdocs.akamai.com/cloud-computing/docs/write-a-custom-script-for-use-with-stackscripts#declare-user-defined-fields-udfs) for more information.
                    example:
                      example: hunter2
                      label: Enter the DB password
                      name: DB_PASSWORD
                    items:
                      additionalProperties: false
                      description: A custom field defined by the User with a special syntax within a StackScript. Derived from the contents of the script.
                      properties:
                        default:
                          description: __Read-only__ The default value.  If not specified, this value will be used.
                          readOnly: true
                          type: string
                        example:
                          description: __Read-only__ An example value for the field.
                          example: hunter2
                          readOnly: true
                          type: string
                        label:
                          description: __Read-only__ A human-readable label for the field that will serve as the input prompt for entering the value during deployment.
                          example: Enter the password
                          readOnly: true
                          type: string
                        manyOf:
                          description: __Read-only__ A list of acceptable values for the field in any quantity, combination or order.
                          example: avalue,anothervalue,thirdvalue
                          readOnly: true
                          type: string
                        name:
                          description: __Read-only__ The name of the field.
                          example: DB_PASSWORD
                          readOnly: true
                          type: string
                        oneOf:
                          description: __Read-only__ A list of acceptable single values for the field.
                          example: avalue,anothervalue,thirdvalue
                          readOnly: true
                          type: string
                      required:
                      - label
                      - name
                      - example
                      type: object
                      x-akamai:
                        file-path: schemas/user-defined-field.yaml
                    readOnly: true
                    type: array
                  user_gravatar_id:
                    description: __Read-only__ The Gravatar ID for the User who created the StackScript.
                    example: a445b305abda30ebc766bc7fda037c37
                    readOnly: true
                    type: string
                  username:
                    description: __Read-only__ The User who created the StackScript.
                    example: myuser
                    readOnly: true
                    type: string
                    x-linode-cli-display: 2
                type: object
                x-akamai:
                  file-path: schemas/stack-script.yaml
              required:
              - script
              - label
              - images
              x-akamai:
                file-path: schemas/post-add-stack-script.yaml
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                created: '2026-03-31T00:40:32'
                deployments_active: 0
                deployments_total: 0
                description: This StackScript installs and configures MySQL
                id: 123456
                images:
                - linode/debian13
                is_public: false
                label: example-stackscript
                logo_url: ''
                mine: true
                ordinal: 0
                rev_note: ''
                script: '#!/bin/bash'
                updated: '2026-03-31T00:40:32'
                user_defined_fields: []
                user_gravatar_id: e96f2ce1564b85f70309dd06b6c134c8
                username: jkowalski
              schema:
                additionalProperties: false
                description: A StackScript on your account, which you can use to automatically deploy a fully configured application.
                properties:
                  created:
                    description: __Read-only__ The date this StackScript was created.
                    example: '2018-01-01T00:01:01'
                    format: date-time
                    readOnly: true
                    type: string
                    x-linode-cli-display: 6
                  deployments_active:
                    description: __Read-only__ Count of currently active, deployed Linodes created from this StackScript.
                    example: 1
                    readOnly: true
                    type: integer
                  deployments_total:
                    description: __Filterable__, __Read-only__ The total number of times this StackScript has been deployed.
                    example: 12
                    readOnly: true
                    type: integer
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-filterable: true
                  description:
                    description: __Filterable__ A description for the StackScript.
                    example: This StackScript installs and configures MySQL
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-filterable: true
                  id:
                    description: __Read-only__ The unique ID of this StackScript.
                    example: 10079
                    readOnly: true
                    type: integer
                    x-linode-cli-display: 1
                  images:
                    description: 'An array of Image IDs. These are the Images that can be deployed with this StackScript.


                      `any/all` indicates that all available Images, including private Images, are accepted.'
                    example:
                    - linode/debian13
                    - linode/debian13
                    items:
                      type: string
                    type: array
                    x-linode-cli-display: 4
                  is_public:
                    description: __Filterable__ This determines whether other users can use your StackScript. __Once a StackScript is made public, it cannot be made private.__
                    example: true
                    type: boolean
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 5
                    x-linode-filterable: true
                  label:
                    description: __Filterable__ The StackScript's label is for display purposes only.
                    example: a-stackscript
                    maxLength: 128
                    minLength: 3
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 3
                    x-linode-filterable: true
                  mine:
                    description: __Filterable__, __Read-only__ Returns `true` if this StackScript is owned by the account of the user making the request, and the user making the request is unrestricted or has access to this StackScript.
                    example: true
                    readOnly: true
                    type: boolean
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-filterable: true
                  rev_note:
                    description: __Filterable__ This field allows you to add notes for the set of revisions made to this StackScript.
                    example: Set up MySQL
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-filterable: true
                  script:
                    description: The script to execute when provisioning a new Linode with this StackScript.
                    example: \"#!/bin/bash\"
                    type: string
                    x-linode-cli-format: file
                  updated:
                    description: __Read-only__ The date this StackScript was last updated.
                    example: '2018-01-01T00:01:01'
                    format: date-time
                    readOnly: true
                    type: string
                    x-linode-cli-display: 7
                  user_defined_fields:
                    description: __Read-only__ This is a list of fields defined with a special syntax inside this StackScript that allow for supplying customized parameters during deployment. See [Declare User-Defined Fields (UDFs)](https://techdocs.akamai.com/cloud-computing/docs/write-a-custom-script-for-use-with-stackscripts#declare-user-defined-fields-udfs) for more information.
                    example:
                      example: hunter2
                      label: Enter the DB password
                      name: DB_PASSWORD
                    items:
                      additionalProperties: false
                      description: A custom field defined by the User with a special syntax within a StackScript. Derived from the contents of the script.
                      properties:
                        default:
                          description: __Read-only__ The default value.  If not specified, this value will be used.
                          readOnly: true
                          type: string
                        example:
                          description: __Read-only__ An example value for the field.
                          example: hunter2
                          readOnly: true
                          type: string
                        label:
                          description: __Read-only__ A human-readable label for the field that will serve as the input prompt for entering the value during deployment.
                          example: Enter the password
                          readOnly: true
                          type: string
                        manyOf:
                          description: __Read-only__ A list of acceptable values for the field in any quantity, combination or order.
                          example: avalue,anothervalue,thirdvalue
                          readOnly: true
                          type: string
                        name:
                          description: __Read-only__ The name of the field.
                          example: DB_PASSWORD
                          readOnly: true
                          type: string
                        oneOf:
                          description: __Read-only__ A list of acceptable single values for the field.
                          example: avalue,anothervalue,thirdvalue
                          readOnly: true
                          type: string
                      required:
                      - label
                      - name
                      - example
                      type: object
                      x-akamai:
                        file-path: schemas/user-defined-field.yaml
                    readOnly: true
                    type: array
                  user_gravatar_id:
                    description: __Read-only__ The Gravatar ID for the User who created the StackScript.
                    example: a445b305abda30ebc766bc7fda037c37
                    readOnly: true
                    type: string
                  username:
                    description: __Read-only__ The User who created the StackScript.
                    example: myuser
                    readOnly: true
                    type: string
                    x-linode-cli-display: 2
                type: object
                x-akamai:
                  file-path: schemas/stack-script.yaml
          description: StackScript successfully created.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - stackscripts:read_write
      summary: Create a StackScript
      tags:
      - StackScripts
      x-akamai:
        tabs:
        - syntax: "linode-cli stackscripts create \\\n  --label a-stackscript \\\n  --description \"This StackScript install and configures MySQL\" \\\n  --images \"linode/debian13\" \\\n  --images \"linode/debian13\" \\\n  --is_public true \\\n  --rev_note \"Set up MySQL\" \\\n  --script '#!/bin/bash'"
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: create
      x-linode-grant: add_stackscripts
      x-linode-iam:
      - roles:
        - account_stackscript_creator
    get:
      description: 'If the request is not authenticated, only public StackScripts are returned.


        For more information on StackScripts, please read our StackScripts documentation.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs these roles assigned. Learn more.

        - Roles: `Public StackScripts are Internet facing, and Private StackScripts require the stackscript_viewer role`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `stackscripts:read_only`


        **CLI**


        ```shell

        linode-cli stackscripts list

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-stack-scripts
      operationId: get-stack-scripts
      parameters:
      - description: The page of a collection to return.
        example: '{{page}}'
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 6
          minimum: 1
          type: integer
        x-akamai:
          file-path: parameters/page-offset.yaml
      - description: The number of items to return per page.
        example: '{{page_size}}'
        in: query
        name: page_size
        schema:
          default: 100
          example: 50
          maximum: 500
          minimum: 25
          type: integer
        x-akamai:
          file-path: parameters/page-size.yaml
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - created: '2018-01-01T00:01:01'
                  deployments_active: 1
                  deployments_total: 12
                  description: This StackScript installs and configures MySQL
                  id: 10079
                  images:
                  - linode/debian13
                  - linode/debian13
                  is_public: true
                  label: a-stackscript
                  mine: true
                  rev_note: Set up MySQL
                  script: '#!/bin/bash'
                  updated: '2018-01-01T00:01:01'
                  user_defined_fields:
                    example: hunter2
                    label: Enter the DB password
                    name: DB_PASSWORD
                  user_gravatar_id: a445b305abda30ebc766bc7fda037c37
                  username: jkowalski
                page: 1
                pages: 1
                results: 1
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: StackScripts that have been uploaded to your account.
                    items:
                      additionalProperties: false
                      description: A StackScript on your account, which you can use to automatically deploy a fully configured application.
                      properties:
                        created:
                          description: __Read-only__ The date this StackScript was created.
                          example: '2018-01-01T00:01:01'
                          format: date-time
                          readOnly: true
                          type: string
                          x-linode-cli-display: 6
                        deployments_active:
                          description: __Read-only__ Count of currently active, deployed Linodes created from this StackScript.
                          example: 1
                          readOnly: true
                          type: integer
                        deployments_total:
                          description: __Filterable__, __Read-only__ The total number of times this StackScript has been deployed.
                          example: 12
                          readOnly: true
                          type: integer
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-filterable: true
                        description:
                          description: __Filterable__ A description for the StackScript.
                          example: This StackScript installs and configures MySQL
                          type: string
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-filterable: true
                        id:
                          description: __Read-only__ The unique ID of this StackScript.
                          example: 10079
                          readOnly: true
                          type: integer
                          x-linode-cli-display: 1
                        images:
                          description: 'An array of Image IDs. These are the Images that can be deployed with this StackScript.


                            `any/all` indicates that all available Images, including private Images, are accepted.'
                          example:
                          - linode/debian13
                          - linode/debian13
                          items:
                            type: string
                          type: array
                          x-linode-cli-display: 4
                        is_public:
                          description: __Filterable__ This determines whether other users can use your StackScript. __Once a StackScript is made public, it cannot be made private.__
                          example: true
                          type: boolean
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-cli-display: 5
                          x-linode-filterable: true
                        label:
                          description: __Filterable__ The StackScript's label is for display purposes only.
                          example: a-stackscript
                          maxLength: 128
                          minLength: 3
                          type: string
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-cli-display: 3
                          x-linode-filterable: true
                        mine:
                          description: __Filterable__, __Read-only__ Returns `true` if this StackScript is owned by the account of the user making the request, and the user making the request is unrestricted or has access to this StackScript.
                          example: true
                          readOnly: true
                          type: boolean
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-filterable: true
                        rev_note:
                          description: __Filterable__ This field allows you to add notes for the set of revisions made to this StackScript.
                          example: Set up MySQL
                          type: string
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-filterable: true
                        script:
                          description: The script to execute when provisioning a new Linode with this StackScript.
                          example: \"#!/bin/bash\"
                          type: string
                          x-linode-cli-format: file
                        updated:
                          description: __Read-only__ The date this StackScript was last updated.
                          example: '2018-01-01T00:01:01'
                          format: date-time
                          readOnly: true
                          type: string
                          x-linode-cli-display: 7
                        user_defined_fields:
                          description: __Read-only__ This is a list of fields defined with a special syntax inside this StackScript that allow for supplying customized parameters during deployment. See [Declare User-Defined Fields (UDFs)](https://techdocs.akamai.com/cloud-computing/docs/write-a-custom-script-for-use-with-stackscripts#declare-user-defined-fields-udfs) for more information.
                          example:
                            example: hunter2
                            label: Enter the DB password
                            name: DB_PASSWORD
                          items:
                            additionalProperties: false
                            description: A custom field defined by the User with a special syntax within a StackScript. Derived from the contents of the script.
                            properties:
                              default:
                                description: __Read-only__ The default value.  If not specified, this value will be used.
                                readOnly: true
                                type: string
                              example:
                                description: __Read-only__ An example value for the field.
                                example: hunter2
                                readOnly: true
                                type: string
                              label:
                                description: __Read-only__ A human-readable label for the field that will serve as the input prompt for entering the value during deployment.
                                example: Enter the password
                                readOnly: true
                                type: string
                              manyOf:
                                description: __Read-only__ A list of acceptable values for the field in any quantity, combination or order.
                                example: avalue,anothervalue,thirdvalue
                                readOnly: true
                                type: string
                              name:
                                description: __Read-only__ The name of the field.
                                example: DB_PASSWORD
                                readOnly: true
                                type: string
                              oneOf:
                                description: __Read-only__ A list of acceptable single values for the field.
                                example: avalue,anothervalue,thirdvalue
                                readOnly: true
                                type: string
                            required:
                            - label
                            - name
                            - example
                            type: object
                            x-akamai:
                              file-path: schemas/user-defined-field.yaml
                          readOnly: true
                          type: array
                        user_gravatar_id:
                          description: __Read-only__ The Gravatar ID for the User who created the StackScript.
                          example: a445b305abda30ebc766bc7fda037c37
                          readOnly: true
                          type: string
                        username:
                          description: __Read-only__ The User who created the StackScript.
                          example: myuser
                          readOnly: true
                          type: string
                          x-linode-cli-display: 2
                      type: object
                      x-akamai:
                        file-path: schemas/stack-script.yaml
                    type: array
                  page:
                    description: __Read-only__ The current [page](https://techdocs.akamai.com/linode-api/reference/pagination).
                    example: 1
                    readOnly: true
                    type: integer
                  pages:
                    description: __Read-only__ The total number of [pages](https://techdocs.akamai.com/linode-api/reference/pagination).
                    example: 1
                    readOnly: true
                    type: integer
                  results:
                    description: __Read-only__ The total number of results.
                    example: 1
                    readOnly: true
                    type: integer
                type: object
                x-akamai:
                  file-path: schemas/get-stack-scripts-200.yaml
          description: A list of StackScripts available to the User, including private StackScripts owned by the User if the request is authenticated.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - stackscripts:read_only
      summary: List StackScripts
      tags:
      - StackScripts
      x-akamai:
        tabs:
        - syntax: linode-cli stackscripts list
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action:
      - list
      - ls
      x-linode-grant: read_only
      x-linode-iam:
      - roles:
        - Public StackScripts are Internet facing, and Private StackScripts require the stackscript_viewer role
    servers:
    - url: https://api.linode.com
  /{apiVersion}/linode/stackscripts/{stackscriptId}:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    - description: The ID of the StackScript to look up.
      example: '{{stackscriptId}}'
      in: path
      name: stackscriptId
      required: true
      schema:
        example: 10079
        type: string
      x-akamai:
        file-path: parameters/stackscript-id-path.yaml
    x-akamai:
      file-path: paths/stack-script.yaml
      path-info: /{apiVersion}/linode/stackscripts/{stackscriptId}
    x-linode-cli-command: stackscripts
    get:
      description: 'Returns all of the information about a specified StackScript, including the contents of the script.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs these roles assigned. Learn more.

        - Roles: `stackscript_viewer`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `stackscripts:read_only`


        **CLI**


        ```shell

        linode-cli stackscripts view 10079

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-stack-script
      operationId: get-stack-script
      responses:
        '200':
          content:
            application/json:
              example:
                created: '2026-03-31T00:40:32'
                deployments_active: 0
                deployments_total: 0
                description: This StackScript installs and configures MySQL
                id: 123456
                images:
                - linode/debian13
                is_public: false
                label: example-stackscript
                logo_url: ''
                mine: true
                ordinal: 0
                rev_note: ''
                script: '#!/bin/bash'
                updated: '2026-03-31T00:40:32'
                user_defined_fields: []
                user_gravatar_id: e96f2ce1564b85f70309dd06b6c134c8
                username: alfulani
              schema:
                additionalProperties: false
                description: A StackScript on your account, which you can use to automatically deploy a fully configured application.
                properties:
                  created:
                    description: __Read-only__ The date this StackScript was created.
                    example: '2018-01-01T00:01:01'
                    format: date-time
                    readOnly: true
                    type: string
                    x-linode-cli-display: 6
                  deployments_active:
                    description: __Read-only__ Count of currently active, deployed Linodes created from this StackScript.
                    example: 1
                    readOnly: true
                    type: integer
                  deployments_total:
                    description: __Filterable__, __Read-only__ The total number of times this StackScript has been deployed.
                    example: 12
                    readOnly: true
                    type: integer
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-filterable: true
                  description:
                    description: __Filterable__ A description for the StackScript.
                    example: This StackScript installs and configures MySQL
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-filterable: true
                  id:
                    description: __Read-only__ The unique ID of this StackScript.
                    example: 10079
                    readOnly: true
                    type: integer
                    x-linode-cli-display: 1
                  images:
                    description: 'An array of Image IDs. These are the Images that can be deployed with this StackScript.


                      `any/all` indicates that all available Images, including private Images, are accepted.'
                    example:
                    - linode/debian13
                    - linode/debian13
                    items:
                      type: string
                    type: array
                    x-linode-cli-display: 4
                  is_public:
                    description: __Filterable__ This determines whether other users can use your StackScript. __Once a StackScript is made public, it cannot be made private.__
                    example: true
                    type: boolean
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 5
                    x-linode-filterable: true
                  label:
                    description: __Filterable__ The StackScript's label is for display purposes only.
                    example: a-stackscript
                    maxLength: 128
                    minLength: 3
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 3
                    x-linode-filterable: true
                  mine:
                    description: __Filterable__, __Read-only__ Returns `true` if this StackScript is owned by the account of the user making the request, and the user making the request is unrestricted or has access to this StackScript.
                    example: true
                    readOnly: true
                    type: boolean
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-filterable: true
                  rev_note:
                    description: __Filterable__ This field allows you to add notes for the set of revisions made to this StackScript.
                    example: Set up MySQL
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-filterable: true
                  script:
                    description: The script to execute when provisioning a new Linode with this StackScript.
                    example: \"#!/bin/bash\"
                    type: string
                    x-linode-cli-format: file
                  updated:
                    description: __Read-only__ The date this StackScript was last updated.
                    example: '2018-01-01T00:01:01'
                    format: date-time
                    readOnly: true
                    type: string
                    x-linode-cli-display: 7
                  user_defined_fields:
                    description: __Read-only__ This is a list of fields defined with a special syntax inside this StackScript that allow for supplying customized parameters during deployment. See [Declare User-Defined Fields (UDFs)](https://techdocs.akamai.com/cloud-computing/docs/write-a-custom-script-for-use-with-stackscripts#declare-user-defined-fields-udfs) for more information.
                    example:
                      example: hunter2
                      label: Enter the DB password
                      name: DB_PASSWORD
                    items:
                      additionalProperties: false
                      description: A custom field defined by the User with a special syntax within a StackScript. Derived from the contents of the script.
                      properties:
                        default:
                          description: __Read-only__ The default value.  If not specified, this value will be used.
                          readOnly: true
                          type: string
                        example:
                          description: __Read-only__ An example value for the field.
                          example: hunter2
                          readOnly: true
                          type: string
                        label:
                          description: __Read-only__ A human-readable label for the field that will serve as the input prompt for entering the value during deployment.
                          example: Enter the password
                          readOnly: true
                          type: string
                        manyOf:
                          description: __Read-only__ A list of acceptable values for the field in any quantity, combination or order.
                          example: avalue,anothervalue,thirdvalue
                          readOnly: true
                          type: string
                        name:
                          description: __Read-only__ The name of the field.
                          example: DB_PASSWORD
                          readOnly: true
                          type: string
                        oneOf:
                          description: __Read-only__ A list of acceptable single values for the field.
                          example: avalue,anothervalue,thirdvalue
                          readOnly: true
                          type: string
                      required:
                      - label
                      - name
                      - example
                      type: object
                      x-akamai:
                        file-path: schemas/user-defined-field.yaml
                    readOnly: true
                    type: array
                  user_gravatar_id:
                    description: __Read-only__ The Gravatar ID for the User who created the StackScript.
                    example: a445b305abda30ebc766bc7fda037c37
                    readOnly: true
                    type: string
                  username:
                    description: __Read-only__ The User who created the StackScript.
                    example: myuser
                    readOnly: true
                    type: string
                    x-linode-cli-display: 2
                type: object
                x-akamai:
                  file-path: schemas/stack-script.yaml
          description: A single StackScript.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - stackscripts:read_only
      summary: Get a StackScript
      tags:
      - StackScripts
      x-akamai:
        tabs:
        - syntax: linode-cli stackscripts view 10079
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: view
      x-linode-grant: read_only
      x-linode-iam:
      - roles:
        - stackscript_viewer
    put:
      description: 'Updates a StackScript.


        __Once a StackScript is made public, it cannot be made private.__


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs these roles assigned. Learn more.

        - Roles: `stackscript_admin`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `stackscripts:read_write`


        **CLI**


        ```shell

        linode-cli stackscripts update 10079 \

        --label a-stackscript \

        --description "This StackScript installs \

        and configures MySQL" \

        --images "linode/debian13" \

        --images "linode/debian13" \

        --is_public true \

        --rev_note "Set up MySQL" \

        --script ''#!/bin/bash''

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/put-stack-script
      operationId: put-stack-script
      requestBody:
        content:
          application/json:
            example:
              images:
              - linode/debian13
              - linode/debian13
            schema:
              additionalProperties: false
              description: A StackScript on your account, which you can use to automatically deploy a fully configured application.
              properties:
                created:
                  description: __Read-only__ The date this StackScript was created.
                  example: '{{created}}'
                  format: date-time
                  readOnly: true
                  type: string
                  x-linode-cli-display: 6
                deployments_active:
                  description: __Read-only__ Count of currently active, deployed Linodes created from this StackScript.
                  example: '{{deployments_active}}'
                  readOnly: true
                  type: integer
                deployments_total:
                  description: __Filterable__, __Read-only__ The total number of times this StackScript has been deployed.
                  example: '{{deployments_total}}'
                  readOnly: true
                  type: integer
                  x-akamai:
                    labels:
                    - Filterable
                  x-linode-filterable: true
                description:
                  description: __Filterable__ A description for the StackScript.
                  example: '{{description}}'
                  type: string
                  x-akamai:
                    labels:
                    - Filterable
                  x-linode-filterable: true
                id:
                  description: __Read-only__ The unique ID of this StackScript.
                  example: '{{id}}'
                  readOnly: true
                  type: integer
                  x-linode-cli-display: 1
                images:
                  description: 'An array of Image IDs. These are the Images that can be deployed with this StackScript.


                    `any/all` indicates that all available Images, including private Images, are accepted.'
                  example:
                  - linode/debian13
                  - linode/debian13
                  items:
                    type: string
                  type: array
                  x-linode-cli-display: 4
                is_public:
                  description: __Filterable__ This determines whether other users can use your StackScript. __Once a StackScript is made public, it cannot be made private.__
                  example: '{{is_public}}'
                  type: boolean
                  x-akamai:
                    labels:
                    - Filterable
                  x-linode-cli-display: 5
                  x-linode-filterable: true
                label:
                  description: __Filterable__ The StackScript's label is for display purposes only.
                  example: '{{label}}'
                  maxLength: 128
                  minLength: 3
                  type: string
                  x-akamai:
                    labels:
                    - Filterable
                  x-linode-cli-display: 3
                  x-linode-filterable: true
                mine:
                  description: __Filterable__, __Read-only__ Returns `true` if this StackScript is owned by the account of the user making the request, and the user making the request is unrestricted or has access to this StackScript.
                  example: '{{mine}}'
                  readOnly: true
                  type: boolean
                  x-akamai:
                    labels:
                    - Filterable
                  x-linode-filterable: true
                rev_note:
                  description: __Filterable__ This field allows you to add notes for the set of revisions made to this StackScript.
                  example: '{{rev_note}}'
                  type: string
                  x-akamai:
                    labels:
                    - Filterable
                  x-linode-filterable: true
                script:
                  description: The script to execute when provisioning a new Linode with this StackScript.
                  example: '{{script}}'
                  type: string
                  x-linode-cli-format: file
                updated:
                  description: __Read-only__ The date this StackScript was last updated.
                  example: '{{updated}}'
                  format: date-time
                  readOnly: true
                  type: string
                  x-linode-cli-display: 7
                user_defined_fields:
                  description: __Read-only__ This is a list of fields defined with a special syntax inside this StackScript that allow for supplying customized parameters during deployment. See [Declare User-Defined Fields (UDFs)](https://techdocs.akamai.com/cloud-computing/docs/write-a-custom-script-for-use-with-stackscripts#declare-user-defined-fields-udfs) for more information.
                  example:
                    example: hunter2
                    label: Enter the DB password
                    name: DB_PASSWORD
                  items:
                    additionalProperties: false
                    description: A custom field defined by the User with a special syntax within a StackScript. Derived from the contents of the script.
                    properties:
                      default:
                        description: __Read-only__ The default value.  If not specified, this value will be used.
                        readOnly: true
                        type: string
                      example:
                        description: __Read-only__ An example value for the field.
                        example: hunter2
                        readOnly: true
                        type: string
                      label:
                        description: __Read-only__ A human-readable label for the field that will serve as the input prompt for entering the value during deployment.
                        example: Enter the password
                        readOnly: true
                        type: string
                      manyOf:
                        description: __Read-only__ A list of acceptable values for the field in any quantity, combination or order.
                        example: avalue,anothervalue,thirdvalue
                        readOnly: true
                        type: string
                      name:
                        description: __Read-only__ The name of the field.
                        example: DB_PASSWORD
                        readOnly: true
                        type: string
                      oneOf:
                        description: __Read-only__ A list of acceptable single values for the field.
                        example: avalue,anothervalue,thirdvalue
                        readOnly: true
                        type: string
                    required:
                    - label
                    - name
                    - example
                    type: object
                    x-akamai:
                      file-path: schemas/user-defined-field.yaml
                  readOnly: true
                  type: array
                user_gravatar_id:
                  description: __Read-only__ The Gravatar ID for the User who created the StackScript.
                  example: '{{user_gravatar_id}}'
                  readOnly: true
                  type: string
                username:
                  description: __Read-only__ The User who created the StackScript.
                  example: '{{username}}'
                  readOnly: true
                  type: string
                  x-linode-cli-display: 2
              type: object
              x-akamai:
                file-path: schemas/stack-script.yaml
      responses:
        '200':
          content:
            application/json:
              example:
                created: '2026-03-31T00:40:32'
                deployments_active: 0
                deployments_total: 0
                description: This StackScript installs and configures MySQL
                id: 123456
                images:
                - linode/debian13
                is_public: false
                label: example-stackscript
                logo_url: ''
                mine: true
                ordinal: 0
                rev_note: ''
                script: '#!/bin/bash'
                updated: '2026-03-31T00:40:32'
                user_defined_fields: []
                user_gravatar_id: e96f2ce1564b85f70309dd06b6c134c8
                username: alfulani
              schema:
                additionalProperties: false
                description: A StackScript on your account, which you can use to automatically deploy a fully configured application.
                properties:
                  created:
                    description: __Read-only__ The date this StackScript was created.
                    example: '2018-01-01T00:01:01'
                    format: date-time
                    readOnly: true
                    type: string
                    x-linode-cli-display: 6
                  deployments_active:
                    description: __Read-only__ Count of currently active, deployed Linodes created from this StackScript.
                    example: 1
                    readOnly: true
                    type: integer
                  deployments_total:
                    description: __Filterable__, __Read-only__ The total number of times this StackScript has been deployed.
                    example: 12
                    readOnly: true
                    type: integer
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-filterable: true
                  description:
                    description: __Filterable__ A description for the StackScript.
                    example: This StackScript installs and configures MySQL
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-filterable: true
                  id:
                    description: __Read-only__ The unique ID of this StackScript.
                    example: 10079
                    readOnly: true
                    type: integer
                    x-linode-cli-display: 1
                  images:
                    description: 'An array of Image IDs. These are the Images that can be deployed with this StackScript.


                      `any/all` indicates that all available Images, including private Images, are accepted.'
                    example:
                    - linode/debian13
                    - linode/debian13
                    items:
                      type: string
                    type: array
                    x-linode-cli-display: 4
                  is_public:
                    description: __Filterable__ This determines whether other users can use your StackScript. __Once a StackScript is made public, it cannot be made private.__
                    example: true
                    type: boolean
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 5
                    x-linode-filterable: true
                  label:
                    description: __Filterable__ The StackScript's label is for display purposes only.
                    example: a-stackscript
                    maxLength: 128
                    minLength: 3
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 3
                    x-linode-filterable: true
                  mine:
                    description: __Filterable__, __Read-only__ Returns `true` if this StackScript is owned by the account of the user making the request, and the user making the request is unrestricted or has access to this StackScript.
                    example: true
                    readOnly: true
                    type: boolean
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-filterable: true
                  rev_note:
                    description: __Filterable__ This field allows you to add notes for the set of revisions made to this StackScript.
                    example: Set up MySQL
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-filterable: true
                  script:
                    description: The script to execute when provisioning a new Linode with this StackScript.
                    example: \"#!/bin/bash\"
                    type: string
                    x-linode-cli-format: file
                  updated:
                    description: __Read-only__ The date this StackScript was last updated.
                    example: '2018-01-01T00:01:01'
                    format: date-time
                    readOnly: true
                    type: string
                    x-linode-cli-display: 7
                  user_defined_fields:
                    description: __Read-only__ This is a list of fields defined with a special syntax inside this StackScript that allow for supplying customized parameters during deployment. See [Declare User-Defined Fields (UDFs)](https://techdocs.akamai.com/cloud-computing/docs/write-a-custom-script-for-use-with-stackscripts#declare-user-defined-fields-udfs) for more information.
                    example:
                      example: hunter2
                      label: Enter the DB password
                      name: DB_PASSWORD
                    items:
                      additionalProperties: false
                      description: A custom field defined by the User with a special syntax within a StackScript. Derived from the contents of the script.
                      properties:
                        default:
                          description: __Read-only__ The default value.  If not specified, this value will be used.
                          readOnly: true
                          type: string
                        example:
                          description: __Read-only__ An example value for the field.
                          example: hunter2
                          readOnly: true
                          type: string
                        label:
                          description: __Read-only__ A human-readable label for the field that will serve as the input prompt for entering the value during deployment.
                          example: Enter the password
                          readOnly: true
                          type: string
                        manyOf:
                          description: __Read-only__ A list of acceptable values for the field in any quantity, combination or order.
                          example: avalue,anothervalue,thirdvalue
                          readOnly: true
                          type: string
                        name:
                          description: __Read-only__ The name of the field.
                          example: DB_PASSWORD
                          readOnly: true
                          type: string
                        oneOf:
                          description: __Read-only__ A list of acceptable single values for the field.
                          example: avalue,anothervalue,thirdvalue
                          readOnly: true
                          type: string
                      required:
                      - label
                      - name
                      - example
                      type: object
                      x-akamai:
                        file-path: schemas/user-defined-field.yaml
                    readOnly: true
                    type: array
                  user_gravatar_id:
                    description: __Read-only__ The Gravatar ID for the User who created the StackScript.
                    example: a445b305abda30ebc766bc7fda037c37
                    readOnly: true
                    type: string
                  username:
                    description: __Read-only__ The User who created the StackScript.
                    example: myuser
                    readOnly: true
                    type: string
                    x-linode-cli-display: 2
                type: object
                x-akamai:
                  file-path: schemas/stack-script.yaml
          description: StackScript was successfully modified.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - stackscripts:read_write
      summary: Update a StackScript
      tags:
      - StackScripts
      x-akamai:
        tabs:
        - syntax: "linode-cli stackscripts update 10079 \\\n  --label a-stackscript \\\n  --description \"This StackScript installs \\\n    and configures MySQL\" \\\n  --images \"linode/debian13\" \\\n  --images \"linode/debian13\" \\\n  --is_public true \\\n  --rev_note \"Set up MySQL\" \\\n  --script '#!/bin/bash'"
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: update
      x-linode-grant: read_write
      x-linode-iam:
      - roles:
        - stackscript_admin
    delete:
      description: 'Deletes a private StackScript. You can''t delete a public StackScript.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs these roles assigned. Learn more.

        - Roles: `stackscript_admin`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `stackscripts:read_write`


        **CLI**


        ```shell

        linode-cli stackscripts delete 10079

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/delete-stack-script
      operationId: delete-stack-script
      responses:
        '200':
          content:
            application/json:
              example: {}
              schema:
                description: The API responds with an empty object.
                maxProperties: 0
                type: object
                x-akamai:
                  file-path: schemas/added-empty-obj.yaml
          description: StackScript was deleted.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - stackscripts:read_write
      summary: Delete a StackScript
      tags:
      - StackScripts
      x-akamai:
        tabs:
        - syntax: linode-cli stackscripts delete 10079
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action:
      - delete
      - rm
      x-linode-grant: read_write
      x-linode-iam:
      - roles:
        - stackscript_admin
    servers:
    - url: https://api.linode.com
  /linode/stackscripts:
    get:
      operationId: getStackScripts
      summary: List StackScripts
      description: Returns a paginated list of StackScripts accessible to your account, including both your own and community StackScripts.
      tags:
      - StackScripts
      parameters:
      - $ref: '#/components/parameters/pageParam'
      - $ref: '#/components/parameters/pageSizeParam'
      responses:
        '200':
          description: StackScripts retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedStackScriptList'
        '401':
          description: Unauthorized - invalid or missing authentication
      security:
      - personalAccessToken: []
      - oauth: []
    post:
      operationId: createStackScript
      summary: Create a StackScript
      description: Creates a new StackScript for automating the deployment and configuration of Linode instances.
      tags:
      - StackScripts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StackScriptRequest'
      responses:
        '200':
          description: StackScript created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StackScript'
        '400':
          description: Bad request - invalid parameters
        '401':
          description: Unauthorized - invalid or missing authentication
      security:
      - personalAccessToken: []
      - oauth: []
    servers:
    - url: https://api.linode.com/v4
      description: Production Server
  /linode/stackscripts/{stackscriptId}:
    get:
      operationId: getStackScript
      summary: Get a StackScript
      description: Returns the details for a single StackScript.
      tags:
      - StackScripts
      parameters:
      - $ref: '#/components/parameters/stackscriptIdParam'
      responses:
        '200':
          description: StackScript retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StackScript'
        '401':
          description: Unauthorized - invalid or missing authentication
        '404':
          description: StackScript not found
      security:
      - personalAccessToken: []
      - oauth: []
    put:
      operationId: updateStackScript
      summary: Update a StackScript
      description: Updates the properties of a StackScript.
      tags:
      - StackScripts
      parameters:
      - $ref: '#/components/parameters/stackscriptIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StackScriptRequest'
      responses:
        '200':
          description: StackScript updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StackScript'
        '400':
          description: Bad request - invalid parameters
        '401':
          description: Unauthorized - invalid or missing authentication
        '404':
          description: StackScript not found
      security:
      - personalAccessToken: []
      - oauth: []
    delete:
      operationId: deleteStackScript
      summary: Delete a StackScript
      description: Deletes a StackScript from your account.
      tags:
      - StackScripts
      parameters:
      - $ref: '#/components/parameters/stackscriptIdParam'
      responses:
        '200':
          description: StackScript deleted successfully
        '401':
          description: Unauthorized - invalid or missing authentication
        '404':
          description: StackScript not found
      security:
      - personalAccessToken: []
      - oauth: []
    servers:
    - url: https://api.linode.com/v4
      description: Production Server
components:
  parameters:
    pageSizeParam:
      name: page_size
      in: query
      schema:
        type: integer
        minimum: 25
        maximum: 500
        default: 100
      description: The number of items per page.
    stackscriptIdParam:
      name: stackscriptId
      in: path
      required: true
      schema:
        type: integer
      description: The ID of the StackScript.
    pageParam:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
      description: The page number to return.
  schemas:
    Pagination:
      type: object
      properties:
        page:
          type: integer
          description: The current page number.
        pages:
          type: integer
          description: The total number of pages.
        results:
          type: integer
          description: The total number of results.
    StackScript:
      type: object
      properties:
        id:
          type: integer
          description: The unique ID of this StackScript.
        username:
          type: string
          description: The username of the creator.
        label:
          type: string
          description: The label for this StackScript.
        description:
          type: string
          description: A description of this StackScript.
        images:
          type: array
          items:
            type: string
          description: Compatible image IDs.
        script:
          type: string
          description: The script content.
        rev_note:
          type: string
          description: A revision note.
        is_public:
          type: boolean
          description: Whether this StackScript is publicly available.
        deployments_active:
          type: integer
          description: The number of active deployments.
        deployments_total:
          type: integer
          description: The total number of deployments.
        created:
          type: string
          format: date-time
          description: When this StackScript was created.
        updated:
          type: string
          format: date-time
          description: When this StackScript was last updated.
    PaginatedStackScriptList:
      allOf:
      - $ref: '#/components/schemas/Pagination'
      - type: object
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/StackScript'
    StackScriptRequest:
      type: object
      required:
      - label
      - images
      - script
      properties:
        label:
          type: string
          minLength: 3
          maxLength: 128
          description: The label for the StackScript.
        description:
          type: string
          description: A description of the StackScript.
        images:
          type: array
          items:
            type: string
          description: Compatible image IDs.
        script:
          type: string
          description: The script content.
        rev_note:
          type: string
          maxLength: 512
          description: A revision note.
        is_public:
          type: boolean
          description: Whether to make the StackScript public.
  securitySchemes:
    oauth:
      flows:
        authorizationCode:
          authorizationUrl: https://login.linode.com/oauth/authorize
          scopes:
            account:read_only: Allows access to GET information about your account.
            account:read_write: Allows access to all endpoints related to your account.
            child_account:read_only: Allows access to GET information about deprecated parent/child operations.
            child_account:read_write: Allows access to deprecated parent/child operations.
            databases:read_only: Allows access to GET information about databases.
            databases:read_write: Allows access to all endpoints related to databases.
            domains:read_only: Allows access to GET Domains on your account.
            domains:read_write: Allows access to all Domain endpoints.
            events:read_only: Allows access to GET your Events.
            events:read_write: Allows access to all endpoints related to your Events.
            firewall:read_only: Allows access to GET information about your Firewalls.
            firewall:read_write: Allows access to all Firewall endpoints.
            images:read_only: Allows access to GET your Images.
            images:read_write: Allows access to all endpoints related to your Images.
            ips:read_only: Allows access to GET your ips.
            ips:read_write: Allows access to all endpoints related to your ips.
            linodes:read_only: Allows access to GET Linodes on your account.
            linodes:read_write: Allow access to all endpoints related to your Linodes.
            lke:read_only: Allows access to GET LKE Clusters on your account.
            lke:read_write: Allows access to all endpoints related to LKE Clusters on your account.
            longview:read_only: Allows access to GET your Longview Clients.
            longview:read_write: Allows access to all endpoints related to your Longview Clients.
            monitor:read_only: Allows access to Monitor (Akamai Cloud Pulse) data.
            monitor:read_write: Allows access to GET Monitor (Akamai Cloud Pulse) data.
            nodebalancers:read_only: Allows access to GET NodeBalancers on your account.
            nodebalancers:read_write: Allows access to all NodeBalancer endpoints.
            object_storage:read_only: Allows access to GET information related to your Object Storage.
            object_storage:read_write: Allows access to all Object Storage endpoints.
            stackscripts:read_only: Allows access to GET your StackScripts.
            stackscripts:read_write: Allows access to all endpoints related to your StackScripts.
            volumes:read_only: Allows access to GET your Volumes.
            volumes:read_write: Allows access to all endpoints related to your Volumes.
            vpc:read_write: Allows access to all endpoints related to VPC and Subnet creation, updating, and deletion.
          tokenUrl: https://login.linode.com/oauth/token
      type: oauth2
    personalAccessToken:
      scheme: bearer
      type: http
x-refined-from:
- linode-api-v4-official-openapi.json
- linode-api-v4-openapi.yml
x-readme:
  explorer-enabled: false
  samples-languages:
  - curl
  - python
  - node
