openapi: 3.2.0
info:
  description: Add a Cloud Computing instance so you can build, release, and scale applications faster with virtual machines.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: 'Akamai: Linode NodeBalancer types API'
  version: 4.229.1
servers:
- url: https://api.linode.com
tags:
- name: NodeBalancer types
paths:
  /{apiVersion}/nodebalancers/types:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    x-akamai:
      file-path: paths/node-balancer-types.yaml
      path-info: /{apiVersion}/nodebalancers/types
    x-linode-cli-command: nodebalancers
    get:
      description: 'Returns NodeBalancer types and prices, including any region-specific rates.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. This operation is internet-facing. No permissions are required.


        **CLI**


        ```shell

        linode-cli nodebalancers types

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-node-balancer-types
      operationId: get-node-balancer-types
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: The NodeBalancer types.
                    items:
                      additionalProperties: false
                      description: Returns collection of NodeBalancer types and prices, including any region-specific rates.
                      properties:
                        id:
                          description: __Read-only__ The ID representing the NodeBalancer type.
                          example: nodebalancer
                          readOnly: true
                          type: string
                          x-linode-cli-display: 1
                        label:
                          description: __Filterable__, __Read-only__ The NodeBalancer type label is for display purposes only.
                          example: NodeBalancer
                          readOnly: true
                          type: string
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-cli-display: 2
                          x-linode-filterable: true
                        price:
                          additionalProperties: false
                          description: '__Read-only__ The default cost of this NodeBalancer type. Prices are in US dollars, broken down into hourly and monthly charges.


                            Certain regions have different prices from the default. For region-specific prices, see `region_prices`.'
                          properties:
                            hourly:
                              description: __Filterable__ Cost (in US dollars) per hour.
                              example: 0.0015
                              type: number
                              x-akamai:
                                labels:
                                - Filterable
                              x-linode-cli-display: 3
                              x-linode-filterable: true
                            monthly:
                              description: __Filterable__ Cost per month, in US dollars.
                              example: 0.1
                              type: number
                              x-akamai:
                                labels:
                                - Filterable
                              x-linode-cli-display: 4
                              x-linode-filterable: true
                          readOnly: true
                          type: object
                        region_prices:
                          items:
                            additionalProperties: false
                            properties:
                              hourly:
                                description: Cost per hour for this region, in US dollars.
                                example: 0.00018
                                type: number
                                x-linode-cli-display: 6
                              id:
                                description: The Region ID for these prices.
                                example: us-east
                                type: string
                                x-linode-cli-display: 5
                              monthly:
                                description: Cost per month for this region, in US dollars.
                                example: 0.12
                                type: number
                                x-linode-cli-display: 7
                            type: object
                          type: array
                        transfer:
                          description: __Filterable__, __Read-only__ The monthly outbound transfer amount, in MB.
                          example: 0
                          minimum: 0
                          readOnly: true
                          type: integer
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-cli-display: 8
                          x-linode-filterable: true
                      type: object
                      x-akamai:
                        file-path: schemas/node-balancer-type.yaml
                    type: array
                  page:
                    description: __Read-only__ The current [page](https://techdocs.akamai.com/linode-api/reference/pagination).
                    example: 1
                    readOnly: true
                    type: integer
                  pages:
                    description: __Read-only__ The total number of [pages](https://techdocs.akamai.com/linode-api/reference/pagination).
                    example: 1
                    readOnly: true
                    type: integer
                  results:
                    description: __Read-only__ The total number of results.
                    example: 1
                    readOnly: true
                    type: integer
                type: object
                x-akamai:
                  file-path: schemas/get-node-balancer-types-200.yaml
              x-example:
                x-ref: ../examples/get-node-balancer-types-200.json
          description: A collection of NodeBalancer types.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      summary: List NodeBalancer types
      tags:
      - NodeBalancer types
      x-akamai:
        tabs:
        - syntax: linode-cli nodebalancers types
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: types
      x-linode-iam:
      - permissions: []
      x-linode-redoc-load-ids: true
components:
  securitySchemes:
    oauth:
      flows:
        authorizationCode:
          authorizationUrl: https://login.linode.com/oauth/authorize
          scopes:
            account:read_only: Allows access to GET information about your account.
            account:read_write: Allows access to all endpoints related to your account.
            child_account:read_only: Allows access to GET information about deprecated parent/child operations.
            child_account:read_write: Allows access to deprecated parent/child operations.
            databases:read_only: Allows access to GET information about databases.
            databases:read_write: Allows access to all endpoints related to databases.
            domains:read_only: Allows access to GET Domains on your account.
            domains:read_write: Allows access to all Domain endpoints.
            events:read_only: Allows access to GET your Events.
            events:read_write: Allows access to all endpoints related to your Events.
            firewall:read_only: Allows access to GET information about your Firewalls.
            firewall:read_write: Allows access to all Firewall endpoints.
            images:read_only: Allows access to GET your Images.
            images:read_write: Allows access to all endpoints related to your Images.
            ips:read_only: Allows access to GET your ips.
            ips:read_write: Allows access to all endpoints related to your ips.
            linodes:read_only: Allows access to GET Linodes on your account.
            linodes:read_write: Allow access to all endpoints related to your Linodes.
            lke:read_only: Allows access to GET LKE Clusters on your account.
            lke:read_write: Allows access to all endpoints related to LKE Clusters on your account.
            longview:read_only: Allows access to GET your Longview Clients.
            longview:read_write: Allows access to all endpoints related to your Longview Clients.
            monitor:read_only: Allows access to Monitor (Akamai Cloud Pulse) data.
            monitor:read_write: Allows access to GET Monitor (Akamai Cloud Pulse) data.
            nodebalancers:read_only: Allows access to GET NodeBalancers on your account.
            nodebalancers:read_write: Allows access to all NodeBalancer endpoints.
            object_storage:read_only: Allows access to GET information related to your Object Storage.
            object_storage:read_write: Allows access to all Object Storage endpoints.
            stackscripts:read_only: Allows access to GET your StackScripts.
            stackscripts:read_write: Allows access to all endpoints related to your StackScripts.
            volumes:read_only: Allows access to GET your Volumes.
            volumes:read_write: Allows access to all endpoints related to your Volumes.
            vpc:read_write: Allows access to all endpoints related to VPC and Subnet creation, updating, and deletion.
          tokenUrl: https://login.linode.com/oauth/token
      type: oauth2
    personalAccessToken:
      scheme: bearer
      type: http
externalDocs:
  description: See documentation for Akamai's Linode API
  url: https://techdocs.akamai.com/linode-api/reference
x-readme:
  explorer-enabled: false
  samples-languages:
  - curl
  - python
  - node
