openapi: 3.2.0
info:
  description: Add a Cloud Computing instance so you can build, release, and scale applications faster with virtual machines.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: 'Akamai: Linode OAuth clients API'
  version: 4.229.1
servers:
- url: https://api.linode.com
tags:
- description: Use an OAuth client to allow users (using their Akamai Cloud Computing account) to log in to your own application, and optionally grant your application some amount of access to their Akamai Cloud Computing services.
  name: OAuth clients
paths:
  /{apiVersion}/account/oauth-clients:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    x-akamai:
      file-path: paths/oauth-clients.yaml
      path-info: /{apiVersion}/account/oauth-clients
    x-linode-cli-command: account
    post:
      description: 'Creates an OAuth Client, which can be used to allow users (using their Linode account) to log in to your own application, and optionally grant your application some amount of access to their Linodes or other entities.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs a role with these permissions assigned. Learn more.

        - Permissions: `create_oauth_client`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `account:read_write`


        **CLI**


        ```shell

        linode-cli account client-create \

        --label Test_Client_1 \

        --redirect_uri https://example.org/callback

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/post-client
      operationId: post-client
      requestBody:
        content:
          application/json:
            example:
              label: Test_Client_1
              public: false
              redirect_uri: https://example.org/oauth/callback
            schema:
              allOf:
              - additionalProperties: false
                description: A third-party application registered to Linode that users may log into with their Linode account through our authentication server at [login.linode.com](https://login.linode.com).  Using an OAuth Client, a third-party developer may be given access to some, or all, of a User's account for the purposes of their application.
                properties:
                  id:
                    description: __Read-only__ The OAuth Client ID.  This is used to identify the client, and is a publicly known value (it is not a secret).
                    example: 2737bf16b39ab5d7b4a1
                    readOnly: true
                    type: string
                    x-linode-cli-display: 1
                  label:
                    description: __Filterable__ The name of this application.  This will be presented to users when they are asked to grant it access to their Account.
                    example: Test_Client_1
                    maxLength: 512
                    minLength: 1
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 2
                    x-linode-filterable: true
                  public:
                    default: false
                    description: __Filterable__ If this is a public or private OAuth Client.  Public clients have a slightly different authentication workflow than private clients.  See the [OAuth spec](https://oauth.net/2/) for more details.
                    example: false
                    type: boolean
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 4
                    x-linode-filterable: true
                  redirect_uri:
                    description: The location a successful log in from [login.linode.com](https://login.linode.com) should be redirected to for this client.  The receiver of this redirect should be ready to accept an OAuth exchange code and finish the OAuth exchange.
                    example: https://example.org/oauth/callback
                    format: url
                    type: string
                    x-linode-cli-display: 5
                  secret:
                    description: __Read-only__ The OAuth Client secret, used in the OAuth exchange.  This is returned as `<REDACTED>` except when an OAuth Client is created or its secret is reset.  This is a secret, and should not be shared or disclosed publicly.
                    example: <REDACTED>
                    readOnly: true
                    type: string
                  status:
                    description: __Read-only__ The status of this application, either `active` (default), `disabled`, or `suspended`.
                    enum:
                    - active
                    - disabled
                    - suspended
                    example: active
                    readOnly: true
                    type: string
                    x-linode-cli-color:
                      default_: white
                      suspended: red
                    x-linode-cli-display: 3
                  thumbnail_url:
                    description: __Read-only__ The URL where this client's thumbnail may be viewed, or `null` if this client does not have a thumbnail set.
                    example: https://api.linode.com/v4/account/clients/2737bf16b39ab5d7b4a1/thumbnail
                    format: url
                    readOnly: true
                    type:
                    - string
                    - 'null'
                type: object
                x-akamai:
                  file-path: schemas/oauth-client.yaml
              required:
              - label
              - redirect_uri
              type: object
              x-akamai:
                file-path: schemas/added-post-client.yaml
      responses:
        '200':
          content:
            application/json:
              example:
                id: 2737bf16b39ab5d7b4a1
                label: Test_Client_1
                public: false
                redirect_uri: https://example.org/oauth/callback
                secret: <REDACTED>
                status: active
                thumbnail_url: https://api.linode.com/v4/account/clients/2737bf16b39ab5d7b4a1/thumbnail
              schema:
                additionalProperties: false
                description: A third-party application registered to Linode that users may log into with their Linode account through our authentication server at [login.linode.com](https://login.linode.com).  Using an OAuth Client, a third-party developer may be given access to some, or all, of a User's account for the purposes of their application.
                properties:
                  id:
                    description: __Read-only__ The OAuth Client ID.  This is used to identify the client, and is a publicly known value (it is not a secret).
                    example: 2737bf16b39ab5d7b4a1
                    readOnly: true
                    type: string
                    x-linode-cli-display: 1
                  label:
                    description: __Filterable__ The name of this application.  This will be presented to users when they are asked to grant it access to their Account.
                    example: Test_Client_1
                    maxLength: 512
                    minLength: 1
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 2
                    x-linode-filterable: true
                  public:
                    default: false
                    description: __Filterable__ If this is a public or private OAuth Client.  Public clients have a slightly different authentication workflow than private clients.  See the [OAuth spec](https://oauth.net/2/) for more details.
                    example: false
                    type: boolean
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 4
                    x-linode-filterable: true
                  redirect_uri:
                    description: The location a successful log in from [login.linode.com](https://login.linode.com) should be redirected to for this client.  The receiver of this redirect should be ready to accept an OAuth exchange code and finish the OAuth exchange.
                    example: https://example.org/oauth/callback
                    format: url
                    type: string
                    x-linode-cli-display: 5
                  secret:
                    description: __Read-only__ The OAuth Client secret, used in the OAuth exchange.  This is returned as `<REDACTED>` except when an OAuth Client is created or its secret is reset.  This is a secret, and should not be shared or disclosed publicly.
                    example: <REDACTED>
                    readOnly: true
                    type: string
                  status:
                    description: __Read-only__ The status of this application, either `active` (default), `disabled`, or `suspended`.
                    enum:
                    - active
                    - disabled
                    - suspended
                    example: active
                    readOnly: true
                    type: string
                    x-linode-cli-color:
                      default_: white
                      suspended: red
                    x-linode-cli-display: 3
                  thumbnail_url:
                    description: __Read-only__ The URL where this client's thumbnail may be viewed, or `null` if this client does not have a thumbnail set.
                    example: https://api.linode.com/v4/account/clients/2737bf16b39ab5d7b4a1/thumbnail
                    format: url
                    readOnly: true
                    type:
                    - string
                    - 'null'
                type: object
                x-akamai:
                  file-path: schemas/oauth-client.yaml
          description: Client created successfully.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_write
      summary: Create an OAuth client
      tags:
      - OAuth clients
      x-akamai:
        tabs:
        - syntax: "linode-cli account client-create \\\n  --label Test_Client_1 \\\n  --redirect_uri https://example.org/callback"
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: client-create
      x-linode-iam:
      - permissions:
        - create_oauth_client
    get:
      description: 'Returns a paginated list of OAuth Clients registered to your Account. OAuth Clients allow users to log into applications you write or host using their Linode Account, and may allow them to grant some level of access to their Linodes or other entities to your application.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs a role with these permissions assigned. Learn more.

        - Permissions: `list_oauth_clients`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `account:read_only`


        **CLI**


        ```shell

        linode-cli account clients-list

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-clients
      operationId: get-clients
      parameters:
      - description: The page of a collection to return.
        example: '{{page}}'
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 6
          minimum: 1
          type: integer
        x-akamai:
          file-path: parameters/page-offset.yaml
      - description: The number of items to return per page.
        example: '{{page_size}}'
        in: query
        name: page_size
        schema:
          default: 100
          example: 50
          maximum: 500
          minimum: 25
          type: integer
        x-akamai:
          file-path: parameters/page-size.yaml
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - id: 2737bf16b39ab5d7b4a1
                  label: Test_Client_1
                  public: false
                  redirect_uri: https://example.org/oauth/callback
                  secret: <REDACTED>
                  status: active
                  thumbnail_url: https://api.linode.com/v4/account/clients/2737bf16b39ab5d7b4a1/thumbnail
                page: 1
                pages: 1
                results: 1
              schema:
                additionalProperties: false
                properties:
                  data:
                    items:
                      additionalProperties: false
                      description: A third-party application registered to Linode that users may log into with their Linode account through our authentication server at [login.linode.com](https://login.linode.com).  Using an OAuth Client, a third-party developer may be given access to some, or all, of a User's account for the purposes of their application.
                      properties:
                        id:
                          description: __Read-only__ The OAuth Client ID.  This is used to identify the client, and is a publicly known value (it is not a secret).
                          example: 2737bf16b39ab5d7b4a1
                          readOnly: true
                          type: string
                          x-linode-cli-display: 1
                        label:
                          description: __Filterable__ The name of this application.  This will be presented to users when they are asked to grant it access to their Account.
                          example: Test_Client_1
                          maxLength: 512
                          minLength: 1
                          type: string
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-cli-display: 2
                          x-linode-filterable: true
                        public:
                          default: false
                          description: __Filterable__ If this is a public or private OAuth Client.  Public clients have a slightly different authentication workflow than private clients.  See the [OAuth spec](https://oauth.net/2/) for more details.
                          example: false
                          type: boolean
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-cli-display: 4
                          x-linode-filterable: true
                        redirect_uri:
                          description: The location a successful log in from [login.linode.com](https://login.linode.com) should be redirected to for this client.  The receiver of this redirect should be ready to accept an OAuth exchange code and finish the OAuth exchange.
                          example: https://example.org/oauth/callback
                          format: url
                          type: string
                          x-linode-cli-display: 5
                        secret:
                          description: __Read-only__ The OAuth Client secret, used in the OAuth exchange.  This is returned as `<REDACTED>` except when an OAuth Client is created or its secret is reset.  This is a secret, and should not be shared or disclosed publicly.
                          example: <REDACTED>
                          readOnly: true
                          type: string
                        status:
                          description: __Read-only__ The status of this application, either `active` (default), `disabled`, or `suspended`.
                          enum:
                          - active
                          - disabled
                          - suspended
                          example: active
                          readOnly: true
                          type: string
                          x-linode-cli-color:
                            default_: white
                            suspended: red
                          x-linode-cli-display: 3
                        thumbnail_url:
                          description: __Read-only__ The URL where this client's thumbnail may be viewed, or `null` if this client does not have a thumbnail set.
                          example: https://api.linode.com/v4/account/clients/2737bf16b39ab5d7b4a1/thumbnail
                          format: url
                          readOnly: true
                          type:
                          - string
                          - 'null'
                      type: object
                      x-akamai:
                        file-path: schemas/oauth-client.yaml
                    type: array
                  page:
                    description: __Read-only__ The current [page](https://techdocs.akamai.com/linode-api/reference/pagination).
                    example: 1
                    readOnly: true
                    type: integer
                  pages:
                    description: __Read-only__ The total number of [pages](https://techdocs.akamai.com/linode-api/reference/pagination).
                    example: 1
                    readOnly: true
                    type: integer
                  results:
                    description: __Read-only__ The total number of results.
                    example: 1
                    readOnly: true
                    type: integer
                type: object
                x-akamai:
                  file-path: schemas/added-get-clients-200.yaml
          description: A paginated list of OAuth Clients.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_only
      summary: List OAuth clients
      tags:
      - OAuth clients
      x-akamai:
        tabs:
        - syntax: linode-cli account clients-list
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: clients-list
      x-linode-grant: read_only
      x-linode-iam:
      - permissions:
        - list_oauth_clients
  /{apiVersion}/account/oauth-clients/{clientId}:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    - description: The OAuth Client ID to look up.
      example: '{{clientId}}'
      in: path
      name: clientId
      required: true
      schema:
        example: 2737bf16b39ab5d7b4a1
        type: string
      x-akamai:
        file-path: parameters/oauth-client-id-path.yaml
    x-akamai:
      file-path: paths/oauth-client.yaml
      path-info: /{apiVersion}/account/oauth-clients/{clientId}
    x-linode-cli-command: account
    get:
      description: 'Returns information about a single OAuth client.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs a role with these permissions assigned. Learn more.

        - Permissions: `view_oauth_client`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `account:read_only`


        **CLI**


        ```shell

        linode-cli account client-view \

        edc6790ea9db4d224c5c

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-client
      operationId: get-client
      responses:
        '200':
          content:
            application/json:
              example:
                id: 2737bf16b39ab5d7b4a1
                label: Test_Client_1
                public: false
                redirect_uri: https://example.org/oauth/callback
                secret: <REDACTED>
                status: active
                thumbnail_url: https://api.linode.com/v4/account/clients/2737bf16b39ab5d7b4a1/thumbnail
              schema:
                additionalProperties: false
                description: A third-party application registered to Linode that users may log into with their Linode account through our authentication server at [login.linode.com](https://login.linode.com).  Using an OAuth Client, a third-party developer may be given access to some, or all, of a User's account for the purposes of their application.
                properties:
                  id:
                    description: __Read-only__ The OAuth Client ID.  This is used to identify the client, and is a publicly known value (it is not a secret).
                    example: 2737bf16b39ab5d7b4a1
                    readOnly: true
                    type: string
                    x-linode-cli-display: 1
                  label:
                    description: __Filterable__ The name of this application.  This will be presented to users when they are asked to grant it access to their Account.
                    example: Test_Client_1
                    maxLength: 512
                    minLength: 1
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 2
                    x-linode-filterable: true
                  public:
                    default: false
                    description: __Filterable__ If this is a public or private OAuth Client.  Public clients have a slightly different authentication workflow than private clients.  See the [OAuth spec](https://oauth.net/2/) for more details.
                    example: false
                    type: boolean
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 4
                    x-linode-filterable: true
                  redirect_uri:
                    description: The location a successful log in from [login.linode.com](https://login.linode.com) should be redirected to for this client.  The receiver of this redirect should be ready to accept an OAuth exchange code and finish the OAuth exchange.
                    example: https://example.org/oauth/callback
                    format: url
                    type: string
                    x-linode-cli-display: 5
                  secret:
                    description: __Read-only__ The OAuth Client secret, used in the OAuth exchange.  This is returned as `<REDACTED>` except when an OAuth Client is created or its secret is reset.  This is a secret, and should not be shared or disclosed publicly.
                    example: <REDACTED>
                    readOnly: true
                    type: string
                  status:
                    description: __Read-only__ The status of this application, either `active` (default), `disabled`, or `suspended`.
                    enum:
                    - active
                    - disabled
                    - suspended
                    example: active
                    readOnly: true
                    type: string
                    x-linode-cli-color:
                      default_: white
                      suspended: red
                    x-linode-cli-display: 3
                  thumbnail_url:
                    description: __Read-only__ The URL where this client's thumbnail may be viewed, or `null` if this client does not have a thumbnail set.
                    example: https://api.linode.com/v4/account/clients/2737bf16b39ab5d7b4a1/thumbnail
                    format: url
                    readOnly: true
                    type:
                    - string
                    - 'null'
                type: object
                x-akamai:
                  file-path: schemas/oauth-client.yaml
          description: Information about the requested client.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_only
      summary: Get an OAuth client
      tags:
      - OAuth clients
      x-akamai:
        tabs:
        - syntax: "linode-cli account client-view \\\n  edc6790ea9db4d224c5c"
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: client-view
      x-linode-iam:
      - permissions:
        - view_oauth_client
    put:
      description: 'Update information about an OAuth Client on your Account. This can be especially useful to update the `redirect_uri` of your client in the event that the callback URL changed in your application.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs a role with these permissions assigned. Learn more.

        - Permissions: `update_oauth_client`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `account:read_write`


        **CLI**


        ```shell

        linode-cli account client-update \

        edc6790ea9db4d224c5c \

        --label Test_Client_1

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/put-client
      operationId: put-client
      requestBody:
        content:
          application/json:
            example:
              label: Test_Client_1
              public: false
              redirect_uri: https://example.org/oauth/callback
            schema:
              additionalProperties: false
              description: A third-party application registered to Linode that users may log into with their Linode account through our authentication server at [login.linode.com](https://login.linode.com).  Using an OAuth Client, a third-party developer may be given access to some, or all, of a User's account for the purposes of their application.
              properties:
                id:
                  description: __Read-only__ The OAuth Client ID.  This is used to identify the client, and is a publicly known value (it is not a secret).
                  example: '{{id}}'
                  readOnly: true
                  type: string
                  x-linode-cli-display: 1
                label:
                  description: __Filterable__ The name of this application.  This will be presented to users when they are asked to grant it access to their Account.
                  example: '{{label}}'
                  maxLength: 512
                  minLength: 1
                  type: string
                  x-akamai:
                    labels:
                    - Filterable
                  x-linode-cli-display: 2
                  x-linode-filterable: true
                public:
                  default: false
                  description: __Filterable__ If this is a public or private OAuth Client.  Public clients have a slightly different authentication workflow than private clients.  See the [OAuth spec](https://oauth.net/2/) for more details.
                  example: '{{public}}'
                  type: boolean
                  x-akamai:
                    labels:
                    - Filterable
                  x-linode-cli-display: 4
                  x-linode-filterable: true
                redirect_uri:
                  description: The location a successful log in from [login.linode.com](https://login.linode.com) should be redirected to for this client.  The receiver of this redirect should be ready to accept an OAuth exchange code and finish the OAuth exchange.
                  example: '{{redirect_uri}}'
                  format: url
                  type: string
                  x-linode-cli-display: 5
                secret:
                  description: __Read-only__ The OAuth Client secret, used in the OAuth exchange.  This is returned as `<REDACTED>` except when an OAuth Client is created or its secret is reset.  This is a secret, and should not be shared or disclosed publicly.
                  example: '{{secret}}'
                  readOnly: true
                  type: string
                status:
                  description: __Read-only__ The status of this application, either `active` (default), `disabled`, or `suspended`.
                  enum:
                  - active
                  - disabled
                  - suspended
                  example: '{{status}}'
                  readOnly: true
                  type: string
                  x-linode-cli-color:
                    default_: white
                    suspended: red
                  x-linode-cli-display: 3
                thumbnail_url:
                  description: __Read-only__ The URL where this client's thumbnail may be viewed, or `null` if this client does not have a thumbnail set.
                  example: '{{thumbnail_url}}'
                  format: url
                  readOnly: true
                  type:
                  - string
                  - 'null'
              type: object
              x-akamai:
                file-path: schemas/oauth-client.yaml
      responses:
        '200':
          content:
            application/json:
              example:
                id: 2737bf16b39ab5d7b4a1
                label: Test_Client_1
                public: false
                redirect_uri: https://example.org/oauth/callback
                secret: <REDACTED>
                status: active
                thumbnail_url: https://api.linode.com/v4/account/clients/2737bf16b39ab5d7b4a1/thumbnail
              schema:
                additionalProperties: false
                description: A third-party application registered to Linode that users may log into with their Linode account through our authentication server at [login.linode.com](https://login.linode.com).  Using an OAuth Client, a third-party developer may be given access to some, or all, of a User's account for the purposes of their application.
                properties:
                  id:
                    description: __Read-only__ The OAuth Client ID.  This is used to identify the client, and is a publicly known value (it is not a secret).
                    example: 2737bf16b39ab5d7b4a1
                    readOnly: true
                    type: string
                    x-linode-cli-display: 1
                  label:
                    description: __Filterable__ The name of this application.  This will be presented to users when they are asked to grant it access to their Account.
                    example: Test_Client_1
                    maxLength: 512
                    minLength: 1
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 2
                    x-linode-filterable: true
                  public:
                    default: false
                    description: __Filterable__ If this is a public or private OAuth Client.  Public clients have a slightly different authentication workflow than private clients.  See the [OAuth spec](https://oauth.net/2/) for more details.
                    example: false
                    type: boolean
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 4
                    x-linode-filterable: true
                  redirect_uri:
                    description: The location a successful log in from [login.linode.com](https://login.linode.com) should be redirected to for this client.  The receiver of this redirect should be ready to accept an OAuth exchange code and finish the OAuth exchange.
                    example: https://example.org/oauth/callback
                    format: url
                    type: string
                    x-linode-cli-display: 5
                  secret:
                    description: __Read-only__ The OAuth Client secret, used in the OAuth exchange.  This is returned as `<REDACTED>` except when an OAuth Client is created or its secret is reset.  This is a secret, and should not be shared or disclosed publicly.
                    example: <REDACTED>
                    readOnly: true
                    type: string
                  status:
                    description: __Read-only__ The status of this application, either `active` (default), `disabled`, or `suspended`.
                    enum:
                    - active
                    - disabled
                    - suspended
                    example: active
                    readOnly: true
                    type: string
                    x-linode-cli-color:
                      default_: white
                      suspended: red
                    x-linode-cli-display: 3
                  thumbnail_url:
                    description: __Read-only__ The URL where this client's thumbnail may be viewed, or `null` if this client does not have a thumbnail set.
                    example: https://api.linode.com/v4/account/clients/2737bf16b39ab5d7b4a1/thumbnail
                    format: url
                    readOnly: true
                    type:
                    - string
                    - 'null'
                type: object
                x-akamai:
                  file-path: schemas/oauth-client.yaml
          description: Client updated successfully.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_write
      summary: Update an OAuth client
      tags:
      - OAuth clients
      x-akamai:
        tabs:
        - syntax: "linode-cli account client-update \\\n  edc6790ea9db4d224c5c \\\n  --label Test_Client_1"
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: client-update
      x-linode-iam:
      - permissions:
        - update_oauth_client
    delete:
      description: 'Deletes an OAuth Client registered with Linode. The Client ID and Client secret will no longer be accepted by login.linode.com, and all tokens issued to this client will be invalidated (meaning that if your application was using a token, it will no longer work).


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs a role with these permissions assigned. Learn more.

        - Permissions: `delete_oauth_client`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `account:read_write`


        **CLI**


        ```shell

        linode-cli account client-delete \

        edc6790ea9db4d224c5c

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/delete-client
      operationId: delete-client
      responses:
        '200':
          content:
            application/json:
              example: {}
              schema:
                description: The API responds with an empty object.
                maxProperties: 0
                type: object
                x-akamai:
                  file-path: schemas/added-empty-obj.yaml
          description: Client deleted successfully.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_write
      summary: Delete an OAuth client
      tags:
      - OAuth clients
      x-akamai:
        tabs:
        - syntax: "linode-cli account client-delete \\\n  edc6790ea9db4d224c5c"
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: client-delete
      x-linode-iam:
      - permissions:
        - delete_oauth_client
  /{apiVersion}/account/oauth-clients/{clientId}/reset-secret:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    - description: The OAuth Client ID to look up.
      example: '{{clientId}}'
      in: path
      name: clientId
      required: true
      schema:
        example: 2737bf16b39ab5d7b4a1
        type: string
      x-akamai:
        file-path: parameters/oauth-client-id-path.yaml
    x-akamai:
      file-path: paths/oauth-client-reset-secret.yaml
      path-info: /{apiVersion}/account/oauth-clients/{clientId}/reset-secret
    x-linode-cli-command: account
    post:
      description: 'Resets the OAuth Client secret for a client you own, and returns the OAuth Client with the plaintext secret. This secret is not supposed to be publicly known or disclosed anywhere. This can be used to generate a new secret in case the one you have has been leaked, or to get a new secret if you lost the original. The old secret is expired immediately, and logins to your client with the old secret will fail.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs a role with these permissions assigned. Learn more.

        - Permissions: `reset_oauth_client_secret`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `account:read_write`


        **CLI**


        ```shell

        linode-cli account client-reset-secret \

        edc6790ea9db4d224c5c

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/post-reset-client-secret
      operationId: post-reset-client-secret
      responses:
        '200':
          content:
            application/json:
              example:
                id: 2737bf16b39ab5d7b4a1
                label: Client
                public: false
                redirect_uri: https://example.org/oauth/callback
                secret: <REDACTED>
                status: active
                thumbnail_url: https://api.linode.com/v4/account/clients/2737bf16b39ab5d7b4a1/thumbnail
              schema:
                additionalProperties: false
                description: A third-party application registered to Linode that users may log into with their Linode account through our authentication server at [login.linode.com](https://login.linode.com).  Using an OAuth Client, a third-party developer may be given access to some, or all, of a User's account for the purposes of their application.
                properties:
                  id:
                    description: __Read-only__ The OAuth Client ID.  This is used to identify the client, and is a publicly known value (it is not a secret).
                    example: 2737bf16b39ab5d7b4a1
                    readOnly: true
                    type: string
                    x-linode-cli-display: 1
                  label:
                    description: __Filterable__ The name of this application.  This will be presented to users when they are asked to grant it access to their Account.
                    example: Test_Client_1
                    maxLength: 512
                    minLength: 1
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 2
                    x-linode-filterable: true
                  public:
                    default: false
                    description: __Filterable__ If this is a public or private OAuth Client.  Public clients have a slightly different authentication workflow than private clients.  See the [OAuth spec](https://oauth.net/2/) for more details.
                    example: false
                    type: boolean
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 4
                    x-linode-filterable: true
                  redirect_uri:
                    description: The location a successful log in from [login.linode.com](https://login.linode.com) should be redirected to for this client.  The receiver of this redirect should be ready to accept an OAuth exchange code and finish the OAuth exchange.
                    example: https://example.org/oauth/callback
                    format: url
                    type: string
                    x-linode-cli-display: 5
                  secret:
                    description: __Read-only__ The OAuth Client secret, used in the OAuth exchange.  This is returned as `<REDACTED>` except when an OAuth Client is created or its secret is reset.  This is a secret, and should not be shared or disclosed publicly.
                    example: <REDACTED>
                    readOnly: true
                    type: string
                  status:
                    description: __Read-only__ The status of this application, either `active` (default), `disabled`, or `suspended`.
                    enum:
                    - active
                    - disabled
                    - suspended
                    example: active
                    readOnly: true
                    type: string
                    x-linode-cli-color:
                      default_: white
                      suspended: red
                    x-linode-cli-display: 3
                  thumbnail_url:
                    description: __Read-only__ The URL where this client's thumbnail may be viewed, or `null` if this client does not have a thumbnail set.
                    example: https://api.linode.com/v4/account/clients/2737bf16b39ab5d7b4a1/thumbnail
                    format: url
                    readOnly: true
                    type:
                    - string
                    - 'null'
                type: object
                x-akamai:
                  file-path: schemas/oauth-client.yaml
          description: Client secret reset successfully.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_write
      summary: Reset an OAuth client secret
      tags:
      - OAuth clients
      x-akamai:
        tabs:
        - syntax: "linode-cli account client-reset-secret \\\n  edc6790ea9db4d224c5c"
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: client-reset-secret
      x-linode-iam:
      - permissions:
        - reset_oauth_client_secret
  /{apiVersion}/account/oauth-clients/{clientId}/thumbnail:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    - description: The OAuth Client ID to look up.
      example: '{{clientId}}'
      in: path
      name: clientId
      required: true
      schema:
        example: 2737bf16b39ab5d7b4a1
        type: string
      x-akamai:
        file-path: parameters/oauth-client-id-path.yaml
    x-akamai:
      file-path: paths/oauth-client-thumbnail.yaml
      path-info: /{apiVersion}/account/oauth-clients/{clientId}/thumbnail
    x-linode-cli-command: account
    get:
      description: 'Returns the PNG thumbnail for this OAuth client. This is a publicly viewable operation, and you can access it without authentication.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. This operation is internet-facing. No permissions are required.'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-client-thumbnail
      operationId: get-client-thumbnail
      responses:
        '200':
          content:
            image/png:
              schema:
                format: binary
                type: string
          description: The client's thumbnail.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      summary: Get an OAuth client's thumbnail
      tags:
      - OAuth clients
      x-linode-cli-action: client-thumbnail
      x-linode-cli-skip: true
      x-linode-iam:
      - permissions: []
    put:
      description: 'Upload a thumbnail for a client you own. You need to upload a PNG image file that the Linode API returns when the thumbnail is retrieved. This image is publicly viewable.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs a role with these permissions assigned. Learn more.

        - Permissions: `update_oauth_client_thumbnail`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `account:read_write`'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/put-client-thumbnail
      operationId: put-client-thumbnail
      requestBody:
        content:
          image/png:
            schema:
              format: binary
              type: string
        required: true
      responses:
        '200':
          content:
            application/json:
              example: {}
              schema:
                description: The API responds with an empty object.
                maxProperties: 0
                type: object
                x-akamai:
                  file-path: schemas/added-empty-obj.yaml
          description: Thumbnail updated successfully.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_write
      summary: Update an OAuth client's thumbnail
      tags:
      - OAuth clients
      x-linode-cli-action: update-client-thumbnail
      x-linode-cli-skip: true
      x-linode-iam:
      - permissions:
        - update_oauth_client_thumbnail
components:
  securitySchemes:
    oauth:
      flows:
        authorizationCode:
          authorizationUrl: https://login.linode.com/oauth/authorize
          scopes:
            account:read_only: Allows access to GET information about your account.
            account:read_write: Allows access to all endpoints related to your account.
            child_account:read_only: Allows access to GET information about deprecated parent/child operations.
            child_account:read_write: Allows access to deprecated parent/child operations.
            databases:read_only: Allows access to GET information about databases.
            databases:read_write: Allows access to all endpoints related to databases.
            domains:read_only: Allows access to GET Domains on your account.
            domains:read_write: Allows access to all Domain endpoints.
            events:read_only: Allows access to GET your Events.
            events:read_write: Allows access to all endpoints related to your Events.
            firewall:read_only: Allows access to GET information about your Firewalls.
            firewall:read_write: Allows access to all Firewall endpoints.
            images:read_only: Allows access to GET your Images.
            images:read_write: Allows access to all endpoints related to your Images.
            ips:read_only: Allows access to GET your ips.
            ips:read_write: Allows access to all endpoints related to your ips.
            linodes:read_only: Allows access to GET Linodes on your account.
            linodes:read_write: Allow access to all endpoints related to your Linodes.
            lke:read_only: Allows access to GET LKE Clusters on your account.
            lke:read_write: Allows access to all endpoints related to LKE Clusters on your account.
            longview:read_only: Allows access to GET your Longview Clients.
            longview:read_write: Allows access to all endpoints related to your Longview Clients.
            monitor:read_only: Allows access to Monitor (Akamai Cloud Pulse) data.
            monitor:read_write: Allows access to GET Monitor (Akamai Cloud Pulse) data.
            nodebalancers:read_only: Allows access to GET NodeBalancers on your account.
            nodebalancers:read_write: Allows access to all NodeBalancer endpoints.
            object_storage:read_only: Allows access to GET information related to your Object Storage.
            object_storage:read_write: Allows access to all Object Storage endpoints.
            stackscripts:read_only: Allows access to GET your StackScripts.
            stackscripts:read_write: Allows access to all endpoints related to your StackScripts.
            volumes:read_only: Allows access to GET your Volumes.
            volumes:read_write: Allows access to all endpoints related to your Volumes.
            vpc:read_write: Allows access to all endpoints related to VPC and Subnet creation, updating, and deletion.
          tokenUrl: https://login.linode.com/oauth/token
      type: oauth2
    personalAccessToken:
      scheme: bearer
      type: http
externalDocs:
  description: See documentation for Akamai's Linode API
  url: https://techdocs.akamai.com/linode-api/reference
x-readme:
  explorer-enabled: false
  samples-languages:
  - curl
  - python
  - node
