openapi: 3.2.0
info:
  description: Add a Cloud Computing instance so you can build, release, and scale applications faster with virtual machines.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: 'Akamai: Linode Valkey API'
  version: 4.229.1
servers:
- url: https://api.linode.com
tags:
- description: Managed Databases is Akamai's fully-managed, high-performance database service. Use these operations to create and manage clusters for Valkey engine databases.
  name: Valkey
paths:
  /{apiVersion}/databases/valkey/config:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    x-akamai:
      file-path: paths/valkey-config.yaml
      path-info: /{apiVersion}/databases/valkey/config
    x-linode-cli-command: databases
    get:
      description: '__Limited availability__ Lists all advanced parameters you can apply to a Valkey Managed Database, via our partner Aiven.


        > 📘

        >

        > Aiven may offer other parameters, but Akamai Managed Databases only supports the ones listed in this operation.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs these roles assigned. Learn more.

        - Roles: `database_viewer`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `databases:read_only`'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-databases-valkey-config
      operationId: get-databases-valkey-config
      responses:
        '200':
          content:
            application/json:
              example:
                backup_hour:
                  description: The hour of day (in UTC) when backup for the service is started. New backup is only started if previous backup has already completed.
                  example: 3
                  maximum: 23
                  minimum: 0
                  requires_restart: false
                  type:
                  - integer
                  - 'null'
                backup_minute:
                  description: The minute of an hour when backup for the service is started. New backup is only started if previous backup has already completed.
                  example: 30
                  maximum: 59
                  minimum: 0
                  requires_restart: false
                  type:
                  - integer
                  - 'null'
                frequent_snapshots:
                  default: true
                  description: When enabled, Valkey will create frequent local RDB snapshots. When disabled, Valkey will only take RDB snapshots when a backup is created, based on the backup schedule. This setting is ignored when `valkey_persistence` is set to `off`.
                  requires_restart: false
                  type: boolean
                valkey_acl_channels_default:
                  description: Determines default pub/sub channels' ACL for new users if ACL is not supplied. When this option is not defined, all_channels is assumed to keep backward compatibility. This option doesn't affect Valkey configuration acl-pubsub-default.
                  enum:
                  - allchannels
                  - resetchannels
                  requires_restart: false
                  type: string
                valkey_active_expire_effort:
                  default: 1
                  description: Valkey reclaims expired keys both when accessed and in the background. The background process scans for expired keys to free memory. Increasing the active-expire-effort setting (default 1, max 10) uses more CPU to reclaim expired keys faster, reducing memory usage but potentially increasing latency.
                  maximum: 10
                  minimum: 1
                  requires_restart: false
                  type: integer
                valkey_activedefrag:
                  default: false
                  description: Enable active memory defragmentation. When enabled, Valkey relocates objects off sparsely-used memory pages to reduce fragmentation and return memory to the operating system. Defragmentation runs on the main thread and consumes CPU, so it may increase latency under load.
                  requires_restart: false
                  type: boolean
                valkey_lfu_decay_time:
                  default: 1
                  description: LFU maxmemory-policy counter decay time in minutes
                  maximum: 120
                  minimum: 1
                  requires_restart: false
                  type: integer
                valkey_lfu_log_factor:
                  default: 10
                  description: Counter logarithm factor for volatile-lfu and allkeys-lfu maxmemory-policies
                  maximum: 100
                  minimum: 0
                  requires_restart: false
                  type: integer
                valkey_maxmemory_policy:
                  default: noeviction
                  description: Valkey maxmemory-policy
                  enum:
                  - noeviction
                  - allkeys-lru
                  - volatile-lru
                  - allkeys-random
                  - volatile-random
                  - volatile-ttl
                  - volatile-lfu
                  - allkeys-lfu
                  requires_restart: false
                  type:
                  - string
                  - 'null'
                valkey_number_of_databases:
                  description: Set number of Valkey databases. Changing this will cause a restart of the Valkey service.
                  example: 16
                  maximum: 128
                  minimum: 1
                  requires_restart: true
                  type: integer
                valkey_persistence:
                  description: When persistence is 'rdb', Valkey does RDB dumps each 10 minutes if any key is changed. Also RDB dumps are done according to backup schedule for backup purposes. When persistence is 'off', no RDB dumps and backups are done, so data can be lost at any moment if service is restarted for any reason, or if service is powered off. Also service can't be forked.
                  enum:
                  - 'off'
                  - rdb
                  requires_restart: true
                  type: string
                valkey_pubsub_client_output_buffer_limit:
                  description: Set output buffer limit for pub / sub clients in MB. The value is the hard limit, the soft limit is 1/4 of the hard limit. When setting the limit, be mindful of the available memory in the selected service plan.
                  example: 64
                  maximum: 512
                  minimum: 32
                  requires_restart: false
                  type: integer
                valkey_timeout:
                  default: 300
                  description: Valkey idle connection timeout in seconds
                  maximum: 2073600
                  minimum: 0
                  requires_restart: false
                  type: integer
              schema:
                additionalProperties: false
                description: Available [advanced parameters](https://aiven.io/docs/products/valkey/reference/advanced-params) for a Valkey Managed Database.
                properties:
                  backup_hour:
                    additionalProperties: false
                    description: Details of the `backup_hour` parameter, per Aiven's specifications.
                    properties:
                      description:
                        description: The description for this parameter.
                        type: string
                      example:
                        description: An example value for this parameter.
                        type: integer
                      maximum:
                        description: The maximum value allowed for this parameter.
                        type: integer
                      minimum:
                        description: The minimum value allowed for this parameter.
                        type: integer
                      requires_restart:
                        description: Specifies if a change to this parameter requires a restart of the Valkey database.
                        type: boolean
                      type:
                        description: Possible types of the `backup_hour` parameter.
                        items:
                          type: string
                        type: array
                    type: object
                  backup_minute:
                    additionalProperties: false
                    description: Details of the `backup_minute` parameter, per Aiven's specifications.
                    properties:
                      description:
                        description: The description for this parameter.
                        type: string
                      example:
                        description: An example value for this parameter.
                        type: integer
                      maximum:
                        description: The maximum value allowed for this parameter.
                        type: integer
                      minimum:
                        description: The minimum value allowed for this parameter.
                        type: integer
                      requires_restart:
                        description: Specifies if a change to this parameter requires a restart of the Valkey database.
                        type: boolean
                      type:
                        description: Possible types of the `backup_hour` parameter.
                        items:
                          type: string
                        type: array
                    type: object
                  frequent_snapshots:
                    additionalProperties: false
                    description: Details of the `frequent_snapshots` parameter, per Aiven's specifications.
                    properties:
                      default:
                        description: Specifies the default value of the `frequent_snapshots` parameters.
                        type: boolean
                      description:
                        description: The description for this parameter.
                        type: string
                      requires_restart:
                        description: Specifies if a change to this parameter requires a restart of the Valkey database.
                        type: boolean
                      type:
                        description: The format of this object.
                        type: string
                    type: object
                  valkey_acl_channel_default:
                    additionalProperties: false
                    description: Details of the `valkey_acl_channel_default` parameter, per Aiven's specifications.
                    properties:
                      description:
                        description: The description for this parameter.
                        type: string
                      enum:
                        description: Possible values of the `valkey_acl_channel_default` parameter, per Aiven's specifications.
                        items:
                          type: string
                        type: array
                      requires_restart:
                        description: Specifies if a change to this parameter requires a restart of the Valkey database.
                        type: boolean
                      type:
                        description: The format of this object.
                        type: string
                    type: object
                  valkey_acl_channels_default:
                    additionalProperties: false
                    description: Details of the `valkey_acl_channels_default` parameter, per Aiven's specifications.
                    properties:
                      description:
                        description: The description for this parameter.
                        type: string
                      enum:
                        description: Possible values of the `valkey_acl_channels_default` parameter.
                        items:
                          enum:
                          - allchannels
                          - resetchannels
                          type: string
                        type: array
                      requires_restart:
                        description: Specifies if a change to this parameter requires a restart of the Valkey database.
                        type: boolean
                      type:
                        description: The format of this object.
                        type: string
                    type: object
                  valkey_active_expire_effort:
                    additionalProperties: false
                    description: Details of the `valkey_active_expire_effort` parameter, per Aiven's specifications.
                    properties:
                      default:
                        description: Specifies the default value of the `valkey_active_expire_effort` parameter.
                        type: integer
                      description:
                        description: The description for this parameter.
                        type: string
                      maximum:
                        description: The maximum value allowed for this parameter.
                        type: integer
                      minimum:
                        description: The minimum value allowed for this parameter.
                        type: integer
                      requires_restart:
                        description: Specifies if a change to this parameter requires a restart of the Valkey database.
                        type: boolean
                      type:
                        description: The format of this object.
                        type: string
                    type: object
                  valkey_activedefrag:
                    additionalProperties: false
                    description: Details of the `valkey_activedefrag` parameter, per Aiven's specifications.
                    properties:
                      default:
                        description: Specifies the default value of the `frequent_snapshots` parameters.
                        type: boolean
                      description:
                        description: The description for this parameter.
                        type: string
                      requires_restart:
                        description: Specifies if a change to this parameter requires a restart of the Valkey database.
                        type: boolean
                      type:
                        description: The format of this object.
                        type: string
                    type: object
                  valkey_lfu_decay_time:
                    additionalProperties: false
                    description: Details of the `valkey_lfu_decay_time` parameter, per Aiven's specifications.
                    properties:
                      default:
                        description: Specifies the default value of the `valkey_lfu_decay_time` parameter.
                        type: integer
                      description:
                        description: The description for this parameter.
                        type: string
                      maximum:
                        description: The maximum value allowed for this parameter.
                        type: integer
                      minimum:
                        description: The minimum value allowed for this parameter.
                        type: integer
                      requires_restart:
                        description: Specifies if a change to this parameter requires a restart of the Valkey database.
                        type: boolean
                      type:
                        description: The format of this object.
                        type: string
                    type: object
                  valkey_lfu_log_factor:
                    additionalProperties: false
                    description: Details of the `valkey_lfu_log_factor` parameter, per Aiven's specifications.
                    properties:
                      default:
                        description: Specifies the default value of the `valkey_lfu_log_factor` parameter.
                        type: integer
                      description:
                        description: The description for this parameter.
                        type: string
                      maximum:
                        description: The maximum value allowed for this parameter.
                        type: integer
                      minimum:
                        description: The minimum value allowed for this parameter.
                        type: integer
                      requires_restart:
                        description: Specifies if a change to this parameter requires a restart of the Valkey database.
                        type: boolean
                      type:
                        description: The format of this object.
                        type: string
                    type: object
                  valkey_maxmemory_policy:
                    additionalProperties: false
                    description: Details of the `valkey_maxmemory_policy` parameter, per Aiven's specifications.
                    properties:
                      default:
                        description: Specifies the default value of the `valkey_maxmemory_policy` parameter.
                        type: string
                      description:
                        description: The description for this parameter.
                        type: string
                      enum:
                        description: Possible values of the `valkey_maxmemory_policy` parameter. To learn more about them, see [Valkey Key eviction](https://valkey.io/topics/lru-cache/) documentation.
                        items:
                          enum:
                          - noeviction
                          - allkeys-lru
                          - allkeys-lfu
                          - volatile-lru
                          - volatile-lfu
                          - volatile-ttl
                          - allkeys-random
                          - volatile-random
                          type: string
                        type: array
                      requires_restart:
                        description: Specifies if a change to this parameter requires a restart of the Valkey database.
                        type: boolean
                      type:
                        description: Possible types of the `valkey_maxmemory_policy` parameter.
                        items:
                          type: string
                        type: array
                    type: object
                  valkey_number_of_databases:
                    additionalProperties: false
                    description: Details of the `valkey_number_of_databases` parameter, per Aiven's specifications.
                    properties:
                      description:
                        description: The description for this parameter.
                        type: string
                      example:
                        description: An example value for this parameter.
                        type: integer
                      maximum:
                        description: The maximum value allowed for this parameter.
                        type: integer
                      minimum:
                        description: The minimum value allowed for this parameter.
                        type: integer
                      requires_restart:
                        description: Specifies if a change to this parameter requires a restart of the Valkey database.
                        type: boolean
                      type:
                        description: The format of this object.
                        type: string
                    type: object
                  valkey_persistence:
                    additionalProperties: false
                    description: 'Details of the `valkey_persistence` parameter, per Aiven''s specifications.

                      > 🚧

                      >

                      > If you disable this parameter, you won''t be able to fork and restore a database cluster from its backup snapshot.'
                    properties:
                      description:
                        description: The description for this parameter.
                        type: string
                      enum:
                        description: Possible values of the `valkey_persistence` parameter.
                        items:
                          enum:
                          - rdb
                          - 'off'
                          type: string
                        type: array
                      requires_restart:
                        description: Specifies if a change to this parameter requires a restart of the Valkey database.
                        type: boolean
                      type:
                        description: The format of this object.
                        type: string
                    type: object
                  valkey_pubsub_client_output_buffer_limit:
                    additionalProperties: false
                    description: Details of the `valkey_pubsub_client_output_buffer_limit` parameter, per Aiven's specifications.
                    properties:
                      description:
                        description: The description for this parameter.
                        type: string
                      example:
                        description: An example value for this parameter.
                        type: integer
                      maximum:
                        description: The maximum value allowed for this parameter.
                        type: integer
                      minimum:
                        description: The minimum value allowed for this parameter.
                        type: integer
                      requires_restart:
                        description: Specifies if a change to this parameter requires a restart of the Valkey database.
                        type: boolean
                      type:
                        description: The format of this object.
                        type: string
                    type: object
                  valkey_timeout:
                    additionalProperties: false
                    description: Details of the `valkey_timeout` parameter, per Aiven's specifications.
                    properties:
                      default:
                        description: Specifies the default value of the `valkey_timeout` parameter.
                        type: integer
                      description:
                        description: The description for this parameter.
                        type: string
                      maximum:
                        description: The maximum value allowed for this parameter.
                        type: integer
                      minimum:
                        description: The minimum value allowed for this parameter.
                        type: integer
                      requires_restart:
                        description: Specifies if a change to this parameter requires a restart of the Valkey database.
                        type: boolean
                      type:
                        description: The format of this object.
                        type: string
                    type: object
                type: object
                x-akamai:
                  file-path: schemas/database-valkey-config-200.yaml
          description: Valkey Managed Database advanced parameters.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - databases:read_only
      summary: List Valkey Managed Database advanced parameters
      tags:
      - Valkey
      x-akamai:
        status: LA
      x-linode-cli-skip: true
      x-linode-grant: read_only
      x-linode-iam:
      - roles:
        - database_viewer
  /{apiVersion}/databases/valkey/instances:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    x-akamai:
      file-path: paths/valkey-instances.yaml
      path-info: /{apiVersion}/databases/valkey/instances
    x-linode-cli-command: databases
    post:
      description: '__Limited availability__ Creates or restores a Valkey Managed Database.


        - New instances can take 10 to 15 minutes to deploy.


        - When you create a new Valkey Managed Database, our partner Aiven automatically enables disk encryption on each cluster.


        - Valkey databases automatically back up data every 12 hours and support configurable data persistence using Redis Database Backup (RDB). To change the default 12 hours to 24 hours, set the `backup_hour` parameter in the `engine_config` object. It may take another backup cycle for the new backup time to be applied.


        - All Managed Databases include automatic updates, which apply security patches to the underlying operating system of the Valkey Managed Database. Configure the maintenance window for these updates with the Update a Valkey Managed Database operation.


        - If your database cluster is configured with a single node, downtime occurs during maintenance updates. Adjust the window to match a time that''s the least disruptive to your application and users. Also consider upgrading to a high availability plan to avoid any maintenance downtime.


        - Major upgrades are optional until the service reaches end of service, and can be done in place.


        - A successful request triggers a `database_create` event.


        - You can create a Valkey Managed Database in a VPC using the `private_network` object in the request.


        **Restore a Valkey Managed Database**


        Include the `fork` object in the request to target a backed-up database. The only required value is `source`. If you provide other values, the forked cluster will use those settings. You can''t change `engine`.


        > 📘

        >

        > Restoring from a backup creates a second running cluster, which incurs billing. Delete the first cluster after the restore is complete, to avoid this billing.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs these roles assigned. Learn more.

        - Roles: `account_database_creator`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `databases:read_write`'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/post-databases-valkey-instances
      operationId: post-databases-valkey-instances
      requestBody:
        content:
          application/json:
            examples:
              create-valkey-cluster:
                summary: Create Valkey database
                value:
                  allow_list:
                  - 192.0.2.61/24
                  - 192.0.2.124/24
                  cluster_size: 1
                  engine: valkey/8
                  engine_config:
                    frequent_snapshots: true
                    valkey_active_expire_effort: 3
                    valkey_lfu_decay_time: 20
                  label: example-db
                  private_network:
                    public_access: false
                    subnet_id: 456
                    vpc_id: 123
                  region: us-east
                  ssl_connection: true
                  type: g6-standard-2
              fork-valkey-cluster:
                summary: Restore Valkey database
                value:
                  allow_list:
                  - 192.0.2.61/24
                  - 192.0.2.124/24
                  cluster_size: 1
                  engine_config:
                    frequent_snapshots: true
                    valkey_active_expire_effort: 3
                    valkey_lfu_decay_time: 20
                  fork:
                    restore_time: '2025-12-29T20:40:15'
                    source: 1234
                  label: example-db
                  private_network:
                    public_access: false
                    subnet_id: 456
                    vpc_id: 123
                  region: us-east
                  ssl_connection: true
                  type: g6-standard-2
            schema:
              additionalProperties: false
              description: Managed Valkey Database request object.
              oneOf:
              - additionalProperties: false
                description: Managed Valkey Database request object.
                properties:
                  allow_list:
                    description: 'Controls access to the Managed Database.


                      - Individually included IP addresses or CIDR ranges can access the Managed Database while all other sources are blocked.


                      - A standalone value of `0.0.0.0/0` allows all IP addresses access to the Managed Database.


                      - An empty array (`[]`) blocks all public and private connections to the Managed Database.'
                    example:
                    - 203.0.113.1/32
                    - 192.0.1.0/24
                    items:
                      format: ipv4/prefix_length
                      pattern: ^([0-9]{1,3}\.){3}[0-9]{1,3}(\/([0-9]|[1-2][0-9]|3[0-2]))?$
                      type: string
                    minItems: 0
                    type: array
                  cluster_size:
                    default: 1
                    description: 'The number of Linode instance nodes deployed to the Managed Database, from `1` to `3`. Consider these points when setting a `cluster_size`:


                      - Choose `3` nodes to create a high availability cluster that consists of one `primary` node and two `standby` nodes.


                      - A `2` node cluster is only available with a dedicated plan. It consists of one `primary` node and one `standby` node.'
                    enum:
                    - 1
                    - 2
                    - 3
                    example: 3
                    type: integer
                    x-linode-cli-display: 5
                  engine:
                    description: The `id` of the Managed Database engine. To get the available values, run the [List Managed Databases engines](https://techdocs.akamai.com/linode-api/reference/get-databases-engines) operation.
                    example: valkey/8
                    type: string
                  engine_config:
                    additionalProperties: false
                    description: 'Advanced parameters applied to a Valkey Managed Database, via our partner [Aiven''s specification](https://aiven.io/docs/products/valkey/reference/advanced-params). Only include the objects for parameters you want to set in your database. Omit objects for parameters you don''t want to define or change.


                      > 📘

                      >

                      > Aiven may offer additional parameters in their specification. Currently, only those listed here are supported for use in a Valkey Managed Database. You can also run the [Get Valkey Managed Database advanced parameters](https://techdocs.akamai.com/linode-api/reference/get-databases-valkey-config) operation to see an up-to-date list.'
                    properties:
                      backup_hour:
                        description: The hour of day (in UTC) when the backup for the service starts. New backups only start if the previous backup has already completed.
                        maximum: 23
                        minimum: 0
                        type: integer
                      backup_minute:
                        description: The minute of an hour when backup for the service is started. New backup is only started if previous backup has already completed.
                        maximum: 23
                        minimum: 0
                        type:
                        - integer
                        - 'null'
                      frequent_snapshots:
                        description: When enabled, Valkey creates frequent local RDB snapshots. When disabled, Valkey only takes RDB snapshots when a backup is created, based on the backup schedule. This setting is ignored when `valkey_persistence` is set to off.
                        type: boolean
                      valkey_acl_channels_default:
                        description: Default ACL for pub/sub channels used when a Valkey user is created. Determines default pub/sub channels' ACL for new users if ACL is not supplied. When this option is not defined, all_channels is assumed to keep backward compatibility. This option doesn't affect Valkey configuration acl-pubsub-default.
                        type: string
                      valkey_active_expire_effort:
                        default: 1
                        description: Active expire effort. Valkey reclaims expired keys both when accessed and in the background. The background process scans for expired keys to free memory. Increasing the active-expire-effort setting uses more CPU to reclaim expired keys faster, reducing memory usage but potentially increasing latency.
                        maximum: 10
                        minimum: 1
                        type: integer
                      valkey_activedefrag:
                        default: false
                        description: Enables active memory defragmentation. When enabled, Valkey relocates objects off sparsely-used memory pages to reduce fragmentation and return memory to the operating system. Defragmentation runs on the main thread and consumes CPU, so it may increase latency under load.
                        example: false
                        type: boolean
                      valkey_lfu_decay_time:
                        default: 1
                        description: LFU maxmemory-policy counter decay time in minutes.
                        maximum: 120
                        minimum: 1
                        type: integer
                      valkey_lfu_log_factor:
                        default: 10
                        description: Counter logarithm factor for volatile-lfu and allkeys-lfu maxmemory-policies.
                        maximum: 100
                        type: integer
                      valkey_maxmemory_policy:
                        default: noeviction
                        description: Valkey maxmemory-policy.
                        type:
                        - string
                        - 'null'
                      valkey_number_of_databases:
                        description: Set number of Valkey databases. Changing this will cause a restart of the Valkey service.
                        maximum: 128
                        minimum: 1
                        type: integer
                      valkey_persistence:
                        default: rdb
                        description: '- If set to `rdb`, Valkey generates periodic snapshots at least according to the backup schedule (either every twelve hours with an initial time chosen by the system or every 24 hours based on `backup_hour` and `backup_minute`, if set). Combined with the `frequent_snapshots` parameter set to `true`, Valkey generates snapshots every ten minutes if data has changed, which limits data loss in case nodes have to restart for any reason.


                          - If set to `off`, Valkey never takes snapshots. This means no backups and no possibility of restoring the cluster. Service restarts are guaranteed to lose data. The benefit is avoiding the performance penalty creating a snapshot entails.


                          > 📘

                          >

                          >`valkey_persistence` can''t be set `off`, if `backup_hour` or `backup_minute` are configured. When set to `off`, you can''t configure the maintentace window when [Updating a Valkey Managed Database](https://techdocs.akamai.com/linode-api/reference/put-databases-valkey-instance).'
                        enum:
                        - 'off'
                        - rdb
                        type: string
                      valkey_pubsub_client_output_buffer_limit:
                        description: Set output buffer limit for pub / sub clients in MB. The value is the hard limit, the soft limit is 1/4 of the hard limit. When setting the limit, be mindful of the available memory in the selected service plan.
                        maximum: 262144
                        minimum: 32
                        type: integer
                      valkey_timeout:
                        default: 300
                        description: Valkey idle connection timeout in seconds.
                        maximum: 2073600
                        type: integer
                    type: object
                    x-akamai:
                      file-path: schemas/database-valkey-engine-config.yaml
                  label:
                    description: __Filterable__ A name used to identify the Managed Database. This needs to be unique per Managed Database `engine` type. For example, you could use `database_1`, `database_2`, and `database_3` for three unique MySQL Managed Databases. You can also use these same names for three unique PostgreSQL Managed Databases. However, you can't repeat any of these names for either engine type.
                    example: example-db
                    maxLength: 32
                    minLength: 3
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 2
                    x-linode-filterable: true
                  private_network:
                    additionalProperties: false
                    description: Restricts access on a Valkey Managed Database to a specific Virtual Private Cloud (VPC) configured for the cluster.
                    properties:
                      public_access:
                        default: false
                        description: 'Set to `true` to allow clients outside of the VPC to connect to the database using a public IP address. Defaults to `false`, where only nodes within the specified `vpc_id` can access the Managed Database cluster.


                          > 📘

                          >

                          > If your Managed Database is also configured using an `allow_list`, only IP addresses set in it can access that database, even if this object is set to `true`.'
                        example: true
                        type: boolean
                      subnet_id:
                        description: If the `vpc_id` includes subnets, you can include the one you want to limit access to the database. From the [List VPCs](https://techdocs.akamai.com/linode-api/reference/get-vpcs) operation, store the `id` for the applicable `subnets` object.
                        example: 456
                        type: integer
                      vpc_id:
                        description: The unique identifier of the VPC you want to use to enable private access to the Managed Database. Run the [List VPCs](https://techdocs.akamai.com/linode-api/reference/get-vpcs) operation and store the `id` for the applicable VPC.
                        example: 123
                        type: integer
                    type:
                    - object
                    - 'null'
                  region:
                    description: __Filterable__ The unique identifier for the [region](https://techdocs.akamai.com/linode-api/reference/get-regions) where the Managed Database lives.
                    example: us-east
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 3
                    x-linode-filterable: true
                  ssl_connection:
                    default: true
                    description: Currently required to be `true`. Whether to require SSL credentials to establish a connection to the Managed Database. Run the [Get Valkey Managed Database credentials](https://techdocs.akamai.com/linode-api/reference/get-databases-valkey-instance-credentials) operation for access information.
                    example: true
                    type: boolean
                  type:
                    description: __Filterable__ The `id` of the Linode Instance type used by the Managed Database for its nodes.
                    example: g6-dedicated-2
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 4
                    x-linode-filterable: true
                required:
                - label
                - type
                - engine
                - region
                title: Create Valkey database
                type: object
                x-akamai:
                  file-path: schemas/database-valkey-create.yaml
              - additionalProperties: false
                description: Managed Valkey Database request object.
                properties:
                  allow_list:
                    description: 'Controls access to the Managed Database.


                      - Individually included IP addresses or CIDR ranges can access the Managed Database while all other sources are blocked.


                      - A standalone value of `0.0.0.0/0` allows all IP addresses access to the Managed Database.


                      - An empty array (`[]`) blocks all public and private connections to the Managed Database.'
                    example:
                    - 203.0.113.1/32
                    - 192.0.1.0/24
                    items:
                      format: ipv4/prefix_length
                      pattern: ^([0-9]{1,3}\.){3}[0-9]{1,3}(\/([0-9]|[1-2][0-9]|3[0-2]))?$
                      type: string
                    minItems: 0
                    type: array
                  cluster_size:
                    default: 1
                    description: 'The number of Linode instance nodes deployed to the Managed Database, from `1` to `3`. Consider these points when setting a `cluster_size`:


                      - Choose `3` nodes to create a high availability cluster that consists of one `primary` node and two `standby` nodes.


                      - A `2` node cluster is only available with a dedicated plan. It consists of one `primary` node and one `standby` node.'
                    enum:
                    - 1
                    - 2
                    - 3
                    example: 3
                    type: integer
                    x-linode-cli-display: 5
                  engine_config:
                    additionalProperties: false
                    description: 'Advanced parameters applied to a Valkey Managed Database, via our partner [Aiven''s specification](https://aiven.io/docs/products/valkey/reference/advanced-params). Only include the objects for parameters you want to set in your database. Omit objects for parameters you don''t want to define or change.


                      > 📘

                      >

                      > Aiven may offer additional parameters in their specification. Currently, only those listed here are supported for use in a Valkey Managed Database. You can also run the [Get Valkey Managed Database advanced parameters](https://techdocs.akamai.com/linode-api/reference/get-databases-valkey-config) operation to see an up-to-date list.'
                    properties:
                      backup_hour:
                        description: The hour of day (in UTC) when the backup for the service starts. New backups only start if the previous backup has already completed.
                        maximum: 23
                        minimum: 0
                        type: integer
                      backup_minute:
                        description: The minute of an hour when backup for the service is started. New backup is only started if previous backup has already completed.
                        maximum: 23
                        minimum: 0
                        type:
                        - integer
                        - 'null'
                      frequent_snapshots:
                        description: When enabled, Valkey creates frequent local RDB snapshots. When disabled, Valkey only takes RDB snapshots when a backup is created, based on the backup schedule. This setting is ignored when `valkey_persistence` is set to off.
                        type: boolean
                      valkey_acl_channels_default:
                        description: Default ACL for pub/sub channels used when a Valkey user is created. Determines default pub/sub channels' ACL for new users if ACL is not supplied. When this option is not defined, all_channels is assumed to keep backward compatibility. This option doesn't affect Valkey configuration acl-pubsub-default.
                        type: string
                      valkey_active_expire_effort:
                        default: 1
                        description: Active expire effort. Valkey reclaims expired keys both when accessed and in the background. The background process scans for expired keys to free memory. Increasing the active-expire-effort setting uses more CPU to reclaim expired keys faster, reducing memory usage but potentially increasing latency.
                        maximum: 10
                        minimum: 1
                        type: integer
                      valkey_activedefrag:
                        default: false
                        description: Enables active memory defragmentation. When enabled, Valkey relocates objects off sparsely-used memory pages to reduce fragmentation and return memory to the operating system. Defragmentation runs on the main thread and consumes CPU, so it may increase latency under load.
                        example: false
                        type: boolean
                      valkey_lfu_decay_time:
                        default: 1
                        description: LFU maxmemory-policy counter decay time in minutes.
                        maximum: 120
                        minimum: 1
                        type: integer
                      valkey_lfu_log_factor:
                        default: 10
                        description: Counter logarithm factor for volatile-lfu and allkeys-lfu maxmemory-policies.
                        maximum: 100
                        type: integer
                      valkey_maxmemory_policy:
                        default: noeviction
                        description: Valkey maxmemory-policy.
                        type:
                        - string
                        - 'null'
                      valkey_number_of_databases:
                        description: Set number of Valkey databases. Changing this will cause a restart of the Valkey service.
                        maximum: 128
                        minimum: 1
                        type: integer
                      valkey_persistence:
                        default: rdb
                        description: '- If set to `rdb`, Valkey generates periodic snapshots at least according to the backup schedule (either every twelve hours with an initial time chosen by the system or every 24 hours based on `backup_hour` and `backup_minute`, if set). Combined with the `frequent_snapshots` parameter set to `true`, Valkey generates snapshots every ten minutes if data has changed, which limits data loss in case nodes have to restart for any reason.


                          - If set to `off`, Valkey never takes snapshots. This means no backups and no possibility of restoring the cluster. Service restarts are guaranteed to lose data. The benefit is avoiding the performance penalty creating a snapshot entails.


                          > 📘

                          >

                          >`valkey_persistence` can''t be set `off`, if `backup_hour` or `backup_minute` are configured. When set to `off`, you can''t configure the maintentace window when [Updating a Valkey Managed Database](https://techdocs.akamai.com/linode-api/reference/put-databases-valkey-instance).'
                        enum:
                        - 'off'
                        - rdb
                        type: string
                      valkey_pubsub_client_output_buffer_limit:
                        description: Set output buffer limit for pub / sub clients in MB. The value is the hard limit, the soft limit is 1/4 of the hard limit. When setting the limit, be mindful of the available memory in the selected service plan.
                        maximum: 262144
                        minimum: 32
                        type: integer
                      valkey_timeout:
                        default: 300
                        description: Valkey idle connection timeout in seconds.
                        maximum: 2073600
                        type: integer
                    type: object
                    x-akamai:
                      file-path: schemas/database-valkey-engine-config.yaml
                  fork:
                    additionalProperties: false
                    description: 'Include this object to restore a Managed Database by forking from a backup.


                      - If you include this object, all other fields are optional.


                      - Don''t include this object if you''re creating a new Managed Database.'
                    properties:
                      restore_time:
                        description: A specific database timestamp to restore from. To get available values, run the [List Managed Databases](https://techdocs.akamai.com/linode-api/reference/get-databases-instances) operation and check `available_restore_times` for the Valkey cluster you want to create a fork from. If you don't provide this value, the fork is created from the latest available time.
                        example: '2024-10-14T19:55:12'
                        type: string
                      source:
                        description: The unique identifier for the database to fork from. This is the `id` value returned by the [List Managed Databases](https://techdocs.akamai.com/linode-api/reference/get-databases-instances) operation.
                        example: 176881
                        type: integer
                    required:
                    - source
                    type: object
                    x-akamai:
                      file-path: schemas/database-restore-fork-valkey.yaml
                  label:
                    description: __Filterable__ A name used to identify the Managed Database. This needs to be unique per Managed Database `engine` type. For example, you could use `database_1`, `database_2`, and `database_3` for three unique MySQL Managed Databases. You can also use these same names for three unique PostgreSQL Managed Databases. However, you can't repeat any of these names for either engine type.
                    example: example-db
                    maxLength: 32
                    minLength: 3
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 2
                    x-linode-filterable: true
                  private_network:
                    additionalProperties: false
                    description: Restricts access on a Valkey Managed Database to a specific Virtual Private Cloud (VPC) configured for the cluster.
                    properties:
                      public_access:
                        default: false
                        description: 'Set to `true` to allow clients outside of the VPC to connect to the database using a public IP address. Defaults to `false`, where only nodes within the specified `vpc_id` can access the Managed Database cluster.


                          > 📘

                          >

                          > If your Managed Database is also configured using an `allow_list`, only IP addresses set in it can access that database, even if this object is set to `true`.'
                        example: true
                        type: boolean
                      subnet_id:
                        description: If the `vpc_id` includes subnets, you can include the one you want to limit access to the database. From the [List VPCs](https://techdocs.akamai.com/linode-api/reference/get-vpcs) operation, store the `id` for the applicable `subnets` object.
                        example: 456
                        type: integer
                      vpc_id:
                        description: The unique identifier of the VPC you want to use to enable private access to the Managed Database. Run the [List VPCs](https://techdocs.akamai.com/linode-api/reference/get-vpcs) operation and store the `id` for the applicable VPC.
                        example: 123
                        type: integer
                    type:
                    - object
                    - 'null'
                  region:
                    description: __Filterable__ The unique identifier for the [region](https://techdocs.akamai.com/linode-api/reference/get-regions) where the Managed Database lives.
                    example: us-east
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 3
                    x-linode-filterable: true
                  ssl_connection:
                    default: true
                    description: Currently required to be `true`. Whether to require SSL credentials to establish a connection to the Managed Database. Run the [Get Valkey Managed Database credentials](https://techdocs.akamai.com/linode-api/reference/get-databases-valkey-instance-credentials) operation for access information.
                    example: true
                    type: boolean
                  type:
                    description: __Filterable__ The `id` of the Linode Instance type used by the Managed Database for its nodes.
                    example: g6-dedicated-2
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 4
                    x-linode-filterable: true
                required:
                - fork
                title: Restore Valkey database
                type: object
                x-akamai:
                  file-path: schemas/database-valkey-restore.yaml
              type: object
              x-akamai:
                file-path: schemas/database-valkey-request.yaml
        required: true
        x-linode-cli-allowed-defaults:
        - engine
        - region
        - type
      responses:
        '200':
          content:
            application/json:
              example:
                allow_list:
                - 192.0.2.61/24
                - 192.0.2.124/24
                available_restore_times: []
                cluster_size: 1
                created: '2025-12-29T20:29:15'
                encrypted: true
                engine: valkey
                engine_config:
                  frequent_snapshots: true
                  valkey_active_expire_effort: 1
                  valkey_lfu_decay_time: 1
                  valkey_lfu_log_factor: 10
                  valkey_maxmemory_policy: noeviction
                  valkey_timeout: 300
                hosts:
                  primary: a29-akamai-testuser-1000-default.g2a.akamaidb.net
                id: 29
                label: sampledb-valkey
                members: {}
                port: 13670
                private_network: null
                region: us-east
                ssl_connection: true
                status: provisioning
                total_disk_size_gb: 0
                type: g6-nanode-1
                updated: '2025-12-29T20:29:16'
                updates:
                  day_of_week: 7
                  duration: 4
                  frequency: weekly
                  hour_of_day: 15
                  pending: []
                used_disk_size_gb: null
                version: '8.1'
              schema:
                additionalProperties: false
                description: Managed PostgreSQL Databases object.
                properties:
                  allow_list:
                    description: 'Controls access to the Managed Database.


                      - Individually included IP addresses or CIDR ranges can access the Managed Database while all other sources are blocked.


                      - A standalone value of `0.0.0.0/0` allows all IP addresses access to the Managed Database.


                      - An empty array (`[]`) blocks all public and private connections to the Managed Database.'
                    example:
                    - 203.0.113.1/32
                    - 192.0.1.0/24
                    items:
                      format: ipv4/prefix_length
                      pattern: ^([0-9]{1,3}\.){3}[0-9]{1,3}(\/([0-9]|[1-2][0-9]|3[0-2]))?$
                      type: string
                    minItems: 0
                    type: array
                  available_restore_times:
                    description: Possible times you can create a fork from for a Valkey database.
                    items:
                      example: '2024-10-03T20:48:05'
                      type: string
                    type:
                    - array
                    - 'null'
                  cluster_size:
                    default: 1
                    description: 'The number of Linode instance nodes deployed to the Managed Database, from `1` to `3`. Consider these points when setting a `cluster_size`:


                      - Choose `3` nodes to create a high availability cluster that consists of one `primary` node and two `standby` nodes.


                      - A `2` node cluster is only available with a dedicated plan. It consists of one `primary` node and one `standby` node.'
                    enum:
                    - 1
                    - 2
                    - 3
                    example: 3
                    type: integer
                    x-linode-cli-display: 5
                  created:
                    description: __Read-only__ When this Managed Database was created.
                    example: '2022-01-01T00:01:01'
                    readOnly: true
                    type: string
                  encrypted:
                    default: true
                    description: __Read-only__ Whether the Managed Databases is encrypted. Currently the only possible value is `true`.
                    example: true
                    readOnly: true
                    type: boolean
                  engine:
                    description: __Filterable__, __Read-only__ The Managed Database engine type.
                    example: postgresql
                    readOnly: true
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 6
                    x-linode-filterable: true
                  engine_config:
                    additionalProperties: false
                    description: 'Advanced parameters applied to a Valkey Managed Database, via our partner [Aiven''s specification](https://aiven.io/docs/products/valkey/reference/advanced-params). Only include the objects for parameters you want to set in your database. Omit objects for parameters you don''t want to define or change.


                      > 📘

                      >

                      > Aiven may offer additional parameters in their specification. Currently, only those listed here are supported for use in a Valkey Managed Database. You can also run the [Get Valkey Managed Database advanced parameters](https://techdocs.akamai.com/linode-api/reference/get-databases-valkey-config) operation to see an up-to-date list.'
                    properties:
                      backup_hour:
                        description: The hour of day (in UTC) when the backup for the service starts. New backups only start if the previous backup has already completed.
                        maximum: 23
                        minimum: 0
                        type: integer
                      backup_minute:
                        description: The minute of an hour when backup for the service is started. New backup is only started if previous backup has already completed.
                        maximum: 23
                        minimum: 0
                        type:
                        - integer
                        - 'null'
                      frequent_snapshots:
                        description: When enabled, Valkey creates frequent local RDB snapshots. When disabled, Valkey only takes RDB snapshots when a backup is created, based on the backup schedule. This setting is ignored when `valkey_persistence` is set to off.
                        type: boolean
                      valkey_acl_channels_default:
                        description: Default ACL for pub/sub channels used when a Valkey user is created. Determines default pub/sub channels' ACL for new users if ACL is not supplied. When this option is not defined, all_channels is assumed to keep backward compatibility. This option doesn't affect Valkey configuration acl-pubsub-default.
                        type: string
                      valkey_active_expire_effort:
                        default: 1
                        description: Active expire effort. Valkey reclaims expired keys both when accessed and in the background. The background process scans for expired keys to free memory. Increasing the active-expire-effort setting uses more CPU to reclaim expired keys faster, reducing memory usage but potentially increasing latency.
                        maximum: 10
                        minimum: 1
                        type: integer
                      valkey_activedefrag:
                        default: false
                        description: Enables active memory defragmentation. When enabled, Valkey relocates objects off sparsely-used memory pages to reduce fragmentation and return memory to the operating system. Defragmentation runs on the main thread and consumes CPU, so it may increase latency under load.
                        example: false
                        type: boolean
                      valkey_lfu_decay_time:
                        default: 1
                        description: LFU maxmemory-policy counter decay time in minutes.
                        maximum: 120
                        minimum: 1
                        type: integer
                      valkey_lfu_log_factor:
                        default: 10
                        description: Counter logarithm factor for volatile-lfu and allkeys-lfu maxmemory-policies.
                        maximum: 100
                        type: integer
                      valkey_maxmemory_policy:
                        default: noeviction
                        description: Valkey maxmemory-policy.
                        type:
                        - string
                        - 'null'
                      valkey_number_of_databases:
                        description: Set number of Valkey databases. Changing this will cause a restart of the Valkey service.
                        maximum: 128
                        minimum: 1
                        type: integer
                      valkey_persistence:
                        default: rdb
                        description: '- If set to `rdb`, Valkey generates periodic snapshots at least according to the backup schedule (either every twelve hours with an initial time chosen by the system or every 24 hours based on `backup_hour` and `backup_minute`, if set). Combined with the `frequent_snapshots` parameter set to `true`, Valkey generates snapshots every ten minutes if data has changed, which limits data loss in case nodes have to restart for any reason.


                          - If set to `off`, Valkey never takes snapshots. This means no backups and no possibility of restoring the cluster. Service restarts are guaranteed to lose data. The benefit is avoiding the performance penalty creating a snapshot entails.


                          > 📘

                          >

                          >`valkey_persistence` can''t be set `off`, if `backup_hour` or `backup_minute` are configured. When set to `off`, you can''t configure the maintentace window when [Updating a Valkey Managed Database](https://techdocs.akamai.com/linode-api/reference/put-databases-valkey-instance).'
                        enum:
                        - 'off'
                        - rdb
                        type: string
                      valkey_pubsub_client_output_buffer_limit:
                        description: Set output buffer limit for pub / sub clients in MB. The value is the hard limit, the soft limit is 1/4 of the hard limit. When setting the limit, be mindful of the available memory in the selected service plan.
                        maximum: 262144
                        minimum: 32
                        type: integer
                      valkey_timeout:
                        default: 300
                        description: Valkey idle connection timeout in seconds.
                        maximum: 2073600
                        type: integer
                    type: object
                    x-akamai:
                      file-path: schemas/database-valkey-engine-config.yaml
                    x-linode-cli-display: 7
                  fork:
                    additionalProperties: false
                    description: Details on the database that was the target of the fork. This only exists if the database was restored by creating a fork from another database.
                    properties:
                      restore_time:
                        description: The database timestamp from which it was restored. This is _not_ when the fork was created.
                        example: '2024-10-14T19:55:12'
                        type: string
                      source:
                        description: The unique identifier for the database that was forked from.
                        example: 176881
                        type: integer
                    type: object
                  hosts:
                    additionalProperties: false
                    description: __Read-only__ The primary hostname and standby read-only hostname for the Managed Database. The API assigns these hostnames after it successfully creates the Managed Database.
                    properties:
                      endpoints:
                        description: __Read-only__ A structured inventory of all connection points for a Managed Database instance.
                        items:
                          additionalProperties: false
                          properties:
                            address:
                              description: The DNS hostname that resolves to either the `primary` or `standby` host, based on this object's `role`.
                              example: lin-123-456-mysql-mysql-primary.servers.linodedb.net
                              type: string
                            port:
                              description: The port number used for the connection.
                              example: 3306
                              type: integer
                            public_access:
                              description: Whether `public_access` has been enabled for the connection point.
                              example: false
                              type: boolean
                            role:
                              description: Whether the endpoint connects to the `primary` or `standby` hostname, as defined in `hosts`.
                              enum:
                              - primary
                              - standby
                              example: primary
                              type: string
                          type: object
                        readOnly: true
                        type: array
                      primary:
                        description: 'The primary hostname for the Managed Database.


                          > 📘

                          >

                          > - If you''ve configured the Managed Database to use a Virtual Private Cloud (VPC) via the `private_network` object ([MySQL](https://techdocs.akamai.com/linode-api/reference/post-databases-mysql-instances) / [PostgreSQL](https://techdocs.akamai.com/linode-api/reference/post-databases-postgre-sql-instances)), this hostname resolves to a private IPv4 address within that VPC subnet''s address range.

                          >

                          > - With `public_access` enabled in a `private_network`, a public version of this hostname is also available. Resolving this hostname returns publicly routable IPv4 and IPv6 addresses.'
                        example: lin-123-456-mysql-mysql-primary.servers.linodedb.net
                        format: hostname
                        type:
                        - string
                        - 'null'
                      standby:
                        description: 'A DNS name that resolves to the IP addresses assigned to the Managed Database''s read-only standby hosts. You can use this hostname to configure applications that only need to view data in the database, in an effort to limit the load on the `primary`.


                          > 📘

                          >

                          > - This only applies to Managed Databases with a `cluster_size` of `2` or `3`.

                          >

                          > - This DNS name is publicly visible and accessible. Connections to it are over the public internet unless the Managed Database is inside a VPC.

                          >

                          > - Network traffic to this DNS name is billable unless the client connects over IPv6 from the same `region`.

                          >

                          > - If you''ve configured the Managed Database to use a VPC via the `private_network` object ([MySQL](https://techdocs.akamai.com/linode-api/reference/post-databases-mysql-instances) / [PostgreSQL](https://techdocs.akamai.com/linode-api/reference/post-databases-postgre-sql-instances)), this hostname resolves to one or more private IPv4 addresses within that VPC subnet''s address range.

                          >

                          > - With `public_access` enabled in a `private_network`, a public version of this hostname is also available. Resolving this hostname returns publicly routable IPv4 and IPv6 addresses.'
                        example: lin-123-456-mysql-primary-private.servers.linodedb.net
                        type:
                        - string
                        - 'null'
                    readOnly: true
                    type: object
                  id:
                    description: __Read-only__ A unique ID that can be used to identify and reference the Managed Database.
                    example: 123
                    readOnly: true
                    type: integer
                    x-linode-cli-display: 1
                  label:
                    description: __Filterable__ A name used to identify the Managed Database. This needs to be unique per Managed Database `engine` type. For example, you could use `database_1`, `database_2`, and `database_3` for three unique MySQL Managed Databases. You can also use these same names for three unique PostgreSQL Managed Databases. However, you can't repeat any of these names for either engine type.
                    example: example-db
                    maxLength: 32
                    minLength: 3
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 2
                    x-linode-filterable: true
                  members:
                    additionalProperties:
                      enum:
                      - primary
                      - failover
                      type: string
                    description: __Read-only__ A mapping between IP addresses and strings designating them as `primary` or `failover`.
                    example:
                      45.56.110.70: primary
                      45.79.159.239: failover
                    readOnly: true
                    type: object
                  platform:
                    description: __Filterable__, __Read-only__ The back-end platform for relational databases used by the service, either `rdbms-legacy` or `rdbms-default`.
                    enum:
                    - rdbms-legacy
                    - rdbms-default
                    example: rdbms-default
                    readOnly: true
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 8
                    x-linode-filterable: true
                  port:
                    description: __Read-only__ The access port for this Managed Database.
                    example: 3306
                    readOnly: true
                    type: integer
                  private_network:
                    additionalProperties: false
                    description: Restricts access on a Managed Database to a specific Virtual Private Cloud (VPC) configured for the cluster. Displayed as `null` if no VPC is configured.
                    properties:
                      public_access:
                        default: false
                        description: 'Set to `true` allows clients outside of the VPC to connect to the database using a public IP address.


                          > 📘

                          >

                          > If your Managed Database is also configured using an `allow_list`, only IP addresses set in it can access that database, even if this object is set to `true`.'
                        example: true
                        type: boolean
                      subnet_id:
                        description: The VPC's `subnet_id` used to control access to the database.
                        example: 456
                        type: integer
                      vpc_id:
                        description: The unique identifier of the VPC you want to use to enable private access to the Managed Database.
                        example: 123
                        type: integer
                    type:
                    - object
                    - 'null'
                  region:
                    description: __Filterable__ The unique identifier for the [region](https://techdocs.akamai.com/linode-api/reference/get-regions) where the Managed Database lives.
                    example: us-east
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 3
                    x-linode-filterable: true
                  ssl_connection:
                    default: true
                    description: Currently required to be `true`. Whether to require SSL credentials to establish a connection to the Managed Database. Run the [Get managed PostgreSQL database credentials](https://techdocs.akamai.com/linode-api/reference/get-databases-postgre-sql-instance-credentials) operation for access information.
                    example: true
                    type: boolean
                  status:
                    description: '__Filterable__, __Read-only__ The operating status of the Managed Database, which can be one of the following: `provisioning`, `active`, `suspending`, `suspended`, `resuming`, `updating`, or `resizing`.'
                    enum:
                    - provisioning
                    - active
                    - suspending
                    - suspended
                    - resuming
                    - updating
                    - resizing
                    example: active
                    readOnly: true
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-color:
                      active: green
                      default_: white
                      degraded: red
                      failed: red
                      provisioning: yellow
                      restoring: yellow
                      resuming: yellow
                    x-linode-cli-display: 100
                    x-linode-filterable: true
                  total_disk_size_gb:
                    description: __Read-only__ The total disk size of the database, in GB.
                    example: 15
                    readOnly: true
                    type: integer
                  type:
                    description: __Filterable__ The `id` of the Linode Instance type used by the Managed Database for its nodes.
                    example: g6-dedicated-2
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 4
                    x-linode-filterable: true
                  updated:
                    description: __Read-only__ When this Managed Database was last updated.
                    example: '2022-01-01T00:01:01'
                    readOnly: true
                    type: string
                  updates:
                    additionalProperties: false
                    description: Configuration settings for automated patch update maintenance for the Managed Database.
                    properties:
                      day_of_week:
                        description: The numeric reference for the day of the week to perform maintenance. `1` is Monday, `2` is Tuesday, through to `7` which is Sunday.
                        example: 1
                        maximum: 7
                        minimum: 1
                        type: integer
                      duration:
                        default: 4
                        description: The maximum maintenance window time in hours. Currently can only be `4`.
                        example: 4
                        type: integer
                      frequency:
                        default: weekly
                        description: How frequently maintenance occurs. Currently can only be `weekly`.
                        enum:
                        - weekly
                        example: weekly
                        type: string
                      hour_of_day:
                        description: The hour to begin maintenance based in UTC time.
                        example: 0
                        maximum: 23
                        minimum: 0
                        type: integer
                      pending:
                        description: __Read-only__ An array of pending updates.
                        example: []
                        items:
                          additionalProperties: false
                          description: A planned maintenance update.
                          properties:
                            deadline:
                              description: The time when a mandatory update needs to be applied.
                              example: '2024-10-14T19:55:12'
                              type:
                              - string
                              - 'null'
                            description:
                              description: A description of the update.
                              example: TimescaleDB version 2.17.1 is available.
                              type: string
                            planned_for:
                              description: The time when a maintenance update will be applied.
                              example: '2024-10-14T19:55:12'
                              type:
                              - string
                              - 'null'
                          type: object
                        minItems: 0
                        readOnly: true
                        type: array
                    type: object
                  used_disk_size_gb:
                    description: __Read-only__ The amount of space currently in use in the database, in GB. This is `null` for Valkey
                    example: 2
                    readOnly: true
                    type:
                    - integer
                    - 'null'
                  version:
                    description: __Filterable__ The Managed Database engine version.
                    example: '13.2'
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 8
                    x-linode-filterable: true
                type: object
                x-akamai:
                  file-path: schemas/database-valkey-response.yaml
          description: A new Valkey Managed Database is provisioning.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - databases:read_write
      summary: Create or restore a Valkey Managed Database
      tags:
      - Valkey
      x-akamai:
        status: LA
      x-linode-cli-skip: true
      x-linode-grant: add_databases
      x-linode-iam:
      - roles:
        - account_database_creator
    get:
      description: '__Limited availability__ Display all accessible Valkey Managed Databases.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs these roles assigned. Learn more.

        - Roles: `database_viewer`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `databases:read_only`'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-databases-valkey-instances
      operationId: get-databases-valkey-instances
      parameters:
      - description: The page of a collection to return.
        example: '{{page}}'
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 6
          minimum: 1
          type: integer
        x-akamai:
          file-path: parameters/page-offset.yaml
      - description: The number of items to return per page.
        example: '{{page_size}}'
        in: query
        name: page_size
        schema:
          default: 100
          example: 50
          maximum: 500
          minimum: 25
          type: integer
        x-akamai:
          file-path: parameters/page-size.yaml
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - allow_list: []
                  available_restore_times:
                  - '2025-12-29T20:40:15'
                  cluster_size: 1
                  created: '2025-12-29T20:29:15'
                  encrypted: true
                  engine: valkey
                  engine_config:
                    frequent_snapshots: true
                    valkey_active_expire_effort: 1
                    valkey_lfu_decay_time: 1
                    valkey_lfu_log_factor: 10
                    valkey_maxmemory_policy: noeviction
                    valkey_timeout: 300
                  hosts:
                    primary: a29-akamai-testuser-1000-default.g2a.akamaidb.net
                  id: 29
                  label: sampledb-valkey
                  members: {}
                  port: 13670
                  private_network: null
                  region: us-east
                  ssl_connection: true
                  status: provisioning
                  total_disk_size_gb: 0
                  type: g6-nanode-1
                  updated: '2025-12-29T20:29:16'
                  updates:
                    day_of_week: 7
                    duration: 4
                    frequency: weekly
                    hour_of_day: 15
                    pending: []
                  used_disk_size_gb: null
                  version: '8.1'
                - allow_list: []
                  available_restore_times:
                  - '2025-12-29T20:40:15'
                  cluster_size: 1
                  created: '2025-12-29T20:29:15'
                  encrypted: true
                  engine: valkey
                  engine_config:
                    frequent_snapshots: true
                    valkey_active_expire_effort: 1
                    valkey_lfu_decay_time: 1
                    valkey_lfu_log_factor: 10
                    valkey_maxmemory_policy: noeviction
                    valkey_timeout: 300
                  hosts:
                    primary: a30-akamai-testuser-1000-default.g2a.akamaidb.net
                  id: 30
                  label: sampledb-valkey
                  members: {}
                  port: 13670
                  private_network: null
                  region: us-east
                  ssl_connection: true
                  status: provisioning
                  total_disk_size_gb: 0
                  type: g6-nanode-1
                  updated: '2025-12-29T20:29:16'
                  updates:
                    day_of_week: 7
                    duration: 4
                    frequency: weekly
                    hour_of_day: 15
                    pending: []
                  used_disk_size_gb: null
                  version: '8.1'
                page: 1
                pages: 1
                results: 2
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: A list of objects returned for a response.
                    items:
                      additionalProperties: false
                      description: Managed Valkey Databases object.
                      properties:
                        allow_list:
                          description: 'Controls access to the Managed Database.


                            - Individually included IP addresses or CIDR ranges can access the Managed Database while all other sources are blocked.


                            - A standalone value of `0.0.0.0/0` allows all IP addresses access to the Managed Database.


                            - An empty array (`[]`) blocks all public and private connections to the Managed Database.'
                          example:
                          - 203.0.113.1/32
                          - 192.0.1.0/24
                          items:
                            format: ipv4/prefix_length
                            pattern: ^([0-9]{1,3}\.){3}[0-9]{1,3}(\/([0-9]|[1-2][0-9]|3[0-2]))?$
                            type: string
                          minItems: 0
                          type: array
                        available_restore_times:
                          description: __Read-only__ Possible times you can create a fork from for a Valkey database.
                          items:
                            example: '2024-10-03T20:48:05'
                            type: string
                          minItems: 0
                          readOnly: true
                          type: array
                        cluster_size:
                          default: 1
                          description: 'The number of Linode instance nodes deployed to the Managed Database, from `1` to `3`. Consider these points when setting a `cluster_size`:


                            - Choose `3` nodes to create a high availability cluster that consists of one `primary` node and two `standby` nodes.


                            - A `2` node cluster is only available with a dedicated plan. It consists of one `primary` node and one `standby` node.'
                          enum:
                          - 1
                          - 2
                          - 3
                          example: 3
                          type: integer
                          x-linode-cli-display: 5
                        created:
                          description: __Read-only__ When this Managed Database was created.
                          example: '2022-01-01T00:01:01'
                          readOnly: true
                          type: string
                        encrypted:
                          default: true
                          description: __Read-only__ Whether the Managed Databases is encrypted. Currently the only possible value is `true`.
                          example: true
                          readOnly: true
                          type: boolean
                        engine:
                          description: __Filterable__, __Read-only__ The Managed Database engine type.
                          example: valkey
                          readOnly: true
                          type: string
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-cli-display: 6
                          x-linode-filterable: true
                        engine_config:
                          additionalProperties: false
                          description: 'Advanced parameters applied to a Valkey Managed Database, via our partner [Aiven''s specification](https://aiven.io/docs/products/valkey/reference/advanced-params). Only include the objects for parameters you want to set in your database. Omit objects for parameters you don''t want to define or change.


                            > 📘

                            >

                            > Aiven may offer additional parameters in their specification. Currently, only those listed here are supported for use in a Valkey Managed Database. You can also run the [Get Valkey Managed Database advanced parameters](https://techdocs.akamai.com/linode-api/reference/get-databases-valkey-config) operation to see an up-to-date list.'
                          properties:
                            backup_hour:
                              description: The hour of day (in UTC) when the backup for the service starts. New backups only start if the previous backup has already completed.
                              maximum: 23
                              minimum: 0
                              type: integer
                            backup_minute:
                              description: The minute of an hour when backup for the service is started. New backup is only started if previous backup has already completed.
                              maximum: 23
                              minimum: 0
                              type:
                              - integer
                              - 'null'
                            frequent_snapshots:
                              description: When enabled, Valkey creates frequent local RDB snapshots. When disabled, Valkey only takes RDB snapshots when a backup is created, based on the backup schedule. This setting is ignored when `valkey_persistence` is set to off.
                              type: boolean
                            valkey_acl_channels_default:
                              description: Default ACL for pub/sub channels used when a Valkey user is created. Determines default pub/sub channels' ACL for new users if ACL is not supplied. When this option is not defined, all_channels is assumed to keep backward compatibility. This option doesn't affect Valkey configuration acl-pubsub-default.
                              type: string
                            valkey_active_expire_effort:
                              default: 1
                              description: Active expire effort. Valkey reclaims expired keys both when accessed and in the background. The background process scans for expired keys to free memory. Increasing the active-expire-effort setting uses more CPU to reclaim expired keys faster, reducing memory usage but potentially increasing latency.
                              maximum: 10
                              minimum: 1
                              type: integer
                            valkey_activedefrag:
                              default: false
                              description: Enables active memory defragmentation. When enabled, Valkey relocates objects off sparsely-used memory pages to reduce fragmentation and return memory to the operating system. Defragmentation runs on the main thread and consumes CPU, so it may increase latency under load.
                              example: false
                              type: boolean
                            valkey_lfu_decay_time:
                              default: 1
                              description: LFU maxmemory-policy counter decay time in minutes.
                              maximum: 120
                              minimum: 1
                              type: integer
                            valkey_lfu_log_factor:
                              default: 10
                              description: Counter logarithm factor for volatile-lfu and allkeys-lfu maxmemory-policies.
                              maximum: 100
                              type: integer
                            valkey_maxmemory_policy:
                              default: noeviction
                              description: Valkey maxmemory-policy.
                              type:
                              - string
                              - 'null'
                            valkey_number_of_databases:
[...]
