openapi: 3.2.0
info:
  title: Linode instances API
  version: '1.0'
  description: 'Operations tagged Linode instances across 2 of this provider''s published API definitions: linode-api-v4-official-openapi.json, linode-api-v4-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.linode.com
- url: https://api.linode.com/v4
  description: Production Server
tags:
- description: A Linode is a virtual machine that runs on Akamai's secure and reliable global infrastructure. Use the Linode instances operations to create, configure, and manage your Linodes.
  name: Linode instances
paths:
  /{apiVersion}/linode/instances:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    x-akamai:
      file-path: paths/linode-instances.yaml
      path-info: /{apiVersion}/linode/instances
    x-linode-cli-command: linodes
    post:
      description: Creates a new Linode instance on your account.
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/post-linode-instance
      operationId: post-linode-instance
      requestBody:
        content:
          application/json:
            example:
              authorized_keys:
              - ssh-rsa AAAA_valid_public_ssh_key_123456785== user@their-computer
              authorized_users:
              - example-user
              booted: true
              disk_encryption: enabled
              image: linode/debian13
              interface_generation: linode
              interfaces:
              - firewall_id: -1
                rdma_vpc:
                  ipv4:
                    addresses:
                    - address: auto
                  subnet_id: 1234
              - firewall_id: -1
                rdma_vpc:
                  ipv4:
                    addresses:
                    - address: 10.0.0.25
                      primary: true
                  subnet_id: 1234
              - firewall_id: 2
                vpc:
                  ipv4:
                    addresses:
                    - address: 10.0.0.25
                      primary: true
                  subnet_id: 4
              ipv4: 192.0.2.141
              label: example-linode
              maintenance_policy: linode/migrate
              network_helper: true
              region: us-ord
              root_pass: strong-password
              type: g6-standard-2
            schema:
              allOf:
              - description: Common properties for creating and rebuilding Linodes.
                properties:
                  authorized_keys:
                    description: '__Write-only__ A list of public SSH keys that will be automatically appended to the root user''s `~/.ssh/authorized_keys` file when deploying from an image.


                      > 📘

                      >

                      > You need to set at least one form of authentication to access a Linode disk. This can be `authorized_keys`, `authorized_users`, or a `root_pass`. You can optionally combine `authorized_keys` with a `root_pass` for added security.'
                    example:
                    - ssh-rsa AAAA_valid_public_ssh_key_123456785== user@their-computer
                    items:
                      type: string
                    type: array
                    writeOnly: true
                  authorized_users:
                    description: '__Write-only__ A list of usernames for authorized users. Before you can add a user, it needs an SSH key assigned to its profile. See [Add an SSH key](https://techdocs.akamai.com/linode-api/reference/post-add-ssh-key) for more information. If the usernames already have associated SSH keys, the keys will be appended to the root users `~/.ssh/authorized_keys` file automatically when deploying from an image.


                      > 📘

                      >

                      > You need to set at least one form of authentication to access a Linode disk. This can be `authorized_users`, `authorized_keys` or a `root_pass`. You can optionally combine `authorized_users` with a `root_pass` for added security.'
                    example:
                    - myUser
                    - secondaryUser
                    items:
                      type: string
                    type: array
                    writeOnly: true
                  booted:
                    default: true
                    description: __Write-only__ The boot status of the Linode after deployment. This defaults to `true` if you create the Linode using an image or from a backup. Set this to `false` to have it remain `offline` after deployment.
                    type: boolean
                    writeOnly: true
                  disk_encryption:
                    description: 'Whether disk encryption is applied on this Linode. Local disk encryption ensures that your data is secured. Disk encryption protects against unauthorized data access by keeping the data encrypted if the disk is ever removed from the data center, decommissioned, or disposed of. The platform manages the encryption and decryption for you.


                      By default, encryption is `enabled` on all Linodes. If you opted out of encryption or if the Linode was created prior to local disk encryption support, you can encrypt your data using the [Rebuild a Linode](https://techdocs.akamai.com/linode-api/reference/post-rebuild-linode-instance) operation.'
                    enum:
                    - enabled
                    - disabled
                    type: string
                    x-linode-cli-display: 8
                  image:
                    description: The identifier assigned to the disk image to be deployed to the new Linode. You can run the [List images](https://techdocs.akamai.com/linode-api/reference/get-images) operation with authentication to view all available images, and store the `id` from the applicable one. Official Linode images start with `linode/`, while any custom images available on your account start with `private/`. To create a disk from a `private/` image, you need `read_only` or `read_write` permissions for it. Run the [Update a user's grants](https://techdocs.akamai.com/linode-api/reference/put-user-grants) operation to adjust permissions for a `private/` image, or talk to your local account administrator.
                    example: linode/debian9
                    type:
                    - string
                    - 'null'
                  maintenance_policy:
                    description: 'Defines the maintenance policy for this Linode. This can be one of two policies:


                      - `linode/migrate`. This migrates the Linode to a new host while it remains fully operational, but with some performance degradation. This focuses on maximizing availability.


                      - `linode/power_off_on`. This powers off the Linode at the start of the maintenance event and reboots it once the maintenance finishes. This focuses on maximizing performance.


                      Review the [maintenance policy](https://techdocs.akamai.com/cloud-computing/docs/host-maintenance-policy) documentation for more details.'
                    enum:
                    - linode/migrate
                    - linode/power_off_on
                    example: linode/migrate
                    type: string
                  metadata:
                    additionalProperties: false
                    description: __Write-only__ An object containing user-defined data relevant to the creation of Linodes.
                    properties:
                      user_data:
                        description: 'Base64-encoded [cloud-config](https://www.linode.com/docs/products/compute/compute-instances/guides/metadata-cloud-config/) data. Consider these points when including `user_data`:


                          - You can''t update an existing Linode to modify this information. You need to either [clone](https://techdocs.akamai.com/linode-api/reference/post-clone-linode-instance) or [rebuild](https://techdocs.akamai.com/linode-api/reference/post-rebuild-linode-instance) an existing Linode and apply new `user_data`.


                          - You can''t include this field when cloning to an existing Linode.


                          - Unencoded data can''t exceed 65535 bytes when encoded.'
                        example: I2Nsb3VkLWNvbmZpZwpwYWNrYWdlX3VwZGF0ZTogdHJ1ZQpwYWNrYWdlX3VwZ3JhZGU6IHRydWU=
                        format: byte
                        type: string
                    type: object
                    writeOnly: true
                  root_pass:
                    description: '__Write-only__ This sets the root user''s password on a newly created Linode disk when deploying from an `image`. A `root_pass` needs to meet a password strength score requirement that is calculated internally by the API. If the strength requirement isn''t met, you''ll receive a `Password does not meet strength requirement` error.


                      > 📘

                      >

                      > You need to set at least one form of authentication to access a Linode disk. This can be a `root_pass`, `authorized_keys`, or `authorized_users`. You can optionally combine a `root_pass` and either `authorized_keys` or `authorized_users` for added security.'
                    example: aC0mplexP@$$w0rd
                    format: password
                    maxLength: 128
                    minLength: 7
                    type: string
                    writeOnly: true
                  stackscript_data:
                    description: 'This field is required only if the StackScript being deployed requires input data from the user for successful completion. See [Declare user-defined fields (UDFs)](https://techdocs.akamai.com/cloud-computing/docs/write-a-custom-script-for-use-with-stackscripts#declare-user-defined-fields-udfs) for more details.


                      - This field needs to be formatted in valid JSON.


                      - The total length can''t exceed 65,535 characters.'
                    example:
                      gh_username: linode
                    type: object
                  stackscript_id:
                    description: An identifier for a StackScript that to be run during deployment of this Linode. A compatible `image` is required to use a StackScript. To get a list of available StackScripts and their permitted images, run the [List StackScripts](https://techdocs.akamai.com/linode-api/reference/get-stack-scripts) operation. This field can't be used when deploying from a backup or a private image.
                    example: 10079
                    type: integer
                type: object
                x-akamai:
                  file-path: schemas/linode-request.yaml
              - properties:
                  backup_id:
                    description: 'A unique identifier for a backup taken for another Linode. You can run the [List backups](https://techdocs.akamai.com/linode-api/reference/get-backups) operation to see a Linode''s available backups. Consider these points when targeting a `backup_id`:


                      - Your user needs `read_write` access to that Linode.


                      - The backup needs to have a `status` of `successful`.


                      - The Linode needs to be deployed to the same `region` as the backup.


                      - This field and the `image` field are mutually exclusive.'
                    example: 1234
                    type: integer
                  backups_enabled:
                    description: 'If this field is set to `true`, the created Linode will automatically be enrolled in the Linode Backup service. Consider these points when applying this service:


                      - This incurs an additional charge. The cost for the Linode Backup service depends on the type of Linode deployed.


                      - This option is always treated as `true` if the account-wide `backups_enabled` setting is `true`. See [Get account settings](https://techdocs.akamai.com/linode-api/reference/get-account-settings) for more information.


                      - Linode Backups pricing is included in the response from the [List types](https://techdocs.akamai.com/linode-api/reference/get-linode-types) operation.'
                    type: boolean
                  boot_size:
                    description: '__Write-only__ Specifies the size in MB of the primary boot disk. Consider these points when setting a `boot_size`:


                      - The minimum boot disk size is 8,192 MB.


                      - The combined `boot_size` and `swap_size` can''t exceed the overall `size` of a disk.


                      - Any remaining disk space beyond the `boot_size` and `swap-size` partition is left unallocated.'
                    example: 8192
                    minimum: 8192
                    type: integer
                    writeOnly: true
                  firewall_id:
                    description: The firewall to attach this Linode to upon creation. This `firewall_id` field is for Linodes using VLAN and legacy configuration profile interfaces only. Setting `firewall_id` to `-1` indicates that no firewall device will be attached. If the `firewall_id` is not provided or is set to `null`, the default firewall assigned to this Linode will be used, if available.
                    example: 123
                    minimum: -1
                    type:
                    - integer
                    - 'null'
                  group:
                    deprecated: true
                    description: __Deprecated__, __Filterable__ The group label for this Linode.
                    example: Linode-Group
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                      status: DEPRECATED
                    x-linode-filterable: true
                  interface_generation:
                    description: 'Specifies the interface type for the Linode. The value can be either `legacy_config` or `linode`. The default value is determined by the `interfaces_for_new_linodes` setting in your [account settings](https://techdocs.akamai.com/linode-api/reference/get-account-settings). If the `interface_generation` option is set to `linode`, legacy configuration interfaces can no longer be used on the Linode.


                      - If `interfaces_for_new_linodes` is set to `linode_only`, set `interface_generation` to `linode` or omit it for Linode interfaces.


                      - If `interfaces_for_new_linodes` is set to `legacy_config_only`, set `interface_generation` to `legacy_config` or omit it for legacy configuration interfaces.


                      - If `interfaces_for_new_linodes` is set to `linode_default_but_legacy_config_allowed`, set `interface_generation` to `linode` or omit it for Linode interfaces, and to `legacy_config` if the Linode uses legacy configuration interfaces.


                      - If `interfaces_for_new_linodes` is set to `legacy_config_default_but_linode_allowed`, set `interface_generation` to `legacy_config` or omit it for legacy configuration interfaces, and to `linode` if the Linode uses Linode interfaces.'
                    enum:
                    - legacy_config
                    - linode
                    type:
                    - string
                    - 'null'
                  interfaces:
                    default: []
                    description: Interfaces for the Linode. This can be a Linode interface or legacy configuration interface.
                    items:
                      oneOf:
                      - description: 'Defines Linode interfaces. You can configure interfaces for one of the following types: `vpc`, `rdma_vpc`, `public`, or `vlan`.'
                        oneOf:
                        - additionalProperties: false
                          description: Defines a Linode public interface. Any other type must either be omitted or set to `null`.
                          properties:
                            default_route:
                              additionalProperties: false
                              description: Indicates if the interface serves as the default route when multiple interfaces are eligible for this role. A public interface can have both an IPv4 `default_route` and an IPv6 `default_route`, provided it has at least one IP address of the corresponding type.
                              properties:
                                ipv4:
                                  description: If set to `true`, the interface is used for the IPv4 `default_route`. Only one interface per Linode can be set as the IPv4 default route.
                                  example: true
                                  type:
                                  - boolean
                                  - 'null'
                                ipv6:
                                  description: If set to `true`, the interface is used for the IPv6 `default_route`. Only one interface per Linode can have the IPv6 default route.
                                  example: true
                                  type:
                                  - boolean
                                  - 'null'
                              type: object
                            firewall_id:
                              description: The enabled firewall to secure this public Linode interface. Setting `firewall_id` to `-1` indicates that no firewall device will be attached. If the `firewall_id` is not provided or is set to `null`, the default `public_interface` firewall is used. If no default firewall is available and `-1` is not specified, the request fails.
                              example: 123
                              minimum: -1
                              type:
                              - integer
                              - 'null'
                            public:
                              additionalProperties: false
                              description: Public interface settings. A Linode can have only one public interface. A public interface can have both IPv4 and IPv6 configurations.
                              properties:
                                ipv4:
                                  additionalProperties: false
                                  description: IPv4 address settings for this public interface. If omitted, a public IPv4 address is automatically allocated.
                                  properties:
                                    addresses:
                                      description: List of IPv4 addresses to assign to this interface. Setting any to `auto` allocates a public IPv4 address. To create a public interface that uses IPv6 and no IPv4, set the IPv4 address as an empty list `[]`.
                                      items:
                                        additionalProperties: false
                                        properties:
                                          address:
                                            anyOf:
                                            - example: 192.0.2.141
                                              format: ip
                                              minLength: 1
                                              title: User assigned IPv4
                                              type: string
                                            - enum:
                                              - auto
                                              title: Automatically assigned IPv4
                                              type: string
                                            - example: []
                                              items:
                                                type: string
                                              maxItems: 0
                                              title: No IPv4 [empty list]
                                              type: array
                                            default: auto
                                            description: The interface's public IPv4 address. You can specify which public IPv4 address to configure for the interface. Setting this to `auto` automatically allocates a public address. To create a public interface that uses IPv6 and no IPv4, set the IPv4 address as an empty list `[]`. If the address is a reserved or automatically assigned, it needs to be reserved or already assigned to a single Linode, and it can’t be assigned to any other interface.
                                            type: string
                                          primary:
                                            default: false
                                            description: 'The IPv4 primary address configures the source address for routes within the Linode on the corresponding network interface.

                                              - Don''t set this to `false` if there''s only one address in the `addresses` array.

                                              - If more than one address is provided, primary can be set to `true` for one address.

                                              - If only one address is present in the `addresses` array, this address is automatically set as the primary address.'
                                            example: true
                                            type: boolean
                                        type: object
                                      type: array
                                  type: object
                                ipv6:
                                  additionalProperties: false
                                  description: IPv6 address settings for the public interface.
                                  properties:
                                    ranges:
                                      default: []
                                      description: IPv6 address ranges to assign to this interface. If omitted, no ranges are assigned.
                                      items:
                                        additionalProperties: false
                                        properties:
                                          range:
                                            description: 'Your assigned IPv6 range in CIDR notation (`2001:0db8::1/64`) or prefix (`/64`).

                                              - The prefix of `/64` or `/56` block of IPv6 addresses.

                                              - If provided in CIDR notation, the prefix must be within the assigned ranges for the Linode.'
                                            example: 2001:0a0a::1/64
                                            type: string
                                        required:
                                        - range
                                        type: object
                                      type: array
                                  type: object
                              type:
                              - object
                              - 'null'
                          title: Public interface
                          type: object
                          x-akamai:
                            file-path: schemas/added-post-linode-interface-public.yaml
                        - additionalProperties: false
                          description: Defines a Linode VLAN interface. Any other type must either be omitted or set to `null`.
                          properties:
                            vlan:
                              additionalProperties: false
                              description: VLAN interface settings. A Linode can have up to three VLAN interfaces, with a unique `vlan_label` for each.
                              properties:
                                ipam_address:
                                  description: This VLAN interface's private IPv4 address in classless inter-domain routing (CIDR) notation.
                                  example: 10.0.0.1/24
                                  format: ipv4-cidr
                                  type: string
                                  x-linode-cli-display: 4
                                vlan_label:
                                  description: The VLAN's unique label. VLAN interfaces on the same Linode must have a unique `vlan_label`.
                                  example: my-vlan
                                  maxLength: 64
                                  minLength: 1
                                  pattern: '[a-zA-Z0-9-]+'
                                  type: string
                                  x-linode-cli-display: 2
                              type:
                              - object
                              - 'null'
                          title: VLAN interface
                          type: object
                          x-akamai:
                            file-path: schemas/added-post-linode-interface-vlan.yaml
                        - additionalProperties: false
                          description: Defines a Linode VPC interface. Any other type must either be omitted or set to `null`.
                          properties:
                            default_route:
                              additionalProperties: false
                              description: Indicates if the interface is used as the default route when multiple interfaces are eligible for this role. A VPC interface can have an IPv4 `default_route`.
                              properties:
                                ipv4:
                                  description: If set to `true`, the interface is used for the IPv4 `default_route`. Only one interface per Linode can be set as the IPv4 default route.
                                  example: true
                                  type:
                                  - boolean
                                  - 'null'
                              type: object
                            firewall_id:
                              description: The enabled firewall to secure this VPC Linode interface. Setting `firewall_id` to `-1` indicates that no firewall device will be attached. If the `firewall_id` is not provided or is set to `null`, the default `vpc_interface` firewall is used. If no default firewall is available and `-1` is not specified, the request fails.
                              example: 123
                              minimum: -1
                              type:
                              - integer
                              - 'null'
                            vpc:
                              additionalProperties: false
                              description: VPC interface settings. A Linode can have one VPC interface. The maximum number of interfaces allowed on a Linode is three.
                              properties:
                                ipv4:
                                  additionalProperties: false
                                  description: IPv4 assigned through `addresses` or `ranges`.
                                  properties:
                                    addresses:
                                      description: IPv4 address settings for this VPC interface.
                                      items:
                                        additionalProperties: false
                                        properties:
                                          address:
                                            anyOf:
                                            - example: 10.0.0.1
                                              format: ip
                                              minLength: 1
                                              title: User assigned IPv4 from the VPC subnet
                                              type: string
                                            - enum:
                                              - auto
                                              title: Automatically assigned IPv4
                                              type: string
                                            default: auto
                                            description: Specifies which IPv4 address to use in the VPC subnet. You can specify which VPC Ipv4 address in the subnet to configure for the interface. You can't use an IPv4 address taken from another Linode or interface, or the first two or last two addresses in the VPC subnet. When `address` is set to `auto`, an IP address from the subnet is automatically assigned.
                                            type: string
                                          nat_1_1_address:
                                            anyOf:
                                            - example: 203.0.113.2
                                              format: ip
                                              minLength: 1
                                              title: User assigned public IPv4
                                              type: string
                                            - enum:
                                              - auto
                                              title: Automatically assigned public IPv4
                                              type: string
                                            default: null
                                            description: 'The 1:1 NAT IPv4 address used to associate a public IPv4 address with the interface''s VPC subnet IPv4 address.

                                              - You can set this to a specific public IPv4 address that''s available on the Linode.

                                              - If set to `auto`, a public IPv4 address is automatically selected.

                                              - If a public IPv4 address or `auto` is specified, primary must be set to `true`.

                                              - The address can''t be used on another Linode.

                                              - If the address is a reserved or an automatically assigned IP, the IP must be reserved or already assigned to a single Linode, and not assigned to an interface.

                                              - If this property is omitted or set to `null`, no 1:1 NAT configuration will be applied to the VPC interface.'
                                            type:
                                            - string
                                            - 'null'
                                          primary:
                                            default: false
                                            description: 'The IPv4 primary address is used to configure the source address for routes within the Linode on the corresponding network interface.

                                              Should not be set to `false` if there is only one address present in the `addresses` array.

                                              If more than one address is provided, primary must be set to `true` for one address.

                                              If only one address is present in the `addresses` array, this address is automatically set as the primary address.'
                                            example: true
                                            type:
                                            - boolean
                                            - 'null'
                                        type: object
                                      type: array
                                    ranges:
                                      default: []
                                      description: VPC IPv4 ranges.
                                      items:
                                        additionalProperties: false
                                        properties:
                                          range:
                                            description: 'CIDR notation of a range (`1.2.3.4/24`) or prefix only (`/24`).

                                              - When only the prefix is provided, then an available range of that size within the VPC''s subnet is automatically selected.

                                              - If specified as CIDR notation, it must belong to the VPC subnet. All addresses in the range must not be taken by any other Linode or interfaces in the VPC subnet and must not include any of the first two or last two addresses of the VPC subnet.'
                                            example: 192.168.100.100/28
                                            type: string
                                        required:
                                        - range
                                        type: object
                                      type: array
                                  type: object
                                ipv6:
                                  additionalProperties: false
                                  description: 'IPv6 assigned through `slaac` and `ranges`. If omitted, or `null`, the IPv6 configuration is unchanged.

                                    The assigned IPv6 prefix must be a `/64` subnet within the VPC subnet''s allocated IPv6 range. Within each subnet, Akamai reserves the first `/64` prefix. This means you can''t use the first `/64` prefix in your subnet.'
                                  properties:
                                    is_public:
                                      default: false
                                      description: 'Indicates whether the IPv6 configuration on the Linode interface is public.

                                        - `false`: Only VPC traffic is allowed.

                                        - `true`: Internet access is allowed.'
                                      example: true
                                      type: boolean
                                    ranges:
                                      default: []
                                      description: Defines additional IPv6 network ranges.
                                      items:
                                        additionalProperties: false
                                        properties:
                                          range:
                                            default: auto
                                            description: The IPv6 network range in CIDR notation.
                                            example: 2001:db8:abcd::/64
                                            type:
                                            - string
                                            - 'null'
                                        required:
                                        - range
                                        type: object
                                      type: array
                                    slaac:
                                      description: Defines IPv6 SLAAC address ranges. An address automatically generates from the assigned `/64` prefix using the Linode’s MAC address, just like on public IPv6 interfaces. Router advertisements (RA) are sent to the Linode, so standard SLAAC configuration works without any changes. The full `/64` prefix is routed to the Linode’s interface, allowing flexible use of any address within that range, regardless of the Linode’s internal network setup.
                                      items:
                                        additionalProperties: false
                                        properties:
                                          address:
                                            description: __Read-only__ The assigned IPv6 address within the range.
                                            example: 2001:db8:abcd::100
                                            format: ipv6
                                            readOnly: true
                                            type: string
                                          range:
                                            default: auto
                                            description: 'The IPv6 network range in CIDR notation.

                                              Must be a `/64` prefix within the VPC subnet''s IPv6 range.'
                                            example: 2001:db8:abcd::/64
                                            type: string
                                        required:
                                        - range
                                        type: object
                                      maxItems: 1
                                      minItems: 0
                                      type: array
                                  type:
                                  - object
                                  - 'null'
                                subnet_id:
                                  description: The VPC subnet identifier for this interface. Your subnet’s VPC must be in the same data center (region) as the Linode.
                                  example: 321
                                  type: integer
                              required:
                              - subnet_id
                              type:
                              - object
                              - 'null'
                          title: VPC interface
                          type: object
                          x-akamai:
                            file-path: schemas/added-post-linode-interface-vpc.yaml
                        - additionalProperties: false
                          description: 'Defines a Linode RDMA VPC interface. When deploying a new Linode, you can include multiple interfaces at once by adding an array of interface objects in the request payload.


                            For advanced GPU Linode plans, you must allocate multiple interfaces during creation. The request payload should include:


                            1. A standard networking interface, such as a public IP or a regular VPC interface, for instance management, external routing, and internet connectivity.

                            2. The specific number of RDMA VPC interfaces required by the selected GPU hardware plan.'
                          properties:
                            default_route:
                              additionalProperties: false
                              description: Default route configuration. For RDMA VPC interfaces, default route configurations are rejected and must either be omitted or set to `false`.
                              properties:
                                ipv4:
                                  description: Must be set to `false` or omitted. RDMA VPC interfaces can't act as the primary IPv4 default route.
                                  example: false
                                  type:
                                  - boolean
                                  - 'null'
                                ipv6:
                                  description: Must be set to `false` or omitted. RDMA VPC interfaces can't act as the primary IPv6 default route.
                                  example: false
                                  type:
                                  - boolean
                                  - 'null'
                              type: object
                            firewall_id:
                              description: RDMA VPC interfaces don't support Cloud Firewalls. Set the firewall_id to `-1` to indicate that no firewall device will be attached.
                              example: -1
                              minimum: -1
                              type: integer
                            rdma_vpc:
                              additionalProperties: false
                              description: RDMA VPC interface settings. These interfaces attach to an RDMA VPC subnet matching requirements determined by the GPUDirect plan.
                              properties:
                                ipv4:
                                  additionalProperties: false
                                  description: Interfaces can be configured with IPv4 addresses.
                                  properties:
                                    addresses:
                                      description: IPv4 address settings for this RDMA VPC interface.
                                      items:
                                        additionalProperties: false
                                        properties:
                                          address:
                                            anyOf:
                                            - example: 10.0.0.25
                                              format: ip
                                              minLength: 1
                                              title: User assigned IPv4 from the RDMA VPC subnet
                                              type: string
                                            - enum:
                                              - auto
                                              title: Automatically assigned IPv4
                                              type: string
                                            default: auto
                                            description: Specifies which IPv4 address to use in the RDMA VPC subnet. You can't use an IPv4 address taken from another Linode or interface, or the first two or last two addresses in the VPC subnet. When set to `auto`, an IP address from the subnet is automatically assigned.
                                            type: string
                                          primary:
                                            default: true
                                            description: The IPv4 primary address configuration flag. Don't set this to `false` if there's only one address present in the array.
                                            example: true
                                            type:
                                            - boolean
                                            - 'null'
                                        type: object
                                      maxItems: 1
                                      minItems: 1
                                      type: array
                                  type: object
                                subnet_id:
                                  description: The RDMA VPC subnet identifier for this interface. Your subnet’s RDMA VPC must be in the same datacenter (region) as the Linode.
                                  example: 1234
                                  type: integer
                              required:
                              - subnet_id
                              type: object
                          title: RDMA VPC interface
                          type: object
                          x-akamai:
                            file-path: schemas/added-post-linode-interface-rdma-vpc.yaml
                        title: Linode interface
                        type: object
                        x-akamai:
                          file-path: schemas/added-post-linode-interface.yaml
                      - allOf:
                        - required:
                          - purpose
                          type: object
                        - description: The configuration profile's network interface.
                          oneOf:
                          - additionalProperties: false
                            description: The public network interface to apply to this Linode's configuration profile.
                            properties:
                              primary:
                                description: 'Designates this interface as the preferred interface for assignment of IPv4 and IPv6 default routes. Each Linode can have only one VPC or public interface set as `primary`. VLAN interfaces are always `false`. For each default route, the system selects a recipient non-VLAN interface based on the following criteria:

                                  - Interfaces with a matching IP address (IPv4 or IPv6) are preferred over those without a match.

                                  - If multiple interfaces are eligible to be the default route, the system first selects the one designated as `primary`.

                                  - If no eligible interface is designated as `primary`, the tie is broken in favor of the earliest-declared eligible interface listed in the configuration profile.'
                                type: boolean
                              purpose:
                                description: 'The type of interface. In this case, the purpose is `public`.


                                  - You can only define one `public` interface per Linode.

                                  - The Linode''s default public IPv4 address is assigned to the `public` interface.

                                  - A Linode needs a `public` interface in the first or `eth0` position to be reachable via the public internet, after it boots. If no `public` interface is configured, you can only access the Linode through [LISH](https://www.linode.com/docs/products/compute/compute-instances/guides/lish/), or through another Linode that''s connected to the same VLAN or VPC.'
                                enum:
                                - public
                                example: public
                                type: string
                                x-linode-cli-display: 3
                            required:
                            - purpose
                            title: Public configuration profile interface
                            type: object
                            x-akamai:
                              file-path: schemas/linode-config-interface-public.yaml
                          - additionalProperties: false
                            description: The VPC network interface to apply to this Linode's configuration profile.
                            properties:
                              ip_ranges:
                                description: 'IPv4 CIDR VPC subnet ranges that are routed to this interface. This is only supported for interfaces with a `purpose` of `vpc`.


                                  When included in a request:


                                  - A range can''t include any addresses that are assigned to an active Linode or another VPC subnet.

                                  - When updating, you need to include any existing ranges to maintain them. If a range is left out, it will be removed.

                                  - Submit this as an empty array removes all existing values.

                                  - Omit this object to leave existing values as is.'
                                example:
                                - 10.0.0.64/26
                                items:
                                  format: ip
                                  type: string
                                type:
                                - array
                                - 'null'
                              ipv4:
                                additionalProperties: false
                                description: IPv4 addresses configured for this interface. This only applies to interfaces with a `purpose` of `vpc`. Returned as `null` if no `vpc` interface is assigned.
                                properties:
                                  nat_1_1:
                                    anyOf:
                                    - format: ip
                                      minLength: 1
                                      title: An available public IPv4 address
                                      type: string
                                    - enum:
                                      - any
                                      title: The assigned public IPv4 address
                                      type: string
                                    description: 'The 1:1 NAT IPv4 address, used to associate a public IPv4 address with the interface''s VPC subnet IPv4 address.


                                      - Only supported for interfaces with a `purpose` of `vpc`.

                                      - Returned as `null` if no 1:1 NAT is set for a `vpc` type interface.

                                      - Returned as an empty string (`""`) for non-`vpc` type interfaces.


                                      When included in a request:


                                      - You can set this to a specific, public IPv4 address that''s available on the Linode. You can also use the `any` keyword to enable the Linode''s assigned public IPv4 address.

                                      - A specified address can''t be shared with another Linode.

                                      - Omit this object or include it and set it to `null` or an empty string (`""`) to block creation of a 1:1 NAT.


                                      <<LB>>


                                      > 📘

                                      >

                                      > You can''t set this to a specific IPv4 address when creating a new Linode. During the creation process, the network automatically establishes a public IPv4 address for the Linode. Since this address doesn''t exist yet, you can''t include a custom IPv4 address to change it. After your Linode is created, you can [update your configuration profile interface](https://www.linode.com/docs/api/linode-instances/#configuration-profile-interface-update) to change the `nat_1_1` address.'
                                    example: 203.0.113.2
                                    type:
                                    - string
                                    - 'null'
                                  vpc:
                                    description: 'The VPC subnet IPv4 address for this interface.


                                      - This only applies to interfaces with a `purpose` of `vpc`.

                                      - Returned as an empty string (`""`) for non-`vpc` type interfaces.


                                      When included in a request:


                                      - The `vpc` can''t be assigned to an existing Linode as an address or in a range.

                                      - The target address can''t be the first two or last two addresses in the subnet IPv4 range.

                                      - If omitted, a valid address within the Subnet IPv4 range is automatically assigned.'
                                    example: 10.0.0.2
                                    format: ip
                                    type:
                                    - string
                                    - 'null'
                                type: object
                              ipv6:
                                additionalProperties: false
                                description: "__Beta__ IPv6 assigned through `slaac` and `ranges`. The assigned IPv6 prefix must be a `/64` subnet within the VPC subnet's allocated IPv6 range. Within each subnet, Akamai reserves the first `/64` prefix. This means you can't use the first `/64` prefix in your subnet. Additionally, the `/64` IPv6 network CIDR:\n\n  - Can't be the bottom `/64` of the subnet prefix.\n  - Can't be in use by another interface on the subnet.\n  - The bottom 64 bits need to be set to 0."
                                properties:
                                  is_public:
                                    default: false
                                    description: 'Indicates whether the IPv6 configuration on the Linode interface is public.

                                      - `false`: Only VPC traffic is allowed.

                                      - `true`: Internet access is allowed.'
                                    example: true
                                    type: boolean
                                  ranges:
                                    default: []
                                    description: Defines additional IPv6 network ranges.
                                    items:
                                      additionalProperties: false
                                      properties:
                                        range:
                                          default: auto
                                          description: The IPv6 network range in CIDR notation.
                                          example: 2001:db8:abcd::/64
                                          type:
                                          - string
                                          - 'null'
                                      required:
                                      - range
                                      type: object
                                    type: array
                                  slaac:
                                    description: Defines IPv6 SLAAC address ranges. An address is automatically generated from the assigned `/64` prefix using the Linode’s MAC address, just like on public IPv6 interfaces. Router advertisements (RA) are sent to the Linode, so standard SLAAC configuration works without any changes. The full `/64` prefix is routed to the Linode’s interface, allowing flexible use of any address within that range, regardless of the Linode’s internal network setup.
                                    items:
                                      additionalProperties: false
                                      properties:
                                        address:
                                          description: __Read-only__ The assigned IPv6 address within the range.
                                          example: 2001:db8:abcd::100
                                          format: ipv6
                                          readOnly: true
                                          type: string
                                        range:
                                          default: auto
                                          description: 'The IPv6 network range in CIDR notation.

                                            Must be a `/64` prefix within the VPC subnet''s IPv6 range.'
                                          example: 2001:db8:abcd::/64
                                          type: string
                                      required:
                                      - range
                                      type: object
                                    maxItems: 1
                                    minItems: 0
                                    type: array
                                type: object
                                x-akamai:
                                  status: BETA
                              primary:
                                description: 'Designates this interface as the preferred interface for assignment of IPv4 and IPv6 default routes. Each Linode can have only one VPC or public interface set as `primary`. VLAN interfaces are always `false`. For each default route, the system selects a recipient non-VLAN interface based on the following criteria:

                                  - Interfaces with a matching IP address (IPv4 or IPv6) are preferred over those without a match.

                                  - If multiple interfaces are eligible to be the default route, the system first selects the one designated as `primary`.

                                  - If no eligible interface is designated as `primary`, the tie is broken in favor of the earliest-declared eligible interface listed in the configuration profile.'
                                example: true
                                type: boolean
                              purpose:
                                description: 'The type of interface. In this case, the purpose is `vpc`.


                                  - Configuring this `purpose` of interface attaches a Linode to an existing VPC subnet with the specified `subnet_id`.

                                  - When the interface is activated, the Linode is configured to use an IP address from the range in the assigned VPC subnet. See `ipv4.vpc` for more information.'
                                enum:
                                - vpc
                                example: vpc
                                type: string
                                x-linode-cli-display: 3
                              subnet_id:
                                description: 'The `id` of the VPC subnet for this interface. Use this value in a request to assign a Linode to a VPC subnet.


                                  - Required for `vpc` type interfaces.

                                  - Returned as `null` for non-`vpc` type interfaces.

                                  - Once you''ve assigned a VPC subnet to an interface, you can''t update it.

                                  - You need to reboot a Linode using the interface''s configuration profile to assign the Linode to a VPC subnet.'
                                example: 101
                                type:
                                - integer
                                - 'null'
                            required:
                            - purpose
                            title: VPC configuration profile interface
                            type: object
                            x-akamai:
                              file-path: schemas/linode-config-interface-vpc.yaml
                          - additionalProperties: false
                            description: The VLAN network interface to apply to this Linode's configuration profile.
                            properties:
                              ipam_address:
                                description: 'This interface''s private IP address in classless inter-domain routing (CIDR) notation.


                                  - To avoid conflicting addresses, make sure this value is unique for each `vlan` interface.

                                  - This should be unique among devices attached to the VLAN to avoid conflict.

                                  - If Network Helper is enabled, the Linode''s interface will be automatically configured to use this address after the Linode is rebooted. If Network Helper is disabled, enable the address using [manual static IP configuration](https://www.linode.com/docs/guides/manual-network-configuration/).'
                                example: 10.0.0.1/24
                                format: ip/netmask
                                type:
                                - string
                                - 'null'
                                x-linode-cli-display: 4
                              label:
                                description: '__Filterable__ The name of this interface. For interfaces with a `purpose` of `vlan`:


                                  - This needs to be unique among a Linode''s interfaces. A Linode can''t be attached to the same VLAN more than once.

                                  - This can only contain alphanumeric characters and non-consecutive dashes (`-`).

                                  - If the VLAN label is new, a VLAN is created. Up to 10 VLANs can be created in each data center `region`. To view your active VLANs, run the [List VLANs](https://techdocs.akamai.com/linode-api/reference/get-vlans) operation.'
                                example: example-interface
                                maxLength: 64
                                minLength: 1
                                pattern: '[a-zA-Z0-9-]+'
                                type:
                                - string
                                - 'null'
                                x-akamai:
                                  labels:
                                  - Filterable
                                x-linode-cli-display: 2
                                x-linode-filterable: true
                              primary:
                                description: 'Designates this interface as the preferred interface for assignment of IPv4 and IPv6 default routes. Each Linode can have only one VPC or public interface set as `primary`. VLAN interfaces are always `false`. For each default route, the system selects a recipient non-VLAN interface based on the following criteria:

                                  - Interfaces with a matching IP address (IPv4 or IPv6) are preferred over those without a match.

                                  - If multiple interfaces are eligible to be the default route, the system first selects the one designated as `primary`.

                                  - If no eligible interface is designated as `primary`, the tie is broken in favor of the earliest-declared eligible interface listed in the configuration profile.'
                                example: false
                                type: boolean
                              purpose:
                                description: 'The type of interface. In this case, the purpose is `vlan`.


                                  - Configuring this `purpose` of interface attaches a Linode to the VLAN with the specified `label`.

                                  - If an `ipam_address` is configured, the Linode uses this address.'
                                enum:
                                - vlan
                                example: vlan
                                type: string
                                x-linode-cli-display: 3
                            required:
                            - label
                            - purpose
                            title: VLAN configuration profile interface
                            type: object
                            x-akamai:
                              file-path: schemas/linode-config-interface-vlan.yaml
                          type: object
                          x-akamai:
                            file-path: schemas/linode-config-interface.yaml
                        title: Legacy configuration interface
                        x-akamai:
                          file-path: schemas/added-post-linode-config-interface.yaml
                      type: object
                    maxItems: 1
                    type: array
                  ipv4:
                    description: The public IPv4 address to be assigned to the new Linode. This must be an unassigned reserved IPv4 address. A reserved IP address is a static public IP that can be assigned to Linodes in the same region. Use it for services that require a consistent IP address. Only a single `ipv4` address can be specified during creation.
                    example:
                    - 192.0.2.1
                    items:
                      format: ipv4
                      type: string
                    maxItems: 1
                    minItems: 0
                    type: array
                  kernel:
                    description: __Write-only__ The identifier value for a kernel to apply on a new Linode instance. Run the [List kernels](https://techdocs.akamai.com/linode-api/reference/get-kernels) operation to see a list of supported kernels and store the `id` for the applicable one.
                    example: linode/latest-2.6-32bit
                    maxLength: 100
                    minLength: 1
                    type: string
                    writeOnly: true
                  label:
                    description: '__Filterable__ Provides a name for the Linode. If not provided, the API generates one for it. A Linode label has some constraints:


                      - It needs to begin and end with an alphanumeric character.


                      - It can only consist of alphanumeric characters, hyphens (`-`), underscores (`_`), or periods (`.`).


                      - It can''t contain two consecutive hyphens (`--`), underscores (`__`) or periods (`..`).'
                    example: linode123
                    maxLength: 64
                    minLength: 3
                    pattern: ^[a-zA-Z]((?!--|__|\.\.)[a-zA-Z0-9-_.])+$
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 2
                    x-linode-filterable: true
                  network_helper:
                    description: Enables the Network Helper feature. The default value is determined by the `network_helper` setting in the [account settings](https://techdocs.akamai.com/linode-api/reference/get-account-settings). This `network_helper` field is for Linodes using Linode interfaces only.
                    type:
                    - boolean
                    - 'null'
                  placement_group:
                    additionalProperties: false
                    description: 'Include this to assign this Linode to an existing [placement group](https://www.linode.com/docs/products/compute/compute-instances/guides/placement-groups/). These constraints apply:


                      - The target placement group needs to be in the same `region` set for this Linode.


                      - The placement group needs to have capacity. Run the [Get a region](https://techdocs.akamai.com/linode-api/reference/get-region) operation and note either the `maximum_linodes_per_pg` (strict) or `maximum_linodes_per_flexible_pg` (flexible), based on your selected `placement_group_policy`. These represent the Linode limit per placement group, for each `placement_group_policy` type. You can then run the [Get a placement group](https://techdocs.akamai.com/linode-api/reference/get-placement-group) operation to review the Linodes in that group.'
                    properties:
                      id:
                        description: The placement group's ID. You need to provide it for all operations that affect it.
                        example: 528
                        type: integer
                        x-linode-cli-display: 1
                    type: object
                  private_ip:
                    description: If `true`, the created Linode will have private networking enabled and assigned a private IPv4 address.
                    example: true
                    type: boolean
                  region:
                    description: The [region](https://techdocs.akamai.com/linode-api/reference/get-regions) where the Linode will be located.
                    example: us-east
                    type: string
                  swap_size:
                    default: 512
                    description: Sets the swap disk size in MB for a new Linode. A swap disk is a dedicated area used by an operating system as an extension of physical system memory.
                    example: 512
                    type: integer
                  tags:
                    description: __Filterable__ Tags to help you organize your content.
                    example:
                    - example tag
                    - another example
                    items:
                      type: string
                    type: array
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-filterable: true
                  type:
                    description: The [Linode type](https://techdocs.akamai.com/linode-api/reference/get-linode-types) of the Linode you're creating.
                    example: g6-standard-2
                    type: string
                required:
                - type
                - region
                type: object
              x-akamai:
                file-path: schemas/added-post-linode-instance.yaml
        required: true
        x-linode-cli-allowed-defaults:
        - authorized_users
        - region
        - image
        - type
      responses:
        '200':
          content:
            application/json:
              example:
                alerts:
                  cpu: 180
                  io: 10000
                  network_in: 10
                  network_out: 10
                  transfer_quota: 80
                backups:
                  available: true
                  enabled: true
                  last_successful: '2018-01-01T00:01:01'
                  schedule:
                    day: Saturday
                    window: W22
                capabilities:
                - Block Storage Encryption
                created: '2018-01-01T00:01:01'
                disk_encryption: disabled
                has_user_data: true
                host_uuid: 3a3ddd59d9a78bb8de041391075df44de62bfec8
                hypervisor: kvm
                id: 123
                image: linode/debian13
                interface_generation: linode
                ipv4:
                - 203.0.113.1
                - 192.0.2.1
                ipv6: 2001:DB8::/128
                label: linode123
                lke_cluster_id: 1
                maintenance_policy: linode/migrate
                placement_group:
                  id: 528
                  label: PG_Miami_failover
                  placement_group_policy: strict
                  placement_group_type: anti_affinity:local
                region: us-east
                site_type: core
                specs:
                  accelerated_devices: 0
                  disk: 81920
                  gpus: 0
                  memory: 4096
                  transfer: 4000
                  vcpus: 2
                status: running
                tags:
                - example tag
                - another example
                type: g6-standard-1
                updated: '2018-01-01T00:01:01'
                watchdog_enabled: true
              schema:
                additionalProperties: false
                properties:
                  alerts:
                    additionalProperties: false
                    properties:
                      cpu:
                        description: The percentage of CPU usage required to trigger an alert. If the average CPU usage over two hours exceeds this value, we'll send you an alert. Your Linode's total CPU capacity is represented as 100%, multiplied by its number of cores. For example, a two-core Linode's CPU capacity is represented as 200%. If you want to be alerted at 90% of a two-core Linode's CPU capacity, set the alert value to `180`. The default value is 90% multiplied by the number of cores. If the value is set to `0` (zero), the alert is disabled.
                        example: 180
                        type: integer
                      io:
                        description: The amount of disk IO operation per second required to trigger an alert. If the average disk IO over two hours exceeds this value, we'll send you an alert. If set to `0` (zero), this alert is disabled.
                        example: 10000
                        type: integer
                      network_in:
                        description: The amount of incoming traffic, in Mbit/s, required to trigger an alert. If the average incoming traffic over two hours exceeds this value, we'll send you an alert. If this is set to `0` (zero), the alert is disabled.
                        example: 10
                        type: integer
                      network_out:
                        description: The amount of outbound traffic, in Mbit/s, required to trigger an alert. If the average outbound traffic over two hours exceeds this value, we'll send you an alert. If this is set to `0` (zero), the alert is disabled.
                        example: 10
                        type: integer
                      transfer_quota:
                        description: The percentage of network transfer that may be used before an alert is triggered. When this value is exceeded, we'll alert you. If this is set to `0` (zero), the alert is disabled.
                        example: 80
                        type: integer
                    type: object
                  backups:
                    additionalProperties: false
                    description: Information about this Linode's backups status. For information about available backups, run [List backups](https://techdocs.akamai.com/linode-api/reference/get-backups).
                    properties:
                      available:
                        description: __Read-only__ Whether backups taken for this Linode are available for restoration. Backups undergoing maintenance are not available for restoration.
                        example: true
                        readOnly: true
                        type: boolean
                      enabled:
                        description: __Read-only__ If this Linode has the Backup service enabled. To enable backups, run [Enable backups](https://techdocs.akamai.com/linode-api/reference/post-enable-backups).
                        example: true
                        readOnly: true
                        type: boolean
                      last_successful:
                        description: __Read-only__ The last successful backup time. Displayed as `null` if there was no previous backup.
                        example: '2018-01-01T00:01:01'
                        readOnly: true
                        type: string
                      schedule:
                        additionalProperties: false
                        properties:
                          day:
                            description: The day of the week that your Linode's weekly backup is taken, either `Scheduling` or a day of the week (`Sunday`, `Monday`, `Tuesday`, `Wednesday`, `Thursday`, `Friday`, `Saturday`). If not set manually, a day will be chosen for you. Backups are taken every day, but backups taken on this day are preferred when selecting backups to retain for a longer period. If you don't set this manually, when backups are initially enabled, this may come back as `Scheduling` until the `day` is automatically selected.
                            enum:
                            - Scheduling
                            - Sunday
                            - Monday
                            - Tuesday
                            - Wednesday
                            - Thursday
                            - Friday
                            - Saturday
                            example: Saturday
                            type:
                            - string
                            - 'null'
                          window:
                            description: When your backups will be taken, in UTC. A backups window is a two-hour span of time in which the backup may occur. Possible values are `W0`, `W2`, `W4`, `W6`, `W8`, `W10`, `W12`, `W14`, `W16`, `W18`, `W20`, and `W22`. For example, `W10` indicates that your backups should be taken between 10:00 and 12:00. If you don't choose a backup window, the API automatically assigns one. If you don't set this manually, when backups are initially enabled, this may come back as `Scheduling` until the `window` is automatically selected.
                            enum:
                            - Scheduling
                            - W0
                            - W2
                            - W4
                            - W6
                            - W8
                            - W10
                            - W12
                            - W14
                            - W16
                            - W18
                            - W20
                            - W22
                            example: W22
                            type:
                            - string
                            - 'null'
                        type: object
                    type: object
                  capabilities:
                    description: __Limited availability__, __Read-only__ A list of capabilities this Linode supports.
                    example:
                    - Block Storage Encryption
                    items:
                      type: string
                    readOnly: true
                    type: array
                    x-akamai:
                      status: LA
                  created:
                    description: __Read-only__ When this Linode was created.
                    example: '2018-01-01T00:01:01'
                    readOnly: true
                    type: string
                  disk_encryption:
                    default: enabled
                    description: __Read-only__ Indicates the local disk encryption setting for this Linode, either `enabled` or `disabled`. If the Linode is part of an LKE cluster, the value is `null`.
                    enum:
                    - enabled
                    - disabled
                    example: disabled
                    readOnly: true
                    type:
                    - string
                    - 'null'
                    x-linode-cli-display: 8
                  group:
                    deprecated: true
                    description: __Deprecated__, __Filterable__ The group label for this Linode.
                    example: Linode-Group
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                      status: DEPRECATED
                    x-linode-filterable: true
                  has_user_data:
                    description: __Read-only__ Whether this Linode was provisioned with `user_data` provided via the Metadata service. See the [Create a Linode](https://techdocs.akamai.com/linode-api/reference/post-linode-instance) description for more information on Metadata.
                    example: true
                    readOnly: true
                    type: boolean
                  host_uuid:
                    description: __Read-only__ The Linode's host machine identifier.
                    example: 1a2bcd34e5f67gh8ij901234567kl89mn01opqr2
                    readOnly: true
                    type: string
                  hypervisor:
                    description: __Read-only__ The virtualization software powering this Linode. The only value currently supported at this time is `kvm` (Kernel-based Virtual Machine).
                    enum:
                    - kvm
                    example: kvm
                    readOnly: true
                    type: string
                  id:
                    description: __Filterable__, __Read-only__ This Linode's unique identifier, which you need to provide for all operations impacting this Linode.
                    example: 123
                    readOnly: true
                    type: integer
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 1
                    x-linode-filterable: true
                  image:
                    allOf:
                    - description: The identifier assigned to the disk image to be deployed to the new Linode. You can run the [List images](https://techdocs.akamai.com/linode-api/reference/get-images) operation with authentication to view all available images, and store the `id` from the applicable one. Official Linode images start with `linode/`, while any custom images available on your account start with `private/`. To create a disk from a `private/` image, you need `read_only` or `read_write` permissions for it. Run the [Update a user's grants](https://techdocs.akamai.com/linode-api/reference/put-user-grants) operation to adjust permissions for a `private/` image, or talk to your local account administrator.
                      example: linode/debian9
                      type:
                      - string
                      - 'null'
                    example: linode/debian13
                    readOnly: true
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 5
                    x-linode-filterable: true
                  interface_generation:
                    description: __Filterable__, __Read-only__ Indicates if the Linode is configured to use Linode interfaces (`linode`) or legacy configuration profile interfaces (`legacy_config`).
                    enum:
                    - legacy_config
                    - linode
                    example: linode
                    readOnly: true
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 9
                    x-linode-filterable: true
                  ipv4:
                    description: __Filterable__ This Linode's IPv4 Addresses. Each Linode is assigned a single public IPv4 address upon creation, and may get a single private IPv4 address if needed. You may need to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) to get additional IPv4 addresses. IPv4 addresses may be reassigned between your Linodes, or shared with other Linodes. See the [networking](https://techdocs.akamai.com/linode-api/reference/post-firewalls) operations for details.
                    example:
                    - 203.0.113.1
                    - 192.0.2.1
                    items:
                      format: ipv4
                      type: string
                    type: array
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 7
                    x-linode-filterable: true
                  ipv6:
                    description: __Read-only__ This Linode's IPv6 SLAAC address. This address is specific to a Linode, and may not be shared. If the Linode has not been assigned an IPv6 address, the return value will be `null`.
                    example: c001:d00d::1337/128
                    format: ipv6-cidr
                    readOnly: true
                    type:
                    - string
                    - 'null'
                  label:
                    description: '__Filterable__ Provides a name for the Linode. If not provided, the API generates one for it. A Linode label has some constraints:


                      - It needs to begin and end with an alphanumeric character.


                      - It can only consist of alphanumeric characters, hyphens (`-`), underscores (`_`), or periods (`.`).


                      - It can''t contain two consecutive hyphens (`--`), underscores (`__`) or periods (`..`).'
                    example: linode123
                    maxLength: 64
                    minLength: 3
                    pattern: ^[a-zA-Z]((?!--|__|\.\.)[a-zA-Z0-9-_.])+$
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 2
                    x-linode-filterable: true
                  lke_cluster_id:
                    description: __Read-only__ The ID of the Kubernetes cluster if the Linode is part of cluster.
                    example: 1
                    readOnly: true
                    type:
                    - integer
                    - 'null'
                  maintenance_policy:
                    description: The maintenance policy configured by the user for this Linode. Review [maintenance policy](https://techdocs.akamai.com/cloud-computing/docs/host-maintenance-policy) documentation for more details.
                    enum:
                    - linode/migrate
                    - linode/power_off_on
                    example: linode/migrate
                    type: string
                  placement_group:
                    additionalProperties: false
                    description: __Read-only__ Details on the [placement group](https://www.linode.com/docs/products/compute/compute-instances/guides/placement-groups/) that this Linode belongs to. Empty if the Linode isn't in a placement group.
                    properties:
                      id:
                        description: The placement group's ID. You need to provide it for all operations that affect it.
                        example: 528
                        type: integer
                        x-linode-cli-display: null
                      label:
                        description: '__Filterable__ The unique name set for the placement group. A label has these constraints:


                          - It needs to begin and end with an alphanumeric character.

                          - It can only consist of alphanumeric characters, hyphens (`-`), underscores (`_`), or periods (`.`).'
                        example: PG_Miami_failover
                        minLength: 1
                        type: string
                        x-akamai:
                          labels:
                          - Filterable
                        x-linode-cli-display: 10
                        x-linode-filterable: true
                      placement_group_policy:
                        description: 'How requests to add future Linodes to your placement group are handled, and whether it remains compliant:


                          - `strict`. Don''t assign a new Linode if it breaks the grouped-together or spread-apart model set by the `placement_group_type`. Use this to ensure the placement group stays compliant (`is_compliant: true`).

                          - `flexible`. Assign a new Linode, even if it breaks the grouped-together or spread-apart model set by the `placement_group_type`. This makes the group non-compliant (`is_compliant: false`). You need to wait for Akamai to move the offending Linode to make it compliant again, once the necessary capacity is available in the region. Offers flexibility to add future Linodes if compliance isn''t an immediate concern.


                          <<LB>>


                          > 📘

                          >

                          > In rare cases, non-compliance can occur with a `strict` placement group if Akamai needs to failover or migrate your Linodes for maintenance. Fixing non-compliance for a `strict` placement group is prioritized over a `flexible` group.'
                        enum:
                        - strict
                        - flexible
                        example: strict
                        type: string
                        x-linode-cli-display: null
                      placement_group_type:
                        description: '__Filterable__, __Read-only__ How Linodes are distributed in your placement group. A `placement_group_type` using anti-affinity (`anti_affinity:local`) places Linodes in separate hosts, but still in the same region. This best supports the spread-apart model for high availability. A `placement_group_type` using affinity places Linodes physically close together, possibly on the same host. This supports the grouped-together model for low-latency.


                          > 📘

                          >

                          > Currently, only `anti_affinity:local` is available for `placement_group_type`.'
                        enum:
                        - anti_affinity:local
                        example: anti_affinity:local
                        readOnly: true
                        type: string
                        x-akamai:
                          labels:
                          - Filterable
                        x-linode-cli-display: null
                        x-linode-filterable: true
                    readOnly: true
                    type:
                    - object
                    - 'null'
                  region:
                    description: __Filterable__, __Read-only__ The [region](https://techdocs.akamai.com/linode-api/reference/get-regions) where you've deployed the Linode. A `region` can only be changed by [migrating to a new data center](https://techdocs.akamai.com/linode-api/reference/post-migrate-linode-instance).
                    example: us-east
                    readOnly: true
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 3
                    x-linode-filterable: true
                  site_type:
                    description: __Read-only__ The Linode region's site type. A `core` region indicates a traditional cloud computing [region](https://www.linode.com/docs/products/platform/get-started/guides/choose-a-data-center/#product-availability) that offers all compute services. A `distributed` region indicates sites that are globally dispersed to be closer to end users and workloads. These regions offer limited services.
                    enum:
                    - core
                    - distributed
                    example: core
                    readOnly: true
                    type: string
                  specs:
                    additionalProperties: false
                    description: __Read-only__ Information about the resources available to this Linode.
                    properties:
                      accelerated_devices:
                        description: __Read-only__ The number of video processing units (VPU) this Linode has access to. This applies to a NETINT Quadra T1U VPU-backed [accelerated Linode](https://techdocs.akamai.com/cloud-computing/docs/accelerated-compute-instances). Displayed as `0` for all non-accelerated Linodes.
                        example: 0
                        readOnly: true
                        type: integer
                      disk:
                        description: __Read-only__ The amount of storage space, in MB, this Linode has access to. A typical Linode divides this space between a primary disk with an `image` deployed to it, and a swap disk, usually 512 MB. This is the default configuration created when deploying a Linode with an `image` through [Create a Linode](https://techdocs.akamai.com/linode-api/reference/post-linode-instance). While this configuration is suitable for most use cases, if you need finer control over your Linode's disks, see the [List disks](https://techdocs.akamai.com/linode-api/reference/get-linode-disks) operations.
                        example: 81920
                        readOnly: true
                        type: integer
                      gpus:
                        description: __Read-only__ The number of graphical processing units (GPU) this Linode has access to. This applies to a [GPU Linode](https://techdocs.akamai.com/cloud-computing/update/docs/gpu-compute-instances). Displayed as `0` for all non-GPU Linodes.
                        example: 0
                        readOnly: true
                        type: integer
                      memory:
                        description: __Read-only__ The amount of RAM, in MB, this Linode has access to. Typically, a Linode boots with all of its available RAM, but this can be configured in a config profile. See the [List config profiles](https://techdocs.akamai.com/linode-api/reference/get-linode-configs) operation for more information.
                        example: 4096
                        readOnly: true
                        type: integer
                      transfer:
                        description: __Read-only__ The amount of network transfer this Linode is allotted each month.
                        example: 4000
                        readOnly: true
                        type: integer
                      vcpus:
                        description: __Read-only__ The number of virtual central processing units (vCPU) this Linode has access to. This applies to a [high memory Linode](https://techdocs.akamai.com/cloud-computing/update/docs/high-memory-compute-instances). Displayed as `0` for all non-high memory Linodes.
                        example: 2
                        readOnly: true
                        type: integer
                    readOnly: true
                    type: object
                  status:
                    description: '__Read-only__ A brief description of the Linode''s current state. This value can change without direct action from you. For example, when a Linode goes into maintenance mode, its status is `stopped`. Status is generally self-explanatory, based on its name.


                      - `busy` indicates you''ve assigned the Linode to a [placement group](https://techdocs.akamai.com/cloud-computing/docs/work-with-placement-groups), but the Linode is currently booting. Once the boot completes, the API completes the assignment and updates the Linode''s `status` accordingly.


                      - `provisioning` indicates that the API is applying operating system or Marketplace applications on the Linode.


                      - `billing_suspension` indicates that payment is past due on the Linode, so we''ve suspended its use.'
                    enum:
                    - running
                    - offline
                    - booting
                    - busy
                    - rebooting
                    - shutting_down
                    - provisioning
                    - deleting
                    - migrating
                    - rebuilding
                    - cloning
                    - restoring
                    - stopped
                    - billing_suspension
                    example: running
                    readOnly: true
                    type: string
                    x-linode-cli-color:
                      billing_suspension: red
                      default_: yellow
                      offline: red
                      running: green
                    x-linode-cli-display: 6
                  tags:
                    description: __Filterable__ Tags to help you organize your content.
                    example:
                    - example tag
                    - another example
                    items:
                      type: string
                    type: array
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-filterable: true
                  type:
                    description: __Read-only__ The [type](https://techdocs.akamai.com/linode-api/reference/get-linode-types) that this Linode was deployed with. To change a Linode's type, use [Resize a Linode](https://techdocs.akamai.com/linode-api/reference/post-resize-linode-instance).
                    example: g6-standard-1
                    readOnly: true
                    type: string
                    x-linode-cli-display: 4
                  updated:
                    description: __Read-only__ When this Linode was last updated.
                    example: '2018-01-01T00:01:01'
                    readOnly: true
                    type: string
                  watchdog_enabled:
                    description: The watchdog, named Lassie, is a Shutdown Watchdog that monitors your Linode and reboots it if it powers off unexpectedly. It works by issuing a boot job when your Linode powers off without a shutdown job being responsible. To prevent a loop, Lassie gives up if there have been more than 5 boot jobs issued within 15 minutes.
                    example: true
                    type: boolean
                title: Linode
                type: object
                x-akamai:
                  file-path: schemas/linode.yaml
          description: A new Linode is being created.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - linodes:read_write
      summary: Create a Linode
      tags:
      - Linode instances
      x-akamai:
        tabs:
        - syntax: "linode-cli linodes create \\\n  --label linode123 \\\n  --root_pass aComplex@Password \\\n  --booted true \\\n  --stackscript_id 10079 \\\n  --stackscript_data '{\"gh_username\": \"linode\"}' \\\n  --region us-east \\\n  --disk_encryption enabled\\\n  --placement_group.id 528 \\\n  --type g6-standard-2 \\\n  --authorized_keys \"ssh-rsa AAAA_valid_public_ssh_key_123456785== user@their-computer\" \\\n  --authorized_users \"myUser\" \\\n  --authorized_users \"secondaryUser\" \\\n  --metadata.user_data \"I2Nsb3VkLWNvbmZpZw==\" \\\n  --firewall_id 9000 \\\n  --ipv4 \"192.0.2.141\""
          title: CLI
[...]
