openapi: 3.2.0
info:
  description: Add a Cloud Computing instance so you can build, release, and scale applications faster with virtual machines.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: 'Akamai: Linode Domain zone files API'
  version: 4.229.1
servers:
- url: https://api.linode.com
tags:
- description: These operations involve viewing specifics for a domain zone file.
  name: Domain zone files
paths:
  /{apiVersion}/domains/{domainId}/zone-file:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    - description: ID of the Domain.
      example: '{{domainId}}'
      in: path
      name: domainId
      required: true
      schema:
        example: 12345
        type: string
      x-akamai:
        file-path: parameters/domain-id-path-32edd7bc.yaml
    x-akamai:
      file-path: paths/domains-zone-file.yaml
      path-info: /{apiVersion}/domains/{domainId}/zone-file
    x-linode-cli-command: domains
    get:
      description: 'Returns the zone file for the last rendered zone for the specified domain.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs these roles assigned. Learn more.

        - Roles: `domain_viewer`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `domains:read_only`


        **CLI**


        ```shell

        linode-cli domains zone-file 123

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-domain-zone
      operationId: get-domain-zone
      responses:
        '200':
          content:
            application/json:
              example:
                zone_file:
                - ; example.com [123]
                - $TTL 864000
                - '@  IN  SOA  ns1.linode.com. user.example.com. 2021000066 14400 14400 1209600 86400'
                - '@    NS  ns1.linode.com.'
                - '@    NS  ns2.linode.com.'
                - '@    NS  ns3.linode.com.'
                - '@    NS  ns4.linode.com.'
                - '@    NS  ns5.linode.com.'
              schema:
                additionalProperties: false
                properties:
                  zone_file:
                    description: The lines of the zone file for the last rendered zone for this domain.
                    example:
                    - ; example.com [123]
                    - $TTL 864000
                    - '@  IN  SOA  ns1.linode.com. user.example.com. 2021000066 14400 14400 1209600 86400'
                    - '@    NS  ns1.linode.com.'
                    - '@    NS  ns2.linode.com.'
                    - '@    NS  ns3.linode.com.'
                    - '@    NS  ns4.linode.com.'
                    - '@    NS  ns5.linode.com.'
                    items:
                      type: string
                    type: array
                type: object
                x-akamai:
                  file-path: schemas/added-get-domain-zone-200.yaml
          description: An array containing the lines of the domain zone file.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - domains:read_only
      summary: Get a domain zone file
      tags:
      - Domain zone files
      x-akamai:
        tabs:
        - syntax: linode-cli domains zone-file 123
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: zone-file
      x-linode-grant: read_only
      x-linode-iam:
      - roles:
        - domain_viewer
components:
  securitySchemes:
    oauth:
      flows:
        authorizationCode:
          authorizationUrl: https://login.linode.com/oauth/authorize
          scopes:
            account:read_only: Allows access to GET information about your account.
            account:read_write: Allows access to all endpoints related to your account.
            child_account:read_only: Allows access to GET information about deprecated parent/child operations.
            child_account:read_write: Allows access to deprecated parent/child operations.
            databases:read_only: Allows access to GET information about databases.
            databases:read_write: Allows access to all endpoints related to databases.
            domains:read_only: Allows access to GET Domains on your account.
            domains:read_write: Allows access to all Domain endpoints.
            events:read_only: Allows access to GET your Events.
            events:read_write: Allows access to all endpoints related to your Events.
            firewall:read_only: Allows access to GET information about your Firewalls.
            firewall:read_write: Allows access to all Firewall endpoints.
            images:read_only: Allows access to GET your Images.
            images:read_write: Allows access to all endpoints related to your Images.
            ips:read_only: Allows access to GET your ips.
            ips:read_write: Allows access to all endpoints related to your ips.
            linodes:read_only: Allows access to GET Linodes on your account.
            linodes:read_write: Allow access to all endpoints related to your Linodes.
            lke:read_only: Allows access to GET LKE Clusters on your account.
            lke:read_write: Allows access to all endpoints related to LKE Clusters on your account.
            longview:read_only: Allows access to GET your Longview Clients.
            longview:read_write: Allows access to all endpoints related to your Longview Clients.
            monitor:read_only: Allows access to Monitor (Akamai Cloud Pulse) data.
            monitor:read_write: Allows access to GET Monitor (Akamai Cloud Pulse) data.
            nodebalancers:read_only: Allows access to GET NodeBalancers on your account.
            nodebalancers:read_write: Allows access to all NodeBalancer endpoints.
            object_storage:read_only: Allows access to GET information related to your Object Storage.
            object_storage:read_write: Allows access to all Object Storage endpoints.
            stackscripts:read_only: Allows access to GET your StackScripts.
            stackscripts:read_write: Allows access to all endpoints related to your StackScripts.
            volumes:read_only: Allows access to GET your Volumes.
            volumes:read_write: Allows access to all endpoints related to your Volumes.
            vpc:read_write: Allows access to all endpoints related to VPC and Subnet creation, updating, and deletion.
          tokenUrl: https://login.linode.com/oauth/token
      type: oauth2
    personalAccessToken:
      scheme: bearer
      type: http
externalDocs:
  description: See documentation for Akamai's Linode API
  url: https://techdocs.akamai.com/linode-api/reference
x-readme:
  explorer-enabled: false
  samples-languages:
  - curl
  - python
  - node
