openapi: 3.2.0
info:
  description: Add a Cloud Computing instance so you can build, release, and scale applications faster with virtual machines.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: 'Akamai: Linode LKE clusters API'
  version: 4.229.1
servers:
- url: https://api.linode.com
tags:
- description: Create and manage Kubernetes clusters on LKE (Linode Kubernetes Engine).
  name: LKE clusters
paths:
  /{apiVersion}/lke/clusters:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    x-akamai:
      file-path: paths/lke-clusters.yaml
      path-info: /{apiVersion}/lke/clusters
    x-linode-cli-command: lke
    post:
      description: 'Creates a Kubernetes cluster. The Kubernetes cluster will be created asynchronously. You can use the events system to determine when the Kubernetes cluster is ready to use. Please note that it often takes 2-5 minutes before the Kubernetes API endpoints and the Kubeconfig file for the new cluster are ready.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs these roles assigned. Learn more.

        - Roles: `account_lkecluster_creator`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `lke:read_write`


        **CLI**


        ```shell

        linode-cli lke cluster-create \

        --label cluster12345 \

        --region us-central \

        --k8s_version 1.33 \

        --apl_enabled false \

        --control_plane.high_availability true \

        --node_pools.type g6-standard-4 --node_pools.count 6 \

        --node_pools.type g6-standard-8 --node_pools.count 3 \

        --node_pools.autoscaler.enabled true \

        --node_pools.autoscaler.max 12 \

        --node_pools.autoscaler.min 3 \

        --tags ecomm

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/post-lke-cluster
      operationId: post-lke-cluster
      requestBody:
        content:
          application/json:
            example:
              control_plane:
                high_availability: true
              k8s_version: '1.35'
              label: example-cluster
              node_pools:
              - autoscaler:
                  enabled: true
                  max: 10
                  min: 3
                count: 3
                disk_encryption: enabled
                type: g6-standard-6
              region: us-east
            schema:
              additionalProperties: false
              properties:
                apl_enabled:
                  description: __Write-once__ Indicates whether the Akamai App Platform is installed during creation of the LKE cluster. It defaults to `false`. If set to `true`, `control_plane.high_availability` also needs to be `true`. Automatic installation of the App Platform is only possible when creating a new cluster (not when modifying existing clusters).
                  example: '{{apl_enabled}}'
                  type: boolean
                  x-akamai:
                    write-once: true
                  x-linode-cli-display: 6
                control_plane:
                  additionalProperties: false
                  description: Defines settings for the Kubernetes control plane, including High Availability (HA) and an IP-based Access Control List (ACL) for the control plane components.
                  properties:
                    acl:
                      additionalProperties: false
                      description: Defines settings related to the IP-based ACL of the LKE cluster. The object requires the `enabled` and `addresses` keys. It also supports the optional key `revision-id`. The default policy is set to `ALLOW`, so that access controls are disabled. An empty object value (`{}`) sets default elements.
                      properties:
                        addresses:
                          additionalProperties: false
                          default: {}
                          description: Supports keys `ipv4` and `ipv6`. The default value is an empty object.
                          properties:
                            ipv4:
                              description: A list of individual IPv4 addresses or CIDRs to `ALLOW`. Defaults to `[]`.
                              items:
                                type: string
                              type: array
                            ipv6:
                              description: A list of individual IPv6 addresses or CIDRs to `ALLOW`. Defaults to `[]`.
                              items:
                                type: string
                              type: array
                          type: object
                        enabled:
                          default: true
                          description: Defines a default policy. A value of `true` results in a default policy of `DENY`. A value of `false` results in a default policy of `ALLOW`, such as for disabled access controls. Creating a cluster with ACL, or upgrading a cluster to use ACL for LKE, is an irreversible change. Once upgraded, you can only toggle access controls with this field.
                          type: boolean
                          x-linode-cli-display: 7
                        revision-id:
                          description: Enables clients to track events related to ACL update requests and enforcements. If omitted, this defaults to a randomly generated string.
                          type: string
                      type: object
                    audit_logs_enabled:
                      default: false
                      description: '__Beta__, __LKE Enterprise__ Enables audit logs on the cluster''s control plane. These logs provide detailed information about user access and the operations performed on the cluster, which can be useful for security and compliance. See [LKE audit logs](https://techdocs.akamai.com/cloud-computing/docs/lke-audit-logs) for more information.


                        > 🚧

                        >

                        > This field is available as part of the beta API and can only be used by accounts with access to LKE Enterprise. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                      example: true
                      type: boolean
                      x-akamai:
                        labels:
                        - LKE Enterprise
                        status: BETA
                      x-linode-cli-display: 4
                    high_availability:
                      default: false
                      description: Enables High Availability for the cluster's control plane components. It defaults to `false`. Enabling High Availability for LKE is an irreversible change.
                      example: true
                      type: boolean
                      x-linode-cli-display: 6
                    metrics_enabled:
                      default: false
                      description: '__Beta__, __LKE Enterprise__, __Write-only__ Enables metrics on the cluster''s control plane. These metrics provide detailed information about the performance and resource usage of the cluster, which can be useful for monitoring and optimization purposes. See [Metrics for LKE Enterprise](https://techdocs.akamai.com/cloud-computing/docs/lke-e-metrics) for more information.


                        > 🚧

                        >

                        > This field is available as part of the beta API and can only be used by accounts with access to LKE Enterprise. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                      example: true
                      type: boolean
                      writeOnly: true
                      x-akamai:
                        labels:
                        - LKE Enterprise
                        status: BETA
                      x-linode-cli-display: 5
                  type: object
                  x-akamai:
                    file-path: schemas/lke-cluster-control-plane.yaml
                k8s_version:
                  description: __Filterable__ The desired Kubernetes version for this Kubernetes cluster in the format of `<major>.<minor>`. The latest supported patch version is deployed.
                  example: '{{k8s_version}}'
                  type: string
                  x-akamai:
                    labels:
                    - Filterable
                  x-linode-cli-display: 4
                  x-linode-filterable: true
                label:
                  description: "__Filterable__ This Kubernetes cluster's unique label for display purposes only. Labels have the following constraints:\n\n  - UTF-8 characters will be returned by the API using escape sequences of their Unicode code points. For example, the Japanese character _か_ is 3 bytes in UTF-8 (`0xE382AB`). Its Unicode code point is 2 bytes (`0x30AB`). APIv4 supports this character and the API will return it as the escape sequence using six 1 byte characters which represent 2 bytes of Unicode code point (`\"\\u30ab\"`).\n\n  - 4 byte UTF-8 characters are not supported.\n\n  - If the label is entirely composed of UTF-8 characters, the API response will return the code points using up to 193 1 byte characters."
                  example: '{{label}}'
                  maxLength: 32
                  minLength: 1
                  type: string
                  x-akamai:
                    labels:
                    - Filterable
                  x-linode-cli-display: 2
                  x-linode-filterable: true
                node_pools:
                  description: The node pools to create for this Kubernetes cluster. Each node pool is a group of nodes (Linodes) with the same configuration.
                  items:
                    additionalProperties: false
                    description: Specifies a collection of Linodes to serve as members of a Kubernetes cluster.
                    properties:
                      autoscaler:
                        additionalProperties: false
                        description: When enabled, the number of nodes automatically scales within the defined minimum and maximum values. When making a request, `max` and `min` require each other.
                        properties:
                          enabled:
                            description: Whether autoscaling is enabled for this node pool. Defaults to `false`.
                            example: true
                            type: boolean
                            x-linode-cli-display: 5
                          max:
                            description: 'The maximum number of nodes for the node pool when you enable autoscaling. This defaults to the node pool''s `count`.


                              > 📘

                              >

                              > The ability to scale node pools to zero nodes is in limited availability and works with LKE Enterprise clusters only. If your account has access to this feature, `max` can be set to `0` if desired.'
                            example: 12
                            maximum: 100
                            minimum: 1
                            type: integer
                            x-linode-cli-display: 6
                          min:
                            description: 'The minimum number of nodes for the node pool when you enable autoscaling. This defaults to the node pool''s `count`.


                              > 🚧

                              >

                              > Before you can upgrade an LKE Enterprise node pool''s Kubernetes version, adjust this value so that it is at least three nodes for Kubernetes v1.33 (and higher) and at least two nodes for Kubernetes v1.32.


                              > 📘

                              >

                              > The ability to scale node pools to zero nodes is in limited availability and works with LKE Enterprise clusters only. If your account has access to this feature, set `min` to `0` to scale down this node pool to a minimum of zero nodes. This can help reduce costs when the node pool is not in use.'
                            example: 3
                            maximum: 100
                            minimum: 1
                            type: integer
                            x-linode-cli-display: 7
                        type: object
                      count:
                        description: 'The number of nodes in the node pool.


                          > 🚧

                          >

                          > Before you can upgrade an LKE Enterprise node pool''s Kubernetes version, adjust this value so that it is at least three nodes for Kubernetes v1.33 (and higher) and at least two nodes for Kubernetes v1.32.


                          > 📘

                          >

                          > The ability to scale node pools to zero nodes is in limited availability and works with LKE Enterprise clusters only. If your account has access to this feature, set `count` to `0` to create a node pool with zero nodes or adjust an existing node pool down to zero nodes.'
                        example: 6
                        maximum: 100
                        minimum: 1
                        type: integer
                        x-linode-cli-display: 4
                      disk_encryption:
                        default: disabled
                        description: Local disk encryption setting for this LKE node pool, either `enabled` or the default `disabled`.
                        enum:
                        - enabled
                        - disabled
                        example: enabled
                        type: string
                      disks:
                        description: "This node pool's custom disk layout. Each item in this array will create a new disk partition for each node in this node pool.\n\n> \U0001F4D8\n>\n> Omit this field, except for special use cases. The disks specified here are partitions in _addition_ to the primary partition and reduce the size of the primary partition. This can lead to stability problems for the node.\n\n  - The custom disk layout is applied to each node in this node pool.\n\n  - The maximum number of custom disk partitions that can be configured is 7.\n\n  - Once the requested disk partitions are allocated, the remaining disk space is allocated to the node's boot disk.\n\n  - A node pool's custom disk layout is immutable over the lifetime of the node pool."
                        items:
                          additionalProperties: false
                          description: The values to assign to each partition in this node pool's custom disk layout.
                          properties:
                            size:
                              description: The size of this custom disk partition in MB. The size of this disk partition can't exceed the capacity of the node's plan type.
                              example: 1024
                              type: integer
                            type:
                              description: This custom disk partition's file system type, either `raw` or `ext4`.
                              enum:
                              - raw
                              - ext4
                              example: ext4
                              type: string
                          type: object
                        type: array
                        x-linode-cli-format: json
                      firewall_id:
                        description: '__Beta__, __LKE Enterprise__ The `id` of the Cloud Firewall that you wish to assign to this node pool. Review [Recommended firewall settings](https://techdocs.akamai.com/cloud-computing/docs/lke-network-firewall-details#recommended-firewall-settings) to learn which rules should be configured within your firewall for compatibility with LKE.


                          > 🚧

                          >

                          > This field is available as part of the beta API and can only be used by accounts with access to LKE Enterprise. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                        type: integer
                        x-akamai:
                          labels:
                          - LKE Enterprise
                          status: BETA
                      k8s_version:
                        description: '__Beta__, __LKE Enterprise__ The LKE-specific Kubernetes version to use for the worker nodes within this node pool. This field is required when creating node pools on LKE Enterprise clusters.


                          > 🚧

                          >

                          > This field is available as part of the beta API and can only be used by accounts with access to LKE Enterprise. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                        example: v1.31.8+lke3
                        type: string
                        x-akamai:
                          labels:
                          - LKE Enterprise
                          status: BETA
                      label:
                        description: 'An optional label for this node pool. Labels can be up to 32 characters long, containing lowercase alphanumeric characters optionally interspersed with dashes.


                          A node pool''s label also cascades down to its nodes (Linodes). If a label is defined on the node pool, the label for each node is `<cluster-id>-<nodepool-label>-<hash>`. If not, the label is `<cluster-id>-<nodepool-id>-<hash>`.'
                        example: app-pool
                        maxLength: 32
                        minLength: 1
                        pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])$
                        type: string
                      labels:
                        additionalProperties:
                          description: The label's value. See the description for the `labels` field for more information on label value constraints.
                          maxLength: 63
                          minLength: 0
                          pattern: ^(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])?
                          type: string
                          x-additionalPropertiesName: value
                        description: 'Key-value pairs added as labels to nodes in the node pool. Labels help classify your nodes and easily select subsets of objects. To learn more, review the [Labels and taints](https://techdocs.akamai.com/cloud-computing/docs/labels-and-taints) guide.


                          **Label key:**


                          - A key can contain alphanumeric characters, dashes (`-`), underscores (`_`), or dots (`.`). Start and end it with an alphanumeric character.


                          - If the key begins with a DNS subdomain prefix followed by a single slash, for example `example.com/my-app`, the maximum total length of the label key is 128 characters. Domain labels can be up to 62 characters after the ''/''. The prefix needs to adhere to [RFC 1123](https://datatracker.ietf.org/doc/html/rfc1123) DNS subdomain restrictions.


                          - If the key doesn''t begin with a DNS subdomain prefix, the maximum key length is 63 characters.


                          Specifying an empty object removes all previously set labels.


                          **Label value:**


                          - The label''s value can contain alphanumeric characters, dashes (`-`), underscores (`_`), or dots (`.`). Start and end it with an alphanumeric character.


                          - Can be specified as an empty string value with `""`.'
                        example:
                          example.com/my-app: teams
                        type: object
                      tags:
                        description: __Filterable__ Organizational tags to apply to this node pool. When you apply tags to LKE Enterprise node pools, they also apply to the nodes (Linodes) within the node pool. Tags don't cascade down to nodes in non-Enterprise node pools.
                        example:
                        - example tag
                        - another example
                        items:
                          type: string
                        type: array
                        x-akamai:
                          labels:
                          - Filterable
                        x-linode-filterable: true
                      taints:
                        description: 'Kubernetes taints to add to node pool nodes. Taints help control how pods are scheduled onto nodes, specifically allowing them to repel certain pods. To learn more, review the [Labels and taints](https://techdocs.akamai.com/cloud-computing/docs/labels-and-taints) guide.


                          Specifying an empty array (`[]`) removes all previously set taints.'
                        example:
                        - effect: NoSchedule
                          key: example.com/my-app
                          value: teamA
                        - effect: NoExecute
                          key: myapp.io/team
                          value: teamB
                        items:
                          additionalProperties: false
                          properties:
                            effect:
                              description: The Kubernetes taint effect. For `NoSchedule`, `PreferNoSchedule` and `NoExecute` descriptions, see [Kubernetes Taints and Tolerations](https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/).
                              enum:
                              - NoSchedule
                              - PreferNoSchedule
                              - NoExecute
                              example: NoSchedule
                              type: string
                            key:
                              description: 'The Kubernetes taint key.


                                - A key can contain alphanumeric characters, dashes (`-`), underscores (`_`), or dots (`.`). Start and end it with an alphanumeric character.


                                - If the key begins with a DNS subdomain prefix followed by a single slash, for example `example.com/my-app`, the prefix part needs to adhere to [RFC 1123](https://datatracker.ietf.org/doc/html/rfc1123) DNS subdomain restrictions and be a maximum of 253 characters.'
                              example: example.com/my-app
                              maxLength: 63
                              minLength: 1
                              pattern: ^([A-Za-z0-9][-A-Za-z0-9_.]*)?(\/)?([A-Za-z0-9][-A-Za-z0-9_.]{1,63})?$
                              type: string
                            value:
                              description: 'The Kubernetes taint value.


                                - A key can contain alphanumeric characters, dashes (`-`), underscores (`_`), or dots (`.`). Start and end it with an alphanumeric character.


                                - Can be specified as an empty string value with `""`.'
                              example: teamC
                              maxLength: 63
                              minLength: 0
                              pattern: ^(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])?
                              type: string
                          required:
                          - key
                          - value
                          - effect
                          type: object
                        minItems: 0
                        type: array
                      type:
                        description: The Linode type for all of the nodes in the node pool.
                        example: g6-standard-4
                        type: string
                        x-linode-cli-display: 3
                      update_strategy:
                        description: '__Beta__, __LKE Enterprise__ Determines when the worker nodes within this node pool upgrade to the latest selected Kubernetes version, after the cluster has been upgraded. This field is required when creating node pools on LKE Enterprise clusters.


                          - `rolling_update`: Immediately triggers a recycle of this node pool when the Kubernetes version is updated.

                          - `on_recycle` (default): Doesn''t trigger any immediate recycle. New worker nodes are created with the new Kubernetes version. Existing worker nodes will be upgraded when a recycle is manually triggered.


                          > 🚧

                          >

                          > This field is available as part of the beta API and can only be used by accounts with access to LKE Enterprise. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                        enum:
                        - rolling_update
                        - on_recycle
                        example: on_recycle
                        type: string
                        x-akamai:
                          labels:
                          - LKE Enterprise
                          status: BETA
                    required:
                    - type
                    - count
                    type: object
                    x-akamai:
                      file-path: schemas/lke-node-pool-request-body.yaml
                  type: array
                region:
                  description: __Filterable__ This Kubernetes cluster's location.
                  example: '{{region}}'
                  type: string
                  x-akamai:
                    labels:
                    - Filterable
                  x-linode-cli-display: 3
                  x-linode-filterable: true
                stack_type:
                  default: ipv4
                  description: '__Beta__, __LKE Enterprise__ The networking stack type of the Kubernetes cluster, either `ipv4` or `ipv4-ipv6`. This specifies that the cluster is IPv4 only (default) or supports both IPv4 and IPv6 (dual-stack).


                    > 🚧

                    >

                    > This field is available as part of the beta API and can only be used by accounts with access to LKE Enterprise. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                  enum:
                  - ipv4
                  - ipv4-ipv6
                  example: '{{stack_type}}'
                  type: string
                  x-akamai:
                    labels:
                    - LKE Enterprise
                    status: BETA
                subnet_id:
                  description: '__Beta__, __LKE Enterprise__ The ID of the VPC subnet to use for the Kubernetes cluster. This subnet must have both IPv4 and IPv6 enabled (dual-stack). When this field is specified, the cluster is deployed to the given subnet and its corresponding VPC. To specify a VPC and have a subnet auto-allocated, use `vpc_id` instead. If `subnet_id` and `vpc_id` are both unspecified, a new VPC and subnet are auto-allocated for the cluster.


                    > 🚧

                    >

                    > This field is available as part of the beta API and can only be used by accounts with access to LKE Enterprise. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                  example: '{{subnet_id}}'
                  type: integer
                  x-akamai:
                    labels:
                    - LKE Enterprise
                    status: BETA
                tags:
                  description: __Filterable__ An array of tags applied to the Kubernetes cluster. Tags are for organizational purposes only.
                  example:
                  - ecomm
                  - blogs
                  items:
                    type: string
                  type: array
                  x-akamai:
                    labels:
                    - Filterable
                  x-linode-filterable: true
                tier:
                  description: '__Beta__, __Filterable__ The desired Kubernetes tier, either `standard` or `enterprise`.


                    > 🚧

                    >

                    > This field is available as part of the beta API. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                  enum:
                  - standard
                  - enterprise
                  example: '{{tier}}'
                  type: string
                  x-akamai:
                    labels:
                    - Filterable
                    status: BETA
                  x-linode-cli-display: 5
                  x-linode-filterable: true
                vpc_id:
                  description: '__Beta__, __LKE Enterprise__ The ID of the VPC to use for the Kubernetes cluster. An appropriately sized subnet is auto-allocated. To specify an existing subnet, use `subnet_id` instead. If `subnet_id` and `vpc_id` are both unspecified, a new VPC and subnet are auto-allocated for the cluster.


                    > 🚧

                    >

                    > This field is available as part of the beta API and can only be used by accounts with access to LKE Enterprise. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                  example: '{{vpc_id}}'
                  type: integer
                  x-akamai:
                    labels:
                    - LKE Enterprise
                    status: BETA
              required:
              - label
              - region
              - k8s_version
              - node_pools
              type: object
              x-akamai:
                file-path: schemas/post-lke-cluster.yaml
        x-linode-cli-allowed-defaults:
        - region
      responses:
        '200':
          content:
            application/json:
              example:
                apl_enabled: false
                control_plane:
                  high_availability: true
                created: '2026-03-30T18:21:07'
                id: 123456
                k8s_version: '1.35'
                label: example-cluster
                region: us-east
                status: ready
                tags: []
                updated: '2026-03-30T18:21:07'
              schema:
                additionalProperties: false
                description: A Kubernetes cluster.
                properties:
                  apl_enabled:
                    description: __Write-once__ Indicates whether the Akamai App Platform is installed during creation of the LKE cluster. It defaults to `false`. If set to `true`, `control_plane.high_availability` also needs to be `true`. Automatic installation of the App Platform is only possible when creating a new cluster (not when modifying existing clusters).
                    example: true
                    type: boolean
                    x-akamai:
                      write-once: true
                    x-linode-cli-display: 6
                  control_plane:
                    additionalProperties: false
                    description: Defines settings for the Kubernetes control plane, including enabling High Availability (HA) for the control plane.
                    properties:
                      audit_logs_enabled:
                        default: false
                        description: '__Beta__, __LKE Enterprise__ Enables audit logs on the cluster''s control plane. These logs provide detailed information about user access and the operations performed on the cluster, which can be useful for security and compliance. See [LKE audit logs](https://techdocs.akamai.com/cloud-computing/docs/lke-audit-logs) for more information.


                          > 🚧

                          >

                          > This field is available as part of the beta API and can only be used by accounts with access to LKE Enterprise. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                        example: true
                        type: boolean
                        x-akamai:
                          labels:
                          - LKE Enterprise
                          status: BETA
                        x-linode-cli-display: 4
                      high_availability:
                        default: false
                        description: Enables High Availability for the cluster's control plane components. It defaults to `false`. Enabling High Availability for LKE is an irreversible change.
                        example: true
                        type: boolean
                        x-linode-cli-display: 6
                      metrics_enabled:
                        default: false
                        description: '__Beta__, __LKE Enterprise__, __Write-only__ Enables metrics on the cluster''s control plane. These metrics provide detailed information about the performance and resource usage of the cluster, which can be useful for monitoring and optimization purposes. See [Metrics for LKE Enterprise](https://techdocs.akamai.com/cloud-computing/docs/lke-e-metrics) for more information.


                          > 🚧

                          >

                          > This field is available as part of the beta API and can only be used by accounts with access to LKE Enterprise. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                        example: true
                        type: boolean
                        writeOnly: true
                        x-akamai:
                          labels:
                          - LKE Enterprise
                          status: BETA
                        x-linode-cli-display: 5
                    type: object
                  created:
                    description: __Read-only__ When this Kubernetes cluster was created.
                    example: '2019-09-12T21:25:30Z'
                    readOnly: true
                    type: string
                  id:
                    description: __Read-only__ This Kubernetes cluster's unique ID.
                    example: 1234
                    readOnly: true
                    type: integer
                    x-linode-cli-display: 1
                  k8s_version:
                    description: __Filterable__ The desired Kubernetes version for this Kubernetes cluster in the format of `<major>.<minor>`. The latest supported patch version is deployed.
                    example: '1.33'
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 4
                    x-linode-filterable: true
                  label:
                    description: "__Filterable__ This Kubernetes cluster's unique label for display purposes only. Labels have the following constraints:\n\n  - UTF-8 characters will be returned by the API using escape sequences of their Unicode code points. For example, the Japanese character _か_ is 3 bytes in UTF-8 (`0xE382AB`). Its Unicode code point is 2 bytes (`0x30AB`). APIv4 supports this character and the API will return it as the escape sequence using six 1 byte characters which represent 2 bytes of Unicode code point (`\"\\u30ab\"`).\n\n  - 4 byte UTF-8 characters are not supported.\n\n  - If the label is entirely composed of UTF-8 characters, the API response will return the code points using up to 193 1 byte characters."
                    example: lkecluster12345
                    maxLength: 32
                    minLength: 1
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 2
                    x-linode-filterable: true
                  locks:
                    description: '__Beta__, __Read-only__ Indicates if the cluster is protected by a resource lock. Supported values are:


                      - `cannot_delete`. The cluster can''t be deleted.


                      - An empty array indicates there is no resource lock. The cluster can be deleted.


                      Only account administrators can remove locks using the [Delete a resource lock](https://techdocs.akamai.com/linode-api/reference/delete-resource-lock) operation.


                      > 🚧

                      >

                      > - This field is available as part of the beta API. Call the URL with the `apiVersion` path parameter set to `v4beta`.

                      >

                      > - The `cannot_delete_with_subresources` form of lock that''s available with other resources does not apply to an LKE cluster.'
                    example:
                    - cannot_delete
                    items:
                      enum:
                      - cannot_delete
                      type: string
                    readOnly: true
                    type: array
                    x-akamai:
                      status: BETA
                  region:
                    description: __Filterable__ This Kubernetes cluster's location.
                    example: us-central
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 3
                    x-linode-filterable: true
                  stack_type:
                    default: ipv4
                    description: '__Beta__, __LKE Enterprise__ The networking stack type of the Kubernetes cluster, either `ipv4` or `ipv4-ipv6`. This specifies that the cluster is IPv4 only (default) or supports both IPv4 and IPv6 (dual-stack).


                      > 🚧

                      >

                      > This field is available as part of the beta API and can only be used by accounts with access to LKE Enterprise. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                    enum:
                    - ipv4
                    - ipv4-ipv6
                    example: ipv4
                    type: string
                    x-akamai:
                      labels:
                      - LKE Enterprise
                      status: BETA
                  status:
                    description: __Read-only__ This field is not currently in use and can be ignored. A value of `ready` is always returned.
                    enum:
                    - ready
                    example: ready
                    readOnly: true
                    type: string
                  subnet_id:
                    description: '__Beta__, __LKE Enterprise__ The ID of the VPC subnet to use for the Kubernetes cluster. This subnet must have both IPv4 and IPv6 enabled (dual-stack). When this field is specified, the cluster is deployed to the given subnet and its corresponding VPC. To specify a VPC and have a subnet auto-allocated, use `vpc_id` instead. If `subnet_id` and `vpc_id` are both unspecified, a new VPC and subnet are auto-allocated for the cluster.


                      > 🚧

                      >

                      > This field is available as part of the beta API and can only be used by accounts with access to LKE Enterprise. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                    example: 123456
                    type: integer
                    x-akamai:
                      labels:
                      - LKE Enterprise
                      status: BETA
                  tags:
                    description: __Filterable__ An array of tags applied to the Kubernetes cluster. Tags are for organizational purposes only.
                    example:
                    - ecomm
                    - blogs
                    items:
                      type: string
                    type: array
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-filterable: true
                  tier:
                    description: '__Beta__, __Filterable__ The desired Kubernetes tier, either `standard` or `enterprise`.


                      > 🚧

                      >

                      > This field is available as part of the beta API. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                    enum:
                    - standard
                    - enterprise
                    example: standard
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                      status: BETA
                    x-linode-cli-display: 5
                    x-linode-filterable: true
                  updated:
                    description: __Read-only__ When this Kubernetes cluster was updated.
                    example: '2019-09-13T21:24:16Z'
                    readOnly: true
                    type: string
                  vpc_id:
                    description: '__Beta__, __LKE Enterprise__ The ID of the VPC to use for the Kubernetes cluster. An appropriately sized subnet is auto-allocated. To specify an existing subnet, use `subnet_id` instead. If `subnet_id` and `vpc_id` are both unspecified, a new VPC and subnet are auto-allocated for the cluster.


                      > 🚧

                      >

                      > This field is available as part of the beta API and can only be used by accounts with access to LKE Enterprise. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                    example: 123456
                    type: integer
                    x-akamai:
                      labels:
                      - LKE Enterprise
                      status: BETA
                type: object
                x-akamai:
                  file-path: schemas/lke-cluster.yaml
          description: Kubernetes cluster creation has started.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - lke:read_write
      summary: Create a Kubernetes cluster
      tags:
      - LKE clusters
      x-akamai:
        tabs:
        - syntax: "linode-cli lke cluster-create \\\n  --label cluster12345 \\\n  --region us-central \\\n  --k8s_version 1.33 \\\n  --apl_enabled false \\\n  --control_plane.high_availability true \\\n  --node_pools.type g6-standard-4 --node_pools.count 6 \\\n  --node_pools.type g6-standard-8 --node_pools.count 3 \\\n  --node_pools.autoscaler.enabled true \\\n  --node_pools.autoscaler.max 12 \\\n  --node_pools.autoscaler.min 3 \\\n  --tags ecomm"
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-charge: true
      x-linode-cli-action: cluster-create
      x-linode-grant: add_clusters
      x-linode-iam:
      - roles:
        - account_lkecluster_creator
    get:
      description: 'Lists current Kubernetes clusters available on your account.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs these roles assigned. Learn more.

        - Roles: `lkecluster_viewer`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `lke:read_only`


        **CLI**


        ```shell

        linode-cli lke clusters-list

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-lke-clusters
      operationId: get-lke-clusters
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - apl_enabled: false
                  control_plane:
                    high_availability: true
                  created: '2026-03-30T18:21:07'
                  id: 123456
                  k8s_version: '1.35'
                  label: example-cluster
                  region: us-east
                  status: ready
                  tags: []
                  updated: '2026-03-30T18:21:07'
                page: 1
                pages: 1
                results: 1
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: Kubernetes clusters on your account.
                    items:
                      additionalProperties: false
                      description: A Kubernetes cluster.
                      properties:
                        apl_enabled:
                          description: __Write-once__ Indicates whether the Akamai App Platform is installed during creation of the LKE cluster. It defaults to `false`. If set to `true`, `control_plane.high_availability` also needs to be `true`. Automatic installation of the App Platform is only possible when creating a new cluster (not when modifying existing clusters).
                          example: true
                          type: boolean
                          x-akamai:
                            write-once: true
                          x-linode-cli-display: 6
                        control_plane:
                          additionalProperties: false
                          description: Defines settings for the Kubernetes control plane, including enabling High Availability (HA) for the control plane.
                          properties:
                            audit_logs_enabled:
                              default: false
                              description: '__Beta__, __LKE Enterprise__ Enables audit logs on the cluster''s control plane. These logs provide detailed information about user access and the operations performed on the cluster, which can be useful for security and compliance. See [LKE audit logs](https://techdocs.akamai.com/cloud-computing/docs/lke-audit-logs) for more information.


                                > 🚧

                                >

                                > This field is available as part of the beta API and can only be used by accounts with access to LKE Enterprise. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                              example: true
                              type: boolean
                              x-akamai:
                                labels:
                                - LKE Enterprise
                                status: BETA
                              x-linode-cli-display: 4
                            high_availability:
                              default: false
                              description: Enables High Availability for the cluster's control plane components. It defaults to `false`. Enabling High Availability for LKE is an irreversible change.
                              example: true
                              type: boolean
                              x-linode-cli-display: 6
                            metrics_enabled:
                              default: false
                              description: '__Beta__, __LKE Enterprise__, __Write-only__ Enables metrics on the cluster''s control plane. These metrics provide detailed information about the performance and resource usage of the cluster, which can be useful for monitoring and optimization purposes. See [Metrics for LKE Enterprise](https://techdocs.akamai.com/cloud-computing/docs/lke-e-metrics) for more information.


                                > 🚧

                                >

                                > This field is available as part of the beta API and can only be used by accounts with access to LKE Enterprise. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                              example: true
                              type: boolean
                              writeOnly: true
                              x-akamai:
                                labels:
                                - LKE Enterprise
                                status: BETA
                              x-linode-cli-display: 5
                          type: object
                        created:
                          description: __Read-only__ When this Kubernetes cluster was created.
                          example: '2019-09-12T21:25:30Z'
                          readOnly: true
                          type: string
                        id:
                          description: __Read-only__ This Kubernetes cluster's unique ID.
                          example: 1234
                          readOnly: true
                          type: integer
                          x-linode-cli-display: 1
                        k8s_version:
                          description: __Filterable__ The desired Kubernetes version for this Kubernetes cluster in the format of `<major>.<minor>`. The latest supported patch version is deployed.
                          example: '1.33'
                          type: string
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-cli-display: 4
                          x-linode-filterable: true
                        label:
                          description: "__Filterable__ This Kubernetes cluster's unique label for display purposes only. Labels have the following constraints:\n\n  - UTF-8 characters will be returned by the API using escape sequences of their Unicode code points. For example, the Japanese character _か_ is 3 bytes in UTF-8 (`0xE382AB`). Its Unicode code point is 2 bytes (`0x30AB`). APIv4 supports this character and the API will return it as the escape sequence using six 1 byte characters which represent 2 bytes of Unicode code point (`\"\\u30ab\"`).\n\n  - 4 byte UTF-8 characters are not supported.\n\n  - If the label is entirely composed of UTF-8 characters, the API response will return the code points using up to 193 1 byte characters."
                          example: lkecluster12345
                          maxLength: 32
                          minLength: 1
                          type: string
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-cli-display: 2
                          x-linode-filterable: true
                        locks:
                          description: '__Beta__, __Read-only__ Indicates if the cluster is protected by a resource lock. Supported values are:


                            - `cannot_delete`. The cluster can''t be deleted.


                            - An empty array indicates there is no resource lock. The cluster can be deleted.


                            Only account administrators can remove locks using the [Delete a resource lock](https://techdocs.akamai.com/linode-api/reference/delete-resource-lock) operation.


                            > 🚧

                            >

                            > - This field is available as part of the beta API. Call the URL with the `apiVersion` path parameter set to `v4beta`.

                            >

                            > - The `cannot_delete_with_subresources` form of lock that''s available with other resources does not apply to an LKE cluster.'
                          example:
                          - cannot_delete
                          items:
                            enum:
                            - cannot_delete
                            type: string
                          readOnly: true
                          type: array
                          x-akamai:
                            status: BETA
                        region:
                          description: __Filterable__ This Kubernetes cluster's location.
                          example: us-central
                          type: string
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-cli-display: 3
                          x-linode-filterable: true
                        stack_type:
                          default: ipv4
                          description: '__Beta__, __LKE Enterprise__ The networking stack type of the Kubernetes cluster, either `ipv4` or `ipv4-ipv6`. This specifies that the cluster is IPv4 only (default) or supports both IPv4 and IPv6 (dual-stack).


                            > 🚧

                            >

                            > This field is available as part of the beta API and can only be used by accounts with access to LKE Enterprise. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                          enum:
                          - ipv4
                          - ipv4-ipv6
                          example: ipv4
                          type: string
                          x-akamai:
                            labels:
                            - LKE Enterprise
                            status: BETA
                        status:
                          description: __Read-only__ This field is not currently in use and can be ignored. A value of `ready` is always returned.
                          enum:
                          - ready
                          example: ready
                          readOnly: true
                          type: string
                        subnet_id:
                          description: '__Beta__, __LKE Enterprise__ The ID of the VPC subnet to use for the Kubernetes cluster. This subnet must have both IPv4 and IPv6 enabled (dual-stack). When this field is specified, the cluster is deployed to the given subnet and its corresponding VPC. To specify a VPC and have a subnet auto-allocated, use `vpc_id` instead. If `subnet_id` and `vpc_id` are both unspecified, a new VPC and subnet are auto-allocated for the cluster.


                            > 🚧

                            >

                            > This field is available as part of the beta API and can only be used by accounts with access to LKE Enterprise. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                          example: 123456
                          type: integer
                          x-akamai:
                            labels:
                            - LKE Enterprise
                            status: BETA
                        tags:
                          description: __Filterable__ An array of tags applied to the Kubernetes cluster. Tags are for organizational purposes only.
                          example:
                          - ecomm
                          - blogs
                          items:
                            type: string
                          type: array
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-filterable: true
                        tier:
                          description: '__Beta__, __Filterable__ The desired Kubernetes tier, either `standard` or `enterprise`.


                            > 🚧

                            >

                            > This field is available as part of the beta API. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                          enum:
                          - standard
                          - enterprise
                          example: standard
                          type: string
                          x-akamai:
                            labels:
                            - Filterable
                            status: BETA
                          x-linode-cli-display: 5
                          x-linode-filterable: true
                        updated:
                          description: __Read-only__ When this Kubernetes cluster was updated.
                          example: '2019-09-13T21:24:16Z'
                          readOnly: true
                          type: string
                        vpc_id:
                          description: '__Beta__, __LKE Enterprise__ The ID of the VPC to use for the Kubernetes cluster. An appropriately sized subnet is auto-allocated. To specify an existing subnet, use `subnet_id` instead. If `subnet_id` and `vpc_id` are both unspecified, a new VPC and subnet are auto-allocated for the cluster.


                            > 🚧

                            >

                            > This field is available as part of the beta API and can only be used by accounts with access to LKE Enterprise. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                          example: 123456
                          type: integer
                          x-akamai:
                            labels:
                            - LKE Enterprise
                            status: BETA
                      type: object
                      x-akamai:
                        file-path: schemas/lke-cluster.yaml
                    type: array
                  page:
                    description: __Read-only__ The current [page](https://techdocs.akamai.com/linode-api/reference/pagination).
                    example: 1
                    readOnly: true
                    type: integer
                  pages:
                    description: __Read-only__ The total number of [pages](https://techdocs.akamai.com/linode-api/reference/pagination).
                    example: 1
                    readOnly: true
                    type: integer
                  results:
                    description: __Read-only__ The total number of results.
                    example: 1
                    readOnly: true
                    type: integer
                type: object
                x-akamai:
                  file-path: schemas/get-lke-clusters-200.yaml
          description: Returns an array of all Kubernetes clusters on your Account.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - lke:read_only
      summary: List Kubernetes clusters
      tags:
      - LKE clusters
      x-akamai:
        tabs:
        - syntax: linode-cli lke clusters-list
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: clusters-list
      x-linode-grant: read_only
      x-linode-iam:
      - roles:
        - lkecluster_viewer
  /{apiVersion}/lke/clusters/{clusterId}:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    - description: ID of the Kubernetes cluster to look up.
      example: '{{clusterId}}'
      in: path
      name: clusterId
      required: true
      schema:
        example: 12345
        type: integer
      x-akamai:
        file-path: parameters/cluster-id-path.yaml
    x-akamai:
      file-path: paths/lke-cluster.yaml
      path-info: /{apiVersion}/lke/clusters/{clusterId}
    x-linode-cli-command: lke
    get:
      description: 'Get a specific Cluster by ID.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs these roles assigned. Learn more.

        - Roles: `lkecluster_viewer`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `lke:read_only`


        **CLI**


        ```shell

        linode-cli lke cluster-view 12345

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-lke-cluster
      operationId: get-lke-cluster
      responses:
        '200':
          content:
            application/json:
              example:
                apl_enabled: false
                control_plane:
                  high_availability: false
                created: '2026-03-30T17:00:09'
                id: 123456
                k8s_version: '1.35'
                label: example-cluster
                region: us-east
                status: ready
                tags: []
                updated: '2026-03-30T17:00:09'
              schema:
                additionalProperties: false
                description: A Kubernetes cluster.
                properties:
                  apl_enabled:
                    description: __Write-once__ Indicates whether the Akamai App Platform is installed during creation of the LKE cluster. It defaults to `false`. If set to `true`, `control_plane.high_availability` also needs to be `true`. Automatic installation of the App Platform is only possible when creating a new cluster (not when modifying existing clusters).
                    example: true
                    type: boolean
                    x-akamai:
                      write-once: true
                    x-linode-cli-display: 6
                  control_plane:
                    additionalProperties: false
                    description: Defines settings for the Kubernetes control plane, including enabling High Availability (HA) for the control plane.
                    properties:
                      audit_logs_enabled:
                        default: false
                        description: '__Beta__, __LKE Enterprise__ Enables audit logs on the cluster''s control plane. These logs provide detailed information about user access and the operations performed on the cluster, which can be useful for security and compliance. See [LKE audit logs](https://techdocs.akamai.com/cloud-computing/docs/lke-audit-logs) for more information.


                          > 🚧

                          >

                          > This field is available as part of the beta API and can only be used by accounts with access to LKE Enterprise. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                        example: true
                        type: boolean
                        x-akamai:
                          labels:
                          - LKE Enterprise
                          status: BETA
                        x-linode-cli-display: 4
                      high_availability:
                        default: false
                        description: Enables High Availability for the cluster's control plane components. It defaults to `false`. Enabling High Availability for LKE is an irreversible change.
                        example: true
                        type: boolean
                        x-linode-cli-display: 6
                      metrics_enabled:
                        default: false
                        description: '__Beta__, __LKE Enterprise__, __Write-only__ Enables metrics on the cluster''s control plane. These metrics provide detailed information about the performance and resource usage of the cluster, which can be useful for monitoring and optimization purposes. See [Metrics for LKE Enterprise](https://techdocs.akamai.com/cloud-computing/docs/lke-e-metrics) for more information.


                          > 🚧

                          >

                          > This field is available as part of the beta API and can only be used by accounts with access to LKE Enterprise. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                        example: true
                        type: boolean
                        writeOnly: true
                        x-akamai:
                          labels:
                          - LKE Enterprise
                          status: BETA
                        x-linode-cli-display: 5
                    type: object
                  created:
                    description: __Read-only__ When this Kubernetes cluster was created.
                    example: '2019-09-12T21:25:30Z'
                    readOnly: true
                    type: string
                  id:
                    description: __Read-only__ This Kubernetes cluster's unique ID.
                    example: 1234
                    readOnly: true
                    type: integer
                    x-linode-cli-display: 1
                  k8s_version:
                    description: __Filterable__ The desired Kubernetes version for this Kubernetes cluster in the format of `<major>.<minor>`. The latest supported patch version is deployed.
                    example: '1.33'
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 4
                    x-linode-filterable: true
                  label:
                    description: "__Filterable__ This Kubernetes cluster's unique label for display purposes only. Labels have the following constraints:\n\n  - UTF-8 characters will be returned by the API using escape sequences of their Unicode code points. For example, the Japanese character _か_ is 3 bytes in UTF-8 (`0xE382AB`). Its Unicode code point is 2 bytes (`0x30AB`). APIv4 supports this character and the API will return it as the escape sequence using six 1 byte characters which represent 2 bytes of Unicode code point (`\"\\u30ab\"`).\n\n  - 4 byte UTF-8 characters are not supported.\n\n  - If the label is entirely composed of UTF-8 characters, the API response will return the code points using up to 193 1 byte characters."
                    example: lkecluster12345
                    maxLength: 32
                    minLength: 1
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 2
                    x-linode-filterable: true
                  locks:
                    description: '__Beta__, __Read-only__ Indicates if the cluster is protected by a resource lock. Supported values are:


                      - `cannot_delete`. The cluster can''t be deleted.


                      - An empty array indicates there is no resource lock. The cluster can be deleted.


                      Only account administrators can remove locks using the [Delete a resource lock](https://techdocs.akamai.com/linode-api/reference/delete-resource-lock) operation.


                      > 🚧

                      >

                      > - This field is available as part of the beta API. Call the URL with the `apiVersion` path parameter set to `v4beta`.

                      >

                      > - The `cannot_delete_with_subresources` form of lock that''s available with other resources does not apply to an LKE cluster.'
                    example:
                    - cannot_delete
                    items:
                      enum:
                      - cannot_delete
                      type: string
                    readOnly: true
                    type: array
                    x-akamai:
                      status: BETA
                  region:
                    description: __Filterable__ This Kubernetes cluster's location.
                    example: us-central
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 3
                    x-linode-filterable: true
                  stack_type:
                    default: ipv4
                    description: '__Beta__, __LKE Enterprise__ The networking stack type of the Kubernetes cluster, either `ipv4` or `ipv4-ipv6`. This specifies that the cluster is IPv4 only (default) or supports both IPv4 and IPv6 (dual-stack).


                      > 🚧

                      >

                      > This field is available as part of the beta API and can only be used by accounts with access to LKE Enterprise. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                    enum:
                    - ipv4
                    - ipv4-ipv6
                    example: ipv4
                    type: string
                    x-akamai:
                      labels:
                      - LKE Enterprise
                      status: BETA
                  status:
                    description: __Read-only__ This field is not currently in use and can be ignored. A value of `ready` is always returned.
                    enum:
                    - ready
                    example: ready
                    readOnly: true
                    type: string
                  subnet_id:
                    description: '__Beta__, __LKE Enterprise__ The ID of the VPC subnet to use for the Kubernetes cluster. This subnet must have both IPv4 and IPv6 enabled (dual-stack). When this field is specified, the cluster is deployed to the given subnet and its corresponding VPC. To specify a VPC and have a subnet auto-allocated, use `vpc_id` instead. If `subnet_id` and `vpc_id` are both unspecified, a new VPC and subnet are auto-allocated for the cluster.


                      > 🚧

                      >

                      > This field is available as part of the beta API and can only be used by accounts with access to LKE Enterprise. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                    example: 123456
                    type: integer
                    x-akamai:
                      labels:
                      - LKE Enterprise
                      status: BETA
                  tags:
                    description: __Filterable__ An array of tags applied to the Kubernetes cluster. Tags are for organizational purposes only.
                    example:
                    - ecomm
                    - blogs
                    items:
                      type: string
                    type: array
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-filterable: true
                  tier:
                    description: '__Beta__, __Filterable__ The desired Kubernetes tier, either `standard` or `enterprise`.


                      > 🚧

                      >

                      > This field is available as part of the beta API. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                    enum:
                    - standard
                    - enterprise
                    example: standard
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                      status: BETA
                    x-linode-cli-display: 5
                    x-linode-filterable: true
                  updated:
                    description: __Read-only__ When this Kubernetes cluster was updated.
                    example: '2019-09-13T21:24:16Z'
                    readOnly: true
                    type: string
                  vpc_id:
                    description: '__Beta__, __LKE Enterprise__ The ID of the VPC to use for the Kubernetes cluster. An appropriately sized subnet is auto-allocated. To specify an existing subnet, use `subnet_id` instead. If `subnet_id` and `vpc_id` are both unspecified, a new VPC and subnet are auto-allocated for the cluster.


                      > 🚧

                      >

                      > This field is available as part of the beta API and can only be used by accounts with access to LKE Enterprise. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                    example: 123456
                    type: integer
                    x-akamai:
                      labels:
                      - LKE Enterprise
                      status: BETA
                type: object
                x-akamai:
                  file-path: schemas/lke-cluster.yaml
          description: Returns a single Kubernetes cluster.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - lke:read_only
      summary: Get a Kubernetes cluster
      tags:
      - LKE clusters
      x-akamai:
        tabs:
        - syntax: linode-cli lke cluster-view 12345
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: cluster-view
      x-linode-iam:
      - roles:
        - lkecluster_viewer
    put:
      description: 'Updates a Kubernetes cluster.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs these roles assigned. Learn more.

        - Roles: `lkecluster_admin`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `lke:read_write`


        **CLI**


        ```shell

        linode-cli lke cluster-update 12345 \

        --label lkecluster54321 \

        --control_plane.high_availability true \

        --k8s_version 1.33 \

        --tags ecomm \

        --tags blog \

        --tags prod \

        --tags monitoring

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/put-lke-cluster
      operationId: put-lke-cluster
      requestBody:
        content:
          application/json:
            example:
              label: example-cluster
            schema:
              additionalProperties: false
              properties:
                control_plane:
                  additionalProperties: false
                  description: 'Defines settings for the Kubernetes control plane, including High Availability (HA) and an IP-based Access Control List (ACL) for the control plane components.


                    When upgrading pre-existing LKE clusters to use the HA Control Plane, the following changes will additionally occur:


                    - All nodes will be deleted and new nodes will be created to replace them.


                    - Any local storage (such as `hostPath` volumes) will be erased.


                    - The upgrade process may take several minutes to complete, as nodes will be replaced on a rolling basis.


                    When upgrading pre-existing LKE clusters to use the control plane ACL for the first time, it may take several hours for external clients to respect the access control settings. This is partly due to delays from DNS propagation.'
                  properties:
                    acl:
                      additionalProperties: false
                      description: Defines settings related to the IP-based ACL of the LKE cluster. The object requires the `enabled` and `addresses` keys. It also supports the optional key `revision-id`. The default policy is set to `ALLOW`, so that access controls are disabled. An empty object value (`{}`) sets default elements.
                      properties:
                        addresses:
                          additionalProperties: false
                          default: {}
                          description: Supports keys `ipv4` and `ipv6`. The default value is an empty object.
                          properties:
                            ipv4:
                              description: A list of individual IPv4 addresses or CIDRs to `ALLOW`. Defaults to `[]`.
                              items:
                                type: string
                              type: array
                            ipv6:
                              description: A list of individual IPv6 addresses or CIDRs to `ALLOW`. Defaults to `[]`.
                              items:
                                type: string
                              type: array
                          type: object
                        enabled:
                          default: true
                          description: Defines a default policy. A value of `true` results in a default policy of `DENY`. A value of `false` results in a default policy of `ALLOW`, such as for disabled access controls. Creating a cluster with ACL, or upgrading a cluster to use ACL for LKE, is an irreversible change. Once upgraded, you can only toggle access controls with this field.
                          type: boolean
                          x-linode-cli-display: 7
                        revision-id:
                          description: Enables clients to track events related to ACL update requests and enforcements. If omitted, this defaults to a randomly generated string.
                          type: string
                      type: object
                    audit_logs_enabled:
                      default: false
                      description: '__Beta__, __LKE Enterprise__ Enables audit logs on the cluster''s control plane. These logs provide detailed information about user access and the operations performed on the cluster, which can be useful for security and compliance. See [LKE audit logs](https://techdocs.akamai.com/cloud-computing/docs/lke-audit-logs) for more information.


                        > 🚧

                        >

                        > This field is available as part of the beta API and can only be used by accounts with access to LKE Enterprise. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                      example: true
                      type: boolean
                      x-akamai:
                        labels:
                        - LKE Enterprise
                        status: BETA
                      x-linode-cli-display: 4
                    high_availability:
                      default: false
                      description: Enables High Availability for the cluster's control plane components. It defaults to `false`. Enabling High Availability for LKE is an irreversible change.
                      example: true
                      type: boolean
                      x-linode-cli-display: 6
                    metrics_enabled:
                      default: false
                      description: '__Beta__, __LKE Enterprise__, __Write-only__ Enables metrics on the cluster''s control plane. These metrics provide detailed information about the performance and resource usage of the cluster, which can be useful for monitoring and optimization purposes. See [Metrics for LKE Enterprise](https://techdocs.akamai.com/cloud-computing/docs/lke-e-metrics) for more information.


                        > 🚧

                        >

                        > This field is available as part of the beta API and can only be used by accounts with access to LKE Enterprise. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                      example: true
                      type: boolean
                      writeOnly: true
                      x-akamai:
                        labels:
                        - LKE Enterprise
                        status: BETA
                      x-linode-cli-display: 5
                  type: object
                k8s_version:
                  description: 'The desired Kubernetes version for this Kubernetes cluster in the format of &lt;major&gt;.&lt;minor&gt;. New and recycled Nodes in this cluster will be installed with the latest available patch for the Cluster''s Kubernetes version.


                    When upgrading the Kubernetes version, only the next latest minor version following the current version can be deployed. For example, a cluster with Kubernetes version 1.29 can be upgraded to version 1.30, but not directly to 1.31.


                    The Kubernetes version of a cluster can not be downgraded.'
                  example: '{{k8s_version}}'
                  type: string
                label:
                  description: "__Filterable__ This Kubernetes cluster's unique label for display purposes only. Labels have the following constraints:\n\n  - UTF-8 characters will be returned by the API using escape sequences of their Unicode code points. For example, the Japanese character _か_ is 3 bytes in UTF-8 (`0xE382AB`). Its Unicode code point is 2 bytes (`0x30AB`). APIv4 supports this character and the API will return it as the escape sequence using six 1 byte characters which represent 2 bytes of Unicode code point (`\"\\u30ab\"`).\n\n  - 4 byte UTF-8 characters are not supported.\n\n  - If the label is entirely composed of UTF-8 characters, the API response will return the code points using up to 193 1 byte characters."
                  example: '{{label}}'
                  maxLength: 32
                  minLength: 1
                  type: string
                  x-akamai:
                    labels:
                    - Filterable
                  x-linode-cli-display: 2
                  x-linode-filterable: true
                tags:
                  description: An array of tags applied to the Kubernetes cluster. Tags are for organizational purposes only. To delete a tag, exclude it from your `tags` array.
                  example:
                  - prod
                  - monitoring
                  - ecomm
                  - blog
                  items:
                    type: string
                  type: array
              type: object
              x-akamai:
                file-path: schemas/put-lke-cluster.yaml
      responses:
        '200':
          content:
            application/json:
              example:
                apl_enabled: false
                control_plane:
                  high_availability: false
                created: '2026-03-30T17:00:09'
                id: 123456
                k8s_version: '1.35'
                label: example-cluster
                region: us-east
                status: ready
                tags: []
                updated: '2026-03-30T17:00:09'
              schema:
                additionalProperties: false
                description: A Kubernetes cluster.
                properties:
                  apl_enabled:
                    description: __Write-once__ Indicates whether the Akamai App Platform is installed during creation of the LKE cluster. It defaults to `false`. If set to `true`, `control_plane.high_availability` also needs to be `true`. Automatic installation of the App Platform is only possible when creating a new cluster (not when modifying existing clusters).
                    example: true
                    type: boolean
                    x-akamai:
                      write-once: true
                    x-linode-cli-display: 6
                  control_plane:
                    additionalProperties: false
                    description: Defines settings for the Kubernetes control plane, including enabling High Availability (HA) for the control plane.
                    properties:
                      audit_logs_enabled:
                        default: false
                        description: '__Beta__, __LKE Enterprise__ Enables audit logs on the cluster''s control plane. These logs provide detailed information about user access and the operations performed on the cluster, which can be useful for security and compliance. See [LKE audit logs](https://techdocs.akamai.com/cloud-computing/docs/lke-audit-logs) for more information.


                          > 🚧

                          >

                          > This field is available as part of the beta API and can only be used by accounts with access to LKE Enterprise. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                        example: true
                        type: boolean
                        x-akamai:
                          labels:
                          - LKE Enterprise
                          status: BETA
                        x-linode-cli-display: 4
                      high_availability:
                        default: false
                        description: Enables High Availability for the cluster's control plane components. It defaults to `false`. Enabling High Availability for LKE is an irreversible change.
                        example: true
                        type: boolean
                        x-linode-cli-display: 6
                      metrics_enabled:
                        default: false
                        description: '__Beta__, __LKE Enterprise__, __Write-only__ Enables metrics on the cluster''s control plane. These metrics provide detailed information about the performance and resource usage of the cluster, which can be useful for monitoring and optimization purposes. See [Metrics for LKE Enterprise](https://techdocs.akamai.com/cloud-computing/docs/lke-e-metrics) for more information.


                          > 🚧

                          >

                          > This field is available as part of the beta API and can only be used by accounts with access to LKE Enterprise. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                        example: true
                        type: boolean
                        writeOnly: true
                        x-akamai:
                          labels:
                          - LKE Enterprise
                          status: BETA
                        x-linode-cli-display: 5
                    type: object
                  created:
                    description: __Read-only__ When this Kubernetes cluster was created.
                    example: '2019-09-12T21:25:30Z'
                    readOnly: true
                    type: string
                  id:
                    description: __Read-only__ This Kubernetes cluster's unique ID.
                    example: 1234
                    readOnly: true
                    type: integer
                    x-linode-cli-display: 1
                  k8s_version:
                    description: __Filterable__ The desired Kubernetes version for this Kubernetes cluster in the format of `<major>.<minor>`. The latest supported patch version is deployed.
                    example: '1.33'
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 4
                    x-linode-filterable: true
                  label:
                    description: "__Filterable__ This Kubernetes cluster's unique label for display purposes only. Labels have the following constraints:\n\n  - UTF-8 characters will be returned by the API using escape sequences of their Unicode code points. For example, the Japanese character _か_ is 3 bytes in UTF-8 (`0xE382AB`). Its Unicode code point is 2 bytes (`0x30AB`). APIv4 supports this character and the API will return it as the escape sequence using six 1 byte characters which represent 2 bytes of Unicode code point (`\"\\u30ab\"`).\n\n  - 4 byte UTF-8 characters are not supported.\n\n  - If the label is entirely composed of UTF-8 characters, the API response will return the code points using up to 193 1 byte characters."
                    example: lkecluster12345
                    maxLength: 32
                    minLength: 1
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 2
                    x-linode-filterable: true
                  locks:
                    description: '__Beta__, __Read-only__ Indicates if the cluster is protected by a resource lock. Supported values are:


                      - `cannot_delete`. The cluster can''t be deleted.


                      - An empty array indicates there is no resource lock. The cluster can be deleted.


                      Only account administrators can remove locks using the [Delete a resource lock](https://techdocs.akamai.com/linode-api/reference/delete-resource-lock) operation.


                      > 🚧

                      >

                      > - This field is available as part of the beta API. Call the URL with the `apiVersion` path parameter set to `v4beta`.

                      >

                      > - The `cannot_delete_with_subresources` form of lock that''s available with other resources does not apply to an LKE cluster.'
                    example:
                    - cannot_delete
                    items:
                      enum:
                      - cannot_delete
                      type: string
                    readOnly: true
                    type: array
                    x-akamai:
                      status: BETA
                  region:
                    description: __Filterable__ This Kubernetes cluster's location.
                    example: us-central
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 3
                    x-linode-filterable: true
                  stack_type:
                    default: ipv4
                    description: '__Beta__, __LKE Enterprise__ The networking stack type of the Kubernetes cluster, either `ipv4` or `ipv4-ipv6`. This specifies that the cluster is IPv4 only (default) or supports both IPv4 and IPv6 (dual-stack).


                      > 🚧

                      >

                      > This field is available as part of the beta API and can only be used by accounts with access to LKE Enterprise. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                    enum:
                    - ipv4
                    - ipv4-ipv6
                    example: ipv4
                    type: string
                    x-akamai:
                      labels:
                      - LKE Enterprise
                      status: BETA
                  status:
                    description: __Read-only__ This field is not currently in use and can be ignored. A value of `ready` is always returned.
                    enum:
                    - ready
                    example: ready
                    readOnly: true
                    type: string
                  subnet_id:
                    description: '__Beta__, __LKE Enterprise__ The ID of the VPC subnet to use for the Kubernetes cluster. This subnet must have both IPv4 and IPv6 enabled (dual-stack). When this field is specified, the cluster is deployed to the given subnet and its corresponding VPC. To specify a VPC and have a subnet auto-allocated, use `vpc_id` instead. If `subnet_id` and `vpc_id` are both unspecified, a new VPC and subnet are auto-allocated for the cluster.


                      > 🚧

                      >

                      > This field is available as part of the beta API and can only be used by accounts with access to LKE Enterprise. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                    example: 123456
                    type: integer
                    x-akamai:
                      labels:
                      - LKE Enterprise
                      status: BETA
                  tags:
                    description: __Filterable__ An array of tags applied to the Kubernetes cluster. Tags are for organizational purposes only.
                    example:
                    - ecomm
                    - blogs
                    items:
                      type: string
                    type: array
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-filterable: true
                  tier:
                    description: '__Beta__, __Filterable__ The desired Kubernetes tier, either `standard` or `enterprise`.


                      > 🚧

                      >

                      > This field is available as part of the beta API. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                    enum:
                    - standard
                    - enterprise
                    example: standard
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                      status: BETA
                    x-linode-cli-display: 5
                    x-linode-filterable: true
                  updated:
                    description: __Read-only__ When this Kubernetes cluster was updated.
                    example: '2019-09-13T21:24:16Z'
                    readOnly: true
                    type: string
                  vpc_id:
                    description: '__Beta__, __LKE Enterprise__ The ID of the VPC to use for the Kubernetes cluster. An appropriately sized subnet is auto-allocated. To specify an existing subnet, use `subnet_id` instead. If `subnet_id` and `vpc_id` are both unspecified, a new VPC and subnet are auto-allocated for the cluster.


                      > 🚧

                      >

[...]
