openapi: 3.1.0
info:
  title: Linode API v4 Account Regions API
  description: The Linode API v4 provides programmatic access to the full range of Akamai Connected Cloud (formerly Linode) products and services. It enables developers to create and manage compute instances, deploy Kubernetes clusters, configure NodeBalancers, manage DNS domains, provision Block Storage volumes, control Object Storage buckets, set up firewalls, and administer account settings. The RESTful API uses OAuth and personal access tokens for authentication and returns JSON responses, with support for filtering and sorting across all resource endpoints.
  version: 4.189.0
  contact:
    name: Linode Support
    url: https://www.linode.com/support/
  termsOfService: https://www.linode.com/legal-tos/
servers:
- url: https://api.linode.com/v4
  description: Production Server
security:
- personalAccessToken: []
- oauth: []
tags:
- name: Regions
  description: List available data center regions and their capabilities for deploying Linode services.
paths:
  /regions:
    get:
      operationId: getRegions
      summary: List regions
      description: Returns a list of all available regions where Linode services can be deployed, including their capabilities and status.
      tags:
      - Regions
      responses:
        '200':
          description: Regions retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRegionList'
  /regions/{regionId}:
    get:
      operationId: getRegion
      summary: Get a region
      description: Returns the details for a single region.
      tags:
      - Regions
      parameters:
      - $ref: '#/components/parameters/regionIdParam'
      responses:
        '200':
          description: Region retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Region'
        '404':
          description: Region not found
components:
  parameters:
    regionIdParam:
      name: regionId
      in: path
      required: true
      schema:
        type: string
      description: The ID of the region.
  schemas:
    PaginatedRegionList:
      allOf:
      - $ref: '#/components/schemas/Pagination'
      - type: object
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/Region'
    Region:
      type: object
      properties:
        id:
          type: string
          description: The unique ID of this region.
        label:
          type: string
          description: The display name for this region.
        country:
          type: string
          description: The two-letter country code for this region.
        capabilities:
          type: array
          items:
            type: string
          description: The capabilities available in this region.
        status:
          type: string
          enum:
          - ok
          - outage
          description: The current operational status.
        resolvers:
          type: object
          properties:
            ipv4:
              type: string
              description: Comma-separated IPv4 resolver addresses.
            ipv6:
              type: string
              description: Comma-separated IPv6 resolver addresses.
          description: DNS resolvers for this region.
        site_type:
          type: string
          enum:
          - core
          - edge
          - distributed
          description: The type of data center site.
    Pagination:
      type: object
      properties:
        page:
          type: integer
          description: The current page number.
        pages:
          type: integer
          description: The total number of pages.
        results:
          type: integer
          description: The total number of results.
  securitySchemes:
    personalAccessToken:
      type: http
      scheme: bearer
      description: A personal access token generated from the Linode Cloud Manager that grants access to the API based on the token's scopes.
    oauth:
      type: oauth2
      description: OAuth 2.0 authentication for third-party applications.
      flows:
        authorizationCode:
          authorizationUrl: https://login.linode.com/oauth/authorize
          tokenUrl: https://login.linode.com/oauth/token
          scopes:
            account:read_only: Read access to account information
            account:read_write: Read and write access to account information
            domains:read_only: Read access to domains
            domains:read_write: Read and write access to domains
            events:read_only: Read access to events
            events:read_write: Read and write access to events
            firewall:read_only: Read access to firewalls
            firewall:read_write: Read and write access to firewalls
            images:read_only: Read access to images
            images:read_write: Read and write access to images
            ips:read_only: Read access to IP addresses
            ips:read_write: Read and write access to IP addresses
            linodes:read_only: Read access to Linodes
            linodes:read_write: Read and write access to Linodes
            lke:read_only: Read access to LKE
            lke:read_write: Read and write access to LKE
            longview:read_only: Read access to Longview
            longview:read_write: Read and write access to Longview
            nodebalancers:read_only: Read access to NodeBalancers
            nodebalancers:read_write: Read and write access to NodeBalancers
            object_storage:read_only: Read access to Object Storage
            object_storage:read_write: Read and write access to Object Storage
            stackscripts:read_only: Read access to StackScripts
            stackscripts:read_write: Read and write access to StackScripts
            volumes:read_only: Read access to Volumes
            volumes:read_write: Read and write access to Volumes
            vpc:read_only: Read access to VPCs
            vpc:read_write: Read and write access to VPCs
externalDocs:
  description: Linode API v4 Documentation
  url: https://techdocs.akamai.com/linode-api/reference/api
