openapi: 3.2.0
info:
  description: Add a Cloud Computing instance so you can build, release, and scale applications faster with virtual machines.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: 'Akamai: Linode Managed issues API'
  version: 4.229.1
servers:
- url: https://api.linode.com
tags:
- description: View details about issues detected on your managed Linodes and their resolution status.
  name: Managed issues
paths:
  /{apiVersion}/managed/issues:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    x-akamai:
      file-path: paths/managed-issues.yaml
      path-info: /{apiVersion}/managed/issues
    x-linode-cli-command: managed
    get:
      description: 'Returns a paginated list of recent and ongoing issues detected on your service monitors.


        This operation can only be accessed by the unrestricted users of an account.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `account:read_only`


        **CLI**


        ```shell

        linode-cli managed issues-list

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-managed-issues
      operationId: get-managed-issues
      parameters:
      - description: The page of a collection to return.
        example: '{{page}}'
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 6
          minimum: 1
          type: integer
        x-akamai:
          file-path: parameters/page-offset.yaml
      - description: The number of items to return per page.
        example: '{{page_size}}'
        in: query
        name: page_size
        schema:
          default: 100
          example: 50
          maximum: 500
          minimum: 25
          type: integer
        x-akamai:
          file-path: parameters/page-size.yaml
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - created: '2018-01-01T00:01:01'
                  entity:
                    id: 98765
                    label: Managed Issue opened!
                    type: ticket
                    url: /support/tickets/98765
                  id: 823
                  services:
                  - 654
                page: 1
                pages: 1
                results: 1
              schema:
                additionalProperties: false
                properties:
                  data:
                    items:
                      additionalProperties: false
                      description: An Issue that was detected with a service Linode is managing.
                      properties:
                        created:
                          description: __Read-only__ When this Issue was created. Issues are created in response to issues detected with Managed Services, so this is also when the Issue was detected.
                          example: '2018-01-01T00:01:01'
                          readOnly: true
                          type: string
                          x-linode-cli-display: 2
                        entity:
                          additionalProperties: false
                          description: __Read-only__ The ticket this Managed Issue opened.
                          properties:
                            id:
                              description: __Read-only__ This ticket's ID.
                              example: 98765
                              readOnly: true
                              type: integer
                            label:
                              description: __Read-only__ The summary for this Ticket.
                              example: Managed Issue opened!
                              readOnly: true
                              type: string
                            type:
                              description: __Read-only__ The type of entity this is. This value is always `ticket`.
                              enum:
                              - ticket
                              example: ticket
                              readOnly: true
                              type: string
                            url:
                              description: __Read-only__ The relative URL where you can access this Ticket.
                              example: /support/tickets/98765
                              readOnly: true
                              type: string
                          readOnly: true
                          type: object
                          x-linode-cli-display: 4
                        id:
                          description: __Read-only__ This Issue's unique ID.
                          example: 823
                          readOnly: true
                          type: integer
                          x-linode-cli-display: 1
                        services:
                          description: __Read-only__ An array of Managed Service IDs that were affected by this Issue.
                          items:
                            example: 654
                            type: integer
                          readOnly: true
                          type: array
                          x-linode-cli-display: 3
                      type: object
                      x-akamai:
                        file-path: schemas/managed-issue.yaml
                    type: array
                  page:
                    description: __Read-only__ The current [page](https://techdocs.akamai.com/linode-api/reference/pagination).
                    example: 1
                    readOnly: true
                    type: integer
                  pages:
                    description: __Read-only__ The total number of [pages](https://techdocs.akamai.com/linode-api/reference/pagination).
                    example: 1
                    readOnly: true
                    type: integer
                  results:
                    description: __Read-only__ The total number of results.
                    example: 1
                    readOnly: true
                    type: integer
                type: object
                x-akamai:
                  file-path: schemas/get-managed-issues-200.yaml
          description: A paginated list of open or ongoing Managed Issues.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_only
      summary: List managed issues
      tags:
      - Managed issues
      x-akamai:
        tabs:
        - syntax: linode-cli managed issues-list
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
        - syntax: account:read_only
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action: issues-list
      x-linode-grant: unrestricted only
  /{apiVersion}/managed/issues/{issueId}:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    - description: The Issue to look up.
      example: '{{issueId}}'
      in: path
      name: issueId
      required: true
      schema:
        example: 574
        type: integer
      x-akamai:
        file-path: parameters/issue-id-path.yaml
    x-akamai:
      file-path: paths/managed-issue.yaml
      path-info: /{apiVersion}/managed/issues/{issueId}
    x-linode-cli-command: managed
    get:
      description: 'Returns a single issue affecting one of your service monitors.


        This operation can only be accessed by the unrestricted users of an account.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `account:read_only`


        **CLI**


        ```shell

        linode-cli managed issue-view 823

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-managed-issue
      operationId: get-managed-issue
      responses:
        '200':
          content:
            application/json:
              example:
                created: '2018-01-01T00:01:01'
                entity:
                  id: 98765
                  label: Managed Issue opened!
                  type: ticket
                  url: /support/tickets/98765
                id: 823
                services:
                - 654
              schema:
                additionalProperties: false
                description: An Issue that was detected with a service Linode is managing.
                properties:
                  created:
                    description: __Read-only__ When this Issue was created. Issues are created in response to issues detected with Managed Services, so this is also when the Issue was detected.
                    example: '2018-01-01T00:01:01'
                    readOnly: true
                    type: string
                    x-linode-cli-display: 2
                  entity:
                    additionalProperties: false
                    description: __Read-only__ The ticket this Managed Issue opened.
                    properties:
                      id:
                        description: __Read-only__ This ticket's ID.
                        example: 98765
                        readOnly: true
                        type: integer
                      label:
                        description: __Read-only__ The summary for this Ticket.
                        example: Managed Issue opened!
                        readOnly: true
                        type: string
                      type:
                        description: __Read-only__ The type of entity this is. This value is always `ticket`.
                        enum:
                        - ticket
                        example: ticket
                        readOnly: true
                        type: string
                      url:
                        description: __Read-only__ The relative URL where you can access this Ticket.
                        example: /support/tickets/98765
                        readOnly: true
                        type: string
                    readOnly: true
                    type: object
                    x-linode-cli-display: 4
                  id:
                    description: __Read-only__ This Issue's unique ID.
                    example: 823
                    readOnly: true
                    type: integer
                    x-linode-cli-display: 1
                  services:
                    description: __Read-only__ An array of Managed Service IDs that were affected by this Issue.
                    items:
                      example: 654
                      type: integer
                    readOnly: true
                    type: array
                    x-linode-cli-display: 3
                type: object
                x-akamai:
                  file-path: schemas/managed-issue.yaml
          description: The requested issue.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_only
      summary: Get a managed issue
      tags:
      - Managed issues
      x-akamai:
        tabs:
        - syntax: linode-cli managed issue-view 823
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
        - syntax: account:read_only
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
      x-linode-cli-action: issue-view
      x-linode-grant: unrestricted only
components:
  securitySchemes:
    oauth:
      flows:
        authorizationCode:
          authorizationUrl: https://login.linode.com/oauth/authorize
          scopes:
            account:read_only: Allows access to GET information about your account.
            account:read_write: Allows access to all endpoints related to your account.
            child_account:read_only: Allows access to GET information about deprecated parent/child operations.
            child_account:read_write: Allows access to deprecated parent/child operations.
            databases:read_only: Allows access to GET information about databases.
            databases:read_write: Allows access to all endpoints related to databases.
            domains:read_only: Allows access to GET Domains on your account.
            domains:read_write: Allows access to all Domain endpoints.
            events:read_only: Allows access to GET your Events.
            events:read_write: Allows access to all endpoints related to your Events.
            firewall:read_only: Allows access to GET information about your Firewalls.
            firewall:read_write: Allows access to all Firewall endpoints.
            images:read_only: Allows access to GET your Images.
            images:read_write: Allows access to all endpoints related to your Images.
            ips:read_only: Allows access to GET your ips.
            ips:read_write: Allows access to all endpoints related to your ips.
            linodes:read_only: Allows access to GET Linodes on your account.
            linodes:read_write: Allow access to all endpoints related to your Linodes.
            lke:read_only: Allows access to GET LKE Clusters on your account.
            lke:read_write: Allows access to all endpoints related to LKE Clusters on your account.
            longview:read_only: Allows access to GET your Longview Clients.
            longview:read_write: Allows access to all endpoints related to your Longview Clients.
            monitor:read_only: Allows access to Monitor (Akamai Cloud Pulse) data.
            monitor:read_write: Allows access to GET Monitor (Akamai Cloud Pulse) data.
            nodebalancers:read_only: Allows access to GET NodeBalancers on your account.
            nodebalancers:read_write: Allows access to all NodeBalancer endpoints.
            object_storage:read_only: Allows access to GET information related to your Object Storage.
            object_storage:read_write: Allows access to all Object Storage endpoints.
            stackscripts:read_only: Allows access to GET your StackScripts.
            stackscripts:read_write: Allows access to all endpoints related to your StackScripts.
            volumes:read_only: Allows access to GET your Volumes.
            volumes:read_write: Allows access to all endpoints related to your Volumes.
            vpc:read_write: Allows access to all endpoints related to VPC and Subnet creation, updating, and deletion.
          tokenUrl: https://login.linode.com/oauth/token
      type: oauth2
    personalAccessToken:
      scheme: bearer
      type: http
externalDocs:
  description: See documentation for Akamai's Linode API
  url: https://techdocs.akamai.com/linode-api/reference
x-readme:
  explorer-enabled: false
  samples-languages:
  - curl
  - python
  - node
