openapi: 3.2.0
info:
  title: Linode Node Balancers API
  version: '1.0'
  description: 'Operations tagged NodeBalancers across 2 of this provider''s published API definitions: linode-api-v4-official-openapi.json, linode-api-v4-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.linode.com
- url: https://api.linode.com/v4
  description: Production Server
tags:
- description: NodeBalancers is Linode's load balancing service. Use the NodeBalancers endpoints to create and manage NodeBalancers. You can also create and maintain configurations; create and maintain nodes, and view statistics.
  name: NodeBalancers
paths:
  /{apiVersion}/nodebalancers:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    x-akamai:
      file-path: paths/node-balancers.yaml
      path-info: /{apiVersion}/nodebalancers
    x-linode-cli-command: nodebalancers
    post:
      description: 'Creates a NodeBalancer in the requested Region. Only available in regions with "NodeBalancers" in their `capabilities`.


        NodeBalancers require a port config with at least one backend node to start serving requests.


        When using the Linode CLI to create a NodeBalancer, first create a NodeBalancer without any configs. Then, create configs and nodes for that NodeBalancer with the respective Create a config and Create a node operations.


        After creating a NodeBalancer, account administrators can add a lock to prevent accidental NodeBalancer deletion by using the Create a resource lock operation.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs a role with these permissions assigned. Learn more.

        - Permissions: `create_nodebalancer`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `nodebalancers:read_write`


        **CLI**


        ```shell

        linode-cli nodebalancers create \

        --region us-east \

        --label balancer12345 \

        --ipv4 "192.0.2.141" \

        --client_conn_throttle 0

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/post-node-balancer
      operationId: post-node-balancer
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: false
              properties:
                client_conn_throttle:
                  description: Throttle TCP connections per second for TCP, HTTP, and HTTPS configurations.  Set to `0` (zero) to disable throttling.
                  example: '{{client_conn_throttle}}'
                  maximum: 20
                  minimum: 0
                  type: integer
                  x-linode-cli-display: 9
                configs:
                  description: The port configs to create for this NodeBalancer. Each config needs a unique port and at least one node.
                  items:
                    oneOf:
                    - additionalProperties: false
                      description: __Beta__ A NodeBalancer configuration defines the protocol and settings for a specific port on the NodeBalancer. These fields apply to UDP configurations.
                      properties:
                        algorithm:
                          default: roundrobin
                          description: The algorithm this UDP NodeBalancer uses to route traffic to backends.
                          enum:
                          - roundrobin
                          - leastconn
                          - ring_hash
                          example: leastconn
                          type: string
                          x-linode-cli-display: 4
                        check:
                          default: none
                          description: 'The type of check to perform against backends to ensure they are serving requests. This determines if backends are up or down.


                            - If `none`, no check is performed.

                            - `connection` requires only a connection to the backend to succeed.

                            - `http` and `http_body` rely on the backend serving HTTP, and that the response returned matches what is expected.'
                          enum:
                          - none
                          - connection
                          - http
                          - http_body
                          example: http_body
                          type: string
                        check_attempts:
                          default: 3
                          description: How many times to attempt a check before considering a backend to be down.
                          example: 3
                          maximum: 30
                          minimum: 1
                          type: integer
                        check_body:
                          description: This value must be present in the response body of the check in order for it to pass. If this value isn't present in the response body of a check request, the backend is considered to be down.
                          example: it works
                          type: string
                        check_interval:
                          default: 5
                          description: 'How often, in seconds, to check that backends are up and serving requests.


                            Must be greater than `check_timeout`.'
                          example: 90
                          maximum: 3600
                          minimum: 2
                          type: integer
                        check_passive:
                          description: __Read-only__ Must be `false` for UDP.
                          example: false
                          readOnly: true
                          type: boolean
                          x-linode-cli-display: 8
                        check_path:
                          description: The URL path to check on each backend. If the backend does not respond to this request, it's considered to be down.
                          example: /test
                          pattern: ^[a-zA-Z0-9\/\-%?&=.]*$
                          type: string
                        check_timeout:
                          default: 30
                          description: 'How long, in seconds, to wait for a check attempt before considering it failed.


                            Must be less than `check_interval`.'
                          example: 10
                          maximum: 30
                          minimum: 1
                          type: integer
                        cipher_suite:
                          description: __Read-only__ Not applicable for UDP configs.
                          example: none
                          readOnly: true
                          type: string
                          x-linode-cli-color:
                            default_: white
                            legacy: red
                          x-linode-cli-display: 7
                        id:
                          description: __Read-only__ This config's unique ID.
                          example: 7000
                          readOnly: true
                          type: integer
                          x-linode-cli-display: 1
                        nodebalancer_id:
                          description: __Read-only__ The ID for the NodeBalancer this config belongs to.
                          example: 12345
                          readOnly: true
                          type: integer
                        nodes:
                          description: The NodeBalancer nodes that serve this configuration.
                          items:
                            additionalProperties: false
                            description: __Beta__ A NodeBalancer node represents a single backend serving requests for a single port of a NodeBalancer. Nodes are tied to individual NodeBalancer configurations and route traffic over their private IPv4 address, IPv6 address, or VPC IPv4 address. If the same Linode is serving traffic for more than one port on the same NodeBalancer, one NodeBalancer node is required for each config (port) it should serve requests on.  For example, if you have four backends, and each should respond to both UDP and HTTPS requests, you will need two NodeBalancer configs (port 80 and port 443) and four backends each, one for each of the Linodes serving requests for that port.
                            properties:
                              address:
                                description: "Backend nodes can be Linodes and Linodes within a VPC. The following IP types are supported:\n  - For non-VPC backend nodes, the private IPv4 address and port where this backend can be reached.\n  - For non-VPC backend nodes, the public IPv6 address and port where this backend can be reached.\n  - For backend nodes within a VPC, the IPv4 address and port where this backend can be reached."
                                example:
                                - 192.168.210.120:443
                                - 10.100.5.5:80
                                - '[2300:5800::f03c:93ff:fe6e:1264]:8080'
                                format: ip
                                type: string
                                x-linode-cli-display: 3
                              config_id:
                                description: __Read-only__ The NodeBalancer Config ID that this Node belongs to.
                                example: 4567
                                readOnly: true
                                type: integer
                              id:
                                description: __Read-only__ This node's unique ID.
                                example: 54321
                                readOnly: true
                                type: integer
                                x-linode-cli-display: 1
                              label:
                                description: The label for this node.  This is for display purposes only.
                                example: node54321
                                maxLength: 32
                                minLength: 3
                                pattern: '[a-zA-Z0-9-_.]{3,32}'
                                type: string
                                x-linode-cli-display: 2
                              mode:
                                description: __Read-only__ The mode this NodeBalancer should use when sending traffic to this backend. For backend nodes with a UDP config, the `mode` doesn't apply, so the value is `none`.
                                enum:
                                - none
                                example: none
                                readOnly: true
                                type: string
                                x-linode-cli-display: 6
                              nodebalancer_id:
                                description: __Read-only__ The NodeBalancer ID that this Node belongs to.
                                example: 12345
                                readOnly: true
                                type: integer
                              status:
                                description: __Read-only__ The current status of this node, based on the configured checks of its NodeBalancer config.
                                enum:
                                - unknown
                                - UP
                                - DOWN
                                example: UP
                                readOnly: true
                                type: string
                                x-linode-cli-color:
                                  DOWN: red
                                  UP: green
                                  default_: white
                                  unknown: yellow
                                x-linode-cli-display: 4
                              subnet_id:
                                description: Required for VPC backend nodes only. The VPC's subnet. To display information about your VPCs and their subnets, run the [List VPCs](https://techdocs.akamai.com/linode-api/reference/get-vpcs) operation.
                                example: 1
                                type: integer
                                x-linode-cli-display: 8
                              weight:
                                description: Used when picking a backend to serve a request and is not pinned to a single backend yet. Nodes with a higher weight will receive more traffic.
                                example: 50
                                maximum: 255
                                minimum: 1
                                type: integer
                                x-linode-cli-display: 5
                            title: UDP config
                            x-akamai:
                              file-path: schemas/node-balancer-node-udp.yaml
                              status: BETA
                          type: array
                        nodes_status:
                          additionalProperties: false
                          description: __Read-only__ Describes the health of the backends for this port. This data updates periodically as checks are performed against backends.
                          properties:
                            down:
                              description: __Read-only__ The number of backends considered to be `DOWN` and unhealthy.  These are not in rotation, and not serving requests.
                              example: 0
                              readOnly: true
                              type: integer
                            up:
                              description: __Read-only__ The number of backends considered to be `UP` and healthy, and that are serving requests.
                              example: 4
                              readOnly: true
                              type: integer
                          readOnly: true
                          type: object
                          x-linode-cli-display: 11
                        port:
                          default: 80
                          description: This is the port the NodeBalancer listens on for this configuration. Port numbers must be unique across TCP, HTTP, and HTTPS configurations on a single NodeBalancer. However, ports assigned to TCP, HTTP, or HTTPS configurations can also be reused for UDP configurations. For example, Port 80 can simultaneously serve a TCP and a UDP configuration on the same NodeBalancer, but it can't be shared by both a TCP and an HTTP configuration. Although certain ports are traditionally associated with specific protocols, this isn't strictly enforced, and you may configure your NodeBalancer however you find useful.
                          example: 5795
                          maximum: 65535
                          minimum: 1
                          type: integer
                          x-linode-cli-display: 2
                        protocol:
                          default: http
                          description: The protocol the port is configured to serve, `udp` in this case. Review our guide on [Available Protocols](https://www.linode.com/docs/products/networking/nodebalancers/guides/protocols/) for information on protocol features.
                          enum:
                          - udp
                          example: udp
                          type: string
                          x-linode-cli-display: 3
                        proxy_protocol:
                          description: __Read-only__ Must be `none` for UDP.
                          example: none
                          readOnly: true
                          type: string
                        ssl_cert:
                          description: __Read-only__ Not applicable for UDP configs.
                          example: null
                          readOnly: true
                          type:
                          - string
                          - 'null'
                        ssl_commonname:
                          description: __Read-only__ Not applicable for UPD configs.
                          example: ''
                          readOnly: true
                          type: string
                          x-linode-cli-display: 9
                        ssl_fingerprint:
                          description: __Read-only__ Not applicable for UDP configs.
                          example: ''
                          readOnly: true
                          type: string
                          x-linode-cli-display: 10
                        ssl_key:
                          description: __Read-only__ Not applicable for UDP configs.
                          example: null
                          readOnly: true
                          type:
                          - string
                          - 'null'
                        stickiness:
                          default: session
                          description: 'Controls how session stickiness is handled on this port.


                            - If set to `none`, connections are assigned a backend server based on the algorithm configured.

                            - If set to `session`, all packets with the same session identifiers are routed to the same backend server. Two packets are considered part of the same session if they share the same source and destination IP addresses or ports, and are received within a short time window.

                            - If set to `source_ip`, the NodeBalancer uses the client''s source IP address to route all packets from the same client to the same backend server.'
                          enum:
                          - none
                          - session
                          - source_ip
                          example: none
                          type: string
                          x-linode-cli-display: 5
                        udp_check_port:
                          default: 80
                          description: UDP NodeBalancers use TCP and HTTP active health checks to ensure back-end nodes can receive traffic. You can specify the health check port that the backend node listens on, which may differ from the UDP port used to serve traffic.
                          example: 5795
                          maximum: 65535
                          minimum: 1
                          type: integer
                          x-linode-cli-display: 6
                        udp_session_timeout:
                          default: 16
                          description: __Read-only__ The maximum duration in seconds, a UDP session can be idle before it is closed.
                          example: 2
                          maximum: 300
                          minimum: 1
                          readOnly: true
                          type: integer
                          x-linode-cli-display: 12
                      required:
                      - nodes
                      title: UDP
                      type: object
                      x-akamai:
                        file-path: schemas/node-balancer-config-udp.yaml
                        status: BETA
                    - additionalProperties: false
                      description: A NodeBalancer configuration defines the protocol and settings for a specific port on the NodeBalancer. These fields apply to TCP configurations.
                      properties:
                        algorithm:
                          default: roundrobin
                          description: The algorithm this TCP NodeBalancer uses to route traffic to backends.
                          enum:
                          - roundrobin
                          - leastconn
                          - source
                          example: leastconn
                          type: string
                          x-linode-cli-display: 4
                        check:
                          default: none
                          description: 'The type of check to perform against backends to ensure they are serving requests. The `check` is used to determine if backends are up or down.


                            - If `none`, no check is performed.

                            - `connection` requires only a connection to the backend to succeed.

                            - `http` and `http_body` rely on the backend serving HTTP, and that the response returned matches what is expected.'
                          enum:
                          - none
                          - connection
                          - http
                          - http_body
                          example: http_body
                          type: string
                        check_attempts:
                          default: 3
                          description: How many times to attempt a check before considering a backend to be down.
                          example: 3
                          maximum: 30
                          minimum: 1
                          type: integer
                        check_body:
                          description: This value must be present in the response body of the check in order for it to pass. If this value is not present in the response body of a check request, the backend is considered to be down.
                          example: it works
                          type: string
                        check_interval:
                          default: 5
                          description: 'How often, in seconds, to check that backends are up and serving requests.


                            Must be greater than `check_timeout`.'
                          example: 90
                          maximum: 3600
                          minimum: 2
                          type: integer
                        check_passive:
                          default: true
                          description: If `true`, any response from this backend with a `5xx` status code will be enough for it to be considered unhealthy and taken out of rotation.
                          example: true
                          type: boolean
                          x-linode-cli-display: 6
                        check_path:
                          description: The URL path to check on each backend. If the backend does not respond to this request, it's considered to be down.
                          example: /test
                          pattern: ^[a-zA-Z0-9\/\-%?&=.]*$
                          type: string
                        check_timeout:
                          default: 30
                          description: 'How long, in seconds, to wait for a check attempt before considering it failed.


                            Must be less than `check_interval`.'
                          example: 10
                          maximum: 30
                          minimum: 1
                          type: integer
                        cipher_suite:
                          description: __Read-only__ Not applicable for `tcp` configs.
                          example: none
                          readOnly: true
                          type: string
                          x-linode-cli-color:
                            default_: white
                            legacy: red
                          x-linode-cli-display: 7
                        id:
                          description: __Read-only__ This config's unique ID.
                          example: 6000
                          readOnly: true
                          type: integer
                          x-linode-cli-display: 1
                        nodebalancer_id:
                          description: __Read-only__ The ID for the NodeBalancer this config belongs to.
                          example: 12345
                          readOnly: true
                          type: integer
                        nodes:
                          description: The NodeBalancer nodes that serve this configuration.
                          items:
                            additionalProperties: false
                            description: A NodeBalancer node represents a single backend serving requests for a single port of a NodeBalancer. Nodes are tied to individual NodeBalancer configurations and route traffic over their private IPv4 address, IPv6 address, or VPC IPv4 address. If the same Linode is serving traffic for more than one port on the same NodeBalancer, one NodeBalancer node is required for each config (port) it should serve requests on.  For example, if you have four backends, and each should respond to both HTTP and HTTPS requests, you will need two NodeBalancer configs (port 80 and port 443) and four backends each, one for each of the Linodes serving requests for that port.
                            properties:
                              address:
                                description: "Backend nodes can be Linodes and Linodes within a VPC. The following IP types are supported:\n  - For non-VPC backend nodes, the private IPv4 address and port where this backend can be reached.\n  - For non-VPC backend nodes, the public IPv6 address and port where this backend can be reached.\n  - For backend nodes within a VPC, the IPv4 address and port where this backend can be reached."
                                example:
                                - 192.168.210.120:443
                                - 10.100.5.5:80
                                - '[2300:5800::f03c:93ff:fe6e:1264]:8080'
                                format: ip
                                type: string
                                x-linode-cli-display: 3
                              config_id:
                                description: __Read-only__ The NodeBalancer Config ID that this Node belongs to.
                                example: 4567
                                readOnly: true
                                type: integer
                              id:
                                description: __Read-only__ This node's unique ID.
                                example: 54321
                                readOnly: true
                                type: integer
                                x-linode-cli-display: 1
                              label:
                                description: The label for this node.  This is for display purposes only.
                                example: node54321
                                maxLength: 32
                                minLength: 3
                                pattern: '[a-zA-Z0-9-_.]{3,32}'
                                type: string
                                x-linode-cli-display: 2
                              mode:
                                description: 'The mode this NodeBalancer should use when sending traffic to this backend.


                                  - If set to `accept` this backend is accepting traffic.

                                  - If set to `reject` this backend will not receive traffic.

                                  - If set to `drain` this backend will not receive _new_ traffic, but connections already pinned to it will continue to be routed to it.

                                  - If set to `backup`, this backend will only receive traffic if all `accept` nodes are down.'
                                enum:
                                - accept
                                - reject
                                - drain
                                - backup
                                example: accept
                                type: string
                                x-linode-cli-display: 6
                              nodebalancer_id:
                                description: __Read-only__ The NodeBalancer ID that this Node belongs to.
                                example: 12345
                                readOnly: true
                                type: integer
                              status:
                                description: __Read-only__ The current status of this node, based on the configured checks of its NodeBalancer Config.
                                enum:
                                - unknown
                                - UP
                                - DOWN
                                example: UP
                                readOnly: true
                                type: string
                                x-linode-cli-color:
                                  DOWN: red
                                  UP: green
                                  default_: white
                                  unknown: yellow
                                x-linode-cli-display: 4
                              subnet_id:
                                description: Required for VPC backend nodes only. The VPC's subnet. To display information about your VPCs and their subnets, run the [List VPCs](https://techdocs.akamai.com/linode-api/reference/get-vpcs) operation.
                                example: 1
                                type: integer
                                x-linode-cli-display: 8
                              weight:
                                description: Used when picking a backend to serve a request and is not pinned to a single backend yet. Nodes with a higher weight will receive more traffic.
                                example: 50
                                maximum: 255
                                minimum: 1
                                type: integer
                                x-linode-cli-display: 5
                            title: TCP, HTTP, or HTTPS config
                            x-akamai:
                              file-path: schemas/node-balancer-node-tcp-http-https.yaml
                          type: array
                        nodes_status:
                          additionalProperties: false
                          description: __Read-only__ Describes the health of the backends for this port. This data updates periodically as checks are performed against backends.
                          properties:
                            down:
                              description: __Read-only__ The number of backends considered to be `DOWN` and unhealthy.  These are not in rotation, and not serving requests.
                              example: 0
                              readOnly: true
                              type: integer
                            up:
                              description: __Read-only__ The number of backends considered to be `UP` and healthy, and that are serving requests.
                              example: 4
                              readOnly: true
                              type: integer
                          readOnly: true
                          type: object
                          x-linode-cli-display: 10
                        port:
                          default: 80
                          description: This is the port the NodeBalancer listens on for this configuration. Port numbers must be unique across TCP, HTTP, and HTTPS configurations on a single NodeBalancer. However, ports assigned to TCP, HTTP, or HTTPS configurations can also be reused for UDP configurations. For example, Port 80 can simultaneously serve a TCP and a UDP configuration on the same NodeBalancer, but it can't be shared by both a TCP and an HTTP configuration. Although certain ports are traditionally associated with specific protocols, this isn't strictly enforced, and you may configure your NodeBalancer however you find useful.
                          example: 22
                          maximum: 65535
                          minimum: 1
                          type: integer
                          x-linode-cli-display: 2
                        protocol:
                          default: http
                          description: The protocol the port is configured to serve, `tcp` in this case. Review our guide on [Available protocols](https://techdocs.akamai.com/cloud-computing/docs/available-protocols) for information on protocol features.
                          enum:
                          - tcp
                          example: tcp
                          type: string
                          x-linode-cli-display: 3
                        proxy_protocol:
                          default: none
                          description: 'Proxy protocol is a TCP extension that sends initial TCP connection information such as source or destination IPs and ports to backend devices. Proxy protocol preserves initial TCP information that would be lost otherwise. Backend devices must be configured to work with `proxy_protocol` if enabled.


                            - If omitted, or set to `none`, the NodeBalancer doesn''t send any auxiliary data over TCP connections. This is the default.

                            - If set to `v1`, the human-readable header format (Version 1) is used. Requires `tcp` protocol.

                            - If set to `v2`, the binary header format (Version 2) is used. Requires `tcp` protocol.'
                          enum:
                          - none
                          - v1
                          - v2
                          example: none
                          type: string
                        ssl_cert:
                          description: __Read-only__ Not applicable for TCP configs.
                          example: null
                          readOnly: true
                          type:
                          - string
                          - 'null'
                        ssl_commonname:
                          description: __Read-only__ Not applicable for TCP configs.
                          example: ''
                          readOnly: true
                          type: string
                          x-linode-cli-display: 8
                        ssl_fingerprint:
                          description: __Read-only__ Not applicable for TCP configs.
                          example: ''
                          readOnly: true
                          type: string
                          x-linode-cli-display: 9
                        ssl_key:
                          description: __Read-only__ Not applicable for HTTP configs.
                          example: null
                          readOnly: true
                          type:
                          - string
                          - 'null'
                        stickiness:
                          default: none
                          description: '__Read-only__ Controls how session stickiness is handled on this port.


                            - If set to `none`, connections will always be assigned a backend based on the algorithm configured.

                            - If set to `table`, sessions from the same remote address will be routed to the same backend.'
                          enum:
                          - none
                          - table
                          example: none
                          readOnly: true
                          type: string
                          x-linode-cli-display: 5
                      required:
                      - nodes
                      title: TCP
                      type: object
                      x-akamai:
                        file-path: schemas/node-balancer-config-tcp.yaml
                    - additionalProperties: false
                      description: A NodeBalancer configuration defines the protocol and settings for a specific port on the NodeBalancer. These fields apply to HTTP configurations.
                      properties:
                        algorithm:
                          default: roundrobin
                          description: The algorithm this HTTP NodeBalancer uses for routing traffic to backends.
                          enum:
                          - roundrobin
                          - leastconn
                          - source
                          example: roundrobin
                          type: string
                          x-linode-cli-display: 4
                        check:
                          default: none
                          description: 'The type of check to perform against backends to ensure they are serving requests. This determines if backends are up or down.


                            - If `none`, no check is performed.

                            - `connection` requires only a connection to the backend to succeed.

                            - `http` and `http_body` rely on the backend serving HTTP, and that the response returned matches what is expected.'
                          enum:
                          - none
                          - connection
                          - http
                          - http_body
                          example: http_body
                          type: string
                        check_attempts:
                          default: 3
                          description: How many times to attempt a check before considering a backend to be down.
                          example: 3
                          maximum: 30
                          minimum: 1
                          type: integer
                        check_body:
                          description: Use when the active health `check` type is `http_body`. This value must be present in the response body of the check in order for it to pass. If this value is not present in the response body of a check request, the backend is considered to be down.
                          example: it works
                          type: string
                        check_interval:
                          default: 5
                          description: 'How often, in seconds, to check that backends are up and serving requests.


                            Must be greater than `check_timeout`.'
                          example: 90
                          maximum: 3600
                          minimum: 2
                          type: integer
                        check_passive:
                          default: true
                          description: If `true`, any response from this backend with a `5xx` status code will be enough for it to be considered unhealthy and taken out of rotation.
                          example: true
                          type: boolean
                          x-linode-cli-display: 6
                        check_path:
                          description: The URL path to check on each backend. Use when the active health `check` type is `http`. If the backend doesn't respond to this request, it's considered to be down.
                          example: /test
                          pattern: ^[a-zA-Z0-9\/\-%?&=.]*$
                          type: string
                        check_timeout:
                          default: 3
                          description: 'How long, in seconds, to wait for a check attempt before considering it failed.


                            Must be less than `check_interval`.'
                          example: 10
                          maximum: 30
                          minimum: 1
                          type: integer
                        cipher_suite:
                          description: __Read-only__ Not applicable for `http` configs.
                          example: none
                          readOnly: true
                          type: string
                          x-linode-cli-color:
                            default_: white
                            legacy: red
                          x-linode-cli-display: 7
                        id:
                          description: __Read-only__ This config's unique ID.
                          example: 4000
                          readOnly: true
                          type: integer
                          x-linode-cli-display: 1
                        nodebalancer_id:
                          description: __Read-only__ Identifies the NodeBalancer this config belongs to.
                          example: 12345
                          readOnly: true
                          type: integer
                        nodes:
                          description: The NodeBalancer nodes that serve this configuration.
                          items:
                            additionalProperties: false
                            description: A NodeBalancer node represents a single backend serving requests for a single port of a NodeBalancer. Nodes are tied to individual NodeBalancer configurations and route traffic over their private IPv4 address, IPv6 address, or VPC IPv4 address. If the same Linode is serving traffic for more than one port on the same NodeBalancer, one NodeBalancer node is required for each config (port) it should serve requests on.  For example, if you have four backends, and each should respond to both HTTP and HTTPS requests, you will need two NodeBalancer configs (port 80 and port 443) and four backends each, one for each of the Linodes serving requests for that port.
                            properties:
                              address:
                                description: "Backend nodes can be Linodes and Linodes within a VPC. The following IP types are supported:\n  - For non-VPC backend nodes, the private IPv4 address and port where this backend can be reached.\n  - For non-VPC backend nodes, the public IPv6 address and port where this backend can be reached.\n  - For backend nodes within a VPC, the IPv4 address and port where this backend can be reached."
                                example:
                                - 192.168.210.120:443
                                - 10.100.5.5:80
                                - '[2300:5800::f03c:93ff:fe6e:1264]:8080'
                                format: ip
                                type: string
                                x-linode-cli-display: 3
                              config_id:
                                description: __Read-only__ The NodeBalancer Config ID that this Node belongs to.
                                example: 4567
                                readOnly: true
                                type: integer
                              id:
                                description: __Read-only__ This node's unique ID.
                                example: 54321
                                readOnly: true
                                type: integer
                                x-linode-cli-display: 1
                              label:
                                description: The label for this node.  This is for display purposes only.
                                example: node54321
                                maxLength: 32
                                minLength: 3
                                pattern: '[a-zA-Z0-9-_.]{3,32}'
                                type: string
                                x-linode-cli-display: 2
                              mode:
                                description: 'The mode this NodeBalancer should use when sending traffic to this backend.


                                  - If set to `accept` this backend is accepting traffic.

                                  - If set to `reject` this backend will not receive traffic.

                                  - If set to `drain` this backend will not receive _new_ traffic, but connections already pinned to it will continue to be routed to it.

                                  - If set to `backup`, this backend will only receive traffic if all `accept` nodes are down.'
                                enum:
                                - accept
                                - reject
                                - drain
                                - backup
                                example: accept
                                type: string
                                x-linode-cli-display: 6
                              nodebalancer_id:
                                description: __Read-only__ The NodeBalancer ID that this Node belongs to.
                                example: 12345
                                readOnly: true
                                type: integer
                              status:
                                description: __Read-only__ The current status of this node, based on the configured checks of its NodeBalancer Config.
                                enum:
                                - unknown
                                - UP
                                - DOWN
                                example: UP
                                readOnly: true
                                type: string
                                x-linode-cli-color:
                                  DOWN: red
                                  UP: green
                                  default_: white
                                  unknown: yellow
                                x-linode-cli-display: 4
                              subnet_id:
                                description: Required for VPC backend nodes only. The VPC's subnet. To display information about your VPCs and their subnets, run the [List VPCs](https://techdocs.akamai.com/linode-api/reference/get-vpcs) operation.
                                example: 1
                                type: integer
                                x-linode-cli-display: 8
                              weight:
                                description: Used when picking a backend to serve a request and is not pinned to a single backend yet. Nodes with a higher weight will receive more traffic.
                                example: 50
                                maximum: 255
                                minimum: 1
                                type: integer
                                x-linode-cli-display: 5
                            title: TCP, HTTP, or HTTPS config
                            x-akamai:
                              file-path: schemas/node-balancer-node-tcp-http-https.yaml
                          type: array
                        nodes_status:
                          additionalProperties: false
                          description: __Read-only__ Describes the health of the backends for this port. This data updates periodically as checks are performed against backends.
                          properties:
                            down:
                              description: __Read-only__ The number of backends considered to be `DOWN` and unhealthy.  These are not in rotation, and not serving requests.
                              example: 0
                              readOnly: true
                              type: integer
                            up:
                              description: __Read-only__ The number of backends considered to be `UP` and healthy, and that are serving requests.
                              example: 4
                              readOnly: true
                              type: integer
                          readOnly: true
                          type: object
                          x-linode-cli-display: 10
                        port:
                          default: 80
                          description: This is the port the NodeBalancer listens on for this configuration. Port numbers need to be unique across TCP, HTTP, and HTTPS configurations on a single NodeBalancer. However, ports assigned to TCP, HTTP, or HTTPS configurations can also be reused for UDP configurations. For example, Port 80 can simultaneously serve a TCP and a UDP configuration on the same NodeBalancer, but it can't be shared by both a TCP and an HTTP configuration. Although certain ports are traditionally associated with specific protocols, this isn't strictly enforced. You may configure your NodeBalancer however you find useful.
                          example: 80
                          maximum: 65535
                          minimum: 1
                          type: integer
                          x-linode-cli-display: 2
                        protocol:
                          default: http
                          description: The protocol the port is configured to serve, `http` in this case. Review our guide on [Available protocols](https://techdocs.akamai.com/cloud-computing/docs/available-protocols) for information on protocol features.
                          enum:
                          - http
                          example: http
                          type: string
                          x-linode-cli-display: 3
                        proxy_protocol:
                          default: none
                          description: __Read-only__ Not applicable for HTTP configs.
                          example: none
                          readOnly: true
                          type: string
                        ssl_cert:
                          description: __Read-only__ Not applicable for HTTP configs.
                          example: null
                          readOnly: true
                          type:
                          - string
                          - 'null'
                        ssl_commonname:
                          description: __Read-only__ Not applicable for HTTP configs.
                          example: ''
                          readOnly: true
                          type: string
                          x-linode-cli-display: 8
                        ssl_fingerprint:
                          description: __Read-only__ Not applicable for HTTP configs.
                          example: ''
                          readOnly: true
                          type: string
                          x-linode-cli-display: 9
                        ssl_key:
                          description: __Read-only__ Not applicable for HTTP configs.
                          example: null
                          readOnly: true
                          type:
                          - string
                          - 'null'
                        stickiness:
                          default: table
                          description: 'Controls how session stickiness is handled on this port.


                            - If set to `none`, connections will always be assigned a backend based on the algorithm configured.

                            - If set to `table`, sessions from the same remote address will be routed to the same backend.

                            - If set to `http_cookie`, sessions are routed to the same backend based on a cookie set by the NodeBalancer.'
                          enum:
                          - none
                          - table
                          - http_cookie
                          example: http_cookie
                          type: string
                          x-linode-cli-display: 5
                      required:
                      - nodes
                      title: HTTP
                      type: object
                      x-akamai:
                        file-path: schemas/node-balancer-config-http.yaml
                    - additionalProperties: false
                      description: A NodeBalancer configuration defines the protocol and settings for a specific port on the NodeBalancer. These fields apply to HTTPS configurations.
                      properties:
                        algorithm:
                          default: roundrobin
                          description: The algorithm this HTTPS NodeBalancer uses for routing traffic to backends.
                          enum:
                          - roundrobin
                          - leastconn
                          - source
                          example: roundrobin
                          type: string
                          x-linode-cli-display: 4
                        check:
                          default: none
                          description: 'The type of check to perform against backends to ensure they are serving requests. The `check` is used to determine if backends are up or down.


                            - If `none` no check is performed.

                            - `connection` requires only a connection to the backend to succeed.

                            - `http` and `http_body` rely on the backend serving HTTP, and that the response returned matches what is expected.'
                          enum:
                          - none
                          - connection
                          - http
                          - http_body
                          example: http_body
                          type: string
                        check_attempts:
                          default: 3
                          description: How many times to attempt a check before considering a backend to be down.
                          example: 3
                          maximum: 30
                          minimum: 1
                          type: integer
                        check_body:
                          description: Use when the active health `check` type is `http_body`. This value must be present in the response body of the check in order for it to pass. If this value is not present in the response body of a check request, the backend is considered to be down.
                          example: it works
                          type: string
                        check_interval:
                          default: 5
                          description: 'How often, in seconds, to check that backends are up and serving requests.


                            Must be greater than `check_timeout`.'
                          example: 90
                          maximum: 3600
                          minimum: 2
                          type: integer
                        check_passive:
                          default: true
                          description: If `true`, any response from this backend with a `5xx` status code will be enough for it to be considered unhealthy and taken out of rotation.
                          example: true
                          type: boolean
                          x-linode-cli-display: 6
                        check_path:
                          description: The URL path to check on each backend. Use when the active health `check` type is `http`. If the backend doesn't respond to this request, it's considered to be down.
                          example: /test
                          pattern: ^[a-zA-Z0-9\/\-%?&=.]*$
                          type: string
                        check_timeout:
                          default: 3
                          description: 'How long, in seconds, to wait for a check attempt before considering it failed.


                            Must be less than `check_interval`.'
                          example: 10
                          maximum: 30
                          minimum: 1
                          type: integer
                        cipher_suite:
                          default: recommended
                          description: What ciphers to use for SSL connections served by this NodeBalancer. The `legacy` cipher is considered insecure and should only be used if necessary. For information on recommended and legacy ciphers, see [TLS cipher suites](https://techdocs.akamai.com/cloud-computing/docs/tls-ssl-termination-on-nodebalancers#tls-cipher-suites).
                          enum:
                          - recommended
                          - legacy
                          example: recommended
                          type: string
                          x-linode-cli-color:
                            default_: white
                            legacy: red
                          x-linode-cli-display: 7
                        id:
                          description: __Read-only__ This config's unique ID.
                          example: 5000
                          readOnly: true
                          type: integer
                          x-linode-cli-display: 1
                        nodebalancer_id:
                          description: __Read-only__ The ID for the NodeBalancer this config belongs to.
                          example: 12345
                          readOnly: true
                          type: integer
                        nodes:
                          description: The NodeBalancer nodes that serve this configuration.
                          items:
                            additionalProperties: false
                            description: A NodeBalancer node represents a single backend serving requests for a single port of a NodeBalancer. Nodes are tied to individual NodeBalancer configurations and route traffic over their private IPv4 address, IPv6 address, or VPC IPv4 address. If the same Linode is serving traffic for more than one port on the same NodeBalancer, one NodeBalancer node is required for each config (port) it should serve requests on.  For example, if you have four backends, and each should respond to both HTTP and HTTPS requests, you will need two NodeBalancer configs (port 80 and port 443) and four backends each, one for each of the Linodes serving requests for that port.
                            properties:
                              address:
                                description: "Backend nodes can be Linodes and Linodes within a VPC. The following IP types are supported:\n  - For non-VPC backend nodes, the private IPv4 address and port where this backend can be reached.\n  - For non-VPC backend nodes, the public IPv6 address and port where this backend can be reached.\n  - For backend nodes within a VPC, the IPv4 address and port where this backend can be reached."
                                example:
                                - 192.168.210.120:443
                                - 10.100.5.5:80
                                - '[2300:5800::f03c:93ff:fe6e:1264]:8080'
                                format: ip
                                type: string
                                x-linode-cli-display: 3
                              config_id:
                                description: __Read-only__ The NodeBalancer Config ID that this Node belongs to.
                                example: 4567
                                readOnly: true
                                type: integer
                              id:
                                description: __Read-only__ This node's unique ID.
                                example: 54321
                                readOnly: true
                                type: integer
                                x-linode-cli-display: 1
                              label:
                                description: The label for this node.  This is for display purposes only.
                                example: node54321
                                maxLength: 32
                                minLength: 3
                                pattern: '[a-zA-Z0-9-_.]{3,32}'
                                type: string
                                x-linode-cli-display: 2
                              mode:
                                description: 'The mode this NodeBalancer should use when sending traffic to this backend.


                                  - If set to `accept` this backend is accepting traffic.

                                  - If set to `reject` this backend will not receive traffic.

                                  - If set to `drain` this backend will not receive _new_ traffic, but connections already pinned to it will continue to be routed to it.

                                  - If set to `backup`, this backend will only receive traffic if all `accept` nodes are down.'
                                enum:
                                - accept
                                - reject
                                - drain
                                - backup
                                example: accept
                                type: string
                                x-linode-cli-display: 6
                              nodebalancer_id:
                                description: __Read-only__ The NodeBalancer ID that this Node belongs to.
                                example: 12345
                                readOnly: true
                                type: integer
                              status:
                                description: __Read-only__ The current status of this node, based on the configured checks of its NodeBalancer Config.
                                enum:
                                - unknown
                                - UP
                                - DOWN
                                example: UP
                                readOnly: true
                                type: string
                                x-linode-cli-color:
                                  DOWN: red
                                  UP: green
                                  default_: white
                                  unknown: yellow
                                x-linode-cli-display: 4
                              subnet_id:
                                description: Required for VPC backend nodes only. The VPC's subnet. To display information about your VPCs and their subnets, run the [List VPCs](https://techdocs.akamai.com/linode-api/reference/get-vpcs) operation.
                                example: 1
                                type: integer
                                x-linode-cli-display: 8
                              weight:
                                description: Used when picking a backend to serve a request and is not pinned to a single backend yet. Nodes with a higher weight will receive more traffic.
                                example: 50
                                maximum: 255
                                minimum: 1
                                type: integer
                                x-linode-cli-display: 5
                            title: TCP, HTTP, or HTTPS config
                            x-akamai:
                              file-path: schemas/node-balancer-node-tcp-http-https.yaml
                          type: array
                        nodes_status:
                          additionalProperties: false
                          description: __Read-only__ Describes the health of the backends for this port. This data updates periodically as checks are performed against backends.
                          properties:
                            down:
                              description: __Read-only__ The number of backends considered to be `DOWN` and unhealthy.  These are not in rotation, and not serving requests.
                              example: 0
                              readOnly: true
                              type: integer
                            up:
                              description: __Read-only__ The number of backends considered to be `UP` and healthy, and that are serving requests.
                              example: 4
                              readOnly: true
                              type: integer
                          readOnly: true
                          type: object
                          x-linode-cli-display: 10
                        port:
                          default: 80
                          description: This is the port the NodeBalancer listens on for this configuration. Port numbers must be unique across TCP, HTTP, and HTTPS configurations on a single NodeBalancer. However, ports assigned to TCP, HTTP, or HTTPS configurations can also be reused for UDP configurations. For example, Port 80 can simultaneously serve a TCP and a UDP configuration on the same NodeBalancer, but it can't be shared by both a TCP and an HTTP configuration. Although certain ports are traditionally associated with specific protocols, this isn't strictly enforced, and you may configure your NodeBalancer however you find useful.
                          example: 443
                          maximum: 65535
                          minimum: 1
                          type: integer
                          x-linode-cli-display: 2
                        protocol:
                          default: http
                          description: The protocol the port is configured to serve, `https` in this case. Review our guide on [Available protocols](https://techdocs.akamai.com/cloud-computing/docs/available-protocols) for information on protocol features. The `https` protocol needs to be specified with both `ssl_cert` and `ssl_key`.
                          enum:
                          - https
                          example: https
                          type: string
                          x-linode-cli-display: 3
                        proxy_protocol:
                          default: none
                          description: __Read-only__ Not applicable for HTTPS configs.
                          example: none
                          readOnly: true
                          type: string
                        ssl_cert:
                          description: '

                            The PEM-formatted public SSL certificate (or the combined PEM-formatted SSL certificate and Certificate Authority chain) that should be served on this NodeBalancerConfig''s port.


                            Line breaks must be represented as `\n` in the string for requests (but not when using the Linode CLI).


                            [Diffie-Hellman Parameters](https://www.linode.com/docs/products/networking/nodebalancers/guides/ssl-termination/#diffie-hellman-parameters) can be included in this value to enable forward secrecy.


                            The contents of this field will not be shown in any responses that display the NodeBalancerConfig. Instead, `<REDACTED>` will be printed where the field appears.


                            The read-only `ssl_commonname` and `ssl_fingerprint` fields in a NodeBalancerConfig response are automatically derived from your certificate. Please refer to these fields to verify that the appropriate certificate was assigned to your NodeBalancerConfig.'
                          example: <REDACTED>
                          format: ssl-cert
                          type:
                          - string
                          - 'null'
                        ssl_commonname:
                          description: __Read-only__ The read-only common name automatically derived from the SSL certificate assigned to this NodeBalancerConfig. Please refer to this field to verify that the appropriate certificate is assigned to your NodeBalancerConfig.
                          example: www.example.com
                          readOnly: true
                          type: string
                          x-linode-cli-display: 8
                        ssl_fingerprint:
                          description: __Read-only__ The read-only SHA1-encoded fingerprint automatically derived from the SSL certificate assigned to this NodeBalancer configuration. Please refer to the `ssl_fingerprint` field to verify that the appropriate certificate is assigned to your NodeBalancer configuration.
                          example: 00:01:02:03:04:05:06:07:08:09:0A:0B:0C:0D:0E:0F:10:11:12:13
                          readOnly: true
                          type: string
                          x-linode-cli-display: 9
                        ssl_key:
                          description: 'The PEM-formatted private key for the SSL certificate set in the `ssl_cert` field.


                            Line breaks must be represented as `\n` in the string for requests (but not when using the Linode CLI).


                            The contents of this field will not be shown in any responses that display

                            the NodeBalancerConfig. Instead, `<REDACTED>` will be printed where the field

                            appears.


                            The read-only `ssl_commonname` and `ssl_fingerprint` fields in a NodeBalancerConfig

                            response are automatically derived from your certificate. Please refer to these fields to

                            verify that the appropriate certificate was assigned to your NodeBalancerConfig.'
                          example: <REDACTED>
                          format: ssl-key
                          type:
                          - string
                          - 'null'
                        stickiness:
                          default: table
                          description: 'Controls how session stickiness is handled on this port.


                            - If set to `none`, connections will always be assigned a backend based on the algorithm configured.

                            - If set to `table`, sessions from the same remote address will be routed to the same backend.

                            - For HTTP or HTTPS clients, `http_cookie` allows sessions to be routed to the same backend based on a cookie set by the NodeBalancer.'
                          enum:
                          - none
                          - table
                          - http_cookie
                          example: http_cookie
                          type: string
                          x-linode-cli-display: 5
                      required:
                      - nodes
                      title: HTTPS
                      type: object
                      x-akamai:
                        file-path: schemas/node-balancer-config-https.yaml
                    type: object
                  type: array
                firewall_id:
                  description: 'The ID of the Firewall to assign to the NodeBalancer.


                    - A NodeBalancer can have only one Firewall assigned to it.

                    - Firewalls control inbound network traffic to NodeBalancers.'
                  example: '{{firewall_id}}'
                  type: integer
                ipv4:
                  description: To ensure your NodeBalancer maintains a consistent public address, you can specify an unassigned reserved IP from your account during creation. If this field is omitted, the NodeBalancer is assigned a standard ephemeral IP by default.
                  example: '{{ipv4}}'
                  format: ip
                  type: string
                label:
                  description: __Filterable__ This NodeBalancer's label. These must be unique on your Account.
                  example: '{{label}}'
                  maxLength: 32
                  minLength: 3
                  pattern: '[a-zA-Z0-9-_]{3,32}'
                  type: string
                  x-akamai:
                    labels:
                    - Filterable
                  x-linode-cli-display: 2
                  x-linode-filterable: true
                region:
                  description: The ID of the Region to create this NodeBalancer in.
                  example: '{{region}}'
                  type: string
                tags:
                  description: An array of Tags applied to this object. Tags are for organizational purposes only.
                  example:
                  - test
                  - web-dev-team
                  items:
                    type: string
                  type: array
                vpcs:
                  description: You can have only one `vpcs` in a NodeBalancer configuration. If any of your backend nodes are VPC Linodes, specify the VPC subnet and CIDR range. NodeBalancer routes traffic to backend VPC nodes through this subnet. The specified VPC subnet must exist within the same data center as the NodeBalancer, and the provided IP range must be contained within the subnet's CIDR block. All IP addresses within the specified range must be free and available for assignment. Once the NodeBalancer is created, its VPC cannot be changed.
                  items:
                    additionalProperties: false
                    description: You can have only one VPC in a NodeBalancer configuration. If any of your backend nodes are VPC Linodes, specify the VPC subnet and CIDR range. NodeBalancer routes traffic to backend VPC nodes through this subnet. Once the NodeBalancer is created, its VPC cannot be changed.
                    properties:
                      id:
                        description: __Read-only__ Identifies the VPC configuration for this NodeBalancer.
                        example: 6
                        readOnly: true
                        type: integer
                      ipv4_range:
                        description: A CIDR range for the VPC's IPv4 addresses. The NodeBalancer sources IP addresses from this range when routing traffic to the backend VPC nodes. A `/30` subnet defines a range of four addresses. This range is required for high availability of NodeBalancer instances.
                        example: 10.100.5.100/30
                        type: string
                        x-linode-cli-display: 12
                      ipv4_range_auto_assign:
                        default: false
                        description: '__Write-only__ Enables the use of a larger `ipv4_range` subnet for multiple NodeBalancers within the same VPC by allocating smaller `/30` subnets for each NodeBalancer''s backends.


                          - When set to `true`, the system automatically allocates the smallest possible subnet (`/30`) from the provided `ipv4_range` for the NodeBalancer''s backend interface. If the specified range doesn''t have enough available IPs to allocate a `/30` subnet, the creation fails.


                          - When set to `false`, the NodeBalancer is created using the entire `ipv4_range` as specified, without attempting to allocate a `/30` subnet.'
                        example: false
                        type:
                        - boolean
                        - 'null'
                        writeOnly: true
                        x-linode-cli-display: 14
                      nodebalancer_id:
                        description: __Read-only__ Identifies the NodeBalancer.
                        example: 8
                        readOnly: true
                        type: integer
                      subnet_id:
                        description: The VPC's subnet. Run the [List VPCs](https://techdocs.akamai.com/linode-api/reference/get-vpcs) operation provides data for your VPCs and their subnets.
                        example: 1
                        type: integer
                        x-linode-cli-display: 11
                      vpc_id:
                        description: __Read-only__ The `id` of the VPC configured for this NodeBalancer.
                        example: 1
                        readOnly: true
                        type:
                        - integer
                        - 'null'
                    required:
                    - subnet_id
                    type: object
                    x-akamai:
                      file-path: schemas/node-balancer-vpc.yaml
                  type: array
              required:
              - region
              type: object
              x-akamai:
                file-path: schemas/added-post-node-balancer.yaml
            x-example:
              x-ref: ../examples/post-node-balancer.json
        required: true
        x-linode-cli-allowed-defaults:
        - region
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                description: Linode's load balancing solution. Can handle multiple ports, SSL termination, and any number of backends. NodeBalancer ports are configured with NodeBalancer configs, and each config is given one or more NodeBalancer nodes that accepts traffic.  The traffic should be routed to the NodeBalancer's IP address, for the NodeBalancer to handle routing individual requests to backends.
                properties:
                  client_conn_throttle:
                    description: Throttle TCP connections per second for TCP, HTTP, and HTTPS configurations.  Set to `0` (zero) to disable throttling.
                    example: 10
                    maximum: 20
                    minimum: 0
                    type: integer
                    x-linode-cli-display: 9
                  created:
                    description: __Read-only__ When this NodeBalancer was created.
                    example: '2018-01-01T00:01:01'
                    format: date-time
                    readOnly: true
                    type: string
                  hostname:
                    description: __Read-only__ This NodeBalancer's hostname, beginning with its IP address and ending with _.ip.linodeusercontent.com_.
                    example: 192.0.2.141.ip.linodeusercontent.com
                    readOnly: true
                    type: string
                    x-linode-cli-display: 5
                  id:
                    description: __Read-only__ This NodeBalancer's unique ID.
                    example: 12345
                    readOnly: true
                    type: integer
                    x-linode-cli-display: 1
                  ipv4:
                    description: __Filterable__, __Read-only__ This NodeBalancer's public IPv4 address.
                    example: 192.0.2.141
                    format: ip
                    readOnly: true
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 6
                    x-linode-filterable: true
                  ipv6:
                    description: __Read-only__ This NodeBalancer's public IPv6 address.
                    example: null
                    format: ip
                    readOnly: true
                    type:
                    - string
                    - 'null'
                    x-linode-cli-display: 7
                  label:
                    description: __Filterable__ This NodeBalancer's label. These must be unique on your Account.
                    example: balancer12345
                    maxLength: 32
                    minLength: 3
                    pattern: '[a-zA-Z0-9-_]{3,32}'
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 2
                    x-linode-filterable: true
                  lke_cluster:
                    additionalProperties: false
                    description: __Read-only__ This NodeBalancer's related LKE cluster, if any. The value is `null` if this NodeBalancer isn't related to an LKE cluster.
                    properties:
                      id:
                        description: The ID of the related LKE cluster.
                        example: 12345
                        type: string
                      label:
                        description: The label of the related LKE cluster.
                        example: lkecluster12345
                        type: string
                      type:
                        description: __Read-only__ The type for LKE clusters.
                        example: lkecluster
                        readOnly: true
                        type: string
                      url:
                        description: The URL where you can access the related LKE cluster.
                        example: /v4/lke/clusters/12345
                        type: string
                    readOnly: true
                    type:
                    - object
                    - 'null'
                    x-linode-cli-display: 8
                  region:
                    description: __Filterable__, __Read-only__ The Region where this NodeBalancer is located. NodeBalancers only support backends in the same Region.
                    example: us-east
                    readOnly: true
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 3
                    x-linode-filterable: true
                  tags:
                    description: __Filterable__ An array of Tags applied to this object.  Tags are for organizational purposes only.
                    example:
                    - example tag
                    - another example
                    items:
                      type: string
                    type: array
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-filterable: true
                  transfer:
                    additionalProperties: false
                    description: __Read-only__ Information about the amount of transfer this NodeBalancer has had so far this month.
                    properties:
                      in:
                        description: __Read-only__ The total outbound transfer, in MB, used for this NodeBalancer this month.
                        example: 28.91200828552246
                        readOnly: true
                        type:
                        - number
                        - 'null'
                      out:
                        description: __Read-only__ The total inbound transfer, in MB, used for this NodeBalancer this month.
                        example: 3.5487728118896484
                        readOnly: true
                        type:
                        - number
                        - 'null'
                      total:
                        description: __Read-only__ The total transfer, in MB, used by this NodeBalancer this month.
                        example: 32.46078109741211
                        readOnly: true
                        type:
                        - number
                        - 'null'
                    readOnly: true
                    type: object
                  type:
                    description: __Read-only__ The type of NodeBalancer.
                    enum:
                    - common
                    - premium
                    example: premium
                    readOnly: true
                    type: string
                    x-linode-cli-display: 4
                  updated:
                    description: __Read-only__ When this NodeBalancer was last updated.
                    example: '2018-03-01T00:01:01'
                    format: date-time
                    readOnly: true
                    type: string
                title: NodeBalancer
                type: object
                x-akamai:
                  file-path: schemas/node-balancer-lock-na.yaml
              x-example:
                x-ref: ../examples/post-node-balancer-200.json
          description: NodeBalancer created successfully.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - nodebalancers:read_write
      summary: Create a NodeBalancer
      tags:
      - NodeBalancers
      x-akamai:
        tabs:
        - syntax: "linode-cli nodebalancers create \\\n  --region us-east \\\n  --label balancer12345 \\\n  --ipv4 \"192.0.2.141\" \\\n  --client_conn_throttle 0"
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: create
      x-linode-grant: add_nodebalancers
      x-linode-iam:
      - permissions:
        - create_nodebalancer
    get:
      description: 'Returns a paginated list of NodeBalancers you have access to.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs a role with these permissions assigned. Learn more.

        - Permissions: `view_nodebalancer`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `nodebalancers:read_only`


        **CLI**


        ```shell

        linode-cli nodebalancers list

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-node-balancers
      operationId: get-node-balancers
      parameters:
      - description: The page of a collection to return.
        example: '{{page}}'
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 6
          minimum: 1
          type: integer
        x-akamai:
          file-path: parameters/page-offset.yaml
      - description: The number of items to return per page.
        example: '{{page_size}}'
        in: query
        name: page_size
        schema:
          default: 100
          example: 50
          maximum: 500
          minimum: 25
          type: integer
        x-akamai:
          file-path: parameters/page-size.yaml
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    items:
                      additionalProperties: false
                      description: Linode's load balancing solution. Can handle multiple ports, SSL termination, and any number of backends. NodeBalancer ports are configured with NodeBalancer configs, and each config is given one or more NodeBalancer nodes that accepts traffic.  The traffic should be routed to the NodeBalancer's IP address, for the NodeBalancer to handle routing individual requests to backends.
                      properties:
                        client_conn_throttle:
                          description: Throttle TCP connections per second for TCP, HTTP, and HTTPS configurations.  Set to `0` (zero) to disable throttling.
                          example: 10
                          maximum: 20
                          minimum: 0
                          type: integer
                          x-linode-cli-display: 9
                        created:
                          description: __Read-only__ When this NodeBalancer was created.
                          example: '2018-01-01T00:01:01'
                          readOnly: true
                          type: string
                        hostname:
                          description: __Read-only__ This NodeBalancer's hostname, beginning with its IP address and ending with _.ip.linodeusercontent.com_.
                          example: 192.0.2.141.ip.linodeusercontent.com
                          readOnly: true
                          type: string
                          x-linode-cli-display: 5
                        id:
                          description: __Read-only__ This NodeBalancer's unique ID.
                          example: 12345
                          readOnly: true
                          type: integer
                          x-linode-cli-display: 1
                        ipv4:
                          description: __Filterable__, __Read-only__ This NodeBalancer's public IPv4 address.
                          example: 192.0.2.141
                          format: ip
                          readOnly: true
                          type: string
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-cli-display: 6
                          x-linode-filterable: true
                        ipv6:
                          description: __Read-only__ This NodeBalancer's public IPv6 address.
                          example: null
                          format: ip
                          readOnly: true
                          type:
                          - string
                          - 'null'
                          x-linode-cli-display: 7
                        label:
                          description: __Filterable__ This NodeBalancer's label. These must be unique on your Account.
                          example: balancer12345
                          maxLength: 32
                          minLength: 3
                          pattern: '[a-zA-Z0-9-_]{3,32}'
                          type: string
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-cli-display: 2
                          x-linode-filterable: true
                        lke_cluster:
                          additionalProperties: false
                          description: __Read-only__ This NodeBalancer's related LKE cluster, if any. The value is `null` if this NodeBalancer isn't related to an LKE cluster.
                          properties:
                            id:
                              description: The ID of the related LKE cluster.
                              example: 12345
                              type: integer
                            label:
                              description: The label of the related LKE cluster.
                              example: lkecluster12345
                              type: string
                            type:
                              description: __Read-only__ The type for LKE clusters.
                              example: lkecluster
                              readOnly: true
                              type: string
                            url:
                              description: The URL where you can access the related LKE cluster.
                              example: /v4/lke/clusters/12345
                              type: string
                          readOnly: true
                          type:
                          - object
                          - 'null'
                          x-linode-cli-display: 8
                        locks:
                          description: __Beta__, __Filterable__, __Read-only__ Indicates if this NodeBalancer is protected by a lock to prevent accidental deletion. If the NodeBalancer has a `cannot_delete` lock, it can't be deleted, but its configurations and backend nodes can. If the NodeBalancer has a `cannot_delete_with_subresources` lock, both the NodeBalancer and attached resources such as configurations and backend nodes can't be deleted. Only account administrators can remove locks using the [Delete a resource lock](https://techdocs.akamai.com/linode-api/reference/delete-resource-lock) operation.
                          example:
                          - cannot_delete
                          items:
                            enum:
                            - cannot_delete_with_subresources
                            - cannot_delete
                            type: string
                          readOnly: true
                          type:
                          - array
                          - 'null'
                          x-akamai:
                            labels:
                            - Filterable
                            status: BETA
                          x-linode-cli-display: 11
                          x-linode-filterable: true
                        region:
                          description: __Filterable__, __Read-only__ The Region where this NodeBalancer is located. NodeBalancers only support backends in the same Region.
                          example: us-east
                          readOnly: true
                          type: string
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-cli-display: 3
                          x-linode-filterable: true
                        tags:
                          description: __Filterable__ An array of Tags applied to this object.  Tags are for organizational purposes only.
                          example:
                          - example tag
                          - another example
                          items:
                            type: string
                          type: array
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-filterable: true
                        transfer:
                          additionalProperties: false
                          description: __Read-only__ Information about the amount of transfer this NodeBalancer has had so far this month.
                          properties:
                            in:
                              description: __Read-only__ The total outbound transfer, in MB, used for this NodeBalancer this month.
                              example: 28.91200828552246
                              readOnly: true
                              type:
                              - number
                              - 'null'
                            out:
                              description: __Read-only__ The total inbound transfer, in MB, used for this NodeBalancer this month.
                              example: 3.5487728118896484
                              readOnly: true
                              type:
                              - number
                              - 'null'
                            total:
                              description: __Read-only__ The total transfer, in MB, used by this NodeBalancer this month.
                              example: 32.46078109741211
                              readOnly: true
                              type:
                              - number
                              - 'null'
                          readOnly: true
                          type: object
                        type:
                          description: __Read-only__ The type of NodeBalancer.
                          enum:
                          - common
                          - premium
                          example: premium
                          readOnly: true
                          type: string
                          x-linode-cli-display: 4
                        updated:
                          description: __Read-only__ When this NodeBalancer was last updated.
                          example: '2018-03-01T00:01:01'
                          readOnly: true
                          type: string
                      title: NodeBalancer
                      type: object
                      x-akamai:
                        file-path: schemas/node-balancer.yaml
                    type: array
                  page:
                    description: __Read-only__ The current [page](https://techdocs.akamai.com/linode-api/reference/pagination).
                    example: 1
                    readOnly: true
                    type: integer
                  pages:
                    description: __Read-only__ The total number of [pages](https://techdocs.akamai.com/linode-api/reference/pagination).
                    example: 1
                    readOnly: true
                    type: integer
                  results:
                    description: __Read-only__ The total number of results.
                    example: 1
                    readOnly: true
                    type: integer
                type: object
                x-akamai:
                  file-path: schemas/added-get-node-balancers-200.yaml
              x-example:
                x-ref: ../examples/get-node-balancers-200.json
          description: A paginated list of NodeBalancers.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
[...]
