openapi: 3.2.0
info:
  description: Add a Cloud Computing instance so you can build, release, and scale applications faster with virtual machines.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: 'Akamai: Linode LKE node pools API'
  version: 4.229.1
servers:
- url: https://api.linode.com
tags:
- description: Create, manage, and configure node pools within your LKE clusters. Node pools allow you to group nodes with similar configurations and manage them collectively.
  name: LKE node pools
paths:
  /{apiVersion}/lke/clusters/{clusterId}/pools:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    - description: ID of the Kubernetes cluster to look up.
      example: '{{clusterId}}'
      in: path
      name: clusterId
      required: true
      schema:
        example: 12345
        type: integer
      x-akamai:
        file-path: parameters/cluster-id-path.yaml
    x-akamai:
      file-path: paths/lke-pools.yaml
      path-info: /{apiVersion}/lke/clusters/{clusterId}/pools
    x-linode-cli-command: lke
    post:
      description: 'Creates a new node pool for the designated Kubernetes cluster.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs these roles assigned. Learn more.

        - Roles: `lkecluster_admin`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `lke:read_write`


        **CLI**


        ```shell

        linode-cli lke pool-create 12345 \

        --type g6-standard-4 \

        --count 6 \

        --tags example-tag \

        --autoscaler.enabled true \

        --autoscaler.max 12 \

        --autoscaler.min 3 \

        --labels ''{ "example.com/my-app":"team1" }'' \

        --taints.effect "NoSchedule" \

        --taints.key "example.com/my-app" \

        --taints.value "teamA"

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/post-lke-cluster-pools
      operationId: post-lke-cluster-pools
      requestBody:
        content:
          application/json:
            example:
              autoscaler:
                enabled: true
                max: 12
                min: 3
              count: 3
              disk_encryption: enabled
              label: app-pool
              type: g6-standard-4
            schema:
              allOf:
              - additionalProperties: false
                description: Specifies a collection of Linodes to serve as members of a Kubernetes cluster.
                properties:
                  autoscaler:
                    additionalProperties: false
                    description: When enabled, the number of nodes automatically scales within the defined minimum and maximum values. When making a request, `max` and `min` require each other.
                    properties:
                      enabled:
                        description: Whether autoscaling is enabled for this node pool. Defaults to `false`.
                        example: true
                        type: boolean
                        x-linode-cli-display: 5
                      max:
                        description: 'The maximum number of nodes for the node pool when you enable autoscaling. This defaults to the node pool''s `count`.


                          > 📘

                          >

                          > The ability to scale node pools to zero nodes is in limited availability and works with LKE Enterprise clusters only. If your account has access to this feature, `max` can be set to `0` if desired.'
                        example: 12
                        maximum: 100
                        minimum: 1
                        type: integer
                        x-linode-cli-display: 6
                      min:
                        description: 'The minimum number of nodes for the node pool when you enable autoscaling. This defaults to the node pool''s `count`.


                          > 🚧

                          >

                          > Before you can upgrade an LKE Enterprise node pool''s Kubernetes version, adjust this value so that it is at least three nodes for Kubernetes v1.33 (and higher) and at least two nodes for Kubernetes v1.32.


                          > 📘

                          >

                          > The ability to scale node pools to zero nodes is in limited availability and works with LKE Enterprise clusters only. If your account has access to this feature, set `min` to `0` to scale down this node pool to a minimum of zero nodes. This can help reduce costs when the node pool is not in use.'
                        example: 3
                        maximum: 100
                        minimum: 1
                        type: integer
                        x-linode-cli-display: 7
                    type: object
                  count:
                    description: 'The number of nodes in the node pool.


                      > 🚧

                      >

                      > Before you can upgrade an LKE Enterprise node pool''s Kubernetes version, adjust this value so that it is at least three nodes for Kubernetes v1.33 (and higher) and at least two nodes for Kubernetes v1.32.


                      > 📘

                      >

                      > The ability to scale node pools to zero nodes is in limited availability and works with LKE Enterprise clusters only. If your account has access to this feature, set `count` to `0` to create a node pool with zero nodes or adjust an existing node pool down to zero nodes.'
                    example: 6
                    maximum: 100
                    minimum: 1
                    type: integer
                    x-linode-cli-display: 4
                  disk_encryption:
                    default: disabled
                    description: Local disk encryption setting for this LKE node pool, either `enabled` or the default `disabled`.
                    enum:
                    - enabled
                    - disabled
                    example: enabled
                    type: string
                  disks:
                    description: "This node pool's custom disk layout. Each item in this array will create a new disk partition for each node in this node pool.\n\n> \U0001F4D8\n>\n> Omit this field, except for special use cases. The disks specified here are partitions in _addition_ to the primary partition and reduce the size of the primary partition. This can lead to stability problems for the node.\n\n  - The custom disk layout is applied to each node in this node pool.\n\n  - The maximum number of custom disk partitions that can be configured is 7.\n\n  - Once the requested disk partitions are allocated, the remaining disk space is allocated to the node's boot disk.\n\n  - A node pool's custom disk layout is immutable over the lifetime of the node pool."
                    items:
                      additionalProperties: false
                      description: The values to assign to each partition in this node pool's custom disk layout.
                      properties:
                        size:
                          description: The size of this custom disk partition in MB. The size of this disk partition can't exceed the capacity of the node's plan type.
                          example: 1024
                          type: integer
                        type:
                          description: This custom disk partition's file system type, either `raw` or `ext4`.
                          enum:
                          - raw
                          - ext4
                          example: ext4
                          type: string
                      type: object
                    type: array
                    x-linode-cli-format: json
                  firewall_id:
                    description: '__Beta__, __LKE Enterprise__ The `id` of the Cloud Firewall that you wish to assign to this node pool. Review [Recommended firewall settings](https://techdocs.akamai.com/cloud-computing/docs/lke-network-firewall-details#recommended-firewall-settings) to learn which rules should be configured within your firewall for compatibility with LKE.


                      > 🚧

                      >

                      > This field is available as part of the beta API and can only be used by accounts with access to LKE Enterprise. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                    type: integer
                    x-akamai:
                      labels:
                      - LKE Enterprise
                      status: BETA
                  k8s_version:
                    description: '__Beta__, __LKE Enterprise__ The LKE-specific Kubernetes version to use for the worker nodes within this node pool. This field is required when creating node pools on LKE Enterprise clusters.


                      > 🚧

                      >

                      > This field is available as part of the beta API and can only be used by accounts with access to LKE Enterprise. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                    example: v1.31.8+lke3
                    type: string
                    x-akamai:
                      labels:
                      - LKE Enterprise
                      status: BETA
                  label:
                    description: 'An optional label for this node pool. Labels can be up to 32 characters long, containing lowercase alphanumeric characters optionally interspersed with dashes.


                      A node pool''s label also cascades down to its nodes (Linodes). If a label is defined on the node pool, the label for each node is `<cluster-id>-<nodepool-label>-<hash>`. If not, the label is `<cluster-id>-<nodepool-id>-<hash>`.'
                    example: app-pool
                    maxLength: 32
                    minLength: 1
                    pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])$
                    type: string
                  labels:
                    additionalProperties:
                      description: The label's value. See the description for the `labels` field for more information on label value constraints.
                      maxLength: 63
                      minLength: 0
                      pattern: ^(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])?
                      type: string
                      x-additionalPropertiesName: value
                    description: 'Key-value pairs added as labels to nodes in the node pool. Labels help classify your nodes and easily select subsets of objects. To learn more, review the [Labels and taints](https://techdocs.akamai.com/cloud-computing/docs/labels-and-taints) guide.


                      **Label key:**


                      - A key can contain alphanumeric characters, dashes (`-`), underscores (`_`), or dots (`.`). Start and end it with an alphanumeric character.


                      - If the key begins with a DNS subdomain prefix followed by a single slash, for example `example.com/my-app`, the maximum total length of the label key is 128 characters. Domain labels can be up to 62 characters after the ''/''. The prefix needs to adhere to [RFC 1123](https://datatracker.ietf.org/doc/html/rfc1123) DNS subdomain restrictions.


                      - If the key doesn''t begin with a DNS subdomain prefix, the maximum key length is 63 characters.


                      Specifying an empty object removes all previously set labels.


                      **Label value:**


                      - The label''s value can contain alphanumeric characters, dashes (`-`), underscores (`_`), or dots (`.`). Start and end it with an alphanumeric character.


                      - Can be specified as an empty string value with `""`.'
                    example:
                      example.com/my-app: teams
                    type: object
                  tags:
                    description: __Filterable__ Organizational tags to apply to this node pool. When you apply tags to LKE Enterprise node pools, they also apply to the nodes (Linodes) within the node pool. Tags don't cascade down to nodes in non-Enterprise node pools.
                    example:
                    - example tag
                    - another example
                    items:
                      type: string
                    type: array
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-filterable: true
                  taints:
                    description: 'Kubernetes taints to add to node pool nodes. Taints help control how pods are scheduled onto nodes, specifically allowing them to repel certain pods. To learn more, review the [Labels and taints](https://techdocs.akamai.com/cloud-computing/docs/labels-and-taints) guide.


                      Specifying an empty array (`[]`) removes all previously set taints.'
                    example:
                    - effect: NoSchedule
                      key: example.com/my-app
                      value: teamA
                    - effect: NoExecute
                      key: myapp.io/team
                      value: teamB
                    items:
                      additionalProperties: false
                      properties:
                        effect:
                          description: The Kubernetes taint effect. For `NoSchedule`, `PreferNoSchedule` and `NoExecute` descriptions, see [Kubernetes Taints and Tolerations](https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/).
                          enum:
                          - NoSchedule
                          - PreferNoSchedule
                          - NoExecute
                          example: NoSchedule
                          type: string
                        key:
                          description: 'The Kubernetes taint key.


                            - A key can contain alphanumeric characters, dashes (`-`), underscores (`_`), or dots (`.`). Start and end it with an alphanumeric character.


                            - If the key begins with a DNS subdomain prefix followed by a single slash, for example `example.com/my-app`, the prefix part needs to adhere to [RFC 1123](https://datatracker.ietf.org/doc/html/rfc1123) DNS subdomain restrictions and be a maximum of 253 characters.'
                          example: example.com/my-app
                          maxLength: 63
                          minLength: 1
                          pattern: ^([A-Za-z0-9][-A-Za-z0-9_.]*)?(\/)?([A-Za-z0-9][-A-Za-z0-9_.]{1,63})?$
                          type: string
                        value:
                          description: 'The Kubernetes taint value.


                            - A key can contain alphanumeric characters, dashes (`-`), underscores (`_`), or dots (`.`). Start and end it with an alphanumeric character.


                            - Can be specified as an empty string value with `""`.'
                          example: teamC
                          maxLength: 63
                          minLength: 0
                          pattern: ^(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])?
                          type: string
                      required:
                      - key
                      - value
                      - effect
                      type: object
                    minItems: 0
                    type: array
                  type:
                    description: The Linode type for all of the nodes in the node pool.
                    example: g6-standard-4
                    type: string
                    x-linode-cli-display: 3
                  update_strategy:
                    description: '__Beta__, __LKE Enterprise__ Determines when the worker nodes within this node pool upgrade to the latest selected Kubernetes version, after the cluster has been upgraded. This field is required when creating node pools on LKE Enterprise clusters.


                      - `rolling_update`: Immediately triggers a recycle of this node pool when the Kubernetes version is updated.

                      - `on_recycle` (default): Doesn''t trigger any immediate recycle. New worker nodes are created with the new Kubernetes version. Existing worker nodes will be upgraded when a recycle is manually triggered.


                      > 🚧

                      >

                      > This field is available as part of the beta API and can only be used by accounts with access to LKE Enterprise. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                    enum:
                    - rolling_update
                    - on_recycle
                    example: on_recycle
                    type: string
                    x-akamai:
                      labels:
                      - LKE Enterprise
                      status: BETA
                required:
                - type
                - count
                type: object
                x-akamai:
                  file-path: schemas/lke-node-pool-request-body.yaml
              - required:
                - type
                - count
                type: object
              x-akamai:
                file-path: schemas/post-lke-cluster-pools.yaml
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                autoscaler:
                  enabled: true
                  max: 25
                  min: 5
                count: 10
                disk_encryption: enabled
                disks: []
                id: 123456
                label: app-pool
                labels: {}
                nodes:
                - id: 123456-0183d7fc0000
                  instance_id: 954321
                  status: ready
                - id: 123456-1b6f610f0000
                  instance_id: 954322
                  status: ready
                - id: 123456-3054ff330000
                  instance_id: 954323
                  status: ready
                tags: []
                taints:
                - effect: NoSchedule
                  key: example.com/my-app
                  value: teamA
                - effect: NoExecute
                  key: myapp.io/team
                  value: teamC
                type: g6-standard-4
              schema:
                additionalProperties: false
                properties:
                  autoscaler:
                    additionalProperties: false
                    description: When enabled, the number of nodes autoscales within the defined minimum and maximum values.
                    properties:
                      enabled:
                        description: Whether autoscaling is enabled for this node pool. Defaults to `false`.
                        example: true
                        type: boolean
                        x-linode-cli-display: 5
                      max:
                        description: 'The maximum number of nodes for the node pool when you enable autoscaling. This defaults to the node pool''s `count`.


                          > 📘

                          >

                          > The ability to scale node pools to zero nodes is in limited availability and works with LKE Enterprise clusters only. If your account has access to this feature, `max` can be set to `0` if desired.'
                        example: 12
                        maximum: 100
                        minimum: 1
                        type: integer
                        x-linode-cli-display: 6
                      min:
                        description: 'The minimum number of nodes for the node pool when you enable autoscaling. This defaults to the node pool''s `count`.


                          > 🚧

                          >

                          > Before you can upgrade an LKE Enterprise node pool''s Kubernetes version, adjust this value so that it is at least three nodes for Kubernetes v1.33 (and higher) and at least two nodes for Kubernetes v1.32.


                          > 📘

                          >

                          > The ability to scale node pools to zero nodes is in limited availability and works with LKE Enterprise clusters only. If your account has access to this feature, set `min` to `0` to scale down this node pool to a minimum of zero nodes. This can help reduce costs when the node pool is not in use.'
                        example: 3
                        maximum: 100
                        minimum: 1
                        type: integer
                        x-linode-cli-display: 7
                    type: object
                  count:
                    description: 'The number of nodes in the node pool.


                      > 🚧

                      >

                      > Before you can upgrade an LKE Enterprise node pool''s Kubernetes version, adjust this value so that it is at least three nodes for Kubernetes v1.33 (and higher) and at least two nodes for Kubernetes v1.32.


                      > 📘

                      >

                      > The ability to scale node pools to zero nodes is in limited availability and works with LKE Enterprise clusters only. If your account has access to this feature, set `count` to `0` to create a node pool with zero nodes or adjust an existing node pool down to zero nodes.'
                    example: 6
                    maximum: 100
                    minimum: 1
                    type: integer
                    x-linode-cli-display: 4
                  disk_encryption:
                    description: Indicates the local disk encryption status for this LKE node pool, either `enabled` or `disabled`.
                    enum:
                    - enabled
                    - disabled
                    example: disabled
                    type: string
                    x-linode-cli-display: 9
                  disks:
                    description: This node pool's custom disk layout.
                    items:
                      additionalProperties: false
                      description: The values to assign to each partition in this node pool's custom disk layout.
                      properties:
                        size:
                          description: The size of this custom disk partition in MB. The size of this disk partition can't exceed the capacity of the node's plan type.
                          example: 1024
                          type: integer
                        type:
                          description: This custom disk partition's file system type, either `raw` or `ext4`.
                          enum:
                          - raw
                          - ext4
                          example: ext4
                          type: string
                      type: object
                    type: array
                    x-linode-cli-format: json
                  firewall_id:
                    description: __Beta__, __LKE Enterprise__ The `id` of the Cloud Firewall assigned to this node pool.
                    type: integer
                    x-akamai:
                      labels:
                      - LKE Enterprise
                      status: BETA
                  id:
                    description: __Filterable__ This node pool's unique ID.
                    example: 456
                    type: integer
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 1
                    x-linode-filterable: true
                  k8s_version:
                    description: '__Beta__ The Kubernetes version used for the worker nodes within this node pool.


                      > 🚧

                      >

                      > This field is available as part of the beta API and can only be used by accounts with access to LKE Enterprise. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                    example: v1.31.8+lke3
                    type: string
                    x-akamai:
                      status: BETA
                  label:
                    description: The optional label defined for this node pool.
                    example: app-pool
                    maxLength: 32
                    minLength: 1
                    type: string
                    x-linode-cli-display: 2
                  labels:
                    additionalProperties:
                      description: The label's value.
                      maxLength: 63
                      minLength: 0
                      pattern: ^(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])?
                      type: string
                      x-additionalPropertiesName: value
                    description: Key-value pairs added as labels to nodes in the node pool. Labels help classify your nodes and easily select subsets of objects. To learn more, review the [Labels and taints](https://techdocs.akamai.com/cloud-computing/docs/labels-and-taints) guide.
                    example:
                      example.com/my-app: teams
                    type: object
                  locks:
                    description: '__Beta__, __Read-only__ Indicates if the node pool is protected by a resource lock. Supported values are:


                      - `cannot_delete`. The node pool can''t be deleted.


                      - An empty array indicates there is no resource lock. The cluster can be deleted.


                      Only account administrators can remove locks using the [Delete a resource lock](https://techdocs.akamai.com/linode-api/reference/delete-resource-lock) operation.


                      > 🚧

                      >

                      > - This field is available as part of the beta API. Call the URL with the `apiVersion` path parameter set to `v4beta`.

                      >

                      > - The `cannot_delete_with_subresources` form of lock that''s available with other resources does not apply to an LKE node pool.'
                    example:
                    - cannot_delete
                    items:
                      enum:
                      - cannot_delete
                      type: string
                    readOnly: true
                    type: array
                    x-akamai:
                      status: BETA
                  nodes:
                    description: __Read-only__ Status information for the nodes that are members of this node pool. If a Linode has not been provisioned for a given node slot, the `instance_id` is `null`.
                    items:
                      additionalProperties: false
                      description: Status for a node which is a member of a Kubernetes cluster.
                      properties:
                        id:
                          description: The node's ID.
                          example: 12345-6aa78910bc
                          type: string
                        instance_id:
                          description: The Linode's ID. When no Linode is currently provisioned for this node, this is `null`.
                          example: 123458
                          type:
                          - integer
                          - 'null'
                        pool_id:
                          description: '__Beta__, __LKE Enterprise__ The ID of the parent node pool.


                            > 🚧

                            >

                            > This field is available as part of the beta API and can only be used by accounts with access to LKE Enterprise. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                          example: 12345
                          type: integer
                          x-akamai:
                            labels:
                            - LKE Enterprise
                            status: BETA
                        status:
                          description: 'The creation status of this node. This status is distinct from this node''s readiness as a Kubernetes node object as determined by the command `kubectl get nodes`.


                            `not_ready` indicates that the Linode is still being created.


                            `ready` indicates that the Linode has successfully been created and is running Kubernetes software.'
                          enum:
                          - ready
                          - not_ready
                          example: ready
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/lke-node-status.yaml
                    readOnly: true
                    type: array
                  tags:
                    description: __Filterable__ An array of tags applied to this object. Tags are for organizational purposes only.
                    example:
                    - example tag
                    - another example
                    items:
                      type: string
                    type: array
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 8
                    x-linode-filterable: true
                  taints:
                    description: Kubernetes taints added to nodes in the node pool. Taints help control how pods are scheduled onto nodes, specifically allowing them to repel certain pods.
                    example:
                    - effect: NoSchedule
                      key: example.com/my-app
                      value: teamA
                    - effect: NoExecute
                      key: myapp.io/team
                      value: teamC
                    items:
                      additionalProperties: false
                      properties:
                        effect:
                          description: The Kubernetes taint effect. For `NoSchedule`, `PreferNoSchedule` and `NoExecute` descriptions, see [Kubernetes Taints and Tolerations](https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/).
                          enum:
                          - NoSchedule
                          - PreferNoSchedule
                          - NoExecute
                          example: NoSchedule
                          type: string
                        key:
                          description: The Kubernetes taint key.
                          example: example.com/my-app
                          maxLength: 63
                          minLength: 1
                          pattern: ^([A-Za-z0-9][-A-Za-z0-9_.]*)?(\/)?([A-Za-z0-9][-A-Za-z0-9_.]{1,63})?$
                          type: string
                        value:
                          description: The Kubernetes taint value.
                          example: teamC
                          maxLength: 63
                          minLength: 0
                          pattern: ^(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])?
                          type: string
                    type: array
                  type:
                    description: The Linode type for all of the nodes in the node pool.
                    example: g6-standard-4
                    type: string
                    x-linode-cli-display: 3
                  update_strategy:
                    default: on_recycle
                    description: '__Beta__ Determines when the worker nodes within this node pool upgrade to the latest selected Kubernetes version after the cluster has been upgraded. This field is required for LKE Enterprise clusters is not supported for non-Enterprise clusters. Supported values are:


                      - `rolling_update`: Immediately triggers a recycle of this node pool when the Kubernetes version is updated.

                      - `on_recycle` (default): Doesn''t trigger any immediate recycle. New worker nodes are created with the new Kubernetes version. Existing worker nodes will be upgraded when a recycle is manually triggered.'
                    enum:
                    - rolling_update
                    - on_recycle
                    example: on_recycle
                    type: string
                    x-akamai:
                      status: BETA
                type: object
                x-akamai:
                  file-path: schemas/lke-node-pool.yaml
          description: Node pool has been created.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - lke:read_write
      summary: Create a node pool
      tags:
      - LKE node pools
      x-akamai:
        tabs:
        - syntax: "linode-cli lke pool-create 12345 \\\n  --type g6-standard-4 \\\n  --count 6 \\\n  --tags example-tag \\\n  --autoscaler.enabled true \\\n  --autoscaler.max 12 \\\n  --autoscaler.min 3 \\\n  --labels '{ \"example.com/my-app\":\"team1\" }' \\\n  --taints.effect \"NoSchedule\" \\\n  --taints.key \"example.com/my-app\" \\\n  --taints.value \"teamA\""
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: pool-create
      x-linode-iam:
      - roles:
        - lkecluster_admin
    get:
      description: 'Returns all active node pools on a Kubernetes cluster.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs these roles assigned. Learn more.

        - Roles: `lkecluster_viewer`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `lke:read_only`


        **CLI**


        ```shell

        linode-cli lke pools-list 12345

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-lke-cluster-pools
      operationId: get-lke-cluster-pools
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - autoscaler:
                    enabled: true
                    max: 25
                    min: 5
                  count: 10
                  disk_encryption: enabled
                  disks: []
                  id: 123456
                  label: db-pool
                  labels: {}
                  nodes:
                  - id: 123456-0183d7fc0000
                    instance_id: 954321
                    status: ready
                  - id: 123456-1b6f610f0000
                    instance_id: 954322
                    status: ready
                  - id: 123456-3054ff330000
                    instance_id: 954323
                    status: ready
                  tags: []
                  taints:
                  - effect: NoSchedule
                    key: example.com/my-app
                    value: teamA
                  - effect: NoExecute
                    key: myapp.io/team
                    value: teamC
                  type: g6-standard-4
                - autoscaler:
                    enabled: true
                    max: 12
                    min: 3
                  count: 3
                  disk_encryption: enabled
                  disks: []
                  id: 876543
                  label: app-pool
                  labels: {}
                  nodes:
                  - id: 876543-1946f91b0000
                    instance_id: 95200753
                    status: ready
                  - id: 876543-2d5349460000
                    instance_id: 95200756
                    status: ready
                  - id: 876543-465f1e240000
                    instance_id: 95200759
                    status: ready
                  tags: []
                  taints: []
                  type: g6-standard-4
                page: 1
                pages: 1
                results: 2
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: Node pools within the Kubernetes cluster.
                    items:
                      additionalProperties: false
                      properties:
                        autoscaler:
                          additionalProperties: false
                          description: When enabled, the number of nodes autoscales within the defined minimum and maximum values.
                          properties:
                            enabled:
                              description: Whether autoscaling is enabled for this node pool. Defaults to `false`.
                              example: true
                              type: boolean
                              x-linode-cli-display: 5
                            max:
                              description: 'The maximum number of nodes for the node pool when you enable autoscaling. This defaults to the node pool''s `count`.


                                > 📘

                                >

                                > The ability to scale node pools to zero nodes is in limited availability and works with LKE Enterprise clusters only. If your account has access to this feature, `max` can be set to `0` if desired.'
                              example: 12
                              maximum: 100
                              minimum: 1
                              type: integer
                              x-linode-cli-display: 6
                            min:
                              description: 'The minimum number of nodes for the node pool when you enable autoscaling. This defaults to the node pool''s `count`.


                                > 🚧

                                >

                                > Before you can upgrade an LKE Enterprise node pool''s Kubernetes version, adjust this value so that it is at least three nodes for Kubernetes v1.33 (and higher) and at least two nodes for Kubernetes v1.32.


                                > 📘

                                >

                                > The ability to scale node pools to zero nodes is in limited availability and works with LKE Enterprise clusters only. If your account has access to this feature, set `min` to `0` to scale down this node pool to a minimum of zero nodes. This can help reduce costs when the node pool is not in use.'
                              example: 3
                              maximum: 100
                              minimum: 1
                              type: integer
                              x-linode-cli-display: 7
                          type: object
                        count:
                          description: 'The number of nodes in the node pool.


                            > 🚧

                            >

                            > Before you can upgrade an LKE Enterprise node pool''s Kubernetes version, adjust this value so that it is at least three nodes for Kubernetes v1.33 (and higher) and at least two nodes for Kubernetes v1.32.


                            > 📘

                            >

                            > The ability to scale node pools to zero nodes is in limited availability and works with LKE Enterprise clusters only. If your account has access to this feature, set `count` to `0` to create a node pool with zero nodes or adjust an existing node pool down to zero nodes.'
                          example: 6
                          maximum: 100
                          minimum: 1
                          type: integer
                          x-linode-cli-display: 4
                        disk_encryption:
                          description: Indicates the local disk encryption status for this LKE node pool, either `enabled` or `disabled`.
                          enum:
                          - enabled
                          - disabled
                          example: disabled
                          type: string
                          x-linode-cli-display: 9
                        disks:
                          description: This node pool's custom disk layout.
                          items:
                            additionalProperties: false
                            description: The values to assign to each partition in this node pool's custom disk layout.
                            properties:
                              size:
                                description: The size of this custom disk partition in MB. The size of this disk partition can't exceed the capacity of the node's plan type.
                                example: 1024
                                type: integer
                              type:
                                description: This custom disk partition's file system type, either `raw` or `ext4`.
                                enum:
                                - raw
                                - ext4
                                example: ext4
                                type: string
                            type: object
                          type: array
                          x-linode-cli-format: json
                        firewall_id:
                          description: __Beta__, __LKE Enterprise__ The `id` of the Cloud Firewall assigned to this node pool.
                          type: integer
                          x-akamai:
                            labels:
                            - LKE Enterprise
                            status: BETA
                        id:
                          description: __Filterable__ This node pool's unique ID.
                          example: 456
                          type: integer
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-cli-display: 1
                          x-linode-filterable: true
                        k8s_version:
                          description: '__Beta__ The Kubernetes version used for the worker nodes within this node pool.


                            > 🚧

                            >

                            > This field is available as part of the beta API and can only be used by accounts with access to LKE Enterprise. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                          example: v1.31.8+lke3
                          type: string
                          x-akamai:
                            status: BETA
                        label:
                          description: The optional label defined for this node pool.
                          example: app-pool
                          maxLength: 32
                          minLength: 1
                          type: string
                          x-linode-cli-display: 2
                        labels:
                          additionalProperties:
                            description: The label's value.
                            maxLength: 63
                            minLength: 0
                            pattern: ^(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])?
                            type: string
                            x-additionalPropertiesName: value
                          description: Key-value pairs added as labels to nodes in the node pool. Labels help classify your nodes and easily select subsets of objects. To learn more, review the [Labels and taints](https://techdocs.akamai.com/cloud-computing/docs/labels-and-taints) guide.
                          example:
                            example.com/my-app: teams
                          type: object
                        locks:
                          description: '__Beta__, __Read-only__ Indicates if the node pool is protected by a resource lock. Supported values are:


                            - `cannot_delete`. The node pool can''t be deleted.


                            - An empty array indicates there is no resource lock. The cluster can be deleted.


                            Only account administrators can remove locks using the [Delete a resource lock](https://techdocs.akamai.com/linode-api/reference/delete-resource-lock) operation.


                            > 🚧

                            >

                            > - This field is available as part of the beta API. Call the URL with the `apiVersion` path parameter set to `v4beta`.

                            >

                            > - The `cannot_delete_with_subresources` form of lock that''s available with other resources does not apply to an LKE node pool.'
                          example:
                          - cannot_delete
                          items:
                            enum:
                            - cannot_delete
                            type: string
                          readOnly: true
                          type: array
                          x-akamai:
                            status: BETA
                        nodes:
                          description: __Read-only__ Status information for the nodes that are members of this node pool. If a Linode has not been provisioned for a given node slot, the `instance_id` is `null`.
                          items:
                            additionalProperties: false
                            description: Status for a node which is a member of a Kubernetes cluster.
                            properties:
                              id:
                                description: The node's ID.
                                example: 12345-6aa78910bc
                                type: string
                              instance_id:
                                description: The Linode's ID. When no Linode is currently provisioned for this node, this is `null`.
                                example: 123458
                                type:
                                - integer
                                - 'null'
                              pool_id:
                                description: '__Beta__, __LKE Enterprise__ The ID of the parent node pool.


                                  > 🚧

                                  >

                                  > This field is available as part of the beta API and can only be used by accounts with access to LKE Enterprise. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                                example: 12345
                                type: integer
                                x-akamai:
                                  labels:
                                  - LKE Enterprise
                                  status: BETA
                              status:
                                description: 'The creation status of this node. This status is distinct from this node''s readiness as a Kubernetes node object as determined by the command `kubectl get nodes`.


                                  `not_ready` indicates that the Linode is still being created.


                                  `ready` indicates that the Linode has successfully been created and is running Kubernetes software.'
                                enum:
                                - ready
                                - not_ready
                                example: ready
                                type: string
                            type: object
                            x-akamai:
                              file-path: schemas/lke-node-status.yaml
                          readOnly: true
                          type: array
                        tags:
                          description: __Filterable__ An array of tags applied to this object. Tags are for organizational purposes only.
                          example:
                          - example tag
                          - another example
                          items:
                            type: string
                          type: array
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-cli-display: 8
                          x-linode-filterable: true
                        taints:
                          description: Kubernetes taints added to nodes in the node pool. Taints help control how pods are scheduled onto nodes, specifically allowing them to repel certain pods.
                          example:
                          - effect: NoSchedule
                            key: example.com/my-app
                            value: teamA
                          - effect: NoExecute
                            key: myapp.io/team
                            value: teamC
                          items:
                            additionalProperties: false
                            properties:
                              effect:
                                description: The Kubernetes taint effect. For `NoSchedule`, `PreferNoSchedule` and `NoExecute` descriptions, see [Kubernetes Taints and Tolerations](https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/).
                                enum:
                                - NoSchedule
                                - PreferNoSchedule
                                - NoExecute
                                example: NoSchedule
                                type: string
                              key:
                                description: The Kubernetes taint key.
                                example: example.com/my-app
                                maxLength: 63
                                minLength: 1
                                pattern: ^([A-Za-z0-9][-A-Za-z0-9_.]*)?(\/)?([A-Za-z0-9][-A-Za-z0-9_.]{1,63})?$
                                type: string
                              value:
                                description: The Kubernetes taint value.
                                example: teamC
                                maxLength: 63
                                minLength: 0
                                pattern: ^(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])?
                                type: string
                          type: array
                        type:
                          description: The Linode type for all of the nodes in the node pool.
                          example: g6-standard-4
                          type: string
                          x-linode-cli-display: 3
                        update_strategy:
                          default: on_recycle
                          description: '__Beta__ Determines when the worker nodes within this node pool upgrade to the latest selected Kubernetes version after the cluster has been upgraded. This field is required for LKE Enterprise clusters is not supported for non-Enterprise clusters. Supported values are:


                            - `rolling_update`: Immediately triggers a recycle of this node pool when the Kubernetes version is updated.

                            - `on_recycle` (default): Doesn''t trigger any immediate recycle. New worker nodes are created with the new Kubernetes version. Existing worker nodes will be upgraded when a recycle is manually triggered.'
                          enum:
                          - rolling_update
                          - on_recycle
                          example: on_recycle
                          type: string
                          x-akamai:
                            status: BETA
                      type: object
                      x-akamai:
                        file-path: schemas/lke-node-pool.yaml
                    type: array
                  page:
                    description: __Read-only__ The current [page](https://techdocs.akamai.com/linode-api/reference/pagination).
                    example: 1
                    readOnly: true
                    type: integer
                  pages:
                    description: __Read-only__ The total number of [pages](https://techdocs.akamai.com/linode-api/reference/pagination).
                    example: 1
                    readOnly: true
                    type: integer
                  results:
                    description: __Read-only__ The total number of results.
                    example: 1
                    readOnly: true
                    type: integer
                type: object
                x-akamai:
                  file-path: schemas/get-lke-cluster-pools-200.yaml
          description: Returns all node pools in this Kubernetes cluster.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - lke:read_only
      summary: List node pools
      tags:
      - LKE node pools
      x-akamai:
        tabs:
        - syntax: linode-cli lke pools-list 12345
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: pools-list
      x-linode-iam:
      - roles:
        - lkecluster_viewer
  /{apiVersion}/lke/clusters/{clusterId}/pools/{poolId}:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    - description: ID of the Kubernetes cluster to look up.
      example: '{{clusterId}}'
      in: path
      name: clusterId
      required: true
      schema:
        example: 12345
        type: integer
      x-akamai:
        file-path: parameters/cluster-id-path-28150853.yaml
    - description: ID of the Pool to look up.
      example: '{{poolId}}'
      in: path
      name: poolId
      required: true
      schema:
        example: 924
        type: integer
      x-akamai:
        file-path: parameters/pool-id-path-8468a3cd.yaml
    x-akamai:
      file-path: paths/lke-pool.yaml
      path-info: /{apiVersion}/lke/clusters/{clusterId}/pools/{poolId}
    x-linode-cli-command: lke
    get:
      description: 'Get a specific node pool.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs these roles assigned. Learn more.

        - Roles: `lkecluster_viewer`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `lke:read_only`


        **CLI**


        ```shell

        linode-cli lke pool-view 12345 456

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-lke-node-pool
      operationId: get-lke-node-pool
      responses:
        '200':
          content:
            application/json:
              example:
                autoscaler:
                  enabled: true
                  max: 25
                  min: 5
                count: 10
                disk_encryption: enabled
                disks: []
                id: 123456
                label: app-pool
                labels: {}
                nodes:
                - id: 123456-0183d7fc0000
                  instance_id: 954321
                  status: ready
                - id: 123456-1b6f610f0000
                  instance_id: 954322
                  status: ready
                - id: 123456-3054ff330000
                  instance_id: 954323
                  status: ready
                tags: []
                taints:
                - effect: NoSchedule
                  key: example.com/my-app
                  value: teamA
                - effect: NoExecute
                  key: myapp.io/team
                  value: teamC
                type: g6-standard-4
              schema:
                additionalProperties: false
                properties:
                  autoscaler:
                    additionalProperties: false
                    description: When enabled, the number of nodes autoscales within the defined minimum and maximum values.
                    properties:
                      enabled:
                        description: Whether autoscaling is enabled for this node pool. Defaults to `false`.
                        example: true
                        type: boolean
                        x-linode-cli-display: 5
                      max:
                        description: 'The maximum number of nodes for the node pool when you enable autoscaling. This defaults to the node pool''s `count`.


                          > 📘

                          >

                          > The ability to scale node pools to zero nodes is in limited availability and works with LKE Enterprise clusters only. If your account has access to this feature, `max` can be set to `0` if desired.'
                        example: 12
                        maximum: 100
                        minimum: 1
                        type: integer
                        x-linode-cli-display: 6
                      min:
                        description: 'The minimum number of nodes for the node pool when you enable autoscaling. This defaults to the node pool''s `count`.


                          > 🚧

                          >

                          > Before you can upgrade an LKE Enterprise node pool''s Kubernetes version, adjust this value so that it is at least three nodes for Kubernetes v1.33 (and higher) and at least two nodes for Kubernetes v1.32.


                          > 📘

                          >

                          > The ability to scale node pools to zero nodes is in limited availability and works with LKE Enterprise clusters only. If your account has access to this feature, set `min` to `0` to scale down this node pool to a minimum of zero nodes. This can help reduce costs when the node pool is not in use.'
                        example: 3
                        maximum: 100
                        minimum: 1
                        type: integer
                        x-linode-cli-display: 7
                    type: object
                  count:
                    description: 'The number of nodes in the node pool.


                      > 🚧

                      >

                      > Before you can upgrade an LKE Enterprise node pool''s Kubernetes version, adjust this value so that it is at least three nodes for Kubernetes v1.33 (and higher) and at least two nodes for Kubernetes v1.32.


                      > 📘

                      >

                      > The ability to scale node pools to zero nodes is in limited availability and works with LKE Enterprise clusters only. If your account has access to this feature, set `count` to `0` to create a node pool with zero nodes or adjust an existing node pool down to zero nodes.'
                    example: 6
                    maximum: 100
                    minimum: 1
                    type: integer
                    x-linode-cli-display: 4
                  disk_encryption:
                    description: Indicates the local disk encryption status for this LKE node pool, either `enabled` or `disabled`.
                    enum:
                    - enabled
                    - disabled
                    example: disabled
                    type: string
                    x-linode-cli-display: 9
                  disks:
                    description: This node pool's custom disk layout.
                    items:
                      additionalProperties: false
                      description: The values to assign to each partition in this node pool's custom disk layout.
                      properties:
                        size:
                          description: The size of this custom disk partition in MB. The size of this disk partition can't exceed the capacity of the node's plan type.
                          example: 1024
                          type: integer
                        type:
                          description: This custom disk partition's file system type, either `raw` or `ext4`.
                          enum:
                          - raw
                          - ext4
                          example: ext4
                          type: string
                      type: object
                    type: array
                    x-linode-cli-format: json
                  firewall_id:
                    description: __Beta__, __LKE Enterprise__ The `id` of the Cloud Firewall assigned to this node pool.
                    type: integer
                    x-akamai:
                      labels:
                      - LKE Enterprise
                      status: BETA
                  id:
                    description: __Filterable__ This node pool's unique ID.
                    example: 456
                    type: integer
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 1
                    x-linode-filterable: true
                  k8s_version:
                    description: '__Beta__ The Kubernetes version used for the worker nodes within this node pool.


                      > 🚧

                      >

                      > This field is available as part of the beta API and can only be used by accounts with access to LKE Enterprise. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                    example: v1.31.8+lke3
                    type: string
                    x-akamai:
                      status: BETA
                  label:
                    description: The optional label defined for this node pool.
                    example: app-pool
                    maxLength: 32
                    minLength: 1
                    type: string
                    x-linode-cli-display: 2
                  labels:
                    additionalProperties:
                      description: The label's value.
                      maxLength: 63
                      minLength: 0
                      pattern: ^(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])?
                      type: string
                      x-additionalPropertiesName: value
                    description: Key-value pairs added as labels to nodes in the node pool. Labels help classify your nodes and easily select subsets of objects. To learn more, review the [Labels and taints](https://techdocs.akamai.com/cloud-computing/docs/labels-and-taints) guide.
                    example:
                      example.com/my-app: teams
                    type: object
                  locks:
                    description: '__Beta__, __Read-only__ Indicates if the node pool is protected by a resource lock. Supported values are:


                      - `cannot_delete`. The node pool can''t be deleted.


                      - An empty array indicates there is no resource lock. The cluster can be deleted.


                      Only account administrators can remove locks using the [Delete a resource lock](https://techdocs.akamai.com/linode-api/reference/delete-resource-lock) operation.


                      > 🚧

                      >

                      > - This field is available as part of the beta API. Call the URL with the `apiVersion` path parameter set to `v4beta`.

                      >

                      > - The `cannot_delete_with_subresources` form of lock that''s available with other resources does not apply to an LKE node pool.'
                    example:
                    - cannot_delete
                    items:
                      enum:
                      - cannot_delete
                      type: string
                    readOnly: true
                    type: array
                    x-akamai:
                      status: BETA
                  nodes:
                    description: __Read-only__ Status information for the nodes that are members of this node pool. If a Linode has not been provisioned for a given node slot, the `instance_id` is `null`.
                    items:
                      additionalProperties: false
                      description: Status for a node which is a member of a Kubernetes cluster.
                      properties:
                        id:
                          description: The node's ID.
                          example: 12345-6aa78910bc
                          type: string
                        instance_id:
                          description: The Linode's ID. When no Linode is currently provisioned for this node, this is `null`.
                          example: 123458
                          type:
                          - integer
                          - 'null'
                        pool_id:
                          description: '__Beta__, __LKE Enterprise__ The ID of the parent node pool.


                            > 🚧

                            >

                            > This field is available as part of the beta API and can only be used by accounts with access to LKE Enterprise. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                          example: 12345
                          type: integer
                          x-akamai:
                            labels:
                            - LKE Enterprise
                            status: BETA
                        status:
                          description: 'The creation status of this node. This status is distinct from this node''s readiness as a Kubernetes node object as determined by the command `kubectl get nodes`.


                            `not_ready` indicates that the Linode is still being created.


                            `ready` indicates that the Linode has successfully been created and is running Kubernetes software.'
                          enum:
                          - ready
                          - not_ready
                          example: ready
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/lke-node-status.yaml
                    readOnly: true
                    type: array
                  tags:
                    description: __Filterable__ An array of tags applied to this object. Tags are for organizational purposes only.
                    example:
                    - example tag
                    - another example
                    items:
                      type: string
                    type: array
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 8
                    x-linode-filterable: true
                  taints:
                    description: Kubernetes taints added to nodes in the node pool. Taints help control how pods are scheduled onto nodes, specifically allowing them to repel certain pods.
                    example:
                    - effect: NoSchedule
                      key: example.com/my-app
                      value: teamA
                    - effect: NoExecute
                      key: myapp.io/team
                      value: teamC
                    items:
                      additionalProperties: false
                      properties:
                        effect:
                          description: The Kubernetes taint effect. For `NoSchedule`, `PreferNoSchedule` and `NoExecute` descriptions, see [Kubernetes Taints and Tolerations](https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/).
                          enum:
                          - NoSchedule
                          - PreferNoSchedule
                          - NoExecute
                          example: NoSchedule
                          type: string
                        key:
                          description: The Kubernetes taint key.
                          example: example.com/my-app
                          maxLength: 63
                          minLength: 1
                          pattern: ^([A-Za-z0-9][-A-Za-z0-9_.]*)?(\/)?([A-Za-z0-9][-A-Za-z0-9_.]{1,63})?$
                          type: string
                        value:
                          description: The Kubernetes taint value.
                          example: teamC
                          maxLength: 63
                          minLength: 0
                          pattern: ^(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])?
                          type: string
                    type: array
                  type:
                    description: The Linode type for all of the nodes in the node pool.
                    example: g6-standard-4
                    type: string
                    x-linode-cli-display: 3
                  update_strategy:
                    default: on_recycle
                    description: '__Beta__ Determines when the worker nodes within this node pool upgrade to the latest selected Kubernetes version after the cluster has been upgraded. This field is required for LKE Enterprise clusters is not supported for non-Enterprise clusters. Supported values are:


                      - `rolling_update`: Immediately triggers a recycle of this node pool when the Kubernetes version is updated.

                      - `on_recycle` (default): Doesn''t trigger any immediate recycle. New worker nodes are created with the new Kubernetes version. Existing worker nodes will be upgraded when a recycle is manually triggered.'
                    enum:
                    - rolling_update
                    - on_recycle
                    example: on_recycle
                    type: string
                    x-akamai:
                      status: BETA
                type: object
                x-akamai:
                  file-path: schemas/lke-node-pool.yaml
          description: Returns the requested node pool.
      security:
      - personalAccessToken: []
      - oauth:
        - lke:read_only
      summary: Get a node pool
      tags:
      - LKE node pools
      x-akamai:
        tabs:
        - syntax: linode-cli lke pool-view 12345 456
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: pool-view
      x-linode-iam:
      - roles:
        - lkecluster_viewer
    put:
      description: 'Updates a node pool''s count, labels, taints, and autoscaler configuration.


        Linodes are created or deleted to match changes to the node pool''s count.


        Specifying labels or taints on update overwrites any previous values, and updates existing nodes with the new values without a recycle.


        __Any local storage on deleted Linodes (such as `hostPath` and `emptyDir` volumes, or `local` PersistentVolumes) will be erased.__


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. Your user needs these roles assigned. Learn more.

        - Roles: `lkecluster_admin`

        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `lke:read_write`


        **CLI**


        ```shell

        linode-cli lke pool-update 12345 456 \

        --count 6 \

        --autoscaler.enabled true \

        --autoscaler.max 12 \

        --autoscaler.min 3 \

        --labels ''{ "example.com/my-app":"team1", "env":"staging" }'' \

        --taints.effect "NoSchedule" \

        --taints.key "example.com/my-app" \

        --taints.value "teamA"

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/put-lke-node-pool
      operationId: put-lke-node-pool
      requestBody:
        content:
          application/json:
            example:
              autoscaler:
                enabled: true
                max: 40
              count: 3
            schema:
              additionalProperties: false
              properties:
                autoscaler:
                  additionalProperties: false
                  description: When enabled, the number of nodes automatically scales within the defined minimum and maximum values. When making a request, `max` and `min` require each other.
                  properties:
                    enabled:
                      description: Whether autoscaling is enabled for this node pool. Defaults to `false`.
                      example: true
                      type: boolean
                      x-linode-cli-display: 5
                    max:
                      description: 'The maximum number of nodes for the node pool when you enable autoscaling. This defaults to the node pool''s `count`.


                        > 📘

                        >

                        > The ability to scale node pools to zero nodes is in limited availability and works with LKE Enterprise clusters only. If your account has access to this feature, `max` can be set to `0` if desired.'
                      example: 12
                      maximum: 100
                      minimum: 1
                      type: integer
                      x-linode-cli-display: 6
                    min:
                      description: 'The minimum number of nodes for the node pool when you enable autoscaling. This defaults to the node pool''s `count`.


                        > 🚧

                        >

                        > Before you can upgrade an LKE Enterprise node pool''s Kubernetes version, adjust this value so that it is at least three nodes for Kubernetes v1.33 (and higher) and at least two nodes for Kubernetes v1.32.


                        > 📘

                        >

                        > The ability to scale node pools to zero nodes is in limited availability and works with LKE Enterprise clusters only. If your account has access to this feature, set `min` to `0` to scale down this node pool to a minimum of zero nodes. This can help reduce costs when the node pool is not in use.'
                      example: 3
                      maximum: 100
                      minimum: 1
                      type: integer
                      x-linode-cli-display: 7
                  type: object
                count:
                  description: 'The number of nodes in the node pool.


                    > 🚧

                    >

                    > Before you can upgrade an LKE Enterprise node pool''s Kubernetes version, adjust this value so that it is at least three nodes for Kubernetes v1.33 (and higher) and at least two nodes for Kubernetes v1.32.


                    > 📘

                    >

                    > The ability to scale node pools to zero nodes is in limited availability and works with LKE Enterprise clusters only. If your account has access to this feature, set `count` to `0` to create a node pool with zero nodes or adjust an existing node pool down to zero nodes.'
                  example: '{{count}}'
                  maximum: 100
                  minimum: 1
                  type: integer
                  x-linode-cli-display: 4
                firewall_id:
                  description: '__Beta__, __LKE Enterprise__ The `id` of the Cloud Firewall that you wish to assign to this node pool. Review [Recommended firewall settings](https://techdocs.akamai.com/cloud-computing/docs/lke-network-firewall-details#recommended-firewall-settings) to learn which rules should be configured within your firewall for compatibility with LKE.


                    > 📘

                    >

                    > If you add, modify, or remove the firewall ID on an existing node pool, you must recycle the node pool to apply the changes.


                    > 🚧

                    >

                    > This field is available as part of the beta API and can only be used by accounts with access to LKE Enterprise. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                  example: '{{firewall_id}}'
                  type: integer
                  x-akamai:
                    labels:
                    - LKE Enterprise
                    status: BETA
                labels:
                  additionalProperties:
                    description: The label's value. See the description for the `labels` field for more information on label value constraints.
                    maxLength: 63
                    minLength: 0
                    pattern: ^(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])?
                    type: string
                    x-additionalPropertiesName: value
                  description: 'Key-value pairs added as labels to nodes in the node pool. Labels help classify your nodes and easily select subsets of objects. To learn more, review the [Labels and taints](https://techdocs.akamai.com/cloud-computing/docs/labels-and-taints) guide.


                    **Label key:**


                    - A key can contain alphanumeric characters, dashes (`-`), underscores (`_`), or dots (`.`). Start and end it with an alphanumeric character.


                    - If the key begins with a DNS subdomain prefix followed by a single slash, for example `example.com/my-app`, the maximum total length of the label key is 128 characters. Domain labels can be up to 62 characters after the ''/''. The prefix needs to adhere to [RFC 1123](https://datatracker.ietf.org/doc/html/rfc1123) DNS subdomain restrictions.


                    - If the key doesn''t begin with a DNS subdomain prefix, the maximum key length is 63 characters.


                    Specifying an empty object removes all previously set labels.


                    **Label value:**


                    - The label''s value can contain alphanumeric characters, dashes (`-`), underscores (`_`), or dots (`.`). Start and end it with an alphanumeric character.


                    - Can be specified as an empty string value with `""`.'
                  example:
                    example.com/my-app: teams
                  type: object
                tags:
                  description: __Filterable__ Organizational tags to apply to this node pool. When you apply tags to LKE Enterprise node pools, they also apply to the nodes (Linodes) within the node pool. Tags don't cascade down to nodes in non-Enterprise node pools.
                  example:
                  - example tag
                  - another example
                  items:
                    type: string
                  type: array
                  x-akamai:
                    labels:
                    - Filterable
                  x-linode-filterable: true
                taints:
                  description: 'Kubernetes taints to add to node pool nodes. Taints help control how pods are scheduled onto nodes, specifically allowing them to repel certain pods. To learn more, review the [Labels and taints](https://techdocs.akamai.com/cloud-computing/docs/labels-and-taints) guide.


                    Specifying an empty array (`[]`) removes all previously set taints.'
                  example:
                  - effect: NoSchedule
                    key: example.com/my-app
                    value: teamA
                  - effect: NoExecute
                    key: myapp.io/team
                    value: teamB
                  items:
                    additionalProperties: false
                    properties:
                      effect:
                        description: The Kubernetes taint effect. For `NoSchedule`, `PreferNoSchedule` and `NoExecute` descriptions, see [Kubernetes Taints and Tolerations](https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/).
                        enum:
                        - NoSchedule
                        - PreferNoSchedule
                        - NoExecute
                        example: NoSchedule
                        type: string
                      key:
                        description: 'The Kubernetes taint key.


                          - A key can contain alphanumeric characters, dashes (`-`), underscores (`_`), or dots (`.`). Start and end it with an alphanumeric character.


                          - If the key begins with a DNS subdomain prefix followed by a single slash, for example `example.com/my-app`, the prefix part needs to adhere to [RFC 1123](https://datatracker.ietf.org/doc/html/rfc1123) DNS subdomain restrictions and be a maximum of 253 characters.'
                        example: example.com/my-app
                        maxLength: 63
                        minLength: 1
                        pattern: ^([A-Za-z0-9][-A-Za-z0-9_.]*)?(\/)?([A-Za-z0-9][-A-Za-z0-9_.]{1,63})?$
                        type: string
                      value:
                        description: 'The Kubernetes taint value.


                          - A key can contain alphanumeric characters, dashes (`-`), underscores (`_`), or dots (`.`). Start and end it with an alphanumeric character.


                          - Can be specified as an empty string value with `""`.'
                        example: teamC
                        maxLength: 63
                        minLength: 0
                        pattern: ^(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])?
                        type: string
                    required:
                    - key
                    - value
                    - effect
                    type: object
                  minItems: 0
                  type: array
              type: object
              x-akamai:
                file-path: schemas/put-lke-node-pool.yaml
      responses:
        '200':
          content:
            application/json:
              example:
                autoscaler:
                  enabled: true
                  max: 25
                  min: 5
                count: 10
                disk_encryption: enabled
                disks: []
                id: 123456
                label: app-pool
                labels: {}
                nodes:
                - id: 123456-0183d7fc0000
                  instance_id: 954321
                  status: ready
                - id: 123456-1b6f610f0000
                  instance_id: 954322
                  status: ready
                - id: 123456-3054ff330000
                  instance_id: 954323
                  status: ready
                tags: []
                taints:
                - effect: NoSchedule
                  key: example.com/my-app
                  value: teamA
                - effect: NoExecute
                  key: myapp.io/team
                  value: teamC
                type: g6-standard-4
              schema:
                additionalProperties: false
                properties:
                  autoscaler:
                    additionalProperties: false
                    description: When enabled, the number of nodes autoscales within the defined minimum and maximum values.
                    properties:
                      enabled:
                        description: Whether autoscaling is enabled for this node pool. Defaults to `false`.
                        example: true
                        type: boolean
                        x-linode-cli-display: 5
                      max:
                        description: 'The maximum number of nodes for the node pool when you enable autoscaling. This defaults to the node pool''s `count`.


                          > 📘

                          >

                          > The ability to scale node pools to zero nodes is in limited availability and works with LKE Enterprise clusters only. If your account has access to this feature, `max` can be set to `0` if desired.'
                        example: 12
                        maximum: 100
                        minimum: 1
                        type: integer
                        x-linode-cli-display: 6
                      min:
                        description: 'The minimum number of nodes for the node pool when you enable autoscaling. This defaults to the node pool''s `count`.


                          > 🚧

                          >

                          > Before you can upgrade an LKE Enterprise node pool''s Kubernetes version, adjust this value so that it is at least three nodes for Kubernetes v1.33 (and higher) and at least two nodes for Kubernetes v1.32.


                          > 📘

                          >

                          > The ability to scale node pools to zero nodes is in limited availability and works with LKE Enterprise clusters only. If your account has access to this feature, set `min` to `0` to scale down this node pool to a minimum of zero nodes. This can help reduce costs when the node pool is not in use.'
                        example: 3
                        maximum: 100
                        minimum: 1
                        type: integer
                        x-linode-cli-display: 7
                    type: object
                  count:
                    description: 'The number of nodes in the node pool.


                      > 🚧

                      >

                      > Before you can upgrade an LKE Enterprise node pool''s Kubernetes version, adjust this value so that it is at least three nodes for Kubernetes v1.33 (and higher) and at least two nodes for Kubernetes v1.32.


                      > 📘

                      >

                      > The ability to scale node pools to zero nodes is in limited availability and works with LKE Enterprise clusters only. If your account has access to this feature, set `count` to `0` to create a node pool with zero nodes or adjust an existing node pool down to zero nodes.'
                    example: 6
                    maximum: 100
                    minimum: 1
                    type: integer
                    x-linode-cli-display: 4
                  disk_encryption:
                    description: Indicates the local disk encryption status for this LKE node pool, either `enabled` or `disabled`.
                    enum:
                    - enabled
                    - disabled
                    example: disabled
                    type: string
                    x-linode-cli-display: 9
                  disks:
                    description: This node pool's custom disk layout.
                    items:
                      additionalProperties: false
                      description: The values to assign to each partition in this node pool's custom disk layout.
                      properties:
                        size:
                          description: The size of this custom disk partition in MB. The size of this disk partition can't exceed the capacity of the node's plan type.
                          example: 1024
                          type: integer
                        type:
                          description: This custom disk partition's file system type, either `raw` or `ext4`.
                          enum:
                          - raw
                          - ext4
                          example: ext4
                          type: string
                      type: object
                    type: array
                    x-linode-cli-format: json
                  firewall_id:
                    description: __Beta__, __LKE Enterprise__ The `id` of the Cloud Firewall assigned to this node pool.
                    type: integer
                    x-akamai:
                      labels:
                      - LKE Enterprise
                      status: BETA
                  id:
                    description: __Filterable__ This node pool's unique ID.
                    example: 456
                    type: integer
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 1
                    x-linode-filterable: true
                  k8s_version:
                    description: '__Beta__ The Kubernetes version used for the worker nodes within this node pool.


                      > 🚧

                      >

                      > This field is available as part of the beta API and can only be used by accounts with access to LKE Enterprise. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                    example: v1.31.8+lke3
                    type: string
                    x-akamai:
                      status: BETA
                  label:
                    description: The optional label defined for this node pool.
                    example: app-pool
                    maxLength: 32
                    minLength: 1
                    type: string
                    x-linode-cli-display: 2
                  labels:
                    additionalProperties:
                      description: The label's value.
                      maxLength: 63
                      minLength: 0
                      pattern: ^(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])?
                      type: string
                      x-additionalPropertiesName: value
                    description: Key-value pairs added as labels to nodes in the node pool. Labels help classify your nodes and easily select subsets of objects. To learn more, review the [Labels and taints](https://techdocs.akamai.com/cloud-computing/docs/labels-and-taints) guide.
                    example:
                      example.com/my-app: teams
                    type: object
                  locks:
                    description: '__Beta__, __Read-only__ Indicates if the node pool is protected by a resource lock. Supported values are:


                      - `cannot_delete`. The node pool can''t be deleted.


                      - An empty array indicates there is no resource lock. The cluster can be deleted.


                      Only account administrators can remove locks using the [Delete a resource lock](https://techdocs.akamai.com/linode-api/reference/delete-resource-lock) operation.


                      > 🚧

                      >

                      > - This field is available as part of the beta API. Call the URL with the `apiVersion` path parameter set to `v4beta`.

                      >

                      > - The `cannot_delete_with_subresources` form of lock that''s available with other resources does not apply to an LKE node pool.'
                    example:
                    - cannot_delete
                    items:
                      enum:
                      - cannot_delete
                      type: string
                    readOnly: true
                    type: array
                    x-akamai:
                      status: BETA
                  nodes:
                    description: __Read-only__ Status information for the nodes that are members of this node pool. If a Linode has not been provisioned for a given node slot, the `instance_id` is `null`.
                    items:
                      additionalProperties: false
                      description: Status for a node which is a member of a Kubernetes cluster.
                      properties:
                        id:
                          description: The node's ID.
                          example: 12345-6aa78910bc
                          type: string
                        instance_id:
                          description: The Linode's ID. When no Linode is currently provisioned for this node, this is `null`.
                          example: 123458
                          type:
                          - integer
                          - 'null'
                        pool_id:
                          description: '__Beta__, __LKE Enterprise__ The ID of the parent node pool.


                            > 🚧

                            >

                            > This field is available as part of the beta API and can only be used by accounts with access to LKE Enterprise. Call the URL with the `apiVersion` path parameter set to `v4beta`.'
                          example: 12345
                          type: integer
                          x-akamai:
                            labels:
                            - LKE Enterprise
                            status: BETA
                        status:
                          description: 'The creation status of this node. This status is distinct from this node''s readiness as a Kubernetes node object as determined by the command `kubectl get nodes`.


                            `not_ready` indicates that the Linode is still being created.


                            `ready` indicates that the Linode has successfully been created and is running Kubernetes software.'
                          enum:
                          - ready
                          - not_ready
                          example: ready
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/lke-node-status.yaml
                    readOnly: true
                    type: array
                  tags:
                    description: __Filterable__ An array of tags applied to this object. Tags are for organizational purposes only.
                    example:
                    - example tag
                    - another example
                    items:
                      type: string
                    type: array
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 8
                    x-linode-filterable: true
                  taints:
                    description: Kubernetes taints added to nodes in the node pool. Taints help control how pods are scheduled onto nodes, specifically allowing them to repel certain pods.
                    example:
                    - effect: NoSchedule
                      key: example.com/my-app
                      value: teamA
                    - effect: NoExecute
                      key: myapp.io/team
                      value: teamC
                    items:
                      additionalProperties: false
                      properties:
                        effect:
[...]
