openapi: 3.2.0
info:
  description: Add a Cloud Computing instance so you can build, release, and scale applications faster with virtual machines.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: 'Akamai: Linode Alerts API'
  version: 4.229.1
servers:
- url: https://api.linode.com
tags:
- description: Akamai Cloud Pulse lets you configure alerts to monitor key metrics and events in real time and automatically trigger notifications or actions when predefined thresholds or conditions are met.
  name: Alerts
paths:
  /{apiVersion}/monitor/alert-channels:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    x-akamai:
      file-path: paths/aclp-notification-channels.yaml
      path-info: /{apiVersion}/monitor/alert-channels
    x-linode-cli-command: alerts
    post:
      description: '__Limited availability__ Create a new notification channel, to set up a communication method for a monitoring alert. This is referred to as a `user` channel and you can have a maximum of five on your account.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `monitor:read_write`


        **CLI**


        ```shell

        linode-cli alerts channels-create

        --label Email channel for Managed Database alerts \

        --channel_type email \

        --details.email.usernames johndoe \

        --details.email.usernames janedoe

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/post-notification-channel
      operationId: post-notification-channel
      requestBody:
        content:
          application/json:
            example:
              channel_type: email
              details:
                email:
                  usernames:
                  - johndoe
                  - janedoe
              label: Email channel for Managed Database alerts
            schema:
              additionalProperties: false
              properties:
                channel_type:
                  description: 'The type of notification used with the channel. This can be `email` to send the alert via email message or `webhook` to send an HTTP message to a specified URL.


                    > 📘

                    >

                    > Before you create a notification channel that uses a `channel_type` of `webhook`, you should run the [Verify a webhook notification channel](https://techdocs.akamai.com/linode-api/reference/verify-notification-channel) operation to validate your webhook configuration.'
                  enum:
                  - email
                  - webhook
                  example: '{{channel_type}}'
                  type: string
                details:
                  example: '{{details}}'
                  oneOf:
                  - additionalProperties: false
                    description: Configuration settings for an `email` notification channel.
                    properties:
                      email:
                        additionalProperties: false
                        description: A notification channel set up to deliver an alert via email.
                        properties:
                          recipient_type:
                            description: __Read-only__ The type of email recipient, based on the notification channel `type`. This can be `user` for a custom, user-generated notification channel, `read_write_users` for a pre-defined, system alert's notification channel, when the target entities in the alert require read-write access, and `read_users` for a system alert's notification channel for read-only entities.
                            enum:
                            - user
                            - read_write_users
                            - read_users
                            example: user
                            readOnly: true
                            type: string
                          usernames:
                            description: 'The usernames on your account that should receive the alert. When you create a new user, you assign it a username and an email address. This email address is used for the alert. Run the [List users](https://techdocs.akamai.com/linode-api/reference/get-users) operation and store the `username` for applicable users. This is empty if the notification channel `type` is `system`.


                              Currently, any username on your account can be included in an email notification channel.'
                            example:
                            - johndoe
                            - janedoe
                            items:
                              type: string
                            maxItems: 10
                            minItems: 1
                            type: array
                        type: object
                    title: email
                    type: object
                    x-akamai:
                      file-path: schemas/aclp-notification-channels-email.yaml
                  - additionalProperties: false
                    description: Configuration settings for a `webhook` notification channel.
                    properties:
                      webhook:
                        additionalProperties: false
                        description: A notification channel set up to deliver an alert as a webhook HTTPS message to a specified URL.
                        properties:
                          authentication:
                            additionalProperties: false
                            description: Authentication details required to access the `endpoint_url`.
                            properties:
                              details:
                                additionalProperties: false
                                description: __Write-only__ Includes additional parameters necessary to define `basic` authentication. If `type` is set to `none`, leave this object empty or out of a request.
                                properties:
                                  basic_authentication_password:
                                    description: The password tied to the `basic_authentication_user`, for `basic` authentication.
                                    example: C0mPl3X_p@$$w0Rd
                                    type: string
                                  basic_authentication_user:
                                    description: The user name for `basic` authentication.
                                    example: John_Q
                                    type: string
                                required:
                                - basic_authentication_user
                                - basic_authentication_password
                                type:
                                - object
                                - 'null'
                                writeOnly: true
                              type:
                                description: The type of authentication in use. This can be `none` for no authentication, or `basic` for authentication using a username and password, set using the `details` parameters.
                                enum:
                                - none
                                - basic
                                example: basic
                                type: string
                            required:
                            - type
                            type: object
                          client_certificate_details:
                            additionalProperties: false
                            description: 'Contains mutual transport layer security (mTLS) client certificate information to additionally secure the connection for the request.


                              > 📘

                              >

                              > This object only appears in a response to an operation if its `tls_hostname` object was set for the notification channel.'
                            properties:
                              client_ca_certificate:
                                description: The certificate authority (CA) certificate used to verify a requesting server's identity.
                                example: '-----BEGIN CERTIFICATE-----\aBCDEfgHIJ1klMnOPQrSTUvXYZA+bCdefGh ... IjKlmN2OPqRSTu\vwx3y\z-----END CERTIFICATE-----'
                                type: string
                              client_certificate:
                                description: '__Write-only__ The PEM-formatted digital certificate you want to authenticate requests to the `endpoint_url`.


                                  > 📘

                                  >

                                  > For security purposes, this field is hidden from the response for all operations.'
                                example: '-----BEGIN CERTIFICATE-----\aBCDEfgHIJ1klMnOPQrSTUvXYZA+bCdefGh ... IjKlmN2OPqRSTu\vwx3y\z-----END CERTIFICATE-----'
                                type: string
                                writeOnly: true
                              client_private_key:
                                description: '__Write-only__ The private key in the non-encrypted PKCS8 format that authenticates with the back-end server.


                                  > 📘

                                  >

                                  > For security purposes, this field is hidden from the response for all operations.'
                                example: '-----BEGIN CERTIFICATE-----\aBCDEfgHIJ1klMnOPQrSTUvXYZA+bCdefGh ... IjKlmN2OPqRSTu\vwx3y\z-----END CERTIFICATE-----'
                                type: string
                                writeOnly: true
                              tls_hostname:
                                description: For mTLS support, this is the hostname that verifies the server's certificate and matches the Subject Alternative Names (SANs) in the certificate. If this field is left out, the API fetches the hostname from the `endpoint_url`.
                                example: my-site.com
                                type: string
                            required:
                            - client_ca_certificate
                            - client_certificate
                            - client_private_key
                            type: object
                          custom_headers:
                            description: 'Pairs of parameters used to optionally include custom headers in the request.


                              > 📘

                              >

                              > These headers are _not_ supported: `content_type`, `encoding`, `authorization`, `host`, and `akamai`.'
                            items:
                              additionalProperties: false
                              properties:
                                name:
                                  description: The name of the custom header to include in the request.
                                  example: Cache-Control
                                  type: string
                                value:
                                  description: The body content for the custom header to include in the request.
                                  example: max-age=0
                                  type: string
                              required:
                              - name
                              - value
                              type: object
                            type: array
                          data_compression:
                            description: Specifies whether data compression is applied to files included in a request. This can be `gzip` to apply this compression format or `none`.
                            enum:
                            - gzip
                            - none
                            example: gzip
                            type: string
                          endpoint_url:
                            description: 'The URL where the request will be sent for the webhook.


                              > 📘

                              >

                              > Requests to the `endpoint_url` need to use a content-type of `application/json`. All other format requests return an error.'
                            example: https://my-site.com/alerts-storage/basicAuth
                            type: string
                        required:
                        - endpoint_url
                        - authentication
                        type: object
                    title: webhook
                    type: object
                    x-akamai:
                      file-path: schemas/aclp-notification-channels-webhook.yaml
                label:
                  description: The name of the notification channel for identification purposes. This value needs to be unique for each notification channel.
                  example: '{{label}}'
                  type: string
              required:
              - channel_type
              - details
              type: object
              x-akamai:
                file-path: schemas/aclp-notification-channel-create.yaml
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                ex-email:
                  summary: channel_type Email
                  value:
                    alerts:
                      alert_count: 5
                      type: alerts-definitions
                      url: /monitor/alert-channels/10000/alerts
                    channel_type: email
                    created: '2026-01-20T01:41:09'
                    created_by: johndoe
                    details:
                      email:
                        recipient_type: user
                        usernames:
                        - johndoe
                        - janedoe
                    id: 10000
                    label: Email channel for Managed Database alerts
                    type: user
                    updated: '2026-01-20T01:41:09'
                    updated_by: johndoe
                ex-webhook:
                  summary: channel_type Webhook
                  value:
                    alerts:
                      alert_count: 5
                      type: alerts-definitions
                      url: /monitor/alert-channels/10000/alerts
                    channel_type: email
                    created: '2025-03-20T01:41:09'
                    created_by: johndoe
                    details:
                      webhook:
                        authentication:
                          type: basic
                        client_certificate_details:
                          client_ca_certificate: '-----BEGIN CERTIFICATE-----\aBCDEfgHIJ1klMnOPQrSTUvXYZA+bCdefGh ... IjKlmN2OPqRSTu\vwx3y\z-----END CERTIFICATE-----'
                          tls_hostname: my-site.com
                        custom_headers:
                        - name: Cache-Control
                          value: max-age=0
                        data_compression: gzip
                        endpoint_url: https://my-site.com/alerts-storage/basicAuth
                    id: 10000
                    label: Read-Write Channel
                    type: user
                    updated: '2025-03-20T01:41:09'
                    updated_by: johndoe
              schema:
                additionalProperties: false
                properties:
                  alerts:
                    additionalProperties: false
                    description: Details about the alerts where you've applied this notification channel.
                    properties:
                      alert_count:
                        description: The number of alerts that have been assigned to this notification channel. This will be 0 for a newly created channel.
                        example: 5
                        type: integer
                      type:
                        description: The alert's entity type. This will always be `alert-definitions` for an alert.
                        enum:
                        - alert-definitions
                        example: alert-definitions
                        type: string
                      url:
                        description: The URL to access a list of all of the alerts assigned to this notification channel, based on its `id`.
                        example: /monitor/alert-channels/10000/alerts
                        format: url
                        type: string
                    type: object
                  channel_type:
                    description: The type of notification used with the channel. This can be `email` to send the alert via email message or `webhook` to send an HTTP message to a specified URL.
                    enum:
                    - email
                    - webhook
                    example: email
                    type: string
                  created:
                    description: When the notification channel was created.
                    example: '2025-03-20T01:41:09'
                    format: date-time
                    type: string
                  created_by:
                    description: For a `user` notification channel, this is the user on your account that created it. For a `system` notification channel, this value is returned as `system`.
                    example: johndoe
                    type: string
                  details:
                    oneOf:
                    - additionalProperties: false
                      description: Configuration settings for an `email` notification channel.
                      properties:
                        email:
                          additionalProperties: false
                          description: A notification channel set up to deliver an alert via email.
                          properties:
                            recipient_type:
                              description: __Read-only__ The type of email recipient, based on the notification channel `type`. This can be `user` for a custom, user-generated notification channel, `read_write_users` for a pre-defined, system alert's notification channel, when the target entities in the alert require read-write access, and `read_users` for a system alert's notification channel for read-only entities.
                              enum:
                              - user
                              - read_write_users
                              - read_users
                              example: user
                              readOnly: true
                              type: string
                            usernames:
                              description: 'The usernames on your account that should receive the alert. When you create a new user, you assign it a username and an email address. This email address is used for the alert. Run the [List users](https://techdocs.akamai.com/linode-api/reference/get-users) operation and store the `username` for applicable users. This is empty if the notification channel `type` is `system`.


                                Currently, any username on your account can be included in an email notification channel.'
                              example:
                              - johndoe
                              - janedoe
                              items:
                                type: string
                              maxItems: 10
                              minItems: 1
                              type: array
                          type: object
                      title: email
                      type: object
                      x-akamai:
                        file-path: schemas/aclp-notification-channels-email.yaml
                    - additionalProperties: false
                      description: Configuration settings for a `webhook` notification channel.
                      properties:
                        webhook:
                          additionalProperties: false
                          description: A notification channel set up to deliver an alert as a webhook HTTPS message to a specified URL.
                          properties:
                            authentication:
                              additionalProperties: false
                              description: Authentication details required to access the `endpoint_url`.
                              properties:
                                details:
                                  additionalProperties: false
                                  description: __Write-only__ Includes additional parameters necessary to define `basic` authentication. If `type` is set to `none`, leave this object empty or out of a request.
                                  properties:
                                    basic_authentication_password:
                                      description: The password tied to the `basic_authentication_user`, for `basic` authentication.
                                      example: C0mPl3X_p@$$w0Rd
                                      type: string
                                    basic_authentication_user:
                                      description: The user name for `basic` authentication.
                                      example: John_Q
                                      type: string
                                  required:
                                  - basic_authentication_user
                                  - basic_authentication_password
                                  type:
                                  - object
                                  - 'null'
                                  writeOnly: true
                                type:
                                  description: The type of authentication in use. This can be `none` for no authentication, or `basic` for authentication using a username and password, set using the `details` parameters.
                                  enum:
                                  - none
                                  - basic
                                  example: basic
                                  type: string
                              required:
                              - type
                              type: object
                            client_certificate_details:
                              additionalProperties: false
                              description: 'Contains mutual transport layer security (mTLS) client certificate information to additionally secure the connection for the request.


                                > 📘

                                >

                                > This object only appears in a response to an operation if its `tls_hostname` object was set for the notification channel.'
                              properties:
                                client_ca_certificate:
                                  description: The certificate authority (CA) certificate used to verify a requesting server's identity.
                                  example: '-----BEGIN CERTIFICATE-----\aBCDEfgHIJ1klMnOPQrSTUvXYZA+bCdefGh ... IjKlmN2OPqRSTu\vwx3y\z-----END CERTIFICATE-----'
                                  type: string
                                client_certificate:
                                  description: '__Write-only__ The PEM-formatted digital certificate you want to authenticate requests to the `endpoint_url`.


                                    > 📘

                                    >

                                    > For security purposes, this field is hidden from the response for all operations.'
                                  example: '-----BEGIN CERTIFICATE-----\aBCDEfgHIJ1klMnOPQrSTUvXYZA+bCdefGh ... IjKlmN2OPqRSTu\vwx3y\z-----END CERTIFICATE-----'
                                  type: string
                                  writeOnly: true
                                client_private_key:
                                  description: '__Write-only__ The private key in the non-encrypted PKCS8 format that authenticates with the back-end server.


                                    > 📘

                                    >

                                    > For security purposes, this field is hidden from the response for all operations.'
                                  example: '-----BEGIN CERTIFICATE-----\aBCDEfgHIJ1klMnOPQrSTUvXYZA+bCdefGh ... IjKlmN2OPqRSTu\vwx3y\z-----END CERTIFICATE-----'
                                  type: string
                                  writeOnly: true
                                tls_hostname:
                                  description: For mTLS support, this is the hostname that verifies the server's certificate and matches the Subject Alternative Names (SANs) in the certificate. If this field is left out, the API fetches the hostname from the `endpoint_url`.
                                  example: my-site.com
                                  type: string
                              required:
                              - client_ca_certificate
                              - client_certificate
                              - client_private_key
                              type: object
                            custom_headers:
                              description: 'Pairs of parameters used to optionally include custom headers in the request.


                                > 📘

                                >

                                > These headers are _not_ supported: `content_type`, `encoding`, `authorization`, `host`, and `akamai`.'
                              items:
                                additionalProperties: false
                                properties:
                                  name:
                                    description: The name of the custom header to include in the request.
                                    example: Cache-Control
                                    type: string
                                  value:
                                    description: The body content for the custom header to include in the request.
                                    example: max-age=0
                                    type: string
                                required:
                                - name
                                - value
                                type: object
                              type: array
                            data_compression:
                              description: Specifies whether data compression is applied to files included in a request. This can be `gzip` to apply this compression format or `none`.
                              enum:
                              - gzip
                              - none
                              example: gzip
                              type: string
                            endpoint_url:
                              description: 'The URL where the request will be sent for the webhook.


                                > 📘

                                >

                                > Requests to the `endpoint_url` need to use a content-type of `application/json`. All other format requests return an error.'
                              example: https://my-site.com/alerts-storage/basicAuth
                              type: string
                          required:
                          - endpoint_url
                          - authentication
                          type: object
                      title: webhook
                      type: object
                      x-akamai:
                        file-path: schemas/aclp-notification-channels-webhook.yaml
                  id:
                    description: __Filterable__ The unique identifier for the notification channel.
                    example: 10000
                    type: integer
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-filterable: true
                  label:
                    description: __Filterable__ The name of the notification channel for identification purposes.
                    example: Read-Write Channel
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-filterable: true
                  type:
                    description: The type of notification channel. This can be either `system` for a channel provided by Akamai, or `user` for one you've created.
                    enum:
                    - system
                    - user
                    example: user
                    type: string
                  updated:
                    description: When the notification channel was last updated. This is the same as `created` if the channel hasn't been updated.
                    example: '2025-03-20T01:41:09'
                    format: date-time
                    type: string
                  updated_by:
                    description: For a `user` notification channel, this is the user on your account that last updated it. For a `system` notification channel, this is returned as `system`. If it hasn't been updated, this value is the same as `created_by`.
                    example: johndoe
                    type: string
                type: object
                x-akamai:
                  file-path: schemas/aclp-notification-channel-put-post-response.yaml
          description: A notification channel was created.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - monitor:read_write
      summary: Create a notification channel
      tags:
      - Alerts
      x-akamai:
        status: LA
        tabs:
        - syntax: monitor:read_write
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
        - syntax: 'linode-cli alerts channels-create

            --label Email channel for Managed Database alerts \

            --channel_type email \

            --details.email.usernames johndoe \

            --details.email.usernames janedoe'
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: channels-create
      x-linode-grant: read_write
    get:
      description: '__Limited availability__ Returns all of the monitoring alert notification channels available to your user. A notification channel is a method of communication used to send a monitoring alert.


        > 📘

        >

        > Filtering is supported for specific objects, labeled as **Filterable**. However, only the `+and` and `+or` operators are supported, and you can''t nest filter operators.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `monitor:read_only`


        **CLI**


        ```shell

        linode-cli alerts channels-list

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-notification-channels
      operationId: get-notification-channels
      responses:
        '200':
          content:
            application/json:
              examples:
                ex-email:
                  summary: channel_type Email
                  value:
                    data:
                    - alerts:
                        alert_count: 5
                        type: alerts-definitions
                        url: /monitor/alerts-definitions/10000
                      channel_type: email
                      created: '2025-03-20T01:41:09'
                      created_by: johndoe
                      details:
                        email:
                          recipient_type: user
                          usernames:
                          - johndoe
                          - janedoe
                      id: 10000
                      label: 'Notification channel #1'
                      type: user
                      updated: '2025-03-20T01:41:09'
                      updated_by: johndoe
                    - alerts:
                        alert_count: 3
                        type: alerts-definitions
                        url: /monitor/alert-channels/10001/alerts
                      channel_type: email
                      created: '2025-03-20T01:41:09'
                      created_by: system
                      details:
                        email:
                          recipient_type: read_write_users
                          usernames: []
                      id: 10001
                      label: Read-Write Channel
                      type: system
                      updated: '2025-03-20T01:41:09'
                      updated_by: system
                    page: 1
                    pages: 1
                    results: 2
                ex-webhook:
                  summary: channel_type Webhook
                  value:
                    data:
                    - alerts:
                        alert_count: 5
                        type: alerts-definitions
                        url: /monitor/alert-channels/10001/alerts
                      channel_type: email
                      created: '2025-03-20T01:41:09'
                      created_by: johndoe
                      details:
                        webhook:
                          authentication:
                            type: basic
                          client_certificate_details:
                            client_ca_certificate: '-----BEGIN CERTIFICATE-----\aBCDEfgHIJ1klMnOPQrSTUvXYZA+bCdefGh ... IjKlmN2OPqRSTu\vwx3y\z-----END CERTIFICATE-----'
                            tls_hostname: my-site.com
                          custom_headers:
                          - name: Cache-Control
                            value: max-age=0
                          data_compression: gzip
                          endpoint_url: https://my-site.com/alerts-storage/basicAuth
                      id: 10000
                      label: Read-Write Channel
                      type: user
                      updated: '2025-03-20T01:41:09'
                      updated_by: johndoe
                    page: 1
                    pages: 1
                    results: 1
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: A list of objects returned for a response.
                    items:
                      additionalProperties: false
                      properties:
                        alerts:
                          additionalProperties: false
                          description: Details about the alerts where you've applied this notification channel.
                          properties:
                            alert_count:
                              description: The number of alerts that have been assigned to this notification channel. This will be 0 for a newly created channel.
                              example: 5
                              type: integer
                            type:
                              description: The alert's entity type. This will always be `alert-definitions` for an alert.
                              enum:
                              - alert-definitions
                              example: alert-definitions
                              type: string
                            url:
                              description: The URL to access a list of all of the alerts assigned to this notification channel, based on its `id`.
                              example: /monitor/alert-channels/10000/alerts
                              format: url
                              type: string
                          type: object
                        channel_type:
                          description: The type of notification used with the channel. This can be `email` to send the alert via email message or `webhook` to send an HTTP message to a specified URL.
                          enum:
                          - email
                          - webhook
                          example: email
                          type: string
                        created:
                          description: When the notification channel was created.
                          example: '2025-03-20T01:41:09'
                          format: date-time
                          type: string
                        created_by:
                          description: For a `user` notification channel, this is the user on your account that created it. For a `system` notification channel, this value is returned as `system`.
                          example: system
                          type: string
                        details:
                          oneOf:
                          - additionalProperties: false
                            description: Configuration settings for an `email` notification channel.
                            properties:
                              email:
                                additionalProperties: false
                                description: A notification channel set up to deliver an alert via email.
                                properties:
                                  recipient_type:
                                    description: __Read-only__ The type of email recipient, based on the notification channel `type`. This can be `user` for a custom, user-generated notification channel, `read_write_users` for a pre-defined, system alert's notification channel, when the target entities in the alert require read-write access, and `read_users` for a system alert's notification channel for read-only entities.
                                    enum:
                                    - user
                                    - read_write_users
                                    - read_users
                                    example: user
                                    readOnly: true
                                    type: string
                                  usernames:
                                    description: 'The usernames on your account that should receive the alert. When you create a new user, you assign it a username and an email address. This email address is used for the alert. Run the [List users](https://techdocs.akamai.com/linode-api/reference/get-users) operation and store the `username` for applicable users. This is empty if the notification channel `type` is `system`.


                                      Currently, any username on your account can be included in an email notification channel.'
                                    example:
                                    - johndoe
                                    - janedoe
                                    items:
                                      type: string
                                    maxItems: 10
                                    minItems: 1
                                    type: array
                                type: object
                            title: email
                            type: object
                            x-akamai:
                              file-path: schemas/aclp-notification-channels-email.yaml
                          - additionalProperties: false
                            description: Configuration settings for a `webhook` notification channel.
                            properties:
                              webhook:
                                additionalProperties: false
                                description: A notification channel set up to deliver an alert as a webhook HTTPS message to a specified URL.
                                properties:
                                  authentication:
                                    additionalProperties: false
                                    description: Authentication details required to access the `endpoint_url`.
                                    properties:
                                      details:
                                        additionalProperties: false
                                        description: __Write-only__ Includes additional parameters necessary to define `basic` authentication. If `type` is set to `none`, leave this object empty or out of a request.
                                        properties:
                                          basic_authentication_password:
                                            description: The password tied to the `basic_authentication_user`, for `basic` authentication.
                                            example: C0mPl3X_p@$$w0Rd
                                            type: string
                                          basic_authentication_user:
                                            description: The user name for `basic` authentication.
                                            example: John_Q
                                            type: string
                                        required:
                                        - basic_authentication_user
                                        - basic_authentication_password
                                        type:
                                        - object
                                        - 'null'
                                        writeOnly: true
                                      type:
                                        description: The type of authentication in use. This can be `none` for no authentication, or `basic` for authentication using a username and password, set using the `details` parameters.
                                        enum:
                                        - none
                                        - basic
                                        example: basic
                                        type: string
                                    required:
                                    - type
                                    type: object
                                  client_certificate_details:
                                    additionalProperties: false
                                    description: 'Contains mutual transport layer security (mTLS) client certificate information to additionally secure the connection for the request.


                                      > 📘

                                      >

                                      > This object only appears in a response to an operation if its `tls_hostname` object was set for the notification channel.'
                                    properties:
                                      client_ca_certificate:
                                        description: The certificate authority (CA) certificate used to verify a requesting server's identity.
                                        example: '-----BEGIN CERTIFICATE-----\aBCDEfgHIJ1klMnOPQrSTUvXYZA+bCdefGh ... IjKlmN2OPqRSTu\vwx3y\z-----END CERTIFICATE-----'
                                        type: string
                                      client_certificate:
                                        description: '__Write-only__ The PEM-formatted digital certificate you want to authenticate requests to the `endpoint_url`.


                                          > 📘

                                          >

                                          > For security purposes, this field is hidden from the response for all operations.'
                                        example: '-----BEGIN CERTIFICATE-----\aBCDEfgHIJ1klMnOPQrSTUvXYZA+bCdefGh ... IjKlmN2OPqRSTu\vwx3y\z-----END CERTIFICATE-----'
                                        type: string
                                        writeOnly: true
                                      client_private_key:
                                        description: '__Write-only__ The private key in the non-encrypted PKCS8 format that authenticates with the back-end server.


                                          > 📘

                                          >

                                          > For security purposes, this field is hidden from the response for all operations.'
                                        example: '-----BEGIN CERTIFICATE-----\aBCDEfgHIJ1klMnOPQrSTUvXYZA+bCdefGh ... IjKlmN2OPqRSTu\vwx3y\z-----END CERTIFICATE-----'
                                        type: string
                                        writeOnly: true
                                      tls_hostname:
                                        description: For mTLS support, this is the hostname that verifies the server's certificate and matches the Subject Alternative Names (SANs) in the certificate. If this field is left out, the API fetches the hostname from the `endpoint_url`.
                                        example: my-site.com
                                        type: string
                                    required:
                                    - client_ca_certificate
                                    - client_certificate
                                    - client_private_key
                                    type: object
                                  custom_headers:
                                    description: 'Pairs of parameters used to optionally include custom headers in the request.


                                      > 📘

                                      >

                                      > These headers are _not_ supported: `content_type`, `encoding`, `authorization`, `host`, and `akamai`.'
                                    items:
                                      additionalProperties: false
                                      properties:
                                        name:
                                          description: The name of the custom header to include in the request.
                                          example: Cache-Control
                                          type: string
                                        value:
                                          description: The body content for the custom header to include in the request.
                                          example: max-age=0
                                          type: string
                                      required:
                                      - name
                                      - value
                                      type: object
                                    type: array
                                  data_compression:
                                    description: Specifies whether data compression is applied to files included in a request. This can be `gzip` to apply this compression format or `none`.
                                    enum:
                                    - gzip
                                    - none
                                    example: gzip
                                    type: string
                                  endpoint_url:
                                    description: 'The URL where the request will be sent for the webhook.


                                      > 📘

                                      >

                                      > Requests to the `endpoint_url` need to use a content-type of `application/json`. All other format requests return an error.'
                                    example: https://my-site.com/alerts-storage/basicAuth
                                    type: string
                                required:
                                - endpoint_url
                                - authentication
                                type: object
                            title: webhook
                            type: object
                            x-akamai:
                              file-path: schemas/aclp-notification-channels-webhook.yaml
                        id:
                          description: __Filterable__ The unique identifier for the notification channel.
                          example: 10000
                          type: integer
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-filterable: true
                        label:
                          description: __Filterable__, __Read-only__ The name of the notification channel for identification purposes.
                          example: Read-Write Channel
                          properties:
                            email:
                              additionalProperties: false
                              deprecated: true
                              description: __Deprecated__ This represents a legacy alert channel to deliver an email for an alert.
                              properties:
                                email_addresses:
                                  deprecated: true
                                  description: __Deprecated__, __Read-only__ Email addresses that receive the message for the alert. For a legacy `system` notification channel, this returns a value of `Users-with-read-write-access-to-resources`. This represents all users on your account that have read-write access to the object that triggered the alert.
                                  example:
                                  - users-with-read-write-access-to-resources
                                  items:
                                    enum:
                                    - users-with-read-write-access-to-resources
                                    type: string
                                  readOnly: true
                                  type: array
                                  x-akamai:
                                    status: DEPRECATED
                              type: object
                              x-akamai:
                                status: DEPRECATED
                          readOnly: true
                          type: string
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-filterable: true
                        type:
                          description: The type of notification channel. This can be either `system` for a channel provided by Akamai, or `user` for one you've created.
                          enum:
                          - system
                          - user
                          example: user
                          type: string
                        updated:
                          description: When the notification channel was last updated. This is the same as `created` if the channel hasn't been updated.
                          example: '2025-03-20T01:41:09'
                          format: date-time
                          type: string
                        updated_by:
                          description: For a `user` notification channel, this is the user on your account that last updated it. For a `system` notification channel, this is returned as `system`. If it hasn't been updated, this value is the same as `created_by`.
                          example: system
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/aclp-notification-channel-response.yaml
                    type: array
                  page:
                    description: __Read-only__ The current [page](https://techdocs.akamai.com/linode-api/reference/pagination).
                    example: 1
                    readOnly: true
                    type: integer
                  pages:
                    description: __Read-only__ The total number of [pages](https://techdocs.akamai.com/linode-api/reference/pagination).
                    example: 1
                    readOnly: true
                    type: integer
                  results:
                    description: __Read-only__ The total number of results.
                    example: 1
                    readOnly: true
                    type: integer
                type: object
                x-akamai:
                  file-path: schemas/aclp-notification-channels-response.yaml
          description: Returns a paginated list of monitoring alerts notification channels.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - monitor:read_only
      summary: List notification channels
      tags:
      - Alerts
      x-akamai:
        status: LA
        tabs:
        - syntax: monitor:read_only
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
        - syntax: linode-cli alerts channels-list
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: channels-list
      x-linode-grant: read_only
  /{apiVersion}/monitor/alert-channels/{channelId}:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    - description: The unique identifier assigned to the monitoring alerts notification channel. Run the [List notification channels](https://techdocs.akamai.com/linode-api/reference/get-notification-channels) operation and store the `id` for the applicable one.
      example: '{{channelId}}'
      in: path
      name: channelId
      required: true
      schema:
        example: 754
        type: integer
      x-akamai:
        file-path: parameters/aclp-channel-id.yaml
    x-akamai:
      file-path: paths/aclp-notification-channel.yaml
      path-info: /{apiVersion}/monitor/alert-channels/{channelId}
    x-linode-cli-command: alerts
    get:
      description: '__Limited availability__ Returns a specific monitoring alerts notification channel. A notification channel is the method of communication used to send a monitoring alert.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `monitor:read_only`


        **CLI**


        ```shell

        linode-cli alerts channels-view 754

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-notification-channel
      operationId: get-notification-channel
      responses:
        '200':
          content:
            application/json:
              examples:
                ex-system:
                  summary: Channel - System
                  value:
                    alerts:
                      alert_count: 5
                      type: alerts-definitions
                      url: /monitor/alert-channels/10000/alerts
                    channel_type: email
                    created: '2025-03-20T01:41:09'
                    created_by: system
                    details:
                      email:
                        recipient_type: read_write_users
                        usernames: []
                    id: 10001
                    label: Read-Write Channel
                    type: system
                    updated: '2025-03-20T01:41:09'
                    updated_by: system
                ex-user:
                  summary: Channel - User
                  value:
                    alerts:
                      alert_count: 5
                      type: alerts-definitions
                      url: /monitor/alert-channels/10000/alerts
                    channel_type: email
                    created: '2025-03-20T01:41:09'
                    created_by: user
                    details:
                      email:
                        recipient_type: user
                        usernames:
                        - johndoe
                        - janedoe
                    id: 10000
                    label: Read-Write Channel
                    type: system
                    updated: '2025-03-20T01:41:09'
                    updated_by: system
              schema:
                additionalProperties: false
                properties:
                  alerts:
                    additionalProperties: false
                    description: Details about the alerts where you've applied this notification channel.
                    properties:
                      alert_count:
                        description: The number of alerts that have been assigned to this notification channel. This will be 0 for a newly created channel.
                        example: 5
                        type: integer
                      type:
                        description: The alert's entity type. This will always be `alert-definitions` for an alert.
                        enum:
                        - alert-definitions
                        example: alert-definitions
                        type: string
                      url:
                        description: The URL to access a list of all of the alerts assigned to this notification channel, based on its `id`.
                        example: /monitor/alert-channels/10000/alerts
                        format: url
                        type: string
                    type: object
                  channel_type:
                    description: The type of notification used with the channel. This can be `email` to send the alert via email message or `webhook` to send an HTTP message to a specified URL.
                    enum:
                    - email
                    - webhook
                    example: email
                    type: string
                  created:
                    description: When the notification channel was created.
                    example: '2025-03-20T01:41:09'
                    format: date-time
                    type: string
                  created_by:
                    description: For a `user` notification channel, this is the user on your account that created it. For a `system` notification channel, this value is returned as `system`.
                    example: system
                    type: string
                  details:
                    oneOf:
                    - additionalProperties: false
                      description: Configuration settings for an `email` notification channel.
                      properties:
                        email:
                          additionalProperties: false
                          description: A notification channel set up to deliver an alert via email.
                          properties:
                            recipient_type:
                              description: __Read-only__ The type of email recipient, based on the notification channel `type`. This can be `user` for a custom, user-generated notification channel, `read_write_users` for a pre-defined, system alert's notification channel, when the target entities in the alert require read-write access, and `read_users` for a system alert's notification channel for read-only entities.
                              enum:
                              - user
                              - read_write_users
                              - read_users
                              example: user
                              readOnly: true
                              type: string
                            usernames:
                              description: 'The usernames on your account that should receive the alert. When you create a new user, you assign it a username and an email address. This email address is used for the alert. Run the [List users](https://techdocs.akamai.com/linode-api/reference/get-users) operation and store the `username` for applicable users. This is empty if the notification channel `type` is `system`.


                                Currently, any username on your account can be included in an email notification channel.'
                              example:
                              - johndoe
                              - janedoe
                              items:
                                type: string
                              maxItems: 10
                              minItems: 1
                              type: array
                          type: object
                      title: email
                      type: object
                      x-akamai:
                        file-path: schemas/aclp-notification-channels-email.yaml
                    - additionalProperties: false
                      description: Configuration settings for a `webhook` notification channel.
                      properties:
                        webhook:
                          additionalProperties: false
                          description: A notification channel set up to deliver an alert as a webhook HTTPS message to a specified URL.
                          properties:
                            authentication:
                              additionalProperties: false
                              description: Authentication details required to access the `endpoint_url`.
                              properties:
                                details:
                                  additionalProperties: false
                                  description: __Write-only__ Includes additional parameters necessary to define `basic` authentication. If `type` is set to `none`, leave this object empty or out of a request.
                                  properties:
                                    basic_authentication_password:
                                      description: The password tied to the `basic_authentication_user`, for `basic` authentication.
                                      example: C0mPl3X_p@$$w0Rd
                                      type: string
                                    basic_authentication_user:
                                      description: The user name for `basic` authentication.
                                      example: John_Q
                                      type: string
                                  required:
                                  - basic_authentication_user
                                  - basic_authentication_password
                                  type:
                                  - object
                                  - 'null'
                                  writeOnly: true
                                type:
                                  description: The type of authentication in use. This can be `none` for no authentication, or `basic` for authentication using a username and password, set using the `details` parameters.
                                  enum:
                                  - none
                                  - basic
                                  example: basic
                                  type: string
                              required:
                              - type
                              type: object
                            client_certificate_details:
                              additionalProperties: false
                              description: 'Contains mutual transport layer security (mTLS) client certificate information to additionally secure the connection for the request.


                                > 📘

                                >

                                > This object only appears in a response to an operation if its `tls_hostname` object was set for the notification channel.'
                              properties:
                                client_ca_certificate:
                                  description: The certificate authority (CA) certificate used to verify a requesting server's identity.
                                  example: '-----BEGIN CERTIFICATE-----\aBCDEfgHIJ1klMnOPQrSTUvXYZA+bCdefGh ... IjKlmN2OPqRSTu\vwx3y\z-----END CERTIFICATE-----'
                                  type: string
                                client_certificate:
                                  description: '__Write-only__ The PEM-formatted digital certificate you want to authenticate requests to the `endpoint_url`.


                                    > 📘

                                    >

                                    > For security purposes, this field is hidden from the response for all operations.'
                                  example: '-----BEGIN CERTIFICATE-----\aBCDEfgHIJ1klMnOPQrSTUvXYZA+bCdefGh ... IjKlmN2OPqRSTu\vwx3y\z-----END CERTIFICATE-----'
                                  type: string
                                  writeOnly: true
                                client_private_key:
                                  description: '__Write-only__ The private key in the non-encrypted PKCS8 format that authenticates with the back-end server.


                                    > 📘

                                    >

                                    > For security purposes, this field is hidden from the response for all operations.'
                                  example: '-----BEGIN CERTIFICATE-----\aBCDEfgHIJ1klMnOPQrSTUvXYZA+bCdefGh ... IjKlmN2OPqRSTu\vwx3y\z-----END CERTIFICATE-----'
                                  type: string
                                  writeOnly: true
                                tls_hostname:
                                  description: For mTLS support, this is the hostname that verifies the server's certificate and matches the Subject Alternative Names (SANs) in the certificate. If this field is left out, the API fetches the hostname from the `endpoint_url`.
                                  example: my-site.com
                                  type: string
                              required:
                              - client_ca_certificate
                              - client_certificate
                              - client_private_key
                              type: object
                            custom_headers:
                              description: 'Pairs of parameters used to optionally include custom headers in the request.


                                > 📘

                                >

                                > These headers are _not_ supported: `content_type`, `encoding`, `authorization`, `host`, and `akamai`.'
                              items:
                                additionalProperties: false
                                properties:
                                  name:
                                    description: The name of the custom header to include in the request.
                                    example: Cache-Control
                                    type: string
                                  value:
                                    description: The body content for the custom header to include in the request.
                                    example: max-age=0
                                    type: string
                                required:
                                - name
                                - value
                                type: object
                              type: array
                            data_compression:
                              description: Specifies whether data compression is applied to files included in a request. This can be `gzip` to apply this compression format or `none`.
                              enum:
                              - gzip
                              - none
                              example: gzip
                              type: string
                            endpoint_url:
                              description: 'The URL where the request will be sent for the webhook.


                                > 📘

                                >

                                > Requests to the `endpoint_url` need to use a content-type of `application/json`. All other format requests return an error.'
                              example: https://my-site.com/alerts-storage/basicAuth
                              type: string
                          required:
                          - endpoint_url
                          - authentication
                          type: object
                      title: webhook
                      type: object
                      x-akamai:
                        file-path: schemas/aclp-notification-channels-webhook.yaml
                  id:
                    description: __Filterable__ The unique identifier for the notification channel.
                    example: 10000
                    type: integer
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-filterable: true
                  label:
                    description: __Filterable__, __Read-only__ The name of the notification channel for identification purposes.
                    example: Read-Write Channel
                    properties:
                      email:
                        additionalProperties: false
                        deprecated: true
                        description: __Deprecated__ This represents a legacy alert channel to deliver an email for an alert.
                        properties:
                          email_addresses:
                            deprecated: true
                            description: __Deprecated__, __Read-only__ Email addresses that receive the message for the alert. For a legacy `system` notification channel, this returns a value of `Users-with-read-write-access-to-resources`. This represents all users on your account that have read-write access to the object that triggered the alert.
                            example:
                            - users-with-read-write-access-to-resources
                            items:
                              enum:
                              - users-with-read-write-access-to-resources
                              type: string
                            readOnly: true
                            type: array
                            x-akamai:
                              status: DEPRECATED
                        type: object
                        x-akamai:
                          status: DEPRECATED
                    readOnly: true
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-filterable: true
                  type:
                    description: The type of notification channel. This can be either `system` for a channel provided by Akamai, or `user` for one you've created.
                    enum:
                    - system
                    - user
                    example: user
                    type: string
                  updated:
                    description: When the notification channel was last updated. This is the same as `created` if the channel hasn't been updated.
                    example: '2025-03-20T01:41:09'
                    format: date-time
                    type: string
                  updated_by:
                    description: For a `user` notification channel, this is the user on your account that last updated it. For a `system` notification channel, this is returned as `system`. If it hasn't been updated, this value is the same as `created_by`.
                    example: system
                    type: string
                type: object
                x-akamai:
                  file-path: schemas/aclp-notification-channel-response.yaml
          description: Returns a specific notification channels.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      security:
      - personalAccessToken: []
      - oauth:
        - monitor:read_only
      summary: Get a notification channel
      tags:
      - Alerts
      x-akamai:
        status: LA
        tabs:
        - syntax: monitor:read_only
          title: OAuth scopes
          url: https://techdocs.akamai.com/linode-api/reference/get-started#oauth
        - syntax: linode-cli alerts channels-view 754
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: channels-view
      x-linode-grant: read_only
    put:
      description: '__Limited availability__ Update an existing monitoring alert notification channel. A notification channel is the method of communication used to send a monitoring alert.


        > 📘

        >

        > - To maintain existing settings in a notification channel, you need to provide them when updating an object. For example, if you have a `channel_type` of `email` with `johndoe` and `janedoe` currently set as `usernames`, you need to include them if you''re updating the `usernames` object with a new value. Run the Get notification channel operation and review the channel''s existing settings.

        >

        > - If you''re updating a notification channel to add a `channel_type` of `webhook`, run the Verify a webhook notification channel operation to validate your webhook configuration.

        >

        > - You can''t change the `channel_type` for an existing notification channel.

        >

        > - You can''t update the default notification channel, or a `system` notification channel.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **OAuth scopes**. Your user needs these scopes assigned. Learn more.


        - Scopes: `monitor:read_write`


        **CLI**


        ```shell

        linode-cli alerts channels-update 754

        --details.email.usernames johndoe /

        --details.email.usernames janedoe /

        --details.email.usernames bobdoe

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/put-notification-channel
      operationId: put-notification-channel
      requestBody:
        content:
          application/json:
            example:
              channel_type: email
              details:
                email:
                  usernames:
                  - johndoe
                  - janedoe
                  - bobdoe
              label: Updated email channel for Managed Database alerts
            schema:
              additionalProperties: false
              properties:
                details:
                  example: '{{details}}'
                  oneOf:
                  - additionalProperties: false
                    description: Configuration settings for an `email` notification channel.
                    properties:
                      email:
                        additionalProperties: false
                        description: A notification channel set up to deliver an alert via email.
                        properties:
                          recipient_type:
                            description: __Read-only__ The type of email recipient, based on the notification channel `type`. This can be `user` for a custom, user-generated notification channel, `read_write_users` for a pre-defined, system alert's notification channel, when the target entities in the alert require read-write access, and `read_users` for a system alert's notification channel for read-only entities.
                            enum:
                            - user
                            - read_write_users
                            - read_users
                            example: user
                            readOnly: true
                            type: string
                          usernames:
                            description: 'The usernames on your account that should receive the alert. When you create a new user, you assign it a username and an email address. This email address is used for the alert. Run the [List users](https://techdocs.akamai.com/linode-api/reference/get-users) operation and store the `username` for applicable users. This is empty if the notification channel `type` is `system`.


                              Currently, any username on your account can be included in an email notification channel.'
                            example:
                            - johndoe
                            - janedoe
                            items:
                              type: string
                            maxItems: 10
                            minItems: 1
                            type: array
                        type: object
                    title: email
                    type: object
                    x-akamai:
                      file-path: schemas/aclp-notification-channels-email.yaml
                  - additionalProperties: false
                    description: Configuration settings for a `webhook` notification channel.
                    properties:
                      webhook:
                        additionalProperties: false
                        description: A notification channel set up to deliver an alert as a webhook HTTPS message to a specified URL.
                        properties:
                          authentication:
                            additionalProperties: false
                            description: Authentication details required to access the `endpoint_url`.
                            properties:
                              details:
                                additionalProperties: false
                                description: __Write-only__ Includes additional parameters necessary to define `basic` authentication. If `type` is set to `none`, leave this object empty or out of a request.
                                properties:
                                  basic_authentication_password:
                                    description: The password tied to the `basic_authentication_user`, for `basic` authentication.
                                    example: C0mPl3X_p@$$w0Rd
                                    type: string
                                  basic_authentication_user:
                                    description: The user name for `basic` authentication.
                                    example: John_Q
                                    type: string
                                required:
                                - basic_authentication_user
                                - basic_authentication_password
                                type:
                                - object
                                - 'null'
                                writeOnly: true
                              type:
                                description: The type of authentication in use. This can be `none` for no authentication, or `basic` for authentication using a username and password, set using the `details` parameters.
                                enum:
                                - none
                                - basic
                                example: basic
                                type: string
                            required:
                            - type
                            type: object
                          client_certificate_details:
                            additionalProperties: false
                            description: 'Contains mutual transport layer security (mTLS) client certificate information to additionally secure the connection for the request.


                              > 📘

                              >

                              > This object only appears in a response to an operation if its `tls_hostname` object was set for the notification channel.'
                            properties:
                              client_ca_certificate:
                                description: The certificate authority (CA) certificate used to verify a requesting server's identity.
                                example: '-----BEGIN CERTIFICATE-----\aBCDEfgHIJ1klMnOPQrSTUvXYZA+bCdefGh ... IjKlmN2OPqRSTu\vwx3y\z-----END CERTIFICATE-----'
                                type: string
                              client_certificate:
                                description: '__Write-only__ The PEM-formatted digital certificate you want to authenticate requests to the `endpoint_url`.


                                  > 📘

                                  >

                                  > For security purposes, this field is hidden from the response for all operations.'
                                example: '-----BEGIN CERTIFICATE-----\aBCDEfgHIJ1klMnOPQrSTUvXYZA+bCdefGh ... IjKlmN2OPqRSTu\vwx3y\z-----END CERTIFICATE-----'
                                type: string
                                writeOnly: true
                              client_private_key:
                                description: '__Write-only__ The private key in the non-encrypted PKCS8 format that authenticates with the back-end server.


                                  > 📘

                                  >

                                  > For security purposes, this field is hidden from the response for all operations.'
                                example: '-----BEGIN CERTIFICATE-----\aBCDEfgHIJ1klMnOPQrSTUvXYZA+bCdefGh ... IjKlmN2OPqRSTu\vwx3y\z-----END CERTIFICATE-----'
                                type: string
                                writeOnly: true
                              tls_hostname:
                                description: For mTLS support, this is the hostname that verifies the server's certificate and matches the Subject Alternative Names (SANs) in the certificate. If this field is left out, the API fetches the hostname from the `endpoint_url`.
                                example: my-site.com
                                type: string
                            required:
                            - client_ca_certificate
                            - client_certificate
                            - client_private_key
                            type: object
                          custom_headers:
                            description: 'Pairs of parameters used to optionally include custom headers in the request.


                              > 📘

                              >

                              > These headers are _not_ supported: `content_type`, `encoding`, `authorization`, `host`, and `akamai`.'
                            items:
                              additionalProperties: false
                              properties:
                                name:
                                  description: The name of the custom header to include in the request.
                                  example: Cache-Control
                                  type: string
                                value:
                                  description: The body content for the custom header to include in the request.
                                  example: max-age=0
                                  type: string
                              required:
                              - name
                              - value
                              type: object
                            type: array
                          data_compression:
                            description: Specifies whether data compression is applied to files included in a request. This can be `gzip` to apply this compression format or `none`.
                            enum:
                            - gzip
                            - none
                            example: gzip
                            type: string
                          endpoint_url:
                            description: 'The URL where the request will be sent for the webhook.


                              > 📘

                              >

                              > Requests to the `endpoint_url` need to use a content-type of `application/json`. All other format requests return an error.'
                            example: https://my-site.com/alerts-storage/basicAuth
                            type: string
                        required:
                        - endpoint_url
                        - authentication
                        type: object
                    title: webhook
                    type: object
                    x-akamai:
                      file-path: schemas/aclp-notification-channels-webhook.yaml
                label:
                  description: The name of the notification channel for identification purposes. This value needs to be unique for each notification channel.
                  example: '{{label}}'
                  type: string
              type: object
              x-akamai:
                file-path: schemas/aclp-notification-channel-update.yaml
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                ex-email:
                  summary: channel_type Email
                  value:
                    alerts:
                      alert_count: 5
                      type: alerts-definitions
                      url: /monitor/alerts-definitions/10000
                    channel_type: email
                    created: '2026-01-20 01:41:09'
                    created_by: johndoe
                    details:
                      email:
                        recipient_type: user
                        usernames:
                        - johndoe
                        - janedoe
                        - bobdoe
                    id: 10000
                    label: New email channel for Managed Database alerts
                    type: user
                    updated: '2026-01-21 02:33:21'
                    updated_by: johndoe
                ex-webhook:
                  summary: channel_type Webhook
                  value:
                    alerts:
                      alert_count: 5
                      type: alerts-definitions
                      url: /monitor/alert-channels/10000/alerts
                    channel_type: webhook
                    created: '2025-03-20T01:41:09'
                    created_by: johndoe
                    details:
                      webhook:
                        authentication:
                          type: basic
                        client_certificate_details:
                          client_ca_certificate: '-----BEGIN CERTIFICATE-----\aBCDEfgHIJ1klMnOPQrSTUvXYZA+bCdefGh ... IjKlmN2OPqRSTu\vwx3y\z-----END CERTIFICATE-----'
                          tls_hostname: my-site.com
                        custom_headers:
                        - name: Cache-Control
                          value: max-age=0
                        data_compression: gzip
                        endpoint_url: https://my-site.com/alerts-storage/basicAuth
                    id: 10000
                    label: New webhook channel for Managed Database alerts
                    type: user
                    updated: '2025-03-20T01:41:09'
                    updated_by: johndoe
              schema:
                additionalProperties: false
                properties:
                  alerts:
                    additionalProperties: false
                    description: Details about the alerts where you've applied this notification channel.
                    properties:
                      alert_count:
                        description: The number of alerts that have been assigned to this notification channel. This will be 0 for a newly created channel.
                        example: 5
                        type: integer
                      type:
                        description: The alert's entity type. This will always be `alert-definitions` for an alert.
                        enum:
                        - alert-definitions
                        example: alert-definitions
                        type: string
                      url:
                        description: The URL to access a list of all of the alerts assigned to this notification channel, based on its `id`.
                        example: /monitor/alert-channels/10000/alerts
                        format: url
                        type: string
                    type: object
                  channel_type:
                    description: The type of notification used with the channel. This can be `email` to send the alert via email message or `webhook` to send an HTTP message to a specified URL.
                    enum:
                    - email
                    - webhook
                    example: email
                    type: string
                  created:
                    description: When the notification channel was created.
                    example: '2025-03-20T01:41:09'
                    format: date-time
                    type: string
                  created_by:
                    description: For a `user` notification channel, this is the user on your account that created it. For a `system` notification channel, this value is returned as `system`.
                    example: johndoe
                    type: string
                  details:
                    oneOf:
                    - additionalProperties: false
                      description: Configuration settings for an `email` notification channel.
                      properties:
                        email:
                          additionalProperties: false
                          description: A notification channel set up to deliver an alert via email.
                          properties:
                            recipient_type:
                              description: __Read-only__ The type of email recipient, based on the notification channel `type`. This can be `user` for a custom, user-generated notification channel, `read_write_users` for a pre-defined, system alert's notification channel, when the target entities in the alert require read-write access, and `read_users` for a system alert's notification channel for read-only entities.
                              enum:
                              - user
                              - read_write_users
                              - read_users
                              example: user
                              readOnly: true
                              type: string
                            usernames:
                              description: 'The usernames on your account that should receive the alert. When you create a new user, you assign it a username and an email address. This email address is used for the alert. Run the [List users](https://techdocs.akamai.com/linode-api/reference/get-users) operation and store the `username` for applicable users. This is empty if the notification channel `type` is `system`.


                                Currently, any username on your account can be included in an email notification channel.'
                              example:
                              - johndoe
                              - janedoe
                              items:
                                type: string
                              maxItems: 10
                              minItems: 1
                              type: array
                          type: object
                      title: email
                      type: object
                      x-akamai:
                        file-path: schemas/aclp-notification-channels-email.yaml
                    - additionalProperties: false
                      description: Configuration settings for a `webhook` notification channel.
                      properties:
                        webhook:
                          additionalProperties: false
                          description: A notification channel set up to deliver an alert as a webhook HTTPS message to a specified URL.
                          properties:
                            authentication:
                              additionalProperties: false
                              description: Authentication details required to access the `endpoint_url`.
                              properties:
                                details:
[...]
