openapi: 3.2.0
info:
  description: Add a Cloud Computing instance so you can build, release, and scale applications faster with virtual machines.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: 'Akamai: Linode Linode types API'
  version: 4.229.1
servers:
- url: https://api.linode.com
tags:
- description: Use these operations to get information about Linode plan types, including pricing information, hardware resources, and network transfer allotment.
  name: Linode types
paths:
  /{apiVersion}/linode/types:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    x-akamai:
      file-path: paths/linode-types.yaml
      path-info: /{apiVersion}/linode/types
    x-linode-cli-command: linodes
    get:
      description: 'Returns Linode types, including pricing and specifications for each. Use these when creating or resizing Linodes.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. This operation is internet-facing. No permissions are required.


        **CLI**


        ```shell

        linode-cli linodes types

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-linode-types
      operationId: get-linode-types
      responses:
        '200':
          content:
            application/json:
              example:
                data:
                - accelerated_devices: 0
                  addons:
                    backups:
                      price:
                        hourly: 0.008
                        monthly: 5
                      region_prices:
                      - hourly: 0.009
                        id: id-cgk
                        monthly: 6
                      - hourly: 0.01
                        id: br-gru
                        monthly: 7
                  capabilities: []
                  class: standard
                  disk: 81920
                  gpus: 0
                  id: g6-standard-2
                  label: Linode 4GB
                  memory: 4096
                  network_out: 4000
                  price:
                    hourly: 0.036
                    monthly: 24
                  region_prices:
                  - hourly: 0.043
                    id: id-cgk
                    monthly: 28.8
                  - hourly: 0.05
                    id: br-gru
                    monthly: 33.6
                  successor: null
                  transfer: 4000
                  vcpus: 2
                page: 1
                pages: 1
                results: 1
              schema:
                additionalProperties: false
                properties:
                  data:
                    description: The Linode types.
                    items:
                      additionalProperties: false
                      description: The available Linode types, including pricing and specifications for each. Use them when [creating](https://techdocs.akamai.com/linode-api/reference/post-linode-instance) or [resizing](https://techdocs.akamai.com/linode-api/reference/post-resize-linode-instance) Linodes.
                      properties:
                        accelerated_devices:
                          description: __Filterable__, __Read-only__ The number of video processing units (VPU) this Linode type offers. This applies to a NETINT Quadra T1U VPU-backed [accelerated Linode](https://techdocs.akamai.com/cloud-computing/docs/accelerated-compute-instances). Displayed as `0` if the Linode type doesn't offer VPUs.
                          example: 1
                          readOnly: true
                          type: integer
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-cli-display: 6
                          x-linode-filterable: true
                        addons:
                          additionalProperties: false
                          description: __Read-only__ Optional add-on services for Linodes and their associated cost.
                          properties:
                            backups:
                              additionalProperties: false
                              description: __Read-only__ Details on the optional backup service available with a Linode.
                              properties:
                                price:
                                  additionalProperties: false
                                  description: The default cost to enable the Backups service for this Linode type. Prices are in U.S. dollars, broken down into hourly and monthly charges. Different prices apply in different regions. For region-specific prices, see `region_prices`.
                                  properties:
                                    hourly:
                                      description: The hourly cost for the Backups service, in U.S. dollars.
                                      example: 0.008
                                      type: number
                                    monthly:
                                      description: The monthly cost for the Backups service, in U.S. dollars. Appears as `null` if the Backups service has an hourly price only, without a monthly rate.
                                      example: 5
                                      type:
                                      - number
                                      - 'null'
                                  type: object
                                region_prices:
                                  items:
                                    additionalProperties: false
                                    properties:
                                      hourly:
                                        description: The hourly cost for the Backups service in this region, in U.S. dollars.
                                        example: 0.0096
                                        type: number
                                      id:
                                        description: The unique identifier for the region.
                                        example: us-east
                                        type: string
                                      monthly:
                                        description: The monthly cost for the Backups service in this region, in U.S. dollars. Appears as `null` if the Backups service has an hourly price only, without a monthly rate.
                                        example: 6
                                        type:
                                        - number
                                        - 'null'
                                    type: object
                                  type: array
                              readOnly: true
                              type: object
                          readOnly: true
                          type: object
                        class:
                          description: '__Filterable__, __Read-only__ The class of the Linode type.


                            - `nanode`. These instances are good for low-duty workloads, where performance isn''t critical.


                            - `standard`. These instances are good for medium-duty workloads, and offer a good mix of performance, resources, and price.


                            - `dedicated`. These instances are good for full-duty workloads where consistent performance is important.


                            - `premium` (limited regions). This includes the features of a `dedicated` instance as well as the latest AMD EPYC&trade; CPUs. This ensures your applications are running on the latest hardware with consistently high performance. Only available in [regions](https://techdocs.akamai.com/linode-api/reference/get-regions) with "Premium Plans" in their `capabilities`.


                            - `gpu` (limited regions). Linodes with dedicated NVIDIA Quadro&reg; RTX 6000 GPUs accelerate highly specialized applications such as machine learning, AI, and video transcoding. Only available in [regions](https://techdocs.akamai.com/linode-api/reference/get-regions) with `GPU Linodes` in their `capabilities`.


                            - `accelerated` (limited regions). These leverage the power of dedicated, application-specific integrated circuits (ASIC), starting with NETINT Video Processing Units (VPUs). They''re ideal for video transcoding, media processing, and other compute-heavy workloads. Designed to offload specialized tasks, these instances deliver faster processing times and greater efficiency than traditional CPU-based solutions. Only available in [regions](https://techdocs.akamai.com/linode-api/reference/get-regions) with `Accelerated` in their `capabilities`.


                            - `highmem`. High Memory instances favor RAM over other resources, and can be good for memory hungry use cases like caching and in-memory databases. All High Memory plans contain dedicated CPU cores.


                            > 📘

                            >

                            > - A `nanode` class is listed as a 1 GB Linode in Cloud Manager. The API, the CLI, and billing continue to refer to these as a Nanode.

                            >

                            > - A `standard` class is listed as a Shared Linode in Cloud Manager. The API, the CLI, and billing still refer to these as Standard.'
                          enum:
                          - nanode
                          - standard
                          - dedicated
                          - premium
                          - gpu
                          - accelerated
                          - highmem
                          example: standard
                          readOnly: true
                          type: string
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-cli-display: 3
                          x-linode-filterable: true
                        disk:
                          description: __Filterable__, __Read-only__ The Linode type's disk size in MB.
                          example: 81920
                          readOnly: true
                          type: integer
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-cli-display: 4
                          x-linode-filterable: true
                        gpus:
                          description: __Filterable__, __Read-only__ The number of graphical processing units (GPU) this Linode type offers. This applies to a [GPU Linode](https://techdocs.akamai.com/cloud-computing/update/docs/gpu-compute-instances). Displayed as `0` if the Linode type doesn't offer GPUs.
                          example: 0
                          readOnly: true
                          type: integer
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-cli-display: 7
                          x-linode-filterable: true
                        id:
                          description: __Read-only__ The ID representing the Linode type.
                          example: g6-standard-2
                          readOnly: true
                          type: string
                          x-linode-cli-display: 1
                        label:
                          description: __Filterable__, __Read-only__ The display name for the Linode type.
                          example: Linode 4GB
                          readOnly: true
                          type: string
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-cli-display: 2
                          x-linode-filterable: true
                        memory:
                          description: __Filterable__, __Read-only__ Amount of RAM included in this Linode type.
                          example: 4096
                          readOnly: true
                          type: integer
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-cli-display: 5
                          x-linode-filterable: true
                        network_out:
                          description: __Filterable__, __Read-only__ The Mbits outbound bandwidth allocation.
                          example: 1000
                          readOnly: true
                          type: integer
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-cli-display: 10
                          x-linode-filterable: true
                        price:
                          additionalProperties: false
                          description: __Read-only__ The default cost of provisioning this Linode type. Prices are in U.S. dollars, broken down into hourly and monthly charges. Certain regions have different prices. For region-specific pricing, see `region_prices`.
                          properties:
                            hourly:
                              description: The cost per hour in U.S. dollars.
                              example: 0.03
                              type: number
                              x-linode-cli-display: 11
                            monthly:
                              description: 'The cost per month in U.S. dollars. Appears as `null` if a Linode type has an hourly price only, without a monthly rate. '
                              example: 20
                              type:
                              - number
                              - 'null'
                              x-linode-cli-display: 12
                          readOnly: true
                          type: object
                        region_prices:
                          items:
                            additionalProperties: false
                            properties:
                              hourly:
                                description: The cost per hour for this region in U.S. dollars.
                                example: 0.036
                                type: number
                              id:
                                description: The unique identifier for the region.
                                example: us-east
                                type: string
                              monthly:
                                description: 'The cost per month for this region in U.S. dollars. Appears as `null` if a Linode type has an hourly price only, without a monthly rate. '
                                example: 24
                                type:
                                - number
                                - 'null'
                            type: object
                          type: array
                        successor:
                          description: __Read-only__ After a [mutate](https://techdocs.akamai.com/linode-api/reference/post-mutate-linode-instance), the Linode is upgraded to this Linode type. If `null`, this Linode type can't be mutated.
                          example: null
                          readOnly: true
                          type:
                          - string
                          - 'null'
                        transfer:
                          description: __Filterable__, __Read-only__ The monthly outbound transfer amount in MB.
                          example: 4000
                          readOnly: true
                          type: integer
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-cli-display: 9
                          x-linode-filterable: true
                        vcpus:
                          description: __Filterable__, __Read-only__ The number of VCPU cores this Linode type offers. This applies to a [high memory Linode](https://techdocs.akamai.com/cloud-computing/update/docs/high-memory-compute-instances). Displayed as `0` if the Linode type doesn't offer VCPUs.
                          example: 2
                          readOnly: true
                          type: integer
                          x-akamai:
                            labels:
                            - Filterable
                          x-linode-cli-display: 8
                          x-linode-filterable: true
                      type: object
                      x-akamai:
                        file-path: schemas/linode-type.yaml
                    type: array
                  page:
                    description: __Read-only__ The current [page](https://techdocs.akamai.com/linode-api/reference/pagination).
                    example: 1
                    readOnly: true
                    type: integer
                  pages:
                    description: __Read-only__ The total number of [pages](https://techdocs.akamai.com/linode-api/reference/pagination).
                    example: 1
                    readOnly: true
                    type: integer
                  results:
                    description: __Read-only__ The total number of results.
                    example: 1
                    readOnly: true
                    type: integer
                type: object
                x-akamai:
                  file-path: schemas/added-get-linode-types-200.yaml
          description: A collection of Linode types.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      summary: List types
      tags:
      - Linode types
      x-akamai:
        tabs:
        - syntax: linode-cli linodes types
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: types
      x-linode-iam:
      - permissions: []
      x-linode-redoc-load-ids: true
  /{apiVersion}/linode/types/{typeId}:
    parameters:
    - description: __Enum__ Call either the `v4` URL, or `v4beta` for operations still in Beta.
      example: '{{apiVersion}}'
      in: path
      name: apiVersion
      required: true
      schema:
        enum:
        - v4
        - v4beta
        example: v4
        type: string
      x-akamai:
        file-path: parameters/api-version-path.yaml
    - description: The unique `id` for the Linode type to look up. Run the [List types](https://techdocs.akamai.com/linode-api/reference/get-linode-types) operation to see each Linode type `class` available on your account, and store its associated `id`.
      example: '{{typeId}}'
      in: path
      name: typeId
      required: true
      schema:
        example: g6-standard-2
        type: string
      x-akamai:
        file-path: parameters/linode-type-id-path.yaml
    x-akamai:
      file-path: paths/linode-type.yaml
      path-info: /{apiVersion}/linode/types/{typeId}
    x-linode-cli-command: linodes
    get:
      description: 'Returns information about a specific Linode type, including pricing and specifications. This is used when creating or resizing Linodes.


        **Permissions and scopes**


        To call this operation, you need the following:


        - **Identity and access permissions**. This operation is internet-facing. No permissions are required.


        **CLI**


        ```shell

        linode-cli linodes type-view g6-standard-2

        ```


        Learn more'
      externalDocs:
        description: See documentation for this operation in Akamai's Linode API
        url: https://techdocs.akamai.com/linode-api/reference/get-linode-type
      operationId: get-linode-type
      responses:
        '200':
          content:
            application/json:
              example:
                accelerated_devices: 0
                addons:
                  backups:
                    price:
                      hourly: 0.008
                      monthly: 5
                    region_prices:
                    - hourly: 0.009
                      id: id-cgk
                      monthly: 6
                    - hourly: 0.01
                      id: br-gru
                      monthly: 7
                capabilities: []
                class: standard
                disk: 81920
                gpus: 0
                id: g6-standard-2
                label: Linode 4GB
                memory: 4096
                network_out: 4000
                price:
                  hourly: 0.036
                  monthly: 24
                region_prices:
                - hourly: 0.043
                  id: id-cgk
                  monthly: 28.8
                - hourly: 0.05
                  id: br-gru
                  monthly: 33.6
                successor: null
                transfer: 4000
                vcpus: 2
              schema:
                additionalProperties: false
                description: The available Linode types, including pricing and specifications for each. Use them when [creating](https://techdocs.akamai.com/linode-api/reference/post-linode-instance) or [resizing](https://techdocs.akamai.com/linode-api/reference/post-resize-linode-instance) Linodes.
                properties:
                  accelerated_devices:
                    description: __Filterable__, __Read-only__ The number of video processing units (VPU) this Linode type offers. This applies to a NETINT Quadra T1U VPU-backed [accelerated Linode](https://techdocs.akamai.com/cloud-computing/docs/accelerated-compute-instances). Displayed as `0` if the Linode type doesn't offer VPUs.
                    example: 1
                    readOnly: true
                    type: integer
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 6
                    x-linode-filterable: true
                  addons:
                    additionalProperties: false
                    description: __Read-only__ Optional add-on services for Linodes and their associated cost.
                    properties:
                      backups:
                        additionalProperties: false
                        description: __Read-only__ Details on the optional backup service available with a Linode.
                        properties:
                          price:
                            additionalProperties: false
                            description: The default cost to enable the Backups service for this Linode type. Prices are in U.S. dollars, broken down into hourly and monthly charges. Different prices apply in different regions. For region-specific prices, see `region_prices`.
                            properties:
                              hourly:
                                description: The hourly cost for the Backups service, in U.S. dollars.
                                example: 0.008
                                type: number
                              monthly:
                                description: The monthly cost for the Backups service, in U.S. dollars. Appears as `null` if the Backups service has an hourly price only, without a monthly rate.
                                example: 5
                                type:
                                - number
                                - 'null'
                            type: object
                          region_prices:
                            items:
                              additionalProperties: false
                              properties:
                                hourly:
                                  description: The hourly cost for the Backups service in this region, in U.S. dollars.
                                  example: 0.0096
                                  type: number
                                id:
                                  description: The unique identifier for the region.
                                  example: us-east
                                  type: string
                                monthly:
                                  description: The monthly cost for the Backups service in this region, in U.S. dollars. Appears as `null` if the Backups service has an hourly price only, without a monthly rate.
                                  example: 6
                                  type:
                                  - number
                                  - 'null'
                              type: object
                            type: array
                        readOnly: true
                        type: object
                    readOnly: true
                    type: object
                  class:
                    description: '__Filterable__, __Read-only__ The class of the Linode type.


                      - `nanode`. These instances are good for low-duty workloads, where performance isn''t critical.


                      - `standard`. These instances are good for medium-duty workloads, and offer a good mix of performance, resources, and price.


                      - `dedicated`. These instances are good for full-duty workloads where consistent performance is important.


                      - `premium` (limited regions). This includes the features of a `dedicated` instance as well as the latest AMD EPYC&trade; CPUs. This ensures your applications are running on the latest hardware with consistently high performance. Only available in [regions](https://techdocs.akamai.com/linode-api/reference/get-regions) with "Premium Plans" in their `capabilities`.


                      - `gpu` (limited regions). Linodes with dedicated NVIDIA Quadro&reg; RTX 6000 GPUs accelerate highly specialized applications such as machine learning, AI, and video transcoding. Only available in [regions](https://techdocs.akamai.com/linode-api/reference/get-regions) with `GPU Linodes` in their `capabilities`.


                      - `accelerated` (limited regions). These leverage the power of dedicated, application-specific integrated circuits (ASIC), starting with NETINT Video Processing Units (VPUs). They''re ideal for video transcoding, media processing, and other compute-heavy workloads. Designed to offload specialized tasks, these instances deliver faster processing times and greater efficiency than traditional CPU-based solutions. Only available in [regions](https://techdocs.akamai.com/linode-api/reference/get-regions) with `Accelerated` in their `capabilities`.


                      - `highmem`. High Memory instances favor RAM over other resources, and can be good for memory hungry use cases like caching and in-memory databases. All High Memory plans contain dedicated CPU cores.


                      > 📘

                      >

                      > - A `nanode` class is listed as a 1 GB Linode in Cloud Manager. The API, the CLI, and billing continue to refer to these as a Nanode.

                      >

                      > - A `standard` class is listed as a Shared Linode in Cloud Manager. The API, the CLI, and billing still refer to these as Standard.'
                    enum:
                    - nanode
                    - standard
                    - dedicated
                    - premium
                    - gpu
                    - accelerated
                    - highmem
                    example: standard
                    readOnly: true
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 3
                    x-linode-filterable: true
                  disk:
                    description: __Filterable__, __Read-only__ The Linode type's disk size in MB.
                    example: 81920
                    readOnly: true
                    type: integer
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 4
                    x-linode-filterable: true
                  gpus:
                    description: __Filterable__, __Read-only__ The number of graphical processing units (GPU) this Linode type offers. This applies to a [GPU Linode](https://techdocs.akamai.com/cloud-computing/update/docs/gpu-compute-instances). Displayed as `0` if the Linode type doesn't offer GPUs.
                    example: 0
                    readOnly: true
                    type: integer
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 7
                    x-linode-filterable: true
                  id:
                    description: __Read-only__ The ID representing the Linode type.
                    example: g6-standard-2
                    readOnly: true
                    type: string
                    x-linode-cli-display: 1
                  label:
                    description: __Filterable__, __Read-only__ The display name for the Linode type.
                    example: Linode 4GB
                    readOnly: true
                    type: string
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 2
                    x-linode-filterable: true
                  memory:
                    description: __Filterable__, __Read-only__ Amount of RAM included in this Linode type.
                    example: 4096
                    readOnly: true
                    type: integer
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 5
                    x-linode-filterable: true
                  network_out:
                    description: __Filterable__, __Read-only__ The Mbits outbound bandwidth allocation.
                    example: 1000
                    readOnly: true
                    type: integer
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 10
                    x-linode-filterable: true
                  price:
                    additionalProperties: false
                    description: __Read-only__ The default cost of provisioning this Linode type. Prices are in U.S. dollars, broken down into hourly and monthly charges. Certain regions have different prices. For region-specific pricing, see `region_prices`.
                    properties:
                      hourly:
                        description: The cost per hour in U.S. dollars.
                        example: 0.03
                        type: number
                        x-linode-cli-display: 11
                      monthly:
                        description: 'The cost per month in U.S. dollars. Appears as `null` if a Linode type has an hourly price only, without a monthly rate. '
                        example: 20
                        type:
                        - number
                        - 'null'
                        x-linode-cli-display: 12
                    readOnly: true
                    type: object
                  region_prices:
                    items:
                      additionalProperties: false
                      properties:
                        hourly:
                          description: The cost per hour for this region in U.S. dollars.
                          example: 0.036
                          type: number
                        id:
                          description: The unique identifier for the region.
                          example: us-east
                          type: string
                        monthly:
                          description: 'The cost per month for this region in U.S. dollars. Appears as `null` if a Linode type has an hourly price only, without a monthly rate. '
                          example: 24
                          type:
                          - number
                          - 'null'
                      type: object
                    type: array
                  successor:
                    description: __Read-only__ After a [mutate](https://techdocs.akamai.com/linode-api/reference/post-mutate-linode-instance), the Linode is upgraded to this Linode type. If `null`, this Linode type can't be mutated.
                    example: null
                    readOnly: true
                    type:
                    - string
                    - 'null'
                  transfer:
                    description: __Filterable__, __Read-only__ The monthly outbound transfer amount in MB.
                    example: 4000
                    readOnly: true
                    type: integer
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 9
                    x-linode-filterable: true
                  vcpus:
                    description: __Filterable__, __Read-only__ The number of VCPU cores this Linode type offers. This applies to a [high memory Linode](https://techdocs.akamai.com/cloud-computing/update/docs/high-memory-compute-instances). Displayed as `0` if the Linode type doesn't offer VCPUs.
                    example: 2
                    readOnly: true
                    type: integer
                    x-akamai:
                      labels:
                      - Filterable
                    x-linode-cli-display: 8
                    x-linode-filterable: true
                type: object
                x-akamai:
                  file-path: schemas/linode-type.yaml
              x-linode-cli-subtables:
              - region_prices
          description: A single Linode Type.
        default:
          content:
            application/json:
              example:
                errors:
                - reason: Invalid JSON
              schema:
                additionalProperties: false
                properties:
                  errors:
                    description: Any warnings associated with a response.
                    items:
                      additionalProperties: false
                      description: An object for describing a single error that occurred during the processing of a request.
                      properties:
                        field:
                          description: The field in the request that caused this error. This may be a path, separated by periods in the case of nested fields. In some cases this may come back as `null` if the error is not specific to any single element of the request.
                          example: fieldname
                          type: string
                        reason:
                          description: What happened to cause this error. In most cases, this can be fixed immediately by changing the data you sent in the request, but in some cases you will be instructed to [Open a support ticket](https://techdocs.akamai.com/linode-api/reference/post-ticket) or perform some other action before you can complete the request successfully.
                          example: fieldname must be a valid value
                          type: string
                      type: object
                      x-akamai:
                        file-path: schemas/error-object.yaml
                    type: array
                type: object
          description: See [Errors](https://techdocs.akamai.com/linode-api/reference/errors) for the range of possible error response codes.
      summary: Get a type
      tags:
      - Linode types
      x-akamai:
        tabs:
        - syntax: linode-cli linodes type-view g6-standard-2
          title: CLI
          url: https://techdocs.akamai.com/cloud-computing/docs/getting-started-with-the-linode-cli
      x-linode-cli-action: type-view
      x-linode-iam:
      - permissions: []
components:
  securitySchemes:
    oauth:
      flows:
        authorizationCode:
          authorizationUrl: https://login.linode.com/oauth/authorize
          scopes:
            account:read_only: Allows access to GET information about your account.
            account:read_write: Allows access to all endpoints related to your account.
            child_account:read_only: Allows access to GET information about deprecated parent/child operations.
            child_account:read_write: Allows access to deprecated parent/child operations.
            databases:read_only: Allows access to GET information about databases.
            databases:read_write: Allows access to all endpoints related to databases.
            domains:read_only: Allows access to GET Domains on your account.
            domains:read_write: Allows access to all Domain endpoints.
            events:read_only: Allows access to GET your Events.
            events:read_write: Allows access to all endpoints related to your Events.
            firewall:read_only: Allows access to GET information about your Firewalls.
            firewall:read_write: Allows access to all Firewall endpoints.
            images:read_only: Allows access to GET your Images.
            images:read_write: Allows access to all endpoints related to your Images.
            ips:read_only: Allows access to GET your ips.
            ips:read_write: Allows access to all endpoints related to your ips.
            linodes:read_only: Allows access to GET Linodes on your account.
            linodes:read_write: Allow access to all endpoints related to your Linodes.
            lke:read_only: Allows access to GET LKE Clusters on your account.
            lke:read_write: Allows access to all endpoints related to LKE Clusters on your account.
            longview:read_only: Allows access to GET your Longview Clients.
            longview:read_write: Allows access to all endpoints related to your Longview Clients.
            monitor:read_only: Allows access to Monitor (Akamai Cloud Pulse) data.
            monitor:read_write: Allows access to GET Monitor (Akamai Cloud Pulse) data.
            nodebalancers:read_only: Allows access to GET NodeBalancers on your account.
            nodebalancers:read_write: Allows access to all NodeBalancer endpoints.
            object_storage:read_only: Allows access to GET information related to your Object Storage.
            object_storage:read_write: Allows access to all Object Storage endpoints.
            stackscripts:read_only: Allows access to GET your StackScripts.
            stackscripts:read_write: Allows access to all endpoints related to your StackScripts.
            volumes:read_only: Allows access to GET your Volumes.
            volumes:read_write: Allows access to all endpoints related to your Volumes.
            vpc:read_write: Allows access to all endpoints related to VPC and Subnet creation, updating, and deletion.
          tokenUrl: https://login.linode.com/oauth/token
      type: oauth2
    personalAccessToken:
      scheme: bearer
      type: http
externalDocs:
  description: See documentation for Akamai's Linode API
  url: https://techdocs.akamai.com/linode-api/reference
x-readme:
  explorer-enabled: false
  samples-languages:
  - curl
  - python
  - node
